{{ $json := getJSON "/data/builds.json" }}

<table class="table" id="utilitiesTable">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Hash</th>
            <th scope="col">Url</th>
            <th scope="col">Commit</th>
        </tr>
    </thead>

    <tbody>
        {{ $reversedBuilds := partial "reverse-slice.html" $json.builds }}

        {{ range $reversedBuilds }}
            <tr>
                {{ $replacedDate := replace .path "mining" "" }}
                {{ $replacedDate2 := split $replacedDate "/" }}
                {{ $dateYear := index ($replacedDate2) 3 }}
                {{ $dateMonth := index ($replacedDate2) 1 }}
                {{ $dateDay := index ($replacedDate2) 2 }}
                
                <td>{{ $dateYear }}/{{ $dateMonth }}/{{ $dateDay }}</td>
                <td>{{ .hash }}</td>
                <td><a href="https://github.com/xHyroM/discord-assets/blob/master/{{ .path }}">github</a></td>
                <td><a href="https://github.com/xHyroM/discord-assets/commit/{{ .commit }}">commit</a></td>
            </tr>
        {{ end }}
    </tbody>
</table>