.formTitle__553e7 {
  margin-bottom: 8px;
  margin-top: 8px;
}
.checkbox__553e7 {
  margin-bottom: 10px;
}
.checkbox__553e7:last-child {
  margin-bottom: 0;
}
.checkboxLabel__553e7 {
  color: var(--interactive-text-default);
}
.finePrint__553e7 {
  color: var(--text-muted);
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 16px;
  margin-top: 8px;
}
:where(.gameIcon_b52e4f) {
  filter: saturate(var(--saturation-factor, 1));
  -webkit-user-drag: none;
  background-size: 100%;
  border-radius: var(--custom-game-icon-border-radius, var(--radius-sm));
  color: var(--text-strong);
  height: var(--custom-game-icon-size);
  width: var(--custom-game-icon-size);
}
.intersectionContainer_b52e4f,
.intersectionRef_b52e4f {
  position: absolute;
}
.intersectionRef_b52e4f {
  background: transparent;
  height: 1px;
  inset-inline-start: 0;
  top: 0;
  width: 1px;
}
.large_b52e4f,
.medium_b52e4f,
.small_b52e4f {
  flex-shrink: 0;
}
.xxsmall_b52e4f {
  --custom-game-icon-size: 16px;
  --custom-game-icon-border-radius: var(--radius-xs);
}
.xsmall_b52e4f {
  --custom-game-icon-size: 24px;
  --custom-game-icon-border-radius: var(--radius-sm);
}
.small_b52e4f {
  --custom-game-icon-size: 30px;
  --custom-game-icon-border-radius: var(--radius-sm);
}
.medium_b52e4f {
  --custom-game-icon-size: 40px;
  --custom-game-icon-border-radius: var(--radius-md);
}
.mediumLarge_b52e4f {
  --custom-game-icon-size: 48px;
  --custom-game-icon-border-radius: var(--radius-md);
}
.large_b52e4f {
  --custom-game-icon-size: 60px;
  --custom-game-icon-border-radius: var(--radius-lg);
}
.xlarge_b52e4f {
  --custom-game-icon-size: 80px;
  --custom-game-icon-border-radius: var(--radius-lg);
}
@keyframes placeholderPulse_b52e4f {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0.8;
  }
}
.gameIconLoading_b52e4f {
  animation: placeholderPulse_b52e4f 1.3s ease-in-out infinite;
  background-color: var(--background-mod-normal);
}
.error__6e36d {
  margin-top: 4px;
}
.splash__15293 {
  background-position: 50%;
  background-size: cover;
  filter: grayscale(100%);
  height: 120px;
  position: absolute;
  top: 0;
  inset-inline: 0;
  -webkit-mask: linear-gradient(#000, transparent);
  mask: linear-gradient(#000, transparent);
  opacity: 0.1;
}
.gameIcon__15293 {
  margin-inline-end: 20px;
}
.gameName__15293 {
  flex-grow: 1;
  font-size: 16px;
}
.gameName__15293,
.installSize__15293 {
  font-weight: var(--font-weight-semibold);
}
.installSize__15293 {
  border-radius: 3px;
  font-size: 14px;
  padding: 5px 8px;
  white-space: nowrap;
}
.divider__15293 {
  height: 1px;
  margin: 20px 0;
}
.selector__15293 {
  margin-bottom: 20px;
}
.installButton__15293 {
  align-items: center;
  display: flex;
}
.premiumIcon__15293 {
  margin-inline-end: 4px;
}
.terms__15293 {
  margin-bottom: 20px;
}
.theme-dark .gameName__15293 {
  color: var(--primary-200);
}
.theme-dark .installSize__15293 {
  background-color: var(--primary-500);
  color: var(--primary-100);
}
.theme-dark .divider__15293 {
  background-color: hsl(var(--primary-630-hsl) / 0.6);
}
.theme-dark .premiumTerms__15293 {
  color: var(--primary-200);
}
@value smallMobileBreakpoint: 640px;
.container_d69818 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.guildBadge_d69818 {
  flex-shrink: 0;
  height: 25px;
  margin-inline-end: 6px;
  position: relative;
  width: 25px;
}
.appIcon_d69818 {
  display: inline-block;
}
.appIconSize_d69818 {
  height: 100px;
  width: 100px;
}
.appIcon_d69818,
.avatar_d69818,
.guildIcon_d69818 {
  border-radius: 16px;
  margin-bottom: 24px;
  margin-top: 24px;
}
.title_d69818 {
  align-items: center;
  color: var(--text-strong);
  display: flex;
  font-weight: var(--font-weight-semibold);
  justify-content: center;
  margin-top: 4px;
}
@media (min-height: 640px) {
  .title_d69818 {
    margin-top: 8px;
  }
}
.activityCount_d69818 {
  margin-top: 4px;
}
@media (min-height: 640px) {
  .activityCount_d69818 {
    margin-top: 8px;
  }
}
.directInviteSubTitle_d69818 {
  margin-top: 8px;
}
.guildContainer_d69818 {
  align-items: center;
  display: flex;
  justify-content: center;
}
.appIn_d69818 {
  margin: 4px 0;
}
.inviteJoinContainer_d69818 {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.inviterIconWrapper_d69818 {
  padding-inline-end: 8px;
}
.inviteJoinText_d69818 {
  color: var(--text-default);
}

/*# sourceMappingURL=205035.3e6cb408939be8aa.css.map*/
