.root__3e32a {
  background: var(--background-surface-high);
  display: flex;
  flex-direction: column;
  max-height: -moz-fit-content;
  max-height: fit-content;
  overflow: hidden;
  position: relative;
  width: 716px;
}
.root__3e32a.largeBorderRadius__3e32a {
  border-radius: var(--radius-lg);
}
.gradientWrapper__3e32a {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-height: 0;
  padding-bottom: 44px;
  padding-top: 44px;
}
.splash__3e32a {
  position: absolute;
  top: 31%;
}
.headerText__3e32a {
  color: var(--text-strong);
  font-size: 32px;
  font-style: italic;
  font-weight: 900;
  letter-spacing: -0.64px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  width: 620px;
}
.closeButtonContainer__3e32a {
  color: var(--interactive-text-default);
  cursor: pointer;
  inset-inline-end: var(--space-8);
  position: absolute;
  top: var(--space-8);
  z-index: 5;
}
.video__3e32a {
  border-radius: 16px;
  height: 349px;
  -o-object-fit: contain;
  object-fit: contain;
  width: 620px;
}
.content__3e32a {
  gap: var(--space-32);
  padding: 0 var(--space-48);
  padding-bottom: var(--space-8);
  word-break: break-word;
}
.content__3e32a,
.textGroup__3e32a {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.textGroup__3e32a {
  gap: var(--space-16);
  width: 100%;
}
.modalTopPill__3e32a {
  margin-bottom: -8px;
}
.subHeader__3e32a {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  max-width: 548px;
  text-align: center;
}
.bodyText__3e32a {
  color: var(--text-strong);
  margin-bottom: -8px;
  max-width: 500px;
  text-align: center;
}
.featureCardGroup__3e32a {
  color: var(--text-strong);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--space-12);
  justify-content: center;
  position: relative;
  width: 100%;
}
.featureCard__3e32a {
  align-items: center;
  background: var(--background-mod-muted);
  border-radius: 16px;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  padding: var(--space-20);
  position: relative;
}
.featureCard__3e32a.wideStyle__3e32a {
  align-items: center;
  flex-direction: row;
  min-height: -moz-fit-content;
  min-height: fit-content;
  padding-bottom: var(--space-20);
  padding-top: var(--space-20);
  padding-inline: var(--space-12) var(--space-16);
}
.featureCardImg__3e32a {
  height: 80px;
  -o-object-fit: contain;
  object-fit: contain;
  width: 120px;
}
.featureCardImg__3e32a.wideStyle__3e32a {
  flex-shrink: 0;
  height: 70px;
  margin-inline-end: var(--space-12);
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
  width: 70px;
}
.featureCardTextGroup__3e32a {
  display: flex;
  flex-direction: column;
  margin-top: var(--space-16);
  text-align: start;
  width: 100%;
}
.featureCardTextGroup__3e32a.wideStyle__3e32a {
  margin-top: 0;
}
.featureCardTextHeader__3e32a {
  padding-bottom: 4px;
}
.featureCardTag__3e32a {
  background: var(--custom-premium-colors-premium-gradient-tier-2);
  border-radius: 10px;
  color: #fff;
  inset-inline-start: 16px;
  position: absolute;
  top: -8px;
}
.tag__3e32a {
  background-color: var(--brand-500);
  font-size: 12px;
  line-height: 16px;
  padding: 0 6px;
}
.disclaimer__3e32a {
  max-width: 480px;
  text-align: center;
}
.footerContainer__3e32a {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
  justify-content: center;
  margin-top: var(--space-24);
}

/*# sourceMappingURL=281260.6824527191edba56.css.map*/
