.fullCover__2bf7a {
  height: 100%;
  inset: 0;
  position: absolute;
  width: 100%;
}
.scrollingBackground__2bf7a {
  --custom-tile-width: 209.75cqh;
  background-image: url(https://cdn.discordapp.com/assets/content/e73648073e1dcaeeac52b95585562e060eb45bd213c23076b10f61ecc16db557.png);
  background-repeat: repeat-x;
  background-size: auto 100%;
}
.full-motion .scrollingBackground__2bf7a {
  animation: scrollLeft__2bf7a 60s linear infinite;
}
@keyframes scrollLeft__2bf7a {
  0% {
    background-position-x: 0;
  }
  to {
    background-position-x: calc(var(--custom-tile-width) * -1);
  }
}
.videoContainer__2bf7a {
  container-type: size;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
}
.progressiveBlur__2bf7a {
  -webkit-backdrop-filter: blur(27px);
  backdrop-filter: blur(27px);
  -webkit-mask-image: linear-gradient(245deg, transparent 44%, #000 50%);
  mask-image: linear-gradient(245deg, transparent 44%, #000 50%);
}
.overlay__2bf7a {
  background: radial-gradient(
    181.07% 122.33% at -20.89% -23.8%,
    rgba(5, 75, 22, 0.4) 0,
    transparent 100%
  );
}
.fade__2bf7a,
.overlay__2bf7a {
}
.fade__2bf7a {
  background: linear-gradient(
    -70.9deg,
    transparent 43%,
    var(--background-base-lowest) 80.68%
  );
}
.content__2bf7a {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-width: 0;
  padding: var(--space-24);
  width: 100%;
  z-index: 1;
}
.heading__2bf7a {
  -webkit-hyphens: auto;
  hyphens: auto;
  word-break: break-word;
}
@container premium-marketing-page-container (min-width: 720px) {
  .videoContainer__2bf7a {
    height: 100%;
    inset: 0;
    position: absolute;
    width: 100%;
  }
}
.container__22d2e {
  container-name: premium-marketing-page-container;
  container-type: inline-size;
  overflow: visible;
  width: 100%;
}
.card__22d2e,
.container__22d2e {
  border-radius: 20px;
  position: relative;
}
.card__22d2e {
  background: none;
  border: 1px solid var(--border-subtle);
  overflow: hidden;
}
.cardInner__22d2e {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.videoContainer__22d2e {
  border-radius: 20px 20px 0 0;
  height: 250px;
  overflow: visible;
}
.stackedGradientOverlay__22d2e {
  background: linear-gradient(
    to bottom,
    transparent 0,
    color-mix(in srgb, var(--card-background-default) 70%, transparent) 50%,
    var(--card-background-default) 100%
  );
  bottom: 0;
  height: 100px;
  inset-inline: 0;
  position: absolute;
}
.scrollingBackground__22d2e {
}
.progressiveBlur__22d2e {
  display: none;
}
.overlay__22d2e {
  display: none;
}
.fade__22d2e {
  display: none;
}
.content__22d2e {
  background-color: var(--card-background-default);
  justify-content: flex-end;
}
.logo__22d2e {
  height: 24px;
  margin-bottom: var(--space-12);
  width: 196px;
}
.title__22d2e {
  font-style: italic;
  margin-bottom: var(--space-8);
  text-transform: uppercase;
}
.description__22d2e {
  margin-bottom: var(--space-20);
}
.ctaRow__22d2e {
  display: flex;
  gap: var(--space-8);
}
.disclaimer__22d2e {
  align-items: flex-start;
  display: flex;
  gap: var(--space-4);
  margin-top: var(--space-8);
}
@container premium-marketing-page-container (min-width: 720px) {
  .cardInner__22d2e {
    flex-direction: row;
    height: 380px;
  }
  .videoContainer__22d2e {
    border-radius: 0;
    height: 100%;
    overflow: hidden;
  }
  .stackedGradientOverlay__22d2e {
    display: none;
  }
  .progressiveBlur__22d2e {
    display: block;
    -webkit-mask-image: linear-gradient(245deg, transparent 56%, #000 62%);
    mask-image: linear-gradient(245deg, transparent 56%, #000 62%);
  }
  .fade__22d2e,
  .overlay__22d2e {
    display: block;
  }
  .content__22d2e {
    background-color: transparent;
    max-width: 530px;
    padding: var(--space-32);
  }
}

/*# sourceMappingURL=29089.798a8f29174313a5.css.map*/
