.shopCard_bab2bc {
  background-color: var(--background-surface-high);
  border: 2px solid var(--border-subtle);
  border-radius: 16px;
  box-shadow: none;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  grid-column: auto;
  height: 250px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 178px;
}
.theme-dark .shopCard_bab2bc {
  background-color: var(--background-surface-high);
}
.theme-dark .shopCard_bab2bc.highlighted_bab2bc {
  box-shadow: 0 0 15px 1px var(--primary-700);
}
.theme-light .shopCard_bab2bc {
  background-color: var(--background-base-lower);
}
.theme-light .shopCard_bab2bc.highlighted_bab2bc {
  box-shadow: var(--shadow-border), var(--shadow-high);
}
.shopCardAnimation_bab2bc {
  top: 0;
  transition:
    top 1s,
    box-shadow 0.5s;
}
.shopCardAnimation_bab2bc:focus-within,
.shopCardAnimation_bab2bc:hover {
  top: -4px;
}
.shopCardSelected_bab2bc {
  border-color: #5865f2;
  border-width: 2px;
}
.previewContainer_bab2bc {
  width: 100%;
}
.previewContainer_bab2bc.claimed_bab2bc {
  opacity: 0.5;
}
.claimedIcon_bab2bc {
  inset-inline-start: 50%;
  opacity: 1;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.avatarContainer_bab2bc {
  height: 252px;
  width: 100%;
}
.avatarContainer_bab2bc,
.preview_bab2bc {
  align-items: center;
  display: flex;
}
.preview_bab2bc {
  box-sizing: border-box;
  flex: 1;
  height: 100%;
  justify-content: center;
  padding: 32px;
  position: relative;
}
.previewTrick_bab2bc {
  background: radial-gradient(
      120% 100% at 100% 50%,
      color-mix(in oklab, var(--background-surface-high) 35%, transparent) 0,
      color-mix(in oklab, var(--background-surface-high) 25%, transparent) 40%,
      transparent 70%
    ),
    linear-gradient(90deg, rgba(33, 187, 99, 0.3) 0, rgba(0, 102, 56, 0.3) 100%);
}
.previewTreat_bab2bc {
  background: radial-gradient(
      120% 100% at 0 50%,
      color-mix(in oklab, var(--background-surface-high) 35%, transparent) 0,
      color-mix(in oklab, var(--background-surface-high) 25%, transparent) 40%,
      transparent 70%
    ),
    linear-gradient(
      90deg,
      rgba(255, 113, 184, 0.3) 0,
      rgba(135, 50, 68, 0.3) 100%
    );
}
.theme-light .previewTrick_bab2bc {
  background: radial-gradient(
      120% 100% at 100% 50%,
      color-mix(in oklab, var(--background-surface-high) 55%, transparent) 0,
      color-mix(in oklab, var(--background-surface-high) 40%, transparent) 40%,
      transparent 70%
    ),
    linear-gradient(
      90deg,
      rgba(33, 187, 99, 0.42) 0,
      rgba(0, 102, 56, 0.22) 100%
    );
}
.theme-light .previewTreat_bab2bc {
  background: radial-gradient(
      120% 100% at 0 50%,
      color-mix(in oklab, var(--background-surface-high) 55%, transparent) 0,
      color-mix(in oklab, var(--background-surface-high) 40%, transparent) 40%,
      transparent 70%
    ),
    linear-gradient(
      90deg,
      rgba(255, 113, 184, 0.22) 0,
      rgba(135, 50, 68, 0.42) 100%
    );
}
.productName_bab2bc {
  background-color: var(--background-surface-higher);
  border-radius: 0 0 16px 16px;
  flex-shrink: 0;
  margin: 0;
  padding: 16px;
}
.productName_bab2bc > * + * {
  margin-top: 8px;
}
.avatarPreview_bab2bc {
  background: radial-gradient(
      120% 100% at 100% 50%,
      color-mix(in oklab, var(--background-surface-high) 35%, transparent) 0,
      color-mix(in oklab, var(--background-surface-high) 25%, transparent) 40%,
      transparent 70%
    ),
    linear-gradient(rgba(17, 18, 20, 0.8) 10%, #323232 100%);
  padding: 32px;
}
.theme-light .avatarPreview_bab2bc {
  background: radial-gradient(
      120% 100% at 100% 50%,
      color-mix(in oklab, var(--background-surface-high) 55%, transparent) 0,
      color-mix(in oklab, var(--background-surface-high) 40%, transparent) 40%,
      transparent 70%
    ),
    linear-gradient(hsla(0, 0%, 100%, 0.8) 10%, #c8c8c8 100%);
}
.nameplatePreview_bab2bc {
  padding: 0 12px;
}
.giftRewardShopCardsGrid_d64c23 {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-24) var(--space-8);
  justify-content: center;
  margin: var(--space-24) 0;
}
.giftRewardShopCardsGrid_d64c23 > * {
  flex: 0 0 200px;
}
@media (min-width: 900px) {
  .giftRewardShopCardsGrid_d64c23 {
    gap: var(--space-8);
  }
  .giftRewardShopCardsGrid_d64c23 > * {
    flex-basis: 178px;
  }
}
.shopCardSelect_d64c23 {
  background-color: var(--background-base-lowest);
  overflow: scroll;
  padding: 16px 0;
}
.header_d64c23 {
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: center;
  padding-bottom: 32px;
  padding-top: 48px;
}
.title_d64c23 {
  padding: 16px 0;
}
.subtitle_d64c23,
.title_d64c23 {
  text-align: center;
}
.subtitle_d64c23 {
  padding-top: 8px;
}
.giftSelectItem_d64c23 {
  cursor: pointer;
  margin-bottom: unset;
}
.modalFooter_d64c23 {
  align-items: center;
  background-color: var(--background-base-low);
  display: flex;
  justify-content: space-between;
}
.modalHeader_d64c23 {
  padding-bottom: var(--space-24);
  padding-top: var(--space-24);
}
.headerSubtitle_d64c23 {
  margin-top: var(--space-8);
  max-width: calc(100% - 56px);
}
.closeButton_d64c23 {
  inset-inline-end: var(--modal-horizontal-padding);
  position: absolute;
  top: var(--space-24);
}

/*# sourceMappingURL=35837.52b4e5b82126361e.css.map*/
