.root_d529e9 {
  background-color: var(--background-surface-high);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  max-height: 260px;
  width: 240px;
}
.root_d529e9 .voiceUsers_d529e9 {
  padding: 0;
}
.header_d529e9 {
  color: var(--interactive-text-default);
  padding: var(--custom-channel-call-participants-popout-padding-value);
  padding-bottom: 9px;
  text-transform: uppercase;
}
.scroller_d529e9 {
  padding: var(--custom-channel-call-participants-popout-padding-value);
  padding-inline-start: 8px;
  padding-top: 0;
}
.button__9db96 {
  margin-inline-start: 0;
}
.divider__9db96 {
  background: var(--border-strong);
  margin-inline-end: 16px;
}
.speakers__9db96 {
  display: flex;
  flex-direction: row;
}
.form__08bd2 {
  display: contents;
}
.modalHeader__08bd2 {
  gap: 4px;
  overflow: visible;
  padding: 16px 0 0;
  text-align: center;
}
.closeButton__08bd2 {
  color: var(--interactive-text-default);
  cursor: pointer;
  inset-inline-end: -4px;
  position: absolute;
  top: 8px;
}
.headerImage__08bd2 {
  background-image: url(/assets/4ed48b8404cc8dd4.svg);
  background-repeat: no-repeat;
  height: 150px;
  margin: 12px auto;
  width: 250px;
}
.titleRow__08bd2 {
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 8px;
}
.title__08bd2,
.titleRow__08bd2 {
  display: inline-flex;
}
.title__08bd2 {
  margin-inline-end: 4px;
}
.textArea__08bd2 {
  background: var(--input-background-default);
  max-height: 80px;
}
.textArea__08bd2 [data-slate-placeholder="true"] {
  color: var(--input-placeholder-text-default);
}
.error__08bd2 {
  margin-top: 8px;
}
.button__08bd2 {
  text-transform: capitalize;
}
.modal__08bd2.gradientBorder__08bd2 {
  border: none;
  box-sizing: border-box;
}
.container__08bd2 {
  background: radial-gradient(
      100% 100% at 50% 100%,
      var(--background-base-low) 60%,
      var(--transparent) 100%
    ),
    linear-gradient(
      270deg,
      var(--expressive-gradient-purple-end) 0,
      var(--expressive-gradient-purple-start) 100%
    );
  border-radius: inherit;
  border-end-end-radius: 0;
  border-end-start-radius: 0;
  box-shadow: inset 0 1px 0 1px var(--border-subtle);
}
.cancelButton__08bd2 {
  margin-inline-end: 8px;
}
.modalFooter__08bd2 {
  background-color: var(--background-base-low);
  border-bottom: 1px solid var(--border-subtle);
  border-inline-end: 1px solid var(--border-subtle);
  border-inline-start: 1px solid var(--border-subtle);
  padding-bottom: var(--space-24);
  padding-top: var(--space-8);
}
.avatar__49508 {
  flex-shrink: 0;
}
.divider__49508 {
  background: var(--primary-700);
}
.channelStatusTooltipAnchor__49508 {
  align-self: flex-start;
}
.channelStatusClickable__49508 {
  align-items: center;
  color: var(--channel-icon);
  display: flex;
  margin-inline-start: 28px;
  max-width: 50%;
  width: -moz-fit-content;
  width: fit-content;
}
.channelStatusClickable__49508 .channelStatus__49508 {
  font-size: 12px;
  line-height: 16px;
}
.hoverable__49508:hover {
  color: var(--interactive-text-hover);
  cursor: pointer;
}
.channelStatus__49508 {
  color: var(--channel-icon);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.subtitleContainer__49508 {
  display: flex;
  flex-direction: column;
  position: relative;
}
.pencilIcon__49508,
.secureFramesIcon__49508 {
  margin-inline-start: 4px;
}
.pencilIcon__49508 {
  min-width: 16px;
}
.playingText__49508 {
  align-items: center;
  color: var(--primary-300);
  display: flex;
  text-overflow: ellipsis;
}
.eventStatusText__49508,
.playingText__49508 {
  overflow: hidden;
  white-space: nowrap;
}
.eventStatusText__49508 {
  font-weight: var(--font-weight-semibold);
  margin-inline-end: 16px;
}
.container__49508 {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--space-xs);
  justify-content: center;
  margin-inline-end: var(--space-xs);
  overflow: hidden;
}
.activityIcon__49508 {
  border-radius: var(--radius-xs);
  height: 24px;
  margin-inline-end: 10px;
  width: 24px;
}
.headerBar__49508 {
  justify-content: flex-start;
  padding-inline-end: var(--space-md);
}
.headerBarChildren__49508 {
  gap: var(--space-xs);
}
.title__49508 {
  margin: 0;
  padding: 0;
}
.toolbar__49508 {
  gap: var(--space-md);
  padding-inline-start: 0;
}
.iconWrapper__49508 {
  height: 28px;
  width: 28px;
}
.clickable_b66158 {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 4px;
  max-width: 100%;
  width: -moz-max-content;
  width: max-content;
}
.clickable_b66158:hover {
  text-decoration: underline;
  text-decoration-color: var(--text-default);
}
.clickable_b66158:focus-within .text_b66158,
.clickable_b66158:hover .text_b66158 {
  max-width: calc(100% - 16px);
}
.clickable_b66158:focus-within .pencilIcon_b66158,
.clickable_b66158:hover .pencilIcon_b66158 {
  visibility: visible;
}
.text_b66158 {
  max-width: 100%;
  width: -moz-max-content;
  width: max-content;
}
.pencilIcon_b66158 {
  color: var(--text-subtle);
  flex-shrink: 0;
}
.pencilIcon_b66158.hidden_b66158 {
  visibility: hidden;
}
.container__82fb2 {
  cursor: pointer;
  display: grid;
  gap: var(--space-4);
  grid-template-columns: 7fr 3fr;
}
.container__82fb2:hover {
  background: var(--user-profile-overlay-background-hover);
}
.containerV2__82fb2 {
  cursor: pointer;
}
.containerV2__82fb2:hover {
  background: var(--user-profile-overlay-background-hover);
}
.content__82fb2 {
  box-sizing: border-box;
  min-width: 0;
}
.applicationIcon__82fb2,
.applicationIconPlaceholder__82fb2 {
  border-radius: 2px;
}
.applicationIconPlaceholder__82fb2 {
  background-color: var(--background-mod-subtle);
  height: 16px;
  width: 16px;
}
.previewIcon__82fb2 {
  display: inline-block;
  height: 1lh;
  vertical-align: bottom;
  width: 1lh;
}
.textContent__82fb2 {
  padding-block: 2px;
}
.previewImageContainer__82fb2 {
  -webkit-mask: linear-gradient(
    90deg,
    transparent 0,
    rgba(0, 0, 0, 0.013) 4.7%,
    rgba(0, 0, 0, 0.049) 9.2%,
    rgba(0, 0, 0, 0.104) 13.6%,
    rgba(0, 0, 0, 0.175) 18%,
    rgba(0, 0, 0, 0.259) 22.6%,
    rgba(0, 0, 0, 0.352) 27.4%,
    rgba(0, 0, 0, 0.45) 32.6%,
    rgba(0, 0, 0, 0.55) 38.3%,
    rgba(0, 0, 0, 0.648) 44.5%,
    rgba(0, 0, 0, 0.741) 51.4%,
    rgba(0, 0, 0, 0.825) 59.1%,
    rgba(0, 0, 0, 0.896) 67.7%,
    rgba(0, 0, 0, 0.951) 77.3%,
    rgba(0, 0, 0, 0.987) 88%,
    #000
  );
  mask: linear-gradient(
    90deg,
    transparent 0,
    rgba(0, 0, 0, 0.013) 4.7%,
    rgba(0, 0, 0, 0.049) 9.2%,
    rgba(0, 0, 0, 0.104) 13.6%,
    rgba(0, 0, 0, 0.175) 18%,
    rgba(0, 0, 0, 0.259) 22.6%,
    rgba(0, 0, 0, 0.352) 27.4%,
    rgba(0, 0, 0, 0.45) 32.6%,
    rgba(0, 0, 0, 0.55) 38.3%,
    rgba(0, 0, 0, 0.648) 44.5%,
    rgba(0, 0, 0, 0.741) 51.4%,
    rgba(0, 0, 0, 0.825) 59.1%,
    rgba(0, 0, 0, 0.896) 67.7%,
    rgba(0, 0, 0, 0.951) 77.3%,
    rgba(0, 0, 0, 0.987) 88%,
    #000
  );
  position: relative;
}
.previewImage__82fb2 {
  position: absolute;
}
.breadcrumb_c2a763 {
  cursor: pointer;
}
.breadcrumb_c2a763:hover .innerContainer_c2a763 {
  background: var(--user-profile-overlay-background-hover);
}
.innerContainer_c2a763 {
  align-items: center;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  display: flex;
  flex-direction: row;
  height: 24px;
  justify-content: space-between;
  padding: 8px;
}
.user-profile-sidebar:not(.user-profile-sidebar-redesign)
  .innerContainer_c2a763 {
  padding: var(--space-12);
}
.icons_c2a763 {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.icon_c2a763 {
  height: 24px;
  position: relative;
  width: 24px;
}
.icon_c2a763,
.icon_c2a763 img {
  border-radius: var(--radius-xs);
}
.icon_c2a763 img {
  display: block;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  width: auto;
}
.displayCount_c2a763 {
  opacity: 0.5;
}
.displayCountText_c2a763 {
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  border-radius: var(--radius-xs);
  display: flex;
  height: 24px;
  inset-inline-start: 50%;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
}
.displayCountTextColor_c2a763 {
  color: var(--neutral-9);
}

/*# sourceMappingURL=3805.01740bd6169e52b1.css.map*/
