.tier2Animation__387d4 {
  position: relative;
}
.panningAnimation__387d4 {
  position: absolute;
  top: 0;
  inset-inline: 0;
  bottom: 22px;
  overflow: hidden;
}
.panningAnimationInner__387d4 {
  background-size: 100% 100%;
  filter: saturate(var(--saturation-factor, 1));
  position: absolute;
  top: 0;
  inset-inline: 0;
  bottom: 0;
}
.tier2Background__387d4 {
  background-image: url(/assets/083b1bde1c6b39a3.svg);
  opacity: 0.2;
}
.tier2Foreground__387d4 {
  background-image: url(/assets/ae4a4071a85dcaa6.svg);
}
.guildWrapper__387d4 {
  position: relative;
}
.guildBackground__387d4 {
  top: 0;
  inset-inline: 0;
  bottom: 0;
}
.guildBackground__387d4,
.guildStar__387d4 {
  position: absolute;
}
.sequencedAnimation__387d4 {
  filter: saturate(var(--saturation-factor, 1));
}
.header__7e090 {
  background-image: url(/assets/cb4131669938b6ad.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  height: 132px;
  margin-top: calc(var(--custom-modal-padding-top) * -1 - 2px);
  margin-inline-start: -1px;
  width: calc(100% + 2px);
}
.animation__7e090 {
  position: absolute;
  top: 0;
  inset-inline: 0;
  bottom: 0;
}
.headerTitle__7e090 {
  background-image: url(/assets/9f911879992ce2d1.svg);
  height: 28px;
  width: 60px;
}
.header__7e090 .closeButton__7e090 {
  color: var(--white);
  inset-inline-end: 12px;
  opacity: 0.8;
  position: absolute;
  top: 12px;
}
.header__7e090 .closeButton__7e090:hover {
  opacity: 1;
}
.enable-forced-colors .header__7e090 .closeButton__7e090 {
  opacity: 1;
}
.confirmationText_cbd4f3 {
  text-align: center;
}
.staticCelebration__0de46,
.videoContainer__0de46 {
  transform: translate(calc(-50% + 4px), calc(-50% + 4px));
  width: 1500px;
  z-index: 0;
}
.staticCelebration__0de46,
.video__0de46,
.videoContainer__0de46 {
  inset-inline-start: 50%;
  position: absolute;
  top: 50%;
}
.video__0de46 {
  transform: translate(-50%, -50%);
  width: 100%;
}
.video__0de46.hidden__0de46 {
  visibility: hidden;
}
.video__0de46.visible__0de46 {
  visibility: visible;
}
.entryAnimationContainer__0de46 {
  animation:
    boostWowScaleIn__0de46 0.4s ease,
    boostWowScaleSettle__0de46 0.4s ease 0.4s;
  will-change: transform;
}
@keyframes boostWowScaleIn__0de46 {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1.05);
  }
}
@keyframes boostWowScaleSettle__0de46 {
  0% {
    transform: scale(1.05);
  }
  to {
    transform: scale(1);
  }
}
.exitAnimationContainer__0de46 {
  animation: boostWowExit__0de46 175ms ease forwards;
  pointer-events: none;
  transform: scale(1);
  will-change: transform;
}
@keyframes boostWowExit__0de46 {
  0% {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
  }
  to {
    opacity: 0;
    transform: scale(0.5);
    visibility: hidden;
  }
}
.fadeOut__0de46 {
  animation: boostWowFadeOut__0de46 175ms ease forwards;
}
@keyframes boostWowFadeOut__0de46 {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/*# sourceMappingURL=38789.762156e711b5e6e9.css.map*/
