.container__4a98c {
  gap: var(--space-32);
}
.container__4a98c,
.contentWrapper__4a98c {
  display: flex;
  flex-direction: column;
}
.contentWrapper__4a98c {
  flex-grow: 1;
  justify-content: space-between;
}
.header__4a98c {
  margin-bottom: var(--space-16);
}
.platformsWrap__4a98c {
  display: flex;
  flex-direction: column;
}
.platforms__4a98c {
  align-items: start;
  display: grid;
  flex-wrap: wrap;
  gap: var(--space-12);
  justify-content: center;
}
.platformsDesktop__4a98c {
  grid-template-columns: 1fr 1fr 1fr;
}
.platformsDesktop__4a98c:has(li:nth-child(4)) {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.platformsMobile__4a98c {
  grid-template-columns: 1fr 1fr;
}
.platform__4a98c {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid var(--border-normal);
  border-radius: var(--radius-md);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: auto;
  min-width: 0;
  padding: var(--space-12);
  position: relative;
  width: auto;
}
.full-motion .platform__4a98c {
  transition: all 0.3s ease-in-out;
}
.platform__4a98c.active__4a98c {
  background-color: var(--opacity-blurple-12);
  border-color: var(--text-brand);
  transform: none;
}
.platform__4a98c.active__4a98c .icon__4a98c {
  opacity: 0;
}
.platform__4a98c.active__4a98c .icon__4a98c.active__4a98c {
  opacity: 1;
}
.platformName__4a98c {
  text-align: center;
}
.iconWrap__4a98c {
  height: 100px;
  position: relative;
  width: 100px;
}
.icon__4a98c,
.iconWrap__4a98c {
  align-self: center;
}
.icon__4a98c {
  background-color: var(--icon-subtle);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  position: absolute;
  top: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
.icon__4a98c,
.icon__4a98c.active__4a98c {
  background-image: none;
}
.icon__4a98c.active__4a98c {
  background-color: var(--text-brand);
  opacity: 0;
}
.icon__4a98c.apple__4a98c {
  -webkit-mask-image: url(/assets/3bacc5415aa9a561.svg);
  mask-image: url(/assets/3bacc5415aa9a561.svg);
  -webkit-mask-position: center;
  mask-position: center;
}
.icon__4a98c.android__4a98c {
  -webkit-mask-image: url(/assets/8d4fb350d405ae2d.svg);
  mask-image: url(/assets/8d4fb350d405ae2d.svg);
  -webkit-mask-position: bottom;
  mask-position: bottom;
}
.icon__4a98c.windows__4a98c {
  -webkit-mask-image: url(/assets/f80d470870ccfd01.svg);
  mask-image: url(/assets/f80d470870ccfd01.svg);
}
.icon__4a98c.linux__4a98c {
  -webkit-mask-image: url(/assets/64dcefc70846922d.svg);
  mask-image: url(/assets/64dcefc70846922d.svg);
}
.icon__4a98c.ios__4a98c {
  -webkit-mask-image: url(/assets/81672d3df281d7de.svg);
  mask-image: url(/assets/81672d3df281d7de.svg);
}
.icon__4a98c.metaQuest__4a98c {
  -webkit-mask-image: url(/assets/c5024c0765e0f1e9.svg);
  mask-image: url(/assets/c5024c0765e0f1e9.svg);
  mask-mode: alpha;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}
.downloadButton__4a98c {
  padding-top: var(--space-4);
}
@media (max-width: 486px) {
  .platformsDesktop__4a98c,
  .platformsMobile__4a98c {
    grid-template-columns: 1fr;
  }
}
@keyframes arrowBounce__1aa44 {
  0% {
    transform: translate3d(0, -2px, 0);
  }
  50% {
    transform: translateZ(0);
  }
  to {
    transform: translate3d(0, -2px, 0);
  }
}
.bounce__1aa44 {
  animation: arrowBounce__1aa44 2s ease-in-out infinite;
}
.iconWrapper__468db {
  display: inline-flex;
  position: relative;
}
.toastAnchor__468db {
  bottom: 4px;
  inset-inline: 0;
  position: absolute;
  transform: translateX(4px);
}
.pulse__468db {
  display: inline-flex;
}
.full-motion .pulsing__468db {
  animation: inbox-pulse__468db 0.6s ease-out;
}
@keyframes inbox-pulse__468db {
  0% {
    transform: scale(1);
  }
  35% {
    transform: scale(1.35);
  }
  to {
    transform: scale(1);
  }
}
.title_edbb22 {
  display: inline-flex;
  gap: var(--space-8);
  max-width: 50vw;
}
.navigationTooltip_edbb22,
.title_edbb22 {
  align-items: center;
  justify-content: center;
}
.navigationTooltip_edbb22 {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  text-align: center;
}
.icon_edbb22 {
  height: 16px;
  width: 16px;
}
.appIcon_edbb22 {
  border-radius: 6px;
  height: 20px;
  width: 20px;
}
.guildIcon_edbb22 {
  border-radius: var(--radius-xs);
}

/*# sourceMappingURL=39981.506ace6063673917.css.map*/
