.container__2fba1 {
  background-color: var(--background-mod-muted);
  border: 1px solid var(--border-subtle);
  border-radius: var(--radius-sm);
  box-sizing: border-box;
  width: 100%;
}
.footer__2fba1,
.toolbar__2fba1 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
.table__2fba1 {
  border-collapse: collapse;
  color: var(--text-default);
  overflow: scroll;
  table-layout: fixed;
  width: 100%;
}
.header__2fba1 {
  border-bottom: 1px solid var(--border-subtle);
}
.body__2fba1 {
  padding: 8px;
}
.row__2fba1 {
  border-bottom: 1px solid var(--border-subtle);
  outline: none;
  transition: background-color 0.1s ease;
  white-space: nowrap;
}
.row__2fba1[data-focus-visible] {
  box-shadow: 0 0 0 4px var(--blue-345);
}
.row__2fba1[data-pressed] {
  background-color: var(--interactive-background-active);
}
.row__2fba1[data-hovered] {
  background-color: var(--interactive-background-hover);
}
.row__2fba1[aria-selected="true"] {
  background-color: var(--interactive-background-selected);
}
.row__2fba1:last-child {
  border-bottom: none;
}
.column__2fba1 {
  outline: none;
  padding: 16px;
}
.column__2fba1[data-focus-visible] {
  box-shadow: 0 0 0 4px var(--blue-345);
}
.columnText__2fba1 {
  text-align: start;
}
.cell__2fba1 {
  outline: none;
  padding: 16px;
}
.cell__2fba1[data-focus-visible] {
  box-shadow: 0 0 0 4px var(--blue-345);
}
.wrapper__33d12 {
  height: 100%;
  margin-inline: auto;
  max-width: 440px;
  width: 100%;
}
.image__33d12 {
  background-size: 100% 100%;
}
.title__33d12 {
  font-size: 17px;
  font-weight: var(--font-weight-semibold);
  line-height: 22px;
  text-transform: uppercase;
}
.text__33d12,
.title__33d12 {
  color: var(--text-muted);
  text-align: center;
}
.text__33d12 {
  font-size: 16px;
  line-height: 20px;
}
.container__4f074 {
  display: flex;
  flex: 1 1 auto;
  position: relative;
}
.container__4f074,
.container__4f074 *,
.input__4f074 {
  box-sizing: border-box;
}
.input__4f074 {
  border: none;
  font-size: 16px;
  height: 32px;
  line-height: 32px;
  overflow: hidden;
  padding: 0 6px;
  text-overflow: ellipsis;
  white-space: pre;
  -webkit-app-region: no-drag;
  background: transparent;
  border-radius: var(--radius-sm);
  color: var(--text-default);
}
.outer__4f074:hover .input__4f074 {
  background-color: var(--background-mod-subtle);
  box-shadow: none;
  outline: 1px solid var(--border-strong);
}
.input__4f074:focus,
.outer__4f074:hover .input__4f074:focus {
  background-color: var(--input-background-default);
  box-shadow: none;
  outline: 1px solid var(--border-normal);
}
.density-compact .input__4f074 {
  height: 28px;
  line-height: 28px;
}
.full-motion .input__4f074 {
  transition: background-color 0.2s ease;
}
.friendsEmpty_c7ea19 {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
.button_c7ea19 {
  margin-top: 20px;
}
.emptyStateContainer_c7ea19 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--space-24);
}
.listItemContents_e1ecd3 {
  flex-grow: 1;
  justify-content: space-between;
  max-width: 100%;
}
.listItemContents_e1ecd3,
.tableHeader_e1ecd3 {
  align-items: center;
  display: flex;
}
.tableHeader_e1ecd3 {
  border-bottom: 1px solid var(--background-base-lower);
  flex-direction: row;
  flex-shrink: 0;
  padding: 16px 30px 8px;
}
.tableHeaderText_e1ecd3 {
  color: var(--text-default);
}
.mutualGuilds_e1ecd3 {
  display: flex;
  margin-inline-start: 13px;
  width: 200px;
}
@media (max-width: 1040px) {
  .mutualGuilds_e1ecd3 {
    display: none;
  }
}
.mutualGuilds_e1ecd3 a + a {
  margin-inline-start: 6px;
}
.moreMutualGuildsBtn_e1ecd3 {
  align-items: center;
  border-radius: 50%;
  box-sizing: border-box;
  color: var(--text-default);
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  font-size: 11px;
  font-weight: var(--font-weight-bold);
  height: 30px;
  justify-content: center;
  margin-inline-start: 6px;
  width: 30px;
}
.moreMutualGuildsBtn_e1ecd3:hover {
  color: var(--text-strong);
}
.actions_e1ecd3 {
  display: flex;
  gap: 10px;
  margin-inline-start: 8px;
}
.staffIndicator_e1ecd3 {
  align-items: center;
  display: flex;
}
.theme-dark .moreMutualGuildsBtn_e1ecd3:hover {
  border-color: var(--opacity-white-60);
}
.theme-light .moreMutualGuildsBtn_e1ecd3:hover {
  border-color: var(--opacity-black-60);
}
.applicationSublabel_e1ecd3 {
  align-items: center;
  display: flex;
  gap: 4px;
}
.applicationIcon_e1ecd3 {
  border-radius: 2px;
  height: 14px;
  width: 14px;
}
.friendLabel_e1ecd3 {
  flex-direction: row;
}
.friendLabel_e1ecd3,
.noteSpoiler_e1ecd3 {
  align-items: center;
  display: flex;
  gap: 4px;
}
.noteSpoiler_e1ecd3 {
  line-height: 1.25;
}
.noteSpoiler_e1ecd3:hover > * {
  text-decoration: underline;
}
.noteText_e1ecd3 {
  align-items: flex-start;
  display: flex;
  font-style: italic;
  gap: 4px;
  line-height: 1.25;
}
.emptyStateContainer__5ec2f {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  width: 100%;
}
.peopleList__5ec2f {
  flex-grow: 0;
  padding-bottom: 8px;
}
.searchBar__5ec2f {
  margin-block: var(--space-12) var(--space-8);
  margin-inline: var(--space-24) var(--space-16);
}
.sectionTitle__5ec2f {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.clearButton__5ec2f {
  margin-inline-end: var(--space-24);
}
.viewSpamButton__5ec2f {
  align-self: start;
  margin: 0 var(--space-24);
  padding: var(--space-4) var(--space-8);
  padding-inline-start: 0;
}
.sectionFooter__5ec2f {
  display: flex;
  justify-content: flex-end;
  padding-top: var(--space-8);
  padding-inline: var(--space-20);
  padding-bottom: var(--space-8);
  padding-inline-start: 0;
}
.spacer__01c8c {
  border-bottom: 1px solid var(--border-subtle);
  padding-top: var(--custom-modal-padding-md);
}
.body__01c8c {
  display: flex;
  flex-direction: row;
  height: 100vh;
  max-height: 640px;
  min-height: 1px;
  padding-inline-start: var(--space-24);
}
.panel__01c8c {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 1px;
}
.scroller__01c8c {
  border-inline-end: 1px solid var(--border-subtle);
  flex: 0 0 auto;
  margin-top: var(--custom-modal-padding-md);
  padding-inline-end: var(--space-24);
  width: 220px;
}
.voters__01c8c {
  --custom-list-scrollbar-top-padding: 12px;
  flex: 1;
  padding-inline: var(--space-24);
  padding-top: var(--custom-list-scrollbar-top-padding);
}
.voteDefault__01c8c,
.voteSelected__01c8c {
  align-items: center;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  height: 32px;
  margin-bottom: 4px;
  overflow: hidden;
  padding: 4px 8px;
}
.voteDefault__01c8c {
  cursor: pointer;
}
.voteSelected__01c8c {
  background-color: var(--background-base-lowest);
}
.voteDefault__01c8c:hover {
  background-color: var(--interactive-background-hover);
}
.emoji__01c8c {
  height: 24px;
  min-height: auto;
  min-width: auto;
  -o-object-fit: contain;
  object-fit: contain;
  padding-block: 4px;
  padding-inline: 4px 8px;
  vertical-align: middle;
  width: 24px;
}
.emojiText__01c8c {
  display: inline-block;
  vertical-align: -3px;
}
.voteCount__01c8c {
  margin-inline-start: 2px;
}
.spinner__01c8c {
  height: 52px;
  width: 100%;
}
.voter__01c8c {
  align-items: center;
  box-sizing: border-box;
  cursor: default;
  display: flex;
  height: 52px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.voterDefault__01c8c,
.voterFinal__01c8c {
}
.voterClickable__01c8c {
  cursor: pointer;
}
.voterAvatarContainer__01c8c {
  margin-bottom: 0;
  margin-top: 0;
  margin-inline-end: 8px;
}
.voterInfo__01c8c {
  min-width: 0;
}
.name__01c8c {
  display: flex;
  flex: 1;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
}
.ellipsized__01c8c,
.name__01c8c {
  overflow: hidden;
  text-overflow: ellipsis;
}
.ellipsized__01c8c {
  white-space: nowrap;
}
.username__01c8c {
  font-size: 12px;
  font-weight: var(--font-weight-medium);
  line-height: 14px;
}
.tagFaded__01c8c {
  flex-shrink: 10;
  opacity: 0.6;
}
.discriminator__01c8c {
  color: var(--text-muted);
}
.emptyTitle__01c8c {
  text-transform: none;
}
.emptyText__01c8c {
  margin-top: 5px;
}

/*# sourceMappingURL=41295.759eb85b7a5ff6cd.css.map*/
