.container__0f2e8 {
  --custom-content-card-padding: 8px;
  align-items: center;
  background: var(--background-gradient-high, var(--background-surface-high));
  border: 1px solid var(--border-muted);
  border-radius: var(--radius-md);
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  gap: 8px;
  justify-content: space-between;
  margin-inline-start: 8px;
  margin-top: 8px;
  max-height: 120px;
  max-width: calc(var(--custom-member-list-width) - 16px);
  padding: var(--custom-content-card-padding);
  position: relative;
}
.container__0f2e8:hover {
  background: var(
    --background-gradient-higher,
    var(--interactive-background-hover)
  );
}
.container__0f2e8:hover .contentTitle__0f2e8 {
  color: var(--interactive-text-hover);
}
.container__0f2e8:hover .reply__0f2e8 {
  opacity: 1;
}
.container__0f2e8:hover .additionalParticipantBadge__0f2e8 {
  background: var(--background-gradient-high, var(--background-mod-muted));
}
.usesCardRows__0f2e8 {
  flex-direction: column;
}
.cardRow__0f2e8 {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: space-between;
  width: 100%;
}
.openOnHover__0f2e8 {
  cursor: auto;
}
.reply__0f2e8 {
  align-items: center;
  background: var(--background-base-low);
  border: 1px solid var(--background-base-lower);
  border-radius: var(--radius-xs);
  display: flex;
  height: 24px;
  inset-inline-end: 8px;
  justify-content: center;
  margin: auto;
  opacity: 0;
  position: absolute;
  top: 4px;
  width: 24px;
}
.reply__0f2e8:hover .icon__0f2e8 {
  color: var(--interactive-text-hover);
}
.icon__0f2e8 {
  color: var(--interactive-text-default);
  display: block;
  height: 16px;
  -o-object-fit: contain;
  object-fit: contain;
}
.selected__0f2e8 {
  background-color: var(--interactive-background-selected);
}
.selected__0f2e8:hover {
  background-color: var(--interactive-background-selected);
}
.selected__0f2e8 .contentDescription__0f2e8 {
  color: var(--interactive-text-hover);
}
.infoSection__0f2e8 {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: -2px;
  min-width: 0;
}
.userSection__0f2e8 {
  align-items: center;
  display: flex;
  margin-bottom: 2px;
}
.userName__0f2e8 {
  color: var(--channels-default);
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2857142857142858;
  max-width: 85%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.userName__0f2e8.fontScaling__0f2e8 {
  font-size: 0.875rem;
}
.facePile__0f2e8 {
  display: flex;
  margin-inline-end: 6px;
}
.facePileItem__0f2e8:not(:first-child) {
  margin-inline-start: -3px;
}
.additionalParticipantBadge__0f2e8 {
  background: var(--background-mod-subtle);
  border-radius: 8px;
  margin-inline-start: 4px;
  padding-block: 2.25px 2.5px;
  padding-inline: 4.2px 4.4px;
}
.additionalParticipantBadgeText__0f2e8 {
  line-height: 10px;
}
img.thumbnail__0f2e8 {
  -o-object-fit: cover;
  object-fit: cover;
  width: 48px;
}
.divider__0f2e8 {
  background-color: var(--background-mod-subtle);
  height: 1px;
  width: 100%;
}

/*# sourceMappingURL=43233.fc3bc3e0542acfc5.css.map*/
