.wrapper_a35ace svg {
  display: block;
}
.tier2Animation__387d4 {
  position: relative;
}
.panningAnimation__387d4 {
  position: absolute;
  top: 0;
  inset-inline: 0;
  bottom: 22px;
  overflow: hidden;
}
.panningAnimationInner__387d4 {
  background-size: 100% 100%;
  filter: saturate(var(--saturation-factor, 1));
  position: absolute;
  top: 0;
  inset-inline: 0;
  bottom: 0;
}
.tier2Background__387d4 {
  background-image: url(/assets/083b1bde1c6b39a3.svg);
  opacity: 0.2;
}
.tier2Foreground__387d4 {
  background-image: url(/assets/ae4a4071a85dcaa6.svg);
}
.guildWrapper__387d4 {
  position: relative;
}
.guildBackground__387d4 {
  top: 0;
  inset-inline: 0;
  bottom: 0;
}
.guildBackground__387d4,
.guildStar__387d4 {
  position: absolute;
}
.sequencedAnimation__387d4 {
  filter: saturate(var(--saturation-factor, 1));
}
.animationWrapper__41e0f {
  height: 100%;
  position: absolute;
  width: 100%;
}
.lottieAnimation__41e0f {
  bottom: 0;
  height: 196px;
  inset-inline-end: 0;
  position: absolute;
  width: 196px;
}
.emoji {
  height: var(--custom-emoji-size-emoji);
  -o-object-fit: contain;
  object-fit: contain;
  vertical-align: bottom;
  width: var(--custom-emoji-size-emoji);
}
.emoji.jumboable {
  height: var(--custom-emoji-size-jumbo-emoji);
  min-height: var(--custom-emoji-size-jumbo-emoji);
  width: var(--custom-emoji-size-jumbo-emoji);
}
.animationContainer__884d1,
.container__884d1 {
  position: relative;
  z-index: 0;
}
.animationContainer__884d1 {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.svgBorder__884d1 {
  height: calc(100% + 2px);
  inset-inline-start: -1px;
  position: absolute;
  top: -1px;
  width: calc(100% + 2px);
  z-index: 1;
}
.svgCopy__884d1 {
  display: block;
}
.animationContainer__884d1 {
  color: var(--text-strong);
}
.shine__884d1 {
  color: var(--opacity-white-48);
}
.gradientOuterBorder__8f49b {
  align-items: center;
  background: linear-gradient(90deg, #9b1da5, #1e2353 120%);
  border-radius: var(--radius-sm);
  display: flex;
  margin-bottom: var(--space-16);
  padding: 2px;
}
.gradientInnerBorder__8f49b {
  align-items: center;
  background: var(--background-base-low);
  border-radius: calc(var(--radius-sm) - 2px);
  display: flex;
  padding: var(--space-12) var(--space-16);
}
.svgCopy__8f49b {
  display: block;
}
.container__75558 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header__75558 {
  font-size: 38px;
  font-style: italic;
  font-weight: 900;
  letter-spacing: -0.76px;
  line-height: 100%;
  overflow-wrap: anywhere;
  padding: 0 var(--space-16);
  text-align: center;
  text-transform: uppercase;
  word-break: break-word;
}
.textContainer__75558 {
  min-height: 40px;
}
.nameplatePreviewContainer__75558 {
  padding: var(--space-32);
  position: relative;
  width: 320px;
}
.footer__75558 {
  box-sizing: border-box;
  margin-bottom: var(--space-16);
  margin-top: var(--space-32);
  padding: 0 var(--space-24);
  width: 100%;
}
.nameplateGlow__75558 {
  inset-inline-start: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.nameplatePreview__75558 {
  background: var(--background-surface-highest);
  z-index: 1;
}
.confirmation__2db04 {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 56px 32px 48px;
}
.banner__2db04 {
  margin-bottom: 16px;
}
.text__2db04 {
  color: var(--interactive-text-default);
  font-size: 16px;
  font-weight: var(--font-weight-medium);
  line-height: 20px;
  text-align: center;
}
.button__2db04 {
  margin-top: 16px;
}
.promotionalFooter__82bb4 {
  align-items: center;
  -moz-column-gap: 12px;
  column-gap: 12px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  min-width: auto;
}
.nameplatePreviewContainer__82bb4 {
  width: 150px;
}
.container__96554 {
  align-items: center;
  background: var(--background-base-lowest);
  border-radius: 12px;
  display: inline-flex;
  gap: 4px;
  padding: 2px 8px;
}
.containerScrollGradient__956c6 {
  background: linear-gradient(
    0deg,
    var(--background-base-low) 0,
    transparent 100%
  );
  bottom: 52px;
  height: 52px;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition: opacity 0.12s ease-in-out;
  width: 100%;
}
.containerScrollGradient__956c6[data-shown="true"] {
  opacity: 1;
}
.bodyText__945b8 {
  color: var(--text-default);
  font-size: 16px;
  line-height: 20px;
}
.planSelectText__945b8 {
  margin-bottom: 16px;
}
.planSelectRow__945b8 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 8px auto;
}
.planSelectRowALaCarte__945b8 {
  justify-content: flex-start;
}
.planSelectorWrapper__945b8 {
  align-items: center;
  display: flex;
}
.planSelectorHeader__945b8 {
  font-weight: var(--font-weight-semibold);
  margin-bottom: 8px;
}
.planSelectorRadioBarALaCarte__945b8 {
  align-items: flex-start;
}
.planSelectorRadioIconALaCarte__945b8 {
  margin-top: 4px;
}
.planSelectorPlanName__945b8 {
  margin-inline-end: 4px;
}
.planSelectorLabel__945b8 {
  color: var(--text-default);
  font-size: 16px;
  line-height: 20px;
  margin-inline-start: 16px;
}
.planSelectorPreviewPrice__945b8 {
  color: var(--interactive-text-default);
  font-size: 16px;
  line-height: 20px;
}
.planSelectDivider__945b8 {
  background-color: var(--border-subtle);
  height: 1px;
  margin: 16px 0;
}
.planSelectorSubtotal__945b8 {
  color: var(--interactive-text-active);
  font-size: 16px;
  font-weight: var(--font-weight-semibold);
  line-height: 20px;
}
.invoiceTableBottom__945b8,
.paymentSourceWrapper__945b8 {
  margin: 16px 0;
}
.taxInclusiveNote__945b8 {
  margin-top: 12px;
}
.confirmationContainer__945b8 {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 56px 32px 64px;
}
.confirmationAnimation__945b8 {
  height: 140px;
  margin-bottom: 32px;
  width: 400px;
}
.confirmationText__945b8,
.confirmationUpgradedBanner__945b8 {
  margin-bottom: 16px;
}
.confirmationText__945b8 {
  color: var(--interactive-text-default);
  font-size: 16px;
  font-weight: var(--font-weight-medium);
  line-height: 20px;
  text-align: center;
}
.confirmationText__945b8 p {
  margin: 0;
}
.confirmationText__945b8 p + p {
  margin-top: 8px;
}
.existingSlotNotice__945b8 {
  align-items: center;
  background-color: var(--background-base-lower);
  border-radius: 8px;
  color: var(--text-default);
  display: flex;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 16px;
  margin-top: 16px;
  padding: 8px;
}
.existingSlotIcon__945b8 {
  flex-shrink: 0;
  height: 24px;
  margin-inline-end: 8px;
  width: 24px;
}
.existingSlotTooltipWarningIcon__945b8 {
  cursor: pointer;
  height: 16px;
  margin-inline-start: 6px;
  vertical-align: text-bottom;
  width: 14px;
}
.loadingSpinner__945b8 {
  flex: 1;
  max-width: 100px;
}
.reverseTrialContextInfoDivider__945b8 {
  background-color: var(--border-subtle);
  height: 1px;
}
.reverseTrialContextText__945b8 {
  margin: 12px 0;
}
.reverseTrialContextMarginBottom__945b8 {
  margin-bottom: 8px;
}
.serverCard__7bc6f {
  align-items: center;
  background-color: var(--background-base-lower);
  border-radius: 8px;
  display: flex;
  padding: 16px;
}
.guildIcon__7bc6f {
  border: 1px solid hsla(0, 0%, 100%, 0.16);
  border-radius: 14px;
  box-shadow: 0 1.6px 6.4px 0 rgba(0, 0, 0, 0.14);
}
.theme-light .guildIcon__7bc6f {
  border-color: rgba(0, 0, 0, 0.1);
}
.serverInfo__7bc6f {
  margin-inline-start: 16px;
}
.guildName__7bc6f {
  color: var(--text-strong);
  flex: 1;
  font-size: 16px;
  font-weight: var(--font-weight-bold);
  line-height: 20px;
  margin-bottom: 8px;
}
.tierInfo__7bc6f {
  align-items: center;
  display: flex;
}
.tierPill__7bc6f {
  align-items: center;
  align-self: flex-start;
  background-color: var(--background-mod-normal);
  border-radius: 11px;
  display: inline-flex;
  font-size: 12px;
  line-height: 14px;
  padding-block: 4px;
  padding-inline: 4px 8px;
}
.tierPill__7bc6f,
.tierPillStar__7bc6f {
  color: var(--text-default);
}
.tierPillStar__7bc6f {
  height: 16px;
  margin-inline-end: 5px;
  width: 16px;
}
.tierPillGem__7bc6f {
  color: var(--text-muted);
}
.levelUpIcon__7bc6f {
  color: var(--green-360);
}
.levelDownIcon__7bc6f,
.levelUpIcon__7bc6f {
  height: 16px;
  margin: 0 4px;
  width: 16px;
}
.levelDownIcon__7bc6f {
  color: var(--icon-feedback-critical);
}
.pendingCancellation__7bc6f {
  align-items: center;
  background: var(--background-feedback-warning);
  border: 1px solid var(--icon-feedback-warning);
  border-radius: 4px;
  display: flex;
  margin-top: 16px;
  padding: 8px 16px;
}
.pendingCancellationIcon__7bc6f {
  color: var(--text-feedback-warning);
  flex-shrink: 0;
}
.pendingCancellationMessage__7bc6f {
  color: var(--text-default);
  margin-inline-start: 10px;
}
.serverCard__49af9 {
  margin: 16px 0;
}
.warning__49af9 {
  margin-top: 4px;
}
.confirmationText_cbd4f3 {
  text-align: center;
}
.staticCelebration__0de46,
.videoContainer__0de46 {
  transform: translate(calc(-50% + 4px), calc(-50% + 4px));
  width: 1500px;
  z-index: 0;
}
.staticCelebration__0de46,
.video__0de46,
.videoContainer__0de46 {
  inset-inline-start: 50%;
  position: absolute;
  top: 50%;
}
.video__0de46 {
  transform: translate(-50%, -50%);
  width: 100%;
}
.video__0de46.hidden__0de46 {
  visibility: hidden;
}
.video__0de46.visible__0de46 {
  visibility: visible;
}
.entryAnimationContainer__0de46 {
  animation:
    boostWowScaleIn__0de46 0.4s ease,
    boostWowScaleSettle__0de46 0.4s ease 0.4s;
  will-change: transform;
}
@keyframes boostWowScaleIn__0de46 {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1.05);
  }
}
@keyframes boostWowScaleSettle__0de46 {
  0% {
    transform: scale(1.05);
  }
  to {
    transform: scale(1);
  }
}
.exitAnimationContainer__0de46 {
  animation: boostWowExit__0de46 175ms ease forwards;
  pointer-events: none;
  transform: scale(1);
  will-change: transform;
}
@keyframes boostWowExit__0de46 {
  0% {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
  }
  to {
    opacity: 0;
    transform: scale(0.5);
    visibility: hidden;
  }
}
.fadeOut__0de46 {
  animation: boostWowFadeOut__0de46 175ms ease forwards;
}
@keyframes boostWowFadeOut__0de46 {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.sectionHeader__9fe74 {
  margin-top: 16px;
  text-transform: uppercase;
}
.fromGuildCard__9fe74 {
  margin-top: 8px;
}
.toGuildCardBorder__9fe74 {
  background: var(--guild-boosting-pink-refresh);
  border-radius: 8px;
  margin-top: 8px;
  padding: 2px;
}
.modal__0f8ce {
  overflow: hidden;
}
.selectContent__0f8ce {
  padding: 8px 0;
}
.confirmImage__0f8ce {
  height: 134px;
  width: 264px;
}
.transferConfirmImage__0f8ce {
  height: 128px;
  width: 216px;
}
.successBody__0f8ce {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
.successAnimation__0f8ce {
  height: 200px;
  width: 300px;
}
.quantitySelectorBody__0f8ce {
  margin-top: 20px;
}
.quantitySelectorDescription__0f8ce,
.quantitySelectorHeader__0f8ce {
  margin-bottom: 16px;
}
.quantitySelectorWrapper__0f8ce {
  align-items: center;
  display: flex;
  margin: 32px auto;
}
.quantitySelectorLabel__0f8ce {
  line-height: 20px;
  margin-inline-start: 16px;
}
.modalCloseButton__0f8ce {
  inset-inline-end: 12px;
  opacity: 0.8;
  position: absolute;
  top: 12px;
}
.modalCloseButton__0f8ce:hover {
  opacity: 1;
}
.images-light .confirmImage__0f8ce {
  background-image: url(/assets/52c92d8492ebe041.svg);
}
.images-light .transferConfirmImage__0f8ce {
  background-image: url(/assets/2d416896e0bbb412.svg);
}
.images-dark .confirmImage__0f8ce {
  background-image: url(/assets/52c92d8492ebe041.svg);
}
.images-dark .transferConfirmImage__0f8ce {
  background-image: url(/assets/c278e895ac47b4af.svg);
}
.tierPill__0f8ce {
  background-color: var(--background-mod-normal);
  color: var(--text-default);
}

/*# sourceMappingURL=4488.32fe65f4c7e3f547.css.map*/
