.extrasContainer__19b74 {
  display: flex;
  flex-direction: row;
  gap: var(--space-4);
  min-width: 0;
  padding-inline: var(--space-8);
}
.fullFlex__19b74 {
  flex: 1;
}
.debug__19b74:after {
  content: "";
  position: absolute;
  top: 0;
  inset-inline: 0;
  bottom: 0;
  pointer-events: none;
  visibility: visible;
}
.debugUnpinned__19b74:after {
  border: 2px solid var(--primary-300);
}
.debugPinned__19b74:after {
  border: 2px solid var(--brand-600);
}
.heading-sm\/normal_a7acae {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2857142857142858;
}
.heading-sm\/normal_a7acae.fontScaling_a7acae {
  font-size: 0.875rem;
}
.heading-sm\/medium_a7acae {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2857142857142858;
}
.heading-sm\/medium_a7acae.fontScaling_a7acae {
  font-size: 0.875rem;
}
.heading-sm\/semibold_a7acae {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
.heading-sm\/semibold_a7acae.fontScaling_a7acae {
  font-size: 0.875rem;
}
.heading-sm\/bold_a7acae {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2857142857142858;
}
.heading-sm\/bold_a7acae.fontScaling_a7acae {
  font-size: 0.875rem;
}
.heading-sm\/extrabold_a7acae {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 800;
  line-height: 1.2857142857142858;
}
.heading-sm\/extrabold_a7acae.fontScaling_a7acae {
  font-size: 0.875rem;
}
.heading-md\/normal_a7acae {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}
.heading-md\/normal_a7acae.fontScaling_a7acae {
  font-size: 1rem;
}
.heading-md\/medium_a7acae {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}
.heading-md\/medium_a7acae.fontScaling_a7acae {
  font-size: 1rem;
}
.heading-md\/semibold_a7acae {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
.heading-md\/semibold_a7acae.fontScaling_a7acae {
  font-size: 1rem;
}
.heading-md\/bold_a7acae {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
}
.heading-md\/bold_a7acae.fontScaling_a7acae {
  font-size: 1rem;
}
.heading-md\/extrabold_a7acae {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 800;
  line-height: 1.25;
}
.heading-md\/extrabold_a7acae.fontScaling_a7acae {
  font-size: 1rem;
}
.heading-lg\/normal_a7acae {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}
.heading-lg\/normal_a7acae.fontScaling_a7acae {
  font-size: 1.25rem;
}
.heading-lg\/medium_a7acae {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
.heading-lg\/medium_a7acae.fontScaling_a7acae {
  font-size: 1.25rem;
}
.heading-lg\/semibold_a7acae {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}
.heading-lg\/semibold_a7acae.fontScaling_a7acae {
  font-size: 1.25rem;
}
.heading-lg\/bold_a7acae {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}
.heading-lg\/bold_a7acae.fontScaling_a7acae {
  font-size: 1.25rem;
}
.heading-lg\/extrabold_a7acae {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 800;
  line-height: 1.2;
}
.heading-lg\/extrabold_a7acae.fontScaling_a7acae {
  font-size: 1.25rem;
}
.heading-xl\/normal_a7acae {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 400;
  line-height: 1.25;
}
.heading-xl\/normal_a7acae.fontScaling_a7acae {
  font-size: 1.5rem;
}
.heading-xl\/medium_a7acae {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.25;
}
.heading-xl\/medium_a7acae.fontScaling_a7acae {
  font-size: 1.5rem;
}
.heading-xl\/semibold_a7acae {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
}
.heading-xl\/semibold_a7acae.fontScaling_a7acae {
  font-size: 1.5rem;
}
.heading-xl\/bold_a7acae {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
}
.heading-xl\/bold_a7acae.fontScaling_a7acae {
  font-size: 1.5rem;
}
.heading-xl\/extrabold_a7acae {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 800;
  line-height: 1.25;
}
.heading-xl\/extrabold_a7acae.fontScaling_a7acae {
  font-size: 1.5rem;
}
.heading-xxl\/normal_a7acae {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 400;
  line-height: 1.25;
}
.heading-xxl\/normal_a7acae.fontScaling_a7acae {
  font-size: 2rem;
}
.heading-xxl\/medium_a7acae {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 500;
  line-height: 1.25;
}
.heading-xxl\/medium_a7acae.fontScaling_a7acae {
  font-size: 2rem;
}
.heading-xxl\/semibold_a7acae {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
}
.heading-xxl\/semibold_a7acae.fontScaling_a7acae {
  font-size: 2rem;
}
.heading-xxl\/bold_a7acae {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 700;
  line-height: 1.25;
}
.heading-xxl\/bold_a7acae.fontScaling_a7acae {
  font-size: 2rem;
}
.heading-xxl\/extrabold_a7acae {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 800;
  line-height: 1.25;
}
.heading-xxl\/extrabold_a7acae.fontScaling_a7acae {
  font-size: 2rem;
}
.experimental\/heading-xs\/medium_a7acae {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2857142857142858;
}
.experimental\/heading-xs\/medium_a7acae.fontScaling_a7acae {
  font-size: 0.875rem;
}
.experimental\/heading-xs\/semibold_a7acae {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
.experimental\/heading-xs\/semibold_a7acae.fontScaling_a7acae {
  font-size: 0.875rem;
}
.experimental\/heading-sm\/medium_a7acae {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}
.experimental\/heading-sm\/medium_a7acae.fontScaling_a7acae {
  font-size: 1rem;
}
.experimental\/heading-sm\/semibold_a7acae {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
.experimental\/heading-sm\/semibold_a7acae.fontScaling_a7acae {
  font-size: 1rem;
}
.experimental\/heading-md\/medium_a7acae {
  font-family: var(--font-display);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2222222222222223;
}
.experimental\/heading-md\/medium_a7acae.fontScaling_a7acae {
  font-size: 1.125rem;
}
.experimental\/heading-md\/semibold_a7acae {
  font-family: var(--font-display);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2222222222222223;
}
.experimental\/heading-md\/semibold_a7acae.fontScaling_a7acae {
  font-size: 1.125rem;
}
.experimental\/heading-lg\/medium_a7acae {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
.experimental\/heading-lg\/medium_a7acae.fontScaling_a7acae {
  font-size: 1.25rem;
}
.experimental\/heading-lg\/semibold_a7acae {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}
.experimental\/heading-lg\/semibold_a7acae.fontScaling_a7acae {
  font-size: 1.25rem;
}
.experimental\/heading-xl\/medium_a7acae {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
.experimental\/heading-xl\/medium_a7acae.fontScaling_a7acae {
  font-size: 1.5rem;
}
.experimental\/heading-xl\/semibold_a7acae {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
.experimental\/heading-xl\/semibold_a7acae.fontScaling_a7acae {
  font-size: 1.5rem;
}
.experimental\/heading-xxl\/medium_a7acae {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 500;
  line-height: 1.25;
}
.experimental\/heading-xxl\/medium_a7acae.fontScaling_a7acae {
  font-size: 2rem;
}
.experimental\/heading-xxl\/semibold_a7acae {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
}
.experimental\/heading-xxl\/semibold_a7acae.fontScaling_a7acae {
  font-size: 2rem;
}
.eyebrow_a7acae {
  font-family: var(--font-display);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.3333333333333333;
  text-transform: uppercase;
}
.eyebrow_a7acae.fontScaling_a7acae {
  font-size: 0.75rem;
}
.heading-deprecated-12\/normal_a7acae {
  font-family: var(--font-display);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
.heading-deprecated-12\/normal_a7acae.fontScaling_a7acae {
  font-size: 0.75rem;
}
.heading-deprecated-12\/medium_a7acae {
  font-family: var(--font-display);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
.heading-deprecated-12\/medium_a7acae.fontScaling_a7acae {
  font-size: 0.75rem;
}
.heading-deprecated-12\/semibold_a7acae {
  font-family: var(--font-display);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
.heading-deprecated-12\/semibold_a7acae.fontScaling_a7acae {
  font-size: 0.75rem;
}
.heading-deprecated-12\/bold_a7acae {
  font-family: var(--font-display);
  font-size: 12px;
  font-weight: 700;
  line-height: 1.3333333333333333;
}
.heading-deprecated-12\/bold_a7acae.fontScaling_a7acae {
  font-size: 0.75rem;
}
.heading-deprecated-12\/extrabold_a7acae {
  font-family: var(--font-display);
  font-size: 12px;
  font-weight: 800;
  line-height: 1.3333333333333333;
}
.heading-deprecated-12\/extrabold_a7acae.fontScaling_a7acae {
  font-size: 0.75rem;
}
.redesign\/heading-18\/medium_a7acae {
  font-family: var(--font-display);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
.redesign\/heading-18\/medium_a7acae.fontScaling_a7acae {
  font-size: 1.125rem;
}
.redesign\/heading-18\/semibold_a7acae {
  font-family: var(--font-display);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
.redesign\/heading-18\/semibold_a7acae.fontScaling_a7acae {
  font-size: 1.125rem;
}
.redesign\/heading-18\/bold_a7acae {
  font-family: var(--font-display);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3333333333333333;
}
.redesign\/heading-18\/bold_a7acae.fontScaling_a7acae {
  font-size: 1.125rem;
}
.text-xxs\/normal_a7acae {
  font-family: var(--font-primary);
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
}
.text-xxs\/normal_a7acae.fontScaling_a7acae {
  font-size: 0.625rem;
}
.text-xxs\/medium_a7acae {
  font-family: var(--font-primary);
  font-size: 10px;
  font-weight: 500;
  line-height: 1.2;
}
.text-xxs\/medium_a7acae.fontScaling_a7acae {
  font-size: 0.625rem;
}
.text-xxs\/semibold_a7acae {
  font-family: var(--font-primary);
  font-size: 10px;
  font-weight: 600;
  line-height: 1.2;
}
.text-xxs\/semibold_a7acae.fontScaling_a7acae {
  font-size: 0.625rem;
}
.text-xxs\/bold_a7acae {
  font-family: var(--font-primary);
  font-size: 10px;
  font-weight: 700;
  line-height: 1.2;
}
.text-xxs\/bold_a7acae.fontScaling_a7acae {
  font-size: 0.625rem;
}
.text-xs\/normal_a7acae {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
.text-xs\/normal_a7acae.fontScaling_a7acae {
  font-size: 0.75rem;
}
.text-xs\/medium_a7acae {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
.text-xs\/medium_a7acae.fontScaling_a7acae {
  font-size: 0.75rem;
}
.text-xs\/semibold_a7acae {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
.text-xs\/semibold_a7acae.fontScaling_a7acae {
  font-size: 0.75rem;
}
.text-xs\/bold_a7acae {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 700;
  line-height: 1.3333333333333333;
}
.text-xs\/bold_a7acae.fontScaling_a7acae {
  font-size: 0.75rem;
}
.text-sm\/normal_a7acae {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2857142857142858;
}
.text-sm\/normal_a7acae.fontScaling_a7acae {
  font-size: 0.875rem;
}
.text-sm\/medium_a7acae {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2857142857142858;
}
.text-sm\/medium_a7acae.fontScaling_a7acae {
  font-size: 0.875rem;
}
.text-sm\/semibold_a7acae {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
.text-sm\/semibold_a7acae.fontScaling_a7acae {
  font-size: 0.875rem;
}
.text-sm\/bold_a7acae {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2857142857142858;
}
.text-sm\/bold_a7acae.fontScaling_a7acae {
  font-size: 0.875rem;
}
.text-md\/normal_a7acae {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}
.text-md\/normal_a7acae.fontScaling_a7acae {
  font-size: 1rem;
}
.text-md\/medium_a7acae {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}
.text-md\/medium_a7acae.fontScaling_a7acae {
  font-size: 1rem;
}
.text-md\/semibold_a7acae {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
.text-md\/semibold_a7acae.fontScaling_a7acae {
  font-size: 1rem;
}
.text-md\/bold_a7acae {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
}
.text-md\/bold_a7acae.fontScaling_a7acae {
  font-size: 1rem;
}
.text-lg\/normal_a7acae {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}
.text-lg\/normal_a7acae.fontScaling_a7acae {
  font-size: 1.25rem;
}
.text-lg\/medium_a7acae {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
.text-lg\/medium_a7acae.fontScaling_a7acae {
  font-size: 1.25rem;
}
.text-lg\/semibold_a7acae {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}
.text-lg\/semibold_a7acae.fontScaling_a7acae {
  font-size: 1.25rem;
}
.text-lg\/bold_a7acae {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}
.text-lg\/bold_a7acae.fontScaling_a7acae {
  font-size: 1.25rem;
}
.redesign\/message-preview\/normal_a7acae {
  font-family: var(--font-primary);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
.redesign\/message-preview\/normal_a7acae.fontScaling_a7acae {
  font-size: 0.9375rem;
}
.redesign\/message-preview\/medium_a7acae {
  font-family: var(--font-primary);
  font-size: 15px;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
.redesign\/message-preview\/medium_a7acae.fontScaling_a7acae {
  font-size: 0.9375rem;
}
.redesign\/message-preview\/semibold_a7acae {
  font-family: var(--font-primary);
  font-size: 15px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
.redesign\/message-preview\/semibold_a7acae.fontScaling_a7acae {
  font-size: 0.9375rem;
}
.redesign\/message-preview\/bold_a7acae {
  font-family: var(--font-primary);
  font-size: 15px;
  font-weight: 700;
  line-height: 1.3333333333333333;
}
.redesign\/message-preview\/bold_a7acae.fontScaling_a7acae {
  font-size: 0.9375rem;
}
.redesign\/channel-title\/normal_a7acae {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375;
}
.redesign\/channel-title\/normal_a7acae.fontScaling_a7acae {
  font-size: 1rem;
}
.redesign\/channel-title\/medium_a7acae {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.375;
}
.redesign\/channel-title\/medium_a7acae.fontScaling_a7acae {
  font-size: 1rem;
}
.redesign\/channel-title\/semibold_a7acae {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.375;
}
.redesign\/channel-title\/semibold_a7acae.fontScaling_a7acae {
  font-size: 1rem;
}
.redesign\/channel-title\/bold_a7acae {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.375;
}
.redesign\/channel-title\/bold_a7acae.fontScaling_a7acae {
  font-size: 1rem;
}
.experimental\/body-xs\/normal_a7acae {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
.experimental\/body-xs\/normal_a7acae.fontScaling_a7acae {
  font-size: 0.75rem;
}
.experimental\/body-xs\/medium_a7acae {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
.experimental\/body-xs\/medium_a7acae.fontScaling_a7acae {
  font-size: 0.75rem;
}
.experimental\/body-xs\/semibold_a7acae {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
.experimental\/body-xs\/semibold_a7acae.fontScaling_a7acae {
  font-size: 0.75rem;
}
.experimental\/body-sm\/normal_a7acae {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2857142857142858;
}
.experimental\/body-sm\/normal_a7acae.fontScaling_a7acae {
  font-size: 0.875rem;
}
.experimental\/body-sm\/medium_a7acae {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2857142857142858;
}
.experimental\/body-sm\/medium_a7acae.fontScaling_a7acae {
  font-size: 0.875rem;
}
.experimental\/body-sm\/semibold_a7acae {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
.experimental\/body-sm\/semibold_a7acae.fontScaling_a7acae {
  font-size: 0.875rem;
}
.experimental\/body-md\/normal_a7acae {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}
.experimental\/body-md\/normal_a7acae.fontScaling_a7acae {
  font-size: 1rem;
}
.experimental\/body-md\/medium_a7acae {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}
.experimental\/body-md\/medium_a7acae.fontScaling_a7acae {
  font-size: 1rem;
}
.experimental\/body-md\/semibold_a7acae {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
.experimental\/body-md\/semibold_a7acae.fontScaling_a7acae {
  font-size: 1rem;
}
.experimental\/body-lg\/normal_a7acae {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}
.experimental\/body-lg\/normal_a7acae.fontScaling_a7acae {
  font-size: 1.25rem;
}
.experimental\/body-lg\/medium_a7acae {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
.experimental\/body-lg\/medium_a7acae.fontScaling_a7acae {
  font-size: 1.25rem;
}
.experimental\/body-lg\/semibold_a7acae {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}
.experimental\/body-lg\/semibold_a7acae.fontScaling_a7acae {
  font-size: 1.25rem;
}
.experimental\/footnote\/normal_a7acae {
  font-family: var(--font-primary);
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
}
.experimental\/footnote\/normal_a7acae.fontScaling_a7acae {
  font-size: 0.625rem;
}
.experimental\/footnote\/medium_a7acae {
  font-family: var(--font-primary);
  font-size: 10px;
  font-weight: 500;
  line-height: 1.2;
}
.experimental\/footnote\/medium_a7acae.fontScaling_a7acae {
  font-size: 0.625rem;
}
.experimental\/footnote\/semibold_a7acae {
  font-family: var(--font-primary);
  font-size: 10px;
  font-weight: 600;
  line-height: 1.2;
}
.experimental\/footnote\/semibold_a7acae.fontScaling_a7acae {
  font-size: 0.625rem;
}
.display-sm_a7acae {
  font-family: var(--font-headline);
  font-size: 20px;
  font-weight: 800;
  line-height: 1;
}
.display-sm_a7acae.fontScaling_a7acae {
  font-size: 1.25rem;
}
.display-md_a7acae {
  font-family: var(--font-headline);
  font-size: 34px;
  font-weight: 800;
  line-height: 1.0588235294117647;
}
.display-md_a7acae.fontScaling_a7acae {
  font-size: 2.125rem;
}
.display-lg_a7acae {
  font-family: var(--font-headline);
  font-size: 44px;
  font-weight: 800;
  line-height: 0.9545454545454546;
}
.display-lg_a7acae.fontScaling_a7acae {
  font-size: 2.75rem;
}
.experimental\/display-xs_a7acae {
  font-family: var(--font-headline);
  font-size: 16px;
  font-weight: 800;
  line-height: 1.125;
}
.experimental\/display-xs_a7acae.fontScaling_a7acae {
  font-size: 1rem;
}
.experimental\/display-sm_a7acae {
  font-family: var(--font-headline);
  font-size: 24px;
  font-weight: 800;
  line-height: 1.0833333333333333;
}
.experimental\/display-sm_a7acae.fontScaling_a7acae {
  font-size: 1.5rem;
}
.experimental\/display-md_a7acae {
  font-family: var(--font-headline);
  font-size: 32px;
  font-weight: 800;
  line-height: 1.0625;
}
.experimental\/display-md_a7acae.fontScaling_a7acae {
  font-size: 2rem;
}
.experimental\/display-lg_a7acae {
  font-family: var(--font-headline);
  font-size: 44px;
  font-weight: 800;
  line-height: 1;
}
.experimental\/display-lg_a7acae.fontScaling_a7acae {
  font-size: 2.75rem;
}
.code_a7acae {
  font-family: var(--font-code);
  font-size: 12px;
  font-weight: 700;
  line-height: 1.3333333333333333;
}
.code_a7acae.fontScaling_a7acae {
  font-size: 0.75rem;
}
.experimental\/mono-md\/normal_a7acae {
  font-family: var(--font-code);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
.experimental\/mono-md\/normal_a7acae.fontScaling_a7acae {
  font-size: 0.75rem;
}
.experimental\/mono-md\/bold_a7acae {
  font-family: var(--font-code);
  font-size: 12px;
  font-weight: 700;
  line-height: 1.3333333333333333;
}
.experimental\/mono-md\/bold_a7acae.fontScaling_a7acae {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .heading-sm\/normal_a7acae {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2857142857142858;
}
:where(.mana-type-consolidation) .heading-sm\/normal_a7acae.fontScaling_a7acae {
  font-size: 0.875rem;
}
:where(.mana-type-consolidation) .heading-sm\/medium_a7acae {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2857142857142858;
}
:where(.mana-type-consolidation) .heading-sm\/medium_a7acae.fontScaling_a7acae {
  font-size: 0.875rem;
}
:where(.mana-type-consolidation) .heading-sm\/semibold_a7acae {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
:where(.mana-type-consolidation)
  .heading-sm\/semibold_a7acae.fontScaling_a7acae {
  font-size: 0.875rem;
}
:where(.mana-type-consolidation) .heading-sm\/bold_a7acae {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
:where(.mana-type-consolidation) .heading-sm\/bold_a7acae.fontScaling_a7acae {
  font-size: 0.875rem;
}
:where(.mana-type-consolidation) .heading-sm\/extrabold_a7acae {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
:where(.mana-type-consolidation)
  .heading-sm\/extrabold_a7acae.fontScaling_a7acae {
  font-size: 0.875rem;
}
:where(.mana-type-consolidation) .heading-md\/normal_a7acae {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}
:where(.mana-type-consolidation) .heading-md\/normal_a7acae.fontScaling_a7acae {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .heading-md\/medium_a7acae {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}
:where(.mana-type-consolidation) .heading-md\/medium_a7acae.fontScaling_a7acae {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .heading-md\/semibold_a7acae {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .heading-md\/semibold_a7acae.fontScaling_a7acae {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .heading-md\/bold_a7acae {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation) .heading-md\/bold_a7acae.fontScaling_a7acae {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .heading-md\/extrabold_a7acae {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .heading-md\/extrabold_a7acae.fontScaling_a7acae {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .heading-lg\/normal_a7acae {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .heading-lg\/normal_a7acae.fontScaling_a7acae {
  font-size: 1.25rem;
}
:where(.mana-type-consolidation) .heading-lg\/medium_a7acae {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .heading-lg\/medium_a7acae.fontScaling_a7acae {
  font-size: 1.25rem;
}
:where(.mana-type-consolidation) .heading-lg\/semibold_a7acae {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}
:where(.mana-type-consolidation)
  .heading-lg\/semibold_a7acae.fontScaling_a7acae {
  font-size: 1.25rem;
}
:where(.mana-type-consolidation) .heading-lg\/bold_a7acae {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .heading-lg\/bold_a7acae.fontScaling_a7acae {
  font-size: 1.25rem;
}
:where(.mana-type-consolidation) .heading-lg\/extrabold_a7acae {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}
:where(.mana-type-consolidation)
  .heading-lg\/extrabold_a7acae.fontScaling_a7acae {
  font-size: 1.25rem;
}
:where(.mana-type-consolidation) .heading-xl\/normal_a7acae {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation) .heading-xl\/normal_a7acae.fontScaling_a7acae {
  font-size: 1.5rem;
}
:where(.mana-type-consolidation) .heading-xl\/medium_a7acae {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation) .heading-xl\/medium_a7acae.fontScaling_a7acae {
  font-size: 1.5rem;
}
:where(.mana-type-consolidation) .heading-xl\/semibold_a7acae {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation)
  .heading-xl\/semibold_a7acae.fontScaling_a7acae {
  font-size: 1.5rem;
}
:where(.mana-type-consolidation) .heading-xl\/bold_a7acae {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation) .heading-xl\/bold_a7acae.fontScaling_a7acae {
  font-size: 1.5rem;
}
:where(.mana-type-consolidation) .heading-xl\/extrabold_a7acae {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation)
  .heading-xl\/extrabold_a7acae.fontScaling_a7acae {
  font-size: 1.5rem;
}
:where(.mana-type-consolidation) .heading-xxl\/normal_a7acae {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 500;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .heading-xxl\/normal_a7acae.fontScaling_a7acae {
  font-size: 2rem;
}
:where(.mana-type-consolidation) .heading-xxl\/medium_a7acae {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 500;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .heading-xxl\/medium_a7acae.fontScaling_a7acae {
  font-size: 2rem;
}
:where(.mana-type-consolidation) .heading-xxl\/semibold_a7acae {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .heading-xxl\/semibold_a7acae.fontScaling_a7acae {
  font-size: 2rem;
}
:where(.mana-type-consolidation) .heading-xxl\/bold_a7acae {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation) .heading-xxl\/bold_a7acae.fontScaling_a7acae {
  font-size: 2rem;
}
:where(.mana-type-consolidation) .heading-xxl\/extrabold_a7acae {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .heading-xxl\/extrabold_a7acae.fontScaling_a7acae {
  font-size: 2rem;
}
:where(.mana-type-consolidation) .eyebrow_a7acae {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.3333333333333333;
  text-transform: none;
}
:where(.mana-type-consolidation) .eyebrow_a7acae.fontScaling_a7acae {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .heading-deprecated-12\/normal_a7acae {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation)
  .heading-deprecated-12\/normal_a7acae.fontScaling_a7acae {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .heading-deprecated-12\/medium_a7acae {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation)
  .heading-deprecated-12\/medium_a7acae.fontScaling_a7acae {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .heading-deprecated-12\/semibold_a7acae {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation)
  .heading-deprecated-12\/semibold_a7acae.fontScaling_a7acae {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .heading-deprecated-12\/bold_a7acae {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation)
  .heading-deprecated-12\/bold_a7acae.fontScaling_a7acae {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .heading-deprecated-12\/extrabold_a7acae {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation)
  .heading-deprecated-12\/extrabold_a7acae.fontScaling_a7acae {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .redesign\/heading-18\/medium_a7acae {
  font-family: var(--font-display);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2222222222222223;
}
:where(.mana-type-consolidation)
  .redesign\/heading-18\/medium_a7acae.fontScaling_a7acae {
  font-size: 1.125rem;
}
:where(.mana-type-consolidation) .redesign\/heading-18\/semibold_a7acae {
  font-family: var(--font-display);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2222222222222223;
}
:where(.mana-type-consolidation)
  .redesign\/heading-18\/semibold_a7acae.fontScaling_a7acae {
  font-size: 1.125rem;
}
:where(.mana-type-consolidation) .redesign\/heading-18\/bold_a7acae {
  font-family: var(--font-display);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2222222222222223;
}
:where(.mana-type-consolidation)
  .redesign\/heading-18\/bold_a7acae.fontScaling_a7acae {
  font-size: 1.125rem;
}
:where(.mana-type-consolidation) .text-xxs\/normal_a7acae {
  font-family: var(--font-primary);
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .text-xxs\/normal_a7acae.fontScaling_a7acae {
  font-size: 0.625rem;
}
:where(.mana-type-consolidation) .text-xxs\/medium_a7acae {
  font-family: var(--font-primary);
  font-size: 10px;
  font-weight: 500;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .text-xxs\/medium_a7acae.fontScaling_a7acae {
  font-size: 0.625rem;
}
:where(.mana-type-consolidation) .text-xxs\/semibold_a7acae {
  font-family: var(--font-primary);
  font-size: 10px;
  font-weight: 600;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .text-xxs\/semibold_a7acae.fontScaling_a7acae {
  font-size: 0.625rem;
}
:where(.mana-type-consolidation) .text-xxs\/bold_a7acae {
  font-family: var(--font-primary);
  font-size: 10px;
  font-weight: 600;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .text-xxs\/bold_a7acae.fontScaling_a7acae {
  font-size: 0.625rem;
}
:where(.mana-type-consolidation) .text-xs\/normal_a7acae {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation) .text-xs\/normal_a7acae.fontScaling_a7acae {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .text-xs\/medium_a7acae {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation) .text-xs\/medium_a7acae.fontScaling_a7acae {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .text-xs\/semibold_a7acae {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation) .text-xs\/semibold_a7acae.fontScaling_a7acae {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .text-xs\/bold_a7acae {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation) .text-xs\/bold_a7acae.fontScaling_a7acae {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .text-sm\/normal_a7acae {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2857142857142858;
}
:where(.mana-type-consolidation) .text-sm\/normal_a7acae.fontScaling_a7acae {
  font-size: 0.875rem;
}
:where(.mana-type-consolidation) .text-sm\/medium_a7acae {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2857142857142858;
}
:where(.mana-type-consolidation) .text-sm\/medium_a7acae.fontScaling_a7acae {
  font-size: 0.875rem;
}
:where(.mana-type-consolidation) .text-sm\/semibold_a7acae {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
:where(.mana-type-consolidation) .text-sm\/semibold_a7acae.fontScaling_a7acae {
  font-size: 0.875rem;
}
:where(.mana-type-consolidation) .text-sm\/bold_a7acae {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
:where(.mana-type-consolidation) .text-sm\/bold_a7acae.fontScaling_a7acae {
  font-size: 0.875rem;
}
:where(.mana-type-consolidation) .text-md\/normal_a7acae {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}
:where(.mana-type-consolidation) .text-md\/normal_a7acae.fontScaling_a7acae {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .text-md\/medium_a7acae {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}
:where(.mana-type-consolidation) .text-md\/medium_a7acae.fontScaling_a7acae {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .text-md\/semibold_a7acae {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation) .text-md\/semibold_a7acae.fontScaling_a7acae {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .text-md\/bold_a7acae {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation) .text-md\/bold_a7acae.fontScaling_a7acae {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .text-lg\/normal_a7acae {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .text-lg\/normal_a7acae.fontScaling_a7acae {
  font-size: 1.25rem;
}
:where(.mana-type-consolidation) .text-lg\/medium_a7acae {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .text-lg\/medium_a7acae.fontScaling_a7acae {
  font-size: 1.25rem;
}
:where(.mana-type-consolidation) .text-lg\/semibold_a7acae {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .text-lg\/semibold_a7acae.fontScaling_a7acae {
  font-size: 1.25rem;
}
:where(.mana-type-consolidation) .text-lg\/bold_a7acae {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .text-lg\/bold_a7acae.fontScaling_a7acae {
  font-size: 1.25rem;
}
:where(.mana-type-consolidation) .redesign\/message-preview\/normal_a7acae {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .redesign\/message-preview\/normal_a7acae.fontScaling_a7acae {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .redesign\/message-preview\/medium_a7acae {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .redesign\/message-preview\/medium_a7acae.fontScaling_a7acae {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .redesign\/message-preview\/semibold_a7acae {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .redesign\/message-preview\/semibold_a7acae.fontScaling_a7acae {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .redesign\/message-preview\/bold_a7acae {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .redesign\/message-preview\/bold_a7acae.fontScaling_a7acae {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .redesign\/channel-title\/normal_a7acae {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .redesign\/channel-title\/normal_a7acae.fontScaling_a7acae {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .redesign\/channel-title\/medium_a7acae {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .redesign\/channel-title\/medium_a7acae.fontScaling_a7acae {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .redesign\/channel-title\/semibold_a7acae {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .redesign\/channel-title\/semibold_a7acae.fontScaling_a7acae {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .redesign\/channel-title\/bold_a7acae {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .redesign\/channel-title\/bold_a7acae.fontScaling_a7acae {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .display-sm_a7acae {
  font-family: var(--font-headline);
  font-size: 24px;
  font-weight: 800;
  line-height: 1.0833333333333333;
}
:where(.mana-type-consolidation) .display-sm_a7acae.fontScaling_a7acae {
  font-size: 1.5rem;
}
:where(.mana-type-consolidation) .display-md_a7acae {
  font-family: var(--font-headline);
  font-size: 32px;
  font-weight: 800;
  line-height: 1.0625;
}
:where(.mana-type-consolidation) .display-md_a7acae.fontScaling_a7acae {
  font-size: 2rem;
}
:where(.mana-type-consolidation) .display-lg_a7acae {
  font-family: var(--font-headline);
  font-size: 44px;
  font-weight: 800;
  line-height: 1;
}
:where(.mana-type-consolidation) .display-lg_a7acae.fontScaling_a7acae {
  font-size: 2.75rem;
}
:where(.mana-type-consolidation) .code_a7acae {
  font-family: var(--font-code);
  font-size: 12px;
  font-weight: 700;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation) .code_a7acae.fontScaling_a7acae {
  font-size: 0.75rem;
}
.live_a7acae {
  padding: 0 6px;
}
.liveShapeRound_a7acae {
  border-radius: var(--custom-live-indicator-border-radius);
}
.liveShapeRoundLeft_a7acae {
  border-radius: var(--custom-live-indicator-border-radius) 0 0
    var(--custom-live-indicator-border-radius);
}
.liveShapeRoundRight_a7acae {
  border-radius: 0 var(--custom-live-indicator-border-radius)
    var(--custom-live-indicator-border-radius) 0;
}
.grey_a7acae {
  background-color: var(--background-mod-muted);
  color: var(--interactive-text-default);
}
.liveLarge_a7acae {
  font-size: 14px;
  line-height: 15px;
}
.liveSmall_a7acae {
  text-transform: uppercase;
}

/*# sourceMappingURL=495628.a26a194a1cfa4746.css.map*/
