.content_d9185c {
  border-radius: var(--radius-md);
  gap: var(--size-8);
  margin-bottom: calc(var(--custom-modal-padding-bottom) * -1);
  margin-top: calc(var(--custom-modal-padding-top) * -1);
  overflow: hidden;
  padding: var(--size-24);
  position: relative;
  text-align: center;
}
.content_d9185c,
.hero_d9185c {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.hero_d9185c {
  padding-top: 160px;
  width: 100%;
}
.backgroundImage_d9185c {
  height: 300px;
  inset: 0;
  -webkit-mask-image: linear-gradient(
    180deg,
    #000 30%,
    rgba(0, 0, 0, 0.55) 40%,
    transparent
  );
  mask-image: linear-gradient(
    180deg,
    #000 30%,
    rgba(0, 0, 0, 0.55) 40%,
    transparent
  );
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top center;
  object-position: top center;
  pointer-events: none;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.closeButton_d9185c {
  inset-inline-end: var(--size-20);
  position: absolute;
  top: var(--size-20);
}
.logo_d9185c {
  height: 28px;
  margin-bottom: 4px;
  -o-object-fit: contain;
  object-fit: contain;
}
.title_d9185c {
  white-space: nowrap;
}
.subtitle_d9185c {
  margin-top: var(--space-8);
  margin-inline-end: -10px;
  margin-inline-start: -10px;
}
.features_d9185c {
  display: flex;
  flex-direction: row;
  gap: var(--size-24);
  margin-bottom: var(--size-16);
  margin-top: var(--size-16);
}
.feature_d9185c {
  background-color: var(--background-mod-subtle);
  border-radius: var(--radius-md);
  flex: 1;
  gap: var(--size-16);
  overflow: hidden;
  padding: var(--size-20);
}
.feature_d9185c,
.featureCopy_d9185c {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.featureCopy_d9185c {
  gap: var(--size-4);
  text-align: center;
}
.featureAsset_d9185c {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}
.featureAsset_d9185c img {
  max-height: 100px;
  max-width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.featureAssetLabel_d9185c {
  bottom: 0;
  inset-inline-start: 50%;
  position: absolute;
  transform: translate(-50%, 50%);
}
.buttonContainer_d9185c {
  align-items: center;
  display: flex;
  justify-content: center;
}
@media screen and (max-height: 550px), screen and (max-width: 485px) {
  .innerAnimatedDivDynamicSizing__59d99 {
    width: 100% !important;
  }
}
.textContainer__2215e {
  padding: 6px 0;
}
.buttonContainer__2215e {
  margin-bottom: 8px;
  margin-top: 24px;
}
.buttonContainer__2215e,
.listContainer__2215e {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.listContainer__2215e {
  background-color: var(--background-base-lower);
  border-radius: 8px;
  margin-bottom: 16px;
  margin-top: 8px;
  padding: 8px 16px;
}
.listItem__2215e {
  align-items: center;
  display: flex;
  gap: 8px;
  margin: 8px 0;
}
.divider__2215e {
  background-color: var(--border-subtle);
}
.whatList__2215e {
  background-color: var(--background-base-lower);
  border-radius: 4px;
  margin-bottom: 8px;
}
.whatItem__2215e {
  border-top: 1px solid var(--border-subtle);
}
.modal_ffde51 {
  width: 408px;
}
.container_ffde51 {
  display: flex;
  flex-direction: column;
  max-height: 720px;
}
.header_ffde51 {
  flex-grow: 0;
  overflow: hidden;
  padding: 24px 16px 0;
}
.stepHeader_ffde51 {
  margin-bottom: 16px;
  text-transform: uppercase;
}
.title_ffde51 {
  text-align: center;
}
.closeButton_ffde51 {
  inset-inline-end: 12px;
  position: absolute;
  top: 12px;
  z-index: 1000;
}
.illustration_ffde51 {
  margin-bottom: 16px;
}
.consentContent_ffde51 {
  padding-bottom: 16px;
}
.consentHeader_ffde51 {
  padding: 32px 0;
}
.body_ffde51 {
  padding-bottom: 16px;
  text-align: center;
}
.body_ffde51 p {
  margin: 8px 0;
}
.footer_ffde51 {
  align-items: center;
  background-color: var(--background-base-lowest);
  flex-direction: column;
}
.footerButton_ffde51 {
  align-self: stretch;
}
.launchIcon_ffde51 {
  translate: 0 -1px;
  vertical-align: middle;
}
.valueProps_ffde51 {
  background-color: var(--background-base-lower);
  border-radius: var(--radius-sm);
  margin-top: 24px;
}
.valueProp_ffde51 {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 12px;
  text-align: start;
}
.valuePropIconContainer_ffde51 {
  color: var(--interactive-text-default);
  display: flex;
  justify-content: center;
  margin-inline-end: 12px;
  padding: 4px;
}
.valuePropText_ffde51 {
  display: flex;
  flex-direction: column;
}
.valuePropDivider_ffde51 {
  background-color: var(--border-subtle);
  flex: 1;
  height: 1px;
  margin-inline: 56px 12px;
}
.slideContainer_ffde51 {
  display: flex;
  flex-direction: column;
  max-height: clamp(200px, calc(100vh - 80px), 720px);
}
.getCrunchyollApp__1bc87 {
  align-items: center;
  background: var(--background-mod-normal);
  border-radius: var(--radius-sm);
  display: flex;
  margin-top: 24px;
  padding: 16px;
}
.getCrunchyollAppBody__1bc87 {
  text-align: start;
}
.getCrunchyollAppHeading__1bc87 {
  display: flex;
}
.getCrunchyollAppQR__1bc87 {
  margin-inline-start: 16px;
}
.crunchyollLogoBox__1bc87 {
  align-items: center;
  border-radius: var(--radius-xs);
  display: flex;
  height: 24px;
  justify-content: center;
  margin-inline-end: 10px;
  width: 24px;
}
.crunchyollLogoBox__1bc87 img {
  height: 20px;
  width: 20px;
}

/*# sourceMappingURL=515973.07c2e6f9e3aea4ab.css.map*/
