.root__1042d {
  display: grid;
  gap: var(--space-4);
  grid-template-columns: 7fr 3fr;
  line-height: 1;
}
.body__1042d {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
  min-width: 0;
  padding: var(--space-8);
}
.content__1042d {
  padding-block: 2px;
}
.imageContainer__0b9a6 {
  padding: var(--space-8);
}
.image__0b9a6,
.imageSkeleton__0b9a6 {
  aspect-ratio: 1;
  border-radius: var(--radius-sm);
  display: block;
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
}
.image__0b9a6 {
  background: var(--background-mod-subtle);
  border: 1px solid var(--border-subtle);
}
.imageSkeleton__0b9a6 {
  border: 1px solid transparent;
}
.heroImageContainer_e26f69 {
  overflow: hidden;
  position: relative;
}
.heroImage_e26f69 {
  inset: 0;
  position: absolute;
}
.heroImageSkeleton_e26f69 {
  aspect-ratio: 1;
  margin: var(--space-8);
}
.root__5036c {
  display: grid;
  gap: var(--space-16);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: var(--space-24) var(--space-16) var(--space-16);
}
.collectionItem__5036c {
  display: flex;
  gap: var(--space-12);
}
.collectionItemContent__5036c {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  margin-block: auto;
}
.collectionItemImage__5036c,
.collectionItemImagePlaceholder__5036c {
  border-radius: var(--radius-sm);
  flex-shrink: 0;
  height: 48px;
  -o-object-fit: contain;
  object-fit: contain;
  width: 48px;
}
.collectionItemImage__5036c {
  background: var(--background-mod-subtle);
}
.root_ad132e {
  align-items: center;
  display: flex;
  gap: var(--space-12);
  padding: var(--space-24) var(--space-16) var(--space-16);
}
.image_ad132e {
  background: var(--background-mod-subtle);
  border: 1px solid var(--border-subtle);
  border-radius: var(--radius-sm);
  flex-shrink: 0;
  height: 48px;
  -o-object-fit: contain;
  object-fit: contain;
  width: 48px;
}
.content_ad132e {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  min-width: 0;
  width: 100%;
}
.textContent_ad132e {
  display: flex;
  gap: 2px;
  justify-content: space-between;
}
.progressContainer_ad132e {
  background: var(--opacity-32);
  border-radius: var(--radius-md);
  height: 6px;
  width: 100%;
}
.progress_ad132e {
  background: var(--icon-strong);
  border-radius: inherit;
  height: 6px;
  width: var(--custom-progress);
}
.progressText_ad132e {
  max-width: 12ch;
}
.textLeft_ad132e {
  flex-grow: 1;
  min-width: 0;
}
.container__4a231 {
  min-width: 0;
}
.value__4a231 {
  align-items: center;
  display: flex;
  gap: 2px;
}
.statsGrid_a0dddb {
  display: grid;
  gap: var(--space-24);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: var(--space-24) var(--space-16) var(--space-16);
}
.title_c7283d {
  margin-bottom: var(--space-4);
}
.title_c7283d :not(:last-child) {
  margin-bottom: var(--space-8);
}
.content_c7283d {
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
  min-width: 0;
  overflow: hidden;
  padding-block: var(--space-32);
}
.root__5ab06 {
  -moz-column-gap: var(--space-4);
  column-gap: var(--space-4);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: var(--space-12) var(--space-16) 0 var(--space-16);
}
.header__5ab06 {
  grid-column: span 2;
}
.image__5ab06,
.imageSkeleton__5ab06 {
  aspect-ratio: 1;
  margin-block-end: var(--space-16);
  margin-block-start: var(--space-12);
}
.imageSkeleton__5ab06 {
  justify-self: end;
  min-height: 85px;
}
.image__5ab06 {
  background: var(--background-mod-subtle);
  border: 1px solid var(--border-subtle);
  border-radius: var(--radius-md);
  margin-inline-start: auto;
  max-height: 150px;
  -o-object-fit: contain;
  object-fit: contain;
}
.root__01fb0 {
  -moz-column-gap: var(--space-4);
  column-gap: var(--space-4);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  isolation: isolate;
  padding: var(--space-12) var(--space-16) 0 var(--space-16);
}
.header__01fb0 {
  grid-column: 1/-1;
  grid-row: 1;
}
.contentContainer__01fb0 {
  display: flex;
  flex-direction: column;
  grid-column: 1;
  grid-row: 2;
  justify-content: center;
  min-width: 0;
}
.imageSkeleton__01fb0 {
  aspect-ratio: 1;
  justify-self: end;
  margin-block-end: var(--space-16);
  margin-block-start: var(--space-12);
  min-height: 85px;
}
.imageGridPositioner__01fb0 {
  grid-column: 2;
  grid-row: 1/-1;
  position: relative;
}
.imageOffsetPositioner__01fb0 {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: calc(var(--space-16) * -1);
  top: calc((var(--space-12) + var(--space-8)) * -1);
  z-index: -1;
}
.image__01fb0 {
  width: 100%;
}

/*# sourceMappingURL=51628.51daf4c41ab4104c.css.map*/
