.categoryList__3ad28 {
  top: 53px;
}
.stickerCategory__3ad28 {
  border-radius: 4px;
  color: var(--interactive-text-default);
  cursor: pointer;
  height: var(--custom-stickers-constants-sticker-category-icon-size);
  margin-bottom: var(--custom-stickers-constants-sticker-category-icon-margin);
  width: var(--custom-stickers-constants-sticker-category-icon-size);
}
.firstPartyCategory__3ad28:hover {
  background-color: var(--interactive-background-hover);
  color: var(--interactive-text-hover);
}
.firstPartyCategorySelected__3ad28,
.firstPartyCategorySelected__3ad28:hover,
.stickerCategoryGenericSelected__3ad28,
.stickerCategoryGenericSelected__3ad28:hover {
  background-color: var(--background-base-low);
}
.stickerCategoryGenericSelected__3ad28 .stickerCategoryGenericIcon__3ad28 {
  color: var(--interactive-text-active);
}
.stickerCategoryGeneric__3ad28 {
  box-sizing: border-box;
  margin-bottom: 2px;
  padding: 4px;
}
.stickerCategoryGeneric__3ad28.stickerCategoryGenericLast__3ad28 {
  margin-bottom: var(--custom-stickers-constants-sticker-category-icon-margin);
}
.stickerCategoryGeneric__3ad28:hover {
  background-color: var(--background-base-low);
}
.stickerCategoryGenericDisabled__3ad28 {
  color: var(--text-muted);
  cursor: default;
}
.stickerCategoryGenericDisabled__3ad28 .stickerCategoryGenericIcon__3ad28 {
  opacity: 0.6;
}
.stickerCategoryGenericDisabled__3ad28.stickerCategory__3ad28:hover {
  background-color: transparent;
  color: var(--text-muted);
}
.stickerPackThumbnail__3ad28 {
  display: block;
  height: 100%;
  width: 100%;
}
.guildCategorySeparator__3ad28 {
  border: none;
  border-bottom: var(--custom-stickers-constants-category-separator-size) solid
    var(--border-subtle);
  margin: var(--custom-stickers-constants-category-separator-margin-vertical) 0;
}
.standardStickerShortcut__3ad28 {
  align-items: center;
  background: inherit;
  border-top: 1px solid var(--border-normal);
  bottom: 0;
  box-sizing: border-box;
  color: var(--interactive-text-default);
  cursor: pointer;
  display: flex;
  height: 48px;
  inset-inline-start: 0;
  justify-content: center;
  opacity: 1;
  position: absolute;
  width: 100%;
}
.full-motion .standardStickerShortcut__3ad28 {
  transition:
    opacity 0.1s,
    transform 0.1s;
}
.standardStickerShortcut__3ad28:hover {
  color: var(--interactive-text-hover);
}
.invisibleShortcut__3ad28 {
  display: none;
  opacity: 0;
}
.enable-forced-colors .standardStickerShortcut__3ad28 {
  background-color: ButtonFace;
  border-top: 1px solid CanvasText;
  color: ButtonText;
  height: 47px;
}
.enable-forced-colors .stickerCategory__3ad28 {
  border: 1px solid Canvas;
  border-radius: 4px;
  transition: none;
}
.enable-forced-colors
  .stickerCategory__3ad28
  .stickerCategoryGenericIcon__3ad28 {
  color: ButtonText;
}
.enable-forced-colors .stickerCategory__3ad28:hover {
  background: ButtonFace;
  border-color: ButtonText;
}
.enable-forced-colors .stickerCategoryGenericDisabled__3ad28 {
  color: GrayText;
}
.enable-forced-colors
  .stickerCategoryGenericDisabled__3ad28.stickerCategory__3ad28:hover {
  color: GrayText;
}
.enable-forced-colors .firstPartyCategorySelected__3ad28,
.enable-forced-colors .firstPartyCategorySelected__3ad28:hover,
.enable-forced-colors .stickerCategoryGenericSelected__3ad28,
.enable-forced-colors .stickerCategoryGenericSelected__3ad28:hover {
  background-color: HighlightText;
  border-color: Highlight;
}
.enable-forced-colors
  .firstPartyCategorySelected__3ad28
  .stickerCategoryGenericIcon__3ad28,
.enable-forced-colors
  .firstPartyCategorySelected__3ad28:hover
  .stickerCategoryGenericIcon__3ad28,
.enable-forced-colors
  .stickerCategoryGenericSelected__3ad28
  .stickerCategoryGenericIcon__3ad28,
.enable-forced-colors
  .stickerCategoryGenericSelected__3ad28:hover
  .stickerCategoryGenericIcon__3ad28 {
  color: Highlight;
}
.emptyState__70126 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;
}
.emptyState__70126.unifyTrialUpsell__70126 {
  margin: 0;
}
.header__70126 {
  margin-bottom: 8px;
  margin-top: 16px;
}
.subtitle__70126 {
  margin-bottom: 12px;
}
.stickersRow__70126 {
  display: flex;
  margin-bottom: 20px;
}
.stickersRow__70126 .sticker__70126 {
  margin: auto 2px;
}

/*# sourceMappingURL=52196.aa69c78e0c508648.css.map*/
