.scroller__95bea {
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 100%;
  padding: 16px;
}
.row__95bea {
  gap: 20px;
}
.row__95bea,
.rowIcon__95bea {
  align-items: center;
  display: flex;
}
.rowIcon__95bea {
  background-color: var(--background-mod-muted);
  border-radius: var(--radius-round);
  color: var(--white);
  justify-content: center;
  max-height: 40px;
  max-width: 40px;
  min-height: 40px;
  min-width: 40px;
}
.rowText__95bea {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.list__20827 {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 6px;
}
.container__9d597 {
  --custom-lift-hover: 2px;
  --custom-peek-base: 8px;
  --custom-peek-hover: 2px;
  --custom-expanded-total: calc(
    var(--custom-lift-hover) + var(--custom-peek-base) +
      var(--custom-peek-hover)
  );
  --custom-transition-duration: 200ms;
}
.container__9d597:has(.hasMultipleCards__9d597) {
  padding-bottom: var(--custom-peek-base);
}
.cardsList__9d597,
.firstCardContainer__9d597 {
  position: relative;
}
.hasMultipleCards__9d597 .firstCardContainer__9d597 .card__9d597 {
  box-shadow: var(--shadow-low);
  z-index: var(--custom-user-profile-middle-layer-z-index);
}
.full-motion .hasMultipleCards__9d597 .firstCardContainer__9d597 .card__9d597 {
  transition: transform var(--custom-transition-duration) ease-in-out;
}
.hasMultipleCards__9d597:focus-within .firstCardContainer__9d597 .card__9d597,
.hasMultipleCards__9d597:hover .firstCardContainer__9d597 .card__9d597 {
  transform: translateY(calc(var(--custom-lift-hover) * -1));
}
.backgroundCardContainer__9d597 {
  box-sizing: border-box;
  cursor: pointer;
  height: var(--custom-peek-base);
  overflow: hidden;
  padding-inline: 8px;
  position: absolute;
  top: 100%;
  width: 100%;
}
.full-motion .backgroundCardContainer__9d597 {
  --custom-transition-height-delay: var(--custom-transition-duration);
  transition:
    transform var(--custom-transition-duration) ease-in-out,
    height 0s var(--custom-transition-height-delay) linear;
}
.cardsList__9d597:focus-within .backgroundCardContainer__9d597,
.cardsList__9d597:hover .backgroundCardContainer__9d597 {
  --custom-transition-height-delay: 0ms;
  height: var(--custom-expanded-total);
  transform: translateY(calc(var(--custom-lift-hover) * -1));
}
.backgroundCardContainer__9d597 .backgroundCard__9d597 {
  height: calc(var(--custom-expanded-total) * 2);
  transform: translateY(calc(-100% + var(--custom-peek-base)));
  z-index: var(--custom-user-profile-bottom-layer-z-index);
}
.full-motion .backgroundCardContainer__9d597 .backgroundCard__9d597 {
  transition: transform var(--custom-transition-duration) ease-in-out;
}
.backgroundCardContainer__9d597 .backgroundCard__9d597:focus-within,
.backgroundCardContainer__9d597 .backgroundCard__9d597:hover {
  background: var(--user-profile-overlay-background-hover);
}
.cardsList__9d597:focus-within
  .backgroundCardContainer__9d597
  .backgroundCard__9d597,
.cardsList__9d597:hover .backgroundCardContainer__9d597 .backgroundCard__9d597 {
  transform: translateY(calc(-100% + var(--custom-expanded-total)));
}

/*# sourceMappingURL=56000.ac1a00f789bad54a.css.map*/
