.surface__5b95d {
  background: var(--background-base-lower);
  border-radius: var(--radius-sm);
  display: flex;
  justify-content: center;
  padding: 24px;
}
.nagbarOverride__5b95d {
  width: 100%;
}
.promotionSelector__5b95d {
  border-inline-end: 1px solid var(--border-subtle);
  margin-inline-end: var(--space-12);
  padding-inline-end: var(--space-12);
  width: 200px;
}
.chatInputSurface__5b95d {
  background: var(
    --background-gradient-highest,
    var(--chat-background-default)
  );
  border-radius: var(--radius-sm);
  display: flex;
  justify-content: center;
  padding: 24px;
}
:where(.card_b5dd01) {
  border-style: solid;
  border-width: 1px;
  position: relative;
  --__card-background-color: transparent;
  --__card-border-color: transparent;
  --__card-color: var(--text-default);
  background-color: var(--__card-background-color);
  border-color: var(--__card-border-color);
  border-radius: var(--radius-sm);
  color: var(--__card-color);
}
:where(.card_b5dd01) a:hover {
  text-decoration: underline;
}
.cardBrand_b5dd01 a,
.cardDanger_b5dd01 a,
.cardSuccess_b5dd01 a,
.cardWarning_b5dd01 a {
  font-weight: var(--font-weight-bold);
}
.cardDanger_b5dd01 {
  --__card-background-color: var(--background-feedback-critical);
  --__card-color: var(--text-feedback-critical);
  --__card-border-color: var(--border-feedback-critical);
}
.cardWarning_b5dd01 {
  --__card-background-color: var(--background-feedback-warning);
  --__card-color: var(--text-feedback-warning);
  --__card-border-color: var(--background-feedback-warning);
}
.cardSuccess_b5dd01 {
  --__card-background-color: var(--background-feedback-positive);
  --__card-color: var(--text-feedback-positive);
  --__card-border-color: var(--background-feedback-positive);
}
.cardBrand_b5dd01 {
  --__card-background-color: var(--background-brand);
  --__card-color: var(--text-overlay-dark);
  --__card-border-color: var(--background-brand);
}
.cardOutline_b5dd01 {
  --__card-background-color: transparent;
}
.cardBrand_b5dd01 a,
.cardDanger_b5dd01 a,
.cardSuccess_b5dd01 a,
.cardWarning_b5dd01 a {
  color: var(--white);
}
.cardPrimary_b5dd01 {
  --__card-background-color: var(--card-background-default);
  --__card-border-color: var(--border-subtle);
  --__card-color: var(--text-default);
}
.elevated__3f12a {
  box-shadow:
    0 2px 10px 0 hsl(var(--primary-900-hsl) / 0.2),
    0 0 0 1px var(--primary-700);
}
.button__3f12a {
  margin: 12px auto 20px;
  width: 85%;
}
.buttonTitle__3f12a {
  margin: 20px 20px 0;
  text-align: center;
}
.text__3f12a {
  text-align: start;
}
.buttonLogin__3f12a {
  font-size: 12px;
  font-weight: var(--font-weight-semibold);
}
.card__3f12a {
  background: var(--primary-700);
  border-color: var(--primary-700);
  margin: 16px;
}
.cardContents__3f12a {
  margin: 0 auto;
  max-width: 400px;
}
.cardAccentLeft__3f12a {
  inset-inline-start: 0;
}
.cardAccentLeft__3f12a,
.cardAccentRight__3f12a {
  bottom: 0;
  opacity: 0.3;
  position: absolute;
}
.cardAccentRight__3f12a {
  inset-inline-end: 0;
}

/*# sourceMappingURL=6004.c519334dce153d04.css.map*/
