.applicationIcon__6dec9 {
  border-radius: 6px;
}
.container__42d0d {
  align-items: center;
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}
.cardContainer__47729 {
  align-items: center;
  background-position: 50%;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.cardContainer__47729.square__47729 {
  aspect-ratio: 1;
  border-radius: var(--radius-sm);
}
.cardContainerRelative__47729 {
  position: relative;
}
.cardContainerAbsolute__47729 {
  position: absolute;
}
.cardBackgroundImage__47729 {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  inset-inline: 0;
  bottom: 0;
  position: absolute;
  top: 0;
}
.skuImage__47729 {
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  z-index: 1;
}
.skuImage__47729.square__47729 {
  aspect-ratio: 1;
  border-radius: var(--radius-xs);
}
.invoiceTable__25766 {
  margin-bottom: 16px;
}
.invoiceRow__25766 {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: var(--font-weight-medium);
  gap: 10px;
  line-height: 20px;
}
.invoiceRow__25766:not(:last-child) {
  margin-bottom: 8px;
}
.invoiceTagColumn__25766 {
  flex: 1;
}
.invoiceDescriptionColumn__25766 {
  flex: 5;
}
.invoiceRegularText__25766 {
  color: var(--text-strong);
}
.invoiceDiscountText__25766 {
  color: var(--text-feedback-positive);
}
.invoiceDiscountTag__25766 {
  background-color: var(--green-360);
  border-radius: 12px;
  display: inline-block;
  padding: 2px 6px;
  position: relative;
  text-align: center;
}
.totalRow__25766 {
  font-weight: 700;
}
.slayerStorefrontProductPreview__25766 {
  box-sizing: border-box;
  height: 48px;
  width: 48px;
}
.invoiceProductPreviewImage__25766 {
  max-height: 64px;
  max-width: 64px;
}
.rentalDescription__25766 {
  color: var(--text-muted);
  display: block;
  margin-top: 4px;
}
.lockup_f14041 {
  display: grid;
  place-items: center;
}
.layer_f14041 {
  grid-area: 1/1;
}
.layer_f14041 img {
  display: block;
}
.container_da8ac7 {
  align-items: center;
  display: flex;
  gap: var(--space-12);
  width: 100%;
}
.content_da8ac7 {
  flex: 1;
  min-width: 0;
}
.bottomSubText_da8ac7 {
  margin-top: var(--space-12);
}
.header_da8ac7 {
  align-items: center;
  display: flex;
  gap: var(--space-4);
  margin-bottom: var(--space-4);
}
.headerIcon_da8ac7 {
  border-radius: var(--radius-xs);
  height: 16px;
  width: 16px;
}
.details_da8ac7 {
  align-self: center;
  flex: 1;
}
.details_da8ac7,
.text_da8ac7 {
  display: flex;
  min-width: 0;
}
.text_da8ac7 {
  flex: 1;
  flex-direction: column;
  gap: var(--space-4);
  justify-content: space-between;
}
.capitalizedText_da8ac7 {
  text-transform: capitalize;
}
.targetIcon_da8ac7 {
  display: inline-block;
  height: 16px;
  margin-inline: 2px 1px;
  vertical-align: text-bottom;
  width: 16px;
}
.priceContainer_da8ac7 {
  align-items: flex-end;
  flex-direction: column;
  flex-shrink: 0;
}
.currentPrice_da8ac7,
.priceContainer_da8ac7 {
  display: flex;
  gap: var(--space-4);
}
.currentPrice_da8ac7 {
  align-items: center;
}
.strikethroughPrice_da8ac7 {
  text-decoration: line-through;
}
.inlineStrikethroughPrice_da8ac7 {
  text-decoration: line-through;
}
.inlineStrikethroughPrice_da8ac7,
.originalPrice_da8ac7 {
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}
.originalPrice_da8ac7 {
  white-space: nowrap;
}
.iconDefaultBackground_da8ac7 {
  background: var(--background-mod-subtle);
}
.icon_da8ac7 {
  align-items: center;
  align-self: flex-start;
  aspect-ratio: 1/1;
  border-radius: var(--radius-md);
  display: flex;
  height: 64px;
  justify-content: center;
  overflow: clip;
  position: relative;
  width: 64px;
}
.icon_da8ac7 .expressiveGradient_da8ac7,
.icon_da8ac7 .nitroCredit_da8ac7 {
  align-items: center;
  display: flex;
  inset: 0;
  justify-content: center;
  position: absolute;
}
.icon_da8ac7 .nitroCredit_da8ac7 {
  background: linear-gradient(322deg, #e978e6 6.26%, #2f3ebb 79.77%);
}
.icon_da8ac7 .nitroCredit_da8ac7 svg {
  filter: drop-shadow(0 4px 10px var(--shadow-low-hover));
}
.icon_da8ac7 .nitroBasic_da8ac7 {
  align-items: center;
  background: var(--background-mod-normal);
  display: flex;
  inset: 0;
  justify-content: center;
  position: absolute;
}
.bundleMiniStaticPreview_da8ac7 {
  height: 100%;
  width: 100%;
}
.purchaseItemImage_da8ac7 {
  height: 64px;
  -o-object-fit: cover;
  object-fit: cover;
  width: 64px;
}

/*# sourceMappingURL=64923.c6f19c9e8f6c41d5.css.map*/
