.popoutContainer_ce8328 {
  align-items: flex-end;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}
.body_ce8328 {
  padding: 4px 16px 16px;
}
.body_ce8328,
.menus_ce8328 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menuOverlay_ce8328 {
  padding: 8px;
}
.menuItem_ce8328 {
  display: flex;
  flex-direction: column;
}
.menuItem_ce8328:after {
  background-color: var(--user-profile-border);
  content: "";
  display: block;
  height: 1px;
  margin: 8px 4px;
}
.menuItem_ce8328:last-child:after {
  display: none;
}
.menuItemLabelText_ce8328 {
  line-height: 16px;
}
.menuItemInner_ce8328 {
  align-items: center;
  border-radius: 8px;
  box-sizing: border-box;
  color: var(--interactive-text-default);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.menuItemInner_ce8328:hover {
  background-color: var(--user-profile-overlay-background-hover);
  color: var(--interactive-text-hover);
}
.menuItemInner_ce8328:active {
  color: var(--interactive-text-active);
}
.menuItemContent_ce8328 {
  align-items: center;
  display: flex;
  flex-grow: 1;
  gap: 8px;
  justify-content: space-between;
  padding-bottom: var(--space-8);
  padding-inline-start: var(--space-8);
  padding-top: var(--space-8);
}
.menuItemContent_ce8328:last-child {
  padding-inline-end: var(--space-8);
}
.menuItemContent_ce8328 .submenuIconWrapper_ce8328 {
  padding-inline-end: 0;
}
.menuItemLabel_ce8328 {
  flex: 1;
  gap: 4px;
  justify-content: space-between;
  text-align: start;
}
.menuItemIcon_ce8328,
.menuItemLabel_ce8328 {
  align-items: center;
  display: flex;
}
.menuItemIcon_ce8328 {
  height: 16px;
  justify-content: center;
  width: 16px;
}
.menuItemLabelHeader_ce8328 {
  align-items: center;
  display: flex;
  gap: 8px;
}
.submenuIconWrapper_ce8328 {
  align-items: center;
  align-self: stretch;
  display: flex;
  padding: 0 var(--space-8);
}
.submenuPaddingContainer_ce8328 {
  padding: 0 12px;
}
.statusPickerModal_ce8328 {
  background: unset;
  border: none;
  box-shadow: none;
  width: 100%;
}
.statusPickerModalMenu_ce8328 {
  max-height: calc(100vh - 72px);
  overflow: hidden;
  width: 300px;
}
.mainStatusIcon_ce8328 {
  height: 12px;
  margin-top: 3.5px;
  margin-inline-start: 3px;
  width: 12px;
}
.statusItem_ce8328 {
  align-items: center;
  box-sizing: border-box;
  display: grid;
  grid-template-areas: "icon status" ". description";
  grid-template-columns: 20px 1fr;
  grid-template-rows: 20px 1fr;
  min-height: 20px;
  padding: 6px 8px;
}
.expiringStatusMenuItem_ce8328 {
  padding: 0;
}
.expiringStatusIcon_ce8328 {
  margin-inline-end: -6px;
}
.durationButtons_ce8328 {
  display: flex;
  grid-column-start: 2;
  justify-content: space-between;
  margin-bottom: 2px;
  margin-top: 6px;
}
.durationButton_ce8328 {
  height: 28px;
}
.status_ce8328 {
  align-items: center;
  display: flex;
  grid-area: status span 2;
}
.icon_ce8328 {
  grid-area: icon;
}
.description_ce8328 {
  color: currentColor;
  font-size: 12px;
  grid-area: description;
  line-height: 16px;
  margin-bottom: 2px;
  white-space: normal;
}
.themeContainer_ce8328 > div {
  max-height: calc(100vh - 124px);
}
.userInfo_ce8328 {
  margin-bottom: -4px;
}
.focusModeItem_ce8328 {
  padding-inline-start: 2px;
}
.focusModeIcon_ce8328 {
  height: 12px;
  margin-top: 3px;
  margin-inline-start: 8px;
  width: 12px;
}
.focusModeTitle_ce8328 {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.themeContainer_ce8328 {
  --custom-profile-frame-layer-scale: calc(
    300 / var(--custom-profile-frame-container-width)
  );
  --custom-profile-frame-scaled-overflow-horizontal: calc(
    var(--custom-profile-frame-overflow-horizontal) *
      var(--custom-profile-frame-layer-scale)
  );
  --custom-profile-frame-scaled-overflow-top: calc(
    var(--custom-profile-frame-overflow-top) *
      var(--custom-profile-frame-layer-scale)
  );
  --custom-profile-frame-scaled-overflow-bottom: calc(
    var(--custom-profile-frame-overflow-bottom) *
      var(--custom-profile-frame-layer-scale)
  );
}
.themeContainer_ce8328.custom-user-profile-theme {
  --custom-profile-frame-layer-scale: calc(
    308 / var(--custom-profile-frame-container-width)
  );
}
@media (min-height: 481px) {
  .themeContainer_ce8328.custom-profile-frame {
    margin-block-end: calc(
      var(--custom-profile-frame-scaled-overflow-bottom) * 1px
    );
    margin-inline-start: calc(
      var(--custom-profile-frame-overflow-horizontal) *
        var(--custom-profile-frame-layer-scale) * 1px
    );
  }
  .themeContainer_ce8328.custom-profile-frame > div {
    max-height: calc(
      100vh - 124px - var(--custom-profile-frame-scaled-overflow-top) * 1px -
        var(--custom-profile-frame-scaled-overflow-bottom) * 1px
    );
  }
}

/*# sourceMappingURL=65494.06241c487b9bd40f.css.map*/
