.container__1405b {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.eventPromptsContainer__1405b {
  bottom: 104px;
  position: absolute;
}
@media (max-width: 456px) {
  .controlButton__1405b {
    margin: 0 4px;
  }
}
.wrapper__1405b {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.buttonContainer__1405b {
  position: relative;
}
.buttonContainer__1405b,
.buttonSection__1405b {
  align-items: center;
  display: flex;
  justify-content: center;
}
.buttonSection__1405b {
  background: var(--background-surface-high);
  border: 1px solid var(--border-muted);
  border-radius: 12px;
  gap: 8px;
  padding: 4px;
}
@keyframes outgoing-call-pulse_f910d0 {
  0% {
    opacity: 0;
    transform: scaleX(1);
  }
  11.56% {
    opacity: 1;
  }
  39.02% {
    opacity: 0;
    transform: scale3d(1.1, 1.1, 1);
  }
  39.03% {
    transform: scaleX(1);
  }
  39.04% {
    opacity: 1;
  }
  66.48% {
    opacity: 0;
    transform: scale3d(1.1, 1.1, 1);
  }
  to {
    opacity: 0;
    transform: scaleX(1);
  }
}
@keyframes incoming-call-pulse_f910d0 {
  0% {
    opacity: 0;
    transform: scaleX(1);
  }
  0.7% {
    opacity: 1;
  }
  25.54% {
    opacity: 0;
    transform: scale3d(1.1, 1.1, 1);
  }
  25.55% {
    transform: scaleX(1);
  }
  25.56% {
    opacity: 1;
  }
  49.98% {
    opacity: 0;
    transform: scale3d(1.1, 1.1, 1);
  }
  49.99% {
    transform: scaleX(1);
  }
  50% {
    opacity: 1;
  }
  74.69% {
    opacity: 0;
    transform: scale3d(1.1, 1.1, 1);
  }
  74.70% {
    transform: scaleX(1);
  }
  74.71% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale3d(1.1, 1.1, 1);
  }
}
.clickable_f910d0 {
  cursor: pointer;
}
.wrapper_f910d0 {
  position: relative;
}
.wrapper_f910d0.ringingOutgoing_f910d0:after {
  animation: outgoing-call-pulse_f910d0
    var(--custom-call-avatar-outgoing-duration) infinite ease-out;
  background: transparent;
  border: 3px solid var(--interactive-text-active);
  border-radius: 100%;
  content: "";
  height: 100%;
  inset-inline-start: -3px;
  pointer-events: none;
  position: absolute;
  top: -3px;
  transform-origin: center;
  width: 100%;
}
.wrapper_f910d0.small_f910d0.ringingOutgoing_f910d0:after {
  border: 1px solid var(--interactive-text-active);
  inset-inline-start: -1px;
  top: -1px;
}
.wrapper_f910d0.ringingIncoming_f910d0:after {
  animation: incoming-call-pulse_f910d0
    var(--custom-call-avatar-incoming-duration) infinite ease-out;
  background: transparent;
  border: 3px solid var(--interactive-text-active);
  border-radius: 100%;
  content: "";
  height: 100%;
  inset-inline-start: -3px;
  pointer-events: none;
  position: absolute;
  top: -3px;
  transform-origin: center;
  width: 100%;
}
.statusContainer_f910d0 {
  background-color: var(--red-400);
  border-radius: 50%;
  bottom: 0;
  inset-inline-end: 0;
  padding: 4px;
  position: absolute;
}
.status_f910d0,
.statusContainer_f910d0 {
  height: 16px;
  width: 16px;
}
.voiceAvatar_f910d0 {
  border-radius: 50%;
  height: 100%;
  position: inherit;
  width: 100%;
}
.voiceAvatar_f910d0.ringingOutgoing_f910d0 {
  opacity: 0.3;
}
.border_f910d0 {
  border-radius: 50%;
  inset: 0;
  position: absolute;
}
.app-focused .border_f910d0 {
  transition: box-shadow 0.1s ease-out;
}
.overlay_f910d0 {
  align-items: center;
  background-color: var(--opacity-black-60);
  border-radius: 50%;
  display: flex;
  height: 100%;
  inset: 0;
  justify-content: center;
  position: absolute;
  width: 100%;
}
.overlayIcon_f910d0 {
  color: var(--white);
  height: 32px;
  width: 32px;
}
.callAvatarMask_f910d0 {
  overflow: visible;
  position: relative;
}
.callAvatarMaskContainer_f910d0 {
  height: 100%;
  position: relative;
}

/*# sourceMappingURL=65629.30678813a8b0e363.css.map*/
