.rewardPill_b9d8f0 {
  align-items: center;
  align-self: flex-start;
  background-color: var(--background-mod-subtle);
  border-radius: var(--radius-round);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  padding: var(--space-4) var(--space-12);
  text-align: center;
}
.rewardName_b9d8f0 {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.divider_b9d8f0 {
  border-inline-start: 1px solid var(--border-subtle);
  height: 100%;
  margin: 0 var(--space-4);
}
.container_c4abe9 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: var(--space-24);
}
.heroAsset_c93f8c {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  transition: opacity 0.7s;
  width: auto;
}
.heroAssetCont_c93f8c {
  align-items: center;
  background-color: var(--background-base-low);
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.heroAssetCont_c93f8c,
.heroAssetVideo_c93f8c {
  inset-inline-start: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.heroAssetVideo_c93f8c {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: opacity 0.4s;
}
.partnerBranding__83420 {
  align-items: center;
  display: flex;
  flex: 0 1 auto;
}
.partnerBrandingGameTile__83420 {
  display: block;
  flex: 0 0 auto;
  margin-inline-end: 8px;
}
.partnerBrandingLogotype__83420 {
  height: 24px;
  max-width: 92px;
  -o-object-fit: contain;
  object-fit: contain;
}
.partnerBrandingLogotypeWithCosponsor__83420 {
  flex: 0 0 auto;
  max-width: 44px;
}
.cosponsorBrandSeparatorWrapper__83420 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
}
.cosponsorBrandSeparator__83420 {
  height: 12px;
  width: 12px;
}
.container_b5b7aa {
  background-color: var(--background-surface-high);
  border-radius: 8px 8px 0 0;
  box-sizing: border-box;
  height: 150px;
  position: relative;
  width: 100%;
}
.positionContentOverBackground_b5b7aa {
  inset-inline-start: 0;
  position: absolute;
  top: 0;
  z-index: 2;
}
.contents_b5b7aa,
.positionContentOverBackground_b5b7aa {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.contents_b5b7aa {
  box-sizing: border-box;
  padding: 12px;
}
.heroAssetWrapper_b5b7aa {
  align-items: center;
  border-radius: 8px 8px 0 0;
  display: flex;
  height: 100%;
  inset-inline-start: 0;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.heroAssetCont_b5b7aa,
.overlay_b5b7aa {
  aspect-ratio: 1320/370;
}
.overlay_b5b7aa {
  background: linear-gradient(
    to top,
    var(--background-surface-high) 0,
    color-mix(in oklab, var(--background-surface-high) 95%, transparent) 20.31%,
    transparent 100%
  );
  border-radius: 8px 8px 0 0;
  inset-inline-start: 0;
  max-height: 150px;
  position: absolute;
  top: 0;
  z-index: 1;
}
.heroImage_b5b7aa,
.overlay_b5b7aa {
  width: 100%;
}
.topRow_b5b7aa {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: flex-end;
}
.pills_b5b7aa {
  margin-inline-end: auto;
}
.pills_b5b7aa,
.utilButtonWrapper_b5b7aa {
  align-items: center;
  display: flex;
}
.utilButtonWrapper_b5b7aa {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background-color: hsl(var(--primary-700-hsl) / 0.48);
  border-radius: 50%;
  box-shadow: var(--shadow-medium);
  cursor: pointer;
  height: 24px;
  justify-content: center;
  justify-self: flex-end;
  transition: background-color 0.15s ease-in-out;
  width: 24px;
}
.utilButtonWrapper_b5b7aa:active,
.utilButtonWrapper_b5b7aa:focus,
.utilButtonWrapper_b5b7aa:hover {
  background-color: hsl(var(--primary-700-hsl) / 0.7);
}
.theme-light .container_b5b7aa {
  background-color: var(--black);
}
.theme-light .overlay_b5b7aa {
  background: linear-gradient(
    to top,
    var(--black) 0,
    hsl(var(--black-hsl) / 0.5) 20.31%,
    hsl(var(--black-hsl) / 0) 100%
  );
}
.theme-light .utilButtonWrapper_b5b7aa {
  background-color: hsl(var(--primary-100-hsl) / 0.66);
}
.theme-light .utilButtonWrapper_b5b7aa:active,
.theme-light .utilButtonWrapper_b5b7aa:focus,
.theme-light .utilButtonWrapper_b5b7aa:hover {
  background-color: hsl(var(--primary-100-hsl) / 1);
}
.reduce-motion .utilButtonWrapper_b5b7aa {
  transition: none;
}
.utilButtonIcon_b5b7aa {
  color: var(--interactive-text-active);
  height: 16px;
  width: 16px;
}
.utilButtonIconInformation_b5b7aa {
  color: var(--interactive-text-active);
  height: 14px;
  width: 14px;
}
.partnerBranding_b5b7aa {
  justify-self: flex-end;
  margin-bottom: 4px;
  margin-top: auto;
}
.partnerLogotypes_b5b7aa.partnerLogotypes_b5b7aa {
  align-items: flex-end;
  display: flex;
  height: auto;
  justify-content: flex-start;
  max-height: 34px;
  max-width: 121px;
  width: -moz-min-content;
  width: min-content;
}
.bottomRow_b5b7aa,
.hints_b5b7aa {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.hints_b5b7aa {
  border-top: 1px solid var(--border-muted);
  padding: 12px;
}
.hintsContainer_b5b7aa {
  gap: 8px;
}
.hintsContainer_b5b7aa,
.promotedByRow_b5b7aa {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.verifiedIcon_b5b7aa {
  margin: 0 3px;
}
.container_cec934 {
  align-items: center;
  background-color: var(--background-surface-high);
  border: 1px solid var(--border-muted);
  border-radius: 10px;
  box-shadow: var(--shadow-low);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  max-height: 316px;
  min-width: 336px;
  overflow: hidden;
  width: 100%;
}
.questEmbedCard__4d6dc {
  isolation: isolate;
  max-width: 425px;
}
.spinner__255ba {
  margin-top: 40px;
}
.embedCard_b5ecb2 {
  align-self: center;
  gap: 24px;
  min-width: min(100%, 687px);
  padding: 32px;
  width: -moz-fit-content;
  width: fit-content;
}
.embedCard_b5ecb2,
.embedSections_b5ecb2 {
  display: flex;
  flex-direction: column;
}
.embedSections_b5ecb2 {
  gap: var(--space-sm);
}
.embedHeading_b5ecb2,
.embedHelper_b5ecb2 {
  margin-bottom: 8px;
}
.helperText_b5ecb2 {
  color: var(--text-muted);
  font-size: 12px;
  font-style: italic;
}
.embedWrapper_b5ecb2 {
  display: flex;
  justify-content: center;
}
.embedSection_b5ecb2 {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}
.embedSection_b5ecb2:hover {
  border-color: var(--border-subtle);
}
.fixedEmbed_b5ecb2 {
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.desktopEmbed_b5ecb2 {
  width: 687px;
}
.tabletEmbed_b5ecb2 {
  width: 450px;
}
.mobileEmbed_b5ecb2 {
  width: 300px;
}
.sizeLabel_b5ecb2 {
  color: var(--text-muted);
  font-size: 12px;
  font-style: italic;
  margin-inline-start: 8px;
}
.questsEmbed_b5ecb2 {
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  height: 100%;
  max-width: 687px;
  min-width: 300px;
  overflow: auto;
  position: relative;
  resize: horizontal;
  width: 451px;
}
.container__3a1f6 {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}
.heroDisplayContainer__3a1f6 {
  -webkit-mask-image: linear-gradient(180deg, #000 0, transparent);
  mask-image: linear-gradient(180deg, #000 0, transparent);
  max-height: 190px;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
  position: relative;
  width: 100%;
}
.partnerLogotypeContainer__3a1f6 {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  pointer-events: none;
}
.partnerLogotype__3a1f6 {
  height: 69px;
  max-width: 50%;
  -o-object-fit: contain;
  object-fit: contain;
  width: auto;
}
.partnerContentContainer__3a1f6 {
  display: flex;
  flex-direction: row;
  padding-inline: 24px;
}
.partnerCopyContainer__3a1f6 {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-inline-end: var(--space-16);
}
.partnerGameTile__3a1f6 {
  border: 1px solid var(--border-subtle);
  border-radius: var(--radius-sm);
  height: 42px;
  pointer-events: none;
  width: auto;
}
.partnerTitle__3a1f6 {
  padding-bottom: 4px;
}
.bottomContainer__3a1f6 {
  padding: 24px;
}
.closeButton__23c09 {
  inset-inline-end: 12px;
  position: absolute;
  top: 12px;
  z-index: 100;
}
.modal__23c09 {
  height: 524px;
  overflow: hidden;
}
.refWrapper__23c09 {
  height: 100%;
}
.modalContent__23c09 {
  display: flex;
  height: 100%;
}
.leftPanel__23c09 {
  background: radial-gradient(
    ellipse at top left,
    var(--expressive-gradient-purple-end) 0,
    transparent 70%
  );
  height: 100%;
  width: 300px;
}
.rightPanel__23c09 {
  height: 100%;
  width: 454px;
}
.spinner__23c09 {
  inset-inline-start: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.contentContainer__1ae3d {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.rewardTileContainer__1ae3d {
  align-content: center;
  flex: 1;
  justify-items: center;
}
.rewardTileAsset__1ae3d {
  border: 1px solid var(--border-normal);
  border-radius: var(--radius-lg);
  height: 148px;
  -o-object-fit: cover;
  object-fit: cover;
  width: auto;
}
.copyContainer__1ae3d {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
.heading__1ae3d {
  margin-bottom: 4px;
}
.mainCodeInput__1ae3d {
  height: 48px;
}
.claimInstructionsCodeInputTitle__1ae3d,
.claimInstructionsText__1ae3d {
  margin-bottom: 8px;
}
.codeClaimInputSmallFont__1ae3d {
  font-size: 14px;
}
.contentContainer__6f766 {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.previewContainer__6f766 {
  align-content: center;
  flex: 1;
  justify-items: center;
}
.copyContainer__6f766 {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
.heading__6f766 {
  margin-bottom: 4px;
}
.contentContainer__665be {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.rewardTileContainer__665be {
  align-content: center;
  flex: 1;
  justify-items: center;
}
.rewardTile__665be {
  height: auto;
  width: 148px;
}
.copyContainer__665be {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
.heading__665be {
  margin-bottom: 4px;
}
.contentContainer_e1347e {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.orbsContainer_e1347e {
  align-items: center;
  flex: 1;
  justify-content: center;
  position: relative;
}
.centerOrb_e1347e {
  height: auto;
  inset-inline-start: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  z-index: 1;
}
.idleOrb_e1347e {
  z-index: 2;
}
.hidden_e1347e {
  display: none;
}
.smallOrbContainer_e1347e {
  inset-inline-start: 50%;
  position: absolute;
  top: 50%;
}
.smallOrb_e1347e {
  height: auto;
  opacity: 0.1;
  position: absolute;
}
.smallOrb_e1347e:first-child {
  bottom: 0;
  inset-inline-end: 64px;
  width: 61px;
}
.smallOrb_e1347e:nth-child(2) {
  bottom: 56px;
  inset-inline-end: 28px;
  width: 29px;
}
.smallOrb_e1347e:nth-child(3) {
  bottom: 60px;
  inset-inline-start: 21px;
  width: 29px;
}
.smallOrb_e1347e:nth-child(4) {
  bottom: 0;
  inset-inline-start: 60px;
  width: 61px;
}
.copyContainer_e1347e {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
.heading_e1347e {
  align-items: center;
  display: flex;
  gap: 4px;
  margin-bottom: 4px;
}
.orbsIcon_e1347e {
  height: auto;
  width: 22px;
}
.container_d03433 {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.heroDisplay_d03433 {
  -webkit-mask-image: linear-gradient(180deg, #000 0, transparent);
  mask-image: linear-gradient(180deg, #000 0, transparent);
  max-height: 190px;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
  position: relative;
  width: 100%;
}
.partnerLogotypeContainer_d03433 {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  pointer-events: none;
}
.partnerLogotype_d03433 {
  height: 69px;
  max-width: 50%;
  -o-object-fit: contain;
  object-fit: contain;
  width: auto;
}
.partnerContentContainer_d03433 {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--space-16);
  padding-inline: 24px;
}
.partnerGameTile_d03433 {
  border: 1px solid var(--border-subtle);
  border-radius: var(--radius-sm);
  height: 42px;
  pointer-events: none;
  width: auto;
}
.partnerCopyContainer_d03433 {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.partnerTitle_d03433 {
  padding-bottom: 4px;
}
.rightCtaSlot_d03433 {
  padding: 24px;
}
.modalButtons_c01479 {
  display: flex;
  gap: 8px;
  inset-inline-end: 12px;
  position: absolute;
  top: 12px;
  z-index: 100;
}
.modal_aa8c67 {
  height: 524px;
  overflow: hidden;
}
.refWrapper_aa8c67 {
  height: 100%;
}
.modalContent_aa8c67 {
  display: flex;
  height: 100%;
}
.leftPanel_aa8c67 {
  background: radial-gradient(
    ellipse at top left,
    var(--expressive-gradient-purple-end) 0,
    transparent 70%
  );
  height: 100%;
  width: 300px;
}
.rightPanel_aa8c67 {
  height: 100%;
  width: 454px;
}
.spinner_aa8c67 {
  inset-inline-start: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.container__4b182 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 24px;
}
.title__4b182 {
  margin: 0 0 8px;
}
.subtitle__4b182 {
  margin: 0 0 16px;
}
.methodSelectSlot__4b182 {
  display: flex;
  flex: 0 0 auto;
  margin-bottom: 8px;
  width: 100%;
}
.methodSelectSlot__4b182 > * {
  flex: 0 0 auto;
  width: 100%;
}
.leftCtaSlot__4b182 {
  margin-top: auto;
}

/*# sourceMappingURL=6953.7cb1d69548cac858.css.map*/
