.promotionalGiftMessage__6fbbd {
  border-radius: 0 0 16px 16px;
  display: flex;
  flex-direction: row;
  inset-inline-end: 24px;
  justify-content: space-between;
  min-height: 24px;
  padding: 12px 24px;
  position: relative;
  top: 24px;
  width: 100%;
}
.promotionalTextSection__6fbbd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline-end: 12px;
}
.avatar__6fbbd {
  bottom: -15px;
  inset-inline-end: 0;
  position: absolute;
}
.container__481b4 {
  align-items: center;
  background: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0.1) 50%,
    hsla(0, 0%, 100%, 0)
  );
  display: flex;
  height: 36px;
}
.text__481b4 {
  margin-inline-start: 6px;
}
.textWithAD__481b4 {
  margin-inline-start: 9px;
}
.trialHeader__874f0 {
  margin-bottom: 18px;
  max-width: 60%;
  position: relative;
  z-index: 2;
}
.price__874f0 {
  margin: 0 0 8px;
}
.price__874f0:last-of-type {
  margin: 0 0 18px;
}
.premiumCards_b807c8 {
  display: flex;
  gap: 24px;
  width: 100%;
}
.card_b807c8 {
  border-radius: 16px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  position: relative;
  width: 50%;
}
.card_b807c8.withCardHover_b807c8:hover {
  box-shadow: var(--legacy-elevation-high);
}
.wumpusImageContainer_b807c8 {
  border-start-end-radius: 16px;
  filter: saturate(var(--saturation-factor, 1));
  inset-inline-end: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 40%;
}
.wumpusImage_b807c8 {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.tier0_b807c8.withTier0Rim_b807c8:before {
  border-radius: var(--radius-lg);
  content: "";
  position: absolute;
  top: 0;
  inset-inline: 0;
  bottom: 0;
  margin: -1px;
  z-index: -1;
}
.tier0_b807c8 {
  background-image: var(--custom-premium-colors-premium-gradient-tier-0);
}
.tier2_b807c8 {
  background-image: var(--custom-premium-colors-premium-gradient-tier-2);
}
.tier2_b807c8.withTier2Rim_b807c8:before {
  border-radius: var(--radius-lg);
  content: "";
  position: absolute;
  top: 0;
  inset-inline: 0;
  bottom: 0;
  margin: -1px;
  z-index: -1;
}
.applicationHomeTextLightMode_b807c8 {
  pointer-events: inherit;
}
.tier0Title_b807c8 {
  height: 40px;
  width: 106px;
}
.tier2Title_b807c8 {
  display: block;
  height: 24px;
  width: 96px;
}
.item_b807c8,
.title_b807c8 {
  margin-bottom: 8px;
}
.item_b807c8 {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.item_b807c8:last-child {
  margin-bottom: 0;
}
.tier2ApplicationHomeSubheader_b807c8 {
  color: var(--white);
  margin-bottom: 6px;
}
.itemApplicationHome_b807c8 {
  color: var(--white);
}
.theme-light .applicationHomeTextLightMode_b807c8 {
  color: var(--black);
}
.itemWithWumpus_b807c8 {
}
.itemWithWumpus_b807c8:first-of-type {
  max-width: 100%;
}
.icon_b807c8 {
  height: 24px;
  margin-inline-end: 8px;
  width: 24px;
}
.smallIcon_b807c8 {
  height: 18px;
  margin-inline-end: 10px;
  width: 18px;
}
.freeTrialPillInlineBlock_b807c8 {
  background: var(--white);
  border-radius: var(--radius-md);
  color: var(--black);
  display: inline-block;
  font-weight: var(--font-weight-extra-bold);
  line-height: 12px;
  mix-blend-mode: screen;
  padding-bottom: 4px;
  padding-top: 4px;
  padding-inline: 8px;
  text-transform: uppercase;
}
.freeTrialPillInline_b807c8 {
  margin-bottom: 8px;
  margin-top: 4px;
  max-width: 60%;
}
.newTagItem_b807c8 {
  background: #fff;
  border-radius: 8px;
  color: var(--premium-tier-2-purple-for-gradients);
  margin-inline-start: 8px;
}
.topRimPill_b807c8 {
  inset-inline-start: 50%;
  position: absolute;
  top: -15px;
  transform: translateX(-50%);
  z-index: 2;
}
.rimGlowTier0_b807c8 {
  background: linear-gradient(
    -90deg,
    var(--premium-tier-0-purple-for-gradients) 0,
    #fff 4.98%,
    #fff 50.52%,
    var(--premium-tier-0-blue-for-gradients) 100%
  );
  inset-inline-end: 5%;
  top: -1px;
  width: 88%;
}
.rimGlowTier0_b807c8,
.rimGlowTier2_b807c8 {
  height: 1px;
  position: absolute;
  z-index: 1;
}
.rimGlowTier2_b807c8 {
  background: linear-gradient(
    -90deg,
    var(--premium-tier-2-purple-for-gradients) 0,
    #fff 4.98%,
    #fff 50.52%,
    var(--premium-tier-2-pink-for-gradients) 100%
  );
  inset-inline-end: 5%;
  top: -1px;
  width: 88%;
}
.withPromotionalGradientBanner_b807c8 {
  background: linear-gradient(100.98deg, #8547c6, #b845c1, #ab5d8a);
  border-end-end-radius: 17px;
  border-end-start-radius: 17px;
  box-sizing: border-box;
  overflow: hidden;
}
.withPromotionalGradientBanner_b807c8.withPromotionalCardImage_b807c8 {
  background: linear-gradient(
    100.98deg,
    rgba(133, 71, 198, 0.82),
    rgba(184, 69, 193, 0.82),
    rgba(171, 93, 138, 0.82)
  );
}
.promotionalCardImage_b807c8 {
  inset-inline-end: 0;
  position: absolute;
  top: 0;
  transform: scale(50%);
  transform-origin: top right;
  z-index: -1;
}
.promotionalBackgroundImage_b807c8 {
  inset-inline-end: 0;
  position: absolute;
  top: 0;
  transform: scale(65%);
  transform-origin: top right;
}
.subButton_b807c8 {
  margin-top: 60px;
}
.buttonShine_b807c8 {
  color: hsl(var(--brand-500-hsl) / 0.1);
}
.subButtonText_b807c8 {
  color: var(--brand-500);
}
.premiumCards_a2332b {
  align-items: stretch;
  display: flex;
  gap: var(--space-32);
  width: 100%;
}
.premiumCardHover_a2332b {
  transition: transform 0.4s
    linear(
      0,
      0.372 7.6%,
      0.658 15.6%,
      0.866 24.2%,
      0.942 28.8%,
      1.002 33.7%,
      1.036 37.8%,
      1.061 42.2%,
      1.075 46.9%,
      1.08 52%,
      1.069 61%,
      1.011 85%,
      1
    );
}
.premiumCardHover_a2332b:hover {
  position: relative;
  transform: scale(1.0975) translateZ(0);
  z-index: 1;
}
.tier2ApplicationHomeSubheader_a2332b {
  margin-bottom: var(--space-16);
}
.applicationHomeCard_a2332b {
  border-radius: var(--radius-lg) !important;
  box-sizing: border-box;
  flex: 1;
  height: 100%;
  margin: 0 auto;
  min-height: 470px;
  width: 390px;
}
.applicationHomeCard_a2332b.narrow_a2332b {
  width: 354px;
}
.card_a2332b {
  background: var(--background-surface-higher);
  border: 1px solid var(--border-subtle);
  border-radius: var(--radius-sm);
  display: flex;
  flex-direction: column;
  padding: var(--space-24);
  position: relative;
  text-align: start;
}
.card_a2332b.withGiftBanner_a2332b {
  padding-bottom: 60px;
}
.card_a2332b.withGiftBanner_a2332b.giftSelectionModalContext_a2332b {
  padding-bottom: 75px;
}
.card_a2332b.giftSelectionModalContext_a2332b .cardTitle_a2332b {
  font-size: 30px;
  line-height: 25px;
}
.card_a2332b.borderGradient_a2332b {
  background: var(--background-surface-higher);
  border: none;
  position: relative;
}
.card_a2332b.borderGradient_a2332b:after {
  background: linear-gradient(
    to bottom,
    var(--illo-pink-50) 0,
    var(--illo-nitro-blue) 100%
  );
  border-radius: calc(var(--radius-sm) + 1px);
  content: "";
  inset: -1px;
  opacity: 0.8;
  position: absolute;
  z-index: -1;
}
.card_a2332b.borderGradient_a2332b.applicationHomeCard_a2332b:after {
  border-radius: var(--radius-lg);
}
.tier0_a2332b.pillMargin_a2332b {
  margin-top: var(--space-24);
}
.wordmark_a2332b {
  margin-bottom: var(--space-8);
  min-height: 25px;
  width: -moz-fit-content;
  width: fit-content;
}
.wumpus_a2332b {
  position: absolute;
  z-index: 1;
}
.wumpus_a2332b.inCard_a2332b {
  inset-inline-end: 24px;
  top: 30px;
}
.wumpus_a2332b.outerCorner_a2332b {
  height: 165px;
  inset-inline-end: -33px;
  top: -40px;
}
.wumpus_a2332b.insideCorner_a2332b {
  inset-inline-end: 10px;
  top: -20px;
}
.wumpus_a2332b.giftSelectionModal_a2332b {
  height: 121px;
  inset-inline-end: 12px;
  -o-object-fit: contain;
  object-fit: contain;
  top: 40px;
  width: 106px;
}
.wumpus_a2332b.noGiftPrice_a2332b {
  height: auto;
  width: 75px;
}
.wumpus_a2332b.withAnnualDiscountBanner_a2332b {
  inset-inline-end: 10px;
  top: -40px;
}
.bigCloud_a2332b {
  opacity: 0.62;
  position: absolute;
  width: 86px;
}
.bigCloud_a2332b.inCard_a2332b {
  inset-inline-end: 8px;
  top: 12px;
}
.bigCloud_a2332b.insideCorner_a2332b,
.bigCloud_a2332b.outerCorner_a2332b {
  inset-inline-end: 140px;
  top: 105px;
  width: 40px;
}
.bigCloud_a2332b.giftSelectionModal_a2332b {
  height: 20px;
  inset-inline-end: 4px;
  -o-object-fit: fill;
  object-fit: fill;
  -o-object-position: right top;
  object-position: right top;
  top: 20px;
  width: 67px;
}
.smallCloud_a2332b {
  opacity: 0.42;
  position: absolute;
  width: 47px;
}
.smallCloud_a2332b.inCard_a2332b {
  inset-inline-end: 172px;
  top: 40px;
}
.smallCloud_a2332b.insideCorner_a2332b,
.smallCloud_a2332b.outerCorner_a2332b {
  inset-inline-end: 172px;
  top: 65px;
}
.smallCloud_a2332b.giftSelectionModal_a2332b {
  height: 14px;
  inset-inline-end: 110px;
  inset-inline-start: auto;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: right top;
  object-position: right top;
  top: 35px;
  width: 37px;
}
.divider_a2332b {
  margin: var(--space-16) 0;
  opacity: 0.1;
  z-index: 0;
}
.annualDiscountBanner_a2332b {
  align-items: center;
  background: var(--background-mod-muted);
  border-radius: var(--radius-md);
  display: flex;
  gap: var(--space-12);
  justify-content: space-between;
  margin-bottom: var(--space-12);
  margin-top: var(--space-6);
  padding: var(--space-12) var(--space-16);
  position: relative;
  z-index: 1;
}
.annualDiscountBannerText_a2332b {
  display: flex;
  flex-direction: column;
  gap: 2px;
  min-width: 0;
}
.firstFeatureItemContainer_a2332b {
  max-width: 250px;
}
.featureItem_a2332b {
  align-items: center;
  color: var(--text-default);
  display: flex;
  flex-direction: row;
  margin-bottom: var(--space-8);
}
.featureItem_a2332b:last-child {
  margin-bottom: 0;
}
.featureItemApplicationHome_a2332b {
  margin-bottom: var(--space-12);
}
.promotionalBackgroundImage_a2332b {
  inset-inline-end: 0;
  position: absolute;
  top: 0;
  transform: scale(50%);
  transform-origin: top right;
}
.priceHeader_a2332b {
  margin-top: var(--space-4);
}
.pill_a2332b {
  inset-inline-start: 50%;
  position: absolute;
  top: 1px;
  transform: translate(-50%, -50%);
}
.tierCardStack_a2332b {
  align-self: stretch;
  flex: 1;
  height: 100%;
  min-height: 0;
  min-width: 0;
}
.tierCardStack_a2332b[role="button"] {
  cursor: pointer;
}
.tierCardStackContent_a2332b {
  margin-bottom: var(--space-24);
}
.footer_a2332b {
  flex: 0 0 auto;
}
.premiumCardsContainer_a2332b {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.premiumCardsHeader_a2332b {
  font-style: italic;
  margin-bottom: var(--space-64);
  text-align: center;
  text-transform: uppercase;
}
.tier0CardOrder_a2332b {
  order: 0;
}
.tier2CardOrder_a2332b {
  order: 1;
}
.premiumGroupCardOrder_a2332b {
  order: 2;
}
@container premium-marketing-page-container (max-width: 960px) {
  .premiumCards_a2332b {
    flex-direction: column;
  }
  .tierCardStack_a2332b {
    flex: initial;
  }
  .applicationHomeCard_a2332b {
    flex: initial;
    height: auto;
  }
  .tier0CardOrder_a2332b {
    order: 1;
  }
  .tier2CardOrder_a2332b {
    order: 0;
  }
}
.cardTitle_a2332b {
  font-size: 32px;
  font-style: italic;
  line-height: 27px;
  text-transform: uppercase;
}
.betaPill_a2332b,
.cardTitle_a2332b {
  margin-bottom: 8px;
}
.cardHeader_a2332b {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*# sourceMappingURL=7339.b50ff4e3633f85f4.css.map*/
