.container__35859 {
  border-radius: var(--radius-sm);
  box-sizing: border-box;
  display: grid;
  font-weight: 500;
  grid-template-rows: 1fr;
  padding: 8px;
  transition-duration: var(--expand-structural-duration);
  transition-property: grid-template-rows, padding-bottom, padding-top,
    border-width;
  transition-timing-function: var(--expand-easing-function);
  width: 100%;
}
.container__35859.hidden__35859 {
  border-width: 0;
  grid-template-rows: 0fr;
  padding-bottom: 0;
  padding-top: 0;
  transition-delay: var(--collapse-fade-duration);
  transition-duration: var(--collapse-structural-duration);
  transition-property: grid-template-rows, padding-bottom, padding-top,
    border-width;
  transition-timing-function: var(--collapse-easing-function);
}
.innerContainer__35859 {
  display: flex;
  min-height: 0;
  opacity: 1;
  overflow: hidden;
  transition-delay: var(--expand-structural-duration);
  transition-duration: var(--expand-fade-duration);
  transition-property: opacity;
  transition-timing-function: var(--expand-easing-function);
}
.container__35859.hidden__35859 .innerContainer__35859 {
  opacity: 0;
  transition-delay: 0s;
  transition-duration: var(--collapse-fade-duration);
  transition-property: opacity;
  transition-timing-function: var(--collapse-easing-function);
}
.icon__35859 {
  flex-shrink: 0;
  height: 20px;
  width: 20px;
}
.iconDiv__35859 {
  display: flex;
}
.iconDivCenter__35859,
.text__35859 {
  align-self: center;
}
.text__35859 {
  flex: 1;
  margin-left: var(--space-8);
}
.text__35859 p {
  margin: 0;
}
.text__35859 p ~ p {
  margin-top: 8px;
}
.positive__35859 {
  background: var(--background-feedback-positive);
  border: 1px solid var(--icon-feedback-positive);
  color: var(--text-feedback-positive);
}
.positive__35859 .icon__35859 {
  color: var(--icon-feedback-positive);
}
.warning__35859 {
  background: var(--background-feedback-warning);
  border: 1px solid var(--icon-feedback-warning);
  color: var(--text-feedback-warning);
}
.warning__35859 .icon__35859 {
  color: var(--icon-feedback-warning);
}
.info__35859 {
  background: var(--background-feedback-info);
  border: 1px solid var(--icon-feedback-info);
  color: var(--text-feedback-info);
}
.info__35859 .icon__35859 {
  color: var(--icon-feedback-info);
}
.error__35859 {
  background: var(--background-feedback-critical);
  border: 1px solid var(--icon-feedback-critical);
  color: var(--text-feedback-critical);
}
.error__35859 .icon__35859 {
  color: var(--icon-feedback-critical);
}
.actionContainer__35859 {
  margin-bottom: auto;
  margin-left: 16px;
  margin-top: auto;
}
.scrim__40128 {
  background-color: var(--background-scrim);
  bottom: 0;
  left: 0;
  pointer-events: auto;
  position: fixed;
  right: var(--devtools-sidebar-width, 0);
  top: 0;
  transform: translateZ(0);
}
.blur__40128 {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}
.lightbox__40128 {
  background-color: var(--background-scrim-lightbox);
}
.pointerEventsNone__40128 {
  pointer-events: none;
}
.layer__529b0 {
  position: fixed;
  z-index: 9999;
}
.layerContainer__59d0d {
  background: none !important;
  right: var(--devtools-sidebar-width, 0);
  z-index: 1002;
}
.clickTrapContainer__59d0d,
.layerContainer__59d0d {
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
}
.clickTrapContainer__59d0d {
  overflow: hidden;
  right: 0;
}
.clickTrapContainer__59d0d.trapClicks__59d0d,
.layer__59d0d {
  pointer-events: auto;
}
.layer__59d0d {
  position: absolute;
}
.emptyError__59d0d:empty:before {
  background-color: red;
  border: 10px dashed var(--green-230);
  color: var(--white);
  content: "RENDERING NULL FOR A POPOUT/MODAL/LAYER WILL BREAK THE APP";
  display: block;
  font-size: 32px;
  font-weight: var(--font-weight-bold);
  max-width: 500px;
  padding: 8px;
  word-break: break-word;
}
.layerHidden__59d0d {
  visibility: hidden;
}
.disabledPointerEvents__59d0d {
  pointer-events: none;
}
.backdrop_bc663c {
  background-color: var(--black);
}
.backdrop_bc663c,
.layer_bc663c {
  inset: 0;
  position: absolute;
}
.layer_bc663c {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0;
  padding-bottom: var(--space-24);
  padding-top: var(--space-24);
}
.layer_bc663c:has([data-modal-align="top"]) {
  bottom: auto;
  padding-top: 0;
}
.inactive_bc663c > * {
  pointer-events: none !important;
  z-index: -1;
}
.content__6e5a0 {
  padding-bottom: 20px;
}
.cancelButton__6e5a0 {
  margin-inline-end: var(--space-12);
}

/*# sourceMappingURL=739777.5cf09fd96ddb22ca.css.map*/
