.page__1c2c9 {
  background-color: var(--background-base-low);
  display: flex;
  flex-direction: column;
  inset: 0;
  overflow-y: auto;
  position: fixed;
}
.headerTitleRow__1c2c9 {
  align-items: center;
  display: flex;
  gap: var(--space-4);
  min-width: 0;
}
.headerTitle__1c2c9 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.hero__1c2c9 {
  background-color: var(--background-base-lowest);
  background-position: 50%;
  background-size: cover;
  flex-shrink: 0;
  height: 124px;
}
.heroDetails__1c2c9 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  margin: 0 auto;
  max-width: 480px;
  padding: 0 var(--space-16) var(--space-16);
  text-align: start;
  width: 100%;
}
.heroGuildIcon__1c2c9 {
  margin-top: -32px;
}
.divider__1c2c9 {
  background: var(--border-subtle);
  flex-shrink: 0;
  height: 1px;
  width: 100%;
}
.body__1c2c9 {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 480px;
  padding: var(--space-16) var(--space-16) var(--space-24);
  text-align: start;
  width: 100%;
}
.body__1c2c9 a {
  color: var(--text-link);
}
.openAppLink__1c2c9 {
  margin-top: var(--space-20);
}
.joinedContainer__1c2c9 {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 480px;
  padding: var(--space-16) var(--space-16) 0;
}
.joinedContainer__1c2c9,
.joinedContent__1c2c9 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
.joinedContent__1c2c9 {
  justify-content: center;
}
.joinedBody__1c2c9,
.joinedHeader__1c2c9 {
  margin-top: var(--space-8);
}
.getAppButton__1c2c9 {
  margin-top: var(--space-16);
}
.joinedAppPreview__1c2c9 {
  flex-shrink: 0;
  margin-top: var(--space-24);
  max-height: 300px;
  max-width: 280px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.joinedAppPreview__1c2c9 img {
  display: block;
  width: 100%;
}
.joinedAppPreview__1c2c9:after {
  background: linear-gradient(
    to bottom,
    transparent,
    var(--background-base-low)
  );
  content: "";
  inset-inline: 0;
  bottom: 0;
  height: 48px;
  pointer-events: none;
  position: absolute;
}
.select_a16aea {
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr auto;
  padding-block: 8px;
  padding-inline: 12px 8px;
}
.select_a16aea,
.wrapper_a16aea {
  color: var(--text-default);
  font-weight: var(--font-weight-medium);
}
.searchable_a16aea {
  padding-bottom: 8px;
  padding-top: 8px;
}
.searchInput_a16aea {
  background: inherit;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: 16px;
  padding: 0;
  width: 100%;
}
.searchInput_a16aea::-moz-placeholder {
  color: var(--input-placeholder-text-default);
}
.searchInput_a16aea::placeholder {
  color: var(--input-placeholder-text-default);
}
.searchInput_a16aea.multi_a16aea {
  height: 32px;
  margin-inline-start: 4px;
  width: auto;
}
.editing_a16aea {
  font-weight: var(--font-weight-normal);
}
.label_a16aea {
  bottom: 0;
  height: 16px;
  inset-inline-start: 12px;
  margin: auto;
  position: absolute;
  top: 0;
}
.optionDisabled_a16aea {
  opacity: 0.5;
}
.searchInput_a16aea.multi_a16aea.hidden_a16aea {
  opacity: 0;
  width: 0;
}
.iconsCenter_a16aea {
  align-items: center;
  display: flex;
  height: 100%;
}
.placeholder_a16aea,
.value_a16aea {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.placeholder_a16aea {
  color: var(--text-subtle);
}
.measurement_a16aea {
  border: 1px solid transparent;
  pointer-events: none;
  position: absolute;
  visibility: hidden;
}
.measurement_a16aea,
.popout_a16aea {
  box-sizing: border-box;
}
.popout_a16aea {
  background: var(--background-base-lower);
  background-color: var(--background-surface-higher);
  border: 1px solid var(--background-base-lowest);
  border-color: var(--border-subtle);
  border-radius: 0 0 4px 4px;
  margin: 0;
}
.popout_a16aea:not(.popoutPositionTop_a16aea) {
  margin-top: 8px;
}
.popout_a16aea.popoutPositionTop_a16aea {
  border-radius: 4px 4px 0 0;
  margin-bottom: 8px;
}
.lookFilled_a16aea.popout_a16aea {
  border-radius: 0 0 3px 3px;
}
.lookFilled_a16aea.popout_a16aea.popoutPositionTop_a16aea {
  border-radius: 3px 3px 0 0;
}
.lookFilled_a16aea.option_a16aea,
.lookFilled_a16aea.select_a16aea:hover.option_a16aea {
  border-color: var(--brand-500);
  border-bottom-color: var(--background-base-lowest);
}
.option_a16aea {
  align-items: center;
  box-sizing: border-box;
  color: var(--text-subtle);
  cursor: pointer;
  display: grid;
  font-size: 16px;
  font-weight: 400;
  grid-template-columns: 1fr auto;
  line-height: 20px;
  padding: 12px;
}
.option_a16aea[aria-selected="true"] {
  color: var(--text-default);
  font-weight: var(--font-weight-medium);
}
.option_a16aea[aria-selected="true"]:hover {
  background-color: var(--background-mod-subtle);
}
.option_a16aea:hover {
  background-color: var(--background-mod-subtle);
  color: var(--text-default);
}
.option_a16aea.focused_a16aea,
.option_a16aea:focus-visible,
.option_a16aea:hover {
  background-color: var(--interactive-background-hover);
  color: var(--interactive-text-hover);
}
.option_a16aea[aria-selected="true"]:not(.option_a16aea.multi_a16aea) {
  background-color: var(--interactive-background-selected);
  color: var(--interactive-text-active);
}
.selectedIcon_a16aea {
  color: var(--brand-500);
}
.icons_a16aea {
  gap: 4px;
}
.icons_a16aea,
.value_a16aea {
  align-items: center;
  display: flex;
}
.value_a16aea {
  gap: 8px;
}
.clear_a16aea {
  display: block;
}
.clear_a16aea,
.dropdownIcon_a16aea {
  cursor: pointer;
  pointer-events: all;
}
.noResults_a16aea {
  align-items: center;
  background: var(--background-base-lower);
  padding: 12px;
  width: 100%;
}
.loading_a16aea,
.noResults_a16aea {
  display: flex;
  justify-content: center;
}
.loading_a16aea {
  height: 40px;
}
.loadingSpinner_a16aea {
  background-color: var(--interactive-text-active);
}
.wrapper_a16aea {
  display: grid;
  grid-template-columns: 1fr auto;
}
.wrapper_a16aea .select_a16aea {
  grid-column: 1 / span 2;
  grid-row: 1;
  padding-inline-end: calc(24px + var(--icons-width));
}
.wrapper_a16aea .select_a16aea.multi_a16aea {
  padding-bottom: 6px;
  padding-top: 0;
  padding-inline-start: 6px;
}
.wrapper_a16aea .icons_a16aea {
  grid-column: 2;
  grid-row: 1;
  margin-inline-end: 8px;
  pointer-events: none;
}
.wrapper_a16aea .value_a16aea {
  display: flex;
}
.wrapper_a16aea .value_a16aea.multi_a16aea {
  display: block;
  white-space: normal;
}
.wrapper_a16aea .searchInput_a16aea {
  flex: 1 0 0;
}
.searchableSelect_a16aea .option_a16aea {
  align-content: center;
  display: grid;
  grid-template-areas: "prefix content suffix selectedIcon";
  grid-template-columns: auto 1fr auto auto;
}
.searchableSelect_a16aea .prefix_a16aea {
  grid-area: prefix;
  margin-inline-end: 8px;
}
.searchableSelect_a16aea .suffix_a16aea {
  grid-area: suffix;
  margin-inline-end: 8px;
  margin-inline-start: 8px;
}
.searchableSelect_a16aea .content_a16aea {
  display: flex;
  grid-area: content;
  min-width: 0;
}
.searchableSelect_a16aea .selectedIcon_a16aea {
  grid-area: selectedIcon;
}
.optionPillWrapper_a16aea {
  min-width: auto;
  padding: 0;
  width: auto;
}
.optionPillContainer_a16aea {
  display: inline;
}
.optionPillItem_a16aea {
  align-items: center;
  display: inline-flex;
  margin-inline-end: 6px;
}
.optionPillItem_a16aea button {
  background-color: var(--background-surface-higher);
}
.optionPillItem_a16aea button .optionPill_a16aea {
  border: 1px solid var(--border-muted);
  border-radius: var(--radius-xs);
}
.optionPill_a16aea {
  align-items: center;
  background: var(--background-base-low);
  border-radius: 2px;
  color: var(--interactive-text-active);
  display: inline-flex;
  font-size: 14px;
  line-height: 20px;
  padding: var(--space-4) var(--space-8);
}
.optionPill_a16aea .deleteOptionIcon_a16aea {
  height: 16px;
  width: 16px;
}
.optionPillBtn_a16aea {
  height: auto;
  min-height: auto;
  min-width: 0;
  padding: 0;
}
.deleteOptionIcon_a16aea {
  color: var(--interactive-text-default);
  margin-inline-start: 8px;
}
.optionPillItem_a16aea,
.searchInput_a16aea.multi_a16aea {
  margin-top: var(--space-4);
}
.no-webkit-scrollbar .noScrollbar_a16aea {
  scrollbar-width: none;
}
.noScrollbar_a16aea::-webkit-scrollbar {
  height: 0;
  width: 0;
}
.multiSelectCheckbox_a16aea {
  align-items: center;
  border-radius: 6px;
  box-sizing: border-box;
  display: flex;
  grid-area: selectedIcon;
  height: 20px;
  width: 20px;
}
.multiSelectCheckbox_a16aea.unchecked_a16aea {
  border: 1px solid var(--border-strong);
}
.multiSelectCheckbox_a16aea.checked_a16aea {
  background: var(--brand-500);
  border: 1px solid var(--brand-500);
}
.multiSelectCheck_a16aea {
  color: var(--white);
}
.optionPill_a16aea {
  align-content: center;
  display: grid;
  grid-template-areas: "prefix content suffix clearIcon";
  grid-template-columns: auto 1fr auto auto;
}
.optionPill_a16aea .prefix_a16aea {
  grid-area: prefix;
  margin-inline-end: 8px;
}
.optionPill_a16aea .suffix_a16aea {
  grid-area: suffix;
  margin-inline-end: 8px;
  margin-inline-start: 8px;
}
.optionPill_a16aea .content_a16aea {
  grid-area: content;
}
.optionPill_a16aea .deleteOptionIcon_a16aea {
  grid-area: clearIcon;
}
.enable-forced-colors .select_a16aea {
  background-color: Canvas;
  border-color: ButtonText;
}
.enable-forced-colors .disabled_a16aea,
.enable-forced-colors .disabled_a16aea * {
  border-color: GrayText;
  color: GrayText;
  opacity: 1;
}
.enable-forced-colors .placeholder_a16aea {
  color: GrayText;
}
.enable-forced-colors .option_a16aea {
  background-color: Canvas;
  border: 1px solid Canvas;
  color: CanvasText;
  forced-color-adjust: none;
}
.enable-forced-colors .option_a16aea.focused_a16aea,
.enable-forced-colors .option_a16aea:focus,
.enable-forced-colors .option_a16aea:hover {
  background-color: ButtonFace;
  border-color: ButtonText;
  color: ButtonText;
}
.enable-forced-colors .option_a16aea[aria-selected="true"] {
  background-color: HighlightText !important;
  color: Highlight !important;
}
.enable-forced-colors .option_a16aea[aria-selected="true"].focused_a16aea,
.enable-forced-colors .option_a16aea[aria-selected="true"]:focus,
.enable-forced-colors .option_a16aea[aria-selected="true"]:hover {
  border-color: Highlight !important;
}
.enable-forced-colors .selectedIcon_a16aea {
  color: Highlight;
}
.select_a16aea,
.wrapper_a16aea {
  min-height: var(--control-input-height-md);
}
.iconsContainer_a16aea {
  height: calc(var(--control-input-height-sm) - 2px);
}
.container_a16aea[data-size="sm"] .select_a16aea,
.container_a16aea[data-size="sm"] .wrapper_a16aea {
  min-height: var(--control-input-height-sm);
}
.container_a16aea[data-size="sm"] .iconsContainer_a16aea {
  height: calc(var(--control-input-height-sm) - 2px);
}
.container_a16aea[data-variant="text-only"] .select_a16aea {
  background: none;
  border: none;
}
.searchable_a16aea {
  min-height: auto;
}
.lookFilled_a16aea.popout_a16aea,
.lookFilled_a16aea.popout_a16aea.popoutPositionTop_a16aea,
.popout_a16aea,
.popout_a16aea.popoutPositionTop_a16aea {
  background-color: var(--background-surface-higher);
  border: 1px solid var(--border-subtle);
  border-radius: 8px;
}
.newOptionLabel_a16aea {
  align-items: center;
  display: grid;
  gap: 4px;
  grid-template-columns: auto 1fr auto;
}
.newOptionLeading_a16aea {
  height: 24px;
  -o-object-fit: contain;
  object-fit: contain;
  width: 24px;
}

/*# sourceMappingURL=775417.b73ff466a40423a8.css.map*/
