@keyframes ripple__43deb {
  0% {
    opacity: 1;
    transform: scale(0.4);
  }
  90% {
    opacity: 0;
    transform: scale(1.4);
  }
  to {
    opacity: 0;
    transform: scale(1.6);
  }
}
@keyframes bounce__43deb {
  25% {
    transform: scale(0.6);
  }
  50% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
.gifFavoriteButton__43deb {
  background-color: var(--background-base-low);
  border-radius: 5px;
  color: var(--icon-strong);
  padding: 6px;
}
.gifFavoriteButton__43deb:after {
  border: 2px solid var(--yellow-300);
  border-radius: 50%;
  box-sizing: border-box;
  content: "";
  height: 100%;
  inset-inline-start: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform-origin: center;
  width: 100%;
  z-index: 5;
}
.full-motion .gifFavoriteButton__43deb:after {
  transition: all 0.15s ease-in-out;
}
.gifFavoriteButton__43deb:focus,
.gifFavoriteButton__43deb:hover {
  color: var(--yellow-300);
  transform: none;
}
.gifFavoriteButton__43deb.selected__43deb {
  color: var(--yellow-300);
}
.gifFavoriteButton__43deb.selected__43deb.showPulse__43deb:after {
  animation: ripple__43deb 0.45s ease;
}
.gifFavoriteButton__43deb.selected__43deb.showPulse__43deb .icon__43deb {
  animation: bounce__43deb 0.4s linear;
}
.icon__43deb {
  display: block;
  height: 100%;
  width: 100%;
}
.enable-forced-colors .gifFavoriteButton__43deb {
  background-color: ButtonFace;
  border: 1px solid ButtonFace;
  border-radius: 4px;
  color: ButtonText;
}
.enable-forced-colors .gifFavoriteButton__43deb:focus,
.enable-forced-colors .gifFavoriteButton__43deb:hover {
  border-color: ButtonText;
}
.enable-forced-colors .gifFavoriteButton__43deb.selected__43deb {
  background-color: HighlightText;
  border-color: Highlight;
  color: Highlight;
}
.results__2dc39 {
  height: 100%;
}
.result__2dc39 {
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  transition: box-shadow 0.15s ease-out;
}
.result__2dc39:after {
  border-radius: 7px;
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  inset-inline: -1px;
  bottom: -1px;
  pointer-events: none;
  transition: background 0.15s ease-out;
  transition-property: box-shadow, background;
}
.result__2dc39:focus-within .favButton__2dc39,
.result__2dc39:hover .favButton__2dc39 {
  opacity: 1;
  transform: none;
}
.result__2dc39:hover,
.result__2dc39[data-focused="true"] {
  box-shadow: var(--shadow-border), var(--shadow-low);
}
.result__2dc39:hover:after,
.result__2dc39[data-focused="true"]:after {
  background: linear-gradient(
    to bottom,
    var(--background-mod-strong),
    var(--background-mod-subtle)
  );
}
.result__2dc39[data-focused="true"] {
  box-shadow: 0 0 0 2px var(--border-focus);
}
.result__2dc39[data-selected="true"] {
  box-shadow: 0 0 0 3px var(--border-focus);
}
.high-contrast-mode .result__2dc39 {
  border: 1px solid var(--border-strong);
}
.gif__2dc39 {
  background-color: transparent;
  border-radius: 5px;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  position: relative;
  width: 100%;
}
.endContainer__2dc39 {
  padding-bottom: 32px;
  padding-top: 32px;
  text-align: center;
}
.endContainer__2dc39:after {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: block;
  height: 220px;
  margin: 0 auto;
  width: 100%;
}
.endText__2dc39 {
  margin-bottom: 8px;
}
.searchSuggestions__2dc39 {
  margin-bottom: 32px;
}
.noResults__2dc39 {
  height: 100%;
}
.spinnerContainer__2dc39 {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}
.favButton__2dc39 {
  box-sizing: border-box;
  inset-inline-end: 4px;
  opacity: 0;
  position: absolute;
  top: 4px;
  transform: translateY(-10px);
  z-index: 4;
}
.full-motion .favButton__2dc39 {
  transition:
    transform 0.2s ease,
    opacity 0.1s ease;
}
.emptyHints__2dc39 {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-block: 6px;
  margin-inline: 6px 0;
}
.emptyHint__2dc39 {
  flex: 1 1 33.33%;
}
.emptyHintCard__2dc39 {
  align-items: center;
  background-color: var(--background-mod-muted);
  border-radius: 5px;
  box-sizing: border-box;
  color: var(--text-default);
  display: flex;
  height: 160px;
  justify-content: center;
  margin: 6px;
  padding: 20px;
  position: relative;
}
.emptyHintSpacer__2dc39 {
  height: 160px;
}
.emptyHintText__2dc39 {
  font-size: 15px;
  line-height: 1.6;
  max-width: 180px;
  text-align: center;
}
.emptyHintFavorite__2dc39 {
  color: var(--text-feedback-warning);
  height: 29px;
  inset-inline-end: 6px;
  position: absolute;
  top: 6px;
  width: 29px;
}
@keyframes loadIN__2dc39 {
  0% {
    opacity: 0;
    transform: translate3d(0, 24px, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.placeholder__2dc39 {
  background: var(--background-mod-muted);
  border-radius: 5px;
  height: 100%;
  width: 100%;
}
.full-motion .placeholder__2dc39 {
  animation: loadIN__2dc39 0.6s cubic-bezier(0.17, 0.67, 0.16, 0.99);
  animation-fill-mode: forwards;
  opacity: 0;
  transform: translate3d(0, 48px, 0);
  will-change: transform3d, opacity;
}
.enable-forced-colors .result__2dc39[data-focused="true"] {
  border: 1px solid Canvas;
  outline: 2px solid Highlight;
}
.images-light .endContainer__2dc39:after {
  background-image: url(/assets/9423b541a1c3dfef.svg);
}
.images-dark .endContainer__2dc39:after {
  background-image: url(/assets/00f1d64f0e8c77b3.svg);
}
.container_d02962 {
  height: 100%;
}
.categoryFade_d02962,
.categoryFadeBlurple_d02962 {
  border: 1px solid transparent;
  border-radius: 4px;
  position: absolute;
  top: 0;
  inset-inline: 0;
  bottom: 0;
  transition: -webkit-backdrop-filter 0.15s ease-out;
  transition: backdrop-filter 0.15s ease-out;
  transition:
    backdrop-filter 0.15s ease-out,
    -webkit-backdrop-filter 0.15s ease-out;
  z-index: 1;
}
.categoryText_d02962 {
  align-items: center;
  position: absolute;
  top: 0;
  inset-inline: 0;
  bottom: 0;
  display: flex;
  font-weight: var(--font-weight-semibold);
  justify-content: center;
  pointer-events: none;
  z-index: 3;
}
.categoryIcon_d02962 {
  height: 20px;
  margin-inline-end: 4px;
  width: 20px;
}
.categoryName_d02962 {
  font-size: 16px;
  font-weight: var(--font-weight-semibold);
  line-height: 16px;
}
.spinnerContainer_d02962 {
  height: 100%;
}
.formatSelectors_d02962,
.spinnerContainer_d02962 {
  align-items: center;
  display: flex;
  justify-content: center;
}
.formatSelectors_d02962 {
  flex-direction: row;
}
.formatSelectors_d02962 select {
  display: block;
  margin: 0 4px;
}
.categoryFade_d02962 {
  background-color: var(--background-scrim);
}
.categoryFadeBlurple_d02962 {
  background-color: color-mix(
    in srgb,
    var(--background-brand),
    transparent 20%
  );
}
.categoryFade_d02962:hover,
.categoryFadeBlurple_d02962:hover,
[data-focused="true"] .categoryFade_d02962,
[data-focused="true"] .categoryFadeBlurple_d02962 {
  -webkit-backdrop-filter: brightness(60%) blur(4px);
  backdrop-filter: brightness(60%) blur(4px);
  border: 1px solid var(--border-strong);
  border-radius: 5px;
}
.categoryText_d02962 {
  color: var(--white);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}
.container_fed6d3 {
  background-color: var(--background-base-lower);
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  white-space: normal;
  width: 100%;
}
.container_fed6d3:after {
  bottom: 0;
  content: "";
  height: 8px;
  inset-inline: 0;
  pointer-events: none;
  position: absolute;
}
.content_fed6d3 {
  z-index: 0;
}
.content_fed6d3,
.header_fed6d3 {
  position: relative;
}
.header_fed6d3 {
  background-color: var(--background-surface-high);
  border-bottom: 1px solid var(--border-subtle);
  box-shadow: none;
  flex: 0 0 auto;
  padding: var(--custom-gif-picker-gutter-size);
  z-index: 1;
}
.searchHeader_fed6d3 {
  margin-bottom: 0;
  margin-inline-start: 8px;
}
.favoritesHeader_fed6d3 {
  flex-grow: 1;
  gap: var(--space-24);
}
.backButton_fed6d3,
.favoritesHeader_fed6d3 {
  align-items: center;
  display: flex;
}
.backButton_fed6d3 {
  color: var(--text-muted);
  cursor: pointer;
  height: 28px;
  margin-inline-end: 8px;
}
.backButton_fed6d3:hover {
  color: var(--text-default);
}
.content_fed6d3 {
  flex: 1 1 auto;
  overflow: hidden;
}
.wrapper__0c74f {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
  position: absolute;
  top: 0;
  inset-inline: 0;
  bottom: 0;
}
.wrapper__0d1ef {
  flex: 1;
}
.wrapper__0856d {
  display: grid;
  grid-template-columns: 48px auto;
  grid-template-rows: auto 1fr auto;
  position: relative;
}
.header__0856d {
  align-items: center;
  box-shadow: var(--elevation-low);
  display: flex;
  grid-column: 1/3;
  grid-row: 1/2;
  padding: 12px;
  z-index: 1;
}
.loadingIndicator__0856d {
  grid-column: 1/-1;
  grid-row: 1/-1;
}
.gridNoticeWrapper__0856d,
.listWrapper__0856d {
  flex: 1;
  inset-inline-start: 48px;
  position: relative;
  width: calc(100% - 48px);
}
.gridNoticeWrapper__0856d {
  flex: none;
}
.emptyState__0856d {
  grid-column: 1/3;
  grid-row: 2/2;
  margin: 0 20px;
  overflow: hidden;
  position: relative;
}
.enable-forced-colors .header__0856d {
  border-bottom: 1px solid CanvasText;
}

/*# sourceMappingURL=781821.d2cd26b8d8db67ad.css.map*/
