.wrapper__553bf {
  isolation: isolate;
  position: relative;
}
.withGradient__553bf {
  overflow: hidden;
  position: relative;
}
.withGradient__553bf.withQuestHomeHeroContent__553bf:focus-within a,
.withGradient__553bf.withQuestHomeHeroContent__553bf:hover a,
.withOnboardingContent__553bf a {
  color: var(--text-strong) !important;
}
.withGradient__553bf.withQuestHomeHeroContent__553bf:focus-within svg,
.withGradient__553bf.withQuestHomeHeroContent__553bf:hover svg,
.withOnboardingContent__553bf svg {
  color: var(--icon-strong) !important;
}
.withOnboardingContent__553bf:after {
  background-image: linear-gradient(90deg, #394aff, #e901d9);
  border-radius: inherit;
  bottom: 1px;
  content: "";
  inset-inline: 0;
  opacity: 0.16;
  position: absolute;
  top: 1px;
  transition: opacity 0.125s;
  z-index: 0;
}
.withOnboardingContent__553bf:focus-within:after,
.withOnboardingContent__553bf:hover:after {
  opacity: 0.2;
}
.badge__553bf {
  position: relative;
  z-index: 2;
}
.shine__553bf {
  background-image: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0) 25%,
    hsla(0, 0%, 100%, 0.7) 50%,
    hsla(0, 0%, 100%, 0) 75%
  );
  height: var(--custom-shine-dimensions);
  inset-inline-end: calc(100% + var(--custom-shine-rotated-dimensions-delta));
  transform-origin: 50%;
  width: var(--custom-shine-dimensions);
  z-index: 3;
}
.glow__553bf,
.shine__553bf {
  pointer-events: none;
  position: absolute;
  top: 50%;
}
.glow__553bf {
  background-image: radial-gradient(
    rgba(221, 0, 241, 0.5) 0,
    rgba(221, 0, 241, 0) 60%
  );
  height: 150px;
  inset-inline-end: 32px;
  transform: translate(50%, -50%);
  width: 150px;
  z-index: 1;
}
.glow__553bf:after {
  background-image: radial-gradient(
    rgba(241, 0, 4, 0.2) 0,
    rgba(241, 0, 4, 0) 60%
  );
  content: "";
  display: block;
  height: 100%;
  width: 100%;
}
.questHomeHeroBackgroundImage__553bf {
  bottom: 0;
  height: 100%;
  inset-inline-end: 0;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: right;
  object-position: right;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: 0.125s;
  width: auto;
}
.withQuestHomeHeroContent__553bf:focus-within
  .questHomeHeroBackgroundImage__553bf,
.withQuestHomeHeroContent__553bf:hover .questHomeHeroBackgroundImage__553bf {
  opacity: 1;
}
.devBanner__56d75 {
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 12px;
  font-weight: var(--font-weight-medium);
  line-height: 24px;
  padding: 0 4px;
  position: relative;
  text-align: center;
  white-space: no-wrap;
}
.devBanner__56d75 strong {
  font-weight: var(--font-weight-semibold);
}
.local__56d75 {
  background-color: var(--background-feedback-warning);
}
.local__56d75,
.staging__56d75 {
  color: var(--text-default);
}
.staging__56d75 {
  background-color: var(--background-feedback-critical);
}
.buildOverride__56d75 {
  background-color: var(--status-positive-background);
  color: var(--white);
}
.icon__56d75 {
  display: inline-block;
  height: auto;
  margin-inline-end: 4px;
  vertical-align: middle;
  width: 12px;
}
.closeButton__56d75 {
  background-position: 50% 55%;
  background-size: 10px 10px;
  cursor: pointer;
  height: 24px;
  inset-inline-end: 0;
  opacity: 0.5;
  position: absolute;
  top: 3px;
  transition: opacity 0.2s;
  width: 24px;
  -webkit-app-region: no-drag;
}
.closeButton__56d75:hover {
  opacity: 1;
}
.closeIcon__56d75 {
  height: 14px;
  width: 14px;
}

/*# sourceMappingURL=82771.569758e84f28e3d3.css.map*/
