.upsellContainer__0b69f {
  align-items: center;
  background:
    linear-gradient(var(--background-base-lower), var(--background-base-lower))
      padding-box,
    var(--custom-premium-colors-premium-gradient-tier-2-tri-color) border-box;
  border-radius: 12px;
  display: flex;
  padding: 12px;
}
.upsellContainer__0b69f.updatedStyling__0b69f {
  background: var(--background-surface-highest);
  border: 1px solid var(--border-subtle);
}
.upsellContainerFloating__0b69f {
  inset-block: auto var(--space-8);
  inset-inline: var(--space-8) var(--space-16);
  position: absolute;
}
.upsellContainerInline__0b69f {
  flex: 1;
  margin: var(--space-8) var(--space-16);
}
.upsellText__0b69f {
  flex: 1;
  margin-block: auto;
  margin-inline: 8px 16px;
}
.leadingAction__0b69f {
  margin-inline-end: 8px;
}
.nitroTopDividerContainer_b3fb5f {
  display: flex;
  flex-direction: column;
  padding-top: var(
    --custom-emoji-picker-constants-emoji-premium-upsell-margin-top
  );
}
.nitroTopDividerUpper_b3fb5f {
  height: 12px;
}
.nitroTopDividerShadow_b3fb5f {
  box-shadow: 0 -5px 30px 4px var(--premium-tier-2-purple);
  opacity: 0;
}
.glow_b3fb5f.reducedMotion_b3fb5f {
  opacity: 0;
}
.glow_b3fb5f:not(.reducedMotion_b3fb5f) {
  animation: glowAnimation_b3fb5f 5s forwards;
}
@keyframes glowAnimation_b3fb5f {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.nitroTopDividerLockContainer_b3fb5f {
  align-items: center;
  display: flex;
}
.nitroTopDividerLockBorder_b3fb5f {
  background: var(--border-normal);
  height: 1px;
  width: 100%;
}
.trialNUX_b3fb5f .nitroTopDividerLockBorder_b3fb5f {
  background: var(--custom-premium-colors-premium-gradient-tier-2-tri-color);
}
.nitroTopDividerLockCircle_b3fb5f {
  align-items: center;
  background: var(--background-surface-highest);
  border: 1px solid var(--border-normal);
  border-radius: 50%;
  display: flex;
  height: 28px;
  inset-inline-start: 50%;
  justify-content: center;
  position: absolute;
  transform: translateX(-50%);
  width: 28px;
  z-index: 9999;
}
.nitroTopDividerLockBorderReversed_b3fb5f {
  background: var(--border-normal);
  height: 1px;
  width: 100%;
}
.trialNUX_b3fb5f .nitroTopDividerLockBorderReversed_b3fb5f {
  background: var(
    --custom-premium-colors-premium-gradient-tier-2-tri-color-reverse
  );
}
.nitroTopDividerLower_b3fb5f {
  background: linear-gradient(
    90deg,
    var(--expressive-gradient-nitro-pink-start) 0,
    var(--expressive-gradient-nitro-pink-end) 100%
  );
  height: 12px;
  opacity: 1;
}
.theme-light .nitroTopDividerLower_b3fb5f {
  background: linear-gradient(
    90deg,
    color-mix(
      in srgb,
      var(--expressive-gradient-nitro-pink-start) 40%,
      transparent
    ),
    color-mix(
      in srgb,
      var(--expressive-gradient-nitro-pink-end) 40%,
      transparent
    )
  );
}
.reverseTrialTopDividerLower_b3fb5f {
  background-color: var(--premium-tier-2-purple);
  height: 25px;
  opacity: 0.2;
}
.premiumUnlockAnimation_b3fb5f {
  animation: shrink_b3fb5f 2s forwards;
  inset-inline-start: 50%;
  position: absolute;
  transform: translateX(-50%);
  z-index: 9999;
}
@keyframes shrink_b3fb5f {
  0% {
    height: 67px;
    width: 67px;
  }
  75% {
    height: 66px;
    width: 66px;
  }
  90% {
    height: 32px;
    width: 32px;
  }
  to {
    display: none;
    height: 32px;
    width: 32px;
  }
}
.premiumUnlockedWithNitroPillContainer_b3fb5f {
  align-items: center;
  background: var(--custom-premium-colors-premium-gradient-tier-2-tri-color);
  border-radius: 14px;
  box-shadow: inset 0 0 4px 0 rgba(194, 105, 195, 0.6);
  display: flex;
  gap: 4px;
  height: 24px;
  inset-inline-start: 50%;
  opacity: 0;
  overflow: hidden;
  padding: 4px 16px;
  position: absolute;
  transform: translateX(-50%);
  z-index: 9999;
}
.premiumUnlockedWithNitroPillContainer_b3fb5f.reducedMotion_b3fb5f {
  opacity: 1;
}
.premiumUnlockedWithNitroPillContainer_b3fb5f:not(.reducedMotion_b3fb5f) {
  animation: expand_b3fb5f 2s 2s forwards;
}
@keyframes expand_b3fb5f {
  0% {
    max-width: 0;
    opacity: 1;
  }
  to {
    max-width: 200px;
    opacity: 1;
  }
}

/*# sourceMappingURL=84059.fb7fa14dddf1ccda.css.map*/
