.modalContent__2379f {
  margin-bottom: var(--space-16);
  min-height: -moz-min-content;
  min-height: min-content;
  padding-top: var(--space-16);
}
.disclaimer__2379f {
  margin-top: var(--space-16);
}
.header__3847f {
  flex-grow: 0;
  overflow: hidden;
}
.closeButton__3847f {
  inset-inline-end: 12px;
  position: absolute;
  top: 12px;
  z-index: 1000;
}
.modalContent__3847f {
  padding-top: var(--space-16);
}
.title__3847f {
  font-weight: var(--font-weight-bold);
}
.subtitle__3847f,
.title__3847f {
  text-align: center;
}
.subtitle__3847f {
  margin-top: 8px;
}
.optionHeader__3847f {
  margin-bottom: 8px;
  text-transform: uppercase;
}
.learnMore__3847f {
  margin-top: 12px;
}
.policyContainer__3847f {
  border: 1px solid var(--border-subtle);
  border-radius: 8px;
  margin-bottom: 8px;
  padding: 16px;
}
.radioItem__3847f {
  padding: 8px 16px;
}
.evidenceOffset__3847f {
  margin-top: 0;
}
.listContainer_a95388 {
  color: var(--text-strong);
  list-style: inside;
  margin-bottom: 8px;
}
.listItem_a95388 {
  color: var(--text-strong);
  display: list-item;
  margin-top: 10px;
  margin-inline-start: 4px;
}
.anchorContainer_a95388 {
  margin-bottom: 16px;
}
.saveButton_a95388 {
  align-self: flex-end;
}
.inputContainer_a95388 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}
.errorText_a95388 {
  align-items: center;
  align-self: flex-end;
  color: var(--text-feedback-critical);
  display: flex;
  font-size: 14px;
  justify-content: center;
  margin-bottom: 12px;
}
.buttonContainer_a95388 {
  display: flex;
  justify-content: flex-end;
}
.footerText_a95388 {
  margin-bottom: var(--space-16);
}
.childButton__3ed08 {
  align-items: center;
  background-color: var(--background-base-lower);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
  padding: 0;
}
.childButton__3ed08:hover {
  background-color: var(--interactive-background-hover);
}
.keyboard-mode .childButton__3ed08:focus {
  background-color: var(--interactive-background-selected);
}
.childButton__3ed08:active {
  background-color: var(--interactive-background-active);
}
.childContent__3ed08 {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-block: 8px;
  margin-inline: 16px 0;
  padding: var(--space-12) 0;
}
.childText__3ed08 {
  margin: 0;
}
.debugText__3ed08 {
  margin-top: 4px;
}
.childIcon__3ed08 {
  color: var(--interactive-text-default);
  flex-shrink: 0;
  height: 24px;
  margin-block: 0;
  margin-inline: 8px 16px;
  width: 24px;
}
.externalLinkWrapper__3ed08 {
  padding-top: 8px;
}
.nowrap__5db79 {
  white-space: nowrap;
}
.icon_b75563 {
  height: 1em;
  margin-bottom: 0.2rem;
  margin-inline-end: var(--space-4);
  vertical-align: middle;
  width: 1em;
}
.name_b75563 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.channelWithIcon_b75563 .iconMentionText_b75563 {
  gap: 0 !important;
}
.icon_d2d51d {
  display: inline-block;
  margin-inline-end: 3px;
  margin-bottom: 0.2rem;
  vertical-align: middle;
}
.textIcon_d2d51d {
  font-size: 0.5rem !important;
  height: 1.05rem;
  line-height: 1.05rem !important;
  width: 1.05rem;
}
.imageIcon_d2d51d {
  height: 1em;
  width: 1em;
}
.name_d2d51d {
  overflow: hidden;
  text-overflow: ellipsis;
}
.wrapper_f61d60 {
  background: var(--mention-background);
  border-radius: 3px;
  color: var(--mention-foreground);
  font-weight: var(--font-weight-medium);
  padding: 0 2px;
  unicode-bidi: plaintext;
}
.theme-dark.low-contrast .wrapper_f61d60 {
  background: var(--brand-05a);
  color: var(--brand-300);
}
.interactive {
  cursor: pointer;
  transition:
    background-color 50ms ease-out,
    color 50ms ease-out;
}
.interactive:hover {
  background-color: var(--brand-500);
  color: var(--white);
}
.icon_c76ab6 {
  height: 0.5em;
  margin-inline: 4px 2px;
  margin-bottom: 1px;
  width: 0.5em;
}
.icon__3173f {
  height: 0.95rem;
  padding-inline-start: 4px;
  position: relative;
  top: 2px;
  width: 0.95rem;
}
.iconContainer__8310d {
  align-self: center;
  margin-bottom: var(--space-4);
  padding: 8px;
}
.icon__8310d {
  height: 78.33px;
  margin-inline-start: -2px;
  width: 86px;
}
.modalContent__8310d {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.actionsHeader__8310d {
  margin-bottom: 16px;
  margin-top: 31px;
}

/*# sourceMappingURL=85414.487cccb83f6e200c.css.map*/
