.channelAttachmentArea_b77158 {
  display: flex;
  gap: 24px;
  margin: 0;
  overflow-x: auto;
  padding: 20px 10px 10px;
}
.channelAttachmentArea_b77158:last-child {
  padding-inline-end: 30px;
}
.divider_b77158 {
  margin-inline-start: 16px;
}
.root__6c5a1 {
  background: var(--background-base-lower);
  background-color: var(--background-surface-highest);
  border: 1px solid var(--border-subtle);
  border-radius: var(--radius-sm);
  display: flex;
  max-width: 100%;
  padding: var(--space-4) var(--space-8);
}
.text__6c5a1 {
  margin-inline-start: 4px;
}
.premium__6c5a1 {
  flex-shrink: 0;
  height: 18px;
  width: 18px;
}
.iconOnly__6c5a1 {
  color: var(--text-default);
  cursor: pointer;
}
.characterCount__795fb {
  align-items: flex-end;
  bottom: 10px;
  color: var(--text-default);
  display: flex;
  flex-direction: column;
  inset-inline-end: 14px;
  position: absolute;
}
.premiumFlair__795fb {
  color: var(--interactive-text-default);
}
.premiumFlair__795fb:not(:last-child) {
  margin-inline-end: 4px;
}
.flairContainer__795fb {
  align-items: center;
  display: flex;
  height: 24px;
}
.upsell__795fb {
  margin-top: 8px;
}
.toolbar_bba883 {
  align-items: center;
  background-color: var(--primary-800);
  border-radius: 4px;
  box-shadow: var(--shadow-border), var(--shadow-high);
  color: var(--primary-300);
  display: flex;
  flex-direction: column;
  pointer-events: all;
  position: absolute;
}
.toolbar_bba883:before {
  border-inline-end: 8px solid transparent;
  border-inline-start: 8px solid transparent;
  border-top: 8px solid var(--primary-800);
  bottom: -8px;
  content: "";
  height: 0;
  inset-inline-start: calc(50% - 8px);
  position: absolute;
  width: 0;
}
.buttons_bba883 {
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  height: 32px;
  overflow: hidden;
}
.staticToolbar_bba883 {
  border-radius: 4px 4px 0 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: calc(var(--space-4) * -1);
}
.staticToolbar_bba883 .button_bba883:first-of-type {
  border-start-start-radius: 4px;
}
.theme-dark .staticToolbar_bba883 {
  background-color: var(--background-mod-normal);
}
.theme-light .staticToolbar_bba883 {
  background-color: var(--background-base-lowest);
}
.staticButtons_bba883 {
  border-radius: 4px 4px 0 0;
  display: flex;
}
.emojiButton_bba883 {
  padding-inline-end: 8px;
}
.divider_bba883 {
  border-inline-start: 1px solid var(--opacity-white-4);
  display: inline-block;
  height: 20px;
  margin: 6px;
}
.button_bba883 {
  align-items: center;
  background-color: transparent;
  border-radius: 0;
  color: var(--primary-300);
  display: flex;
  justify-content: center;
  padding: 0;
  width: 32px;
}
.button_bba883:hover {
  background-color: var(--interactive-background-hover);
  color: var(--primary-100);
}
.button_bba883[aria-pressed="true"] {
  background-color: var(--interactive-background-selected);
  color: var(--white);
}
.buttonInner_bba883,
.icon_bba883 {
  height: 20px;
}
.icon_bba883 {
  color: currentColor;
  width: 20px;
}
.staticIcon_bba883 {
  color: var(--interactive-text-default);
}
.staticDivider_bba883 {
  border-inline-start: 1px solid var(--border-subtle);
}

/*# sourceMappingURL=90062.dc0d6b8848b8cf07.css.map*/
