.noProductsContainer_f5cb44 {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 158px 16px 12px;
  position: relative;
}
.noProductsContainer_f5cb44:before {
  background: url(/assets/b8bf36b07f51d283.svg) no-repeat;
  background-size: contain;
  bottom: 0;
  content: "";
  height: 52px;
  inset-inline-start: 0;
  position: absolute;
  width: 51px;
}
.noProductsDescription_f5cb44 {
  margin-inline-start: 50px;
}
.theme-light .noProductsContainer_f5cb44 {
  background: var(--interactive-background-active)
    url(/assets/46441a0c3a0d158b.png) 16px 16px/702px 108px no-repeat;
}
.theme-dark .noProductsContainer_f5cb44 {
  background: var(--interactive-background-hover)
    url(/assets/0a2724ab0048ac63.png) 16px 16px/702px 108px no-repeat;
}
.productListingsHeader_f5cb44 {
  margin-bottom: 16px;
}
.productListings_f5cb44 {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.addButton_f5cb44 {
  padding-inline: 10px 16px;
}
.addButtonInner_f5cb44 {
  align-items: center;
  display: flex;
}
.row__5fe04 {
  display: flex;
}
.clickable__5fe04 {
  color: var(--interactive-text-default);
  cursor: pointer;
}
.clickable__5fe04:hover {
  color: var(--interactive-text-hover);
}
.headerCell__5fe04 {
  display: flex;
}
.headerCellContent__5fe04 {
  align-items: center;
  display: flex;
  min-height: 18px;
}
.stickyHeader__5fe04 {
  inset-inline-start: 0;
  position: sticky;
  top: 0;
  z-index: 2;
}
.sortIcon__5fe04 {
  height: 18px;
  margin-inline-start: 4px;
  width: 18px;
}
.headerCellSorted__5fe04 {
  color: var(--text-default);
}
.container__06f11 {
  border-radius: 12px;
  box-sizing: border-box;
  -webkit-mask-image: radial-gradient(circle, #fff 100%, #000 0);
  mask-image: radial-gradient(circle, #fff 100%, #000 0);
  overflow: hidden;
  padding: var(--custom-aspect-stable-image-container-padding);
  width: 100%;
}
.container__06f11,
.imageContainer__06f11 {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}
.imageContainer__06f11 {
  height: 100%;
}
.image__06f11 {
  border-radius: 12px;
  box-shadow: var(--shadow-high);
  height: auto;
  max-height: 100%;
  max-width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  position: relative;
  width: auto;
}
.backgroundImage__06f11,
.backgroundImageFilter__06f11 {
  display: block;
  height: 100%;
  inset-inline-start: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.backgroundImage__06f11 {
  -o-object-fit: cover;
  object-fit: cover;
  transform: scale(1.5);
}
.backgroundImageFilter__06f11 {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background: rgba(28, 27, 37, 0.9);
}
.loader__06f11 {
  position: absolute;
}
.table_c3fe25 {
  width: 100%;
}
.tableWithoutSeparators_c3fe25 {
  padding-bottom: 8px;
}
.tableContainer_c3fe25 {
  background-color: var(--background-base-lower);
  border-radius: 8px;
  padding: 16px 16px 0;
}
.rowWithSeparators_c3fe25 {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.06);
  padding: 8px 0;
}
.rowWithSeparators_c3fe25:last-child {
  border-bottom: none;
}
.header_c3fe25 {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.06);
  padding-bottom: 8px;
  text-transform: uppercase;
}
.headerWithoutSeparators_c3fe25 {
  margin-bottom: 8px;
}
.listingImage_c3fe25 {
  background-color: var(--black);
  border-radius: 50%;
  height: 20px;
  margin-inline-end: 8px;
  -o-object-fit: cover;
  object-fit: cover;
  width: 20px;
}
.cell_c3fe25 {
  flex-shrink: 1;
  padding: 8px 0;
}
.cell_c3fe25,
.headerCell_c3fe25 {
  align-items: center;
  display: flex;
}
.cellAlignRight_c3fe25 {
  justify-content: flex-end;
  text-align: end;
}
.listingNameCell_c3fe25,
.personCountCell_c3fe25 {
  display: flex;
}
.personCountIcon_c3fe25 {
  height: 20px;
  margin-inline-start: 8px;
  vertical-align: sub;
  width: 20px;
}
.unpublishedBadge_c3fe25 {
  background-color: var(--background-mod-muted);
  border-radius: 4px;
  color: var(--interactive-text-default);
  display: inline-block;
  margin-inline-start: 8px;
  padding: 0 4px;
}
.listingNameLabel_c3fe25 {
  align-items: center;
  display: flex;
}
.toggleExpandColumn__35651 {
  align-items: stretch;
  display: flex;
  width: var(
    --custom-monetization-info-table-expandable-rows-toggle-expand-column-width
  );
}
.toggleExpandCell__35651 {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex: 1;
}
.caretIcon__35651 {
  color: var(--interactive-text-default);
  height: 12px;
  width: 12px;
}
.caretDownIcon__35651 {
  transform: rotate(90deg);
}
.toggleExpandColumn__5d2ba {
  align-items: stretch;
  display: flex;
  width: var(
    --custom-monetization-info-table-expandable-rows-toggle-expand-column-width
  );
}
.toggleExpandCell__5d2ba {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex: 1;
}
.caretIcon__5d2ba {
  color: var(--interactive-text-default);
  height: 12px;
  width: 12px;
}
.caretDownIcon__5d2ba {
  transform: rotate(90deg);
}
.periodColumn__5d2ba {
  align-items: flex-start;
  flex-direction: column;
  width: calc(
    34% -
      var(
        --custom-monetization-info-table-expandable-rows-toggle-expand-column-width
      )
  );
}
.amountColumn__5d2ba {
  width: 24%;
}
.statusColumn__5d2ba {
  width: 42%;
}
.statusCell__5d2ba {
  align-items: center;
  display: flex;
}
.amountDisclaimer__5d2ba,
.statusDisclaimer__5d2ba {
  margin-inline-start: 5px;
}
.statusPaidIcon__5d2ba {
  color: var(--text-feedback-positive);
  height: 20px;
  margin-inline-start: 8px;
  vertical-align: sub;
  width: 20px;
}
.statusDeferredIcon__5d2ba,
.statusErrorIcon__5d2ba,
.statusScheduledIcon__5d2ba {
  height: 16.67px;
  margin-inline-start: 8px;
  vertical-align: bottom;
  width: 16.67px;
}
.statusErrorIcon__5d2ba {
  color: var(--text-feedback-critical);
}
.statusScheduledIcon__5d2ba {
  color: var(--text-feedback-warning);
}
.statusDeferredIcon__5d2ba {
  color: var(--hypesquad-house-3);
}

/*# sourceMappingURL=11262.f226d060401fa93a.css.map*/
