.progressContainer__81ae5 {
  height: 20px;
  position: relative;
  width: 20px;
}
.downloadIcon__81ae5 {
  color: var(--white);
  height: 100%;
  padding: 4px;
  position: relative;
  width: 100%;
}
.downloadProgress__1f388 {
  inset-inline-end: -2px;
  position: relative;
  top: -2px;
}
.homeIcon__1f388 {
  display: block;
  height: 20px;
  width: 28px;
}
.tutorialContainer__1f388 {
  position: relative;
}
.guildSeparator__252b6 {
  background-color: var(--app-frame-border);
  border-radius: 1px;
  height: 1px;
  width: 32px;
}
.fullWidth__252b6 {
  width: 100%;
}
.guildsError_e8d03f {
  align-items: center;
  background-color: var(--background-base-low);
  border: 2px solid var(--background-feedback-critical);
  border-radius: var(--radius-md);
  box-sizing: border-box;
  color: var(--interactive-text-active);
  display: flex;
  height: var(--guildbar-avatar-size);
  justify-content: center;
  transition: background-color 0.15s ease-out;
  width: var(--guildbar-avatar-size);
}
.guildsError_e8d03f:hover {
  background-color: var(--background-feedback-critical);
  color: var(--text-feedback-critical);
}
.folderGroup__48112 {
  --custom-folder-padding: calc(
    (var(--guildbar-folder-size) - var(--guildbar-avatar-size)) / 2
  );
  --custom-folder-preview-padding: var(--space-4);
  --custom-folder-preview-gap: 2px;
  --custom-folder-preview-guild-size: calc(
    (
        var(--guildbar-folder-size) - var(--custom-folder-preview-padding) * 2 -
          var(--custom-folder-preview-gap)
      ) / 2
  );
  position: relative;
  width: var(--custom-guild-list-width);
}
.folderGroupBackground__48112 {
  background-color: var(--background-mod-subtle);
  border: 1px solid var(--border-muted);
  border-radius: var(--radius-lg);
  bottom: 0;
  box-sizing: border-box;
  inset-inline-start: calc(
    var(--custom-guild-list-padding) -
      (var(--guildbar-folder-size) - var(--guildbar-avatar-size)) / 2
  );
  opacity: 0;
  position: absolute;
  top: 0;
  transition:
    opacity var(--custom-folder-item-animation-duration) ease-out,
    background-color var(--custom-folder-item-animation-duration) ease-out;
  width: var(--guildbar-folder-size);
}
.isExpanded__48112 .folderGroupBackground__48112 {
  --custom-folder-background: color-mix(
    in srgb,
    var(--custom-folder-color),
    transparent 85%
  );
  background-color: var(
    --custom-folder-background,
    var(--background-mod-subtle)
  );
  opacity: 1;
}
.folderHeader__48112 {
  box-sizing: border-box;
  height: var(--guildbar-folder-size);
  width: var(--guildbar-folder-size);
}
.folderGroup__48112[data-drop-hovering="true"].isExpanded__48112
  .folderGroupBackground__48112 {
  background-color: var(--opacity-green-28);
  border-color: var(--status-positive);
}
.folderGroup__48112[data-drop-hovering="true"]:not(.isExpanded__48112)
  .folderHeader__48112 {
  background-color: var(--opacity-green-28);
  border-radius: 12px;
  outline: 1px solid var(--status-positive);
}
.folderButton__48112,
.folderButtonInner__48112 {
  box-sizing: border-box;
  cursor: pointer;
  height: var(--guildbar-folder-size);
  width: var(--guildbar-folder-size);
}
.folderButtonInner__48112 {
  border-radius: var(--radius-md);
  overflow: hidden;
  position: relative;
}
.folderButtonContent__48112 {
  position: relative;
  transform: translate3d(0, calc(var(--guildbar-folder-size) * -1), 0);
}
.full-motion .folderButtonContent__48112 {
  transition: transform var(--custom-folder-item-animation-duration) ease-out;
}
.isExpanded__48112 .folderButtonContent__48112 {
  transform: translateZ(0);
}
.folderDragPreview__48112 .folderIconWrapper__48112 {
  display: none;
}
.folderIconWrapper__48112 {
  box-sizing: border-box;
  padding: var(--custom-folder-padding);
}
.folderIcon__48112 {
  align-items: center;
  border-radius: var(--radius-md);
  box-sizing: border-box;
  color: var(--custom-folder-color, var(--background-brand));
  display: flex;
  height: var(--guildbar-avatar-size);
  justify-content: center;
  transition: background-color var(--custom-folder-item-animation-duration)
    ease-out;
  width: var(--guildbar-avatar-size);
}
.folderIcon__48112:hover,
.keyboard-mode .folderButton__48112:focus .folderIcon__48112 {
  background-color: var(--background-mod-subtle);
}
.folderPreviewWrapper__48112 {
  --custom-preview-background: color-mix(
    in srgb,
    var(--custom-folder-color),
    transparent 60%
  );
  background-color: var(
    --custom-preview-background,
    var(--background-mod-subtle)
  );
  border-radius: var(--radius-lg);
  box-sizing: border-box;
  height: var(--guildbar-folder-size);
  padding: var(--custom-folder-preview-padding);
  width: var(--guildbar-folder-size);
}
.custom-theme-background .folderPreviewWrapper__48112 {
  background-color: var(
    --custom-preview-background,
    var(--background-mod-strong)
  );
}
.folderPreview__48112 {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  height: calc(
    var(--guildbar-folder-size) - var(--custom-folder-preview-padding) * 2
  );
  width: calc(
    var(--guildbar-folder-size) - var(--custom-folder-preview-padding) * 2
  );
}
.folderPreviewGuildIcon__48112 {
  box-sizing: border-box;
  height: var(--custom-folder-preview-guild-size);
  width: var(--custom-folder-preview-guild-size);
}
.folderPreviewGuildIcon__48112:first-child {
  border-radius: 13px 4px 4px;
}
.folderPreviewGuildIcon__48112:nth-child(2) {
  border-radius: 4px 13px 4px 4px;
}
.folderPreviewGuildIcon__48112:nth-child(3) {
  border-radius: 4px 4px 4px 13px;
}
.folderPreviewGuildIcon__48112:nth-child(4) {
  border-radius: 4px 4px 13px;
}
.folderPreviewGuildIconError__48112 {
  align-items: center;
  background: var(--background-feedback-critical);
  color: var(--text-feedback-critical);
  display: flex;
  justify-content: center;
  padding: 3px;
}
.folderGuildsList__48112 {
  overflow: hidden;
}
.folderGuildsList__48112 > :first-child {
  margin-top: calc(var(--space-xs) - var(--custom-folder-padding));
}
.folderHeaderSmall__48112 {
  --custom-folder-preview-padding: 3px;
  --custom-folder-preview-guild-size: calc(
    (
        var(--guildbar-avatar-size) - var(--custom-folder-preview-padding) * 2 -
          var(--custom-folder-preview-gap)
      ) / 2
  );
  margin: calc((var(--guildbar-avatar-size) - var(--guildbar-folder-size)) / 2)
    0;
}
.isExpanded__48112 .folderHeaderSmall__48112 {
  margin: 0;
}
.refresh-fast-follow-avatars .folderButton__48112 {
  padding: var(--custom-folder-padding);
}
.refresh-fast-follow-avatars .folderButtonInner__48112 {
  height: var(--guildbar-avatar-size);
  width: var(--guildbar-avatar-size);
}
.refresh-fast-follow-avatars .folderButtonContent__48112 {
  transform: translate3d(0, calc(var(--guildbar-avatar-size) * -1), 0);
}
.refresh-fast-follow-avatars .isExpanded__48112 .folderButtonContent__48112 {
  transform: translateZ(0);
}
.refresh-fast-follow-avatars .folderIconWrapper__48112 {
  padding: 0;
}
.refresh-fast-follow-avatars .folderButton__48112:focus .folderIcon__48112,
.refresh-fast-follow-avatars .folderIcon__48112:hover {
  background-color: var(--opacity-white-12);
}
.refresh-fast-follow-avatars .folderPreviewWrapper__48112 {
  border-radius: var(--radius-md);
  height: var(--guildbar-avatar-size);
  width: var(--guildbar-avatar-size);
}
.refresh-fast-follow-avatars .folderPreview__48112 {
  height: calc(
    var(--guildbar-avatar-size) - var(--custom-folder-preview-padding) * 2
  );
  width: calc(
    var(--guildbar-avatar-size) - var(--custom-folder-preview-padding) * 2
  );
}
.refresh-fast-follow-avatars .folderPreviewGuildIcon__48112:first-child {
  border-radius: 10px 4px 4px;
}
.refresh-fast-follow-avatars .folderPreviewGuildIcon__48112:nth-child(2) {
  border-radius: 4px 10px 4px 4px;
}
.refresh-fast-follow-avatars .folderPreviewGuildIcon__48112:nth-child(3) {
  border-radius: 4px 4px 4px 10px;
}
.refresh-fast-follow-avatars .folderPreviewGuildIcon__48112:nth-child(4) {
  border-radius: 4px 4px 10px;
}
.isHovering__48112 {
  display: block;
}
.dragInner__87847 {
  background-color: var(--background-mod-normal);
  border: 1px dashed var(--border-subtle);
  border-radius: 12px;
  box-sizing: border-box;
  height: var(--guildbar-avatar-size);
  width: var(--guildbar-avatar-size);
}
.placeholderMask__87847 {
  align-items: center;
  display: flex;
  justify-content: center;
}
.isFolder__87847 {
  height: var(--guildbar-folder-size);
  width: var(--guildbar-folder-size);
}
.refresh-fast-follow-avatars .isFolder__87847 {
  height: var(--guildbar-avatar-size);
  margin: calc((var(--guildbar-folder-size) - var(--guildbar-avatar-size)) / 2);
  width: var(--guildbar-avatar-size);
}
.blobContainer_e5445c:active {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  transform: translateY(1px) translateZ(0);
}
.sorting_e5445c {
  pointer-events: none;
}
@keyframes wobble_e5445c {
  0%,
  to {
    transform: rotate(0);
  }
  25% {
    transform: rotate(2deg);
  }
  75% {
    transform: rotate(-2deg);
  }
}
.full-motion .wobble_e5445c {
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
  animation-name: wobble_e5445c;
  transform-origin: 50% 30%;
}
.enable-forced-colors .blobContainer_e5445c {
  background-color: ButtonFace;
  border: 1px solid CanvasText;
  border-radius: 4px;
  margin-bottom: -2px;
}
.enable-forced-colors .blobContainer_e5445c:hover {
  border-color: ButtonText;
}
.enable-forced-colors .blobContainer_e5445c.selected_e5445c {
  background-color: HighlightText;
  border-color: Highlight;
  outline: 2px solid Highlight;
}
.pauseBackground_d70e0d {
  align-self: center;
  background-color: var(--background-mod-strong);
  border-radius: 50%;
  display: flex;
  height: 16px;
  justify-content: center;
  justify-self: center;
  overflow: hidden;
  width: 16px;
}
.pause_d70e0d {
  align-self: center;
  color: var(--interactive-text-active);
}
@value popoutBackgroundColor var(--background-surface-highest);
@value popoutWidth 256px;
.pendingFolderButtonIcon__93fc9 {
  align-items: center;
  background-color: var(--background-mod-subtle);
  border-radius: var(--radius-md);
  box-sizing: border-box;
  color: var(--text-default);
  display: flex;
  height: var(--guildbar-avatar-size);
  justify-content: center;
  transition: background-color 0.2s ease-out;
  width: var(--guildbar-avatar-size);
}
.pendingFolderButtonIcon__93fc9:hover {
  background-color: var(--background-mod-normal);
}
.container__93fc9 {
  display: flex;
  flex-direction: column;
}
.popoutAnchor__93fc9 {
  align-self: center;
  width: 48px;
}
.popoutContainer__93fc9 {
  background: var(--background-surface-highest);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-border), var(--shadow-high);
  display: flex;
  flex-direction: column;
  position: relative;
  width: 256px;
}
.popoutCaret__93fc9,
.popoutCaretLeft__93fc9 {
  border: 6px solid;
  border-color: var(--background-surface-highest);
  bottom: -6px;
  height: 0;
  inset-inline-start: 18px;
  position: absolute;
  transform: rotate(45deg);
  width: 0;
  z-index: 1;
}
.popoutCaretLeft__93fc9 {
  inset-inline-start: -6px;
  top: 18px;
}
.popoutContent__93fc9 {
  box-sizing: border-box;
  padding: 16px;
  width: 256px;
  z-index: 2;
}
.coachmarkTextContainer__93fc9 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}
.wrapper_ef3116 {
  background-color: var(--background-base-lowest);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-bottom: calc(
    var(--custom-app-panels-height, 0) + var(--space-xs) - 16px
  );
  -webkit-mask:
    linear-gradient(180deg, #000, transparent) bottom / 100% 16px no-repeat,
    linear-gradient(#000, #000) top / 100% calc(100% - 15px) no-repeat;
  mask:
    linear-gradient(180deg, #000, transparent) bottom / 100% 16px no-repeat,
    linear-gradient(#000, #000) top / 100% calc(100% - 15px) no-repeat;
  overflow: hidden;
  position: relative;
  width: var(--custom-guild-list-width);
}
.wrapper_ef3116.hidden_ef3116 {
  visibility: hidden;
  width: 0;
}
.refresh-fast-follow-guild-bg .wrapper_ef3116 {
  background-color: var(--app-frame-background);
}
@supports (grid-template-columns: subgrid) and (white-space-collapse: collapse) {
  .wrapper_ef3116 {
    grid-area: guildsList;
  }
}
.platform-osx .wrapper_ef3116 {
  margin-top: 0;
}
.tree_ef3116 {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  position: relative;
}
.scroller_ef3116 {
  flex: 0 1 auto;
  padding: 12px 0 0;
  padding-bottom: calc(var(--space-xs, 8px) + 16px);
  padding-top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.scroller_ef3116 > [hidden] {
  margin-top: calc(var(--space-xs) * -1);
  visibility: hidden;
}
.scroller_ef3116.scrolling_ef3116 > * {
  pointer-events: none;
}
.platform-osx .scroller_ef3116,
.platform-win .scroller_ef3116 {
  padding-top: 4px;
}
.platform-overlay .scroller_ef3116 {
  padding-top: 12px;
}
.unreadMentionsIndicatorBottom_ef3116,
.unreadMentionsIndicatorTop_ef3116 {
  box-sizing: border-box;
  height: auto;
  inset-inline: 0;
  overflow: hidden;
  padding: 8px;
  pointer-events: none;
  position: absolute;
  width: var(--custom-guild-list-width);
  z-index: 10;
}
.unreadMentionsIndicatorTop_ef3116 {
  padding-top: 8px;
}
.unreadMentionsIndicatorBottom_ef3116 {
  padding-bottom: calc(var(--space-xs, 8px) + 16px);
}
.unreadMentionsBar_ef3116:before {
  position: absolute;
  top: 0;
  inset-inline: -8px;
  bottom: 0;
  content: "";
}
.unreadMentionsIndicatorTop_ef3116 {
  top: 0;
}
.unreadMentionsIndicatorTop_ef3116 .unreadMentionsBar_ef3116:before {
  top: -8px;
}
.unreadMentionsIndicatorBottom_ef3116 {
  bottom: 0;
}
.unreadMentionsIndicatorBottom_ef3116 .unreadMentionsBar_ef3116:before {
  bottom: -8px;
}
.unreadMentionsFixedFooter_ef3116 {
  bottom: 0;
}
.discoveryIcon_ef3116 {
  color: var(--text-default);
}
.platform-osx .unreadMentionsIndicatorTop_ef3116 .unreadMentionsBar_ef3116 {
  -webkit-app-region: unset;
}
.custom-theme-background .tree_ef3116 {
  background: var(
    --background-gradient-app-frame,
    var(--background-base-lowest)
  );
}
.bottomRailNotifCenterButton_ef3116 {
  padding-bottom: 12px;
  padding-top: 8px;
}
.bottomRailNotifCenterButton_ef3116:before {
  background: linear-gradient(
    to bottom,
    transparent,
    var(--background-base-lowest) 75%,
    var(--background-base-lowest) 100%
  );
  content: "";
  height: 16px;
  position: absolute;
  translate: 0 -22px;
  width: 100%;
}
.custom-theme-background .bottomRailNotifCenterButton_ef3116 {
  padding-top: 12px;
}
.custom-theme-background .bottomRailNotifCenterButton_ef3116:before {
  display: none;
}
.unreadMentionsFixedFooterBottomNotifCenterEntrypoint_ef3116 {
  bottom: 76px;
}

/*# sourceMappingURL=1460.57c62ac7ebed679e.css.map*/
