.popout_f18413 {
  --custom-badge-tile-size: 48;
  --custom-badge-grid-width: calc(
    var(--custom-badge-tile-size) * 6 * 1px + var(--space-xs) * 5
  );
  background: var(--background-surface-higher);
  border: 1px solid var(--border-subtle);
  border-radius: var(--radius-md);
  box-shadow: var(--elevation-low);
  gap: var(--space-md);
  outline: none;
  padding: calc(var(--space-md) - 1px);
  width: var(--custom-badge-grid-width);
}
.header_f18413,
.popout_f18413 {
  display: flex;
  flex-direction: column;
}
.header_f18413,
.titleRow_f18413 {
  gap: var(--space-4);
}
.titleRow_f18413 {
  align-items: center;
  display: flex;
}
.nitroIcon_f18413 {
  color: var(--icon-default);
}
.badgeGrid_f18413 {
  display: grid;
  gap: var(--space-xs);
  grid-template-columns: repeat(6, calc(var(--custom-badge-tile-size) * 1px));
}
.badgeTileContainer_f18413 {
  height: calc(var(--custom-badge-tile-size) * 1px);
  position: relative;
  width: calc(var(--custom-badge-tile-size) * 1px);
}
.badgeTile_f18413 {
  align-items: center;
  background: var(--background-mod-subtle);
  border: 1px solid var(--border-muted);
  border-radius: var(--radius-sm);
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
.badgeTileContainer_f18413.isInteracting_f18413 .badgeTile_f18413,
.badgeTileContainer_f18413:has(:focus-visible) .badgeTile_f18413,
.badgeTileContainer_f18413:hover .badgeTile_f18413 {
  transform: scale(calc(1 + 4 / var(--custom-badge-tile-size)));
}
.full-motion .badgeTile_f18413 {
  transition: transform 0.1s ease;
  will-change: transform;
}
.badgeTileIcon_f18413 {
  height: 28px;
  -o-object-fit: contain;
  object-fit: contain;
  pointer-events: none;
  width: 28px;
}
.badgeTileIconHidden_f18413 {
  opacity: 0.3;
}
.overflowButton_f18413 {
  background: linear-gradient(
      var(--background-mod-normal),
      var(--background-mod-normal)
    ),
    var(--background-surface-highest);
  border: 1px solid var(--border-muted);
  border-radius: var(--radius-round);
  box-shadow: var(--shadow-low);
  height: 24px;
  inset-block-start: -6px;
  inset-inline-end: -6px;
  opacity: 0;
  transition: opacity 50ms ease-in;
  width: 24px;
}
.overflowButton_f18413,
.unhideButton_f18413 {
  align-items: center;
  box-sizing: border-box;
  color: var(--icon-default);
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: absolute;
}
.unhideButton_f18413 {
  background: none;
  border: none;
  height: 20px;
  inset-block-start: 4px;
  inset-inline-end: 4px;
  padding: 0;
  width: 20px;
}
.badgeTileContainer_f18413.isInteracting_f18413 .overflowButton_f18413,
.badgeTileContainer_f18413:hover .overflowButton_f18413,
.overflowButton_f18413:focus-visible {
  opacity: 1;
  transition: opacity 0.15s ease-out;
}
.tag_ed9123 {
  align-items: center;
  border-radius: var(--radius-sm);
  box-sizing: border-box;
  display: inline-flex;
  height: 20px;
  justify-content: center;
  position: relative;
  width: 20px;
}

/*# sourceMappingURL=204899.7b9b9e6fda75a703.css.map*/
