.modalContent__46773 {
  display: flex;
  flex-direction: column;
  gap: var(--custom-modal-padding);
}
.iconSection__46773 {
  flex-direction: column;
  gap: 12px;
}
.iconContainer__46773,
.iconSection__46773 {
  align-items: center;
  display: flex;
  justify-content: center;
}
.iconContainer__46773 {
  cursor: pointer;
  height: 120px;
  margin: 0 auto;
  position: relative;
  width: 120px;
}
.iconContainer__46773.petite__46773 {
  height: 80px;
  width: 80px;
}
.iconContainer__46773 .pencilIconWrapper__46773 {
  align-items: center;
  background: var(--background-mod-subtle);
  border: 4px solid var(--modal-background);
  border-radius: 50%;
  color: var(--interactive-text-default);
  display: flex;
  height: 32px;
  inset-inline-end: -4px;
  justify-content: center;
  position: absolute;
  top: -4px;
  width: 32px;
}
.theme-light .iconContainer__46773 .pencilIconWrapper__46773 {
  background: var(--background-mod-normal);
}
.iconContainer__46773.petite__46773 .pencilIconWrapper__46773 {
  height: 24px;
  width: 24px;
}
.iconContainer__46773:hover .pencilIconWrapper__46773 {
  color: var(--interactive-text-active);
}
.iconPlaceholder__46773 {
  align-items: center;
  background-color: var(--background-mod-subtle);
  border-radius: 50%;
  color: var(--background-mod-normal);
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
.iconContainer__46773:hover .iconPlaceholder__46773 {
  background-color: var(--background-mod-normal);
  outline: 1px solid var(--border-muted);
}
.iconImage__46773 {
  border-radius: 50%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}
.iconImage__46773,
.iconPlaceholder__46773 {
  -webkit-mask-image: radial-gradient(
    circle at calc(100% - 16px) 16px,
    transparent 20px,
    #000 0
  );
  mask-image: radial-gradient(
    circle at calc(100% - 16px) 16px,
    transparent 20px,
    #000 0
  );
}
.iconContainer__46773.petite__46773 .iconImage__46773,
.iconContainer__46773.petite__46773 .iconPlaceholder__46773 {
  -webkit-mask-image: radial-gradient(
    circle at calc(100% - 12px) 12px,
    transparent 16px,
    #000 0
  );
  mask-image: radial-gradient(
    circle at calc(100% - 12px) 12px,
    transparent 16px,
    #000 0
  );
}
.avatars_a05532 {
  align-items: center;
  display: flex;
  flex-grow: 0;
  position: relative;
}
.avatars_a05532 > li:not(:last-child).size16_a05532 {
  margin-inline-end: -3px;
}
.avatars_a05532 > li:not(:last-child).size20_a05532 {
  margin-inline-end: -4px;
}
.avatars_a05532 > li:not(:last-child).size24_a05532 {
  margin-inline-end: -5px;
}
.squircleIcon_a05532 {
  overflow: hidden;
}
.overflow_a05532,
.squircleIcon_a05532 {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
.overflow_a05532 {
  background: var(--background-base-lowest);
  box-sizing: border-box;
}
.overflowButton_a05532 {
  color: var(--interactive-text-default);
  cursor: pointer;
}
.overflowButton_a05532:hover,
.keyboard-mode .overflowButton_a05532:focus {
  color: var(--interactive-text-hover);
}
.overflowButton_a05532.overflow_a05532 {
  border-radius: 0;
}

/*# sourceMappingURL=260877.c26af016000d3478.css.map*/
