.container_c9b8e3 {
  align-items: center;
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}
.usernameContainer_c9b8e3 {
  align-items: flex-start;
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  gap: 2px;
  height: 32px;
  justify-content: center;
}
.userName_c9b8e3 {
  text-overflow: ellipsis;
}
.muted_c9b8e3 {
  opacity: 10%;
}
.userAvatar_c9b8e3 {
  aspect-ratio: 1/1;
  justify-content: center;
  margin-inline-end: 12px;
}
.checkbox_c9b8e3,
.userAvatar_c9b8e3 {
  align-items: center;
  display: flex;
}
.checkbox_c9b8e3 {
  height: 100%;
}
.clickable_c9b8e3 {
  cursor: pointer;
}
.emptySearchResultsContainer__9eabf {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  padding: 32px 16px;
  text-align: center;
}
.trialRecipientContainer__2441a {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
}
.trialRecipientRow__2441a {
  align-items: center;
  align-self: stretch;
  border: 1px solid var(--border-muted);
  border-radius: 12px;
  display: flex;
  gap: 12px;
  overflow: hidden;
  padding: 12px;
}
.trialRecipientRowDisplayName__2441a {
  align-items: flex-start;
  display: inline-block;
  flex: 1 0 0;
  flex-direction: column;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.trialRecipientRowDMContainer__2441a {
  align-items: center;
  background: var(
    --scoped-control-background-secondary-default,
    hsla(240, 4%, 61%, 0.12)
  );
  border: 1px solid
    var(--scoped-control-border-secondary-default, hsla(240, 4%, 61%, 0.16));
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  gap: var(--space-4);
  justify-content: center;
  min-height: 32px;
  min-width: 64px;
  padding: var(--space-4) var(--space-12);
}
.trialRecipientRowDMCTA__2441a {
  font-family: var(--font-primary);
  font-size: 14px;
  font-style: normal;
  font-weight: var(--font-weight-medium, 500);
  line-height: 18px;
  text-align: center;
}
.errorDisplayName__2441a,
.userName__2441a {
  color: var(--text-muted);
}
.erroredAvatar__2441a {
  opacity: 0.5;
}
.searchbar__45744 {
  margin: 0 auto;
}
.list__45744 {
  height: 260px;
  padding: 0;
  width: 100%;
}
.footer__45744 {
  align-content: center;
  align-items: center;
  display: flex;
  width: 100%;
}
.submit__45744 {
  height: 40px;
  margin: 20px 16px 21px;
  width: 100%;
}
.theme-dark .footerSeparator__45744 {
  box-shadow: 0 -1px 0 hsl(var(--primary-630-hsl) / 0.6);
}
.theme-light .footerSeparator__45744 {
  box-shadow: 0 -1px 0 hsl(var(--primary-100-hsl) / 0.6);
}
.invalidWrapper__076c1 {
  border-radius: 3px;
  display: block;
  overflow: hidden;
  position: relative;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
}
.invalidWrapper__076c1 img {
  position: absolute;
}
.invalid__076c1 {
  background-image: url(/assets/eb4644cbe2f3e90f.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 102px;
  width: 200px;
}
.buttonContainer__076c1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.metadata__076c1 {
  color: var(--primary-400);
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: var(--font-weight-semibold);
  justify-content: flex-end;
}
.container__076c1 {
  align-items: stretch;
  flex-direction: row-reverse;
  margin: 0;
  min-height: 0;
  overflow: hidden;
  position: relative;
  width: 660px;
}
.systemMessageContainerDMEmbedXP__076c1 {
  align-items: flex-start;
  border-inline-start: 2px solid var(--icon-strong);
  display: flex;
  gap: 16px;
  padding: 12px 16px;
  width: 1097px;
}
.systemMessageContainerIcon__076c1 {
  padding-top: 0;
}
.containerDMEmbedXP__076c1 {
  align-items: center;
  background: var(--background-mod-subtle, hsla(240, 4%, 61%, 0.12));
  border-radius: 16px;
  display: flex;
  gap: 24px;
  height: 200px;
  margin-top: 16px;
  padding: 28px 24px;
  width: 580px;
}
.contentDMEmbedXP__076c1 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.contentTextDMEmbedXP__076c1 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  line-height: 20px;
}
.imgDMEmbedXP__076c1 {
  overflow: visible;
}
.buttonContainerDMEmbedXP__076c1 {
  align-items: center;
  color: #000;
  display: flex;
  font-family: var(--font-primary);
  font-size: 16px;
  font-style: normal;
  font-weight: var(--font-weight-medium, 500);
  gap: 24px;
  line-height: 20px;
}
.tile__076c1 {
  align-items: stretch;
  background-color: var(--background-mod-normal);
  border-radius: 5px;
  box-shadow: 0 0 0 hsl(var(--primary-700-hsl) / 0.15);
  display: flex;
  flex-direction: row-reverse;
  min-height: 0;
  overflow: hidden;
  transform: translateZ(0);
  transition:
    background-color 0.2s ease,
    box-shadow 0.2s ease;
  width: 660px;
}
.title__076c1 {
  flex: 0 1 auto;
  font-size: 18px;
  font-weight: var(--font-weight-semibold);
  line-height: 1.2;
}
.tagline__076c1 {
  color: var(--text-default);
  flex: 1 1 auto;
  font-size: 15px;
  line-height: 1.3;
  margin-top: 8px;
  overflow: hidden;
}
.actions__076c1 {
  flex: 0 1 auto;
  justify-self: flex-end;
  margin-top: 12px;
}
.media__076c1 {
  align-items: center;
  display: flex;
  flex: 0 0 278px;
  position: relative;
}
.birthdayReferral__076c1,
.referral__076c1 {
  flex: auto;
  height: 100%;
  margin: 0;
  max-height: none;
  overflow: hidden;
  padding-top: 0;
  position: relative;
}
.referral__076c1 {
  background: url(/assets/e790daeb039ddb5a.svg) 100% no-repeat;
}
.birthdayReferral__076c1 {
  background: url(/assets/eb40cc3e32c7e70f.svg) 100% no-repeat;
}
.description__076c1 {
  color: var(--text-strong);
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 12px;
  position: relative;
}
.theme-dark .tile__076c1:hover {
  background-color: var(--primary-800);
}
.theme-dark .invalid__076c1 {
  background-image: url(/assets/e4a502bfc6589d65.svg);
}
.ticketIcon__0557e {
  display: block;
  height: 1rem;
  width: 1rem;
}
.welcomeCTA_f5d1e2 {
  margin-bottom: 2px;
}
.content__75e8e {
  background: var(--background-mod-muted);
  border: 1px solid var(--border-subtle);
  border-radius: 12px;
  max-height: 166px;
  overflow: hidden;
}
.innerContent__75e8e {
  flex-direction: row;
}
.innerContent__75e8e,
.subContent__75e8e {
  align-items: center;
  display: flex;
}
.subContent__75e8e {
  flex: 1;
  margin: 16px;
  min-width: 0;
}
.avatars__75e8e {
  flex-shrink: 0;
  position: relative;
}
.recipientUserAvatar__75e8e {
  background-color: var(--background-surface-high);
}
.recipientAvatarMask__75e8e {
  display: block;
}
.currentUserAvatar__75e8e {
  background-color: var(--background-mod-muted);
  bottom: -3px;
  inset-inline-end: -2px;
  position: absolute;
}
.textContainer__75e8e {
  display: flex;
  flex-direction: column;
  margin-inline-start: 12px;
  padding-top: var(--space-6);
}
.subHeaderContainer__75e8e {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.subHeaderText__75e8e {
  color: #fff;
  opacity: 0.8;
}
.buttonContainer__75e8e {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  gap: 16px;
  padding-inline-end: 16px;
}
.messageContentContainer__4ea49 {
  min-width: 460px;
  padding-bottom: 8px;
  padding-top: 16px;
  width: 100%;
}
.iconContainer__4ea49 {
  height: 100%;
}
.icon__4ea49 {
  fill: var(--brand-500);
}
.container__85015 {
  background: var(--background-mod-normal);
  border-radius: var(--space-8);
  color: var(--text-strong);
  display: flex;
  flex-grow: 1;
  padding: var(--space-16);
}
.theme-light .container__85015 {
  background: var(--background-base-low);
}
.buttonContainer__85015 {
  margin-inline-start: var(--space-24);
  padding-top: 2px;
}
.messageContentContainer__85015 {
  padding-top: var(--space-12);
}
.iconContainer__85015 {
  height: 100%;
}
.icon__85015 {
  fill: var(--premium-nitro-pink-light);
}
.nitroBadge__85015 {
  align-items: center;
  display: flex;
  margin-top: 2px;
}
.nitroBadgeIcon__85015 {
  fill: var(--premium-nitro-pink-light);
}
.nitroBadgeText__85015 {
  color: var(--premium-nitro-pink-light);
  margin-inline-start: var(--space-4);
}
.premiumIcon__85015 {
  height: 16px;
  margin: 0;
}
.embedCard__44c9a {
  background-color: var(--background-base-lower);
  border-radius: 8px;
  padding: 12px;
}
.embedCard__44c9a.compact__44c9a {
  padding: 4px;
}
.embedCard__44c9a .header__44c9a {
  font-family: var(--font-primary) !important;
  font-weight: 400 !important;
  margin: 0 !important;
  padding: 0 !important;
}
.withFooter__44c9a {
  border-radius: 8px 8px 0 0;
}
.messageContainer__44c9a {
  margin-inline-start: -8px;
}
.mainContainer__44492 {
  margin-bottom: 2px;
  margin-top: 2px;
}
.mainContainer__44492.compact__44492 {
  margin-inline-start: -3.95rem;
  padding-inline-start: 0;
}
.content__44492 {
  font-size: 16px;
  line-height: 24px;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: var(--text-default);
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
  word-break: break-word;
}
.content__44492 a {
  color: var(--interactive-text-active);
  cursor: pointer;
  font-weight: var(--font-weight-medium);
}
.content__44492 .actionAnchor__44492 {
  color: var(--text-link);
}
.content__44492.compact__44492 {
  padding-inline-start: 0;
}
.embedCard__44492 {
  margin-top: 4px;
}
.embedCard__44492.compact__44492 {
  margin-top: 0;
}
.embedCard__44492.selected__44492 {
  background-color: var(--background-mod-normal);
}
.embedCard__44492.isClickable__44492 {
  cursor: pointer;
}
.messageContent__44492.compact__44492 {
  padding-inline-start: 3.3rem;
}
.messageContent__44492 .channelNameContainer__44492 {
  display: flex;
}
.messageContent__44492 .channelNameContainer__44492 .channelName__44492 {
  background-color: var(--background-base-lower);
  color: var(--text-muted);
}
.messageContent__44492 .channelName__44492 {
  align-items: center;
  color: var(--text-link);
  display: flex;
  flex-direction: row;
  font-weight: var(--font-weight-medium);
  justify-content: center;
}
.messageContent__44492 .channelIcon__44492 {
  margin-inline-end: 4px;
}
.iconContainer__44492 {
  align-items: center;
  display: flex;
  inset-inline-end: 100%;
  justify-content: center;
  padding-top: 0;
  position: absolute;
  width: 2.5rem;
}
.compact__44492 .iconContainer__44492 {
  margin-inline-end: 1rem;
}
.font-size-24 .cozy__44492 .iconContainer__44492 {
  width: 3rem;
}
.font-size-20 .cozy__44492 .iconContainer__44492 {
  width: 3.5rem;
}
.font-size-18 .cozy__44492 .iconContainer__44492 {
  width: 4rem;
}
.font-size-12 .cozy__44492 .iconContainer__44492,
.font-size-14 .cozy__44492 .iconContainer__44492,
.font-size-15 .cozy__44492 .iconContainer__44492,
.font-size-16 .cozy__44492 .iconContainer__44492 {
  width: 4.5rem;
}
.compact__44492 .iconContainer__44492 {
  inset-inline-end: auto;
  position: relative;
  width: auto;
}
.avatarContainer__44492 {
  align-items: center;
  background-color: var(--background-base-lowest);
  border-radius: 50%;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}
.usernameContainer__44492 {
  font-family: var(--font-primary) !important;
  font-weight: 400 !important;
  margin: 0 !important;
  padding: 0 !important;
}
.usernameContainer__44492 .username__44492 {
  font-weight: var(--font-weight-semibold);
  margin-inline-end: 4px;
}
.usernameContainer__44492 .systemTag__44492 {
  margin-inline-end: 4px;
  margin-top: 0;
}
.usernameContainer__44492.compact__44492 {
  margin-inline-start: -24px;
  padding-inline-start: 0;
}
.centeredRowContainer__44492 {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.dotMargin__44492 {
  margin-inline: 8px;
}
.buttonContainer__44492 {
  margin-inline-start: -8px;
}
.footerIcon__44492 {
  margin-inline-end: 4px;
  vertical-align: center;
}
.footerAction__44492 {
  display: flex;
  padding: 8px;
}
.dot__44492 {
  background-color: var(--background-mod-subtle);
  border-radius: 50%;
  height: 4px;
  width: 4px;
}
.spanCorrection__44492 {
  align-items: center;
  flex-wrap: wrap;
  white-space: pre;
}
.compact__44492 .spanCorrection__44492,
.spanCorrection__44492 {
  display: flex !important;
  flex-direction: row;
}
.footerContainer__44492 {
  background-color: var(--background-base-lowest);
  border-radius: 0 0 8px 8px;
  line-height: 20px;
  padding: 2px 18px 4px;
}
.footerContainer__44492.compact__44492 {
  margin-inline-start: 3.3rem;
}
.annotationRow__44492 {
  background-color: var(--background-mod-normal);
  border-radius: 4px;
  line-height: 20px;
  margin-top: 4px;
  padding: 4px 8px 6px;
}
.alertActionIcon__44492 {
  color: var(--text-muted);
  padding-inline-start: 6px;
  vertical-align: middle;
}
.alertActionSetCompletedIcon__44492 {
  color: var(--text-feedback-positive);
  vertical-align: middle;
}
.alertActionsIconContainer__44492 {
  margin-inline-start: auto;
}
.titleCase__44492 {
  text-transform: capitalize;
}
.mainContainer_b99f57.compact_b99f57 {
  margin-inline-start: -3.95rem;
  padding-inline-start: 0;
}
.content_b99f57 {
  font-size: 16px;
  line-height: 24px;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: var(--text-default);
  display: flex;
  flex-direction: column;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
  word-break: break-word;
}
.content_b99f57 a {
  color: var(--interactive-text-active);
  cursor: pointer;
  font-weight: var(--font-weight-medium);
}
.content_b99f57 .actionAnchor_b99f57 {
  color: var(--text-link);
}
.content_b99f57.compact_b99f57 {
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-inline-start: 0;
}
.flexLineBreak_b99f57 {
  flex-basis: 100%;
}
.embedCard_b99f57 {
  background-color: var(--background-base-lower);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  margin-top: 4px;
  margin-inline-start: 0;
  overflow: hidden;
}
.embedCard_b99f57.compact_b99f57 {
  margin-inline-start: 3.3rem;
}
.cardContent_b99f57 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px;
}
.cardHeader_b99f57 {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.cardHeaderContianer_b99f57 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.subheader_b99f57 {
  gap: 8px;
}
.cardFooter_b99f57,
.subheader_b99f57 {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.cardFooter_b99f57 {
  background-color: var(--background-mod-normal);
  padding: 4px;
}
.iconContainer_b99f57 {
  align-items: center;
  display: flex;
  inset-inline-end: 100%;
  justify-content: center;
  padding-top: 0;
  position: absolute;
  width: 2.5rem;
}
.compact_b99f57 .iconContainer_b99f57 {
  margin-inline-end: 1rem;
}
.font-size-24 .cozy_b99f57 .iconContainer_b99f57 {
  width: 3rem;
}
.font-size-20 .cozy_b99f57 .iconContainer_b99f57 {
  width: 3.5rem;
}
.font-size-18 .cozy_b99f57 .iconContainer_b99f57 {
  width: 4rem;
}
.font-size-12 .cozy_b99f57 .iconContainer_b99f57,
.font-size-14 .cozy_b99f57 .iconContainer_b99f57,
.font-size-15 .cozy_b99f57 .iconContainer_b99f57,
.font-size-16 .cozy_b99f57 .iconContainer_b99f57 {
  width: 4.5rem;
}
.compact_b99f57 .iconContainer_b99f57 {
  inset-inline-end: auto;
  position: relative;
  width: auto;
}
.usernameContainer_b99f57 {
  font-family: var(--font-primary) !important;
  font-weight: 400 !important;
  margin: 0 !important;
  padding: 0 !important;
}
.usernameContainer_b99f57 .username_b99f57 {
  font-weight: var(--font-weight-semibold);
  margin-inline-end: 4px;
}
.usernameContainer_b99f57 .systemTag_b99f57 {
  margin-inline-end: 2px;
  margin-top: 2px;
}
.usernameContainer_b99f57.compact_b99f57 {
  margin-inline-start: -24px;
  padding-inline-start: 0;
}
.centeredRowContainer_b99f57 {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.dotMargin_b99f57 {
  margin-inline: 8px;
}
.footerIcon_b99f57 {
  margin-inline-end: 4px;
  vertical-align: center;
}
.footerAction_b99f57 {
  display: flex;
  padding: 8px;
}
.spanCorrection_b99f57 {
  flex-wrap: wrap;
  white-space: pre;
}
.compact_b99f57 .spanCorrection_b99f57,
.spanCorrection_b99f57 {
  display: flex !important;
  flex-direction: row;
}
.alertsEnabledSubHeader_b99f57 {
  align-items: center;
  display: flex;
  gap: 4px;
}
.alertsEnabledSubHeaderAvatarUsername_b99f57 {
  align-items: center;
  cursor: pointer;
  display: flex;
}
.dotSeparatedRow_b99f57 {
  gap: 4px;
}
.dotSeparatedRow_b99f57,
.footerRow_b99f57 {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.dot_b99f57 {
  background-color: var(--background-mod-subtle);
  border-radius: 50%;
  height: 4px;
  width: 4px;
}
.applicationName__9e50d {
  display: inline-flex;
}
.systemMessage__9e50d > a:last-of-type {
  color: var(--text-link);
}
.iconContainer__8efcc {
  height: 100%;
}
.icon__8efcc {
  fill: var(--brand-500);
}
.container__8efcc {
  background: var(--background-mod-subtle);
  border: 1px solid var(--border-subtle);
  border-radius: var(--radius-lg);
  padding: var(--space-12);
}
.container__8efcc,
.imageContainer__8efcc {
  align-items: center;
  display: flex;
}
.imageContainer__8efcc {
  background: radial-gradient(
    136.54% 106.67% at 50% -6.67%,
    #734390 0,
    #11053e 100%
  );
  border-radius: var(--radius-sm);
  box-shadow: 0 3.965px 7.929px 0 var(--shadow-medium, rgba(0, 0, 0, 0.16));
  height: 60px;
  justify-content: center;
  outline: 0.991px solid hsla(0, 0%, 100%, 0.1);
  outline-offset: -0.991px;
  width: 60px;
}
.image__8efcc {
  height: 45px;
  width: 45px;
}
.content__8efcc {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-inline: var(--space-12);
}
.body__8efcc a {
  color: var(--text-link);
}
.contentWrapper__8efcc {
  margin-top: var(--space-16);
  width: 100%;
}
.messageContent__2facc {
  display: inline-block;
}
.alertIcon__2facc {
  color: var(--text-feedback-warning);
  height: 16px;
  width: 16px;
}
.content_e8c018 p {
  margin-bottom: 0;
  margin-top: 0;
}
.content_e8c018 a:last-of-type {
  color: var(--text-link);
}
.gameContainer_e8c018 {
  color: var(--text-default);
  font-weight: var(--font-weight-medium);
}
.inlineIcon_e8c018 {
  margin-bottom: 2px;
  vertical-align: middle;
}
.stageSystemMessage_e9ab2f {
  color: var(--text-strong);
}
.iconContainer_e9ab2f {
  color: var(--text-muted);
}
.icon_b9588c {
  height: 1.125rem;
  width: 1.125rem;
}
.icon__80514 {
  height: 1.125rem;
  width: 1.125rem;
}
.messageWrapper__22cef {
  max-width: 800px;
  width: 100%;
}
.container__22cef {
  align-items: center;
  background: radial-gradient(
      885.71% 100% at 0 50%,
      rgba(30, 30, 32, 0) 0,
      #1e1e20 100%
    ),
    radial-gradient(64.63% 394.64% at 0 0, #4b286a 0, #151228 100%),
    var(--background-base-lowest);
  border-radius: var(--radius-lg);
  display: flex;
  margin-top: var(--space-8);
  outline: 1px solid var(--border-subtle);
  outline-offset: -1px;
  overflow: hidden;
  padding: var(--space-12);
  position: relative;
}
.theme-light .container__22cef {
  background: radial-gradient(
      885.71% 100% at 0 50%,
      hsla(0, 0%, 100%, 0) 0,
      #fff 100%
    ),
    radial-gradient(64.63% 394.64% at 0 0, #eab8ff 0, #f3d5ff 100%),
    var(--background-base-lowest);
}
.clickableWrapper__22cef {
  cursor: pointer;
}
.gemWrapper__22cef {
  align-items: center;
  background: radial-gradient(
    136.54% 106.67% at 50% -6.67%,
    #734390 0,
    #11053e 100%
  );
  border-radius: var(--radius-sm);
  box-shadow: 0 3.965px 7.929px 0 var(--shadow-medium, rgba(0, 0, 0, 0.16));
  display: flex;
  height: 60px;
  justify-content: center;
  outline: 0.991px solid hsla(0, 0%, 100%, 0.1);
  outline-offset: -0.991px;
  position: relative;
  width: 60px;
}
.gemImage__22cef {
  height: 45px;
  width: 45px;
}
.content__22cef {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--space-4);
  margin-inline: var(--space-12);
  position: relative;
}
.title__22cef {
  color: var(--text-default);
}
.body__22cef {
  color: var(--text-subtle);
}
.icon__22cef {
  height: 1rem;
  width: 1rem;
}
.iconContainer__22cef {
  height: 100%;
}
.messageLink__22cef {
  color: var(--text-link) !important;
}
.actions__22cef {
  align-items: center;
  display: flex;
  position: relative;
}
.iconWrapper__9f20a {
  height: 1rem;
  width: 1rem;
}
.icon__9f20a {
  color: var(--guild-boosting-pink);
  height: 100%;
  width: 100%;
}
.icon__9f20a,
.message__9f20a {
  cursor: pointer;
}
.cannon__9f20a,
.cannonWrapper__9f20a {
  height: 100%;
  position: absolute;
  width: 100%;
}
.easterEggAnimationClickTarget__9f20a {
  cursor: pointer;
  pointer-events: all;
  position: absolute;
}
.easterEggAnimationClickTargetTopLeft__9f20a {
  inset-inline-start: 0;
  top: 0;
  transform: scale(-1);
}
.easterEggAnimationClickTargetTopRight__9f20a {
  inset-inline-end: 0;
  top: 0;
  transform: scaleY(-1);
}
.easterEggAnimationClickTargetBottomLeft__9f20a {
  bottom: 0;
  inset-inline-start: 0;
  transform: scaleX(-1);
}
.easterEggAnimationClickTargetBottomRight__9f20a {
  bottom: 0;
  inset-inline-end: 0;
}
.easterEggAnimation__9f20a {
  height: var(--custom-user-premium-guild-subscription-easter-egg-size);
  width: var(--custom-user-premium-guild-subscription-easter-egg-size);
}
.easterEggAnimationHideLeaf__9f20a .userPremiumGuildSubscriptionLeaf,
.easterEggAnimationHideLeaf__9f20a .userPremiumGuildSubscriptionLeafParent {
  visibility: hidden;
}
.popoutWrapper_a1f71e {
  display: flex;
  inset-inline-start: -30px;
  max-height: 40vh;
  position: relative;
  width: 200px;
}
.scroller_a1f71e {
  background-color: var(--background-surface-high);
  border-radius: 4px;
  padding: 8px 16px;
}
.voiceSessionWrapper_a1f71e {
  display: inline;
}
.container_c530da {
  max-width: 350px;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
}
.tooltip_c530da {
  background-color: var(--background-surface-high);
  border-radius: 5px;
  box-shadow: var(--shadow-border), var(--shadow-high);
  color: var(--primary-200);
  font-size: 16px;
  line-height: 20px;
  overflow-wrap: break-word;
  padding: 8px 12px;
}
.tooltipPointer_c530da {
  border: 5px solid transparent;
  border-top: 5px solid var(--background-surface-high);
  height: 0;
  inset-inline-start: 50%;
  margin-inline-start: -5px;
  pointer-events: none;
  position: absolute;
  top: 100%;
  width: 0;
}
.clickable_c530da {
  cursor: pointer;
}
.mention_c530da {
  background: none;
  padding: 0;
}
.spinner_c530da {
  height: 16px;
  width: 16px;
}
.spacing_fd14e0 {
  margin-bottom: 20px;
}
.spacingTop_fd14e0 {
  margin-top: 20px;
}
.message_fd14e0 {
  background-color: var(--background-base-low);
  border-radius: 3px;
  box-shadow: var(--legacy-elevation-border), var(--legacy-elevation-high);
  overflow: hidden;
  padding-bottom: 10px;
  padding-top: 10px;
  pointer-events: none;
  position: relative;
}
.closeButton_fd14e0 {
  justify-content: flex-end;
}
.wrapper_f563df {
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
  padding: 8px;
}
.button_f563df,
.wrapper_f563df {
  align-items: center;
}
.button_f563df {
  background-color: var(--background-mod-subtle);
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex: 0 0 auto;
  height: 44px;
  justify-content: center;
  padding: 0;
  width: 44px;
}
.button_f563df:hover {
  background-color: var(--background-mod-strong);
}
.button_f563df:active {
  background-color: var(--background-mod-muted);
}
.button_f563df:hover {
  background-color: var(--background-mod-normal);
}
.keyboard-mode .button_f563df.focused_f563df {
  background-color: var(--background-mod-normal);
  box-shadow: 0 0 0 2px var(--blue-345);
}
.icon_f563df {
  display: block;
  height: 20px;
  -o-object-fit: contain;
  object-fit: contain;
  width: 20px;
}
.flagIcon__45b6e {
  height: 12px;
  width: 16px;
}
.container__040f0 {
  inset-inline-end: 0;
  padding-block: 0;
  padding-inline: 32px 14px;
  position: absolute;
  top: -25px;
  z-index: 1;
}
.isHeader__040f0:not(.isReply__040f0) {
  top: -16px;
}
.emojiTooltipText__040f0 {
  text-align: center;
}
.emoji__040f0 {
  height: 20px;
  width: 20px;
}
.operations_bab751 {
  color: var(--text-default);
  font-size: 12px;
  font-weight: var(--font-weight-normal);
  padding: 7px 0;
  text-indent: 0;
}
.operations_bab751 > a {
  color: var(--text-link);
  cursor: pointer;
  text-decoration: none;
  transition: 0.05s;
}
.operations_bab751 > a:hover {
  text-decoration: underline;
}
@media (-webkit-max-device-pixel-ratio: 1) {
  .theme-light .operations_bab751 {
    font-weight: var(--font-weight-medium);
  }
}

/*# sourceMappingURL=30928.b6e9063d863f0dc6.css.map*/
