.pauseBackground_d70e0d {
  align-self: center;
  background-color: var(--background-mod-strong);
  border-radius: 50%;
  display: flex;
  height: 16px;
  justify-content: center;
  justify-self: center;
  overflow: hidden;
  width: 16px;
}
.pause_d70e0d {
  align-self: center;
  color: var(--interactive-text-active);
}
@value popoutBackgroundColor var(--background-surface-highest);
@value popoutWidth 256px;
.pendingFolderButtonIcon__93fc9 {
  align-items: center;
  background-color: var(--background-mod-subtle);
  border-radius: var(--radius-md);
  box-sizing: border-box;
  color: var(--text-default);
  display: flex;
  height: var(--guildbar-avatar-size);
  justify-content: center;
  transition: background-color 0.2s ease-out;
  width: var(--guildbar-avatar-size);
}
.pendingFolderButtonIcon__93fc9:hover {
  background-color: var(--background-mod-normal);
}
.container__93fc9 {
  display: flex;
  flex-direction: column;
}
.popoutAnchor__93fc9 {
  align-self: center;
  width: 48px;
}
.popoutContainer__93fc9 {
  background: var(--background-surface-highest);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-border), var(--shadow-high);
  display: flex;
  flex-direction: column;
  position: relative;
  width: 256px;
}
.popoutCaret__93fc9,
.popoutCaretLeft__93fc9 {
  border: 6px solid;
  border-color: var(--background-surface-highest);
  bottom: -6px;
  height: 0;
  inset-inline-start: 18px;
  position: absolute;
  transform: rotate(45deg);
  width: 0;
  z-index: 1;
}
.popoutCaretLeft__93fc9 {
  inset-inline-start: -6px;
  top: 18px;
}
.popoutContent__93fc9 {
  box-sizing: border-box;
  padding: 16px;
  width: 256px;
  z-index: 2;
}
.coachmarkTextContainer__93fc9 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}
.wrapper_ef3116 {
  background-color: var(--background-base-lowest);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-bottom: calc(
    var(--custom-app-panels-height, 0) + var(--space-xs) - 16px
  );
  -webkit-mask:
    linear-gradient(180deg, #000, transparent) bottom / 100% 16px no-repeat,
    linear-gradient(#000, #000) top / 100% calc(100% - 15px) no-repeat;
  mask:
    linear-gradient(180deg, #000, transparent) bottom / 100% 16px no-repeat,
    linear-gradient(#000, #000) top / 100% calc(100% - 15px) no-repeat;
  overflow: hidden;
  position: relative;
  width: var(--custom-guild-list-width);
}
.wrapper_ef3116.hidden_ef3116 {
  visibility: hidden;
  width: 0;
}
.refresh-fast-follow-guild-bg .wrapper_ef3116 {
  background-color: var(--app-frame-background);
}
@supports (grid-template-columns: subgrid) and (white-space-collapse: collapse) {
  .wrapper_ef3116 {
    grid-area: guildsList;
  }
}
.platform-osx .wrapper_ef3116 {
  margin-top: 0;
}
.tree_ef3116 {
  position: relative;
}
.itemsContainer_ef3116,
.tree_ef3116 {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.itemsContainer_ef3116 {
  justify-content: space-between;
}
.scroller_ef3116 {
  flex: 0 1 auto;
  padding: 12px 0 0;
  padding-bottom: calc(var(--space-xs, 8px) + 16px);
  padding-top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.scroller_ef3116 > [hidden] {
  margin-top: calc(var(--space-xs) * -1);
  visibility: hidden;
}
.scroller_ef3116.scrolling_ef3116 > * {
  pointer-events: none;
}
.platform-osx .scroller_ef3116,
.platform-win .scroller_ef3116 {
  padding-top: 4px;
}
.platform-overlay .scroller_ef3116 {
  padding-top: 12px;
}
.unreadMentionsIndicatorBottom_ef3116,
.unreadMentionsIndicatorTop_ef3116 {
  box-sizing: border-box;
  height: auto;
  inset-inline: 0;
  overflow: hidden;
  padding: 8px;
  pointer-events: none;
  position: absolute;
  width: var(--custom-guild-list-width);
  z-index: 10;
}
.unreadMentionsIndicatorTop_ef3116 {
  padding-top: 8px;
}
.unreadMentionsIndicatorBottom_ef3116 {
  padding-bottom: calc(var(--space-xs, 8px) + 16px);
}
.unreadMentionsBar_ef3116:before {
  position: absolute;
  top: 0;
  inset-inline: -8px;
  bottom: 0;
  content: "";
}
.unreadMentionsIndicatorTop_ef3116 {
  top: 0;
}
.unreadMentionsIndicatorTop_ef3116 .unreadMentionsBar_ef3116:before {
  top: -8px;
}
.unreadMentionsIndicatorBottom_ef3116 {
  bottom: 0;
}
.unreadMentionsIndicatorBottom_ef3116 .unreadMentionsBar_ef3116:before {
  bottom: -8px;
}
.unreadMentionsFixedFooter_ef3116 {
  bottom: 0;
}
.discoveryIcon_ef3116 {
  color: var(--text-default);
}
.platform-osx .unreadMentionsIndicatorTop_ef3116 .unreadMentionsBar_ef3116 {
  -webkit-app-region: unset;
}
.custom-theme-background .itemsContainer_ef3116 {
  background: var(
    --background-gradient-app-frame,
    var(--background-base-lowest)
  );
}
.bottomRailNotifCenterButton_ef3116 {
  padding-bottom: 12px;
  padding-top: 8px;
}
.bottomRailNotifCenterButton_ef3116:before {
  background: linear-gradient(
    to bottom,
    transparent,
    var(--background-base-lowest) 75%,
    var(--background-base-lowest) 100%
  );
  content: "";
  height: 16px;
  position: absolute;
  translate: 0 -22px;
  width: 100%;
}
.custom-theme-background .bottomRailNotifCenterButton_ef3116 {
  padding-top: 12px;
}
.custom-theme-background .bottomRailNotifCenterButton_ef3116:before {
  display: none;
}
.unreadMentionsFixedFooterBottomNotifCenterEntrypoint_ef3116 {
  bottom: 76px;
}
.notice__29487 {
  align-items: center;
  background: linear-gradient(
      90deg,
      var(
          --color-scoped-expressive-background-nitro-1-start,
          rgba(179, 38, 156, 0.7)
        )
        0,
      var(
          --color-scoped-expressive-background-nitro-1-end,
          rgba(20, 20, 203, 0.7)
        )
        100%
    ),
    var(--background-base-lowest);
  border-radius: 8px 0 0;
  display: flex;
  height: 54px;
  position: relative;
  z-index: 101;
}
.high-contrast-mode.theme-dark .notice__29487 {
  border-inline-start: 1px solid var(--border-normal);
  border-top: 1px solid var(--border-normal);
  box-sizing: border-box;
}
@supports not (
  (grid-template-columns: subgrid) and (white-space-collapse: collapse)
) {
  .notice__29487 {
    border-start-start-radius: 0;
  }
}
@supports (grid-template-columns: subgrid) and (white-space-collapse: collapse) {
  .notice__29487 {
    grid-area: notice;
  }
}
.noticeContent__29487 {
  align-items: center;
  display: flex;
  flex: 1;
  gap: var(--space-16);
  justify-content: center;
}
.noticeText__29487 strong {
  font-weight: var(--font-weight-semibold);
}
.closeButton__29487 {
  margin-inline: auto var(--space-12);
}
.premiumIcon_b68a35 {
  height: 24px;
  margin-inline-end: 8px;
  position: relative;
  top: 6px;
  width: 24px;
}
.platformIcon_b68a35 {
  display: inline-block;
  height: 28px;
  margin-top: -4px;
  margin-inline-end: 10px;
  position: relative;
  vertical-align: middle;
  width: 28px;
}
.platformIcon_b68a35 + .platformIcon_b68a35 {
  margin-inline-start: -10px;
}
.giftIcon_b68a35 {
  margin-inline-end: 4px;
  vertical-align: text-bottom;
}
.icon_b68a35 {
  display: inline-block;
  height: 20px;
  margin-inline-start: 10px;
  margin-top: -3px;
  position: relative;
  vertical-align: middle;
  width: 20px;
}
.icon_b68a35 + .icon_b68a35 {
  margin-inline-start: 6px;
}
.iconWindows_b68a35 {
  -webkit-mask-image: url(/assets/20dd0e244b9a7065.svg);
  mask-image: url(/assets/20dd0e244b9a7065.svg);
}
.iconApple_b68a35,
.iconWindows_b68a35 {
  background-color: currentColor;
}
.iconApple_b68a35 {
  -webkit-mask-image: url(/assets/d11dc1928431aa27.svg);
  mask-image: url(/assets/d11dc1928431aa27.svg);
}
.iconAndroid_b68a35 {
  -webkit-mask-image: url(/assets/f625814fc53c325e.svg);
  mask-image: url(/assets/f625814fc53c325e.svg);
}
.iconAndroid_b68a35,
.iconMetaQuest_b68a35 {
  background-color: currentColor;
}
.iconMetaQuest_b68a35 {
  margin-inline-end: 4px;
  -webkit-mask-image: url(/assets/ac961aa8d4bb48a5.svg);
  mask-image: url(/assets/ac961aa8d4bb48a5.svg);
  mask-mode: alpha;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}
.iconUSFlag_b68a35 {
  background-image: url(/assets/423c2b95bd0fdafb.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 85%;
  margin-inline-end: 7px;
  margin-top: 0;
}
.icon_b68a35 + .btn_b68a35 {
  margin-inline-start: 20px;
}
.textLink_b68a35 {
  color: currentColor;
  padding-inline-start: 10px;
  text-decoration: underline;
  -webkit-app-region: no-drag;
  font-size: 12px;
}
.testModeSKUSelector_b68a35 {
  height: 24px;
  margin-inline-start: 16px;
}
.premiumLogo_b68a35 {
  background-image: url(/assets/a3541a1173e706be.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
  height: 13px;
  margin-inline-end: 20px;
  position: relative;
  top: 2px;
  width: 51px;
}
.premiumText_b68a35 {
  font-weight: var(--font-weight-medium);
}
.premiumAction_b68a35 {
  margin-inline-start: 20px;
}
.ellipsis_b68a35 {
  margin-inline-start: 7px;
}
.quarantineLearnMoreLink_b68a35 {
  margin-inline-start: 10px;
  text-decoration: underline;
}
.errorCodeNoticeText_b68a35 {
  margin-inline-start: var(--space-8);
}
.errorCodeNoticeClickable_b68a35 {
  cursor: pointer;
}
.riotConnectionDeprecationNoticeCTAButton_b68a35 {
  background: var(--background-mod-subtle);
  border: none;
  border-radius: var(--radius-sm);
}
.riotConnectionDeprecationRemindLaterButton_b68a35 {
  border: none;
  border-radius: var(--radius-sm);
  text-decoration: underline;
}
.riotConnectionDeprecationNoticeIcon_b68a35 {
  background: var(--background-mod-subtle);
  border-radius: var(--radius-xs);
  height: 16px;
  padding: var(--space-4);
  width: 16px;
}
.text__7b750 {
  display: inline-block;
}
.text__7b750,
.text__7b750 a {
  color: currentColor;
}
.text__7b750 a {
  text-decoration: underline;
}
.premiumIcon__7b750 {
  height: 24px;
  margin-inline-end: 8px;
  position: relative;
  top: 6px;
  width: 24px;
}
.notice__36c3e {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.guildIcon__36c3e {
  margin-inline-end: 8px;
}
.guildName__36c3e {
  color: inherit;
}
.guildName__36c3e:hover {
  text-decoration: underline;
}
.actionButton__36c3e {
  margin-inline-start: 12px;
  top: 0;
}
.actionButtonInner__36c3e {
  align-items: center;
  display: flex;
  gap: 4px;
}
.notice__30f28 {
  align-items: center;
  background-color: var(--brand-600);
  box-shadow: none;
  color: var(--white);
  display: flex;
  height: 40px;
  justify-content: center;
  padding: 0 8px;
}
.notice__30f28.error__30f28 {
  background-color: var(--background-feedback-critical);
}
.button__30f28 {
  align-items: center;
  font-weight: var(--font-weight-semibold);
  height: -moz-fit-content;
  height: fit-content;
  padding: 4px 8px;
}
.button__30f28:hover {
  background-color: var(--brand-530);
}
.error__30f28 > .button__30f28:hover {
  background-color: var(--red-430);
}
.header__30f28 {
  color: var(--white);
  display: inline;
  margin-inline-end: 16px;
}
.backButtonInner__84419 {
  display: flex;
  gap: 8px;
  padding: 2px 0;
}
.backButton__84419:hover {
  background-color: var(--brand-530);
}
.backNotice__84419 {
  background-color: var(--brand-600);
  border-radius: 0;
  padding: 8px;
}
.closeButton__84419 {
  height: 100%;
}

/*# sourceMappingURL=39296.61d80db3c4c22cde.css.map*/
