.popoutWrapper_d6b206 {
  display: flex;
  margin-bottom: 10px;
  max-height: 40vh;
  position: relative;
  width: 200px;
}
.scroller_d6b206 {
  background-color: var(--background-surface-high);
  border-radius: 4px;
  padding: 8px 16px;
}
.viewers_d6b206 {
  align-items: center;
  display: flex;
  flex-grow: 0;
  position: relative;
}
.viewers_d6b206:hover .popoutWrapper_d6b206 {
  opacity: 1;
  transform: translateX(0);
  visibility: visible;
}
.viewer_d6b206 {
  margin-inline-start: -2px;
  -webkit-mask: url(/assets/eae6388e2d5a721a.svg);
  mask: url(/assets/eae6388e2d5a721a.svg);
  -webkit-mask-size: 100%;
  mask-size: 100%;
  mask-type: luminance;
}
.viewer_d6b206:last-child {
  -webkit-mask: none;
  mask: none;
}
.overflow_d6b206 {
  align-items: center;
  background-color: var(--primary-600);
  border-radius: 15px;
  box-shadow: -1px 0 0 1px var(--black);
  color: var(--primary-300);
  display: flex;
  font-size: 12px;
  font-weight: var(--font-weight-bold);
  height: 25px;
  justify-content: center;
  letter-spacing: 0.5px;
  margin-inline-start: -4px;
  width: 25px;
  z-index: 2;
}
.memberListHeader_d6b206 {
  font-weight: var(--font-weight-semibold);
  margin-bottom: 12px;
  margin-top: 8px;
  text-transform: uppercase;
}
.memberListHeader_d6b206,
.memberListItemText_d6b206 {
  color: var(--text-default);
}
.viewersIcon_d6b206 {
  color: var(--primary-300);
  display: flex;
  height: 24px;
  margin-inline-end: 4px;
  width: 24px;
}
.viewersIcon_d6b206.activeButton_d6b206,
.viewersIcon_d6b206:hover {
  color: var(--white);
}
.viewersTooltipItem_d6b206 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.memberListItem_d6b206:not(.popoutDisabled_d6b206):hover {
  background-color: var(--background-base-lowest);
}
.videoHeight__94748 {
  flex: 0 0 auto;
  position: relative;
}
.videoHeight__94748.animated__94748 {
  transition: height 0.35s ease;
}
.videoHeight__94748.normal__94748 {
  height: 50vh;
}
.videoHeight__94748.minimum__94748 {
  height: 275px;
}
.videoHeight__94748.noChat__94748 {
  height: 100vh;
}
.videoHeight__94748.fullScreen__94748 {
  height: 100vh;
  position: fixed;
  top: 0;
  inset-inline: 0;
  bottom: 0;
  transition: none;
  z-index: 100;
}
.platform-win .videoHeight__94748.normal__94748 {
  height: calc(50vh - 22px);
}
.platform-win .videoHeight__94748.noChat__94748 {
  height: calc(100vh - 22px);
}
.video__94748 {
  background-color: var(--primary-800);
  background-position: 50%;
  background-size: 100%;
  cursor: default;
  height: 100%;
  min-height: 275px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.video__94748.idle__94748 {
  cursor: none;
}
.video__94748.fullScreen__94748 .videoCenter__94748,
.video__94748.noChat__94748 .videoCenter__94748,
.video__94748.normal__94748 .videoCenter__94748 {
  align-self: flex-end;
}
.video__94748.fullScreen__94748 .videoBottom__94748,
.video__94748.noChat__94748 .videoBottom__94748,
.video__94748.normal__94748 .videoBottom__94748 {
  opacity: 0;
  transform: translate3d(0, 8px, 0);
}
.full-motion .video__94748.fullScreen__94748 .videoBottom__94748,
.full-motion .video__94748.noChat__94748 .videoBottom__94748,
.full-motion .video__94748.normal__94748 .videoBottom__94748 {
  transition:
    transform 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
}
.video__94748.fullScreen__94748:not(.idle__94748)
  .videoWrapper__94748.focused__94748
  .videoBottom__94748,
.video__94748.fullScreen__94748:not(.idle__94748)
  .videoWrapper__94748:hover
  .videoBottom__94748,
.video__94748.noChat__94748:not(.idle__94748)
  .videoWrapper__94748.focused__94748
  .videoBottom__94748,
.video__94748.noChat__94748:not(.idle__94748)
  .videoWrapper__94748:hover
  .videoBottom__94748,
.video__94748.normal__94748:not(.idle__94748)
  .videoWrapper__94748.focused__94748
  .videoBottom__94748,
.video__94748.normal__94748:not(.idle__94748)
  .videoWrapper__94748:hover
  .videoBottom__94748 {
  opacity: 1;
  transform: translateZ(0);
}
.video__94748 .videoBackgroundTransition__94748 {
  box-shadow: var(--legacy-elevation-high);
}
.videoWrapper__94748 {
  border-radius: 3px;
  position: relative;
}
.videoInner__94748 {
  position: absolute;
  top: 0;
  inset-inline: 0;
  bottom: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 1;
}
.videoBottom__94748,
.videoCenter__94748,
.videoTop__94748 {
  pointer-events: all;
}
.videoBackground__94748,
.videoBackgroundTransition__94748 {
  position: absolute;
  top: 0;
  inset-inline: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
.videoBackgroundTransition__94748 {
  align-items: center;
  display: flex;
  overflow: hidden;
}
.theme-light .video__94748.minimum__94748 {
  background-color: var(--white);
  box-shadow: inset 0 -1px 0 var(--primary-230);
}
.images-light .video__94748.noChat__94748 .videoTop__94748,
.images-light .video__94748.normal__94748 .videoTop__94748 {
  background-image: linear-gradient(
    0deg,
    hsl(var(--black-hsl) / 0) 0,
    var(--opacity-black-88) 100%
  );
}
.images-dark .video__94748.noChat__94748 .videoTop__94748,
.images-dark .video__94748.normal__94748 .videoTop__94748 {
  background-image: linear-gradient(
    0deg,
    hsl(var(--black-hsl) / 0) 0,
    var(--opacity-black-88) 100%
  );
}
.pictureInPictureVideo_e4cb9a {
  aspect-ratio: 16/9;
  background: var(--primary-800);
  border-radius: 8px;
  overflow: hidden;
  transform: translateZ(0);
}
.videoControls_e4cb9a {
  background: linear-gradient(
    var(--black) 0,
    transparent 30%,
    transparent 60%,
    var(--black) 100%
  );
  position: absolute;
  top: 0;
  inset-inline: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
}
.videoControlsTextActivity_e4cb9a {
  pointer-events: all;
  z-index: 2;
}
.topControls_e4cb9a {
  flex: 0 1 auto;
  pointer-events: all;
  transform: translateZ(0);
  width: 100%;
}
.full-motion .topControls_e4cb9a {
  transition: transform 0.2s ease-in-out;
}
.topControlsTextActivity_e4cb9a {
  align-items: flex-start;
  flex-direction: row;
  height: 100%;
}
.bottomControls_e4cb9a,
.topControlsTextActivity_e4cb9a {
  display: flex;
  justify-content: space-between;
}
.bottomControls_e4cb9a {
  align-items: center;
  color: var(--white);
  flex: 0 1 auto;
  pointer-events: all;
  transform: translateZ(0);
  width: 100%;
}
.full-motion .bottomControls_e4cb9a {
  transition: transform 0.2s ease-in-out;
}
.bottomLeftControls_e4cb9a {
  min-width: 0;
}
.idle_e4cb9a .videoControls_e4cb9a {
  opacity: 0;
}
.idle_e4cb9a .topControls_e4cb9a {
  transform: translate3d(0, -8px, 0);
}
.idle_e4cb9a .bottomControls_e4cb9a {
  transform: translate3d(0, 8px, 0);
}
.backButton_e4cb9a {
  color: var(--primary-300);
  flex-shrink: 0;
  margin-inline-end: 2px;
}
.headerBar_e4cb9a {
  height: auto;
  padding: 4px 0 0;
}
.topControls_e4cb9a .headerBar_e4cb9a {
  -webkit-app-region: no-drag;
}
.headerIdleContainer_e4cb9a {
  justify-content: space-between;
}
.headerIdleContainer_e4cb9a,
.headerTitle_e4cb9a {
  display: flex;
  flex-shrink: 1;
  overflow: hidden;
}
.headerTitle_e4cb9a {
  align-items: center;
  border-bottom: 1px solid transparent;
  color: var(--white);
  justify-content: flex-start;
  line-height: 20px;
  margin: 0;
  width: -moz-min-content;
  width: min-content;
}
.headerTitle_e4cb9a:hover {
  border-bottom: 1px solid var(--white);
  cursor: pointer;
}
.headerTitle_e4cb9a:hover .backButton_e4cb9a {
  color: var(--white);
}
.headerText_e4cb9a {
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menuIcon_e4cb9a {
  cursor: pointer;
}
.keyboard-mode .videoControls_e4cb9a {
  opacity: 1;
}

/*# sourceMappingURL=454313.89f08b255d087331.css.map*/
