.galleryContainer_d75751 {
  align-self: flex-start;
  display: flex;
  grid-column: 2 / span 3;
  grid-row: 3;
  justify-content: center;
  justify-self: center;
  translate: 0 -4px;
  width: 100%;
}
.gallery_d75751 {
  display: flex;
  flex-shrink: 1;
  gap: 2px;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.galleryItemOverlay_d75751 {
  background-color: var(--black);
  height: 40px;
  opacity: 0.5;
  position: absolute;
  transition: opacity 0.2s ease-in-out;
  width: 40px;
  z-index: 1;
}
.galleryItemOverlay_d75751:hover {
  opacity: 0.15;
}
.galleryItemOverlay_d75751.selected_d75751 {
  opacity: 0;
}
.galleryItem_d75751 {
  background-color: var(--background-base-low);
  border-radius: 2px;
  cursor: pointer;
  height: 40px;
  margin: 4px 0;
  position: relative;
  width: 40px;
}
.galleryItem_d75751.first_d75751 {
  border-radius: 8px 2px 2px 8px;
  margin-inline-start: 8px;
}
.galleryItem_d75751.last_d75751 {
  border-radius: 2px 8px 8px 2px;
  margin-inline-end: 8px;
}
.galleryItem_d75751 * {
  border-radius: inherit;
}
.galleryItem_d75751.inactive_d75751:after {
  background-color: var(--black);
  border-radius: inherit;
  content: "";
  height: 100%;
  inset-inline-start: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  transition: opacity 0.2s ease-in-out;
  width: 100%;
}
.galleryItem_d75751.inactive_d75751:after:hover {
  opacity: 0.15;
}
.obscured_d75751 {
  background-color: var(--spoiler-hidden-background);
  border-color: var(--spoiler-hidden-background);
}
.button_aec7ab {
  background-color: var(--background-surface-highest);
  border-radius: var(--radius-md);
  cursor: pointer;
  display: grid;
  height: 40px;
  place-items: center;
  width: 40px;
}
.buttonInner_aec7ab {
  border: 1px solid var(--border-muted);
  border-radius: inherit;
  color: var(--interactive-text-default);
  display: grid;
  height: 38px;
  place-items: center;
  transition:
    color 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
  width: 38px;
}
.buttonInner_aec7ab:hover {
  background-color: var(--background-mod-muted);
  color: var(--interactive-text-hover);
}
.buttonInner_aec7ab:active {
  background-color: var(--background-mod-subtle);
  color: var(--interactive-text-active);
}
.mediaContainer_b2eddf {
  flex-grow: 1;
  grid-column: 1 / span 5;
  grid-row: 1 / span 3;
  position: relative;
}
.mediaContainer_b2eddf,
.mediaWrapper_b2eddf {
  align-items: center;
  display: flex;
  justify-content: center;
}
.mediaWrapper_b2eddf {
  height: 100%;
  margin: auto;
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
}
.nav_b2eddf {
  grid-row: 1 / span 3;
  place-self: center;
  position: relative;
  z-index: 1;
}
.navPrev_b2eddf {
  grid-column: 1;
}
.navNext_b2eddf {
  grid-column: 5;
}
.obscureWrapper_b2eddf {
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: hidden;
}
.obscureWrapper_b2eddf.obscure_b2eddf {
  filter: blur(var(--__obscured-background-blur-radius))
    brightness(var(--__obscured-background-brightness));
  pointer-events: none;
}
.fadeInWrapper_b2eddf {
  margin: auto;
}

/*# sourceMappingURL=45588.40d0ef297590ed99.css.map*/
