.container__52fde {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: absolute;
  transform: translate(-50%, -50%) scale(0.8);
  z-index: 200000;
}
.full-motion .container__52fde {
  transition: transform 0.3s ease-in-out;
}
.container__52fde:hover {
  transform: translate(-50%, -50%) scale(1);
}
.note__52fde {
  filter: drop-shadow(0 4px 4px var(--opacity-black-60));
}
.popover__52fde {
  flex-direction: column;
  text-align: start;
}
.header__52fde,
.popover__52fde {
  display: flex;
  gap: var(--space-sm);
}
.header__52fde {
  justify-content: space-between;
  width: 100%;
}
.header__52fde,
.user__52fde {
  align-items: center;
}
.user__52fde {
  display: flex;
  gap: var(--space-xs);
  min-width: 0;
}
.avatar__52fde,
.icon__52fde {
  flex-shrink: 0;
}
.icon__52fde {
  color: var(--interactive-icon-default);
  cursor: pointer;
}
.icon__52fde:hover {
  color: var(--interactive-icon-hover);
}
.icon__52fde:active {
  color: var(--interactive-icon-active);
}
.icon__52fde.iconDisabled__52fde {
  color: var(--interactive-icon-default);
  cursor: not-allowed;
}
.content__52fde {
  word-wrap: break-word;
}
.preview__88c5e {
  display: flex;
  pointer-events: none;
  position: absolute;
  transform: translate(-50%, -50%);
}
.instructionsPositioner__4971b {
  display: flex;
  inset-inline: 0;
  justify-content: center;
  pointer-events: none;
  position: absolute;
  top: var(--space-16);
}
.instructions__4971b {
  background-color: var(--background-surface-high);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-border), var(--shadow-high);
  max-width: 90%;
  padding: var(--space-8) var(--space-12);
  text-align: center;
}
.popover_d6f39b {
  background: var(--background-surface-high);
  border-radius: var(--radius-md);
  box-shadow:
    inset 0 0 0 1px var(--border-subtle),
    var(--shadow-high);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
  padding: var(--space-16);
  position: relative;
  text-align: center;
  --custom-popover-caret-gradient-color-start: transparent;
  --custom-popover-caret-gradient-color-end: transparent;
}
:where(.popover_d6f39b) {
  max-width: var(--custom-popover-width);
  width: var(--custom-popover-width);
}
.popoverGradientWrapper_d6f39b {
  background: var(--background-surface-high);
  border-radius: var(--radius-md);
  box-shadow:
    inset 0 0 0 1px var(--border-subtle),
    var(--shadow-high);
  --custom-popover-caret-gradient-color-start: var(
    --custom-gradient-color-start
  );
  --custom-popover-caret-gradient-color-end: var(--custom-gradient-color-end);
}
.popoverContentWithGradient_d6f39b {
  background: transparent;
  border-radius: var(--radius-md);
  box-shadow: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
  max-width: var(--custom-popover-width);
  padding: var(--space-16);
  position: relative;
  text-align: center;
  width: var(--custom-popover-width);
}
.popover--video_d6f39b,
.popoverContentWithGradient_d6f39b.popover--video_d6f39b {
  padding: var(--space-4);
}
.popover--video_d6f39b .footer_d6f39b,
.popover--video_d6f39b .header_d6f39b {
  padding: 0 var(--space-16);
}
.popover--video_d6f39b .actionBar_d6f39b {
  padding: 0 var(--space-16) var(--space-16);
}
.closeButton_d6f39b {
  inset-inline-end: var(--space-4);
  position: absolute;
  top: var(--space-4);
  z-index: 2;
}
.header_d6f39b {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  margin: var(--space-20) 0;
  position: relative;
  z-index: 1;
}
.headerWithBadge_d6f39b {
}
.title_d6f39b {
  text-align: center;
}
.headerBody_d6f39b,
.title_d6f39b {
  margin: 0;
  text-wrap: pretty;
}
.headerBody_d6f39b {
  color: var(--text-subtle);
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.badgeContainer_d6f39b {
  margin-bottom: var(--space-12);
}
.content_d6f39b {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
.graphic_d6f39b {
  margin: var(--space-16) auto var(--space-20);
  width: 100%;
}
.graphic--md_d6f39b,
.graphic--sm_d6f39b {
  max-width: 144px;
}
.graphic--lg_d6f39b {
  max-width: 160px;
}
.graphic--video_d6f39b {
  max-width: 232px;
}
.footer_d6f39b {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  text-align: center;
}
.footerText_d6f39b {
  color: var(--text-muted);
  margin: 0;
}
.footerLink_d6f39b {
  color: var(--text-link);
  margin: 0;
}
.actionBar_d6f39b {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
  justify-content: center;
}
.actionBar_d6f39b .actions_d6f39b {
  flex: 1;
  min-width: unset;
}
.actions_d6f39b {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
}
.multistepIndicator_d6f39b {
  color: var(--text-muted);
  margin-inline-start: var(--space-4);
  margin-top: var(--space-4);
  opacity: 0.7;
}
.multistepActionLayout_d6f39b {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.caretIcon_d6f39b .caretFill_d6f39b {
  fill: var(--background-surface-high);
}
.caretIcon_d6f39b .caretGradient_d6f39b {
  fill: var(--custom-popover-caret-gradient-color, transparent);
}
.caretIcon_d6f39b .caretStroke_d6f39b {
  stroke: var(--border-subtle);
  stroke-opacity: 1;
}
.caret__6ec79 {
  --custom-caret-half-width: 11px;
  --custom-caret-half-height: 7px;
  --custom-caret-horizontal-distance: 18px;
  --custom-caret-border-overlap: 1px;
  color: transparent;
  pointer-events: none;
  position: absolute;
  transform-origin: center;
}
.caret--bottom__6ec79 {
  top: calc(100% - var(--custom-caret-border-overlap));
  transform: rotate(0deg);
}
.caret--top__6ec79 {
  bottom: calc(100% - var(--custom-caret-border-overlap));
  transform: rotate(180deg);
}
.caret--left__6ec79 {
  --custom-popover-caret-gradient-color: color-mix(
    in oklab,
    var(--custom-popover-caret-gradient-color-start) 25%,
    transparent
  );
  inset-inline-start: calc(var(--custom-caret-horizontal-distance) * -1);
  transform: rotate(90deg);
}
.caret--right__6ec79 {
  inset-inline-end: calc(var(--custom-caret-horizontal-distance) * -1);
  transform: rotate(-90deg);
}
.caret--bottom__6ec79.caret--center__6ec79,
.caret--top__6ec79.caret--center__6ec79 {
  inset-inline-start: calc(
    50% + var(--custom-caret-edge-offset-horizontal-nudge, 0)
  );
  margin-inline-start: calc(var(--custom-caret-half-width) * -1);
}
.caret--bottom__6ec79.caret--start__6ec79,
.caret--top__6ec79.caret--start__6ec79 {
  inset-inline-start: calc(
    var(--custom-caret-edge-offset-horizontal) +
      var(--custom-caret-edge-offset-horizontal-nudge, 0)
  );
  margin-inline-start: calc(var(--custom-caret-half-width) * -1);
}
.caret--bottom__6ec79.caret--end__6ec79,
.caret--top__6ec79.caret--end__6ec79 {
  inset-inline-end: calc(
    var(--custom-caret-edge-offset-horizontal) -
      var(--custom-caret-edge-offset-horizontal-nudge, 0)
  );
  margin-inline-end: calc(var(--custom-caret-half-width) * -1);
}
.caret--left__6ec79.caret--center__6ec79,
.caret--right__6ec79.caret--center__6ec79 {
  margin-top: calc(var(--custom-caret-half-height) * -1);
  top: 50%;
}
.caret--left__6ec79.caret--center__6ec79 {
  inset-inline-start: calc(var(--custom-caret-horizontal-distance) * -1);
}
.caret--left__6ec79.caret--start__6ec79,
.caret--right__6ec79.caret--start__6ec79 {
  margin-top: calc(var(--custom-caret-half-height) * -1);
  top: var(--custom-caret-edge-offset-vertical);
}
.caret--left__6ec79.caret--end__6ec79,
.caret--right__6ec79.caret--end__6ec79 {
  bottom: var(--custom-caret-edge-offset-vertical);
  margin-bottom: calc(var(--custom-caret-half-height) * -1);
}
.caret--custom__6ec79 {
  --custom-caret-offset-x: 0;
  --custom-caret-offset-y: 0;
}
.caret--bottom__6ec79.caret--custom__6ec79,
.caret--top__6ec79.caret--custom__6ec79 {
  inset-inline-start: 50%;
  margin-inline-start: calc(
    var(--custom-caret-offset-x) - var(--custom-caret-half-width)
  );
}
.caret--left__6ec79.caret--custom__6ec79,
.caret--right__6ec79.caret--custom__6ec79 {
  margin-top: calc(
    var(--custom-caret-offset-y) - var(--custom-caret-half-height)
  );
  top: 50%;
}
.caret--top__6ec79.caret--start__6ec79 {
  --custom-popover-caret-gradient-color: color-mix(
    in oklab,
    var(--custom-popover-caret-gradient-color-end) 7%,
    var(--custom-popover-caret-gradient-color-start)
  );
}
.caret--top__6ec79.caret--center__6ec79 {
  --custom-popover-caret-gradient-color: color-mix(
    in oklab,
    var(--custom-popover-caret-gradient-color-end) 50%,
    var(--custom-popover-caret-gradient-color-start)
  );
}
.caret--top__6ec79.caret--end__6ec79 {
  --custom-popover-caret-gradient-color: color-mix(
    in oklab,
    var(--custom-popover-caret-gradient-color-end) 98%,
    var(--custom-popover-caret-gradient-color-start)
  );
}
.caret--right__6ec79.caret--start__6ec79 {
  --custom-popover-caret-gradient-color: color-mix(
    in oklab,
    var(--custom-popover-caret-gradient-color-end) 98%,
    transparent
  );
}
.caret--right__6ec79.caret--center__6ec79 {
  --custom-popover-caret-gradient-color: color-mix(
    in oklab,
    var(--custom-popover-caret-gradient-color-end) 25%,
    transparent
  );
}
.caret--left__6ec79.caret--start__6ec79 {
  --custom-popover-caret-gradient-color: color-mix(
    in oklab,
    var(--custom-popover-caret-gradient-color-start) 98%,
    transparent
  );
}
.caret--left__6ec79.caret--center__6ec79 {
  --custom-popover-caret-gradient-color: color-mix(
    in oklab,
    var(--custom-popover-caret-gradient-color-start) 25%,
    transparent
  );
}

/*# sourceMappingURL=606926.48148a9908754369.css.map*/
