@keyframes pulseIcon__24af7 {
  0%,
  to {
    transform: scale(var(--custom-channel-text-area-button-hover-scale));
  }
  50% {
    transform: none;
  }
}
@keyframes pulseButton__24af7 {
  0%,
  to {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
}
@keyframes sparkle__24af7 {
  0% {
    opacity: 0;
    transform: rotate(-50deg) scale(0);
  }
  20% {
    opacity: 1;
    transform: rotate(0deg) scale(1);
  }
  40% {
    opacity: 0;
    transform: rotate(50deg) scale(0);
  }
  to {
    opacity: 0;
    transform: rotate(-50deg) scale(0);
  }
}
.button__24af7 {
  align-items: center;
  color: var(--interactive-text-default);
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.button__24af7:hover {
  color: var(--interactive-text-hover);
}
.button__24af7:active {
  color: var(--interactive-text-active);
}
.button__24af7.disabled__24af7 {
  cursor: not-allowed;
  opacity: 0.5;
}
.button__24af7:not(.noHover__24af7) {
  border-radius: 8px;
  transition-duration: 0.2s;
}
.button__24af7:not(.noHover__24af7):hover {
  background-color: var(--interactive-background-selected);
}
.iconMask__24af7 {
  display: block;
  height: 20px;
  width: 20px;
}
.buttonContent__24af7 {
  position: relative;
}
.icon__24af7 {
  height: 20px;
  width: 20px;
}
.pulseIcon__24af7 {
  animation: pulseIcon__24af7 0.6s ease;
}
.pulseButton__24af7 .buttonWrapper__24af7 {
  animation: pulseButton__24af7 0.6s ease;
}
.buttonWrapper__24af7 svg {
  display: block;
}
.notificationDot__24af7 {
  background-color: var(--background-feedback-notification);
  border-radius: 100%;
  bottom: 0;
  height: 7px;
  inset-inline-end: 0;
  transform: translateY(-5%);
  width: 7px;
}
.notificationDot__24af7,
.sparkleContainer__24af7 {
  position: absolute;
}
.sparkleStar__24af7 {
  color: var(--platform-gold);
  inset-inline-start: 20px;
  top: -12px;
}
.sparklePlus__24af7,
.sparkleStar__24af7 {
  animation: sparkle__24af7 2.5s ease-in-out infinite;
  position: relative;
}
.sparklePlus__24af7 {
  animation-delay: 0.5s;
  color: var(--brand-500);
  inset-inline-start: -20px;
  opacity: 0;
  top: 16px;
}
.active__24af7 .buttonWrapper__24af7,
.buttonWrapper__24af7:hover {
  color: var(--interactive-text-active);
}
.container__5287f {
  display: flex;
  position: relative;
}
.container__5287f:before {
  background: var(--custom-promotion-gradient);
  border-radius: 8px;
  content: "";
  inset: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition: opacity 0.2s ease;
  z-index: -1;
}
.containerHovered__5287f:before {
  opacity: 1;
}
.iconContainer__5287f {
  align-items: center;
  display: flex;
  height: 20px;
  justify-content: center;
  pointer-events: none;
  position: relative;
  width: 20px;
}
.giftBoxIcon__5287f {
  bottom: -6px;
  height: auto;
  inset-inline-start: -6px;
  position: absolute;
  width: 32px;
}
.trinketsIcon__5287f {
  position: relative;
  z-index: 3;
}
.trinketsDecoration__5287f {
  height: 175%;
  inset-inline-start: -37.5%;
  position: absolute;
  top: -37.5%;
  width: 175%;
  z-index: 4;
}

/*# sourceMappingURL=61531.8798f70cc3acf885.css.map*/
