.container__06f11 {
  border-radius: 12px;
  box-sizing: border-box;
  -webkit-mask-image: radial-gradient(circle, #fff 100%, #000 0);
  mask-image: radial-gradient(circle, #fff 100%, #000 0);
  overflow: hidden;
  padding: var(--custom-aspect-stable-image-container-padding);
  width: 100%;
}
.container__06f11,
.imageContainer__06f11 {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}
.imageContainer__06f11 {
  height: 100%;
}
.image__06f11 {
  border-radius: 12px;
  box-shadow: var(--shadow-high);
  height: auto;
  max-height: 100%;
  max-width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  position: relative;
  width: auto;
}
.backgroundImage__06f11,
.backgroundImageFilter__06f11 {
  display: block;
  height: 100%;
  inset-inline-start: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.backgroundImage__06f11 {
  -o-object-fit: cover;
  object-fit: cover;
  transform: scale(1.5);
}
.backgroundImageFilter__06f11 {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background: rgba(28, 27, 37, 0.9);
}
.loader__06f11 {
  position: absolute;
}
.emoji {
  height: var(--custom-emoji-size-emoji);
  -o-object-fit: contain;
  object-fit: contain;
  vertical-align: bottom;
  width: var(--custom-emoji-size-emoji);
}
.emoji.jumboable {
  height: var(--custom-emoji-size-jumbo-emoji);
  min-height: var(--custom-emoji-size-jumbo-emoji);
  width: var(--custom-emoji-size-jumbo-emoji);
}
.container__9e80c {
  display: flex;
}
.emojiContainer__9e80c {
  margin-inline-end: 16px;
}
.name__9e80c {
  margin-bottom: 2px;
}
.infoContainer__9e80c {
  flex: 1;
}
.emojiIcon__9e80c {
  height: 20px;
  width: 20px;
}
.container__4328f {
  display: flex;
  flex-direction: column;
}
.header__4328f {
  color: var(--text-default);
  margin-top: 16px;
  text-align: center;
}
.header__4328f strong {
  color: var(--text-strong);
}
.divider__4328f {
  background-color: var(--border-subtle);
  border: none;
  height: 1px;
  margin: 28px 0;
  width: 100%;
}
.benefitsContainer__4328f {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}
.benefit__4328f {
  background-color: var(--background-mod-subtle);
  border-radius: 8px;
  padding: 16px;
}
.headerContainer__2dea3 {
  background-color: var(--background-base-low);
  border-start-end-radius: calc(var(--custom-border-radius) + 2px);
  border-start-start-radius: calc(var(--custom-border-radius) + 2px);
  box-sizing: border-box;
  height: 112px;
  position: relative;
}
.closeContainer__2dea3 {
  align-items: center;
  background-color: var(--opacity-black-84);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 24px;
  inset-inline-end: 16px;
  justify-content: center;
  position: absolute;
  top: 16px;
  width: 24px;
}
.closeIcon__2dea3 {
  color: var(--interactive-text-default);
  height: 16px;
  width: 16px;
}
.headerImage__2dea3,
.headerImageContainer__2dea3 {
  height: 100%;
  width: 100%;
}
.headerImage__2dea3 {
  border-start-end-radius: var(--radius-md);
  border-start-start-radius: var(--radius-md);
  -o-object-fit: cover;
  object-fit: cover;
}
.confirmationContainer__2dea3 {
  margin-top: 32px;
}
.purchaseConfirmation__2dea3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.confirmationTitle__2dea3 {
  margin-top: 16px;
}
.confirmationSubtitle__2dea3 {
  margin-top: 8px;
}
.seasonalGiftBoxHeaderIcon_ae16b8 {
  align-self: center;
  bottom: -11px;
  position: absolute;
  width: 260px;
  z-index: 1;
}
.container_ae16b8 {
  align-items: center;
  background-image: unset;
  background-size: unset;
  border-radius: 4px 4px 0 0;
  display: flex;
  justify-content: center;
  position: relative;
}
.closeButton_ae16b8 {
  margin: var(--modal-vertical-padding) var(--modal-horizontal-padding);
  margin-inline-start: auto;
}
.fullWidthGraphicHeaderForManaModal_ae16b8.fullWidthGraphicHeaderForManaModal_ae16b8 {
  margin-top: calc(var(--custom-modal-padding-top, 24px) * -1 - 2px);
  margin-inline-start: -1px;
  width: calc(100% + 2px);
}
.shaker_e5f3a9 {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
  max-height: inherit;
}
.root_e5f3a9 > :last-child {
  border-end-end-radius: var(--radius-sm);
  border-end-start-radius: var(--radius-sm);
}
.root_e5f3a9.withHeader_e5f3a9 > :first-child {
  background-color: transparent;
}
@media (max-width: 485px) {
  .shaker_e5f3a9 {
    position: absolute;
    top: 0;
    inset-inline: 0;
    bottom: 0;
    max-height: none;
  }
  .root_e5f3a9,
  .shaker_e5f3a9 {
    justify-content: center;
  }
  .root_e5f3a9 {
    border-radius: 0;
    width: 100vw;
  }
}
.halloweenModalHeight_e5f3a9 {
  max-height: 800px;
}
.container__96554 {
  align-items: center;
  background: var(--background-base-lowest);
  border-radius: 12px;
  display: inline-flex;
  gap: 4px;
  padding: 2px 8px;
}
.containerScrollGradient__956c6 {
  background: linear-gradient(
    0deg,
    var(--background-base-low) 0,
    transparent 100%
  );
  bottom: 52px;
  height: 52px;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition: opacity 0.12s ease-in-out;
  width: 100%;
}
.containerScrollGradient__956c6[data-shown="true"] {
  opacity: 1;
}
.emojiButton__04eed {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  justify-content: center;
  max-height: 50px;
}
.emojiButtonHovered__04eed,
.emojiButtonNormal__04eed {
}
.spriteContainer__04eed {
  position: relative;
  --custom-emoji-sprite-bg-position: calc(
      var(--custom-emoji-sprite-col) * -1 * var(--custom-emoji-sprite-size)
    )
    calc(var(--custom-emoji-sprite-row) * -1 * var(--custom-emoji-sprite-size));
  --custom-emoji-sprite-bg-size: calc(var(--custom-emoji-sprite-size) * 20)
    calc(var(--custom-emoji-sprite-size) * 4);
}
.sprite__04eed,
.spriteContainer__04eed {
  display: block;
  height: var(--custom-emoji-sprite-size);
  width: var(--custom-emoji-sprite-size);
}
.sprite__04eed {
  inset-inline-start: 0;
  position: absolute;
  top: 0;
}
.spriteColored__04eed {
  background-image: url(/assets/1b05b930a77fbff9.png);
  background-position: var(--custom-emoji-sprite-bg-position);
  background-size: var(--custom-emoji-sprite-bg-size);
}
.spriteGreyscale__04eed {
  background-color: var(--interactive-text-default);
}
.spriteGreyscale__04eed,
.spritePremiumColored__04eed {
  -webkit-mask-image: url(/assets/decf85f79e02d276.png);
  mask-image: url(/assets/decf85f79e02d276.png);
  -webkit-mask-position: var(--custom-emoji-sprite-bg-position);
  mask-position: var(--custom-emoji-sprite-bg-position);
  -webkit-mask-size: var(--custom-emoji-sprite-bg-size);
  mask-size: var(--custom-emoji-sprite-bg-size);
}
.spritePremiumColored__04eed.reducedMotion__04eed {
  background-color: var(--premium-tier-2-purple-for-gradients-2);
}
.spritePremiumColored__04eed:not(.reducedMotion__04eed) {
  animation: spritePremiumPulsing__04eed 2s infinite;
}
@keyframes spritePremiumPulsing__04eed {
  0% {
    background-color: var(--premium-tier-2-purple);
  }
  50% {
    background-color: var(--premium-tier-2-purple-for-gradients-2);
  }
  to {
    background-color: var(--premium-tier-2-purple);
  }
}
.inactive__04eed {
  opacity: 0;
}
.active__04eed {
  opacity: 1;
}
.premiumUnlockAnimation__04eed {
  position: absolute;
  z-index: 100;
}
.premiumUnlockAnimation__04eed.reducedMotion__04eed {
  height: 48px;
  width: 48px;
}
.premiumUnlockAnimation__04eed:not(.reducedMotion__04eed) {
  animation: shrink__04eed 2s forwards;
}
@keyframes shrink__04eed {
  0% {
    height: 60px;
    width: 60px;
  }
  75% {
    height: 60px;
    width: 60px;
  }
  to {
    height: 48px;
    width: 48px;
  }
}
.enable-forced-colors .spriteGreyscale__04eed {
  background-color: ButtonText;
}
@use postcss-pxtorem;
.channelTextArea__74017 {
  border: 1px solid var(--border-muted);
  border-radius: var(--radius-sm);
  position: relative;
  text-indent: 0;
  transition: border-color 0.2s ease;
  width: 100%;
}
.channelTextArea__74017:not(.highlighted__74017) {
  transition: box-shadow 0.2s ease;
}
.channelTextArea__74017.error__74017:not(:hover):not(:focus-within) {
  box-shadow: 0 0 0 2px var(--text-feedback-critical);
}
.channelTextArea__74017.highlighted__74017 {
  border: 1px solid var(--border-muted);
  box-shadow: 0 0 0 4px var(--blue-345);
}
.channelTextArea__74017:focus-within {
  border-color: var(--border-subtle);
  box-shadow: none;
}
.focusRing__74017 {
  border-radius: 8px;
}
.scrollableContainer__74017 {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 8px;
  max-height: var(--custom-channel-textarea-text-area-max-height);
  overflow-x: hidden;
  overflow-y: scroll;
}
.themedBackground__74017 {
  background: var(
    --background-gradient-highest,
    var(--chat-background-default)
  );
}
.no-webkit-scrollbar .scrollableContainer__74017 {
  scrollbar-width: none;
}
:where(.custom-theme-background) .channelTextArea__74017 {
  background: var(
    --background-gradient-highest,
    var(--input-background-default)
  );
  border-color: var(--app-frame-border);
}
.refresh-fast-follow-distinct-borders .channelTextArea__74017 {
  border: 1px solid var(--border-subtle);
}
.refresh-fast-follow-distinct-borders .channelTextArea__74017:focus-within {
  border-color: var(--app-frame-border);
}
.sticker__74017 {
  display: block;
}
.disabledButtonWrapper__74017 {
  display: inline-flex;
}
.background-opacity-low .scrollableContainer__74017 {
  background-color: hsl(var(--primary-500-hsl) / 0.5);
}
.background-opacity-low .scrollableContainer__74017 .textArea__74017 {
  color: var(--white);
}
.background-opacity-medium .scrollableContainer__74017 {
  background-color: hsl(var(--primary-500-hsl) / 0.7);
}
.background-opacity-medium .scrollableContainer__74017 .textArea__74017 {
  color: var(--white);
}
.background-opacity-high .scrollableContainer__74017 {
  background-color: hsl(var(--primary-500-hsl) / 0.9);
}
.scrollableContainer__74017::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}
.scrollableContainer__74017::-webkit-scrollbar-thumb,
.scrollableContainer__74017::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: 4px solid transparent;
}
.scrollableContainer__74017::-webkit-scrollbar-track {
  border-width: initial;
}
.scrollableContainer__74017::-webkit-scrollbar-thumb {
  background-color: hsl(var(--primary-800-hsl) / 0.6);
  border-radius: 8px;
}
.channelTextAreaDisabled__74017 .scrollableContainer__74017 {
  opacity: 1;
}
.hasStackedBar__74017 {
  border-start-end-radius: 0;
  border-start-start-radius: 0;
}
.inlineContainer__74017 {
  box-shadow: none;
  --custom-channel-textarea-text-area-height: var(--form-input-height);
  background: var(--input-background-default);
  border-color: var(--input-border-default);
  box-sizing: border-box;
}
.inlineContainer__74017 .themedBackground__74017 {
  background: none;
  border: none;
  height: auto;
}
.inlineContainer__74017 .accessoryBar__74017 {
  align-items: center;
  border-top: none;
  box-sizing: border-box;
  height: var(--custom-channel-textarea-text-area-height);
}
.flushContainer__74017 {
  background: unset;
  border: none;
}
.flushContainer__74017 .inner__74017 {
  padding-inline-start: 0;
}
.flushContainer__74017 .accessoryBar__74017 {
  align-items: flex-start;
  border-top: none;
}
.inner__74017 {
  display: flex;
  padding-inline-start: calc(var(--space-16) - 1px);
  position: relative;
}
.innerDisabled__74017 {
  cursor: not-allowed;
}
.sansAttachButton__74017 {
  padding-inline-start: calc(var(--space-16) - 1px);
}
.sansAttachButtonCreateThread__74017 {
  padding-inline-start: 10px;
}
.sansAttachButtonCreatePost__74017,
.sansAttachButtonUserProfileReply__74017 {
  padding-inline-start: 0;
}
.attachButton__74017 {
  margin-inline: calc((var(--space-xs) + var(--space-6)) * -1) 10px;
}
.textArea__74017 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  color: var(--text-default);
  font-size: 1rem;
  font-weight: var(--font-weight-normal);
  height: var(--custom-channel-textarea-text-area-height);
  line-height: 1.375rem;
  min-height: var(--custom-channel-textarea-text-area-height);
  padding-inline: 0 10px;
  resize: none;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  width: 100%;
}
.textArea__74017::-moz-placeholder {
  color: var(--text-muted);
  overflow: hidden;
  text-overflow: ellipsis;
  -moz-user-select: none;
  user-select: none;
  white-space: nowrap;
}
.textArea__74017::placeholder {
  color: var(--text-muted);
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  white-space: nowrap;
}
.textAreaSlate__74017 {
  box-sizing: border-box;
  padding: 0;
}
.textAreaThreadCreation__74017 {
  min-height: 66px;
}
.profileBioInput__74017 {
  min-height: 100%;
}
.profileBioInput__74017 > div {
  height: 100%;
}
.hiddenAppLauncherAnchor__74017 {
  align-self: center;
  height: 0;
  visibility: hidden;
  width: 0;
}
.overlayInlineReply__74017 {
  height: 100%;
  min-height: 100%;
  padding-inline-end: 0 !important;
}
.textAreaForPostCreation__74017 {
  margin-inline-start: 0 !important;
  padding: 0 !important;
}
.textAreaForOverlayInlineReply__74017,
.textAreaForUserProfile__74017 {
  font-size: 0.875rem;
}
.textAreaCustomGift__74017[role="textbox"] {
  box-sizing: border-box;
  height: 100%;
  position: absolute !important;
}
@media (-webkit-max-device-pixel-ratio: 1) {
  .theme-light .textArea__74017 {
    font-weight: var(--font-weight-medium);
  }
}
.textAreaDisabled__74017 {
  pointer-events: none;
}
.buttons__74017 {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--space-8);
  height: var(--custom-channel-textarea-text-area-height);
  margin-inline-end: 6px;
  position: sticky;
  top: 0;
}
.has-webkit-scrollbar .buttons__74017 {
  margin-inline-end: 0;
}
.buttonContainer__74017 {
  align-items: center;
  display: flex;
}
.button__74017 {
  box-sizing: border-box;
  margin-inline: 0;
  min-height: var(--space-32);
  min-width: var(--space-32);
  padding: 0;
  position: relative;
}
.emojiButton__74017 {
  border-radius: 8px;
  transition-duration: 0.2s;
}
.emojiButton__74017:hover {
  background-color: var(--interactive-background-selected);
}
.stickerIcon__74017 {
  height: 20px !important;
  width: 20px !important;
}
.stickerButton__74017 {
  transition:
    background-color 0.2s,
    transform 0.2s;
}
.stickerButtonWithNotification__74017 {
  margin-top: 1px;
  padding-inline: 2px;
}
@keyframes wiggle__74017 {
  0% {
    transform: rotate(0);
  }
  30% {
    transform: rotate(8deg);
  }
  40% {
    transform: rotate(8deg);
  }
  80% {
    transform: rotate(-6deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.floatingBars__74017 {
  margin-bottom: 0;
  min-height: 0;
}
.floatingBars__74017 .newMemberActionBar__74017 {
  margin-inline: 0;
}
.stackedBars__74017 {
  background: var(--background-surface-higher);
}
.stackedBars__74017 > :not(:last-child) {
  border-bottom: 1px solid var(--border-subtle);
}
.stackedBars__74017:first-child {
  border-start-end-radius: var(--radius-sm);
  border-start-start-radius: var(--radius-sm);
}
.floatingBars__74017:empty + .stackedBars__74017:nth-child(2) {
  border-start-end-radius: var(--radius-sm);
  border-start-start-radius: var(--radius-sm);
}
.stackedBars__74017:not(:last-child) {
  border-bottom: 1px solid var(--border-subtle);
}
.sparkles__74017 {
  height: 150%;
  inset-inline-start: -10px;
  position: absolute;
  top: -10px;
  width: 150%;
}
.expressionPickerPositionLayer__74017 {
  inset-inline-start: 86px;
}
.theme-dark.custom-theme-background .stackedBars__74017 {
  background: var(--background-gradient-lowest, var(--background-base-lower));
}
.theme-dark.custom-theme-background .textAreaMobileThemed__74017 {
  margin-top: 16px;
}
.theme-light.custom-theme-background .stackedBars__74017 {
  background: var(--background-gradient-lower, var(--background-base-lower));
}
.theme-light.custom-theme-background .textAreaMobileThemed__74017 {
  margin-top: 16px;
}
.theme-brand .inner__74017 {
  background-color: var(--brand-400);
}
.theme-brand .textArea__74017 {
  color: var(--opacity-white-68);
}
.theme-brand .textArea__74017::-moz-placeholder {
  color: var(--opacity-white-28);
}
.theme-brand .textArea__74017::placeholder {
  color: var(--opacity-white-28);
}
.textArea__74017:not(.textAreaSlate__74017) {
  box-sizing: border-box;
  min-height: var(--custom-channel-textarea-text-area-height);
  padding: calc(
      (
          var(--custom-channel-textarea-text-area-height) -
            var(--chat-markup-line-height)
        ) / 2
    )
    0;
}
.enable-forced-colors .scrollableContainer__74017 {
  overflow-y: auto;
  padding-inline-end: 12px;
}
.enable-forced-colors .scrollableContainer__74017::-webkit-scrollbar {
  width: 8px;
}
.enable-forced-colors .scrollableContainer__74017::-webkit-scrollbar-track {
  border-radius: 0 8px 8px 0;
}
.enable-forced-colors .scrollableContainer__74017::-webkit-scrollbar-thumb,
.enable-forced-colors .scrollableContainer__74017::-webkit-scrollbar-track {
  border-width: 1px;
}
.enable-forced-colors .scrollableContainer__74017::-webkit-scrollbar-thumb {
  background-color: CanvasText;
}
.announcementScrollableContainer__74017 {
  max-height: calc(var(--custom-channel-textarea-text-area-max-height) + 80px);
}
.modalRoot_b824c5 {
  background-color: transparent !important;
  border: none !important;
  border-radius: 16px !important;
}
.modalRootPortrait_b824c5 {
  height: calc(100vh - 160px);
  max-width: calc(100vw - 160px);
  min-width: 375px;
  width: round(
    up,
    calc((100vh - 160px + 2px - var(--custom-portrait-footer-height)) * 9 / 16),
    1px
  );
}
.modalRootLandscape_b824c5 {
  min-width: 500px;
  width: round(
    up,
    min(calc(100vw - 110px), calc(177.77778vh - 551.11111px), 1900px),
    1px
  );
}
.modalBody_b824c5 {
  border: 1px solid var(--border-subtle);
  border-radius: 16px;
  flex-direction: row;
  position: relative;
  width: 100%;
}
.modalBg_b824c5,
.modalBody_b824c5 {
  display: flex;
  overflow: hidden;
}
.modalBg_b824c5 {
  background-color: var(--background-scrim-lightbox);
  border-radius: 16px;
  flex-grow: 1;
}
.modalContent_b824c5 {
  background-color: var(--background-base-lower);
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.closeButton_b824c5 {
  inset-inline-end: 18px;
  position: absolute;
  top: 18px;
}
.heading_b824c5 {
  margin-bottom: 4px;
}
.bodyCopy_b824c5 {
  margin-bottom: 24px;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
}
.errorInput_b824c5 {
  border: 1px solid var(--background-feedback-critical) !important;
}
.videoCont_b824c5 {
  align-items: center;
  background-color: #000;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.videoContInactive_b824c5 {
  cursor: pointer;
}
.videoContInnerRelative_b824c5 {
  align-items: center;
  aspect-ratio: 16/9;
  display: flex;
  height: 100%;
  isolation: isolate;
  justify-content: center;
  position: relative;
  width: 100%;
}
.modalRootPortrait_b824c5 .videoContInnerRelative_b824c5 {
  position: absolute;
  top: 0;
  inset-inline: 0;
  bottom: 0;
  display: flex;
}
.videoContInnerRelativePortrait_b824c5 {
  aspect-ratio: 9/16;
}
.videoContInnerRelativeLandscape_b824c5 {
  aspect-ratio: 16/9;
}
.videoContOverlay_b824c5 {
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.7) 59.99%);
  display: inline-block;
  height: 100%;
  inset-inline-start: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
@keyframes animate-fade-in_b824c5 {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.hidden_b824c5 {
  display: none !important;
  height: 0 !important;
}
.videoInner_b824c5 {
  background: transparent;
  border-radius: inherit;
  flex-shrink: 1;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  position: relative;
  width: 100%;
}
.videoInner_b824c5.videoInnerCover_b824c5 {
  -o-object-fit: cover;
  object-fit: cover;
}
.videoInner_b824c5:-webkit-full-screen {
  z-index: 99999;
}
.videoInner_b824c5::-webkit-media-controls-enclosure {
  display: none !important;
}
.haloBackground_b824c5 {
  filter: blur(50px);
  height: 100%;
  inset: 0;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 0.3;
  pointer-events: none;
  position: absolute;
  transform: scale(1.1);
  width: 100%;
}
.videoFooterCont_b824c5 {
  bottom: var(--custom-footer-bottom);
  flex-shrink: 0;
  padding: 0;
  padding-inline: var(--custom-footer-horizontal-padding);
}
.videoFooterCont_b824c5,
.videoFooterContGradient_b824c5 {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
}
.videoFooterContGradient_b824c5 {
  background: linear-gradient(
    180deg,
    rgba(7, 7, 9, 0),
    rgba(7, 7, 9, 0.5) 27.95%,
    #070709 64.57%
  );
  bottom: 0;
  height: 113px;
  padding: 0;
  pointer-events: none;
}
.videoControlsCont_b824c5 {
  box-sizing: border-box;
  width: 100%;
}
.videoControlsCont_b824c5,
.videoControlsGroup_b824c5 {
  align-items: center;
  display: flex;
  height: 100%;
}
.videoControlsGroup_b824c5 {
  gap: 16px;
}
.videoControlsGroupMid_b824c5 {
  flex: 1;
  gap: 8px;
  margin-inline-start: 16px;
}
.videoControlsGroupEnd_b824c5 {
  display: flex;
  justify-content: flex-end;
  margin-inline-start: auto;
  width: 200px;
}
.videoControlsBtnCont_b824c5 {
  border-radius: 4px;
}
.videoControlsBtn_b824c5 {
  cursor: pointer;
}
.videoControlsBtn_b824c5:hover {
  opacity: 1;
}
.videoControlsBtnContDisabled_b824c5 {
  cursor: not-allowed;
}
.videoControlsBtnTooltip_b824c5 {
  align-items: center;
  display: flex;
  gap: 4px;
}
.videoControlsBtnTooltipKeyCombo_b824c5 {
  transform: translateY(2px);
}
.volumeControlGroup_b824c5 {
  display: flex;
}
.controlsBarItem_b824c5 {
  color: var(--interactive-text-active);
  opacity: 0.6;
}
.controlsBarItemActive_b824c5 {
  opacity: 1;
}
.durationTimeWrapper_b824c5 {
  cursor: pointer;
  flex: 0 0 auto;
  height: 18px;
  margin-inline-start: 3px;
}
.durationTimeDisplay_b824c5,
.durationTimeSeparator_b824c5 {
  color: var(--white);
  display: inline;
  font-family:
    Roboto,
    Helvetica Neue,
    Arial,
    sans-serif;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.durationTimeSeparator_b824c5 {
  margin: 0 2px;
}
.volumeSlider_b824c5 {
  align-items: center;
  cursor: pointer;
  display: flex;
  margin-inline-start: 6px;
}
.playbackSpeedPopout_b824c5 {
  background-color: var(--background-surface-high);
  border-radius: var(--radius-sm);
  box-shadow:
    inset 0 0 0 1px var(--border-subtle),
    var(--shadow-high);
  display: flex;
  flex-direction: column;
  gap: var(--space-12);
  padding: var(--space-12) var(--space-12) var(--space-8);
  width: 260px;
}
.playbackSpeedHeading_b824c5 {
  text-align: center;
}
.contentHeader_b824c5 {
  align-items: center;
  background-image: linear-gradient(
    90deg,
    rgba(205, 216, 255, 0.08) 23%,
    rgba(35, 36, 40, 0)
  );
  display: flex;
  flex-shrink: 0;
  height: 77px;
  padding: 4px 24px;
}
.contentHeaderGameInfo_b824c5 {
  align-items: center;
  cursor: pointer;
  display: flex;
  min-width: 0;
  overflow: hidden;
  width: 100%;
}
.contentHeaderLogotype_b824c5 {
  height: 32px;
  opacity: 0.9;
}
.full-motion .accentOnHover_b824c5 {
  transition: transform 0.2s ease-in-out;
}
.accentOnHover_b824c5:hover {
  opacity: 1;
}
.full-motion .accentOnHover_b824c5:hover {
  transform: scale(1.05);
  transition: transform 0.35s cubic-bezier(0.45, 3.03, 0.3, 0.81);
}
.transcriptOverlay_b824c5 {
  background-color: var(--opacity-black-68);
  height: 100%;
  inset-inline-start: 0;
  top: 0;
  width: 100%;
}
.transcriptCont_b824c5,
.transcriptOverlay_b824c5 {
  animation-duration: 0.2s;
  animation-name: animate-fade-in_b824c5;
  position: absolute;
}
.transcriptCont_b824c5 {
  align-items: flex-start;
  background-color: var(--background-base-lowest);
  border: 1px solid var(--alpha-primary-500048, rgba(78, 80, 88, 0.48));
  border-radius: 16px;
  bottom: var(--custom-transcript-bottom, 24px);
  display: flex;
  flex-direction: column;
  inset-inline-end: 24px;
  top: var(--custom-transcript-top, 24px);
  width: 363px;
}
.transcriptContPortrait_b824c5 {
  inset-inline: 50% auto;
  transform: translateX(-50%);
}
.transcriptScroller_b824c5 {
  height: 100%;
  width: 100%;
}
.transcriptBackBtn_b824c5 {
  cursor: pointer;
  height: 24px;
}
.transcriptHeader_b824c5 {
  align-items: center;
  border-bottom: 1px solid var(--alpha-primary-500048, rgba(78, 80, 88, 0.48));
  color: var(--text-strong);
  gap: 12px;
  justify-content: space-between;
}
.transcriptBody_b824c5,
.transcriptHeader_b824c5 {
  align-self: stretch;
  display: flex;
  padding: 12px 16px;
}
.transcriptBody_b824c5 {
  align-items: flex-start;
  box-sizing: border-box;
  height: 100%;
}
.transcriptBody_b824c5 p:first-of-type {
  margin-top: 0;
}
.stillFrameImageCard_b824c5 {
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  pointer-events: none;
  width: 100%;
}
.endScreenPanel_b824c5,
.stillFrameImageCard_b824c5 {
  animation-duration: 0.5s;
  animation-name: animate-fade-in_b824c5;
}
.endScreenPanel_b824c5 {
  align-items: center;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  background: linear-gradient(
    90deg,
    hsla(226, 9%, 47%, 0.45) 34.5%,
    hsla(0, 0%, 59%, 0.45)
  );
  border: 1px solid hsla(0, 0%, 100%, 0.05);
  border-radius: 12px;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  gap: 16px;
  justify-content: center;
  padding: 8px 16px;
  z-index: 1;
}
.endScreenPanel_b824c5:focus-visible,
.endScreenPanel_b824c5:hover {
  box-shadow: 0 0 30px 0 rgba(220, 239, 255, 0.25);
}
.endScreenPanelInner_b824c5 {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.endScreenPanelTextCont_b824c5 {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.endScreenPanelTextTitle_b824c5 {
  color: var(--primary-130);
}
.endScreenPanelTextSubtitle_b824c5 {
  color: var(--primary-230);
}
.endScreenPanelRight_b824c5 {
  bottom: 82px;
  inset-inline-end: 22px;
  position: absolute;
}
.endScreenIcon_b824c5 {
  display: flex;
}
.verticalDivider_b824c5 {
  margin: 0 16px;
  width: 2px;
}
.loadingSpinner_b824c5 {
  align-items: center;
  -webkit-backdrop-filter: blur(15.85px);
  backdrop-filter: blur(15.85px);
  background: rgba(0, 0, 0, 0.45);
  border: 1px solid hsla(0, 0%, 100%, 0.05);
  border-radius: 12px;
  display: flex;
  inset-inline-start: 32px;
  justify-content: center;
  padding: 8px;
  position: absolute;
  top: 32px;
}
.full-motion .loadingSpinner_b824c5 {
  animation: animate-fade-in_b824c5 1s ease-in forwards;
}
.loadingSpinner_b824c5.centered_b824c5 {
  inset-inline-start: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.captionContainer_b824c5 {
  bottom: 16px;
  inset-inline: 0;
  padding: 4px;
  position: absolute;
}
.captionText_b824c5 {
  text-align: center;
  text-shadow: 0 2px 7px #000;
}
.playPausePopCont_b824c5 {
  background-color: var(--opacity-black-60);
  border-radius: 50%;
  color: var(--white);
  height: 24px;
  inset-inline-start: 50%;
  opacity: 0;
  padding: 12px;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
}
.playPausePopCont_b824c5 .playPausePopIcon_b824c5 {
  height: 100%;
  width: 100%;
}
.full-motion .pause_b824c5,
.full-motion .play_b824c5 {
  animation: playPauseAnimation_b824c5 var(--custom-play-pause-pop-ms, 1s);
}
@keyframes playPauseAnimation_b824c5 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
  }
  10% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.5);
  }
}
.transcriptBodySpinner_b824c5 {
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
.videoOverlayMessage_b824c5 {
  -webkit-backdrop-filter: blur(15.85px);
  backdrop-filter: blur(15.85px);
  background-color: var(--background-base-low);
  border-radius: 12px;
  inset-inline-start: 50%;
  max-width: 475px;
  opacity: 0.9;
  padding: 20px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
:-webkit-full-screen .endScreenPanel_b824c5:focus-visible,
:-webkit-full-screen .videoControlsBtnCont_b824c5:focus-visible {
  outline: 4px solid var(--blue-345);
  outline-offset: 2px;
}
:fullscreen .endScreenPanel_b824c5:focus-visible,
:fullscreen .videoControlsBtnCont_b824c5:focus-visible {
  outline: 4px solid var(--blue-345);
  outline-offset: 2px;
}
:-webkit-full-screen .volumeSlider_b824c5:focus-within {
  outline: 4px solid var(--blue-345);
  outline-offset: 2px;
}
:fullscreen .volumeSlider_b824c5:focus-within {
  outline: 4px solid var(--blue-345);
  outline-offset: 2px;
}
.closeModalBtnWrapper_b824c5 {
  inset-inline-end: max(
    calc(-50vw + 50% + 8px),
    calc(max(40px, (100vw - 100%) / 2 - 80px) * -1)
  );
  position: absolute;
  top: calc(-50vh - -50% - -80px);
  z-index: 1;
}
.inactivePoster_b824c5 {
  display: block;
  height: 100%;
  width: 100%;
}
.inactivePlayButton_b824c5 {
  background-color: var(--opacity-black-60);
  border-radius: 24px;
  color: var(--white);
  left: 50%;
  opacity: 0.6;
  padding: 12px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.full-motion .inactivePlayButton_b824c5 {
  transition: opacity 0.25s;
}
.videoCont_b824c5:hover .inactivePlayButton_b824c5 {
  opacity: 0.8;
}
.inactivePlayButtonIcon_b824c5 {
  display: block;
  height: 24px;
  margin-inline: 1px -1px;
  width: 24px;
}
.floatingShareButtonContainer_b824c5 {
  align-items: center;
  display: flex;
  gap: 8px;
  inset-inline-end: 16px;
  position: absolute;
  top: 16px;
}
.overlayContainer_b824c5 {
  align-items: flex-start;
  bottom: 0;
  display: flex;
  inset-inline-end: 0;
  justify-content: flex-end;
  pointer-events: none;
}
.endScreenOverlay_b824c5,
.overlayContainer_b824c5 {
  inset-inline-start: 0;
  position: absolute;
  top: 0;
}
.endScreenOverlay_b824c5 {
  background: rgba(25, 26, 28, 0.75);
  height: 100%;
  width: 100%;
}
.endScreenImageBackground_b824c5 {
  filter: blur(50px);
  -o-object-fit: contain;
  object-fit: contain;
  pointer-events: none;
}
.endScreenContainer_b824c5,
.endScreenImageBackground_b824c5 {
  animation-duration: 0.5s;
  animation-name: animate-fade-in_b824c5;
  height: 100%;
  inset-inline-start: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.endScreenContainer_b824c5 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  gap: 32px;
  justify-content: center;
  padding: 10px 10px 60px;
}
.endScreenContainerPortrait_b824c5 {
  align-items: center;
  flex-direction: column;
}
.endScreenCard_b824c5 {
  border: 1px solid hsla(0, 0%, 100%, 0.15);
  border-radius: 12px;
  width: 53%;
}
.endScreenCardPortrait_b824c5 {
  width: 90%;
}
.endScreenCtaContainer_b824c5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 269px;
}
.endScreenCtaContainerPortrait_b824c5 {
  align-items: center;
}
.endScreenCtaTitleContainer_b824c5 {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.endScreenCtaContainerPortrait_b824c5 .endScreenCtaTitleContainer_b824c5 {
  align-items: center;
}
.endScreenCtaBtnTitle_b824c5,
.endScreenCtaTitle_b824c5 {
  color: var(--primary-130);
}
.endScreenCtaSubtitle_b824c5 {
  color: var(--primary-230);
}
.endScreenCtaBtn_b824c5 {
  align-items: center;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  background: hsla(226, 9%, 47%, 0.45);
  border: 1px solid hsla(0, 0%, 100%, 0.05);
  border-radius: 12px;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  gap: 16px;
  justify-content: center;
  overflow: hidden;
  padding: 8px 16px;
  position: relative;
}
.endScreenCtaBtn_b824c5:focus-visible,
.endScreenCtaBtn_b824c5:hover {
  box-shadow: 0 0 30px 0 rgba(220, 239, 255, 0.25);
}
@keyframes shine_b824c5 {
  0% {
    inset-inline-start: -50%;
  }
  to {
    inset-inline-start: 200%;
  }
}
.full-motion .endScreenCtaBtn_b824c5:after {
  animation-delay: 0.75s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: shine_b824c5;
  animation-timing-function: ease-in-out;
  aspect-ratio: 1;
  background-color: #9497a0;
  content: "";
  filter: blur(22.45px);
  height: 100%;
  inset-inline-start: -50%;
  position: absolute;
}
@media (min-width: 1400px) {
  .endScreenCtaTitle_b824c5 {
    font-size: 20px;
  }
  .endScreenCtaSubtitle_b824c5 {
    font-size: 16px;
  }
  .endScreenCtaBtnTitle_b824c5 {
    font-size: 18px;
  }
}
.container__82ca8 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  pointer-events: none;
  position: absolute;
  transform: translateX(-50%);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.thumb__82ca8 {
  background-clip: padding-box;
  background-color: var(--background-base-lowest);
  border: 1px solid hsla(0, 0%, 100%, 0.15);
  border-radius: var(--radius-sm);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.6);
  overflow: hidden;
}
.timeLabel__82ca8 {
  text-shadow: 0 0 2px var(--black);
}
.timelineContainer__68788 {
  height: var(--custom-timeline-height);
  position: relative;
  width: 100%;
}
.progressToPlayheadBar__68788 {
  background: var(--custom-timeline-fill-bg, var(--white));
  border-radius: 99px;
  content: "";
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  transform-origin: left;
  width: 100%;
  will-change: transform;
}
.cont__68788,
.hitboxArea__68788 {
  position: relative;
  width: 100%;
}
.hitboxArea__68788 {
  align-items: center;
  display: flex;
  height: var(--custom-initial-timeline-height);
}
.interactionEnabled__68788 {
  cursor: pointer;
}
.interactionEnabled__68788:before {
  content: "";
  height: 30px;
  inset-inline-end: 0;
  inset-inline-start: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.progress__68788 {
  overflow: hidden;
  width: 100%;
}
:-webkit-full-screen .hitboxArea__68788:focus-visible .progress__68788 {
  outline: 4px solid var(--blue-345);
  outline-offset: 2px;
}
:fullscreen .hitboxArea__68788:focus-visible .progress__68788 {
  outline: 4px solid var(--blue-345);
  outline-offset: 2px;
}
.defaultProgressToPlayheadTheme__68788 {
  --custom-timeline-fill-bg: var(--white);
  --custom-timeline-glow-shadow: 0 0 27.8px 2px var(--white);
}
.bufferedBar__68788 {
  background-color: var(--neutral-51);
  width: 100%;
}
.bufferedBar__68788,
.seekableBar__68788 {
  height: var(--custom-timeline-height);
  position: absolute;
}
.seekableBar__68788 {
  background-color: var(--neutral-22);
  inset-inline-start: 0;
  opacity: 0;
}
.timelineTooltip__68788 {
  background-color: hsl(var(--black-500-hsl) / 0.25);
  border-radius: 4px;
  font-family:
    Roboto,
    Helvetica Neue,
    Arial,
    sans-serif;
  padding: 2px 6px;
  pointer-events: none;
  top: 0;
  transform: translate(-50%, calc(-100% - 15px));
}
.playhead__68788,
.timelineTooltip__68788 {
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.playhead__68788 {
  background-color: var(--white);
  border-radius: 50%;
  height: 12px;
  transform: translateX(-50%);
  width: 12px;
}
.segmentContainer__68788 {
  background-color: var(
    --custom-segment-bg,
    var(--progressbar-track-background)
  );
  overflow: visible;
}
.segmentContainer__68788,
.segmentMask__68788 {
  border-radius: var(--custom-r-left) var(--custom-r-right)
    var(--custom-r-right) var(--custom-r-left);
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
}
.segmentMask__68788 {
  inset-inline-start: 0;
  overflow: hidden;
  width: 100%;
}
.segmentPanningLayer__68788 {
  height: 100%;
  position: relative;
  width: 100%;
}
.progressToPlayheadGlowBar__68788 {
  border-radius: 99px;
  box-shadow: var(--custom-timeline-glow-shadow);
  height: 100%;
  mix-blend-mode: var(--custom-timeline-glow-blend-mode);
  pointer-events: none;
  position: absolute;
  top: 0;
}
.closeButton_e876a8 {
  color: var(--interactive-text-default);
  cursor: pointer;
  flex: 0 0 auto;
  line-height: 0;
  padding-block: 8px;
  padding-inline: var(--space-12);
}
.closeButton_e876a8:hover {
  color: var(--interactive-text-hover);
}
.closeIcon_e876a8 {
  height: 16px;
  width: 16px;
}
.clipContainer__841c8 {
  margin-top: 0;
  overflow: hidden;
  padding-top: 3px;
}
.container__841c8 {
  display: flex;
  flex-direction: column;
}
.replyBar__841c8,
.threadSuggestionBar__841c8 {
  background: var(--background-base-lower);
  background-color: unset;
  border-bottom: none;
  cursor: pointer;
}
.theme-dark.custom-theme-background .replyBar__841c8,
.theme-dark.custom-theme-background .threadSuggestionBar__841c8 {
  background: var(--background-gradient-lowest, var(--background-base-lower));
}
.theme-light.custom-theme-background .replyBar__841c8,
.theme-light.custom-theme-background .threadSuggestionBar__841c8 {
  background: var(--background-gradient-lower, var(--background-base-lower));
}
.replyBar__841c8 {
  align-items: center;
  border-start-end-radius: 8px;
  border-start-start-radius: 8px;
  display: grid;
  grid-template-columns: 1fr auto;
}
.threadSuggestionBar__841c8 {
  border-top: 1px solid var(--border-subtle);
  box-shadow: 0 3px 0 var(--background-base-lower);
  display: flex;
  flex-direction: row;
  padding-bottom: 7px;
  padding-top: 7px;
}
.text__841c8 {
  margin-inline-start: var(--space-16);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.replyLabel__841c8 {
  align-items: center;
  display: inline-flex;
  flex: 1 1 auto;
}
.name__841c8 {
  font-weight: var(--font-weight-semibold);
}
.mediaMention__841c8 {
  align-items: center;
  display: inline-flex;
  gap: var(--space-4);
}
.clipIcon__841c8 {
  flex-shrink: 0;
}
.clipTitle__841c8 {
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.actions__841c8 {
  flex: 0 0 auto;
  margin-inline-end: var(--space-4);
}
.actions__841c8,
.mentionButton__841c8 {
  align-items: center;
  display: flex;
}
.mentionButton__841c8 {
  cursor: pointer;
  padding: 8px 12px;
  text-transform: uppercase;
}
.mentionIcon__841c8 {
  height: 16px;
  margin-inline-end: 4px;
  width: 16px;
}
.separator__841c8 {
  background-color: var(--border-subtle);
  height: 20px;
  width: 1px;
}
.createThreadButton__841c8 {
  margin-inline: 8px;
  white-space: nowrap;
}
@keyframes pulseIcon__24af7 {
  0%,
  to {
    transform: scale(var(--custom-channel-text-area-button-hover-scale));
  }
  50% {
    transform: none;
  }
}
@keyframes pulseButton__24af7 {
  0%,
  to {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
}
@keyframes sparkle__24af7 {
  0% {
    opacity: 0;
    transform: rotate(-50deg) scale(0);
  }
  20% {
    opacity: 1;
    transform: rotate(0deg) scale(1);
  }
  40% {
    opacity: 0;
    transform: rotate(50deg) scale(0);
  }
  to {
    opacity: 0;
    transform: rotate(-50deg) scale(0);
  }
}
.button__24af7 {
  align-items: center;
  color: var(--interactive-text-default);
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.button__24af7:hover {
  color: var(--interactive-text-hover);
}
.button__24af7:active {
  color: var(--interactive-text-active);
}
.button__24af7.disabled__24af7 {
  cursor: not-allowed;
  opacity: 0.5;
}
.button__24af7:not(.noHover__24af7) {
  border-radius: 8px;
  transition-duration: 0.2s;
}
.button__24af7:not(.noHover__24af7):hover {
  background-color: var(--interactive-background-selected);
}
.iconMask__24af7 {
  display: block;
  height: 20px;
  width: 20px;
}
.buttonContent__24af7 {
  position: relative;
}
.icon__24af7 {
  height: 20px;
  width: 20px;
}
.pulseIcon__24af7 {
  animation: pulseIcon__24af7 0.6s ease;
}
.pulseButton__24af7 .buttonWrapper__24af7 {
  animation: pulseButton__24af7 0.6s ease;
}
.buttonWrapper__24af7 svg {
  display: block;
}
.notificationDot__24af7 {
  background-color: var(--background-feedback-notification);
  border-radius: 100%;
  bottom: 0;
  height: 7px;
  inset-inline-end: 0;
  transform: translateY(-5%);
  width: 7px;
}
.notificationDot__24af7,
.sparkleContainer__24af7 {
  position: absolute;
}
.sparkleStar__24af7 {
  color: var(--platform-gold);
  inset-inline-start: 20px;
  top: -12px;
}
.sparklePlus__24af7,
.sparkleStar__24af7 {
  animation: sparkle__24af7 2.5s ease-in-out infinite;
  position: relative;
}
.sparklePlus__24af7 {
  animation-delay: 0.5s;
  color: var(--brand-500);
  inset-inline-start: -20px;
  opacity: 0;
  top: 16px;
}
.active__24af7 .buttonWrapper__24af7,
.buttonWrapper__24af7:hover {
  color: var(--interactive-text-active);
}
.awaitingAuthenticationStep__4ede8 {
  padding-bottom: 16px;
  padding-top: 16px;
}
.awaitingWrapper__8a7af {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.body__96722 {
  padding-bottom: 16px;
  padding-top: 16px;
}
.confirmation__6220d {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 30px 24px 10px;
}
.confirmationHeader__6220d {
  margin-bottom: 16px;
}
.divider__6220d {
  background-color: var(--border-subtle);
  height: 1px;
  margin: 24px 0;
  width: 100%;
}
.back_e125f1 {
  margin-inline-end: auto;
  min-width: auto;
  padding: 2px 4px;
  width: auto;
}
.modalFooter_e125f1 {
  padding-top: var(--space-24) !important;
}
.footerContentContainer_e125f1 {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.hasBackButton_e125f1 {
  justify-content: space-between;
}
.paymentNote__56a21 {
  background-color: var(--modal-background);
  margin: 0;
  padding: 16px 16px 0;
}
.warningContainer__98bed {
  align-items: center;
  background-color: var(--background-feedback-warning);
  border-radius: var(--radius-sm);
  display: flex;
  flex-direction: row;
  gap: var(--space-10);
  padding: var(--space-8);
}
.legalFinePrint__1048e {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.formTitle__553e7 {
  margin-bottom: 8px;
  margin-top: 8px;
}
.checkbox__553e7 {
  margin-bottom: 10px;
}
.checkbox__553e7:last-child {
  margin-bottom: 0;
}
.checkboxLabel__553e7 {
  color: var(--interactive-text-default);
}
.finePrint__553e7 {
  color: var(--text-muted);
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 16px;
  margin-top: 8px;
}
.activeFractionalPremiumBannerContainer__0687d {
  align-items: center;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  margin-top: 5px;
  min-height: 48px;
  padding-inline: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
}
.theme-light .activeFractionalPremiumBannerContainer__0687d {
  background: linear-gradient(
    90deg,
    rgba(133, 71, 198, 0.4),
    rgba(184, 69, 193, 0.4) 50.24%,
    rgba(171, 93, 138, 0.4)
  );
}
.theme-dark .activeFractionalPremiumBannerContainer__0687d {
  background: linear-gradient(
    90deg,
    rgba(133, 71, 198, 0.5),
    rgba(184, 69, 193, 0.5) 50.24%,
    rgba(171, 93, 138, 0.5)
  );
}
.activeFractionalPremiumBannerBackgroundImage__0687d {
  background-image: url(/assets/bb502dc7cfcbbacc.svg);
  background-repeat: no-repeat;
  bottom: 0;
  position: absolute;
  top: 40%;
  inset-inline: 78% 0;
}
.nitroIconContainer__0687d {
  height: 28px;
  padding-inline-end: 12px;
  width: 28px;
}
.theme-light .iconFractional__0687d {
  display: none;
}
.theme-light .iconFractionalDark__0687d {
  filter: drop-shadow(0 1px 2px rgb(0 0 0/0.4));
  height: 28px;
  width: 28px;
}
.theme-dark .iconFractional__0687d {
  filter: drop-shadow(0 1px 2px rgb(0 0 0/0.4));
  height: 28px;
  width: 28px;
}
.theme-dark .iconFractionalDark__0687d {
  display: none;
}
.premiumBrandRefreshContainer__0687d {
  align-items: center;
  background-color: var(--background-surface-highest);
  border-radius: var(--radius-md);
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  margin-top: 5px;
  padding: var(--space-8);
  position: relative;
}
.premiumBrandRefreshIcon__0687d {
  margin-inline-end: var(--space-12);
}
.trialForAllHeader__0687d {
  padding-bottom: 12px;
}
.trialForAllSeparator__0687d {
  background: var(--border-subtle);
  border: 0;
  height: 1px;
  margin: 0 0 4px;
  width: 100%;
}
.root_e4d803 {
  background-color: transparent;
}
.root_e4d803 > :last-child {
  border-end-end-radius: 4px;
  border-end-start-radius: 4px;
}
.root_e4d803.withHeader_e4d803 > :first-child {
  background-color: transparent;
}
.shaker_e4d803 {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
  max-height: 660px;
}
.modalHeader_e4d803 {
  margin-bottom: -20px;
  padding-bottom: 0;
}
.header_e4d803 {
  margin-bottom: 12px;
}
.headerAnimation_e4d803 {
  bottom: -20px;
  inset-inline-start: calc(50% - 220px);
  position: absolute;
  top: 0;
  width: 440px;
}
.stepBody_e4d803 {
  padding-top: 16px;
}
.bodyText_e4d803 {
  color: var(--interactive-text-default);
  font-size: 16px;
  font-weight: var(--font-weight-medium);
  line-height: 20px;
}
.invoice_e4d803,
.taxInclusiveNote_e4d803 {
  margin-bottom: 16px;
}
.invoice_e4d803 {
  background-color: var(--background-surface-high) !important;
}
.premiumBrandRefreshInputBackground_e4d803 {
  background-color: var(--background-mod-subtle) !important;
  border: 0 !important;
}
.paymentSourceWrapper_e4d803 {
  margin: 12px 0;
}
.giftCardCreditsCheckbox_e4d803 {
  margin-bottom: var(--space-8);
}
.paymentSourceOptionalWarning_e4d803 {
  color: var(--text-default);
  margin-top: 16px;
}
.currencyWrapper_e4d803 {
  margin-bottom: 16px;
  margin-top: 16px;
}
@media (max-width: 485px) {
  .shaker_e4d803 {
    position: absolute;
    top: 0;
    inset-inline: 0;
    bottom: 0;
    max-height: none;
  }
  .root_e4d803,
  .shaker_e4d803 {
    justify-content: center;
  }
  .root_e4d803 {
    border-radius: 0;
    width: 100vw;
  }
}
.trialCheckbox_e4d803 {
  align-items: flex-start;
}
.trialCheckboxLabel_e4d803 {
  font-size: 14px;
  line-height: 18px;
}
.loader_e4d803 {
  margin-top: 64px;
}
.contentWrapper_e4d803 {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-height: 0;
}
.reviewWarningMessageContainer_e4d803 {
  background-color: var(--background-feedback-warning);
  border: 1px solid var(--status-warning-background);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  padding: 10px;
}
.reviewWarningMessage_e4d803 {
  color: var(--interactive-text-active);
  margin-inline-start: 10px;
}
.trialPriceLine_e4d803 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 4px;
}
.afterTrialPriceLine_e4d803 {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
.discountSubtext_e4d803 {
  text-align: end;
}
.discountSubtext_e4d803 p {
  margin: 0;
}
.formTitle_e4d803 {
  margin-bottom: 12px;
}
.spinnerWrapper_e4d803 {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 280px;
  min-width: 402px;
}
.trialHeader_e4d803 {
  margin-bottom: 18px;
}
.giftMainAnimation_e4d803 {
  margin-bottom: var(--space-8);
  margin-top: -32px;
  position: relative;
}
.premiumGroupNotice_e4d803 {
  margin: 12px 0;
}
.xboxPerksNoticeContainer_e4d803 {
  margin-bottom: var(--space-12);
}
.notice__5a95d {
  margin-bottom: var(--space-16);
}
.container__65536 {
  align-items: center;
  background: var(--background-surface-highest);
  border: 1px solid var(--border-normal, hsla(240, 4%, 61%, 0.32));
  border-radius: 12px;
  display: flex;
  gap: 12px;
  padding-block: 8px;
  padding-inline: 8px 16px;
}
.containerSpacing__65536 {
  margin-bottom: var(--space-12);
}
.content__65536 {
  align-items: center;
  display: flex;
  gap: var(--space-12);
  justify-content: center;
}
.attributionBannerContainer__7b5f3 {
  align-items: center;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  min-height: 48px;
  padding-bottom: 8px;
  padding-inline-start: 28px;
  padding-top: 8px;
  position: relative;
}
.avatarContainer__7b5f3 {
  height: 32px;
  width: 32px;
}
.bannerHeader__7b5f3 {
  padding-inline: 8px;
}
.bannerIcon__7b5f3 {
  border-radius: 4px;
  bottom: 0;
  inset-inline-end: 0;
  position: absolute;
  z-index: -1;
}
.bannerCopy__7b5f3 {
  border-bottom: 1px solid rgba(78, 80, 88, 0.48);
  padding-bottom: 16px;
  padding-top: 8px;
}
.theme-light .attributionBannerContainer__7b5f3 {
  background: linear-gradient(
    90deg,
    rgba(133, 71, 198, 0.4),
    rgba(184, 69, 193, 0.4) 50.24%,
    rgba(171, 93, 138, 0.4)
  );
}
.theme-dark .attributionBannerContainer__7b5f3 {
  background: linear-gradient(
    90deg,
    rgba(133, 71, 198, 0.5),
    rgba(184, 69, 193, 0.5) 50.24%,
    rgba(171, 93, 138, 0.5)
  );
}
.giftRedemptionLink__9aa63 {
  margin-top: var(--space-8);
}
.wrapper_c0e5ec {
  border-radius: 4px;
  transition: background-color 0.2s ease;
}
.wrapperActive_c0e5ec {
  background-color: var(--background-mod-subtle);
}
.container_d0a022 {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}
.icon_d0a022 {
  flex-shrink: 0;
}
.container__33980 {
  display: flex;
  gap: 8px;
  margin-top: 20px;
}
.iconBackground__33980 {
  align-items: center;
  background-color: var(--background-mod-muted);
  border-radius: var(--radius-round);
  display: flex;
  justify-content: center;
  padding: 8px;
}
.link__33980 {
  cursor: pointer;
  display: inline;
  text-decoration: underline;
}
.pricePerInterval_b39acb {
  color: var(--interactive-text-default);
  font-size: 16px;
  font-weight: var(--font-weight-normal);
  line-height: 20px;
}
.pricePerInterval_b39acb strong {
  color: var(--interactive-text-active);
  font-size: 24px;
  font-weight: var(--font-weight-semibold);
  line-height: 30px;
}
.body_c93be2 {
  margin-bottom: 40px;
  margin-top: 40px;
}
.textArea_c93be2 {
  --channel-text-area-placeholder: var(--input-placeholder-text-default);
  height: 136px;
  transition: border-color 0.2s ease-in-out;
}
.textArea_c93be2:focus-within {
  border-color: var(--text-link);
}
.textArea_c93be2 > div {
  height: 100%;
}
.editorTextArea_c93be2 {
  height: 136px;
}
.theme-dark .textArea_c93be2 * > span {
  color: var(--white);
}
.theme-light .textArea_c93be2 * > span {
  color: var(--text-default);
}
.container__8564e {
  align-items: center;
  background-color: var(--primary-860);
  border-radius: var(--radius-sm);
  cursor: pointer;
  display: flex;
  gap: var(--space-6);
  height: var(--space-32);
  justify-content: center;
  opacity: 0.7;
  padding: 0 var(--space-16);
  width: 140px;
}
.container__8564e.refresh__8564e {
  background-color: var(--background-mod-subtle);
  border-color: var(--border-muted);
  opacity: 1;
}
.contentContainer__8564e {
  align-items: center;
  display: flex;
  gap: var(--space-6);
  min-width: 0;
}
.soundIcon__8564e {
  min-height: 14px;
  min-width: 14px;
}
.text__8564e {
  color: var(--white);
}
.text__8564e.refresh__8564e {
  color: var(--text-strong);
}
.customGiftHeader__8564e {
  align-items: center;
  background-color: var(--background-surface-high);
  box-shadow: var(--elevation-low);
  display: block;
  grid-column: 1/3;
  grid-row: 1/2;
  padding: 12px;
  z-index: 1;
}
.searchAndSound__8564e {
  align-items: center;
  display: flex;
  margin-top: 10px;
}
.container__231eb {
  align-items: center;
  background-color: var(--primary-860);
  border-radius: var(--radius-sm);
  cursor: pointer;
  display: flex;
  gap: var(--space-6);
  height: var(--space-32);
  justify-content: center;
  opacity: 0.7;
  padding: 0 var(--space-16);
  width: 140px;
}
.container__231eb.refresh__231eb {
  background-color: var(--background-mod-subtle);
  border-color: var(--border-muted);
  opacity: 1;
}
.contentContainer__231eb {
  align-items: center;
  display: flex;
  gap: var(--space-6);
  min-width: 0;
}
.emojiIcon__231eb {
  min-height: 14px;
  min-width: 14px;
}
.text__231eb {
  color: var(--white);
}
.text__231eb.refresh__231eb {
  color: var(--text-strong);
}
.emojiList__231eb {
  background-color: var(--background-surface-high);
}
.emojiHeader__231eb {
  background-color: var(--background-base-lower) !important;
}
.customGiftContent__231eb {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.customGiftHeader__231eb {
  margin-bottom: 10px;
}
.categoryList__231eb {
  top: 120px;
}
.giftMainAnimation_d54fab {
  align-items: flex-end;
  display: flex;
  height: 312px;
  justify-content: center;
  position: relative;
}
.soundEmojiContainer_d54fab {
  bottom: 16px;
  display: flex;
  gap: var(--space-6);
  justify-content: center;
  position: absolute;
  width: 100%;
}
.soundEmojiContainer_d54fab.refresh_d54fab {
  bottom: unset;
  gap: var(--space-12);
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 12px;
  top: 100%;
}
.animation_d54fab {
  transform: scale(1);
}
.spinner_d54fab {
  height: 100%;
  transform: scale(0.75);
  width: 100%;
}
.giftRecipientInfo__57118 {
  align-items: center;
  display: flex;
}
.giftRecipientInfo__57118 > * {
  margin-inline-end: 8px;
}
.content__57118 {
  margin: 24px 0;
}
.giftRecipientName__57118,
.giftRecipientTag__57118 {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.giftRecipientTag__57118 {
  color: GrayText;
}
.stepBody_d947e6 {
  padding-top: 12px;
}
.giftOptions_d947e6 {
  justify-content: center;
  max-width: 75%;
}
.stepBodyCustomGift_d947e6 {
  display: flex;
  flex-direction: row;
}
.bodyColumnMiddle_d947e6 {
  margin-inline-end: 30px;
}
.bodyColumnMiddleCentered_d947e6 {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-inline-end: 30px;
}
.bodyColumnRight_d947e6 {
  margin-inline-end: 10px;
}
.stepBodyCustomGift_d947e6 > * {
  width: 50%;
}
.bodyText_d947e6 {
  font-size: 16px;
  font-weight: var(--font-weight-medium);
  line-height: 20px;
  margin-bottom: 16px;
}
.bodyText_d947e6,
.interactiveColor_d947e6 {
  color: var(--interactive-text-default);
}
.clickable_d947e6 {
  cursor: pointer;
}
.selectPlanDivider_d947e6 {
  background-color: var(--border-subtle);
  height: 1px;
  margin: 8px 0 16px;
}
.giftRecipientName_d947e6 {
  color: GrayText;
}
.giftRecipientInfo_d947e6 {
  align-items: center;
  display: flex;
}
.giftRecipientInfo_d947e6 > * {
  margin-inline-end: 8px;
}
.giftNitroInfo_d947e6 {
  margin-bottom: 20px;
  margin-top: 15px;
}
.giftNitroInfo_d947e6 hr {
  background-color: var(--border-subtle);
  border: none;
  height: 1px;
}
.selectPlanChooseSubtitle_d947e6,
.selectPlanChooseTitle_d947e6 {
  color: var(--interactive-text-active);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}
.selectPlanChooseTitle_d947e6 {
  font-weight: var(--font-weight-semibold);
}
.selectPlanChooseSubtitle_d947e6 {
  margin-bottom: 18px;
}
.selectPlanTotalRow_d947e6 {
  margin-top: 8px;
}
.seasonalGiftBoxHeaderIcon_d947e6 {
  align-self: center;
  position: absolute;
  top: -131px;
  width: 260px;
}
.planSelectSeparator_d947e6 {
  background: var(--border-subtle);
  border: 0;
  height: 1px;
  margin: 0 0 4px;
  width: 100%;
}
.trialPlanSelectHeader_d947e6 {
  padding-bottom: 12px;
}
.legacyPricingNotice_d947e6 {
  margin-bottom: 16px;
}
.customGiftMessageWrapper_d947e6 {
  margin-bottom: 16px;
  margin-top: 16px;
}
.customGiftMessage_d947e6.customGiftMessage_d947e6 {
  background-color: var(--background-base-lowest);
}
.compactSendGiftToUser_d947e6 {
  margin: 16px 0;
}
.compactSelectGiftTitle_d947e6 {
  margin-top: 16px;
}
.previewTotalSectionContainer_b41cc5 {
  margin-top: var(--space-16);
}
.premiumSwitchPlanSelectText_b41cc5 {
  margin-bottom: var(--space-24);
}
.renewalInvoiceDate_d313e6 {
  color: var(--text-default);
  margin-bottom: 16px;
}
.unifiedCheckoutInvoicePreviewLoader_d313e6 {
  margin-top: 60px;
}
.stepBodyV1_bb5449 {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
  padding-top: var(--space-16);
}
.unifiedReviewStepBodyBottomPadding_bb5449 {
  padding-bottom: var(--space-4);
}
.topInBetweenSpacer_bb5449 {
  height: var(--space-8);
}
.subscriptionDetailsContainer_bb5449 {
  margin-top: var(--space-12);
}
.invoiceSummaryContainer_bb5449,
.paymentMethodContainer_bb5449 {
  margin-top: var(--space-24);
}
.checkoutInlineNoticeContainer_bb5449 {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--space-24);
  row-gap: var(--space-12);
}
.loadingContainer_bb5449 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 200px;
}
.spinnerColor_bb5449 {
  background-color: var(--interactive-text-default) !important;
}
.totalDueReviewStep_bb5449 {
  margin-top: 0;
}
.promotionalNoticeContainer_bb5449,
.totalDueReviewStep_bb5449 {
  margin-bottom: var(--space-12);
}
.footerInlineNoticeContainer_bb5449 {
  margin-top: var(--space-12);
}
.framePreviewGraphic__6d898 {
  border-radius: var(--radius-sm);
  flex-shrink: 0;
  height: 48px;
  overflow: hidden;
  position: relative;
  width: 48px;
}
.fineprint_b44961 {
  margin-bottom: 0;
  margin-top: 16px;
}
.shopPageContainer__4485d {
  margin-top: 80px;
  min-height: 300px;
}
.giftModalContainer__4485d,
.shopPageContainer__4485d {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.giftModalContainer__4485d {
  padding: var(--space-24);
}
.heading1__4485d {
  margin-bottom: 24px;
  margin-top: 24px;
}
.description__4485d {
  text-align: center;
}
.reload__4485d {
  margin-top: 24px;
}
.headerImage__96095 {
  background-color: var(--background-base-low);
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}
.header__96095 {
  height: 284px;
  padding: 0;
}
.closeButtonContainer__96095 {
  align-items: center;
  background-color: var(--opacity-black-84);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 24px;
  justify-content: center;
  width: 24px;
}
.closeButtonContainer__96095:hover {
  opacity: 0.75;
  transition: 0.2s ease;
}
.closeButtonIcon__96095 {
  color: var(--primary-330);
}
.closeButton__96095 {
  inset-inline-end: 16px;
  position: absolute;
  top: 16px;
}
.header_c0b612 {
  height: 146px;
}

/*# sourceMappingURL=61604.eb078d33c425af0b.css.map*/
