.animationWrapper__41e0f {
  height: 100%;
  position: absolute;
  width: 100%;
}
.lottieAnimation__41e0f {
  bottom: 0;
  height: 196px;
  inset-inline-end: 0;
  position: absolute;
  width: 196px;
}
.emoji {
  height: var(--custom-emoji-size-emoji);
  -o-object-fit: contain;
  object-fit: contain;
  vertical-align: bottom;
  width: var(--custom-emoji-size-emoji);
}
.emoji.jumboable {
  height: var(--custom-emoji-size-jumbo-emoji);
  min-height: var(--custom-emoji-size-jumbo-emoji);
  width: var(--custom-emoji-size-jumbo-emoji);
}
.container__9e80c {
  display: flex;
}
.emojiContainer__9e80c {
  margin-inline-end: 16px;
}
.name__9e80c {
  margin-bottom: 2px;
}
.infoContainer__9e80c {
  flex: 1;
}
.emojiIcon__9e80c {
  height: 20px;
  width: 20px;
}
.container__4328f {
  display: flex;
  flex-direction: column;
}
.header__4328f {
  color: var(--text-default);
  margin-top: 16px;
  text-align: center;
}
.header__4328f strong {
  color: var(--text-strong);
}
.divider__4328f {
  background-color: var(--border-subtle);
  border: none;
  height: 1px;
  margin: 28px 0;
  width: 100%;
}
.benefitsContainer__4328f {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}
.benefit__4328f {
  background-color: var(--background-mod-subtle);
  border-radius: 8px;
  padding: 16px;
}
.headerContainer__2dea3 {
  background-color: var(--background-base-low);
  border-start-end-radius: calc(var(--custom-border-radius) + 2px);
  border-start-start-radius: calc(var(--custom-border-radius) + 2px);
  box-sizing: border-box;
  height: 112px;
  position: relative;
}
.closeContainer__2dea3 {
  align-items: center;
  background-color: var(--opacity-black-84);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 24px;
  inset-inline-end: 16px;
  justify-content: center;
  position: absolute;
  top: 16px;
  width: 24px;
}
.closeIcon__2dea3 {
  color: var(--interactive-text-default);
  height: 16px;
  width: 16px;
}
.headerImage__2dea3,
.headerImageContainer__2dea3 {
  height: 100%;
  width: 100%;
}
.headerImage__2dea3 {
  border-start-end-radius: var(--radius-md);
  border-start-start-radius: var(--radius-md);
  -o-object-fit: cover;
  object-fit: cover;
}
.confirmationContainer__2dea3 {
  margin-top: 32px;
}
.purchaseConfirmation__2dea3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.confirmationTitle__2dea3 {
  margin-top: 16px;
}
.confirmationSubtitle__2dea3 {
  margin-top: 8px;
}
.seasonalGiftBoxHeaderIcon_ae16b8 {
  align-self: center;
  bottom: -11px;
  position: absolute;
  width: 260px;
  z-index: 1;
}
.container_ae16b8 {
  align-items: center;
  background-image: unset;
  background-size: unset;
  border-radius: 4px 4px 0 0;
  display: flex;
  justify-content: center;
  position: relative;
}
.closeButton_ae16b8 {
  margin: var(--modal-vertical-padding) var(--modal-horizontal-padding);
  margin-inline-start: auto;
}
.fullWidthGraphicHeaderForManaModal_ae16b8.fullWidthGraphicHeaderForManaModal_ae16b8 {
  margin-top: calc(var(--custom-modal-padding-top, 24px) * -1 - 2px);
  margin-inline-start: -1px;
  width: calc(100% + 2px);
}
.shaker_e5f3a9 {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
  max-height: inherit;
}
.root_e5f3a9 > :last-child {
  border-end-end-radius: var(--radius-sm);
  border-end-start-radius: var(--radius-sm);
}
.root_e5f3a9.withHeader_e5f3a9 > :first-child {
  background-color: transparent;
}
@media (max-width: 485px) {
  .shaker_e5f3a9 {
    position: absolute;
    top: 0;
    inset-inline: 0;
    bottom: 0;
    max-height: none;
  }
  .root_e5f3a9,
  .shaker_e5f3a9 {
    justify-content: center;
  }
  .root_e5f3a9 {
    border-radius: 0;
    width: 100vw;
  }
}
.halloweenModalHeight_e5f3a9 {
  max-height: 800px;
}
.awaitingAuthenticationStep__4ede8 {
  padding-bottom: 16px;
  padding-top: 16px;
}
.awaitingWrapper__8a7af {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.body__96722 {
  padding-bottom: 16px;
  padding-top: 16px;
}
.confirmation__6220d {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 30px 24px 10px;
}
.confirmationHeader__6220d {
  margin-bottom: 16px;
}
.divider__6220d {
  background-color: var(--border-subtle);
  height: 1px;
  margin: 24px 0;
  width: 100%;
}
.back_e125f1 {
  margin-inline-end: auto;
  min-width: auto;
  padding: 2px 4px;
  width: auto;
}
.modalFooter_e125f1 {
  padding-top: var(--space-24) !important;
}
.footerContentContainer_e125f1 {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.hasBackButton_e125f1 {
  justify-content: space-between;
}
.paymentNote__56a21 {
  background-color: var(--modal-background);
  margin: 0;
  padding: 16px 16px 0;
}
.warningContainer__98bed {
  align-items: center;
  background-color: var(--background-feedback-warning);
  border-radius: var(--radius-sm);
  display: flex;
  flex-direction: row;
  gap: var(--space-10);
  padding: var(--space-8);
}
.legalFinePrint__1048e {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.formTitle__553e7 {
  margin-bottom: 8px;
  margin-top: 8px;
}
.checkbox__553e7 {
  margin-bottom: 10px;
}
.checkbox__553e7:last-child {
  margin-bottom: 0;
}
.checkboxLabel__553e7 {
  color: var(--interactive-text-default);
}
.finePrint__553e7 {
  color: var(--text-muted);
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 16px;
  margin-top: 8px;
}

/*# sourceMappingURL=76090.d5a554c5bdabab1e.css.map*/
