.guildIcon__0fa6d {
  align-items: center;
  background-color: var(--background-base-low);
  color: var(--text-default);
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
.mask__0fa6d {
  display: block;
}
.guildAcronym__0fa6d {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.categoryItemLockIconContainer__0fa6d,
.guildIconWithoutImage__0fa6d {
  background-color: var(--background-base-low);
}
.categoryItemLockIconContainer__0fa6d {
  border: 1px solid var(--background-base-lowest);
  border-radius: 50%;
  height: 16px;
  inset-block: auto -1px;
  inset-inline: auto -1px;
  position: absolute;
  width: 16px;
}
.categoryItemLockIcon__0fa6d {
  color: var(--icon-strong);
  inset: 0;
  margin: auto;
  position: absolute;
}
.wrapper__0c74f {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
  position: absolute;
  top: 0;
  inset-inline: 0;
  bottom: 0;
}
.wrapper__0d1ef {
  flex: 1;
}
.wrapper__0856d {
  display: grid;
  grid-template-columns: 48px auto;
  grid-template-rows: auto 1fr auto;
  position: relative;
}
.header__0856d {
  align-items: center;
  box-shadow: var(--elevation-low);
  display: flex;
  grid-column: 1/3;
  grid-row: 1/2;
  padding: 12px;
  z-index: 1;
}
.loadingIndicator__0856d {
  grid-column: 1/-1;
  grid-row: 1/-1;
}
.gridNoticeWrapper__0856d,
.listWrapper__0856d {
  flex: 1;
  inset-inline-start: 48px;
  position: relative;
  width: calc(100% - 48px);
}
.gridNoticeWrapper__0856d {
  flex: none;
}
.emptyState__0856d {
  grid-column: 1/3;
  grid-row: 2/2;
  margin: 0 20px;
  overflow: hidden;
  position: relative;
}
.enable-forced-colors .header__0856d {
  border-bottom: 1px solid CanvasText;
}
.container__52c9d {
  position: absolute;
  top: 0;
  inset-inline: 0;
  bottom: 0;
  z-index: 101;
}
.background__52c9d {
  background-color: var(--background-base-lower);
  opacity: 0.98;
  position: absolute;
}
.background__52c9d,
.content__52c9d {
  height: 100%;
  width: 100%;
}
.content__52c9d {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  position: relative;
}
.closeButton__52c9d {
  cursor: pointer;
  inset-inline-end: 20px;
  position: absolute;
  top: 20px;
}
.closeButtonIcon__52c9d {
  color: var(--interactive-text-default);
}
.description__52c9d,
.header__52c9d {
  text-align: center;
}
.upsellImage__52c9d {
  width: 124px;
}
.banner__97f37 {
  border-radius: 8px;
  max-width: 304px;
  width: 100%;
}
.banner__97f37.hasTrialOffer__97f37 {
  margin-bottom: 16px;
  margin-top: 16px;
  max-height: 172px;
}
.wrapper__97f37 {
  align-items: center;
  background-color: var(--modal-background);
  border-radius: 8px;
  display: flex;
  height: 100%;
  inset-inline-start: 0;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 101;
}
.closeButton__97f37 {
  color: var(--interactive-text-default);
  cursor: pointer;
  inset-inline-end: 16px;
  position: absolute;
  top: 16px;
}
.contentFill__97f37 {
  background: var(
    --gradients-nitro-classic-diagonal,
    linear-gradient(
      45deg,
      var(--premium-tier-1-blue) 0,
      var(--premium-tier-1-purple) 75.25%
    )
  );
  border-radius: 8px;
  margin-top: 24px;
  padding: 36px 84px;
}
.nitroWheel__97f37 {
  color: var(--premium-tier-1-purple);
  padding-inline-end: 4px;
}
.content__97f37 {
  box-sizing: border-box;
  color: var(--text-default);
  flex-direction: column;
  text-align: center;
}
.content__97f37,
.header__97f37 {
  align-items: center;
  display: flex;
}
.header__97f37 {
  justify-content: center;
  margin: 16px 0 8px;
}
.headerText__97f37 {
  margin-inline-start: 4px;
}
.subheaderText__97f37 {
  color: var(--text-default);
  max-width: 350px;
  padding: 0 32px;
  white-space: pre-line;
}
.subheaderText__97f37 a {
  color: var(--text-default);
  text-decoration: underline;
}
.ctaActionWrapper__97f37 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin-top: 24px;
  padding: 0 48px;
  width: 100%;
}

/*# sourceMappingURL=83001.e18e9bf80a71b453.css.map*/
