.container_fc4ad8 {
  flex-direction: row;
  gap: var(--space-12);
  padding: var(--space-12);
}
.artBox_fc4ad8,
.container_fc4ad8 {
  align-items: center;
  background: var(--background-mod-subtle);
  border: 1px solid var(--border-subtle);
  border-radius: var(--radius-md);
  display: flex;
}
.artBox_fc4ad8 {
  flex-shrink: 0;
  height: 64px;
  justify-content: center;
  overflow: hidden;
  width: 64px;
}
.art_fc4ad8 {
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
  pointer-events: none;
  width: 56px;
}
.body_fc4ad8 {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--space-4);
  min-width: 0;
}
.customConfetti__69c6c {
  inset-inline-end: -75px;
  pointer-events: none;
  top: -120px;
}
.modalOverrideSliderBody__34eac {
  padding: 0;
  width: 440px;
}
.confettiCanvas__34eac {
  height: 100%;
  position: absolute;
  width: 100%;
}
.customConfetti__34eac {
  opacity: 1;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
}
.customConfetti__34eac.hidden__34eac {
  opacity: 0;
}
.copyInput_fffc15 {
  background-color: var(--input-background-default);
  border: 1px solid var(--input-border-default);
  border-radius: var(--radius-sm);
  box-sizing: border-box;
  cursor: pointer;
  height: 40px;
  overflow: hidden;
  position: relative;
  transition: border-color 0.2s ease-in-out;
}
.copyInput_fffc15[data-disabled="true"] {
  cursor: not-allowed;
}
.copyInput_fffc15[data-disabled="true"] .inputWrapper_fffc15 {
  opacity: 0.5;
}
.copyInput_fffc15[data-disabled="true"] .input_fffc15 {
  cursor: not-allowed;
}
.copyInputDefault_fffc15,
.copyInputError_fffc15 {
}
.copyInputError_fffc15 {
  background-color: var(--background-feedback-critical);
  border-color: var(--text-feedback-critical);
  color: var(--text-feedback-critical);
}
.copyInputSuccess_fffc15 {
  background-color: var(--background-feedback-positive);
  border-color: var(--text-feedback-positive);
  color: var(--text-feedback-positive);
}
.layout_fffc15 {
  inset: 0;
  position: absolute;
}
.inputWrapper_fffc15 {
  position: relative;
}
.button_fffc15 {
  border-radius: var(--radius-xs);
  margin-block: 4px;
  margin-inline: 0 4px;
  padding: 2px 20px !important;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}
.hiddenMessage_fffc15,
.input_fffc15 {
  background-color: transparent;
  font-size: 16px;
  line-height: 20px;
  overflow: hidden;
  padding-block: 10px;
  padding-inline: 10px 0;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.input_fffc15 {
  border: none;
  box-sizing: border-box;
  cursor: text;
  flex: 1 1 auto;
  min-width: 0;
  transition: color 0.15s ease;
  width: 100%;
}
.inputDefault_fffc15 {
}
.inputError_fffc15,
.inputSuccess_fffc15 {
  color: var(--text-default);
}
.hiddenMessage_fffc15 {
  inset: 0;
  position: absolute;
  z-index: 0;
}
.inputHidden_fffc15 {
  visibility: hidden;
}
.hiddenMessage_fffc15,
.inputDefault_fffc15 {
  color: var(--text-default);
}
.hiddenMessage_fffc15::-moz-placeholder,
.inputDefault_fffc15::-moz-placeholder {
  color: var(--input-placeholder-text-default);
}
.hiddenMessage_fffc15::placeholder,
.inputDefault_fffc15::placeholder {
  color: var(--input-placeholder-text-default);
}
.list__75b62 {
  list-style: decimal outside;
  padding-inline-start: 1em;
}
.list__75b62 > li::marker {
  color: var(--text-muted);
}
.list__75b62 > li:first-child {
  margin-bottom: var(--space-8);
}
.recordContainer__75b62 {
  margin-top: var(--space-8);
}

/*# sourceMappingURL=85753.5c6e92e6d44ef1f3.css.map*/
