.empty__99e7c {
  fill: var(--background-base-low);
  padding: 16px;
}
.headerText__99e7c {
  flex: 1;
  margin-inline-end: var(--space-xs);
  overflow: hidden;
  text-overflow: ellipsis;
}
.privateChannelsHeaderContainer__99e7c {
  align-items: center;
  display: flex;
  height: var(--size-24);
  justify-content: space-between;
  padding-inline: var(--space-md) var(--space-xs);
  padding-bottom: var(--space-4);
  padding-top: 0;
}
.privateChannelsHeaderContainer__99e7c:hover {
  color: var(--interactive-text-hover);
}
.privateChannelRecipientsInviteButtonIcon__99e7c {
  flex: unset;
  height: 16px;
  margin-inline: 0;
  width: 16px;
}
.privateChannelRecipientsInviteButtonIcon__99e7c,
.privateChannelRecipientsInviteButtonIconContainer__99e7c {
  height: 16px;
  width: 16px;
}
.scroller__99e7c {
  background: var(--background-gradient-high, var(--background-base-lowest));
  margin-bottom: calc(
    var(--custom-app-panels-height, 0) + var(--space-xs) - 16px
  );
  padding-bottom: 16px;
}
.scroller__99e7c::-webkit-scrollbar-track {
  margin-bottom: 16px;
}
.enable-forced-colors .privateChannelsHeaderContainer__99e7c {
  color: CanvasText;
  forced-color-adjust: none;
}
.enable-forced-colors .privateChannelRecipientsInviteButtonIcon__99e7c {
  border: 1px solid ButtonFace;
}
.enable-forced-colors .privateChannelRecipientsInviteButtonIcon__99e7c:hover {
  border-color: ButtonText;
}
.heading-sm\/normal__4ed1a {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2857142857142858;
}
.heading-sm\/normal__4ed1a.fontScaling__4ed1a {
  font-size: 0.875rem;
}
.heading-sm\/medium__4ed1a {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2857142857142858;
}
.heading-sm\/medium__4ed1a.fontScaling__4ed1a {
  font-size: 0.875rem;
}
.heading-sm\/semibold__4ed1a {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
.heading-sm\/semibold__4ed1a.fontScaling__4ed1a {
  font-size: 0.875rem;
}
.heading-sm\/bold__4ed1a {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2857142857142858;
}
.heading-sm\/bold__4ed1a.fontScaling__4ed1a {
  font-size: 0.875rem;
}
.heading-sm\/extrabold__4ed1a {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 800;
  line-height: 1.2857142857142858;
}
.heading-sm\/extrabold__4ed1a.fontScaling__4ed1a {
  font-size: 0.875rem;
}
.heading-md\/normal__4ed1a {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}
.heading-md\/normal__4ed1a.fontScaling__4ed1a {
  font-size: 1rem;
}
.heading-md\/medium__4ed1a {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}
.heading-md\/medium__4ed1a.fontScaling__4ed1a {
  font-size: 1rem;
}
.heading-md\/semibold__4ed1a {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
.heading-md\/semibold__4ed1a.fontScaling__4ed1a {
  font-size: 1rem;
}
.heading-md\/bold__4ed1a {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
}
.heading-md\/bold__4ed1a.fontScaling__4ed1a {
  font-size: 1rem;
}
.heading-md\/extrabold__4ed1a {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 800;
  line-height: 1.25;
}
.heading-md\/extrabold__4ed1a.fontScaling__4ed1a {
  font-size: 1rem;
}
.heading-lg\/normal__4ed1a {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}
.heading-lg\/normal__4ed1a.fontScaling__4ed1a {
  font-size: 1.25rem;
}
.heading-lg\/medium__4ed1a {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
.heading-lg\/medium__4ed1a.fontScaling__4ed1a {
  font-size: 1.25rem;
}
.heading-lg\/semibold__4ed1a {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}
.heading-lg\/semibold__4ed1a.fontScaling__4ed1a {
  font-size: 1.25rem;
}
.heading-lg\/bold__4ed1a {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}
.heading-lg\/bold__4ed1a.fontScaling__4ed1a {
  font-size: 1.25rem;
}
.heading-lg\/extrabold__4ed1a {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 800;
  line-height: 1.2;
}
.heading-lg\/extrabold__4ed1a.fontScaling__4ed1a {
  font-size: 1.25rem;
}
.heading-xl\/normal__4ed1a {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 400;
  line-height: 1.25;
}
.heading-xl\/normal__4ed1a.fontScaling__4ed1a {
  font-size: 1.5rem;
}
.heading-xl\/medium__4ed1a {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.25;
}
.heading-xl\/medium__4ed1a.fontScaling__4ed1a {
  font-size: 1.5rem;
}
.heading-xl\/semibold__4ed1a {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
}
.heading-xl\/semibold__4ed1a.fontScaling__4ed1a {
  font-size: 1.5rem;
}
.heading-xl\/bold__4ed1a {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
}
.heading-xl\/bold__4ed1a.fontScaling__4ed1a {
  font-size: 1.5rem;
}
.heading-xl\/extrabold__4ed1a {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 800;
  line-height: 1.25;
}
.heading-xl\/extrabold__4ed1a.fontScaling__4ed1a {
  font-size: 1.5rem;
}
.heading-xxl\/normal__4ed1a {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 400;
  line-height: 1.25;
}
.heading-xxl\/normal__4ed1a.fontScaling__4ed1a {
  font-size: 2rem;
}
.heading-xxl\/medium__4ed1a {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 500;
  line-height: 1.25;
}
.heading-xxl\/medium__4ed1a.fontScaling__4ed1a {
  font-size: 2rem;
}
.heading-xxl\/semibold__4ed1a {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
}
.heading-xxl\/semibold__4ed1a.fontScaling__4ed1a {
  font-size: 2rem;
}
.heading-xxl\/bold__4ed1a {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 700;
  line-height: 1.25;
}
.heading-xxl\/bold__4ed1a.fontScaling__4ed1a {
  font-size: 2rem;
}
.heading-xxl\/extrabold__4ed1a {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 800;
  line-height: 1.25;
}
.heading-xxl\/extrabold__4ed1a.fontScaling__4ed1a {
  font-size: 2rem;
}
.experimental\/heading-xs\/semibold__4ed1a {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
.experimental\/heading-xs\/semibold__4ed1a.fontScaling__4ed1a {
  font-size: 0.875rem;
}
.experimental\/heading-xs\/bold__4ed1a {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2857142857142858;
}
.experimental\/heading-xs\/bold__4ed1a.fontScaling__4ed1a {
  font-size: 0.875rem;
}
.experimental\/heading-sm\/semibold__4ed1a {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
.experimental\/heading-sm\/semibold__4ed1a.fontScaling__4ed1a {
  font-size: 1rem;
}
.experimental\/heading-sm\/bold__4ed1a {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
}
.experimental\/heading-sm\/bold__4ed1a.fontScaling__4ed1a {
  font-size: 1rem;
}
.experimental\/heading-md\/semibold__4ed1a {
  font-family: var(--font-display);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2222222222222223;
}
.experimental\/heading-md\/semibold__4ed1a.fontScaling__4ed1a {
  font-size: 1.125rem;
}
.experimental\/heading-md\/bold__4ed1a {
  font-family: var(--font-display);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2222222222222223;
}
.experimental\/heading-md\/bold__4ed1a.fontScaling__4ed1a {
  font-size: 1.125rem;
}
.experimental\/heading-lg\/semibold__4ed1a {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}
.experimental\/heading-lg\/semibold__4ed1a.fontScaling__4ed1a {
  font-size: 1.25rem;
}
.experimental\/heading-lg\/bold__4ed1a {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}
.experimental\/heading-lg\/bold__4ed1a.fontScaling__4ed1a {
  font-size: 1.25rem;
}
.experimental\/heading-xl\/semibold__4ed1a {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
}
.experimental\/heading-xl\/semibold__4ed1a.fontScaling__4ed1a {
  font-size: 1.5rem;
}
.experimental\/heading-xl\/bold__4ed1a {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
}
.experimental\/heading-xl\/bold__4ed1a.fontScaling__4ed1a {
  font-size: 1.5rem;
}
.experimental\/heading-xxl\/semibold__4ed1a {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
}
.experimental\/heading-xxl\/semibold__4ed1a.fontScaling__4ed1a {
  font-size: 2rem;
}
.experimental\/heading-xxl\/bold__4ed1a {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 700;
  line-height: 1.25;
}
.experimental\/heading-xxl\/bold__4ed1a.fontScaling__4ed1a {
  font-size: 2rem;
}
.eyebrow__4ed1a {
  font-family: var(--font-display);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.3333333333333333;
  text-transform: uppercase;
}
.eyebrow__4ed1a.fontScaling__4ed1a {
  font-size: 0.75rem;
}
.heading-deprecated-12\/normal__4ed1a {
  font-family: var(--font-display);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
.heading-deprecated-12\/normal__4ed1a.fontScaling__4ed1a {
  font-size: 0.75rem;
}
.heading-deprecated-12\/medium__4ed1a {
  font-family: var(--font-display);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
.heading-deprecated-12\/medium__4ed1a.fontScaling__4ed1a {
  font-size: 0.75rem;
}
.heading-deprecated-12\/semibold__4ed1a {
  font-family: var(--font-display);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
.heading-deprecated-12\/semibold__4ed1a.fontScaling__4ed1a {
  font-size: 0.75rem;
}
.heading-deprecated-12\/bold__4ed1a {
  font-family: var(--font-display);
  font-size: 12px;
  font-weight: 700;
  line-height: 1.3333333333333333;
}
.heading-deprecated-12\/bold__4ed1a.fontScaling__4ed1a {
  font-size: 0.75rem;
}
.heading-deprecated-12\/extrabold__4ed1a {
  font-family: var(--font-display);
  font-size: 12px;
  font-weight: 800;
  line-height: 1.3333333333333333;
}
.heading-deprecated-12\/extrabold__4ed1a.fontScaling__4ed1a {
  font-size: 0.75rem;
}
.redesign\/heading-18\/medium__4ed1a {
  font-family: var(--font-display);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
.redesign\/heading-18\/medium__4ed1a.fontScaling__4ed1a {
  font-size: 1.125rem;
}
.redesign\/heading-18\/semibold__4ed1a {
  font-family: var(--font-display);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
.redesign\/heading-18\/semibold__4ed1a.fontScaling__4ed1a {
  font-size: 1.125rem;
}
.redesign\/heading-18\/bold__4ed1a {
  font-family: var(--font-display);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3333333333333333;
}
.redesign\/heading-18\/bold__4ed1a.fontScaling__4ed1a {
  font-size: 1.125rem;
}
.text-xxs\/normal__4ed1a {
  font-family: var(--font-primary);
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
}
.text-xxs\/normal__4ed1a.fontScaling__4ed1a {
  font-size: 0.625rem;
}
.text-xxs\/medium__4ed1a {
  font-family: var(--font-primary);
  font-size: 10px;
  font-weight: 500;
  line-height: 1.2;
}
.text-xxs\/medium__4ed1a.fontScaling__4ed1a {
  font-size: 0.625rem;
}
.text-xxs\/semibold__4ed1a {
  font-family: var(--font-primary);
  font-size: 10px;
  font-weight: 600;
  line-height: 1.2;
}
.text-xxs\/semibold__4ed1a.fontScaling__4ed1a {
  font-size: 0.625rem;
}
.text-xxs\/bold__4ed1a {
  font-family: var(--font-primary);
  font-size: 10px;
  font-weight: 700;
  line-height: 1.2;
}
.text-xxs\/bold__4ed1a.fontScaling__4ed1a {
  font-size: 0.625rem;
}
.text-xs\/normal__4ed1a {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
.text-xs\/normal__4ed1a.fontScaling__4ed1a {
  font-size: 0.75rem;
}
.text-xs\/medium__4ed1a {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
.text-xs\/medium__4ed1a.fontScaling__4ed1a {
  font-size: 0.75rem;
}
.text-xs\/semibold__4ed1a {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
.text-xs\/semibold__4ed1a.fontScaling__4ed1a {
  font-size: 0.75rem;
}
.text-xs\/bold__4ed1a {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 700;
  line-height: 1.3333333333333333;
}
.text-xs\/bold__4ed1a.fontScaling__4ed1a {
  font-size: 0.75rem;
}
.text-sm\/normal__4ed1a {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2857142857142858;
}
.text-sm\/normal__4ed1a.fontScaling__4ed1a {
  font-size: 0.875rem;
}
.text-sm\/medium__4ed1a {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2857142857142858;
}
.text-sm\/medium__4ed1a.fontScaling__4ed1a {
  font-size: 0.875rem;
}
.text-sm\/semibold__4ed1a {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
.text-sm\/semibold__4ed1a.fontScaling__4ed1a {
  font-size: 0.875rem;
}
.text-sm\/bold__4ed1a {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2857142857142858;
}
.text-sm\/bold__4ed1a.fontScaling__4ed1a {
  font-size: 0.875rem;
}
.text-md\/normal__4ed1a {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}
.text-md\/normal__4ed1a.fontScaling__4ed1a {
  font-size: 1rem;
}
.text-md\/medium__4ed1a {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}
.text-md\/medium__4ed1a.fontScaling__4ed1a {
  font-size: 1rem;
}
.text-md\/semibold__4ed1a {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
.text-md\/semibold__4ed1a.fontScaling__4ed1a {
  font-size: 1rem;
}
.text-md\/bold__4ed1a {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
}
.text-md\/bold__4ed1a.fontScaling__4ed1a {
  font-size: 1rem;
}
.text-lg\/normal__4ed1a {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}
.text-lg\/normal__4ed1a.fontScaling__4ed1a {
  font-size: 1.25rem;
}
.text-lg\/medium__4ed1a {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
.text-lg\/medium__4ed1a.fontScaling__4ed1a {
  font-size: 1.25rem;
}
.text-lg\/semibold__4ed1a {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}
.text-lg\/semibold__4ed1a.fontScaling__4ed1a {
  font-size: 1.25rem;
}
.text-lg\/bold__4ed1a {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}
.text-lg\/bold__4ed1a.fontScaling__4ed1a {
  font-size: 1.25rem;
}
.redesign\/message-preview\/normal__4ed1a {
  font-family: var(--font-primary);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
.redesign\/message-preview\/normal__4ed1a.fontScaling__4ed1a {
  font-size: 0.9375rem;
}
.redesign\/message-preview\/medium__4ed1a {
  font-family: var(--font-primary);
  font-size: 15px;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
.redesign\/message-preview\/medium__4ed1a.fontScaling__4ed1a {
  font-size: 0.9375rem;
}
.redesign\/message-preview\/semibold__4ed1a {
  font-family: var(--font-primary);
  font-size: 15px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
.redesign\/message-preview\/semibold__4ed1a.fontScaling__4ed1a {
  font-size: 0.9375rem;
}
.redesign\/message-preview\/bold__4ed1a {
  font-family: var(--font-primary);
  font-size: 15px;
  font-weight: 700;
  line-height: 1.3333333333333333;
}
.redesign\/message-preview\/bold__4ed1a.fontScaling__4ed1a {
  font-size: 0.9375rem;
}
.redesign\/channel-title\/normal__4ed1a {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375;
}
.redesign\/channel-title\/normal__4ed1a.fontScaling__4ed1a {
  font-size: 1rem;
}
.redesign\/channel-title\/medium__4ed1a {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.375;
}
.redesign\/channel-title\/medium__4ed1a.fontScaling__4ed1a {
  font-size: 1rem;
}
.redesign\/channel-title\/semibold__4ed1a {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.375;
}
.redesign\/channel-title\/semibold__4ed1a.fontScaling__4ed1a {
  font-size: 1rem;
}
.redesign\/channel-title\/bold__4ed1a {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.375;
}
.redesign\/channel-title\/bold__4ed1a.fontScaling__4ed1a {
  font-size: 1rem;
}
.experimental\/body-xs\/normal__4ed1a {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
.experimental\/body-xs\/normal__4ed1a.fontScaling__4ed1a {
  font-size: 0.75rem;
}
.experimental\/body-xs\/medium__4ed1a {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
.experimental\/body-xs\/medium__4ed1a.fontScaling__4ed1a {
  font-size: 0.75rem;
}
.experimental\/body-sm\/normal__4ed1a {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2857142857142858;
}
.experimental\/body-sm\/normal__4ed1a.fontScaling__4ed1a {
  font-size: 0.875rem;
}
.experimental\/body-sm\/medium__4ed1a {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2857142857142858;
}
.experimental\/body-sm\/medium__4ed1a.fontScaling__4ed1a {
  font-size: 0.875rem;
}
.experimental\/body-md\/normal__4ed1a {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}
.experimental\/body-md\/normal__4ed1a.fontScaling__4ed1a {
  font-size: 1rem;
}
.experimental\/body-md\/medium__4ed1a {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}
.experimental\/body-md\/medium__4ed1a.fontScaling__4ed1a {
  font-size: 1rem;
}
.experimental\/body-lg\/normal__4ed1a {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}
.experimental\/body-lg\/normal__4ed1a.fontScaling__4ed1a {
  font-size: 1.25rem;
}
.experimental\/body-lg\/medium__4ed1a {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
.experimental\/body-lg\/medium__4ed1a.fontScaling__4ed1a {
  font-size: 1.25rem;
}
.experimental\/meta\/normal__4ed1a {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
.experimental\/meta\/normal__4ed1a.fontScaling__4ed1a {
  font-size: 0.75rem;
}
.experimental\/meta\/medium__4ed1a {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
.experimental\/meta\/medium__4ed1a.fontScaling__4ed1a {
  font-size: 0.75rem;
}
.display-sm__4ed1a {
  font-family: var(--font-headline);
  font-size: 20px;
  font-weight: 800;
  line-height: 1;
}
.display-sm__4ed1a.fontScaling__4ed1a {
  font-size: 1.25rem;
}
.display-md__4ed1a {
  font-family: var(--font-headline);
  font-size: 34px;
  font-weight: 800;
  line-height: 1.0588235294117647;
}
.display-md__4ed1a.fontScaling__4ed1a {
  font-size: 2.125rem;
}
.display-lg__4ed1a {
  font-family: var(--font-headline);
  font-size: 44px;
  font-weight: 800;
  line-height: 0.9545454545454546;
}
.display-lg__4ed1a.fontScaling__4ed1a {
  font-size: 2.75rem;
}
.experimental\/display-xs__4ed1a {
  font-family: var(--font-headline);
  font-size: 16px;
  font-weight: 800;
  line-height: 1;
}
.experimental\/display-xs__4ed1a.fontScaling__4ed1a {
  font-size: 1rem;
}
.experimental\/display-sm__4ed1a {
  font-family: var(--font-headline);
  font-size: 24px;
  font-weight: 800;
  line-height: 0.9166666666666666;
}
.experimental\/display-sm__4ed1a.fontScaling__4ed1a {
  font-size: 1.5rem;
}
.experimental\/display-md__4ed1a {
  font-family: var(--font-headline);
  font-size: 32px;
  font-weight: 800;
  line-height: 0.875;
}
.experimental\/display-md__4ed1a.fontScaling__4ed1a {
  font-size: 2rem;
}
.experimental\/display-lg__4ed1a {
  font-family: var(--font-headline);
  font-size: 44px;
  font-weight: 800;
  line-height: 0.8636363636363636;
}
.experimental\/display-lg__4ed1a.fontScaling__4ed1a {
  font-size: 2.75rem;
}
.experimental\/label-xs\/medium__4ed1a {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3333333333333333;
  text-transform: uppercase;
}
.experimental\/label-xs\/medium__4ed1a.fontScaling__4ed1a {
  font-size: 0.75rem;
}
.experimental\/label-xs\/semibold__4ed1a {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3333333333333333;
  text-transform: uppercase;
}
.experimental\/label-xs\/semibold__4ed1a.fontScaling__4ed1a {
  font-size: 0.75rem;
}
.experimental\/label-sm\/medium__4ed1a {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2857142857142858;
}
.experimental\/label-sm\/medium__4ed1a.fontScaling__4ed1a {
  font-size: 0.875rem;
}
.experimental\/label-sm\/semibold__4ed1a {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
.experimental\/label-sm\/semibold__4ed1a.fontScaling__4ed1a {
  font-size: 0.875rem;
}
.experimental\/label-md\/medium__4ed1a {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}
.experimental\/label-md\/medium__4ed1a.fontScaling__4ed1a {
  font-size: 1rem;
}
.experimental\/label-md\/semibold__4ed1a {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
.experimental\/label-md\/semibold__4ed1a.fontScaling__4ed1a {
  font-size: 1rem;
}
.experimental\/label-lg\/medium__4ed1a {
  font-family: var(--font-primary);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2222222222222223;
}
.experimental\/label-lg\/medium__4ed1a.fontScaling__4ed1a {
  font-size: 1.125rem;
}
.experimental\/label-lg\/semibold__4ed1a {
  font-family: var(--font-primary);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2222222222222223;
}
.experimental\/label-lg\/semibold__4ed1a.fontScaling__4ed1a {
  font-size: 1.125rem;
}
.code__4ed1a {
  font-family: var(--font-code);
  font-size: 12px;
  font-weight: 700;
  line-height: 1.3333333333333333;
}
.code__4ed1a.fontScaling__4ed1a {
  font-size: 0.75rem;
}
.experimental\/mono-md\/normal__4ed1a {
  font-family: var(--font-code);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
.experimental\/mono-md\/normal__4ed1a.fontScaling__4ed1a {
  font-size: 0.75rem;
}
.experimental\/mono-md\/bold__4ed1a {
  font-family: var(--font-code);
  font-size: 12px;
  font-weight: 700;
  line-height: 1.3333333333333333;
}
.experimental\/mono-md\/bold__4ed1a.fontScaling__4ed1a {
  font-size: 0.75rem;
}
.experimental\/mono-sm\/normal__4ed1a {
  font-family: var(--font-code);
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
}
.experimental\/mono-sm\/normal__4ed1a.fontScaling__4ed1a {
  font-size: 0.625rem;
}
.experimental\/mono-sm\/bold__4ed1a {
  font-family: var(--font-code);
  font-size: 10px;
  font-weight: 700;
  line-height: 1.2;
}
.experimental\/mono-sm\/bold__4ed1a.fontScaling__4ed1a {
  font-size: 0.625rem;
}
.marketingBadgeTooltip__4ed1a {
  margin-inline-start: 10px;
  max-width: 100%;
  position: relative;
}
.marketingBadgeTooltipContent__4ed1a {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.newBadge__4ed1a {
  align-items: center;
  display: inline-flex;
  z-index: 1;
}
.newBadge__4ed1a svg {
  height: revert !important;
  width: revert !important;
}
.marketingButtonBackgroundNew__4ed1a {
  border-radius: inherit;
  bottom: 0;
  height: 100%;
  inset-inline-end: 0;
  pointer-events: none;
  position: absolute;
}
.marketingButtonBackgroundImage__4ed1a {
  border-radius: inherit;
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: bottom right;
  object-position: bottom right;
}
.marketingButtonBackgroundImageFaded__4ed1a {
  mask-image: linear-gradient(
    90deg,
    transparent 0,
    transparent 0,
    rgba(0, 0, 0, 0.1) 50%,
    rgba(0, 0, 0, 0.3) 60%,
    rgba(0, 0, 0, 0.6) 70%,
    #000 85%,
    #000
  );
  -webkit-mask-image: linear-gradient(
    90deg,
    transparent 0,
    transparent 0,
    rgba(0, 0, 0, 0.1) 50%,
    rgba(0, 0, 0, 0.3) 60%,
    rgba(0, 0, 0, 0.6) 70%,
    #000 85%,
    #000
  );
}
.countDown__61bcd {
  display: flex;
}
.sparkleStar1__61bcd {
  height: 10px;
  margin-top: 9px;
  margin-inline-end: 4px;
  width: 10px;
}
.sparkleStar2__61bcd {
  margin-inline-end: 2px;
}
.premiumTrialBadge__4c1e4 {
  align-items: center;
  border-radius: var(--radius-md);
  color: var(--text-strong);
  display: flex;
  gap: 4px;
  margin-inline-start: auto;
  padding: 1px 6px;
  pointer-events: all;
  text-transform: uppercase;
}
.premiumOfferUnackedBadge__4c1e4 {
  background: linear-gradient(90deg, #db00a4, #5968f0);
}
.premiumTrialBadge__4c1e4.premiumOfferUnackedBadge__4c1e4
  .premiumTrialBadgeIcon__4c1e4,
.premiumTrialBadge__4c1e4.premiumOfferWithTimerAcknowledgedBadge__4c1e4
  .premiumTrialBadgeIcon__4c1e4 {
  height: 10px;
  width: 10px;
}
.premiumOfferWithTimerUnacknowledgedBadge__4c1e4 {
  background-image: linear-gradient(
    to right,
    var(--premium-tier-2-purple-for-gradients),
    var(--premium-tier-2-pink-for-gradients)
  );
}
.premiumOfferWithTimerAcknowledgedBadge__4c1e4 {
  background-color: var(--background-mod-strong);
}
.premiumTrialBadgeSelected__4c1e4 {
  background-color: var(--background-base-lower);
}
.premiumOfferBadgeCopy__4c1e4 {
  color: var(--white);
}
.theme-light .premiumTrialBadge__4c1e4 {
  background-color: var(--background-base-lowest);
}
.theme-light .premiumTrialBadgeSelected__4c1e4 {
  background-color: var(--background-base-lower);
}
.premiumLabel__34642 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
  position: relative;
  z-index: 3;
}
.selected__34642 {
  color: var(--white);
}
.background__34642 {
  border-radius: var(--radius-xs);
  height: 100%;
  inset-inline-start: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.selectedBackground__34642 {
  background-color: var(--brand-500);
}
.enable-forced-colors .selected__34642 {
  color: Highlight;
}
.enable-forced-colors .selectedIcon__34642 {
  fill: Highlight;
}
.enable-forced-colors .selectedBackground__34642 {
  background-color: HighlightText;
}

/*# sourceMappingURL=91035.1df3015cc6334d2c.css.map*/
