.modal_ffde51 {
  width: 408px;
}
.container_ffde51 {
  display: flex;
  flex-direction: column;
  max-height: 720px;
}
.header_ffde51 {
  flex-grow: 0;
  overflow: hidden;
  padding: 24px 16px 0;
}
.stepHeader_ffde51 {
  margin-bottom: 16px;
  text-transform: uppercase;
}
.title_ffde51 {
  text-align: center;
}
.closeButton_ffde51 {
  inset-inline-end: 12px;
  position: absolute;
  top: 12px;
  z-index: 1000;
}
.illustration_ffde51 {
  margin-bottom: 16px;
}
.consentContent_ffde51 {
  padding-bottom: 16px;
}
.consentHeader_ffde51 {
  padding: 32px 0;
}
.body_ffde51 {
  padding-bottom: 16px;
  text-align: center;
}
.body_ffde51 p {
  margin: 8px 0;
}
.footer_ffde51 {
  align-items: center;
  background-color: var(--background-base-lowest);
  flex-direction: column;
}
.footerButton_ffde51 {
  align-self: stretch;
}
.launchIcon_ffde51 {
  translate: 0 -1px;
  vertical-align: middle;
}
.valueProps_ffde51 {
  background-color: var(--background-base-lower);
  border-radius: var(--radius-sm);
  margin-top: 24px;
}
.valueProp_ffde51 {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 12px;
  text-align: start;
}
.valuePropIconContainer_ffde51 {
  color: var(--interactive-text-default);
  display: flex;
  justify-content: center;
  margin-inline-end: 12px;
  padding: 4px;
}
.valuePropText_ffde51 {
  display: flex;
  flex-direction: column;
}
.valuePropDivider_ffde51 {
  background-color: var(--border-subtle);
  flex: 1;
  height: 1px;
  margin-inline: 56px 12px;
}
.slideContainer_ffde51 {
  display: flex;
  flex-direction: column;
  max-height: clamp(200px, calc(100vh - 80px), 720px);
}
.qrCodeOverlay_c28498 {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}
.qrCodeOverlay_c28498 img {
  image-rendering: crisp-edges;
}
.size-40_c28498 {
  height: 40px;
  width: 40px;
}
.size-60_c28498 {
  height: 60px;
  width: 60px;
}
.qrCodeOverlayContainer_c28498 {
  display: flex;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.qrCodeContainer_c28498 {
  border-radius: var(--radius-xs);
  padding: var(--space-8);
}
.heading-sm\/normal__57d98 {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2857142857142858;
}
.heading-sm\/normal__57d98.fontScaling__57d98 {
  font-size: 0.875rem;
}
.heading-sm\/medium__57d98 {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2857142857142858;
}
.heading-sm\/medium__57d98.fontScaling__57d98 {
  font-size: 0.875rem;
}
.heading-sm\/semibold__57d98 {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
.heading-sm\/semibold__57d98.fontScaling__57d98 {
  font-size: 0.875rem;
}
.heading-sm\/bold__57d98 {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2857142857142858;
}
.heading-sm\/bold__57d98.fontScaling__57d98 {
  font-size: 0.875rem;
}
.heading-sm\/extrabold__57d98 {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 800;
  line-height: 1.2857142857142858;
}
.heading-sm\/extrabold__57d98.fontScaling__57d98 {
  font-size: 0.875rem;
}
.heading-md\/normal__57d98 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}
.heading-md\/normal__57d98.fontScaling__57d98 {
  font-size: 1rem;
}
.heading-md\/medium__57d98 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}
.heading-md\/medium__57d98.fontScaling__57d98 {
  font-size: 1rem;
}
.heading-md\/semibold__57d98 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
.heading-md\/semibold__57d98.fontScaling__57d98 {
  font-size: 1rem;
}
.heading-md\/bold__57d98 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
}
.heading-md\/bold__57d98.fontScaling__57d98 {
  font-size: 1rem;
}
.heading-md\/extrabold__57d98 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 800;
  line-height: 1.25;
}
.heading-md\/extrabold__57d98.fontScaling__57d98 {
  font-size: 1rem;
}
.heading-lg\/normal__57d98 {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}
.heading-lg\/normal__57d98.fontScaling__57d98 {
  font-size: 1.25rem;
}
.heading-lg\/medium__57d98 {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
.heading-lg\/medium__57d98.fontScaling__57d98 {
  font-size: 1.25rem;
}
.heading-lg\/semibold__57d98 {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}
.heading-lg\/semibold__57d98.fontScaling__57d98 {
  font-size: 1.25rem;
}
.heading-lg\/bold__57d98 {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}
.heading-lg\/bold__57d98.fontScaling__57d98 {
  font-size: 1.25rem;
}
.heading-lg\/extrabold__57d98 {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 800;
  line-height: 1.2;
}
.heading-lg\/extrabold__57d98.fontScaling__57d98 {
  font-size: 1.25rem;
}
.heading-xl\/normal__57d98 {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 400;
  line-height: 1.25;
}
.heading-xl\/normal__57d98.fontScaling__57d98 {
  font-size: 1.5rem;
}
.heading-xl\/medium__57d98 {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.25;
}
.heading-xl\/medium__57d98.fontScaling__57d98 {
  font-size: 1.5rem;
}
.heading-xl\/semibold__57d98 {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
}
.heading-xl\/semibold__57d98.fontScaling__57d98 {
  font-size: 1.5rem;
}
.heading-xl\/bold__57d98 {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
}
.heading-xl\/bold__57d98.fontScaling__57d98 {
  font-size: 1.5rem;
}
.heading-xl\/extrabold__57d98 {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 800;
  line-height: 1.25;
}
.heading-xl\/extrabold__57d98.fontScaling__57d98 {
  font-size: 1.5rem;
}
.heading-xxl\/normal__57d98 {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 400;
  line-height: 1.25;
}
.heading-xxl\/normal__57d98.fontScaling__57d98 {
  font-size: 2rem;
}
.heading-xxl\/medium__57d98 {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 500;
  line-height: 1.25;
}
.heading-xxl\/medium__57d98.fontScaling__57d98 {
  font-size: 2rem;
}
.heading-xxl\/semibold__57d98 {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
}
.heading-xxl\/semibold__57d98.fontScaling__57d98 {
  font-size: 2rem;
}
.heading-xxl\/bold__57d98 {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 700;
  line-height: 1.25;
}
.heading-xxl\/bold__57d98.fontScaling__57d98 {
  font-size: 2rem;
}
.heading-xxl\/extrabold__57d98 {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 800;
  line-height: 1.25;
}
.heading-xxl\/extrabold__57d98.fontScaling__57d98 {
  font-size: 2rem;
}
.experimental\/heading-xs\/semibold__57d98 {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
.experimental\/heading-xs\/semibold__57d98.fontScaling__57d98 {
  font-size: 0.875rem;
}
.experimental\/heading-xs\/bold__57d98 {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2857142857142858;
}
.experimental\/heading-xs\/bold__57d98.fontScaling__57d98 {
  font-size: 0.875rem;
}
.experimental\/heading-sm\/semibold__57d98 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
.experimental\/heading-sm\/semibold__57d98.fontScaling__57d98 {
  font-size: 1rem;
}
.experimental\/heading-sm\/bold__57d98 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
}
.experimental\/heading-sm\/bold__57d98.fontScaling__57d98 {
  font-size: 1rem;
}
.experimental\/heading-md\/semibold__57d98 {
  font-family: var(--font-display);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2222222222222223;
}
.experimental\/heading-md\/semibold__57d98.fontScaling__57d98 {
  font-size: 1.125rem;
}
.experimental\/heading-md\/bold__57d98 {
  font-family: var(--font-display);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2222222222222223;
}
.experimental\/heading-md\/bold__57d98.fontScaling__57d98 {
  font-size: 1.125rem;
}
.experimental\/heading-lg\/semibold__57d98 {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}
.experimental\/heading-lg\/semibold__57d98.fontScaling__57d98 {
  font-size: 1.25rem;
}
.experimental\/heading-lg\/bold__57d98 {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}
.experimental\/heading-lg\/bold__57d98.fontScaling__57d98 {
  font-size: 1.25rem;
}
.experimental\/heading-xl\/semibold__57d98 {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
}
.experimental\/heading-xl\/semibold__57d98.fontScaling__57d98 {
  font-size: 1.5rem;
}
.experimental\/heading-xl\/bold__57d98 {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
}
.experimental\/heading-xl\/bold__57d98.fontScaling__57d98 {
  font-size: 1.5rem;
}
.experimental\/heading-xxl\/semibold__57d98 {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
}
.experimental\/heading-xxl\/semibold__57d98.fontScaling__57d98 {
  font-size: 2rem;
}
.experimental\/heading-xxl\/bold__57d98 {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 700;
  line-height: 1.25;
}
.experimental\/heading-xxl\/bold__57d98.fontScaling__57d98 {
  font-size: 2rem;
}
.eyebrow__57d98 {
  font-family: var(--font-display);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.3333333333333333;
  text-transform: uppercase;
}
.eyebrow__57d98.fontScaling__57d98 {
  font-size: 0.75rem;
}
.heading-deprecated-12\/normal__57d98 {
  font-family: var(--font-display);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
.heading-deprecated-12\/normal__57d98.fontScaling__57d98 {
  font-size: 0.75rem;
}
.heading-deprecated-12\/medium__57d98 {
  font-family: var(--font-display);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
.heading-deprecated-12\/medium__57d98.fontScaling__57d98 {
  font-size: 0.75rem;
}
.heading-deprecated-12\/semibold__57d98 {
  font-family: var(--font-display);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
.heading-deprecated-12\/semibold__57d98.fontScaling__57d98 {
  font-size: 0.75rem;
}
.heading-deprecated-12\/bold__57d98 {
  font-family: var(--font-display);
  font-size: 12px;
  font-weight: 700;
  line-height: 1.3333333333333333;
}
.heading-deprecated-12\/bold__57d98.fontScaling__57d98 {
  font-size: 0.75rem;
}
.heading-deprecated-12\/extrabold__57d98 {
  font-family: var(--font-display);
  font-size: 12px;
  font-weight: 800;
  line-height: 1.3333333333333333;
}
.heading-deprecated-12\/extrabold__57d98.fontScaling__57d98 {
  font-size: 0.75rem;
}
.redesign\/heading-18\/medium__57d98 {
  font-family: var(--font-display);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
.redesign\/heading-18\/medium__57d98.fontScaling__57d98 {
  font-size: 1.125rem;
}
.redesign\/heading-18\/semibold__57d98 {
  font-family: var(--font-display);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
.redesign\/heading-18\/semibold__57d98.fontScaling__57d98 {
  font-size: 1.125rem;
}
.redesign\/heading-18\/bold__57d98 {
  font-family: var(--font-display);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3333333333333333;
}
.redesign\/heading-18\/bold__57d98.fontScaling__57d98 {
  font-size: 1.125rem;
}
.text-xxs\/normal__57d98 {
  font-family: var(--font-primary);
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
}
.text-xxs\/normal__57d98.fontScaling__57d98 {
  font-size: 0.625rem;
}
.text-xxs\/medium__57d98 {
  font-family: var(--font-primary);
  font-size: 10px;
  font-weight: 500;
  line-height: 1.2;
}
.text-xxs\/medium__57d98.fontScaling__57d98 {
  font-size: 0.625rem;
}
.text-xxs\/semibold__57d98 {
  font-family: var(--font-primary);
  font-size: 10px;
  font-weight: 600;
  line-height: 1.2;
}
.text-xxs\/semibold__57d98.fontScaling__57d98 {
  font-size: 0.625rem;
}
.text-xxs\/bold__57d98 {
  font-family: var(--font-primary);
  font-size: 10px;
  font-weight: 700;
  line-height: 1.2;
}
.text-xxs\/bold__57d98.fontScaling__57d98 {
  font-size: 0.625rem;
}
.text-xs\/normal__57d98 {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
.text-xs\/normal__57d98.fontScaling__57d98 {
  font-size: 0.75rem;
}
.text-xs\/medium__57d98 {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
.text-xs\/medium__57d98.fontScaling__57d98 {
  font-size: 0.75rem;
}
.text-xs\/semibold__57d98 {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
.text-xs\/semibold__57d98.fontScaling__57d98 {
  font-size: 0.75rem;
}
.text-xs\/bold__57d98 {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 700;
  line-height: 1.3333333333333333;
}
.text-xs\/bold__57d98.fontScaling__57d98 {
  font-size: 0.75rem;
}
.text-sm\/normal__57d98 {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2857142857142858;
}
.text-sm\/normal__57d98.fontScaling__57d98 {
  font-size: 0.875rem;
}
.text-sm\/medium__57d98 {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2857142857142858;
}
.text-sm\/medium__57d98.fontScaling__57d98 {
  font-size: 0.875rem;
}
.text-sm\/semibold__57d98 {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
.text-sm\/semibold__57d98.fontScaling__57d98 {
  font-size: 0.875rem;
}
.text-sm\/bold__57d98 {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2857142857142858;
}
.text-sm\/bold__57d98.fontScaling__57d98 {
  font-size: 0.875rem;
}
.text-md\/normal__57d98 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}
.text-md\/normal__57d98.fontScaling__57d98 {
  font-size: 1rem;
}
.text-md\/medium__57d98 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}
.text-md\/medium__57d98.fontScaling__57d98 {
  font-size: 1rem;
}
.text-md\/semibold__57d98 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
.text-md\/semibold__57d98.fontScaling__57d98 {
  font-size: 1rem;
}
.text-md\/bold__57d98 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
}
.text-md\/bold__57d98.fontScaling__57d98 {
  font-size: 1rem;
}
.text-lg\/normal__57d98 {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}
.text-lg\/normal__57d98.fontScaling__57d98 {
  font-size: 1.25rem;
}
.text-lg\/medium__57d98 {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
.text-lg\/medium__57d98.fontScaling__57d98 {
  font-size: 1.25rem;
}
.text-lg\/semibold__57d98 {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}
.text-lg\/semibold__57d98.fontScaling__57d98 {
  font-size: 1.25rem;
}
.text-lg\/bold__57d98 {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}
.text-lg\/bold__57d98.fontScaling__57d98 {
  font-size: 1.25rem;
}
.redesign\/message-preview\/normal__57d98 {
  font-family: var(--font-primary);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
.redesign\/message-preview\/normal__57d98.fontScaling__57d98 {
  font-size: 0.9375rem;
}
.redesign\/message-preview\/medium__57d98 {
  font-family: var(--font-primary);
  font-size: 15px;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
.redesign\/message-preview\/medium__57d98.fontScaling__57d98 {
  font-size: 0.9375rem;
}
.redesign\/message-preview\/semibold__57d98 {
  font-family: var(--font-primary);
  font-size: 15px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
.redesign\/message-preview\/semibold__57d98.fontScaling__57d98 {
  font-size: 0.9375rem;
}
.redesign\/message-preview\/bold__57d98 {
  font-family: var(--font-primary);
  font-size: 15px;
  font-weight: 700;
  line-height: 1.3333333333333333;
}
.redesign\/message-preview\/bold__57d98.fontScaling__57d98 {
  font-size: 0.9375rem;
}
.redesign\/channel-title\/normal__57d98 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375;
}
.redesign\/channel-title\/normal__57d98.fontScaling__57d98 {
  font-size: 1rem;
}
.redesign\/channel-title\/medium__57d98 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.375;
}
.redesign\/channel-title\/medium__57d98.fontScaling__57d98 {
  font-size: 1rem;
}
.redesign\/channel-title\/semibold__57d98 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.375;
}
.redesign\/channel-title\/semibold__57d98.fontScaling__57d98 {
  font-size: 1rem;
}
.redesign\/channel-title\/bold__57d98 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.375;
}
.redesign\/channel-title\/bold__57d98.fontScaling__57d98 {
  font-size: 1rem;
}
.experimental\/body-xs\/normal__57d98 {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
.experimental\/body-xs\/normal__57d98.fontScaling__57d98 {
  font-size: 0.75rem;
}
.experimental\/body-xs\/medium__57d98 {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
.experimental\/body-xs\/medium__57d98.fontScaling__57d98 {
  font-size: 0.75rem;
}
.experimental\/body-sm\/normal__57d98 {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2857142857142858;
}
.experimental\/body-sm\/normal__57d98.fontScaling__57d98 {
  font-size: 0.875rem;
}
.experimental\/body-sm\/medium__57d98 {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2857142857142858;
}
.experimental\/body-sm\/medium__57d98.fontScaling__57d98 {
  font-size: 0.875rem;
}
.experimental\/body-md\/normal__57d98 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}
.experimental\/body-md\/normal__57d98.fontScaling__57d98 {
  font-size: 1rem;
}
.experimental\/body-md\/medium__57d98 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}
.experimental\/body-md\/medium__57d98.fontScaling__57d98 {
  font-size: 1rem;
}
.experimental\/body-lg\/normal__57d98 {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}
.experimental\/body-lg\/normal__57d98.fontScaling__57d98 {
  font-size: 1.25rem;
}
.experimental\/body-lg\/medium__57d98 {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
.experimental\/body-lg\/medium__57d98.fontScaling__57d98 {
  font-size: 1.25rem;
}
.experimental\/meta\/normal__57d98 {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
.experimental\/meta\/normal__57d98.fontScaling__57d98 {
  font-size: 0.75rem;
}
.experimental\/meta\/medium__57d98 {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
.experimental\/meta\/medium__57d98.fontScaling__57d98 {
  font-size: 0.75rem;
}
.display-sm__57d98 {
  font-family: var(--font-headline);
  font-size: 20px;
  font-weight: 800;
  line-height: 1;
}
.display-sm__57d98.fontScaling__57d98 {
  font-size: 1.25rem;
}
.display-md__57d98 {
  font-family: var(--font-headline);
  font-size: 34px;
  font-weight: 800;
  line-height: 1.0588235294117647;
}
.display-md__57d98.fontScaling__57d98 {
  font-size: 2.125rem;
}
.display-lg__57d98 {
  font-family: var(--font-headline);
  font-size: 44px;
  font-weight: 800;
  line-height: 0.9545454545454546;
}
.display-lg__57d98.fontScaling__57d98 {
  font-size: 2.75rem;
}
.experimental\/display-xs__57d98 {
  font-family: var(--font-headline);
  font-size: 16px;
  font-weight: 800;
  line-height: 1;
}
.experimental\/display-xs__57d98.fontScaling__57d98 {
  font-size: 1rem;
}
.experimental\/display-sm__57d98 {
  font-family: var(--font-headline);
  font-size: 24px;
  font-weight: 800;
  line-height: 0.9166666666666666;
}
.experimental\/display-sm__57d98.fontScaling__57d98 {
  font-size: 1.5rem;
}
.experimental\/display-md__57d98 {
  font-family: var(--font-headline);
  font-size: 32px;
  font-weight: 800;
  line-height: 0.875;
}
.experimental\/display-md__57d98.fontScaling__57d98 {
  font-size: 2rem;
}
.experimental\/display-lg__57d98 {
  font-family: var(--font-headline);
  font-size: 44px;
  font-weight: 800;
  line-height: 0.8636363636363636;
}
.experimental\/display-lg__57d98.fontScaling__57d98 {
  font-size: 2.75rem;
}
.experimental\/label-xs\/medium__57d98 {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3333333333333333;
  text-transform: uppercase;
}
.experimental\/label-xs\/medium__57d98.fontScaling__57d98 {
  font-size: 0.75rem;
}
.experimental\/label-xs\/semibold__57d98 {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3333333333333333;
  text-transform: uppercase;
}
.experimental\/label-xs\/semibold__57d98.fontScaling__57d98 {
  font-size: 0.75rem;
}
.experimental\/label-sm\/medium__57d98 {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2857142857142858;
}
.experimental\/label-sm\/medium__57d98.fontScaling__57d98 {
  font-size: 0.875rem;
}
.experimental\/label-sm\/semibold__57d98 {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
.experimental\/label-sm\/semibold__57d98.fontScaling__57d98 {
  font-size: 0.875rem;
}
.experimental\/label-md\/medium__57d98 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}
.experimental\/label-md\/medium__57d98.fontScaling__57d98 {
  font-size: 1rem;
}
.experimental\/label-md\/semibold__57d98 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
.experimental\/label-md\/semibold__57d98.fontScaling__57d98 {
  font-size: 1rem;
}
.experimental\/label-lg\/medium__57d98 {
  font-family: var(--font-primary);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2222222222222223;
}
.experimental\/label-lg\/medium__57d98.fontScaling__57d98 {
  font-size: 1.125rem;
}
.experimental\/label-lg\/semibold__57d98 {
  font-family: var(--font-primary);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2222222222222223;
}
.experimental\/label-lg\/semibold__57d98.fontScaling__57d98 {
  font-size: 1.125rem;
}
.code__57d98 {
  font-family: var(--font-code);
  font-size: 12px;
  font-weight: 700;
  line-height: 1.3333333333333333;
}
.code__57d98.fontScaling__57d98 {
  font-size: 0.75rem;
}
.experimental\/mono-md\/normal__57d98 {
  font-family: var(--font-code);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
.experimental\/mono-md\/normal__57d98.fontScaling__57d98 {
  font-size: 0.75rem;
}
.experimental\/mono-md\/bold__57d98 {
  font-family: var(--font-code);
  font-size: 12px;
  font-weight: 700;
  line-height: 1.3333333333333333;
}
.experimental\/mono-md\/bold__57d98.fontScaling__57d98 {
  font-size: 0.75rem;
}
.experimental\/mono-sm\/normal__57d98 {
  font-family: var(--font-code);
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
}
.experimental\/mono-sm\/normal__57d98.fontScaling__57d98 {
  font-size: 0.625rem;
}
.experimental\/mono-sm\/bold__57d98 {
  font-family: var(--font-code);
  font-size: 10px;
  font-weight: 700;
  line-height: 1.2;
}
.experimental\/mono-sm\/bold__57d98.fontScaling__57d98 {
  font-size: 0.625rem;
}
.row__57d98 {
  align-items: center;
  display: flex;
  gap: var(--space-8);
  min-width: 100%;
}
.link__57d98 {
  background-color: var(--background-base-low);
  border: 1px solid var(--border-normal);
  border-radius: var(--radius-sm);
  box-sizing: border-box;
  color: var(--text-muted);
  flex: 1;
  min-width: 0;
  overflow: hidden;
  padding-block: var(--space-8);
  padding-inline: var(--space-16);
  text-overflow: ellipsis;
  white-space: nowrap;
}
.container_e984cd {
  align-items: stretch;
  display: inline-flex;
  flex-direction: column;
  gap: var(--space-12);
}
.card_e984cd {
  background-color: var(--background-base-low);
  border: 1px solid var(--border-normal);
  border-radius: var(--radius-lg);
  gap: var(--space-16);
  padding-block: var(--space-16) var(--space-24);
  padding-inline: var(--space-24);
}
.card_e984cd,
.header_e984cd {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.header_e984cd {
  gap: var(--space-4);
}
.divider_e984cd {
  align-items: center;
  display: flex;
  gap: var(--space-8);
  width: 100%;
}
.divider_e984cd:after,
.divider_e984cd:before {
  background-color: var(--border-subtle);
  content: "";
  flex: 1;
  height: 1px;
}
.text__4245a {
  margin-bottom: var(--space-4);
  margin-top: var(--space-16);
  text-align: center;
}
.card__20855 {
  background-color: var(--background-surface-highest);
  border-radius: var(--radius-lg, 16px);
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}
.card__20855,
.row__20855 {
  display: flex;
}
.row__20855 {
  align-items: center;
  padding: var(--space-12) var(--space-16);
  position: relative;
}
.row__20855:not(:first-child):before {
  background-color: var(--border-subtle);
  content: "";
  height: 1px;
  inset-inline-end: 0;
  inset-inline-start: calc(var(--space-16) + 40px + var(--space-12));
  position: absolute;
  top: 0;
}
.avatarWrapper__20855 {
  flex-shrink: 0;
}
.details__20855 {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-width: 0;
  overflow: hidden;
  padding-inline-end: var(--space-4);
  padding-inline-start: var(--space-12);
}
.actions__20855 {
  gap: var(--space-8);
}
.actionButton__20855,
.actions__20855 {
  align-items: center;
  display: flex;
  flex-shrink: 0;
}
.actionButton__20855 {
  border-radius: 50%;
  cursor: pointer;
  height: 36px;
  justify-content: center;
  width: 36px;
}
.acceptButton__20855 {
  background-color: var(--status-positive);
  color: var(--white);
}
.declineButton__20855 {
  background-color: var(--background-surface-highest);
  border: 1px solid var(--border-strong);
  color: var(--interactive-text-default);
}
.declineButton__20855:hover {
  color: var(--interactive-text-hover);
}
.actionIcon__20855 {
  height: 20px;
  width: 20px;
}
.logout__036c2 {
  margin-bottom: var(--space-8);
  text-align: center;
}
.backRow__036c2 {
  padding: var(--custom-modal-padding-md, 16px)
    var(--custom-modal-padding, 24px) 0;
}
.container__44153 {
  background-color: var(--background-surface-higher);
  border-radius: 8px;
  padding: var(--space-16);
}
.title__44153 {
  margin-bottom: var(--space-8);
}
.description__44153 {
  margin-bottom: var(--space-16);
}
.getXboxApp__03af1 {
  align-items: center;
  background: var(--background-mod-normal);
  border-radius: var(--radius-sm);
  display: flex;
  margin-top: 24px;
  padding: 16px;
}
.getXboxAppBody__03af1 {
  text-align: start;
}
.getXboxAppHeading__03af1 {
  display: flex;
}
.getXboxAppQR__03af1 {
  margin-inline-start: 16px;
}
.xboxLogoBox__03af1 {
  align-items: center;
  background-color: var(--platform-xbox);
  border-radius: var(--radius-xs);
  display: flex;
  height: 24px;
  justify-content: center;
  margin-inline-end: 10px;
  width: 24px;
}
.xboxLogoBox__03af1 img {
  height: 20px;
  width: 20px;
}

/*# sourceMappingURL=96477.57a79f47cf425c28.css.map*/
