.container__2994f {
  background: var(--background-surface-high);
  border: 1px solid var(--border-strong);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-high);
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
  padding: var(--space-12);
  width: 304px;
}
.header__2994f {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: var(--space-8);
  padding-inline-start: var(--space-8);
}
.closeButton__2994f {
  color: var(--interactive-text-default);
  cursor: pointer;
}
.body__2994f {
  align-items: center;
  display: flex;
  gap: var(--space-12);
}
.helper_fd2e49 {
  align-items: center;
  background: var(--background-base-lowest);
  border: 1px solid hsla(0, 0%, 100%, 0.04);
  border-radius: 8px;
  box-shadow: var(--shadow-low);
  display: flex;
  flex-direction: row;
  padding: 12px;
}
.infoFilledIcon_fd2e49 {
  color: var(--text-default);
  margin-inline-end: 8px;
}
.header_feae96 {
  align-items: center;
  background: var(--background-base-lowest);
  border-top: 1px solid var(--border-subtle);
  display: flex;
  gap: var(--space-8);
  height: 48px;
  justify-content: space-between;
  padding: 0 var(--space-12);
}
.questInfo_feae96 {
  flex-shrink: 1;
  min-width: 0;
}
.questIcon_feae96 {
  border-radius: var(--radius-sm);
  height: 32px;
  width: 32px;
}
.questIconContainer_feae96 {
  align-items: center;
  display: flex;
  height: 100%;
}
.progressContainer_feae96 {
  align-items: center;
  display: flex;
  flex: 1;
  gap: var(--space-8);
}
.progressBar_feae96 {
  background-color: var(--opacity-12);
  flex: 1;
  height: 4px;
  overflow: visible;
}
.progressBar_feae96,
.progressBarFill_feae96 {
  border-radius: var(--radius-sm);
  position: relative;
}
.progressBarFill_feae96 {
  background-image: linear-gradient(90deg, hsla(229, 7%, 45%, 0.18), #44fc7e);
  height: 100%;
  transition: width 0.7s;
}
.progressBarGlowContainer_feae96 {
  position: absolute;
  top: 4px;
  transition: width 0.7s;
}
.progressBarGlow_feae96 {
  background: linear-gradient(90deg, transparent, #44fc7e);
  border-radius: 20%;
  filter: blur(4px);
  height: 8px;
  inset-inline-end: -4px;
  max-width: 80px;
  position: absolute;
  top: 50%;
  transform: translateY(-70%);
  width: 60%;
}
.questProgress_feae96 {
  max-width: 470px;
}
.full-motion .transition__5fbe9 {
  transition: transform 0.2s ease;
}
.directionDown__5fbe9 {
  transform: rotate3d(0, 0, -1, 0deg);
}
.directionRight__5fbe9 {
  transform: rotate3d(0, 0, -1, 90deg);
}
.directionLeft__5fbe9 {
  transform: rotate3d(0, 0, -1, -90deg);
}
.directionUp__5fbe9 {
  transform: rotate3d(0, 0, -1, 180deg);
}
.accordionContainer__7e354 {
  display: flex;
  flex-direction: column;
  text-align: start;
}
.accordionContainer__7e354.opened__7e354 .header__7e354 {
  border-end-end-radius: 0;
  border-end-start-radius: 0;
}
.content__7e354 {
  background-color: var(--background-mod-muted);
  border-end-end-radius: var(--radius-sm);
  border-end-start-radius: var(--radius-sm);
  border-width: 0;
  display: flex;
  flex-direction: column;
  gap: var(--space-12);
  margin: 0;
  max-height: 0;
  overflow: hidden;
  padding-top: 0;
  visibility: hidden;
}
.full-motion .content__7e354 {
  transition:
    max-height 0.5s cubic-bezier(0.16, 1, 0.3, 1),
    padding-top 0.5s cubic-bezier(0.16, 1, 0.3, 1),
    margin-top 0.5s cubic-bezier(0.16, 1, 0.3, 1),
    visibility 0s linear 0.1s;
}
.content__7e354.opened__7e354 {
  padding: var(--space-12);
  visibility: visible;
}
.header__7e354 {
  border-radius: var(--radius-sm);
  cursor: pointer;
  gap: var(--space-12);
  padding: var(--space-12);
}
.header__7e354,
.headerIconWrapper__7e354 {
  align-items: center;
  background-color: var(--background-mod-subtle);
  display: flex;
}
.headerIconWrapper__7e354 {
  border-radius: var(--radius-xs);
  height: 36px;
  justify-content: center;
  width: 36px;
}
.title__7e354 {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.caret__7e354 {
  color: var(--interactive-text-default);
  margin-inline-start: auto;
}
.full-motion .caret__7e354 {
  transition: transform 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}
.full-motion .caret__7e354.opened__7e354 {
  transform: rotate(90deg);
}
.container_dcb0ac {
  height: 100%;
  overflow: hidden;
}
.usersCount_dcb0ac {
  align-items: center;
  background-color: var(--background-base-lowest);
  border-radius: var(--radius-round);
  display: flex;
  height: var(--space-20);
  justify-content: center;
  padding: var(--space-4);
  width: var(--space-20);
}
.emailText_dcb0ac {
  max-width: 225px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.iconText_dcb0ac {
  align-items: center;
  display: flex;
  justify-content: center;
}
.clickable_dcb0ac {
  cursor: pointer;
}
.clickableDisabled_dcb0ac {
  cursor: not-allowed;
  pointer-events: not-allowed;
}
.userInfoDisabled_dcb0ac {
  opacity: 0.5;
}
.poolsScroller_dcb0ac {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--space-16);
  min-height: 0;
}
.accordion_dcb0ac {
  width: 100%;
}
.buttonContainer_dcb0ac {
  margin-inline-start: auto;
  margin-top: var(--space-16);
}
.serverNickname__7bf69 {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
}
.separator__7bf69 {
  background-color: var(--border-subtle);
  height: 1px;
}
.container_fa285e {
  width: 100%;
}
.guildBadge_fa285e {
  flex-shrink: 0;
  height: 25px;
  margin-inline-end: 6px;
  position: relative;
  width: 25px;
}
.appIcon_fa285e {
  display: inline-block;
}
.appIconSize_fa285e {
  height: 100px;
  width: 100px;
}
@media (max-height: 720px) {
  .appIcon_fa285e,
  .avatar_fa285e,
  .guildIcon_fa285e {
    height: 64px;
    width: 64px;
  }
}
.inviteResolvingGuildName_fa285e {
  margin-top: 8px;
}
.inviteResolvingGuildName_fa285e,
.title_fa285e {
  align-items: center;
  display: flex;
  justify-content: center;
}
.title_fa285e {
  color: var(--text-strong);
  font-weight: var(--font-weight-semibold);
}
.directInviteSubTitle_fa285e {
  margin-top: 4px;
}
.guildContainer_fa285e {
  align-items: center;
  display: flex;
  justify-content: center;
}
.appIn_fa285e {
  margin: 4px 0;
}
.appGuildName_fa285e {
  margin-inline-start: 8px;
}
.icon_fa285e {
  margin-inline-end: 8px;
}
.rolesList_fa285e {
  margin-bottom: 0;
  padding: 0 16px;
}
.rolesList_fa285e > div:last-child {
  justify-content: center;
}
.controlIcon_f1ceac {
  color: var(--interactive-text-default);
  display: flex;
  height: 24px;
  width: 24px;
}
.controlIcon_f1ceac.active_f1ceac,
.controlIcon_f1ceac:hover {
  color: var(--interactive-text-active);
}
.controlIcon_f1ceac.themeable_f1ceac {
  color: var(--interactive-text-default);
}
.controlIcon_f1ceac.themeable_f1ceac.active_f1ceac,
.controlIcon_f1ceac.themeable_f1ceac:hover {
  color: var(--interactive-text-active);
}
.centerIcon_f1ceac {
  color: var(--interactive-text-default);
  display: flex;
  height: 20px;
  width: 20px;
}
.centerIcon_f1ceac.active_f1ceac,
.centerIcon_f1ceac:hover {
  color: var(--interactive-text-active);
}
.centerIcon_f1ceac.themeable_f1ceac {
  color: var(--interactive-text-default);
}
.centerIcon_f1ceac.themeable_f1ceac.active_f1ceac,
.centerIcon_f1ceac.themeable_f1ceac:hover {
  color: var(--interactive-text-active);
}
.colorable_f1ceac {
  transition:
    background-color 50ms ease-in,
    color 50ms ease-in,
    border-color 50ms ease-in,
    opacity 50ms ease-in;
}
.colorable_f1ceac:hover {
  transition:
    background-color 0.15s ease-out,
    color 0.15s ease-out,
    border-color 0.15s ease-out,
    opacity 0.15s ease-out;
}
.colorable_f1ceac.red_f1ceac,
.colorable_f1ceac.red_f1ceac .centerIcon_f1ceac {
  color: var(--red-400);
}
.colorable_f1ceac.red_f1ceac.active_f1ceac,
.colorable_f1ceac.red_f1ceac:hover {
  background: hsla(0, 0%, 100%, 0.1);
}
.colorable_f1ceac.disconnect_f1ceac {
  background: var(--control-critical-primary-background-default);
  transition: background 0.15s ease-in-out;
}
.colorable_f1ceac.disconnect_f1ceac,
.colorable_f1ceac.disconnect_f1ceac .centerIcon_f1ceac {
  color: var(--control-critical-primary-text-default);
}
.colorable_f1ceac.disconnect_f1ceac:hover {
  background: var(--control-critical-primary-background-hover);
}
.colorable_f1ceac.disconnect_f1ceac:active {
  background: var(--control-critical-primary-background-active);
}
.colorable_f1ceac.redGlow_f1ceac {
  background: var(--opacity-red-12);
}
.colorable_f1ceac.redGlow_f1ceac,
.colorable_f1ceac.redGlow_f1ceac .centerIcon_f1ceac {
  color: var(--red-400);
}
.colorable_f1ceac.redGlow_f1ceac:active {
  background: var(--opacity-red-24);
}
.colorable_f1ceac.redGlow_f1ceac.popoutOpen_f1ceac,
.colorable_f1ceac.redGlow_f1ceac:hover {
  background: var(--opacity-red-16);
}
.colorable_f1ceac.primaryLight_f1ceac {
  background: var(--primary-130);
}
.colorable_f1ceac.primaryLight_f1ceac,
.colorable_f1ceac.primaryLight_f1ceac .centerIcon_f1ceac {
  color: var(--primary-860);
}
.colorable_f1ceac.primaryLight_f1ceac.active_f1ceac,
.colorable_f1ceac.primaryLight_f1ceac:hover {
  background: var(--primary-230);
}
.colorable_f1ceac.white_f1ceac {
  background: var(--white);
}
.colorable_f1ceac.white_f1ceac,
.colorable_f1ceac.white_f1ceac .centerIcon_f1ceac {
  color: var(--primary-860);
}
.colorable_f1ceac.white_f1ceac.active_f1ceac,
.colorable_f1ceac.white_f1ceac:hover {
  background: var(--primary-130);
}
.colorable_f1ceac.green_f1ceac {
  background: var(--green-360);
}
.colorable_f1ceac.green_f1ceac,
.colorable_f1ceac.green_f1ceac .centerIcon_f1ceac {
  color: var(--white);
}
.colorable_f1ceac.green_f1ceac.active_f1ceac,
.colorable_f1ceac.green_f1ceac:hover {
  background: var(--green-360);
}
.colorable_f1ceac.join_f1ceac {
  background: var(--green-360);
}
.colorable_f1ceac.join_f1ceac,
.colorable_f1ceac.join_f1ceac .centerIcon_f1ceac {
  color: var(--white);
}
.colorable_f1ceac.join_f1ceac.active_f1ceac,
.colorable_f1ceac.join_f1ceac:hover {
  background: var(--green-360);
}
.colorable_f1ceac.greenGlow_f1ceac {
  background: var(--opacity-green-12);
}
.colorable_f1ceac.greenGlow_f1ceac,
.colorable_f1ceac.greenGlow_f1ceac .centerIcon_f1ceac {
  color: var(--green-300);
}
.colorable_f1ceac.greenGlow_f1ceac:active {
  background: var(--opacity-green-36);
}
.colorable_f1ceac.greenGlow_f1ceac.popoutOpen_f1ceac,
.colorable_f1ceac.greenGlow_f1ceac:hover {
  background: var(--opacity-green-24);
}
.colorable_f1ceac.premiumGradient_f1ceac {
  background: linear-gradient(
    to right,
    var(--premium-tier-2-purple-for-gradients),
    var(--premium-tier-2-purple-for-gradients-2),
    var(--premium-tier-2-pink-for-gradients)
  );
}
.colorable_f1ceac.premiumGradient_f1ceac,
.colorable_f1ceac.premiumGradient_f1ceac .centerIcon_f1ceac {
  color: var(--white);
}
.colorable_f1ceac.yellow_f1ceac {
  background: var(--yellow-400);
}
.colorable_f1ceac.yellow_f1ceac,
.colorable_f1ceac.yellow_f1ceac .centerIcon_f1ceac {
  color: var(--white);
}
.colorable_f1ceac.yellow_f1ceac.active_f1ceac,
.colorable_f1ceac.yellow_f1ceac:hover {
  background: var(--yellow-530);
}
.colorable_f1ceac.primaryDark_f1ceac,
.colorable_f1ceac.primaryDark_f1ceac .centerIcon_f1ceac {
  color: var(--white);
}
.colorable_f1ceac.primaryDark_f1ceac.active_f1ceac:not(.disabled_f1ceac),
.colorable_f1ceac.primaryDark_f1ceac:hover:not(.disabled_f1ceac) {
  background: hsla(0, 0%, 100%, 0.1);
}
.colorable_f1ceac.activeLight_f1ceac {
  background: var(--white);
}
.colorable_f1ceac.activeLight_f1ceac,
.colorable_f1ceac.activeLight_f1ceac .centerIcon_f1ceac {
  color: var(--primary-860);
}
.colorable_f1ceac.activeLight_f1ceac.active_f1ceac:not(.disabled_f1ceac),
.colorable_f1ceac.activeLight_f1ceac:hover:not(.disabled_f1ceac) {
  background: var(--primary-230);
}
.buttonInnerWithText_f1ceac {
  align-items: center;
  display: flex;
  gap: 4px;
}
.centerButton_f1ceac {
  border-radius: 8px;
  padding: 10px;
  position: static;
  transition:
    background 0.15s ease-in-out,
    color 0.15s ease-in-out;
}
.centerButton_f1ceac .centerIcon_f1ceac {
  transition: color 0.15s ease-in-out;
}
.attachedButton_f1ceac {
  border-radius: 8px 0 0 8px;
}
.fullRegionButton_f1ceac,
.fullRegionDropdownButton_f1ceac {
  border: 1px solid var(--border-muted);
  border-radius: 12px;
}
.fullRegionDropdownButton_f1ceac {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 4px;
}
.fullRegionDropdownButton_f1ceac.green_f1ceac,
.fullRegionDropdownButton_f1ceac.join_f1ceac {
  background-color: var(--green-360);
}
.fullRegionDropdownButton_f1ceac.disconnect_f1ceac {
  background-color: var(--control-critical-primary-background-default);
}
.fullRegionIcon_f1ceac {
  padding: 4px 12px;
}
.buttonPremiumGlow_f1ceac {
  filter: drop-shadow(0 0 12px #a944b0) drop-shadow(0 0 12px #a944b0);
}
@media (max-width: 456px) {
  .centerButton_f1ceac {
    padding: 8px;
  }
  .contextMenuContainer_f1ceac {
    display: none;
  }
}
@media (min-width: 457px) {
  .unmasked_f1ceac {
    display: none;
  }
}
.lineHeightReset_f1ceac {
  line-height: 0;
}
.contextMenuContainer_f1ceac {
  position: relative;
}
.attachedCaretButtonContainer_f1ceac {
  align-items: center;
  direction: row;
  display: flex;
}
.attachedCaretButtonContainer_f1ceac.popoutOpen_f1ceac .primaryDark_f1ceac,
.attachedCaretButtonContainer_f1ceac:hover .primaryDark_f1ceac {
  background-color: var(--background-mod-muted);
}
.attachedCaretButtonContainer_f1ceac.disabled_f1ceac {
  background-color: transparent !important;
  color: var(--text-muted) !important;
  cursor: not-allowed !important;
  pointer-events: none;
}
.attachedCaretButtonContainer_f1ceac.disabled_f1ceac:hover {
  background-color: transparent !important;
}
.contextMenuNub_f1ceac {
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  height: 20px;
  justify-content: center;
  padding: 10px 2px;
  transition:
    background 0.15s ease-in-out,
    color 0.15s ease-in-out;
  width: 20px;
}
.contextMenuNub_f1ceac.disabled_f1ceac {
  cursor: not-allowed;
}
.contextMenuNub_f1ceac.attachedCaret_f1ceac {
  border-radius: 0 8px 8px 0;
  margin-inline-start: 1px;
  padding: 10px 0;
}
.contextMenuCaret_f1ceac {
  cursor: pointer;
  height: 16px;
  transition: none;
  width: 16px;
}
.contextMenuCaret_f1ceac.disabled_f1ceac {
  color: var(--interactive-text-default) !important;
  cursor: not-allowed;
}
.contextMenuCaret_f1ceac.open_f1ceac {
  transform: rotateX(180deg);
}
.enable-forced-colors .contextMenuNub_f1ceac,
.enable-forced-colors .contextMenuNub_f1ceac:hover {
  background-color: ButtonFace;
  border: 1px solid Canvas;
  color: ButtonText;
}
.enable-forced-colors .contextMenuNub_f1ceac.active_f1ceac {
  background-color: HighlightText;
  border-color: Highlight;
  color: Highlight;
}
.buttonMask_f1ceac {
  height: inherit;
  width: inherit;
}
.glow_f1ceac {
  height: 190%;
  inset-inline-start: 50%;
  opacity: 1;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 190%;
}
.glow_f1ceac,
.glowVideo_f1ceac {
  pointer-events: none;
}
.glowVideo_f1ceac {
  height: 100%;
  -o-object-fit: fill;
  object-fit: fill;
  width: 100%;
}

/*# sourceMappingURL=24798.c3b6cb5e1717ed66.css.map*/
