.root_df4c28 {
  --custom-playground-offset-top: calc(
    var(--custom-app-top-bar-height) + var(--space-4)
  );
  background: var(--background-base-lowest);
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  padding-top: var(--custom-playground-offset-top);
}
.group_df4c28 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--space-12);
  width: var(--custom-guild-list-width);
}
.header_df4c28 {
  border-inline-start: 1px solid var(--app-frame-border);
  border-start-start-radius: var(--radius-md);
  border-top: 1px solid var(--app-frame-border);
}
.headerDivider_df4c28 {
  margin-inline-end: var(--space-12);
}
.headerRight_df4c28 {
  gap: var(--space-4);
  margin-inline-start: auto;
  padding-inline-end: var(--space-8);
}
.copyLinkSplit_df4c28,
.headerRight_df4c28 {
  align-items: center;
  display: flex;
}
.sidebar_df4c28 {
  background: var(--background-base-lowest);
  border-inline-end: 1px solid var(--border-subtle);
  border-inline-start: 1px solid var(--border-subtle);
  overflow-y: auto;
  padding: var(--space-16);
  padding-bottom: var(--space-24);
  width: 280px;
}
.deprecationNotice_df4c28 {
  border-radius: 0;
}
.page_df4c28 {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  min-height: 0;
  padding-bottom: var(--custom-playground-offset-top);
}
.content_df4c28,
.main_df4c28 {
  flex: 1;
  height: 100%;
  min-height: 0;
}
.main_df4c28 {
  display: flex;
}
.mainRightLayout_df4c28 {
  flex-direction: row;
}
.mainBottomLayout_df4c28 {
  flex-direction: column;
}
.canvas_df4c28 {
  background-color: var(--background-base-lower);
  flex: 1;
  overflow: auto;
  padding: var(--space-24);
  padding-bottom: var(--space-32);
}
.controls_df4c28 {
  background: var(--background-base-lowest);
  overflow-y: auto;
  padding: var(--space-16);
  padding-bottom: var(--space-24);
}
.controlsRight_df4c28 {
  border-inline-start: 1px solid var(--border-subtle);
  width: 300px;
}
.controlsBottom_df4c28 {
  border-block-start: 1px solid var(--border-subtle);
  max-height: 300px;
}
.controlsSection_df4c28 {
  margin-bottom: 24px;
}
.colorControl_df4c28 {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
}
.colorControlInput_df4c28 {
  align-items: center;
  display: flex;
  gap: var(--space-8);
}
.colorSwatch_df4c28 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
}
.storyContent_df4c28 {
  background: var(--background-surface-high);
  border: 1px solid var(--border-subtle);
  border-radius: var(--radius-sm);
  contain: layout;
  container-type: inline-size;
  padding: var(--space-24);
}
.errorCodeMessage__85414 {
  margin-top: 16px;
}
.focus-rings-ring {
  background: none;
  border-radius: var(--__adaptive-focus-ring-radius, 4px);
  box-shadow: 0 0 0 4px
    var(--__adaptive-focus-ring-color, var(--focus-primary, #00b0f4));
  display: block;
  margin: 0;
  padding: 0;
  pointer-events: none;
  position: absolute;
}
.enable-forced-colors .focus-rings-ring {
  forced-color-adjust: none;
  --__adaptive-focus-ring-color: CanvasText !important;
  border: 2px solid Canvas;
}
.wrapper__00943 {
  background-color: none;
  border: 1px solid var(--border-subtle);
  padding-inline: calc(var(--space-16) - 1px) calc(var(--space-16) - 2px);
}
.overlay__00943 {
  align-items: center;
  bottom: -1px;
  box-sizing: border-box;
  display: none;
  inset-inline-end: 0;
  justify-content: flex-end;
  max-width: 100%;
  padding-inline-start: 50px;
  position: absolute;
  top: -1px;
}
.overlay__00943:empty {
  padding-inline-start: 0;
}
.headerOverlay__00943,
.sectionOverlay__00943,
.twitchOverlay__00943 {
}
.headerOverlay__00943 {
  inset-inline-end: 32px;
}
.section__00943 {
  background-color: var(--background-mod-muted);
  border: 1px solid var(--border-subtle);
  padding: 12px;
  position: relative;
}
.section__00943:not(:last-child) {
  border-bottom: none;
}
.section__00943:first-child {
  border-radius: 8px 8px 0 0;
}
.section__00943:last-child {
  border-radius: 0 0 8px 8px;
}
.section__00943:only-child {
  border-radius: 8px;
}
.clickable__00943 {
  cursor: pointer;
}
.clickable__00943:hover .textContent__00943 {
  text-decoration: underline;
}
.textContent__00943 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.separator__00943 {
  background-color: var(--border-subtle);
  height: 1px;
}
.separator__00943.inset__00943 {
  margin-inline: 12px;
}
.header__00943 {
  align-items: center;
  display: grid;
  height: 36px;
  position: relative;
  grid-gap: 12px;
}
.headerFull__00943 {
  grid-template-columns: 32px minmax(20px, auto) 24px;
}
.headerSimple__00943 {
  grid-template-columns: 32px minmax(20px, auto);
}
.headerAvatar__00943 {
  cursor: pointer;
}
.headerIcon__00943,
.multipleIconWrapper__00943 {
  border-radius: 4px;
  display: block;
  height: 24px;
  justify-self: end;
  width: 24px;
}
.multipleIconWrapper__00943 {
  align-items: center;
  background-color: var(--background-mod-normal);
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.multipleIcon__00943 {
  height: 18px;
  width: 18px;
}
.body__00943 {
  border-radius: 8px;
}
.body__00943:not(:empty) {
  margin-top: 12px;
}
.body__00943 .separator__00943 {
  margin-bottom: 0;
  margin-top: 0;
}
.wrapper__00943 .body__00943 {
  background: none;
}
.voiceSection__00943 {
  display: grid;
  grid-template-columns: 32px minmax(20px, auto) max-content;
  grid-gap: 12px;
  align-items: center;
}
.voiceSectionAssets__00943 {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 32px;
  justify-content: center;
  position: relative;
  width: 32px;
}
.voiceSectionDetails__00943 {
  cursor: pointer;
}
.voiceSectionDetails__00943:hover .voiceSectionText__00943 {
  text-decoration: underline;
}
.voiceSectionGuildImage__00943,
.voiceSectionNoGuildImageWrapper__00943 {
  border-radius: 50%;
  cursor: pointer;
  height: 32px;
  -webkit-mask: url(/assets/a90b040155ee449f.svg);
  mask: url(/assets/a90b040155ee449f.svg);
  -webkit-mask-size: 100%;
  mask-size: 100%;
  mask-type: luminance;
  width: 32px;
}
.voiceSectionNoGuildImageWrapper__00943 {
  align-items: center;
  background: var(--background-surface-high);
  color: var(--white);
  display: flex;
  justify-content: center;
}
.voiceSectionNoGuildImage__00943 {
  display: inline-block;
  overflow: hidden;
}
.voiceSectionIconWrapper__00943 {
  align-items: center;
  border-radius: 50%;
  bottom: -2px;
  display: flex;
  height: 16px;
  inset-inline-end: -2px;
  justify-content: center;
  position: absolute;
  width: 16px;
}
.voiceSectionIcon__00943 {
  color: var(--text-default);
  height: 10px;
  width: 10px;
}
.applicationStreamingSection__00943 {
  display: grid;
  grid-template-columns: 32px minmax(20px, auto) max-content;
  grid-gap: 12px;
  align-items: center;
}
.applicationStreamingAvatar__00943 {
  cursor: pointer;
}
.applicationStreamingPreviewWrapper__00943 {
  align-items: center;
  aspect-ratio: 16/9;
  background-color: var(--background-mod-normal);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-top: 12px;
  overflow: hidden;
  position: relative;
}
.applicationStreamingPreviewWrapper__00943:hover
  .applicationStreamingHoverText__00943 {
  opacity: 1;
}
.applicationStreamingPreviewSize__00943 {
  height: 100%;
  width: 100%;
}
.applicationStreamingHoverText__00943 {
  background: var(--opacity-black-60);
  border-radius: var(--radius-xl);
  cursor: pointer;
  opacity: 0;
  padding: 7px 16px;
  position: absolute;
}
.full-motion .applicationStreamingHoverText__00943 {
  transition: opacity var(--custom-button-transition-duration) ease;
}
.xboxSection__00943 {
  display: grid;
  grid-template-columns: 32px minmax(20px, auto);
  grid-gap: 12px;
  align-items: center;
}
.xboxSectionIcon__00943 {
  color: var(--primary-300);
  height: 28px;
  padding: 2px;
  width: 28px;
}
.twitchSection__00943 {
  min-height: 32px;
}
.twitchSectionHeader__00943 {
  display: grid;
  position: relative;
  grid-gap: 12px;
  align-items: center;
}
.twitchSectionSimple__00943 {
  grid-template-columns: 32px minmax(20px, auto);
}
.twitchSectionFull__00943 {
  grid-template-columns: 32px minmax(20px, auto) 24px;
}
.twitchSectionIcon__00943 {
  height: 32px;
  width: 32px;
}
.twitchSectionPlayButton__00943 {
  cursor: pointer;
  inset-inline-start: calc(50% - 16px);
  opacity: 0.75;
  position: absolute;
  top: calc(50% - 16px);
}
.twitchSectionAvatar__00943 {
  justify-self: end;
}
.twitchSectionPreviewWrapper__00943 {
  cursor: pointer;
  margin-top: 12px;
}
.twitchSectionPreviewWrapper__00943:hover .twitchSectionPlayButton__00943 {
  opacity: 1;
}
.twitchSectionPreview__00943 {
  border-radius: 4px;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}
.gameSection__00943 {
  display: grid;
  grid-template-columns: 32px minmax(20px, auto) max-content;
  grid-gap: 12px;
  align-items: center;
}
.gameSectionIcon__00943 {
  cursor: pointer;
  height: 32px;
  width: 32px;
}
.activitySection__00943 {
  display: grid;
  grid-template-columns: 32px minmax(20px, auto);
  grid-gap: 12px;
  align-items: start;
}
.activitySectionWithButtons__00943 {
  grid-template-columns: 32px minmax(20px, auto) minmax(0, max-content);
}
.activitySectionAssets__00943 {
  align-items: center;
  display: grid;
  justify-content: start;
  position: relative;
}
.activitySectionAssets__00943 .largeImageMask__00943 {
  -webkit-mask: url(/assets/ed4c6d51411aad5e.svg);
  mask: url(/assets/ed4c6d51411aad5e.svg);
  -webkit-mask-size: 100%;
  mask-size: 100%;
  mask-type: luminance;
}
.activitySectionAssets__00943 .largeImage__00943 {
  border-radius: 4px;
  height: 32px;
  -o-object-fit: cover;
  object-fit: cover;
  width: 32px;
}
.activitySectionAssets__00943 .borderRadius0__00943 {
  border-radius: 0;
}
.activitySectionAssets__00943 .smallImage__00943 {
  border-radius: 50%;
  bottom: -4px;
  height: 16px;
  inset-inline-end: -4px;
  position: absolute;
  width: 16px;
}
.activitySectionDetails__00943 {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.spotifySection__00943 {
  grid-template-columns: 32px minmax(20px, auto) max-content;
}
.theme-dark .voiceSectionIconWrapper__00943 {
  background-color: var(--primary-800);
}
.theme-light .voiceSectionIconWrapper__00943 {
  background: var(--primary-300);
}
.embeddedActivityTopRow__00943 {
  align-items: center;
  display: flex;
  margin-bottom: 8px;
}
.embeddedActivityName__00943 {
  flex: 1;
}
.embeddedActivityTimeElapsed__00943 {
  flex: 0 0 auto;
}
.embeddedActivityPlayerContainer__00943 {
  align-items: center;
  aspect-ratio: 16/9;
  background: var(--black);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  position: relative;
}
.embeddedActivityImage__00943 {
  border-radius: 12px;
  height: auto;
  max-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}
.embeddedActivityImageOverlay__00943 {
  align-items: center;
  background: var(--opacity-black-60);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}
.embeddedActivityJoinWrapper__00943 {
  margin-top: 8px;
}
.embeddedActivityIcon__00943 {
  margin-inline-end: 8px;
}
.cloudPlaySectionSeparator__00943 {
  margin: 12px 0 !important;
}
.cloudPlaySection__00943 {
  align-items: center;
  display: flex;
  gap: 12px;
  justify-content: space-between;
}
.cloudPlaySectionTextContainer__00943 {
  align-items: center;
  display: flex;
  gap: 8px;
}
.refresh-active-now .wrapper__00943 {
  background: var(--background-base-low);
  border-radius: 16px;
  padding: 0;
}
.refresh-active-now .body__00943 {
  border-radius: 0;
}
.refresh-active-now .body__00943:not(:empty) {
  margin-top: 0;
}
.refresh-active-now .header__00943 {
  background-color: var(--background-mod-muted);
  padding: 16px;
}
.refresh-active-now .section__00943 {
  background: none;
  border: none;
  border-radius: 0;
  padding: 16px;
}
.refresh-active-now .section__00943:not(:last-child) {
  border-bottom: 1px solid var(--border-subtle);
}
.refresh-active-now .applicationStreamingPreviewWrapper__00943 {
  border-radius: 8px;
}
.drag__5c9fc {
  display: none;
}
.root__5c9fc {
  bottom: 0;
  contain: strict;
  position: absolute;
  top: 0;
  inset-inline: 0;
  pointer-events: all;
}
.enter__5c9fc,
.enterReducedMotion__5c9fc,
.exit__5c9fc,
.exitReducedMotion__5c9fc {
  transition-duration: var(--custom-full-screen-layer-animation-duration);
  transition-property: transform, opacity;
  transition-timing-function: ease-in-out;
}
.enter__5c9fc {
  transform: scale(1.1);
}
.enter__5c9fc,
.enterReducedMotion__5c9fc {
  opacity: 0;
}
.exit__5c9fc {
  transform: scale(1);
}
.exit__5c9fc,
.exitReducedMotion__5c9fc {
  opacity: 1;
}
.enterActive__5c9fc,
.enterDone__5c9fc {
  opacity: 1;
  transform: scale(1);
}
.enterActiveReducedMotion__5c9fc,
.enterDoneReducedMotion__5c9fc {
  opacity: 1;
}
.exitActive__5c9fc,
.exitDone__5c9fc {
  opacity: 0;
  transform: scale(1.1);
}
.exitActiveReducedMotion__5c9fc,
.exitDoneReducedMotion__5c9fc {
  opacity: 0;
}
@keyframes fadeIn_eff18d {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInContentFullMotion_eff18d {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.background_eff18d {
  align-items: center;
  animation: fadeIn_eff18d 3s cubic-bezier(0.24, 0.27, 0.58, 1) forwards;
  display: flex;
  flex-direction: column;
  height: 100vh;
  inset-inline-start: 0;
  isolation: isolate;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
}
.backgroundFill_eff18d {
  background-color: #000328;
  inset: 0;
  position: absolute;
  z-index: 0;
}
.assetLayers_eff18d {
  inset: 0;
  z-index: 1;
}
.assetLayers_eff18d,
.sunbeamGradient_eff18d {
  pointer-events: none;
  position: absolute;
}
.sunbeamGradient_eff18d {
  animation: fadeIn_eff18d 1.5s linear 1.5s forwards;
  background: url(/assets/52432522457760d7.webp) 100% 0 / cover no-repeat;
  height: 100%;
  inset-inline-start: 0;
  opacity: 0;
  top: 0;
  width: 100%;
}
.container_eff18d {
  position: relative;
  text-align: center;
  z-index: 2;
}
.fadeInContent_eff18d {
  animation: fadeIn_eff18d 1s cubic-bezier(0.1, 0.24, 0.32, 1) 2s forwards;
  opacity: 0;
}
.full-motion .fadeInContent_eff18d {
  animation-name: fadeInContentFullMotion_eff18d;
}
.riveIllustration_eff18d {
  height: min(470px, 55vh);
  padding-block-end: 0;
  padding-block-start: 0;
  padding-inline-end: 25.964px;
  padding-inline-start: 27px;
  width: min(523px, 90vw);
}
.description_eff18d,
.footer_eff18d {
  text-align: center;
}
.footer_eff18d {
  bottom: var(--space-32);
  position: absolute;
  z-index: 2;
}
.containerTop__45edc {
  top: calc(var(--custom-app-top-bar-height) + var(--space-8));
}
.containerBottom__45edc,
.containerTop__45edc {
  display: flex;
  flex-direction: column;
  inset-inline-start: 50%;
  position: fixed;
  transform: translateX(-50%);
  z-index: 4999;
}
.containerBottom__45edc {
  bottom: 140px;
}

/*# sourceMappingURL=28633.494447ea2a10004c.css.map*/
