.itemIcon_a647f7 {
  align-items: center;
  display: flex;
  justify-content: center;
  pointer-events: none;
  position: absolute;
  z-index: 1;
}
.itemIcon_a647f7.hasTooltip_a647f7 {
  pointer-events: auto;
}
.applicationIcon_a647f7 {
  border-radius: 6px;
  box-shadow: var(--shadow-high);
  position: relative;
}
.applicationIcon_a647f7 > img {
  border-radius: inherit;
  height: inherit;
  width: inherit;
}
.applicationIcon_a647f7:after {
  border: 1px solid var(--border-normal);
  border-radius: inherit;
  content: "";
  display: inline-block;
  inset: 0;
  position: absolute;
}
.card__9ed47 {
  aspect-ratio: 1/1;
  background-color: var(--background-surface-highest);
  border-radius: var(--radius-md);
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  top: 0;
}
.custom-user-profile-theme .card__9ed47 {
  background-color: var(--user-profile-overlay-background);
}
.full-motion .card__9ed47 {
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}
.card__9ed47:after {
  border: 1px solid var(--border-subtle);
  border-radius: var(--radius-md);
  content: "";
  inset: 0;
  position: absolute;
}
.card__9ed47:focus-within,
.card__9ed47:hover {
  transform: scale(1.025);
}
.cardPreview__9ed47 {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  opacity: 0.5;
  overflow: hidden;
  width: 100%;
}
.full-motion .cardPreview__9ed47 {
  transition: transform 0.2s ease;
}
.skuPreview__9ed47 {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
.overlay_f5504d {
  align-items: flex-end;
  bottom: 0;
  display: flex;
  inset-inline: 0;
  justify-content: center;
  opacity: 0;
  position: absolute;
  transition: opacity 50ms ease-in;
  z-index: 5;
}
.overlayHoverOrFocus_f5504d {
  opacity: 1;
  transition: opacity 0.15s ease-out;
}
.container_f7398d {
  margin-top: var(--space-16);
  max-height: calc(100vh - 80px);
}
.container_f7398d,
.containerContents_f7398d {
  display: flex;
  flex-direction: column;
}
.containerContents_f7398d {
  align-items: flex-start;
  background-color: var(--background-surface-high);
  border: 1px solid var(--border-normal);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-high);
  padding: var(--space-16);
  width: -moz-min-content;
  width: min-content;
}
.applicationIcon_f7398d {
  height: var(--size-16);
  width: var(--size-16);
}
.applicationWidget_f7398d {
  border-bottom: 1px solid var(--border-normal);
  margin: calc(var(--space-16) * -1);
  margin-bottom: 0;
}
.header_f7398d {
  margin-bottom: var(--space-12);
}
.wishlistItems3Wide_f7398d {
  grid-template-columns: repeat(3, 1fr);
}
.wishlistItems3Wide_f7398d,
.wishlistItems4Wide_f7398d {
  display: grid;
  gap: var(--space-12);
  margin-bottom: var(--space-12);
}
.wishlistItems4Wide_f7398d {
  grid-template-columns: repeat(4, 1fr);
}
.loadingApplicationWidgetPanel_f7398d {
  height: calc(180px + var(--space-12) * 1 + var(--space-12));
  width: calc(360px + var(--space-12) * 3);
}
.loadingFeaturePanelRecomendations_f7398d {
  height: calc(370px + var(--space-12) * 2 + var(--space-12));
  width: calc(270px + var(--space-12) * 2);
}
.contextContainer_f7398d {
  background-color: var(--background-surface-high);
}
.rewardOfferNotice_f7398d {
  margin: var(--space-16) -16px -16px;
  width: calc(100% + 32px);
}
.ctaContainer_f7398d {
  align-items: center;
  background-color: var(--background-surface-highest);
  border-radius: var(--radius-sm);
  display: flex;
  flex-direction: row;
  gap: var(--space-4);
  justify-content: space-between;
  margin-inline: var(--space-16);
  margin-bottom: var(--space-12);
  padding: var(--space-12);
}
.ctaFiller_f7398d {
  flex: 1;
  max-width: 24px;
}
.ctaIcon_f7398d {
  flex-shrink: 0;
}
.tile_ba65b0 {
  height: 100%;
  width: 100%;
}
.tileSizer_ba65b0 {
  height: 112px;
  width: 195px;
}
.tileSizer_ba65b0:not(:first-child) {
  margin-inline-start: 8px;
}
.root_ba65b0 {
  box-sizing: border-box;
  display: flex;
  height: 112px;
  justify-content: center;
  width: 100%;
}

/*# sourceMappingURL=29235.e4d58c884e240b86.css.map*/
