.notice__29487 {
  align-items: center;
  background: linear-gradient(
      90deg,
      var(
          --color-scoped-expressive-background-nitro-1-start,
          rgba(179, 38, 156, 0.7)
        )
        0,
      var(
          --color-scoped-expressive-background-nitro-1-end,
          rgba(20, 20, 203, 0.7)
        )
        100%
    ),
    var(--background-base-lowest);
  border-radius: 8px 0 0;
  display: flex;
  height: 54px;
  position: relative;
  z-index: 101;
}
@supports not (
  (grid-template-columns: subgrid) and (white-space-collapse: collapse)
) {
  .notice__29487 {
    border-start-start-radius: 0;
  }
}
@supports (grid-template-columns: subgrid) and (white-space-collapse: collapse) {
  .notice__29487 {
    grid-area: notice;
  }
}
.noticeContent__29487 {
  align-items: center;
  display: flex;
  flex: 1;
  gap: var(--space-16);
  justify-content: center;
}
.noticeText__29487 strong {
  font-weight: var(--font-weight-semibold);
}
.closeButton__29487 {
  margin-inline: auto var(--space-12);
}
.premiumIcon_b68a35 {
  height: 24px;
  margin-inline-end: 8px;
  position: relative;
  top: 6px;
  width: 24px;
}
.platformIcon_b68a35 {
  display: inline-block;
  height: 28px;
  margin-top: -4px;
  margin-inline-end: 10px;
  position: relative;
  vertical-align: middle;
  width: 28px;
}
.platformIcon_b68a35 + .platformIcon_b68a35 {
  margin-inline-start: -10px;
}
.giftIcon_b68a35 {
  margin-inline-end: 4px;
  vertical-align: text-bottom;
}
.icon_b68a35 {
  display: inline-block;
  height: 20px;
  margin-inline-start: 10px;
  margin-top: -3px;
  position: relative;
  vertical-align: middle;
  width: 20px;
}
.icon_b68a35 + .icon_b68a35 {
  margin-inline-start: 6px;
}
.iconWindows_b68a35 {
  -webkit-mask-image: url(/assets/20dd0e244b9a7065.svg);
  mask-image: url(/assets/20dd0e244b9a7065.svg);
}
.iconApple_b68a35,
.iconWindows_b68a35 {
  background-color: currentColor;
}
.iconApple_b68a35 {
  -webkit-mask-image: url(/assets/d11dc1928431aa27.svg);
  mask-image: url(/assets/d11dc1928431aa27.svg);
}
.iconAndroid_b68a35 {
  -webkit-mask-image: url(/assets/f625814fc53c325e.svg);
  mask-image: url(/assets/f625814fc53c325e.svg);
}
.iconAndroid_b68a35,
.iconMetaQuest_b68a35 {
  background-color: currentColor;
}
.iconMetaQuest_b68a35 {
  margin-inline-end: 4px;
  -webkit-mask-image: url(/assets/ac961aa8d4bb48a5.svg);
  mask-image: url(/assets/ac961aa8d4bb48a5.svg);
  mask-mode: alpha;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}
.iconUSFlag_b68a35 {
  background-image: url(/assets/423c2b95bd0fdafb.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 85%;
  margin-inline-end: 7px;
  margin-top: 0;
}
.icon_b68a35 + .btn_b68a35 {
  margin-inline-start: 20px;
}
.textLink_b68a35 {
  color: currentColor;
  padding-inline-start: 10px;
  text-decoration: underline;
  -webkit-app-region: no-drag;
  font-size: 12px;
}
.testModeSKUSelector_b68a35 {
  height: 24px;
  margin-inline-start: 16px;
}
.premiumLogo_b68a35 {
  background-image: url(/assets/a3541a1173e706be.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
  height: 13px;
  margin-inline-end: 20px;
  position: relative;
  top: 2px;
  width: 51px;
}
.premiumText_b68a35 {
  font-weight: var(--font-weight-medium);
}
.premiumAction_b68a35 {
  margin-inline-start: 20px;
}
.ellipsis_b68a35 {
  margin-inline-start: 7px;
}
.quarantineLearnMoreLink_b68a35 {
  margin-inline-start: 10px;
  text-decoration: underline;
}
.errorCodeNoticeText_b68a35 {
  margin-inline-start: var(--space-8);
}
.errorCodeNoticeClickable_b68a35 {
  cursor: pointer;
}
.riotConnectionDeprecationNoticeCTAButton_b68a35 {
  background: var(--background-mod-subtle);
  border: none;
  border-radius: var(--radius-sm);
}
.riotConnectionDeprecationRemindLaterButton_b68a35 {
  border: none;
  border-radius: var(--radius-sm);
  text-decoration: underline;
}
.riotConnectionDeprecationNoticeIcon_b68a35 {
  background: var(--background-mod-subtle);
  border-radius: var(--radius-xs);
  height: 16px;
  padding: var(--space-4);
  width: 16px;
}
.text__7b750 {
  display: inline-block;
}
.text__7b750,
.text__7b750 a {
  color: currentColor;
}
.text__7b750 a {
  text-decoration: underline;
}
.premiumIcon__7b750 {
  height: 24px;
  margin-inline-end: 8px;
  position: relative;
  top: 6px;
  width: 24px;
}
.notice__36c3e {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.guildIcon__36c3e {
  margin-inline-end: 8px;
}
.guildName__36c3e {
  color: inherit;
}
.guildName__36c3e:hover {
  text-decoration: underline;
}
.actionButton__36c3e {
  margin-inline-start: 12px;
  top: 0;
}
.actionButtonInner__36c3e {
  align-items: center;
  display: flex;
  gap: 4px;
}
.notice__30f28 {
  align-items: center;
  background-color: var(--brand-600);
  box-shadow: none;
  color: var(--white);
  display: flex;
  height: 40px;
  justify-content: center;
  padding: 0 8px;
}
.notice__30f28.error__30f28 {
  background-color: var(--background-feedback-critical);
}
.button__30f28 {
  align-items: center;
  font-weight: var(--font-weight-semibold);
  height: -moz-fit-content;
  height: fit-content;
  padding: 4px 8px;
}
.button__30f28:hover {
  background-color: var(--brand-530);
}
.error__30f28 > .button__30f28:hover {
  background-color: var(--red-430);
}
.header__30f28 {
  color: var(--white);
  display: inline;
  margin-inline-end: 16px;
}

/*# sourceMappingURL=31227.b6b862dfe4d87abc.css.map*/
