.upsellOuter__50e68 {
  border-radius: var(--radius-sm);
  margin: 8px 12px;
  position: relative;
}
.upsellInner__50e68 {
  background: linear-gradient(
      to right,
      hsl(var(--premium-tier-2-purple-for-gradients-hsl) / 0.1) 0,
      hsl(var(--premium-tier-2-pink-for-gradients-hsl) / 0.1) 100%
    )
    border-box;
  border-radius: calc(var(--radius-sm) - 2px);
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px;
}
.upsellTitle__50e68 {
  display: flex;
  gap: 4px;
}
.nitroWheel__50e68 {
  color: var(--text-strong);
}
.close__50e68 {
  cursor: pointer;
  inset-inline-end: 8px;
  position: absolute;
  top: 8px;
}
.closeIcon__50e68 {
  color: var(--interactive-text-default);
}
.soundButtonSettingContainer__84bad {
  align-items: center;
  background: var(--input-background-default);
  border: 1px solid var(--input-border-default);
  border-radius: var(--radius-sm);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  font-weight: var(--font-weight-semibold);
  height: 40px;
  justify-content: space-between;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  width: 50%;
}
.emoji__84bad {
  flex-shrink: 0;
  margin-inline-end: 8px;
}
.emoji__84bad,
.secondaryIcon__84bad {
  height: 20px;
  width: 20px;
}
.secondaryIcon__84bad {
  margin: 0 4px;
}
.secondaryIconActive__84bad {
  cursor: pointer;
}
.secondaryIconDisabled__84bad {
  color: var(--icon-muted);
}
.container__84bad {
  align-items: center;
  display: flex;
}
.soundText__84bad {
  max-width: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.guildSelector_c582b4 {
  margin-bottom: 0;
  margin-top: 0;
}
.nitroWheel_c582b4 {
  height: 16px;
  margin-inline-start: 4px;
  width: 16px;
}
.container_c582b4 {
  margin-bottom: 16px;
}
.callSoundsTitle_c582b4 {
  margin-bottom: 8px;
}
.callSoundsDivider_c582b4 {
  margin-bottom: 24px;
  margin-top: 4px;
}
.notice_c582b4 {
  margin-top: 8px;
}
.pill_c582b4 {
  align-items: center;
  background: var(--background-mod-normal);
  border-radius: 8px;
  display: inline-flex;
  gap: 4px;
  padding: 4px 8px;
}
.pillText_c582b4 {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.pillIcon_c582b4 {
  width: 16px;
}
.micTestHelpLink__2958a {
  margin-inline-start: 4px;
}
.flex_aa3ffd {
  display: flex;
}
.alignStart_aa3ffd {
  align-items: flex-start;
}
.alignEnd_aa3ffd {
  align-items: flex-end;
}
.alignCenter_aa3ffd {
  align-items: center;
}
.alignStretch_aa3ffd {
  align-items: stretch;
}
.alignBaseline_aa3ffd {
  align-items: baseline;
}
.justifyStart_aa3ffd {
  justify-content: flex-start;
}
.justifyEnd_aa3ffd {
  justify-content: flex-end;
}
.justifyCenter_aa3ffd {
  justify-content: center;
}
.justifyAround_aa3ffd {
  justify-content: space-around;
}
.justifyBetween_aa3ffd {
  justify-content: space-between;
}
.noWrap_aa3ffd {
  flex-wrap: nowrap;
}
.wrap_aa3ffd {
  flex-wrap: wrap;
}
.wrapReverse_aa3ffd {
  flex-wrap: wrap-reverse;
}
.directionRow_aa3ffd {
  flex-direction: row;
}
.directionRowReverse_aa3ffd {
  flex-direction: row-reverse;
}
.directionColumn_aa3ffd {
  flex-direction: column;
}
.spacer_aa3ffd {
  flex: 1;
  overflow: hidden;
}
.vertical_aa3ffd {
  display: flex;
  flex-direction: column;
}
.horizontal_aa3ffd {
  display: flex;
  flex-direction: row;
}
.horizontalReverse_aa3ffd {
  display: flex;
  flex-direction: row-reverse;
}
.horizontal_aa3ffd > .spacer_aa3ffd,
.horizontalReverse_aa3ffd > .spacer_aa3ffd,
.vertical_aa3ffd > .spacer_aa3ffd {
  min-height: 1px;
}
.flexCenter_aa3ffd,
.streamerModeEnabled_aa3ffd {
  align-items: center;
  display: flex;
  justify-content: center;
}
.streamerModeEnabled_aa3ffd {
  flex: 1;
  flex-direction: column;
}
.userSettingsStreamerModeEnabled_aa3ffd {
  height: 100%;
}
.streamerModeEnabledImage_aa3ffd {
  background-size: 100% 100%;
  height: 220px;
  width: 440px;
}
.streamerModeEnabledBtn_aa3ffd {
  background-color: var(--platform-twitch);
  border-radius: 3px;
  color: var(--white);
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: var(--font-weight-bold);
  line-height: 1.8125rem;
  margin-top: 20px;
  padding: 10px 20px;
  text-transform: uppercase;
}
.streamerModeEnabledBtn_aa3ffd:hover {
  background-color: var(--platform-twitch-secondary);
}
.images-light .streamerModeEnabledImage_aa3ffd {
  background-image: url(/assets/9a898919395a3f13.svg);
}
.images-dark .streamerModeEnabledImage_aa3ffd {
  background-image: url(/assets/a105cf85c9c42968.svg);
}

/*# sourceMappingURL=31668.9d0c16ade7062675.css.map*/
