.panel__6131a {
  margin-block: var(--space-64) var(--space-64);
  margin-inline: auto;
  max-width: 696px;
  min-width: 300px;
  padding: 0 var(--space-16);
  position: relative;
}
@media (max-width: 1080px) {
  .panel__6131a {
    margin-block: var(--space-80) var(--space-80);
    margin-inline: auto;
  }
}
.panel__6131a * {
  box-sizing: border-box;
}
.scroller__6131a {
  height: 100%;
  overflow-x: visible;
  scroll-padding-top: 24px;
  scrollbar-gutter: stable both-edges;
}
.bottomMarker__6131a {
  height: 1px;
  translate: 0 -100%;
}
.tabBar__6131a {
  margin-bottom: var(--space-24);
}
.notice__6131a {
  bottom: 0;
  inset-inline: 0;
  margin: 0 auto;
  max-width: 696px;
  min-width: 300px;
  padding: var(--space-16);
  position: absolute;
  z-index: 2;
}
.decorationWrapper__6131a {
  z-index: 1;
}
.decorationWrapper__6131a.sticky__6131a {
  margin-bottom: var(--space-48);
  position: sticky;
  top: var(--space-64);
}
.decorationWrapper__6131a.sticky__6131a:before {
  background: var(--background-base-low);
  content: "";
  inset: calc(var(--space-64) * -1) 0;
  -webkit-mask-image: linear-gradient(
    to bottom,
    #000 0,
    #000 calc(100% - var(--space-64)),
    transparent calc(100% - var(--space-12))
  );
  mask-image: linear-gradient(
    to bottom,
    #000 0,
    #000 calc(100% - var(--space-64)),
    transparent calc(100% - var(--space-12))
  );
  pointer-events: none;
  position: absolute;
}
.categories__6131a {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.divider__6131a {
  margin: calc(var(--space-xxl) + var(--space-xs)) 0;
}
.title__28f6b {
  margin-bottom: var(--space-4);
}
.split__678d3 {
  align-items: start;
  display: grid;
  gap: var(--space-16);
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
@media (max-width: 800px) {
  .split__678d3 {
    grid-template-columns: 1fr;
  }
}
.tryItOutButtons__965a6 {
  display: flex;
  gap: 12px;
}
.previewThemeButton__965a6 {
  margin-bottom: 26px;
  margin-top: 16px;
}
.premiumTier2Divider__965a6 {
  background-image: linear-gradient(
    90deg,
    var(--premium-tier-2-pink-for-gradients) 0,
    var(--premium-tier-2-purple-for-gradients) 50%,
    var(--premium-tier-2-pink-for-gradients) 100%
  );
  height: 2px;
  margin-inline: -24px;
}
.displayClientThemesTitle__965a6 {
  color: var(--text-default);
}
.displayClientThemesHeading__965a6 {
  gap: 0;
}
.displayPremiumIcon__965a6 {
  color: var(--text-default);
}
.colorThemesBackground__965a6 {
  background: var(--background-base-lower);
  border: 1px solid var(--border-normal);
  border-radius: var(--radius-md);
  padding: 24px;
}
.container_a1d343 {
  align-items: center;
  background-color: var(--background-base-lowest);
  border-radius: var(--radius-sm);
  display: flex;
  gap: 16px;
  margin-bottom: 34px;
  margin-top: 44px;
  padding: 16px 25px;
}
.displayContainer_a1d343 {
  margin: 0;
}
.iconContainer_a1d343 {
  flex-shrink: 0;
}
.bannerImage_a1d343 {
  height: 69px;
  width: 117px;
}
.textContent_a1d343 {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 4px;
}
.buttonContainer_a1d343 {
  flex-shrink: 0;
}
.container_d79086 {
  box-sizing: border-box;
  contain: paint;
  cursor: revert;
  display: inline-block;
  position: relative;
  text-align: start;
  vertical-align: top;
  width: 100%;
}
.animatedText_d79086 {
  display: block;
  overflow: hidden;
  pointer-events: none;
  text-overflow: ellipsis;
  transform-style: preserve-3d;
  white-space: nowrap;
  width: 100%;
}
.picker_df23be {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.themes_df23be {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

/*# sourceMappingURL=33713.e0e9435156265012.css.map*/
