.container__76394 {
  border-radius: 20px;
  filter: saturate(var(--saturation-factor, 1));
  overflow: visible;
  position: relative;
}
.glowAnimation__76394 {
  filter: blur(var(--custom-blur-amount)) saturate(var(--saturation-factor, 1))
    hue-rotate(var(--custom-hue-rotate, 0deg));
  height: calc(100% + var(--custom-glow-amount) * 2 + 2px);
  inset-inline-start: calc(var(--custom-glow-amount) * -1 - 1px);
  opacity: var(--custom-glow-opacity);
  pointer-events: none;
  position: absolute;
  top: calc(var(--custom-glow-amount) * -1 - 1px);
  width: calc(100% + var(--custom-glow-amount) * 2 + 2px);
}
.container_e93594 {
  align-items: center;
  display: flex;
  width: 100%;
}
.icon_e93594 {
  color: var(--text-default);
  margin-inline-start: -2px;
  z-index: 10;
}
@container premium-marketing-page-container (min-width: 720px) {
  .icon_e93594 {
    color: #fff;
  }
}
.baseContainer__40d5b {
  container-name: premium-marketing-page-container;
  container-type: inline-size;
  filter: saturate(var(--saturation-factor, 1));
  max-width: var(--custom-premium-home-max-width);
  overflow: visible;
}
.baseContainer__40d5b,
.card__40d5b {
  border-radius: 20px;
  position: relative;
  width: 100%;
}
.card__40d5b {
  border-width: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.video__40d5b {
  height: 100%;
  inset: 0;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  width: 100%;
}
.betaBadge__40d5b {
  margin-bottom: 12px;
}
.progressContainer__40d5b {
  padding-top: var(--space-12);
  width: 75%;
}
.bannerImageContainer__40d5b {
  flex: 0 0 auto;
  height: 250px;
  overflow: visible;
  position: relative;
}
.bannerImage__40d5b,
.bannerImageContainer__40d5b {
  -o-object-position: center;
  object-position: center;
  width: 100%;
}
.bannerImage__40d5b {
  height: 100%;
  inset: 0;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  transform: scaleX(-1);
}
.textContainer__40d5b {
  align-items: flex-start;
  background-color: var(--card-background-default);
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  justify-content: center;
  padding: var(--space-48) var(--space-24);
  position: relative;
  z-index: 1;
}
.heading__40d5b {
  margin-bottom: var(--space-12);
}
.actionButtonContainer__40d5b {
  margin-top: var(--space-24);
}
.totalLifetimeRewardsContainer__40d5b {
  align-items: center;
  color: var(--text-muted);
  display: flex;
  gap: var(--space-4);
  margin-top: var(--space-12);
}
.stackedGradientOverlay__40d5b {
  background: linear-gradient(
    to bottom,
    transparent 0,
    color-mix(in srgb, var(--card-background-default) 70%, transparent) 50%,
    var(--card-background-default) 100%
  );
  position: absolute;
  top: auto;
  inset-inline: 0;
  bottom: 0;
  height: 100px;
}
@container premium-marketing-page-container (min-width: 720px) {
  .card__40d5b {
    flex-direction: row;
    height: 350px;
  }
  .bannerImageContainer__40d5b {
    height: auto;
    margin-inline-end: 0;
    min-width: 0;
    width: 50%;
    z-index: 0;
  }
  .bannerImage__40d5b {
    -o-object-position: center;
    object-position: center;
  }
  .textContainer__40d5b {
    background-color: transparent;
    padding-block: var(--space-48);
    padding-inline: var(--space-32);
    width: 50%;
    z-index: auto;
  }
  .heading__40d5b,
  .textContainer__40d5b {
    color: var(--white);
  }
  .bodyText__40d5b,
  .totalLifetimeRewardsContainer__40d5b {
    color: hsl(var(--white-hsl) / 0.6);
  }
  .bodyText__40d5b a {
    color: var(--blue-new-27);
  }
  .bodyText__40d5b a:hover {
    color: var(--blue-new-31);
  }
  .stackedGradientOverlay__40d5b {
    display: none;
  }
}
@container premium-marketing-page-container (min-width: 960px) {
  .textContainer__40d5b {
    flex: 0 0 40%;
    max-width: 40%;
    padding-inline: var(--space-24);
  }
  .bannerImage__40d5b {
    -o-object-position: calc(100% + 250px) center;
    object-position: calc(100% + 250px) center;
  }
  .bannerImageContainer__40d5b {
    margin-inline-end: 0;
  }
}

/*# sourceMappingURL=34645.4746d54eb0a012d2.css.map*/
