.container_db1863 {
  align-items: flex-start;
  background: var(--background-feedback-info);
  border: 1px solid var(--icon-feedback-info);
  border-radius: var(--radius-sm);
  display: flex;
  flex-direction: row;
  padding: var(--space-12);
}
.text_db1863 {
  flex: 1;
}
.closeButton_db1863 {
  color: var(--icon-subtle);
  cursor: pointer;
  flex-shrink: 0;
}
.closeButton_db1863:hover {
  color: var(--icon-default);
}
.upsellContainer__5997d {
  border-radius: var(--radius-sm);
}
.upsellContent__5997d {
  background: var(--user-profile-overlay-background);
  border-radius: inherit;
  position: relative;
}
.upsellContent__5997d:after,
.upsellContent__5997d:before {
  border: 2px solid transparent;
  border-radius: inherit;
  box-sizing: border-box;
  content: "";
  height: 100%;
  inset-inline-start: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}
.upsellContent__5997d:before {
  border-color: var(--guild-boosting-purple);
}
.upsellCloseIconWrapper__5997d {
  display: flex;
  justify-content: center;
}
.upsellDefaultContent__5997d {
  padding: 12px;
}
.upsellHeader__5997d {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}
.upsellButtons__5997d,
.upsellHeader__5997d {
  display: flex;
  flex-direction: row;
}
.upsellButtons__5997d {
  flex-wrap: wrap;
  gap: 8px;
}
.upsellButtonWrapper__5997d {
  flex: 1;
}
.user-profile-modal-v2 .upsellButtonWrapper__5997d {
  flex: unset;
}
.upsellButtons__5997d .matchManaColors__5997d {
  background: var(--control-secondary-background-default);
}
.upsellButtons__5997d .matchManaColors__5997d:hover {
  background: var(--control-secondary-background-hover);
}
.upsellButtons__5997d .matchManaColors__5997d:active {
  background: var(--control-secondary-background-active);
}
.upsellRowContent__5997d {
  align-items: center;
  border-radius: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-block: 12px;
  padding-inline: 16px 11px;
  position: relative;
}
.upsellRowContent__5997d:after,
.upsellRowContent__5997d:before {
  border: 2px solid transparent;
  border-radius: inherit;
  box-sizing: border-box;
  content: "";
  height: 100%;
  inset-inline-start: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}
.upsellRowContent__5997d:before {
  border-color: var(--guild-boosting-purple);
}
.upsellContent__5997d:after,
.upsellRowContent__5997d:after {
  border-color: var(--guild-boosting-blue);
  -webkit-mask: linear-gradient(0deg, #000, transparent);
  mask: linear-gradient(0deg, #000, transparent);
}
.upsellRowRight__5997d {
  align-items: center;
  display: flex;
  gap: 8px;
}
.upsellCloseIcon__5997d {
  color: var(--interactive-text-default);
  cursor: pointer;
}
.upsellCloseIcon__5997d:hover {
  color: var(--interactive-text-hover);
}
.upsellCloseIcon__5997d:active {
  color: var(--interactive-text-active);
}
.container__55b8c {
  background: var(--background-mod-subtle);
  border: 1px solid var(--border-muted);
  border-radius: 4px;
  padding: 12px;
  position: relative;
}
.spoiler__55b8c {
  align-items: center;
  border-radius: 4px;
  display: flex;
  inset-block: 0;
  inset-inline: 0;
  justify-content: center;
  position: absolute;
}
.hidden__55b8c {
  visibility: hidden;
}
.container__43a4b {
  border-radius: var(--radius-sm);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: hidden;
  padding: 10px 12px;
}
.buttonContainer__43a4b {
  align-items: center;
  display: flex;
  gap: 8px;
}
.gameIcon__43a4b {
  vertical-align: bottom;
}

/*# sourceMappingURL=38451.887dc9b2deaf0ba6.css.map*/
