.downloadProgress__1f388 {
  inset-inline-end: -2px;
  position: relative;
  top: -2px;
}
.homeIcon__1f388 {
  display: block;
  height: 20px;
  width: 28px;
}
.tutorialContainer__1f388 {
  position: relative;
}
.guildSeparator__252b6 {
  background-color: var(--app-frame-border);
  border-radius: 1px;
  height: 1px;
  width: 32px;
}
.fullWidth__252b6 {
  width: 100%;
}
.guildsError_e8d03f {
  align-items: center;
  background-color: var(--background-base-low);
  border: 2px solid var(--background-feedback-critical);
  border-radius: var(--radius-md);
  box-sizing: border-box;
  color: var(--interactive-text-active);
  display: flex;
  height: var(--guildbar-avatar-size);
  justify-content: center;
  transition: background-color 0.15s ease-out;
  width: var(--guildbar-avatar-size);
}
.guildsError_e8d03f:hover {
  background-color: var(--background-feedback-critical);
  color: var(--text-feedback-critical);
}
.folderGroup__48112 {
  --custom-folder-padding: calc(
    (var(--guildbar-folder-size) - var(--guildbar-avatar-size)) / 2
  );
  --custom-folder-preview-padding: var(--space-4);
  --custom-folder-preview-gap: 2px;
  --custom-folder-preview-guild-size: calc(
    (
        var(--guildbar-folder-size) - var(--custom-folder-preview-padding) * 2 -
          var(--custom-folder-preview-gap)
      ) / 2
  );
  position: relative;
  width: var(--custom-guild-list-width);
}
.folderGroupBackground__48112 {
  background-color: var(--background-mod-subtle);
  border: 1px solid var(--border-muted);
  border-radius: var(--radius-lg);
  bottom: 0;
  box-sizing: border-box;
  inset-inline-start: calc(
    var(--custom-guild-list-padding) -
      (var(--guildbar-folder-size) - var(--guildbar-avatar-size)) / 2
  );
  opacity: 0;
  position: absolute;
  top: 0;
  transition:
    opacity var(--custom-folder-item-animation-duration) ease-out,
    background-color var(--custom-folder-item-animation-duration) ease-out;
  width: var(--guildbar-folder-size);
}
.isExpanded__48112 .folderGroupBackground__48112 {
  --custom-folder-background: color-mix(
    in srgb,
    var(--custom-folder-color),
    transparent 85%
  );
  background-color: var(
    --custom-folder-background,
    var(--background-mod-subtle)
  );
  opacity: 1;
}
.folderHeader__48112 {
  box-sizing: border-box;
  height: var(--guildbar-folder-size);
  width: var(--guildbar-folder-size);
}
.folderGroup__48112[data-drop-hovering="true"].isExpanded__48112
  .folderGroupBackground__48112 {
  background-color: var(--opacity-green-28);
  border-color: var(--status-positive);
}
.folderGroup__48112[data-drop-hovering="true"]:not(.isExpanded__48112)
  .folderHeader__48112 {
  background-color: var(--opacity-green-28);
  border-radius: 12px;
  outline: 1px solid var(--status-positive);
}
.folderButton__48112,
.folderButtonInner__48112 {
  box-sizing: border-box;
  cursor: pointer;
  height: var(--guildbar-folder-size);
  width: var(--guildbar-folder-size);
}
.folderButtonInner__48112 {
  border-radius: var(--radius-md);
  overflow: hidden;
  position: relative;
}
.folderButtonContent__48112 {
  position: relative;
  transform: translate3d(0, calc(var(--guildbar-folder-size) * -1), 0);
}
.full-motion .folderButtonContent__48112 {
  transition: transform var(--custom-folder-item-animation-duration) ease-out;
}
.isExpanded__48112 .folderButtonContent__48112 {
  transform: translateZ(0);
}
.folderDragPreview__48112 .folderIconWrapper__48112 {
  display: none;
}
.folderIconWrapper__48112 {
  box-sizing: border-box;
  padding: var(--custom-folder-padding);
}
.folderIcon__48112 {
  align-items: center;
  border-radius: var(--radius-md);
  box-sizing: border-box;
  color: var(--custom-folder-color, var(--background-brand));
  display: flex;
  height: var(--guildbar-avatar-size);
  justify-content: center;
  transition: background-color var(--custom-folder-item-animation-duration)
    ease-out;
  width: var(--guildbar-avatar-size);
}
.folderIcon__48112:hover,
.keyboard-mode .folderButton__48112:focus .folderIcon__48112 {
  background-color: var(--background-mod-subtle);
}
.folderPreviewWrapper__48112 {
  --custom-preview-background: color-mix(
    in srgb,
    var(--custom-folder-color),
    transparent 60%
  );
  background-color: var(
    --custom-preview-background,
    var(--background-mod-subtle)
  );
  border-radius: var(--radius-lg);
  box-sizing: border-box;
  height: var(--guildbar-folder-size);
  padding: var(--custom-folder-preview-padding);
  width: var(--guildbar-folder-size);
}
.custom-theme-background .folderPreviewWrapper__48112 {
  background-color: var(
    --custom-preview-background,
    var(--background-mod-strong)
  );
}
.folderPreview__48112 {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  height: calc(
    var(--guildbar-folder-size) - var(--custom-folder-preview-padding) * 2
  );
  width: calc(
    var(--guildbar-folder-size) - var(--custom-folder-preview-padding) * 2
  );
}
.folderPreviewGuildIcon__48112 {
  box-sizing: border-box;
  height: var(--custom-folder-preview-guild-size);
  width: var(--custom-folder-preview-guild-size);
}
.folderPreviewGuildIcon__48112:first-child {
  border-radius: 13px 4px 4px;
}
.folderPreviewGuildIcon__48112:nth-child(2) {
  border-radius: 4px 13px 4px 4px;
}
.folderPreviewGuildIcon__48112:nth-child(3) {
  border-radius: 4px 4px 4px 13px;
}
.folderPreviewGuildIcon__48112:nth-child(4) {
  border-radius: 4px 4px 13px;
}
.folderPreviewGuildIconError__48112 {
  align-items: center;
  background: var(--background-feedback-critical);
  color: var(--text-feedback-critical);
  display: flex;
  justify-content: center;
  padding: 3px;
}
.folderGuildsList__48112 {
  overflow: hidden;
}
.folderGuildsList__48112 > :first-child {
  margin-top: calc(var(--space-xs) - var(--custom-folder-padding));
}
.folderHeaderSmall__48112 {
  --custom-folder-preview-padding: 3px;
  --custom-folder-preview-guild-size: calc(
    (
        var(--guildbar-avatar-size) - var(--custom-folder-preview-padding) * 2 -
          var(--custom-folder-preview-gap)
      ) / 2
  );
  margin: calc((var(--guildbar-avatar-size) - var(--guildbar-folder-size)) / 2)
    0;
}
.isExpanded__48112 .folderHeaderSmall__48112 {
  margin: 0;
}
.refresh-fast-follow-avatars .folderButton__48112 {
  padding: var(--custom-folder-padding);
}
.refresh-fast-follow-avatars .folderButtonInner__48112 {
  height: var(--guildbar-avatar-size);
  width: var(--guildbar-avatar-size);
}
.refresh-fast-follow-avatars .folderButtonContent__48112 {
  transform: translate3d(0, calc(var(--guildbar-avatar-size) * -1), 0);
}
.refresh-fast-follow-avatars .isExpanded__48112 .folderButtonContent__48112 {
  transform: translateZ(0);
}
.refresh-fast-follow-avatars .folderIconWrapper__48112 {
  padding: 0;
}
.refresh-fast-follow-avatars .folderButton__48112:focus .folderIcon__48112,
.refresh-fast-follow-avatars .folderIcon__48112:hover {
  background-color: var(--opacity-white-12);
}
.refresh-fast-follow-avatars .folderPreviewWrapper__48112 {
  border-radius: var(--radius-md);
  height: var(--guildbar-avatar-size);
  width: var(--guildbar-avatar-size);
}
.refresh-fast-follow-avatars .folderPreview__48112 {
  height: calc(
    var(--guildbar-avatar-size) - var(--custom-folder-preview-padding) * 2
  );
  width: calc(
    var(--guildbar-avatar-size) - var(--custom-folder-preview-padding) * 2
  );
}
.refresh-fast-follow-avatars .folderPreviewGuildIcon__48112:first-child {
  border-radius: 10px 4px 4px;
}
.refresh-fast-follow-avatars .folderPreviewGuildIcon__48112:nth-child(2) {
  border-radius: 4px 10px 4px 4px;
}
.refresh-fast-follow-avatars .folderPreviewGuildIcon__48112:nth-child(3) {
  border-radius: 4px 4px 4px 10px;
}
.refresh-fast-follow-avatars .folderPreviewGuildIcon__48112:nth-child(4) {
  border-radius: 4px 4px 10px;
}
.isHovering__48112 {
  display: block;
}
.dragInner__87847 {
  background-color: var(--background-mod-normal);
  border: 1px dashed var(--border-subtle);
  border-radius: 12px;
  box-sizing: border-box;
  height: var(--guildbar-avatar-size);
  width: var(--guildbar-avatar-size);
}
.placeholderMask__87847 {
  align-items: center;
  display: flex;
  justify-content: center;
}
.isFolder__87847 {
  height: var(--guildbar-folder-size);
  width: var(--guildbar-folder-size);
}
.refresh-fast-follow-avatars .isFolder__87847 {
  height: var(--guildbar-avatar-size);
  margin: calc((var(--guildbar-folder-size) - var(--guildbar-avatar-size)) / 2);
  width: var(--guildbar-avatar-size);
}
.blobContainer_e5445c:active {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  transform: translateY(1px) translateZ(0);
}
.sorting_e5445c {
  pointer-events: none;
}
@keyframes wobble_e5445c {
  0%,
  to {
    transform: rotate(0);
  }
  25% {
    transform: rotate(2deg);
  }
  75% {
    transform: rotate(-2deg);
  }
}
.full-motion .wobble_e5445c {
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
  animation-name: wobble_e5445c;
  transform-origin: 50% 30%;
}
.enable-forced-colors .blobContainer_e5445c {
  background-color: ButtonFace;
  border: 1px solid CanvasText;
  border-radius: 4px;
  margin-bottom: -2px;
}
.enable-forced-colors .blobContainer_e5445c:hover {
  border-color: ButtonText;
}
.enable-forced-colors .blobContainer_e5445c.selected_e5445c {
  background-color: HighlightText;
  border-color: Highlight;
  outline: 2px solid Highlight;
}

/*# sourceMappingURL=45268.06b5a44f8922f0e4.css.map*/
