.panel__6131a {
  margin-block: var(--space-64) var(--space-64);
  margin-inline: auto;
  max-width: 696px;
  min-width: 300px;
  padding: 0 var(--space-16);
  position: relative;
}
@media (max-width: 1080px) {
  .panel__6131a {
    margin-block: var(--space-80) var(--space-80);
    margin-inline: auto;
  }
}
.panel__6131a * {
  box-sizing: border-box;
}
.scroller__6131a {
  height: 100%;
  overflow-x: visible;
  scroll-padding-top: 24px;
  scrollbar-gutter: stable both-edges;
}
.bottomMarker__6131a {
  height: 1px;
  translate: 0 -100%;
}
.tabBar__6131a {
  margin-bottom: var(--space-24);
}
.notice__6131a {
  bottom: 0;
  inset-inline: 0;
  margin: 0 auto;
  max-width: 696px;
  min-width: 300px;
  padding: var(--space-16);
  position: absolute;
  z-index: 2;
}
.decorationWrapper__6131a {
  z-index: 1;
}
.decorationWrapper__6131a.sticky__6131a {
  margin-bottom: var(--space-48);
  position: sticky;
  top: var(--space-64);
}
.decorationWrapper__6131a.sticky__6131a:before {
  background: var(--background-base-low);
  content: "";
  inset: calc(var(--space-64) * -1) 0;
  -webkit-mask-image: linear-gradient(
    to bottom,
    #000 0,
    #000 calc(100% - var(--space-64)),
    transparent calc(100% - var(--space-12))
  );
  mask-image: linear-gradient(
    to bottom,
    #000 0,
    #000 calc(100% - var(--space-64)),
    transparent calc(100% - var(--space-12))
  );
  pointer-events: none;
  position: absolute;
}
.categories__6131a {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.divider__6131a {
  margin: calc(var(--space-xxl) + var(--space-xs)) 0;
}
.title__28f6b {
  margin-bottom: var(--space-4);
}
.split__678d3 {
  align-items: start;
  display: grid;
  gap: var(--space-16);
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
@media (max-width: 800px) {
  .split__678d3 {
    grid-template-columns: 1fr;
  }
}
.avatar_d28e10 {
  align-items: center;
  display: flex;
  inset-inline-start: 16px;
  justify-content: center;
  position: absolute;
  top: 61px;
  z-index: 1;
}
.overlay_d28e10:after {
  background-color: var(--opacity-black-40);
  border-radius: var(--radius-round);
  content: "";
  height: 100%;
  inset-inline-end: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.2s ease;
  width: 100%;
  z-index: 0;
}
.overlayIcon_d28e10 {
  opacity: 0;
  position: absolute;
  transition: opacity 0.2s ease;
}
.clickable_d28e10.avatar_d28e10 {
  cursor: pointer;
}
.clickable_d28e10:focus-within .overlay_d28e10:after,
.clickable_d28e10:focus-within .overlayIcon_d28e10,
.clickable_d28e10:hover .overlay_d28e10:after,
.clickable_d28e10:hover .overlayIcon_d28e10 {
  opacity: 1;
}
.menu_d28e10 {
  margin-top: 30px;
}
.tryItOutButtons__965a6 {
  display: flex;
  gap: 12px;
}
.previewThemeButton__965a6 {
  margin-bottom: 26px;
  margin-top: 16px;
}
.premiumTier2Divider__965a6 {
  background-image: linear-gradient(
    90deg,
    var(--premium-tier-2-pink-for-gradients) 0,
    var(--premium-tier-2-purple-for-gradients) 50%,
    var(--premium-tier-2-pink-for-gradients) 100%
  );
  height: 2px;
  margin-inline: -24px;
}
.displayClientThemesTitle__965a6 {
  color: var(--text-default);
}
.displayClientThemesHeading__965a6 {
  gap: 0;
}
.displayPremiumIcon__965a6 {
  color: var(--text-default);
}
.colorThemesBackground__965a6 {
  background: var(--background-base-lower);
  border: 1px solid var(--border-normal);
  border-radius: var(--radius-md);
  padding: 24px;
}
.container_a1d343 {
  align-items: center;
  background-color: var(--background-base-lowest);
  border-radius: var(--radius-sm);
  display: flex;
  gap: 16px;
  margin-bottom: 34px;
  margin-top: 44px;
  padding: 16px 25px;
}
.displayContainer_a1d343 {
  margin: 0;
}
.iconContainer_a1d343 {
  flex-shrink: 0;
}
.bannerImage_a1d343 {
  height: 69px;
  width: 117px;
}
.textContent_a1d343 {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 4px;
}
.buttonContainer_a1d343 {
  flex-shrink: 0;
}
.container_d79086 {
  box-sizing: border-box;
  contain: paint;
  cursor: revert;
  display: inline-block;
  position: relative;
  text-align: start;
  vertical-align: top;
  width: 100%;
}
.animatedText_d79086 {
  display: block;
  overflow: hidden;
  pointer-events: none;
  text-overflow: ellipsis;
  transform-style: preserve-3d;
  white-space: nowrap;
  width: 100%;
}
.picker_df23be {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.themes_df23be {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.interactive_f88cfd {
  border-radius: inherit;
  color: var(--interactive-text-default);
  cursor: pointer;
}
.interactive_f88cfd:focus-within,
.interactive_f88cfd:hover {
  background: var(--interactive-background-hover);
  color: var(--interactive-text-hover);
}
.interactive_f88cfd:active {
  background: var(--interactive-background-active);
  color: var(--interactive-text-active);
}
.muted_f88cfd {
  color: var(--text-muted);
}
@media (min-width: 486px) {
  .selected_f88cfd {
    background: var(--interactive-background-selected);
    color: var(--interactive-text-active);
  }
}
.enable-forced-colors .interactive_f88cfd {
  background-color: ButtonFace;
  border: 1px solid ButtonFace;
  color: ButtonText;
  forced-color-adjust: none;
}
.enable-forced-colors .interactive_f88cfd:focus-within,
.enable-forced-colors .interactive_f88cfd:hover {
  background-color: ButtonFace;
  border-color: ButtonText;
  color: ButtonText;
}
.enable-forced-colors .interactive_f88cfd.selected_f88cfd,
.enable-forced-colors .interactive_f88cfd.selected_f88cfd:focus-within,
.enable-forced-colors .interactive_f88cfd.selected_f88cfd:hover {
  background-color: Highlight;
  border-color: HighlightText;
  color: HighlightText;
}
.container_e45859 {
  border-radius: 8px;
  box-sizing: border-box;
  display: block;
  padding: 1px 0;
  transition: none;
}
.inputs_f37d97 {
  background: var(--background-base-lowest);
  border-radius: 4px;
  border-style: none;
  color: var(--text-default);
  width: 100px;
}
.hexInput_f37d97 {
  align-items: center;
  display: flex;
  gap: 8px;
}
.previewsContainer_f37d97 {
  flex: 0 0 auto;
  padding-bottom: var(--space-16);
}
.preview_f37d97 {
  background: var(--background-base-lowest);
  padding: 8px;
}
.preview_f37d97,
.simArea_f37d97 {
  border-radius: 8px;
  width: 100%;
}
.simArea_f37d97 {
  background: var(--background-base-lower);
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 10px;
  padding-inline-end: 8px;
  padding-top: 10px;
  position: relative;
}
.themePicker_f37d97 {
  margin-top: 8px;
}
.controls_f37d97 {
  flex-direction: column;
  margin-bottom: 32px;
  margin-top: 8px;
}
.controls_f37d97,
.toggles_f37d97 {
  display: flex;
  gap: 8px;
}
.dmlist_f37d97 {
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.dark_f37d97 {
  background: #2b2d31;
}
.light_f37d97 {
  background: #f2f3f5;
}
.overflowTooltip_f37d97 {
  margin-inline-start: 8px;
  max-width: 224px;
  position: relative;
}
.overflowTooltip_f37d97.fullWidth_f37d97 {
  max-width: 100%;
}
.clanTag_f37d97 {
  margin-inline-start: 4px;
}
.main_f37d97 {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-16);
}
.flex_f37d97 {
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}
.buttons_f37d97,
.flex_f37d97 {
  display: flex;
  gap: 8px;
}
.buttons_f37d97 {
  flex: 0 0 250px;
  flex-direction: column;
}
.uploaded_f37d97 {
  align-items: center;
  background: var(--background-base-lowest);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: -moz-fit-content;
  height: fit-content;
  padding: 8px;
  position: relative;
  width: 250px;
}
.uploadedImg_f37d97 {
  max-height: 50px;
  max-width: 80%;
}
.uploadedArea_f37d97 {
  background: var(--background-base-lower);
  border-radius: 8px;
  flex-direction: column;
  height: auto;
  width: -moz-fit-content;
  width: fit-content;
}
.uploadedArea_f37d97,
.uploadedControls_f37d97 {
  display: flex;
  gap: 8px;
}
.xicon_f37d97 {
  cursor: pointer;
  inset-inline-end: 8px;
  position: absolute;
  top: 8px;
}
.previews_f37d97 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 432px;
  min-width: 264px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  resize: none;
}
.label_f37d97 {
  margin-inline-start: 8px;
}
.rtcSim_f37d97 {
  border-radius: 8px;
}
.rtcSim_f37d97 > div > div {
  padding-inline: 10px !important;
}
.theme-dark .rtcSim_f37d97 {
  background: var(--background-gradient-lowest, var(--background-mod-normal));
}
.theme-light .rtcSim_f37d97 {
  background: var(--background-gradient-low, var(--background-mod-normal));
}
.resizeHandle_f37d97 {
  align-items: center;
  background: var(--background-base-lowest);
  border-radius: 4px;
  bottom: 0;
  cursor: ew-resize;
  display: flex;
  inset-inline-end: -2px;
  justify-content: center;
  position: absolute;
  top: 0;
  transition: background-color 0.2s ease;
  width: 8px;
  z-index: 10;
}
.resizeHandle_f37d97:hover {
  background: var(--background-base-lower);
}
.resizeHandle_f37d97:before {
  background: var(--text-muted);
  border-radius: 1px;
  content: "";
  height: 20px;
  width: 2px;
}
.resizeHandle_f37d97:after {
  background: var(--text-muted);
  border-radius: 1px;
  content: "";
  height: 20px;
  inset-inline-start: 50%;
  margin-inline-start: 2px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
}
.container__7700a {
  align-items: center;
  background-color: var(--background-base-lower);
  border-radius: var(--radius-sm);
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding: 16px;
}
.textContainer__7700a {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 2px;
}
.iconContainer__7700a {
  align-items: center;
  background-color: var(--background-feedback-warning);
  border-radius: var(--radius-sm);
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}
.gameIconContainer__7700a {
  position: relative;
}
.warningCorner__7700a {
  align-items: center;
  background-color: var(--background-base-lower);
  border-radius: var(--radius-round);
  display: flex;
  inset-inline-end: 0;
  justify-content: center;
  padding: 2px;
  position: absolute;
  top: 0;
}
.channelIdSection_cf1489 {
  margin-top: 8px;
}
.guildName_cf1489 {
  flex-shrink: 1;
  font-size: 12px;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
}
.selectedVoiceChannel_cf1489 {
  align-items: stretch;
  border: 1px solid var(--border-subtle);
  border-radius: var(--radius-xs);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
  margin-inline-end: 8px;
  min-height: 0;
  min-width: 0;
  pointer-events: none;
}
.noVoiceChannelSelected_cf1489 {
  padding: 0 16px;
}
.voiceListSearchEmpty_cf1489 {
  padding: 16px;
  text-align: center;
}
.keybindMessage_f82450 {
  position: relative;
}
.keybindMessage_f82450 a {
  color: inherit;
  text-decoration: underline;
}
.item_f82450 {
  flex: 1;
  margin-inline-end: 16px;
  position: relative;
}
.item_f82450 a {
  color: inherit;
  text-decoration: underline;
}
.switch_f82450 {
  align-items: center;
  display: flex;
  flex: 0;
  margin-top: 28px;
  margin-inline-start: 32px;
}
.removeKeybindFloating_f82450 {
  inset-inline-end: -31px;
  opacity: 0;
  position: absolute;
  top: -12px;
}
.removeKeybind_f82450 {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex: 0;
  margin-top: 28px;
}
.ghostPill_f82450 {
  align-items: center;
  background-color: var(--yellow-160);
  border: 1px solid var(--yellow-300);
  color: var(--primary-860);
  display: inline-grid;
  grid-template-columns: auto 1fr;
  padding: 10px;
  grid-gap: 10px;
  border-radius: var(--radius-xs);
  font-size: 14px;
}
.keybindGroup_f82450 {
  margin-top: -1px;
  padding-bottom: 20px;
  padding-top: 20px;
  position: relative;
}
.keybindGroup_f82450:hover .removeKeybindFloating_f82450 {
  opacity: 1;
}
.keybindGroupContent_f82450 {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
}
.keyboard-mode .keybindGroup_f82450:focus-within .removeKeybindFloating_f82450 {
  opacity: 1;
}
.defaultKeybindGroup_f82450 {
  background-color: var(--background-surface-higher);
  border: 1px solid var(--border-muted);
  border-radius: var(--radius-md);
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
  padding: var(--space-16) 0;
}
.defaultKeybind_f82450 {
  align-items: center;
  box-sizing: border-box;
  display: grid;
  font-weight: var(--font-weight-medium);
  grid-template-columns: 1fr auto;
  padding: 0 var(--space-16);
}
.defaultKeybindShortcutGroup_f82450 {
  display: grid;
  grid-gap: 4px;
}
.shortcut_f82450 {
  justify-content: end;
}
.defaultKeybindGroupHeader_f82450 {
  margin-bottom: 24px;
  text-transform: uppercase;
}
.defaultKeybindGroupWithDescription_f82450 {
  margin-bottom: 4px;
}
.defaultKeybindGroupDescription_f82450 {
  margin-bottom: 20px;
}
.browserNotice_f82450 a {
  color: inherit;
  text-decoration: underline;
}
.systemServiceUpsell_f82450 {
  margin-bottom: 24px;
}
.ctaContainer_f82450 {
  gap: 12px;
  margin-bottom: 24px;
}
.ctaContainer_f82450,
.warning_f82450 {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.warning_f82450 {
  flex-grow: 1;
  gap: 8px;
}
.addButton_f82450 {
  flex-shrink: 0;
  margin-inline-start: 12px;
}
.localizedName__2d71b {
  font-size: 14px;
  font-weight: var(--font-weight-normal);
  line-height: 20px;
}
.flag__2d71b {
  flex: 0 0 auto;
  margin: 0 8px;
}
.flagImage__2d71b {
  display: block;
  filter: saturate(var(--saturation-factor, 1));
  height: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 27px;
}
.systemServiceContainer_fa64a1 {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: space-between;
}
.systemServiceTextContainer_fa64a1 {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}
.animator_d17ea2 {
  display: block;
  position: relative;
}
.item_d17ea2 {
  inset-inline: 0;
  bottom: 0;
  position: absolute;
  top: 0;
}

/*# sourceMappingURL=46554.fd8d94eb4cc5ff25.css.map*/
