.image__7d7b6 {
  border-radius: inherit;
  height: 100%;
  inset-inline-start: 0;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}
.outer__146e2 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
}
.progressBar__146e2 {
  overflow: visible;
  position: absolute;
  top: 0;
  inset-inline: 0;
  bottom: 0;
  shape-rendering: geometricPrecision;
}
.progress__146e2 {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  transition: stroke-dashoffset 0.35s;
}
.progressAltGlow__146e2 {
  filter: drop-shadow(0 0 8.3px rgba(34, 255, 132, 0.33))
    drop-shadow(0 0 2.7px rgba(93, 255, 164, 0.42));
}
.inner__146e2 {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}
.coverContent__146e2 {
  border-radius: 50%;
  inset: 0;
  position: absolute;
  z-index: 999;
}
.progressTextWrapper__146e2 {
  align-items: center;
  display: flex;
  justify-content: center;
}
.progressTextOverlay__146e2 {
  background-color: var(--background-base-lowest);
  opacity: 0.75;
  z-index: 1;
}
.progressText__146e2 {
  z-index: 2;
}
.nitroRewardTileAssetContainer_a92e89 {
  background-image: linear-gradient(
    135deg,
    var(--premium-tier-1-dark-blue-for-gradients) 20%,
    var(--premium-perk-pink)
  );
  display: flex;
  place-content: center;
  text-align: center;
}
.nitroRewardTileAsset_a92e89 {
  filter: drop-shadow(0 1px 2px rgb(0 0 0/0.4));
  height: auto;
  margin-top: 2px;
  margin-inline-end: 10%;
  width: 70%;
}
.questRewardTile__28141 {
  border-radius: 4px;
  box-shadow: 6px 12px 32px rgba(0, 0, 0, 0.24);
  height: 64px;
  position: relative;
  width: 64px;
}
.fullWidth__28141 {
  height: 100%;
  width: 100%;
}
.rewardHighlight__28141 {
  border-radius: 8px;
  overflow: hidden;
}
.rewardHighlight__28141:after {
  border: 1px solid var(--opacity-white-16);
  border-radius: inherit;
  box-sizing: border-box;
  content: "";
  height: 100%;
  inset-inline-start: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.borderOverlay__28141:before {
  border: 2px solid var(--white);
  border-radius: inherit;
  box-sizing: border-box;
  content: "";
  height: 100%;
  inset-inline-start: 0;
  -webkit-mask-image: linear-gradient(-45deg, transparent 50%, #000);
  mask-image: linear-gradient(-45deg, transparent 50%, #000);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.questRewardTileInteractive__28141 {
  cursor: pointer;
}
.questRewardTileAsset__28141 {
  border-radius: inherit;
  display: block;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}
.questRewardTileAbsolutePosition__28141 {
  position: absolute;
}
.questRewardTileAssetStatic__28141 {
  pointer-events: none;
}
.questRewardTileDetailsLearnMore__28141 {
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  border-radius: inherit;
  bottom: 0;
  display: flex;
  flex-direction: column;
  inset-inline: 0;
  justify-content: center;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 0;
  transition: opacity 0.125s;
  z-index: 0;
}
.questRewardTileDetailsLearnMore__28141 p {
  flex: 0 0 auto;
  margin: 0;
  width: 100%;
}
.questRewardTile__28141:focus .questRewardTileDetailsLearnMore__28141,
.questRewardTile__28141:hover .questRewardTileDetailsLearnMore__28141 {
  opacity: 1;
}
.hideLearnMore__28141 {
  cursor: default;
}
@keyframes Shine__28141 {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(210%, 0, 0);
  }
}
.shine__28141 {
  border-radius: inherit;
  color: var(--opacity-white-8);
  height: 100%;
  inset-inline-start: 0;
  pointer-events: none;
  top: 0;
  width: 100%;
}
.reduce-motion .shine__28141 {
  opacity: 0;
}
.full-motion .shine__28141 {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: Shine__28141;
  animation-timing-function: ease-in-out;
}
.imageVideoOverlay__28141 {
  border-radius: inherit;
  height: 100%;
  inset-inline-start: 0;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}
.container__2994f {
  background: var(--background-surface-high);
  border: 1px solid var(--border-strong);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-high);
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
  padding: var(--space-12);
  width: 304px;
}
.header__2994f {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: var(--space-8);
  padding-inline-start: var(--space-8);
}
.closeButton__2994f {
  color: var(--interactive-text-default);
  cursor: pointer;
}
.body__2994f {
  align-items: center;
  display: flex;
  gap: var(--space-12);
}
.pill_ebc727 {
  align-items: center;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  background: linear-gradient(
    90deg,
    var(--custom-pill-gradient-start) 0,
    var(--custom-pill-gradient-end) 120%
  );
  border-radius: var(--radius-round);
  cursor: pointer;
  display: inline-flex;
  gap: 4px;
  height: 19px;
  padding: 0 8px;
}
.theme-light .pill_ebc727 {
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
  background: linear-gradient(
      90deg,
      var(--custom-pill-gradient-start) 0,
      var(--custom-pill-gradient-end) 120%
    ),
    var(--custom-pill-base-color);
}
.crepe_ebc727 {
  align-items: center;
  background: var(--custom-pill-crepe-bg);
  border-radius: var(--radius-round);
  cursor: pointer;
  display: inline-flex;
  gap: 4px;
  height: 19px;
  padding: 0 8px;
}
.rewardPill_b9d8f0 {
  align-items: center;
  align-self: flex-start;
  background-color: var(--background-mod-subtle);
  border-radius: var(--radius-round);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  padding: var(--space-4) var(--space-12);
  text-align: center;
}
.rewardName_b9d8f0 {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.divider_b9d8f0 {
  border-inline-start: 1px solid var(--border-subtle);
  height: 100%;
  margin: 0 var(--space-4);
}
.container_c4abe9 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: var(--space-24);
}
.heroAsset_c93f8c {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  transition: opacity 0.7s;
  width: auto;
}
.heroAssetCont_c93f8c {
  align-items: center;
  background-color: var(--background-base-low);
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.heroAssetCont_c93f8c,
.heroAssetVideo_c93f8c {
  inset-inline-start: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.heroAssetVideo_c93f8c {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: opacity 0.4s;
}
.partnerBranding__83420 {
  align-items: center;
  display: flex;
  flex: 0 1 auto;
}
.partnerBrandingGameTile__83420 {
  display: block;
  flex: 0 0 auto;
  margin-inline-end: 8px;
}
.partnerBrandingLogotype__83420 {
  height: 24px;
  max-width: 92px;
  -o-object-fit: contain;
  object-fit: contain;
}
.partnerBrandingLogotypeWithCosponsor__83420 {
  flex: 0 0 auto;
  max-width: 44px;
}
.cosponsorBrandSeparatorWrapper__83420 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
}
.cosponsorBrandSeparator__83420 {
  height: 12px;
  width: 12px;
}
.container_b5b7aa {
  background-color: var(--background-surface-high);
  border-radius: 8px 8px 0 0;
  box-sizing: border-box;
  height: 150px;
  position: relative;
  width: 100%;
}
.positionContentOverBackground_b5b7aa {
  inset-inline-start: 0;
  position: absolute;
  top: 0;
  z-index: 2;
}
.contents_b5b7aa,
.positionContentOverBackground_b5b7aa {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.contents_b5b7aa {
  box-sizing: border-box;
  padding: 12px;
}
.heroAssetWrapper_b5b7aa {
  align-items: center;
  border-radius: 8px 8px 0 0;
  display: flex;
  height: 100%;
  inset-inline-start: 0;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.heroAssetCont_b5b7aa,
.overlay_b5b7aa {
  aspect-ratio: 1320/370;
}
.overlay_b5b7aa {
  background: linear-gradient(
    to top,
    var(--background-surface-high) 0,
    color-mix(in oklab, var(--background-surface-high) 95%, transparent) 20.31%,
    transparent 100%
  );
  border-radius: 8px 8px 0 0;
  inset-inline-start: 0;
  max-height: 150px;
  position: absolute;
  top: 0;
  z-index: 1;
}
.heroImage_b5b7aa,
.overlay_b5b7aa {
  width: 100%;
}
.topRow_b5b7aa {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: flex-end;
}
.pills_b5b7aa {
  margin-inline-end: auto;
}
.pills_b5b7aa,
.utilButtonWrapper_b5b7aa {
  align-items: center;
  display: flex;
}
.utilButtonWrapper_b5b7aa {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background-color: hsl(var(--primary-700-hsl) / 0.48);
  border-radius: 50%;
  box-shadow: var(--shadow-medium);
  cursor: pointer;
  height: 24px;
  justify-content: center;
  justify-self: flex-end;
  transition: background-color 0.15s ease-in-out;
  width: 24px;
}
.utilButtonWrapper_b5b7aa:active,
.utilButtonWrapper_b5b7aa:focus,
.utilButtonWrapper_b5b7aa:hover {
  background-color: hsl(var(--primary-700-hsl) / 0.7);
}
.theme-light .container_b5b7aa {
  background-color: var(--black);
}
.theme-light .overlay_b5b7aa {
  background: linear-gradient(
    to top,
    var(--black) 0,
    hsl(var(--black-hsl) / 0.5) 20.31%,
    hsl(var(--black-hsl) / 0) 100%
  );
}
.theme-light .utilButtonWrapper_b5b7aa {
  background-color: hsl(var(--primary-100-hsl) / 0.66);
}
.theme-light .utilButtonWrapper_b5b7aa:active,
.theme-light .utilButtonWrapper_b5b7aa:focus,
.theme-light .utilButtonWrapper_b5b7aa:hover {
  background-color: hsl(var(--primary-100-hsl) / 1);
}
.reduce-motion .utilButtonWrapper_b5b7aa {
  transition: none;
}
.utilButtonIcon_b5b7aa {
  color: var(--interactive-text-active);
  height: 16px;
  width: 16px;
}
.utilButtonIconInformation_b5b7aa {
  color: var(--interactive-text-active);
  height: 14px;
  width: 14px;
}
.partnerBranding_b5b7aa {
  justify-self: flex-end;
  margin-bottom: 4px;
  margin-top: auto;
}
.partnerLogotypes_b5b7aa.partnerLogotypes_b5b7aa {
  align-items: flex-end;
  display: flex;
  height: auto;
  justify-content: flex-start;
  max-height: 34px;
  max-width: 121px;
  width: -moz-min-content;
  width: min-content;
}
.bottomRow_b5b7aa,
.hints_b5b7aa {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.hints_b5b7aa {
  border-top: 1px solid var(--border-muted);
  padding: 12px;
}
.hintsContainer_b5b7aa {
  gap: 8px;
}
.hintsContainer_b5b7aa,
.promotedByRow_b5b7aa {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.verifiedIcon_b5b7aa {
  margin: 0 3px;
}
.container_cec934 {
  align-items: center;
  background-color: var(--background-surface-high);
  border: 1px solid var(--border-muted);
  border-radius: 10px;
  box-shadow: var(--shadow-low);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  max-height: 316px;
  min-width: 336px;
  overflow: hidden;
  width: 100%;
}
.questEmbedCard__4d6dc {
  isolation: isolate;
  max-width: 425px;
}
.spinner__255ba {
  margin-top: 40px;
}
.wrapper_f7a803 {
  align-items: center;
  background-color: var(--background-base-lower);
  border-radius: 8px;
  color: var(--text-default);
  display: flex;
  gap: 8px;
  height: auto;
  margin-bottom: 8px;
  overflow: hidden;
  padding: 8px;
}
.copy_f7a803,
.wrapper_f7a803 {
  position: relative;
}
.copy_f7a803 {
  margin-bottom: 0;
}
.rewardTextRow_f7a803 {
  align-items: center;
  -moz-column-gap: 4px;
  column-gap: 4px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 4px;
}
.rewardTile_f7a803 {
  border-radius: 4px;
  flex: 0 0 auto;
  height: 58px;
  position: relative;
  width: 58px;
}
.wrapper__19b5e {
  align-items: center;
  background-color: var(--background-base-lowest);
  border-radius: 8px;
  box-shadow: var(--shadow-border), var(--shadow-high);
  box-sizing: border-box;
  display: flex;
  gap: 8px;
  inset-inline-start: 0;
  margin-inline-start: 16px;
  padding: 8px;
  position: absolute;
  top: 100%;
  width: 385px;
}
.wrapperAccepted__19b5e {
  width: 305px;
}
.rewardTileWrapper__19b5e {
  flex: 0 0 auto;
  height: 76px;
  position: relative;
  width: 76px;
}
.rewardTile__19b5e {
  border-radius: 4px;
  display: block;
}
.rewardTile__19b5e.rewardTile__19b5e {
  height: 100%;
  width: 100%;
}
.heading__19b5e .rewardTile__19b5e {
  flex: 0 0 auto;
  height: 38px;
  width: 38px;
}
.promotedTag__19b5e {
  box-sizing: border-box;
  inset-inline-start: 4px;
  position: absolute;
  text-align: center;
  width: calc(100% - 8px);
  word-break: break-word;
  z-index: 1;
}
.content__19b5e {
  flex: 1 1 auto;
}
.heading__19b5e {
  align-items: center;
  display: flex;
  gap: 8px;
  margin-bottom: 6px;
}
.headingWithSubmenu__19b5e {
  display: flex;
  gap: 4px;
  margin-bottom: 2px;
}
.questTitle__19b5e {
  flex: 1 1 auto;
  margin-inline-end: 24px;
}
.gameTile__19b5e {
  border-radius: 4px;
  flex: 0 0 auto;
  height: 38px;
  width: 38px;
}
.ctas__19b5e {
  display: flex;
  gap: 8px;
}
.submenuWrapper__19b5e {
  cursor: pointer;
  inset-inline-end: 8px;
  position: absolute;
  top: 8px;
}
.submenuIcon__19b5e {
  color: var(--interactive-text-default);
  height: 24px;
  width: 24px;
}
.submenuIcon__19b5e:focus,
.submenuIcon__19b5e:hover {
  color: var(--interactive-text-hover);
}
.submenuIcon__19b5e:active {
  color: var(--interactive-text-active);
}
.clipsEnabledIndicator__8c88a {
  display: flex;
  margin: 0 8px;
}
.clipBadgeText__8c88a {
}
.clipBadgeIcon__8c88a {
  padding-inline-start: 4px;
  width: var(--custom-clips-enabled-indicator-badge-icon-dimension-override);
}
@media (max-width: 920px) {
  .clipBadgeText__8c88a {
    display: none;
  }
  .clipBadgeIcon__8c88a {
    border-radius: var(--radius-sm);
    height: var(--custom-clips-enabled-indicator-badge-icon-dimension-override);
    padding: 2px;
  }
}
.wrapper__11054 {
  background-color: var(--background-base-low);
  border-radius: 0 0 8px 8px;
  cursor: default;
  padding: 12px;
}
.wrapper__11054:only-child {
  border-radius: 8px;
}
.submenuIcon__11054 {
  color: var(--interactive-text-default);
  cursor: pointer;
}
.submenuIcon__11054:focus,
.submenuIcon__11054:hover {
  color: var(--interactive-text-hover);
}
.submenuIcon__11054:active {
  color: var(--interactive-text-active);
}
.utils__11054 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}
.wrapperQuestAccepted__11054 .utils__11054 {
  align-items: flex-start;
}
.heading__11054 {
  align-items: center;
  display: flex;
  margin-bottom: 10px;
}
.headingGameTile__11054 {
  border-radius: 4px;
  flex: 0 0 auto;
  height: 32px;
  margin-inline-end: 8px;
  width: 32px;
}
.headingCopy__11054 {
  flex: 1 1 auto;
}
.instructions__11054 {
  margin-bottom: 12px;
}
.ctas__11054 {
  align-items: center;
  display: flex;
  gap: 12px;
}
.rewardTileWithInstructions__11054 {
  margin-inline: -8px;
}
.contentHeader__5b400 {
  justify-content: space-between;
  margin-bottom: 8px;
}
.contentHeader__5b400,
.refreshWrapper__5b400 {
  align-items: center;
  display: flex;
}
.refreshWrapper__5b400 {
  color: var(--text-muted);
  cursor: pointer;
  gap: 4px;
}
.refreshWrapper__5b400:hover {
  color: var(--interactive-text-hover);
}
.disabled__5b400 {
  color: var(--text-muted);
  pointer-events: none;
}
.colorTransition__5b400 {
  transition: color 0.15s ease-in-out;
}
.accountsWrapper__5b400 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.connectionRow__5b400 {
  border: 1px solid var(--border-subtle);
  border-radius: 8px;
  overflow: hidden;
}
.connectionRowHeader__5b400 {
  align-items: center;
  background-color: var(--background-base-low);
  display: flex;
  justify-content: space-between;
  padding: 10px 12px;
}
.connectionRowHeaderError__5b400 {
  background-color: hsl(var(--background-base-low-hsl) / 0.7);
}
.connectionRowHeaderContent__5b400 {
  align-items: center;
  display: flex;
  gap: 8px;
}
.success__5b400 {
  color: var(--text-feedback-positive);
}
.error__5b400 {
  color: var(--text-feedback-critical);
}
.gameTile__5b400 {
  height: 16px;
  width: 16px;
}
.errorRow__5b400 {
  align-items: center;
  border-top: 1px solid var(--border-subtle);
  display: flex;
  gap: 8px;
  padding: 10px 12px;
}
.errorsContainer__5b400 {
  background: linear-gradient(
    to bottom,
    hsl(var(--red-430-hsl) / 0.15),
    hsl(var(--red-430-hsl) / 0.02)
  );
}
.tooltip__5b400 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.placeholderElement__6e847 {
  background-color: var(--background-base-low);
  border-radius: 8px;
}
.container_f50ddc {
  padding: var(--space-16);
}
.heading_f50ddc {
  margin-bottom: 16px;
}
.subheading_f50ddc {
  margin-bottom: 8px;
}
.componentPreviews_f50ddc {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
}
.componentPreviewWrapper_f50ddc {
  border-width: 0;
}
.componentPreviewWrapperBordered_f50ddc {
  border-width: 1px;
  padding: 24px;
}
.componentPreview_f50ddc {
  isolation: isolate;
  position: relative;
}
.questBarPreviewWrapper_f50ddc {
  display: flex;
  flex-direction: column;
  height: 180px;
  place-content: flex-end;
}
.questBarPreview_f50ddc,
.questBarPreviewWrapper_f50ddc {
  position: relative;
  width: 362px;
}
.questChannelCallHeaderPreview_f50ddc > div {
  margin: 0;
  position: absolute;
  top: 0;
}
.toggleSwitch_f50ddc {
  align-items: center;
  padding: 0 16px;
}
.fields_f50ddc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  margin-bottom: 24px;
}
.fullWidthField_f50ddc {
  grid-column: 1/-1;
}
.fieldsVertical_f50ddc {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 100%;
}
.swatchContainer_f50ddc {
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  height: 48px;
  place-content: center;
  place-items: center;
  width: 48px;
}
.swatchIcon_f50ddc {
  color: var(--white);
  opacity: 0.5;
  transition: opacity 0.125s;
}
.swatchContainer_f50ddc:hover .swatchIcon_f50ddc {
  opacity: 0.75;
}
.errorBoundary_f50ddc {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: var(--space-16);
  place-content: center;
  place-items: center;
}
.errorBoundaryIcon_f50ddc {
  color: var(--text-strong);
  height: 24px;
  width: 24px;
}
.headingWithTooltip_f50ddc {
  display: flex;
  gap: 4px;
  place-items: center;
}
.errorMessageWrapper_f50ddc {
  background-color: var(--background-base-lower) !important;
  margin-top: 12px;
  padding: 12px;
}
.errorMessage_f50ddc {
  color: var(--text-default);
  text-align: start;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
}
.questTile_f50ddc {
  max-width: 450px;
}
.wideField_f50ddc {
  grid-column: span 2;
}
.badgeContainer_d5a27a {
  gap: var(--space-4);
}
.badge_d5a27a,
.badgeContainer_d5a27a {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.badge_d5a27a {
  -webkit-backdrop-filter: blur(22px);
  backdrop-filter: blur(22px);
  background-color: var(--control-overlay-secondary-background-default);
  border-radius: var(--radius-lg);
  gap: var(--space-6);
  padding: var(--space-4) var(--space-8);
  text-transform: uppercase;
}
.leadingText_d5a27a {
  font-variant-numeric: tabular-nums;
}
.bulletSeparator_d5a27a {
  font-size: 10px;
  opacity: 0.4;
}
.badgeTask_d5a27a {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.badgeIcon_d5a27a {
  color: #fff;
  display: inline-block;
  margin-inline-end: 2px;
}
.previewBadge_d5a27a {
  background-color: #fff;
  color: var(--text-overlay-dark);
}
.cta_bdbd5b {
  display: grid;
  grid-template-rows: 0fr;
  opacity: 0;
  transform: translateY(20%);
}
.full-motion .cta_bdbd5b {
  transition:
    grid-template-rows 0.25s ease,
    opacity 0.25s ease-out,
    transform 0.25s ease-out,
    margin-top 0.25s ease-out;
}
.ctaVisible_bdbd5b {
  grid-template-rows: 1fr;
  margin-top: var(--space-16);
  opacity: 1;
  transform: translateY(0);
}
.ctaContent_bdbd5b {
  min-height: 0;
  overflow: hidden;
  padding: var(--space-16);
  padding-top: 0;
}
.container_f346f8 {
  align-items: center;
  color: #dcdcdf;
  cursor: pointer;
  display: inline-flex;
  gap: 2px;
  padding-top: 2px;
}
.text_f346f8 {
  text-decoration: underline;
}
.reward_e3f38d {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--space-8);
  margin-bottom: var(--space-8);
  min-width: 0;
  padding: 0 var(--space-16);
}
.textContainer_e3f38d {
  flex: 1;
  min-width: 0;
}
.rewardTileContainer_e3f38d {
  flex-shrink: 0;
}
.questRewardTileWrapper_e3f38d {
  border-radius: var(--radius-xl);
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.questRewardTileWrapperUnenrolled_e3f38d {
  border-radius: var(--radius-md);
  height: 66px;
  margin-inline-end: var(--space-8);
  overflow: hidden;
  position: relative;
  width: 66px;
}
.questRewardTile_e3f38d {
  inset-inline-start: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.orbsBalanceIcon_e3f38d {
  margin-inline-end: 4px;
}
.gameTitle_e3f38d {
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.16))
    drop-shadow(0 0 1px rgba(255, 255, 255, 0.08))
    drop-shadow(0 1px 4px rgba(0, 0, 0, 0.16));
  margin-bottom: 1px;
  opacity: 0.8;
}
.rewardLine_e3f38d {
  align-items: center;
  display: flex;
  min-width: 0;
}
.rewardText_e3f38d {
  display: block;
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.16))
    drop-shadow(0 0 1px rgba(255, 255, 255, 0.08))
    drop-shadow(0 1px 4px rgba(0, 0, 0, 0.16));
  flex: 1;
  min-width: 0;
}
.questRewardTileOverlay_e3f38d {
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  height: 100%;
  inset-inline-start: 0;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
}
.questRewardTileCompletedIcon_e3f38d {
  color: #7bc270;
  opacity: 0.7;
}
.questRewardTileExpiredIcon_e3f38d {
  color: #9d9ea5;
}
.footerDescription__44846 {
  padding: 0 var(--space-20);
  padding-top: 0;
}
.questDescriptionText__44846 {
  color: var(--primary-230);
  line-height: 1.4;
  transition: 0.4s ease;
}
.questDescriptionText__44846 a {
  color: #1e97d8;
}
.footerPromotedRow__44846 {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--space-4);
}
.premiumRewardGradient__44846 {
  z-index: -1;
}
.container__6d3d8 {
  aspect-ratio: 395/286;
  border: 1px solid var(--border-muted);
  border-radius: var(--radius-lg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 250px;
  overflow: hidden;
  position: relative;
}
.featuredSection__6d3d8 {
  aspect-ratio: auto;
  border-radius: var(--radius-xl);
  height: 344px;
}
.heroBackground__6d3d8 {
  height: 75%;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
  position: absolute;
  transition: height 0.25s ease-out;
  width: 100%;
  z-index: -2;
}
.heroVideo__6d3d8 {
  opacity: 0;
  transition: opacity 0.4s ease;
}
.heroVideoVisible__6d3d8 {
  opacity: 1;
}
.scrim__6d3d8 {
  inset: 0;
  pointer-events: none;
  position: absolute;
  z-index: -1;
}
.scrimLight__6d3d8 {
  opacity: 0.9;
}
.scrim__6d3d8:before {
  content: "";
  inset: 0;
  position: absolute;
}
.scrimLight__6d3d8:before {
  background: linear-gradient(180deg, transparent 13.45%, #000 85.15%);
}
.scrimDark__6d3d8:before {
  background: linear-gradient(180deg, transparent 13.45%, #0b0b0e 85.15%);
}
.expiredScrim__6d3d8 {
  background: linear-gradient(to bottom, var(--black) 0, transparent 100%);
  inset: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  z-index: -1;
}
.expiredScrimVisible__6d3d8 {
  opacity: 0.6;
}
.header__6d3d8 {
  justify-content: space-between;
  padding: var(--space-16);
}
.header__6d3d8,
.headerActions__6d3d8 {
  align-items: center;
  display: flex;
}
.headerActions__6d3d8 {
  flex-direction: row;
  gap: var(--space-8);
}
.circularOverlayButton__6d3d8 {
  align-items: center;
  background-color: var(--control-overlay-secondary-background-default);
  border-radius: var(--radius-round);
  box-sizing: border-box;
  color: var(--control-overlay-secondary-text-default);
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: center;
  transition:
    background-color 50ms ease-in,
    color 50ms ease-in,
    opacity 0.25s ease-out,
    border-color 50ms ease-in;
  width: 32px;
}
.circularOverlayButton__6d3d8:hover {
  background-color: var(--control-overlay-secondary-background-hover);
  color: var(--control-overlay-secondary-text-hover);
  transition:
    background-color 0.15s ease-out,
    color 0.15s ease-out,
    border-color 0.15s ease-out;
}
.circularOverlayButton__6d3d8:active {
  background-color: var(--control-overlay-secondary-background-active);
  color: var(--control-overlay-secondary-text-active);
}
.heading_a10b43 {
  color: var(--text-strong);
  margin-bottom: var(--space-12);
}
.previewDescription_a10b43 {
  color: var(--text-muted);
  font-size: 12px;
  font-style: italic;
  margin-bottom: var(--space-16);
}
.memberListContainer_a10b43 {
  border-radius: var(--radius-md);
  display: flex;
  margin-top: var(--space-16);
  padding: var(--space-8) 0;
  width: 100%;
}
.minimalMemberItem_a10b43 {
  border-radius: var(--radius-sm);
  transition: background-color 0.1s ease;
  width: 240px;
}
.minimalMemberItem_a10b43:hover {
  background-color: var(--interactive-background-hover);
}
.minimalMemberItem_a10b43.selected_a10b43 {
  background-color: var(--interactive-background-selected);
}
.minimalMemberItem_a10b43 > * {
  cursor: pointer;
  padding: var(--space-8) var(--space-12);
  width: 100%;
}
.memberItemContent_a10b43 {
  align-items: center;
  display: flex;
  gap: var(--space-12);
  width: 100%;
}
.memberInfo_a10b43 {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 0;
}
.container_ba8a2f {
  height: 100%;
  width: 100%;
}
.clamp_ba8a2f {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  height: 100%;
  width: 790px;
}
.controlsBarContainer_ba8a2f {
  margin-bottom: var(--space-sm);
  width: 90%;
}
.progressBar_ba8a2f {
  border-radius: 4px;
  height: 8px;
  overflow: hidden;
  position: relative;
}
.progressBarFill_ba8a2f {
  background: linear-gradient(90deg, var(--brand-500) 0, var(--brand-360) 100%);
  border-radius: 4px;
  height: 100%;
  inset-inline-start: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.contentArea_ba8a2f {
  border-radius: 8px;
  flex: 1;
  z-index: 1;
}
.content_ba8a2f,
.contentArea_ba8a2f {
  overflow: visible;
  position: relative;
}
.content_ba8a2f {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
}
.questHeading_e40371 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  opacity: 0.9;
}
.contentFooter_e40371 {
  box-sizing: border-box;
  flex-shrink: 0;
  justify-content: space-between;
  padding: 16px var(--custom-footer-horizontal-padding);
  width: 100%;
}
.contentFooter_e40371,
.contentFooterButtonCont_e40371 {
  align-items: center;
  display: flex;
  gap: 12px;
}
.contentFooterButtonCont_e40371 {
  flex-direction: row;
  justify-content: flex-end;
}
.claimBtn_e40371,
.portraitCtaBtn_e40371 {
  margin-top: 0 !important;
}
.portraitCtaBtnWrapper_e40371 {
  flex: 1;
}
.orbClaimCopy_e40371 {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  gap: 3px;
}
.dotSpacer_e40371 {
  background-color: var(--border-strong);
  border-radius: 50%;
  display: inline-flex;
  flex-shrink: 0;
  height: 4px;
  margin-inline: 2px;
  vertical-align: middle;
  width: 4px;
}
.dotSpacerPortrait_e40371 {
  margin-inline-end: 4px;
  margin-inline-start: 0;
}
.adDetailsTextPrimary_e40371 {
  display: flex;
  flex-shrink: 0;
}
.adDetailsTextPrimaryPortrait_e40371 {
  display: inline-flex;
  vertical-align: middle;
}
.addFourPxMarginRight_e40371 {
  margin-inline-end: 4px;
}
.adDetailsTextSecondary_e40371 {
  flex-shrink: 1;
  min-width: 0;
}
.adDetailsTextSecondaryPortrait_e40371 {
  display: inline;
  vertical-align: middle;
}
.contentHeaderGameInfoHoverable_e40371 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-top: 4px;
  padding-inline: 10px;
  padding-bottom: 4px;
  padding-inline-start: 8px;
}
.contentHeaderGameInfoHoverable_e40371:hover {
  background-color: var(--background-mod-subtle);
  border-radius: 10px;
}
.contentHeaderGameInfoHoverableExpired_e40371 {
  margin-top: -4px;
  margin-inline: -10px;
  margin-bottom: -4px;
  margin-inline-start: -8px;
}
.portraitCtaBtnWrapper_e40371 {
  min-width: 0;
}
.contentFooterPortrait_e40371 {
  align-items: center;
  background-color: var(--background-base-lower);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  padding: 16px var(--custom-footer-horizontal-padding);
}
.portraitContentRow_e40371 {
  align-items: flex-start;
  display: flex;
  gap: 8px;
  width: 100%;
}
.contentFooterAdInfo_e40371 {
  align-items: center;
  gap: 8px;
  justify-content: flex-start;
}
.adInfoClickable_e40371,
.contentFooterAdInfo_e40371 {
  display: flex;
  min-width: 0;
}
.portraitButtonsContainer_e40371 {
  display: flex;
  gap: 12px;
  width: 100%;
}
.portraitButtonRow_e40371 {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 8px;
  width: 100%;
}
.contentFooterAdDetailedInfo_e40371 {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 4px;
  width: 100%;
}
.contentFooterAdDetailedInfoPortrait_e40371 {
  display: inline;
}
.progressWrapper__32661 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5px;
  position: relative;
}
.confetti__32661 {
  inset: 0;
  margin: auto;
  position: absolute;
  transform: scale(2);
  z-index: 1;
}
.progressCont__32661 {
  display: flex;
  flex-direction: column;
  margin-inline-start: auto;
}
.unreadCount__23463 {
  background: var(--interactive-text-default);
  border-radius: 999px;
  box-sizing: border-box;
  color: var(--black);
  flex-shrink: 0;
  font-weight: var(--font-weight-semibold);
  height: 16px;
  margin-inline-start: -12px;
  min-width: 16px;
  padding: 0 4px;
  text-align: center;
  width: auto;
}
.mention__23463 {
  background: var(--background-feedback-notification);
  color: var(--white);
}
.circularButton__92e4b {
  background: var(--background-gradient-lowest, var(--background-mod-normal));
  border-radius: 20px;
  height: 40px;
  width: 40px;
}
.wrapper__92e4b {
  display: flex;
  min-width: 32px;
  position: relative;
  width: auto;
}
.wrapper__92e4b svg {
  flex-shrink: 0;
}
.badge__92e4b {
  flex-grow: 0;
  flex-shrink: 1;
  inset-inline-end: -4px;
  position: absolute;
  top: -4px;
}
.iframe__49094 {
  height: 100%;
  width: 100%;
}
.wrapper__49094 {
  background-color: #000;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  z-index: 2;
}
.wrapper__49094.resizable__49094 {
  height: 65%;
}
.wrapper__49094.noChat__49094 {
  height: 100%;
  max-height: 100%;
}
.activityPanelContainer__49094 {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.header__49094 {
  padding: 14px 8px;
}
.footer__49094,
.header__49094 {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.footer__49094 {
  justify-content: space-between;
  padding: 12px 24px;
}
.minimizeContainer__49094 {
  flex: 0;
}
.circularButton__49094 {
  background: var(--background-mod-normal);
  border-radius: 20px;
  height: 40px;
  width: 40px;
}
.minimizeIcon__49094 {
  height: 20px;
  width: 20px;
}
.headerTitle__49094 {
  flex: 1;
  text-align: center;
}
.leaveButtonContainer__49094 {
  margin: 0 16px;
}
.activityContainer__49094 {
  align-items: center;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  margin: 24px;
}
.activityContainerNoMargin__49094 {
  margin: 0;
}
.leaveActivityIcon__49094 {
  height: 20px;
  width: 20px;
}
.leaveActivityButton__49094 {
  height: 40px;
  width: 40px;
}
.footerButtons__49094 {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
}
.flex__49094 {
  flex: 1;
}
.avatar__49094 {
  border-radius: 50%;
  height: 32px;
  width: 32px;
}
.buttonSection__49094 {
  align-items: center;
  background: var(--plum-23);
  border: 1px solid hsl(var(--plum-11-hsl) / 0.06);
  border-radius: 12px;
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 4px;
}
.contextlessHeader__49094 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: var(--space-12) var(--space-16);
}
.contextlessHeaderLeft__49094 {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--space-8);
}
.contextlessInviteButtonIcon__49094 {
  height: 16px;
  width: 16px;
}
.contextlessLeaveActivityButton__49094 {
  border-radius: 8px;
  padding: var(--space-4);
}
.contextlessLeaveActivityButtonIcon__49094 {
  padding: var(--space-4) var(--space-8);
}
.fortniteUpsellModalButton__49094 {
  background: var(--plum-23);
  border: 1px solid hsl(var(--plum-11-hsl) / 0.06);
  border-radius: 12px;
  margin-inline-end: var(--space-24);
  padding: 4px;
}
.searchHeader_ae7890 {
  align-items: center;
  background: none;
  border-bottom: 1px solid var(--border-subtle);
  box-sizing: border-box;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  height: auto;
  padding: var(--space-8) var(--space-16);
  position: relative;
  z-index: 2;
}
.searchHeaderWithSubtitle_ae7890 {
  min-height: 58px;
}
.searchModeAndFiltersContainer_ae7890 {
  align-items: center;
  display: flex;
  gap: 8px;
}
.searchModeSelect_ae7890 {
  background-color: var(--background-mod-muted);
  border: 1px solid var(--border-subtle);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-low);
  min-height: 28px;
  padding: 5px 10px;
}
.searchHeaderTabList_ae7890 {
  align-items: center;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(3, min-content);
}
.searchHeaderTabList_ae7890 .searchHeaderTab_ae7890 {
  margin-bottom: 0;
}
.helpdeskLink_ae7890 {
  color: var(--interactive-text-default);
}
.helpdeskLink_ae7890:hover {
  color: var(--interactive-text-hover);
  text-decoration: underline;
}
.totalResultsWrapper_ae7890 {
  display: flex;
}
.totalResults_ae7890 {
  display: flex;
  flex-grow: 1;
  font-weight: var(--font-weight-semibold);
  padding-inline-end: 1px;
}
.totalResultsWithSubtitle_ae7890 {
  display: flex;
  flex-direction: column;
  padding: 2px 0;
}
.spinnerWrapper_ae7890 {
  align-items: center;
  display: flex;
  flex: 0;
  height: 16px;
  justify-content: center;
  margin-inline-start: 8px;
  stroke: var(--text-default);
  width: 16px;
}
.spinner_ae7890 {
  height: 100%;
  width: 100%;
}
.spinnerPath_ae7890 {
  stroke: var(--text-default);
}
.searchResultsWrap_a98f3b {
  background: var(--background-gradient-lowest, var(--background-base-lowest));
  border-inline-start: 1px solid var(--app-frame-border);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 418px;
}
.scroller_a98f3b {
  padding: 16px 16px 0;
}
.emptyResultsWrap_a98f3b {
  align-items: center;
  box-sizing: border-box;
  color: var(--text-default);
  display: flex;
  flex: 1;
  font-size: 16px;
  font-weight: var(--font-weight-medium);
  height: 100%;
  justify-content: center;
  line-height: 24px;
  padding: 20px;
  text-align: center;
}
.emptyResultsContent_a98f3b {
  margin: auto;
  padding-bottom: 40px;
  position: relative;
}
.emptyResultsText_a98f3b {
  font-size: 16px;
  font-weight: var(--font-weight-medium);
  margin: 40px auto 0;
}
.stillIndexing_a98f3b {
  width: 300px;
}
.noResultsImage_a98f3b {
  filter: saturate(var(--saturation-factor, 1));
}
.errorImage_a98f3b,
.noResultsImage_a98f3b {
  height: 160px;
  margin: 0 auto;
  width: 160px;
}
.errorMessage_a98f3b {
  width: 300px;
}
.noResults_a98f3b {
  width: 280px;
}
.noResults_a98f3b.alt_a98f3b {
  width: 200px;
}
.helpMessageContainer_a98f3b {
  margin-bottom: 16px;
}
.theme-dark .errorImage_a98f3b {
  background-image: url(/assets/c451b132a4f69f5b.svg);
}
.theme-light .errorImage_a98f3b {
  background: url(/assets/5153f8efac26047f.svg);
}
.images-light .noResultsImage_a98f3b {
  background-image: url(/assets/1fa1021e7db304e1.svg);
}
.images-light .noResultsImage_a98f3b.alt_a98f3b {
  background-image: url(/assets/e83b7cd64938e9cb.svg);
}
.images-dark .noResultsImage_a98f3b {
  background-image: url(/assets/0dfcd735f1a5349c.svg);
}
.images-dark .noResultsImage_a98f3b.alt_a98f3b {
  background-image: url(/assets/140c2a4c9ce5623d.svg);
}
.paginationLimitHeader_a98f3b {
  margin-bottom: 16px;
}

/*# sourceMappingURL=49391.f0f1fa04d0434afe.css.map*/
