.container_aa69cc {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  padding: var(--space-12) 0;
}
.content_aa69cc,
.tabBar_aa69cc {
  padding: 0 var(--space-12);
}
.iconContainer__0ecc4 {
  align-items: center;
  color: var(--text-default);
  display: flex;
  justify-content: center;
}
.iconContainer__0ecc4 > foreignObject {
  align-items: center;
  background: linear-gradient(
      0deg,
      var(--background-mod-strong, hsla(240, 4%, 61%, 0.24)) 0,
      var(--background-mod-strong, hsla(240, 4%, 61%, 0.24)) 100%
    ),
    var(--background-surface-high);
  display: flex;
  justify-content: center;
}
.textContainer__0ecc4 {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}
.guildRowIcon__7db08 {
  flex-shrink: 0;
}
.guildRowSwitch__7db08 {
  flex: 1;
  min-width: 0;
}
.guildRowSwitch__7db08 label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.controlsContainer__7db08 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 32px;
}
.sortDropdown__7db08 {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: var(--space-4);
}
.guildsList__7db08 {
  padding-bottom: var(--space-24);
}
.guildsList__7db08,
.wrapper__7db08 {
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
}
.wrapper__7db08 {
  margin-top: calc(var(--space-16) * -1);
}
.noResultsContainer__7db08 {
  align-items: center;
  display: flex;
  height: 736px;
  justify-content: center;
}
.noResultsText__7db08 {
  color: var(--text-muted);
  text-transform: capitalize;
}
.headerContainer__7db08 {
  background-color: var(--background-base-low);
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
  padding-top: var(--space-16);
  position: sticky;
  top: 0;
  z-index: 1;
}
.notice__192be {
  margin-bottom: calc(var(--space-16) * -1);
}
.privacyTermsCard__4d63d {
  padding: var(--space-20);
}
.enableOverlayItemAction_ef8d95 {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: flex-end;
}
.collapseable_ef8d95 {
  background-color: var(--background-base-lower);
  border: 1px solid var(--background-mod-muted);
  border-radius: var(--radius-sm);
  overflow: hidden;
}
.notificationSettingsContainer_ef8d95 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 12px 0;
}
.notificationSettingsContainer_ef8d95 .notificationItem_ef8d95 {
  align-items: center;
  border-bottom: 1px solid var(--background-mod-muted);
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: space-between;
  padding: 8px 0;
}
.notificationSettingsContainer_ef8d95
  .notificationItem_ef8d95
  .notificationDescriptionContainer_ef8d95 {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.groupContainer_ef8d95,
.mainCollapseableContainer_ef8d95 {
  background-color: var(--background-base-lower);
}
.groupContainer_ef8d95 {
  border-radius: var(--radius-sm);
  flex: 1;
  overflow: hidden;
  transition: background-color 0.1s ease-in-out;
}
.groupWarning_ef8d95 {
  cursor: default;
}
.standaloneContainer_ef8d95 {
  background-color: var(--background-base-lower);
  border: 1px solid var(--background-mod-muted);
  border-radius: var(--radius-sm);
}
.groupCollapsedContainer_ef8d95 {
  align-items: stretch;
  background-color: var(--background-base-lower);
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 8px;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 1;
}
.groupCollapsed_ef8d95,
.groupCollapsedAction_ef8d95 {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.groupCollapsedAction_ef8d95 {
  gap: 8px;
}
.emptySpacer_ef8d95 {
  height: 20px;
  width: 20px;
}
.playingDot_ef8d95 {
  background-color: var(--text-feedback-positive);
  border-radius: 50%;
  height: 8px;
  margin: 2px;
  width: 8px;
}
.groupHeader_ef8d95 {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: flex-start;
  padding: 8px 16px;
}
.expandedContainer_ef8d95,
.groupHeader_ef8d95 {
  background-color: var(--background-base-lowest);
}
.groupContent_ef8d95 {
  gap: 12px;
  justify-content: space-between;
  padding: 16px 16px 12px;
}
.groupContent_ef8d95,
.groupTitle_ef8d95 {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.groupTitle_ef8d95 {
  gap: 4px;
  justify-content: flex-start;
}
.groupIcon_ef8d95 {
  align-items: center;
  display: flex;
  justify-content: center;
}
.groupMainContent_ef8d95 {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2px;
}
.subtitleContainer_ef8d95 {
  padding: 12px 16px 4px;
}
.scroller_ef8d95 {
  max-height: 30vh;
}
.groupAction_ef8d95 {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: flex-end;
}
.gameIcon_ef8d95 {
  height: 32px;
  width: 32px;
}
.overlayEnabledSettingsContainer_ef8d95 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px 0;
}
.limitedInteractionOverrideContainer_ef8d95 {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0;
}
.settingsDivider_ef8d95 {
  background-color: var(--background-mod-muted);
  height: 1px;
  margin: 16px 0;
  width: 100%;
}
.rowContainer_ef8d95 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 12px;
  justify-content: space-between;
}
.keybindRecorderContainer_ef8d95 {
  flex-basis: 50%;
  max-width: 280px;
}
.keybindHeaderContainer_ef8d95 {
  flex-basis: auto;
}
.keybindMainContainer_ef8d95 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 4px;
  justify-content: flex-start;
}
.keybindAdminWarning_ef8d95 {
  padding-bottom: 8px;
  padding-top: 4px;
}
.keybindContainer_ef8d95 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 8px;
  justify-content: space-between;
  width: 100%;
}
.voiceSettingsContainer_ef8d95 {
  display: grid;
  gap: 24px;
  grid-template-columns: calc(35% - 24px) calc(35% - 24px) 30%;
  grid-template-rows: repeat(2, auto);
}
.voiceSettingsContainer_ef8d95 > :nth-child(3) {
  grid-column: 3;
  grid-row: 1 / span 2;
}
.voiceWidgetContainer_ef8d95 {
  align-items: flex-start;
  background: rgba(0, 0, 0, 0.16);
  border: 1px dashed hsla(0, 0%, 100%, 0.16);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px;
  width: 100%;
}
.widgetSettingsContainer_ef8d95 {
  align-items: center;
  background-color: var(--background-mod-subtle);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 270px;
  padding: 32px;
  width: 100%;
}
.widgetContainer_ef8d95 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-inline-start: 24px;
}
.select_ef8d95 {
  width: 100%;
}
.widgetHeaderContainer_ef8d95 {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.sliderContainer_ef8d95 {
  padding-inline-start: 4px;
  width: 100%;
}
.formItemTitle_ef8d95 {
  margin-bottom: 4px;
}
.systemServiceWarning_ef8d95 {
  flex-shrink: 1;
  margin-inline: 16px;
  margin-bottom: 16px;
  margin-top: 4px;
}

/*# sourceMappingURL=49905.bbcd125ffc6c5952.css.map*/
