.tag_ed9123 {
  align-items: center;
  border-radius: var(--radius-sm);
  box-sizing: border-box;
  display: inline-flex;
  height: 20px;
  justify-content: center;
  position: relative;
  width: 20px;
}
.container_a88956 {
  height: 100%;
  position: relative;
  width: 100%;
}
.backgroundSvg_a88956 {
  -webkit-backdrop-filter: blur(var(--custom-backdrop-blur-amount));
  backdrop-filter: blur(var(--custom-backdrop-blur-amount));
  border-radius: 50%;
  position: absolute;
  z-index: 0;
}
.backgroundSvg_a88956,
.svg_a88956 {
  height: 100%;
  width: 100%;
}
.svg_a88956 {
  position: relative;
  z-index: 1;
}
.overlay_a88956 {
  align-items: center;
  display: flex;
  inset-inline-start: 50%;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.badgeImageContainer__9953c {
  position: relative;
}
.compact__9953c {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}
.badgeImage__9953c {
  display: block;
  height: 90px;
}
.compact__9953c .badgeImage__9953c {
  max-height: 100%;
  max-width: 100%;
}
.progressCircleContainer__9953c {
  bottom: 0;
  height: 34px;
  inset-inline-end: -6px;
  position: absolute;
  width: 34px;
}
.content__45458 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0 var(--space-12) var(--space-16);
  position: relative;
  width: 200px;
}
.rarityCorner__45458 {
  inset-block-start: var(--space-12);
  inset-inline-end: var(--space-12);
  position: absolute;
  z-index: 1;
}
.content__45458:not(:has(.body__45458)) {
  padding-block-end: var(--space-24);
}
.graphic__45458 {
  display: flex;
  height: 64px;
  justify-content: center;
  margin: var(--space-16) auto 0;
}
.graphicAnimated__45458 {
  position: relative;
  transform: scale(1.4);
  z-index: 0;
}
.titleGroup__45458 {
  margin-top: var(--space-16);
  position: relative;
  z-index: 1;
}
.title__45458 {
  font-family: var(--font-display-marketing-header);
  font-size: 16px;
  font-weight: 900;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  word-wrap: break-word;
  width: 100%;
}
.titleNitro__45458 {
  font-style: italic;
}
.body__45458,
.eyebrow__45458 {
  text-align: center;
  width: 100%;
}
.popover__2ee1b {
}
.popoverGradientWrapper__2ee1b {
}
.popoverContentWithGradient__2ee1b {
}
.closeButton__2ee1b {
}
.header__2ee1b {
  gap: 2px;
  margin-bottom: 0;
  margin-top: var(--space-20);
}
.headerWithBadge__2ee1b {
}
.badgeContainer__2ee1b {
}
.content__2ee1b {
}
.footer__2ee1b {
}
.footerText__2ee1b {
}
.footerLink__2ee1b {
}
.actionBar__2ee1b {
  margin-top: var(--space-16);
}
.actions__2ee1b {
}
.multistepIndicator__2ee1b {
}
.multistepActionLayout__2ee1b {
}
.caretIcon__2ee1b {
}
.graphic__2ee1b {
  margin-bottom: calc(var(--space-6) * -1);
  margin-top: 0;
}
.graphic--sm__2ee1b {
}
.graphic--md__2ee1b {
}
.graphic--lg__2ee1b {
}
.graphic--video__2ee1b {
}
.title__2ee1b {
  color: var(--text-strong);
  font-family: var(--font-display-marketing-header);
  font-size: 21px;
  font-style: italic;
  font-weight: 900;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  word-wrap: break-word;
  width: 100%;
}
.headerBody__2ee1b {
  width: 90%;
}
.caretHoverable__2ee1b {
  pointer-events: auto;
}
.tooltipContainer__7bebc {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px 8px 4px;
}
.tooltipWordmarkContainer__7bebc {
  margin-top: 8px;
}
.tooltipDescription_cd30d9 {
  margin-top: var(--space-4);
}
.tooltipWordmark_cd30d9 {
  color: var(--text-muted);
}
.heading-sm\/normal_d4ff11 {
  font-family: var(--font-display);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.2857142857142858;
}
.heading-sm\/normal_d4ff11.fontScaling_d4ff11 {
  font-size: 0.875rem;
}
.heading-sm\/medium_d4ff11 {
  font-family: var(--font-display);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.2857142857142858;
}
.heading-sm\/medium_d4ff11.fontScaling_d4ff11 {
  font-size: 0.875rem;
}
.heading-sm\/semibold_d4ff11 {
  font-family: var(--font-display);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
.heading-sm\/semibold_d4ff11.fontScaling_d4ff11 {
  font-size: 0.875rem;
}
.heading-sm\/bold_d4ff11 {
  font-family: var(--font-display);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.2857142857142858;
}
.heading-sm\/bold_d4ff11.fontScaling_d4ff11 {
  font-size: 0.875rem;
}
.heading-sm\/extrabold_d4ff11 {
  font-family: var(--font-display);
  font-size: 0.875rem;
  font-weight: 800;
  line-height: 1.2857142857142858;
}
.heading-sm\/extrabold_d4ff11.fontScaling_d4ff11 {
  font-size: 0.875rem;
}
.heading-md\/normal_d4ff11 {
  font-family: var(--font-display);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
}
.heading-md\/normal_d4ff11.fontScaling_d4ff11 {
  font-size: 1rem;
}
.heading-md\/medium_d4ff11 {
  font-family: var(--font-display);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
}
.heading-md\/medium_d4ff11.fontScaling_d4ff11 {
  font-size: 1rem;
}
.heading-md\/semibold_d4ff11 {
  font-family: var(--font-display);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
}
.heading-md\/semibold_d4ff11.fontScaling_d4ff11 {
  font-size: 1rem;
}
.heading-md\/bold_d4ff11 {
  font-family: var(--font-display);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25;
}
.heading-md\/bold_d4ff11.fontScaling_d4ff11 {
  font-size: 1rem;
}
.heading-md\/extrabold_d4ff11 {
  font-family: var(--font-display);
  font-size: 1rem;
  font-weight: 800;
  line-height: 1.25;
}
.heading-md\/extrabold_d4ff11.fontScaling_d4ff11 {
  font-size: 1rem;
}
.heading-lg\/normal_d4ff11 {
  font-family: var(--font-display);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.2;
}
.heading-lg\/normal_d4ff11.fontScaling_d4ff11 {
  font-size: 1.25rem;
}
.heading-lg\/medium_d4ff11 {
  font-family: var(--font-display);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
}
.heading-lg\/medium_d4ff11.fontScaling_d4ff11 {
  font-size: 1.25rem;
}
.heading-lg\/semibold_d4ff11 {
  font-family: var(--font-display);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
}
.heading-lg\/semibold_d4ff11.fontScaling_d4ff11 {
  font-size: 1.25rem;
}
.heading-lg\/bold_d4ff11 {
  font-family: var(--font-display);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2;
}
.heading-lg\/bold_d4ff11.fontScaling_d4ff11 {
  font-size: 1.25rem;
}
.heading-lg\/extrabold_d4ff11 {
  font-family: var(--font-display);
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 1.2;
}
.heading-lg\/extrabold_d4ff11.fontScaling_d4ff11 {
  font-size: 1.25rem;
}
.heading-xl\/normal_d4ff11 {
  font-family: var(--font-display);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.25;
}
.heading-xl\/normal_d4ff11.fontScaling_d4ff11 {
  font-size: 1.5rem;
}
.heading-xl\/medium_d4ff11 {
  font-family: var(--font-display);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.25;
}
.heading-xl\/medium_d4ff11.fontScaling_d4ff11 {
  font-size: 1.5rem;
}
.heading-xl\/semibold_d4ff11 {
  font-family: var(--font-display);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.25;
}
.heading-xl\/semibold_d4ff11.fontScaling_d4ff11 {
  font-size: 1.5rem;
}
.heading-xl\/bold_d4ff11 {
  font-family: var(--font-display);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.25;
}
.heading-xl\/bold_d4ff11.fontScaling_d4ff11 {
  font-size: 1.5rem;
}
.heading-xl\/extrabold_d4ff11 {
  font-family: var(--font-display);
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.25;
}
.heading-xl\/extrabold_d4ff11.fontScaling_d4ff11 {
  font-size: 1.5rem;
}
.heading-xxl\/normal_d4ff11 {
  font-family: var(--font-display);
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
}
.heading-xxl\/normal_d4ff11.fontScaling_d4ff11 {
  font-size: 2rem;
}
.heading-xxl\/medium_d4ff11 {
  font-family: var(--font-display);
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.25;
}
.heading-xxl\/medium_d4ff11.fontScaling_d4ff11 {
  font-size: 2rem;
}
.heading-xxl\/semibold_d4ff11 {
  font-family: var(--font-display);
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
}
.heading-xxl\/semibold_d4ff11.fontScaling_d4ff11 {
  font-size: 2rem;
}
.heading-xxl\/bold_d4ff11 {
  font-family: var(--font-display);
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.25;
}
.heading-xxl\/bold_d4ff11.fontScaling_d4ff11 {
  font-size: 2rem;
}
.heading-xxl\/extrabold_d4ff11 {
  font-family: var(--font-display);
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.25;
}
.heading-xxl\/extrabold_d4ff11.fontScaling_d4ff11 {
  font-size: 2rem;
}
.experimental\/heading-xs\/medium_d4ff11 {
  font-family: var(--font-display);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.2857142857142858;
}
.experimental\/heading-xs\/medium_d4ff11.fontScaling_d4ff11 {
  font-size: 0.875rem;
}
.experimental\/heading-xs\/semibold_d4ff11 {
  font-family: var(--font-display);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
.experimental\/heading-xs\/semibold_d4ff11.fontScaling_d4ff11 {
  font-size: 0.875rem;
}
.experimental\/heading-sm\/medium_d4ff11 {
  font-family: var(--font-display);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
}
.experimental\/heading-sm\/medium_d4ff11.fontScaling_d4ff11 {
  font-size: 1rem;
}
.experimental\/heading-sm\/semibold_d4ff11 {
  font-family: var(--font-display);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
}
.experimental\/heading-sm\/semibold_d4ff11.fontScaling_d4ff11 {
  font-size: 1rem;
}
.experimental\/heading-md\/medium_d4ff11 {
  font-family: var(--font-display);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.2222222222222223;
}
.experimental\/heading-md\/medium_d4ff11.fontScaling_d4ff11 {
  font-size: 1.125rem;
}
.experimental\/heading-md\/semibold_d4ff11 {
  font-family: var(--font-display);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.2222222222222223;
}
.experimental\/heading-md\/semibold_d4ff11.fontScaling_d4ff11 {
  font-size: 1.125rem;
}
.experimental\/heading-lg\/medium_d4ff11 {
  font-family: var(--font-display);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
}
.experimental\/heading-lg\/medium_d4ff11.fontScaling_d4ff11 {
  font-size: 1.25rem;
}
.experimental\/heading-lg\/semibold_d4ff11 {
  font-family: var(--font-display);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
}
.experimental\/heading-lg\/semibold_d4ff11.fontScaling_d4ff11 {
  font-size: 1.25rem;
}
.experimental\/heading-xl\/medium_d4ff11 {
  font-family: var(--font-display);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
.experimental\/heading-xl\/medium_d4ff11.fontScaling_d4ff11 {
  font-size: 1.5rem;
}
.experimental\/heading-xl\/semibold_d4ff11 {
  font-family: var(--font-display);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
.experimental\/heading-xl\/semibold_d4ff11.fontScaling_d4ff11 {
  font-size: 1.5rem;
}
.experimental\/heading-xxl\/medium_d4ff11 {
  font-family: var(--font-display);
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.25;
}
.experimental\/heading-xxl\/medium_d4ff11.fontScaling_d4ff11 {
  font-size: 2rem;
}
.experimental\/heading-xxl\/semibold_d4ff11 {
  font-family: var(--font-display);
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
}
.experimental\/heading-xxl\/semibold_d4ff11.fontScaling_d4ff11 {
  font-size: 2rem;
}
.eyebrow_d4ff11 {
  font-family: var(--font-display);
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.3333333333333333;
  text-transform: uppercase;
}
.eyebrow_d4ff11,
.eyebrow_d4ff11.fontScaling_d4ff11 {
  font-size: 0.75rem;
}
.heading-deprecated-12\/normal_d4ff11 {
  font-family: var(--font-display);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
.heading-deprecated-12\/normal_d4ff11.fontScaling_d4ff11 {
  font-size: 0.75rem;
}
.heading-deprecated-12\/medium_d4ff11 {
  font-family: var(--font-display);
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
.heading-deprecated-12\/medium_d4ff11.fontScaling_d4ff11 {
  font-size: 0.75rem;
}
.heading-deprecated-12\/semibold_d4ff11 {
  font-family: var(--font-display);
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
.heading-deprecated-12\/semibold_d4ff11.fontScaling_d4ff11 {
  font-size: 0.75rem;
}
.heading-deprecated-12\/bold_d4ff11 {
  font-family: var(--font-display);
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.3333333333333333;
}
.heading-deprecated-12\/bold_d4ff11.fontScaling_d4ff11 {
  font-size: 0.75rem;
}
.heading-deprecated-12\/extrabold_d4ff11 {
  font-family: var(--font-display);
  font-size: 0.75rem;
  font-weight: 800;
  line-height: 1.3333333333333333;
}
.heading-deprecated-12\/extrabold_d4ff11.fontScaling_d4ff11 {
  font-size: 0.75rem;
}
.redesign\/heading-18\/medium_d4ff11 {
  font-family: var(--font-display);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
.redesign\/heading-18\/medium_d4ff11.fontScaling_d4ff11 {
  font-size: 1.125rem;
}
.redesign\/heading-18\/semibold_d4ff11 {
  font-family: var(--font-display);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
.redesign\/heading-18\/semibold_d4ff11.fontScaling_d4ff11 {
  font-size: 1.125rem;
}
.redesign\/heading-18\/bold_d4ff11 {
  font-family: var(--font-display);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.3333333333333333;
}
.redesign\/heading-18\/bold_d4ff11.fontScaling_d4ff11 {
  font-size: 1.125rem;
}
.text-xxs\/normal_d4ff11 {
  font-family: var(--font-primary);
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 1.2;
}
.text-xxs\/normal_d4ff11.fontScaling_d4ff11 {
  font-size: 0.625rem;
}
.text-xxs\/medium_d4ff11 {
  font-family: var(--font-primary);
  font-size: 0.625rem;
  font-weight: 500;
  line-height: 1.2;
}
.text-xxs\/medium_d4ff11.fontScaling_d4ff11 {
  font-size: 0.625rem;
}
.text-xxs\/semibold_d4ff11 {
  font-family: var(--font-primary);
  font-size: 0.625rem;
  font-weight: 600;
  line-height: 1.2;
}
.text-xxs\/bold_d4ff11,
.text-xxs\/semibold_d4ff11.fontScaling_d4ff11 {
  font-size: 0.625rem;
}
.text-xxs\/bold_d4ff11 {
  font-family: var(--font-primary);
  font-weight: 700;
  line-height: 1.2;
}
.text-xxs\/bold_d4ff11.fontScaling_d4ff11 {
  font-size: 0.625rem;
}
.text-xs\/normal_d4ff11 {
  font-family: var(--font-primary);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
.text-xs\/normal_d4ff11.fontScaling_d4ff11 {
  font-size: 0.75rem;
}
.text-xs\/medium_d4ff11 {
  font-family: var(--font-primary);
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
.text-xs\/medium_d4ff11.fontScaling_d4ff11 {
  font-size: 0.75rem;
}
.text-xs\/semibold_d4ff11 {
  font-family: var(--font-primary);
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
.text-xs\/bold_d4ff11,
.text-xs\/semibold_d4ff11.fontScaling_d4ff11 {
  font-size: 0.75rem;
}
.text-xs\/bold_d4ff11 {
  font-family: var(--font-primary);
  font-weight: 700;
  line-height: 1.3333333333333333;
}
.text-xs\/bold_d4ff11.fontScaling_d4ff11 {
  font-size: 0.75rem;
}
.text-sm\/normal_d4ff11 {
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 1.2857142857142858;
}
.text-sm\/medium_d4ff11,
.text-sm\/normal_d4ff11,
.text-sm\/normal_d4ff11.fontScaling_d4ff11 {
  font-size: 0.875rem;
}
.text-sm\/medium_d4ff11 {
  font-family: var(--font-primary);
  font-weight: 500;
  line-height: 1.2857142857142858;
}
.text-sm\/medium_d4ff11.fontScaling_d4ff11 {
  font-size: 0.875rem;
}
.text-sm\/semibold_d4ff11 {
  font-family: var(--font-primary);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
.text-sm\/bold_d4ff11,
.text-sm\/semibold_d4ff11.fontScaling_d4ff11 {
  font-size: 0.875rem;
}
.text-sm\/bold_d4ff11 {
  font-family: var(--font-primary);
  font-weight: 700;
  line-height: 1.2857142857142858;
}
.text-sm\/bold_d4ff11.fontScaling_d4ff11 {
  font-size: 0.875rem;
}
.text-md\/normal_d4ff11 {
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
}
.text-md\/normal_d4ff11.fontScaling_d4ff11 {
  font-size: 1rem;
}
.text-md\/medium_d4ff11 {
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
}
.text-md\/medium_d4ff11.fontScaling_d4ff11 {
  font-size: 1rem;
}
.text-md\/semibold_d4ff11 {
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
}
.text-md\/semibold_d4ff11.fontScaling_d4ff11 {
  font-size: 1rem;
}
.text-md\/bold_d4ff11 {
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25;
}
.text-md\/bold_d4ff11.fontScaling_d4ff11 {
  font-size: 1rem;
}
.text-lg\/normal_d4ff11 {
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 1.2;
}
.text-lg\/medium_d4ff11,
.text-lg\/normal_d4ff11,
.text-lg\/normal_d4ff11.fontScaling_d4ff11 {
  font-size: 1.25rem;
}
.text-lg\/medium_d4ff11 {
  font-family: var(--font-primary);
  font-weight: 500;
  line-height: 1.2;
}
.text-lg\/medium_d4ff11.fontScaling_d4ff11 {
  font-size: 1.25rem;
}
.text-lg\/semibold_d4ff11 {
  font-family: var(--font-primary);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
}
.text-lg\/bold_d4ff11,
.text-lg\/semibold_d4ff11.fontScaling_d4ff11 {
  font-size: 1.25rem;
}
.text-lg\/bold_d4ff11 {
  font-family: var(--font-primary);
  font-weight: 700;
  line-height: 1.2;
}
.text-lg\/bold_d4ff11.fontScaling_d4ff11 {
  font-size: 1.25rem;
}
.redesign\/message-preview\/normal_d4ff11 {
  font-family: var(--font-primary);
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
.redesign\/message-preview\/normal_d4ff11.fontScaling_d4ff11 {
  font-size: 0.9375rem;
}
.redesign\/message-preview\/medium_d4ff11 {
  font-family: var(--font-primary);
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
.redesign\/message-preview\/medium_d4ff11.fontScaling_d4ff11 {
  font-size: 0.9375rem;
}
.redesign\/message-preview\/semibold_d4ff11 {
  font-family: var(--font-primary);
  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
.redesign\/message-preview\/semibold_d4ff11.fontScaling_d4ff11 {
  font-size: 0.9375rem;
}
.redesign\/message-preview\/bold_d4ff11 {
  font-family: var(--font-primary);
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 1.3333333333333333;
}
.redesign\/message-preview\/bold_d4ff11.fontScaling_d4ff11 {
  font-size: 0.9375rem;
}
.redesign\/channel-title\/normal_d4ff11 {
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.375;
}
.redesign\/channel-title\/normal_d4ff11.fontScaling_d4ff11 {
  font-size: 1rem;
}
.redesign\/channel-title\/medium_d4ff11 {
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.375;
}
.redesign\/channel-title\/medium_d4ff11.fontScaling_d4ff11 {
  font-size: 1rem;
}
.redesign\/channel-title\/semibold_d4ff11 {
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.375;
}
.redesign\/channel-title\/semibold_d4ff11.fontScaling_d4ff11 {
  font-size: 1rem;
}
.redesign\/channel-title\/bold_d4ff11 {
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.375;
}
.redesign\/channel-title\/bold_d4ff11.fontScaling_d4ff11 {
  font-size: 1rem;
}
.experimental\/body-xs\/normal_d4ff11 {
  font-family: var(--font-primary);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
.experimental\/body-xs\/normal_d4ff11.fontScaling_d4ff11 {
  font-size: 0.75rem;
}
.experimental\/body-xs\/medium_d4ff11 {
  font-family: var(--font-primary);
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
.experimental\/body-xs\/medium_d4ff11.fontScaling_d4ff11 {
  font-size: 0.75rem;
}
.experimental\/body-xs\/semibold_d4ff11 {
  font-family: var(--font-primary);
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
.experimental\/body-xs\/semibold_d4ff11.fontScaling_d4ff11 {
  font-size: 0.75rem;
}
.experimental\/body-sm\/normal_d4ff11 {
  font-family: var(--font-primary);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.2857142857142858;
}
.experimental\/body-sm\/normal_d4ff11.fontScaling_d4ff11 {
  font-size: 0.875rem;
}
.experimental\/body-sm\/medium_d4ff11 {
  font-family: var(--font-primary);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.2857142857142858;
}
.experimental\/body-sm\/medium_d4ff11.fontScaling_d4ff11 {
  font-size: 0.875rem;
}
.experimental\/body-sm\/semibold_d4ff11 {
  font-family: var(--font-primary);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
.experimental\/body-sm\/semibold_d4ff11.fontScaling_d4ff11 {
  font-size: 0.875rem;
}
.experimental\/body-md\/normal_d4ff11 {
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
}
.experimental\/body-md\/normal_d4ff11.fontScaling_d4ff11 {
  font-size: 1rem;
}
.experimental\/body-md\/medium_d4ff11 {
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
}
.experimental\/body-md\/medium_d4ff11.fontScaling_d4ff11 {
  font-size: 1rem;
}
.experimental\/body-md\/semibold_d4ff11 {
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
}
.experimental\/body-md\/semibold_d4ff11.fontScaling_d4ff11 {
  font-size: 1rem;
}
.experimental\/body-lg\/normal_d4ff11 {
  font-family: var(--font-primary);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.2;
}
.experimental\/body-lg\/normal_d4ff11.fontScaling_d4ff11 {
  font-size: 1.25rem;
}
.experimental\/body-lg\/medium_d4ff11 {
  font-family: var(--font-primary);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
}
.experimental\/body-lg\/medium_d4ff11.fontScaling_d4ff11 {
  font-size: 1.25rem;
}
.experimental\/body-lg\/semibold_d4ff11 {
  font-family: var(--font-primary);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
}
.experimental\/body-lg\/semibold_d4ff11.fontScaling_d4ff11 {
  font-size: 1.25rem;
}
.experimental\/footnote\/normal_d4ff11 {
  font-family: var(--font-primary);
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 1.2;
}
.experimental\/footnote\/normal_d4ff11.fontScaling_d4ff11 {
  font-size: 0.625rem;
}
.experimental\/footnote\/medium_d4ff11 {
  font-family: var(--font-primary);
  font-size: 0.625rem;
  font-weight: 500;
  line-height: 1.2;
}
.experimental\/footnote\/medium_d4ff11.fontScaling_d4ff11 {
  font-size: 0.625rem;
}
.experimental\/footnote\/semibold_d4ff11 {
  font-family: var(--font-primary);
  font-size: 0.625rem;
  font-weight: 600;
  line-height: 1.2;
}
.experimental\/footnote\/semibold_d4ff11.fontScaling_d4ff11 {
  font-size: 0.625rem;
}
.display-sm_d4ff11 {
  font-family: var(--font-headline);
  font-weight: 800;
  line-height: 1;
}
.display-sm_d4ff11,
.display-sm_d4ff11.fontScaling_d4ff11 {
  font-size: 1.25rem;
}
.display-md_d4ff11 {
  font-family: var(--font-headline);
  font-weight: 800;
  line-height: 1.0588235294117647;
}
.display-md_d4ff11,
.display-md_d4ff11.fontScaling_d4ff11 {
  font-size: 2.125rem;
}
.display-lg_d4ff11 {
  font-family: var(--font-headline);
  font-weight: 800;
  line-height: 0.9545454545454546;
}
.display-lg_d4ff11,
.display-lg_d4ff11.fontScaling_d4ff11 {
  font-size: 2.75rem;
}
.experimental\/display-xs_d4ff11 {
  font-family: var(--font-headline);
  font-size: 1rem;
  font-weight: 800;
  line-height: 1.125;
}
.experimental\/display-xs_d4ff11.fontScaling_d4ff11 {
  font-size: 1rem;
}
.experimental\/display-sm_d4ff11 {
  font-family: var(--font-headline);
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.0833333333333333;
}
.experimental\/display-sm_d4ff11.fontScaling_d4ff11 {
  font-size: 1.5rem;
}
.experimental\/display-md_d4ff11 {
  font-family: var(--font-headline);
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.0625;
}
.experimental\/display-md_d4ff11.fontScaling_d4ff11 {
  font-size: 2rem;
}
.experimental\/display-lg_d4ff11 {
  font-family: var(--font-headline);
  font-size: 2.75rem;
  font-weight: 800;
  line-height: 1;
}
.experimental\/display-lg_d4ff11.fontScaling_d4ff11 {
  font-size: 2.75rem;
}
.code_d4ff11 {
  font-family: var(--font-code);
  font-weight: 700;
  line-height: 1.3333333333333333;
}
.code_d4ff11,
.code_d4ff11.fontScaling_d4ff11 {
  font-size: 0.75rem;
}
.experimental\/mono-md\/normal_d4ff11 {
  font-family: var(--font-code);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
.experimental\/mono-md\/normal_d4ff11.fontScaling_d4ff11 {
  font-size: 0.75rem;
}
.experimental\/mono-md\/bold_d4ff11 {
  font-family: var(--font-code);
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.3333333333333333;
}
.experimental\/mono-md\/bold_d4ff11.fontScaling_d4ff11 {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .heading-sm\/normal_d4ff11 {
  font-family: var(--font-display);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.2857142857142858;
}
:where(.mana-type-consolidation) .heading-sm\/normal_d4ff11.fontScaling_d4ff11 {
  font-size: 0.875rem;
}
:where(.mana-type-consolidation) .heading-sm\/medium_d4ff11 {
  font-family: var(--font-display);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.2857142857142858;
}
:where(.mana-type-consolidation) .heading-sm\/medium_d4ff11.fontScaling_d4ff11 {
  font-size: 0.875rem;
}
:where(.mana-type-consolidation) .heading-sm\/semibold_d4ff11 {
  font-family: var(--font-display);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
:where(.mana-type-consolidation)
  .heading-sm\/semibold_d4ff11.fontScaling_d4ff11 {
  font-size: 0.875rem;
}
:where(.mana-type-consolidation) .heading-sm\/bold_d4ff11 {
  font-family: var(--font-display);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
:where(.mana-type-consolidation) .heading-sm\/bold_d4ff11.fontScaling_d4ff11 {
  font-size: 0.875rem;
}
:where(.mana-type-consolidation) .heading-sm\/extrabold_d4ff11 {
  font-family: var(--font-display);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
:where(.mana-type-consolidation)
  .heading-sm\/extrabold_d4ff11.fontScaling_d4ff11 {
  font-size: 0.875rem;
}
:where(.mana-type-consolidation) .heading-md\/normal_d4ff11 {
  font-family: var(--font-display);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
}
:where(.mana-type-consolidation) .heading-md\/normal_d4ff11.fontScaling_d4ff11 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .heading-md\/medium_d4ff11 {
  font-family: var(--font-display);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
}
:where(.mana-type-consolidation) .heading-md\/medium_d4ff11.fontScaling_d4ff11 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .heading-md\/semibold_d4ff11 {
  font-family: var(--font-display);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .heading-md\/semibold_d4ff11.fontScaling_d4ff11 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .heading-md\/bold_d4ff11 {
  font-family: var(--font-display);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation) .heading-md\/bold_d4ff11.fontScaling_d4ff11 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .heading-md\/extrabold_d4ff11 {
  font-family: var(--font-display);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .heading-md\/extrabold_d4ff11.fontScaling_d4ff11 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .heading-lg\/normal_d4ff11 {
  font-family: var(--font-display);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .heading-lg\/normal_d4ff11.fontScaling_d4ff11 {
  font-size: 1.25rem;
}
:where(.mana-type-consolidation) .heading-lg\/medium_d4ff11 {
  font-family: var(--font-display);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .heading-lg\/medium_d4ff11.fontScaling_d4ff11 {
  font-size: 1.25rem;
}
:where(.mana-type-consolidation) .heading-lg\/semibold_d4ff11 {
  font-family: var(--font-display);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
}
:where(.mana-type-consolidation)
  .heading-lg\/semibold_d4ff11.fontScaling_d4ff11 {
  font-size: 1.25rem;
}
:where(.mana-type-consolidation) .heading-lg\/bold_d4ff11 {
  font-family: var(--font-display);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .heading-lg\/bold_d4ff11.fontScaling_d4ff11 {
  font-size: 1.25rem;
}
:where(.mana-type-consolidation) .heading-lg\/extrabold_d4ff11 {
  font-family: var(--font-display);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
}
:where(.mana-type-consolidation)
  .heading-lg\/extrabold_d4ff11.fontScaling_d4ff11 {
  font-size: 1.25rem;
}
:where(.mana-type-consolidation) .heading-xl\/normal_d4ff11 {
  font-family: var(--font-display);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation) .heading-xl\/normal_d4ff11.fontScaling_d4ff11 {
  font-size: 1.5rem;
}
:where(.mana-type-consolidation) .heading-xl\/medium_d4ff11 {
  font-family: var(--font-display);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation) .heading-xl\/medium_d4ff11.fontScaling_d4ff11 {
  font-size: 1.5rem;
}
:where(.mana-type-consolidation) .heading-xl\/semibold_d4ff11 {
  font-family: var(--font-display);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation)
  .heading-xl\/semibold_d4ff11.fontScaling_d4ff11 {
  font-size: 1.5rem;
}
:where(.mana-type-consolidation) .heading-xl\/bold_d4ff11 {
  font-family: var(--font-display);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation) .heading-xl\/bold_d4ff11.fontScaling_d4ff11 {
  font-size: 1.5rem;
}
:where(.mana-type-consolidation) .heading-xl\/extrabold_d4ff11 {
  font-family: var(--font-display);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation)
  .heading-xl\/extrabold_d4ff11.fontScaling_d4ff11 {
  font-size: 1.5rem;
}
:where(.mana-type-consolidation) .heading-xxl\/normal_d4ff11 {
  font-family: var(--font-display);
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .heading-xxl\/normal_d4ff11.fontScaling_d4ff11 {
  font-size: 2rem;
}
:where(.mana-type-consolidation) .heading-xxl\/medium_d4ff11 {
  font-family: var(--font-display);
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .heading-xxl\/medium_d4ff11.fontScaling_d4ff11 {
  font-size: 2rem;
}
:where(.mana-type-consolidation) .heading-xxl\/semibold_d4ff11 {
  font-family: var(--font-display);
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .heading-xxl\/semibold_d4ff11.fontScaling_d4ff11 {
  font-size: 2rem;
}
:where(.mana-type-consolidation) .heading-xxl\/bold_d4ff11 {
  font-family: var(--font-display);
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation) .heading-xxl\/bold_d4ff11.fontScaling_d4ff11 {
  font-size: 2rem;
}
:where(.mana-type-consolidation) .heading-xxl\/extrabold_d4ff11 {
  font-family: var(--font-display);
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .heading-xxl\/extrabold_d4ff11.fontScaling_d4ff11 {
  font-size: 2rem;
}
:where(.mana-type-consolidation) .eyebrow_d4ff11 {
  font-family: var(--font-primary);
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.3333333333333333;
  text-transform: none;
}
:where(.mana-type-consolidation) .eyebrow_d4ff11.fontScaling_d4ff11 {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .heading-deprecated-12\/normal_d4ff11 {
  font-family: var(--font-primary);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation)
  .heading-deprecated-12\/normal_d4ff11.fontScaling_d4ff11 {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .heading-deprecated-12\/medium_d4ff11 {
  font-family: var(--font-primary);
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation)
  .heading-deprecated-12\/medium_d4ff11.fontScaling_d4ff11 {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .heading-deprecated-12\/semibold_d4ff11 {
  font-family: var(--font-primary);
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation)
  .heading-deprecated-12\/semibold_d4ff11.fontScaling_d4ff11 {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .heading-deprecated-12\/bold_d4ff11 {
  font-family: var(--font-primary);
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation)
  .heading-deprecated-12\/bold_d4ff11.fontScaling_d4ff11 {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .heading-deprecated-12\/extrabold_d4ff11 {
  font-family: var(--font-primary);
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation)
  .heading-deprecated-12\/extrabold_d4ff11.fontScaling_d4ff11 {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .redesign\/heading-18\/medium_d4ff11 {
  font-family: var(--font-display);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.2222222222222223;
}
:where(.mana-type-consolidation)
  .redesign\/heading-18\/medium_d4ff11.fontScaling_d4ff11 {
  font-size: 1.125rem;
}
:where(.mana-type-consolidation) .redesign\/heading-18\/semibold_d4ff11 {
  font-family: var(--font-display);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.2222222222222223;
}
:where(.mana-type-consolidation)
  .redesign\/heading-18\/semibold_d4ff11.fontScaling_d4ff11 {
  font-size: 1.125rem;
}
:where(.mana-type-consolidation) .redesign\/heading-18\/bold_d4ff11 {
  font-family: var(--font-display);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.2222222222222223;
}
:where(.mana-type-consolidation)
  .redesign\/heading-18\/bold_d4ff11.fontScaling_d4ff11 {
  font-size: 1.125rem;
}
:where(.mana-type-consolidation) .text-xxs\/normal_d4ff11 {
  font-family: var(--font-primary);
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .text-xxs\/normal_d4ff11.fontScaling_d4ff11 {
  font-size: 0.625rem;
}
:where(.mana-type-consolidation) .text-xxs\/medium_d4ff11 {
  font-family: var(--font-primary);
  font-size: 0.625rem;
  font-weight: 500;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .text-xxs\/medium_d4ff11.fontScaling_d4ff11 {
  font-size: 0.625rem;
}
:where(.mana-type-consolidation) .text-xxs\/semibold_d4ff11 {
  font-family: var(--font-primary);
  font-size: 0.625rem;
  font-weight: 600;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .text-xxs\/semibold_d4ff11.fontScaling_d4ff11 {
  font-size: 0.625rem;
}
:where(.mana-type-consolidation) .text-xxs\/bold_d4ff11 {
  font-family: var(--font-primary);
  font-size: 0.625rem;
  font-weight: 600;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .text-xxs\/bold_d4ff11.fontScaling_d4ff11 {
  font-size: 0.625rem;
}
:where(.mana-type-consolidation) .text-xs\/normal_d4ff11 {
  font-family: var(--font-primary);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation) .text-xs\/normal_d4ff11.fontScaling_d4ff11 {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .text-xs\/medium_d4ff11 {
  font-family: var(--font-primary);
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation) .text-xs\/medium_d4ff11.fontScaling_d4ff11 {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .text-xs\/semibold_d4ff11 {
  font-family: var(--font-primary);
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation) .text-xs\/semibold_d4ff11.fontScaling_d4ff11 {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .text-xs\/bold_d4ff11 {
  font-family: var(--font-primary);
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation) .text-xs\/bold_d4ff11.fontScaling_d4ff11 {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .text-sm\/normal_d4ff11 {
  font-family: var(--font-primary);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.2857142857142858;
}
:where(.mana-type-consolidation) .text-sm\/normal_d4ff11.fontScaling_d4ff11 {
  font-size: 0.875rem;
}
:where(.mana-type-consolidation) .text-sm\/medium_d4ff11 {
  font-family: var(--font-primary);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.2857142857142858;
}
:where(.mana-type-consolidation) .text-sm\/medium_d4ff11.fontScaling_d4ff11 {
  font-size: 0.875rem;
}
:where(.mana-type-consolidation) .text-sm\/semibold_d4ff11 {
  font-family: var(--font-primary);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
:where(.mana-type-consolidation) .text-sm\/semibold_d4ff11.fontScaling_d4ff11 {
  font-size: 0.875rem;
}
:where(.mana-type-consolidation) .text-sm\/bold_d4ff11 {
  font-family: var(--font-primary);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
:where(.mana-type-consolidation) .text-sm\/bold_d4ff11.fontScaling_d4ff11 {
  font-size: 0.875rem;
}
:where(.mana-type-consolidation) .text-md\/normal_d4ff11 {
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
}
:where(.mana-type-consolidation) .text-md\/normal_d4ff11.fontScaling_d4ff11 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .text-md\/medium_d4ff11 {
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
}
:where(.mana-type-consolidation) .text-md\/medium_d4ff11.fontScaling_d4ff11 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .text-md\/semibold_d4ff11 {
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation) .text-md\/semibold_d4ff11.fontScaling_d4ff11 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .text-md\/bold_d4ff11 {
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation) .text-md\/bold_d4ff11.fontScaling_d4ff11 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .text-lg\/normal_d4ff11 {
  font-family: var(--font-primary);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .text-lg\/normal_d4ff11.fontScaling_d4ff11 {
  font-size: 1.25rem;
}
:where(.mana-type-consolidation) .text-lg\/medium_d4ff11 {
  font-family: var(--font-primary);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .text-lg\/medium_d4ff11.fontScaling_d4ff11 {
  font-size: 1.25rem;
}
:where(.mana-type-consolidation) .text-lg\/semibold_d4ff11 {
  font-family: var(--font-primary);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .text-lg\/semibold_d4ff11.fontScaling_d4ff11 {
  font-size: 1.25rem;
}
:where(.mana-type-consolidation) .text-lg\/bold_d4ff11 {
  font-family: var(--font-primary);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .text-lg\/bold_d4ff11.fontScaling_d4ff11 {
  font-size: 1.25rem;
}
:where(.mana-type-consolidation) .redesign\/message-preview\/normal_d4ff11 {
  font-family: var(--font-display);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .redesign\/message-preview\/normal_d4ff11.fontScaling_d4ff11 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .redesign\/message-preview\/medium_d4ff11 {
  font-family: var(--font-display);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .redesign\/message-preview\/medium_d4ff11.fontScaling_d4ff11 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .redesign\/message-preview\/semibold_d4ff11 {
  font-family: var(--font-display);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .redesign\/message-preview\/semibold_d4ff11.fontScaling_d4ff11 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .redesign\/message-preview\/bold_d4ff11 {
  font-family: var(--font-display);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .redesign\/message-preview\/bold_d4ff11.fontScaling_d4ff11 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .redesign\/channel-title\/normal_d4ff11 {
  font-family: var(--font-display);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .redesign\/channel-title\/normal_d4ff11.fontScaling_d4ff11 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .redesign\/channel-title\/medium_d4ff11 {
  font-family: var(--font-display);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .redesign\/channel-title\/medium_d4ff11.fontScaling_d4ff11 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .redesign\/channel-title\/semibold_d4ff11 {
  font-family: var(--font-display);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .redesign\/channel-title\/semibold_d4ff11.fontScaling_d4ff11 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .redesign\/channel-title\/bold_d4ff11 {
  font-family: var(--font-display);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .redesign\/channel-title\/bold_d4ff11.fontScaling_d4ff11 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .display-sm_d4ff11 {
  font-family: var(--font-headline);
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.0833333333333333;
}
:where(.mana-type-consolidation) .display-sm_d4ff11.fontScaling_d4ff11 {
  font-size: 1.5rem;
}
:where(.mana-type-consolidation) .display-md_d4ff11 {
  font-family: var(--font-headline);
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.0625;
}
:where(.mana-type-consolidation) .display-md_d4ff11.fontScaling_d4ff11 {
  font-size: 2rem;
}
:where(.mana-type-consolidation) .display-lg_d4ff11 {
  font-family: var(--font-headline);
  font-size: 2.75rem;
  font-weight: 800;
  line-height: 1;
}
:where(.mana-type-consolidation) .display-lg_d4ff11.fontScaling_d4ff11 {
  font-size: 2.75rem;
}
:where(.mana-type-consolidation) .code_d4ff11 {
  font-family: var(--font-code);
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation) .code_d4ff11.fontScaling_d4ff11 {
  font-size: 0.75rem;
}
.tooltipWordmark_d4ff11 {
  color: var(--text-muted);
  margin-bottom: 4px;
}
.orbBadgeAsset_d4ff11 {
  width: 64px;
}
.orbHeaderWithSpacing_d4ff11 {
  margin-bottom: 12px;
}
.orbSubtext_d4ff11 {
  color: var(--text-muted);
  font-style: normal;
  margin-bottom: 4px;
  margin-top: 10px;
}
.container__8061a {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  margin: 1px 0;
  width: -moz-fit-content;
  width: fit-content;
}
.container__8061a:empty {
  visibility: hidden;
}
.badge__8061a {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  filter: saturate(var(--saturation-factor, 1));
  height: 20px;
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
  pointer-events: none;
  width: 20px;
}
.badge__8061a:active {
  opacity: 0.8;
}
.badge__8061a:before {
  background-color: var(--user-profile-border);
  border-radius: 50%;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
}
.badgeVectorSrc__8061a {
  -o-object-fit: contain;
  object-fit: contain;
}

/*# sourceMappingURL=5211.fd183a0be3d9a079.css.map*/
