.left_caab99 {
  transform: rotate(270deg);
}
.right_caab99 {
  transform: rotate(90deg);
}
.down_caab99 {
  transform: rotate(180deg);
}
.downRight_caab99 {
  transform: rotate(135deg);
}
.upLeft_caab99 {
  transform: rotate(315deg);
}
.lineClamp__0b48b {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.container_adb50a {
  background: var(--background-base-lower);
  border: 1px solid var(--message-highlight-background-hover);
  border-radius: 12px;
  box-shadow: var(--shadow-low);
  display: flex;
  gap: 24px;
  justify-content: space-between;
  padding: 16px;
  transition: background 0.3s;
}
@media (max-width: 1439px) {
  .container_adb50a {
    flex-direction: column-reverse;
    max-width: var(--custom-guild-shop-content-width-reduced);
  }
  .container_adb50a .coverImageContainer_adb50a,
  .container_adb50a .infoContainer_adb50a {
    max-width: none;
  }
}
.coverImageContainer_adb50a {
  max-width: 655px;
  width: 100%;
}
.coverImage_adb50a {
  aspect-ratio: 4;
  border-radius: 12px;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}
.infoContainer_adb50a {
  display: flex;
  flex: 1;
  max-width: 500px;
}
.infoContainerNoDescription_adb50a,
.showMoreButton_adb50a {
  align-items: center;
}
.showMoreButton_adb50a {
  border-bottom: 1px solid var(--interactive-text-active);
  cursor: pointer;
  display: inline-flex;
  padding-bottom: 2px;
}
.showMoreButton_adb50a:hover {
  opacity: 0.75;
  transition: 0.3s ease;
}
.showMoreArrow_adb50a {
  color: var(--interactive-text-active);
  height: 16px;
  margin-inline-end: -3px;
  width: 16px;
}
.guildShopEmbed__86fa6 {
  border-radius: 12px;
  max-width: 510px;
  min-height: 300px;
  min-width: 160px;
  padding: 16px;
  width: 100%;
}
.theme-dark .guildShopEmbed__86fa6 {
  background-color: var(--background-base-lower);
}
.theme-light .guildShopEmbed__86fa6 {
  background-color: var(--background-mod-normal);
}
.spinnerContainer__86fa6 {
  align-items: center;
  display: flex;
  justify-content: center;
}
.serverShopLabel__86fa6 {
  display: flex;
  gap: 4px;
}
.serverShopLabelText__86fa6 {
  text-transform: uppercase;
}
.guildShopEmbedFooter__86fa6 {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  width: 100%;
}
.guildShopSummary__86fa6 {
  color: var(--text-muted);
  display: flex;
  flex-direction: column;
  height: 42px;
  justify-content: space-between;
  list-style-type: disc;
  padding-inline-start: 20px;
}
.guildShopEmbedCta__86fa6 {
  margin-inline-start: auto;
}
.guildShopEmbedCtaContent__86fa6 {
  display: flex;
  gap: 8px;
}
.accessory__09bc1 {
  color: var(--interactive-text-default);
  cursor: pointer;
  display: flex;
  gap: var(--space-4);
  justify-content: flex-start;
}
.accessory__09bc1:hover,
.accessory__09bc1:hover .accessoryText__09bc1 {
  color: var(--interactive-text-hover);
}
.accessoryText__09bc1 {
  color: var(--interactive-text-default);
}
.toast__1562f {
  gap: var(--space-8);
}
.image_d93468 {
  border-radius: var(--radius-xs);
}
.image_d93468,
.video_d93468 {
  width: 100%;
}
.media_d93468,
.mediaContainer_d93468 {
  border-radius: var(--radius-xs);
}
.mediaContainer_d93468 {
  background-color: var(--background-base-lower);
  margin-bottom: var(--space-16);
  margin-top: var(--space-12);
  padding: var(--space-16);
}

/*# sourceMappingURL=54081.6352d013c98d1406.css.map*/
