.heading-sm\/normal__72ba7 {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2857142857142858;
}
.heading-sm\/normal__72ba7.fontScaling__72ba7 {
  font-size: 0.875rem;
}
.heading-sm\/medium__72ba7 {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2857142857142858;
}
.heading-sm\/medium__72ba7.fontScaling__72ba7 {
  font-size: 0.875rem;
}
.heading-sm\/semibold__72ba7 {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
.heading-sm\/semibold__72ba7.fontScaling__72ba7 {
  font-size: 0.875rem;
}
.heading-sm\/bold__72ba7 {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2857142857142858;
}
.heading-sm\/bold__72ba7.fontScaling__72ba7 {
  font-size: 0.875rem;
}
.heading-sm\/extrabold__72ba7 {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 800;
  line-height: 1.2857142857142858;
}
.heading-sm\/extrabold__72ba7.fontScaling__72ba7 {
  font-size: 0.875rem;
}
.heading-md\/normal__72ba7 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}
.heading-md\/normal__72ba7.fontScaling__72ba7 {
  font-size: 1rem;
}
.heading-md\/medium__72ba7 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}
.heading-md\/medium__72ba7.fontScaling__72ba7 {
  font-size: 1rem;
}
.heading-md\/semibold__72ba7 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
.heading-md\/semibold__72ba7.fontScaling__72ba7 {
  font-size: 1rem;
}
.heading-md\/bold__72ba7 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
}
.heading-md\/bold__72ba7.fontScaling__72ba7 {
  font-size: 1rem;
}
.heading-md\/extrabold__72ba7 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 800;
  line-height: 1.25;
}
.heading-md\/extrabold__72ba7.fontScaling__72ba7 {
  font-size: 1rem;
}
.heading-lg\/normal__72ba7 {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}
.heading-lg\/normal__72ba7.fontScaling__72ba7 {
  font-size: 1.25rem;
}
.heading-lg\/medium__72ba7 {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
.heading-lg\/medium__72ba7.fontScaling__72ba7 {
  font-size: 1.25rem;
}
.heading-lg\/semibold__72ba7 {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}
.heading-lg\/semibold__72ba7.fontScaling__72ba7 {
  font-size: 1.25rem;
}
.heading-lg\/bold__72ba7 {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}
.heading-lg\/bold__72ba7.fontScaling__72ba7 {
  font-size: 1.25rem;
}
.heading-lg\/extrabold__72ba7 {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 800;
  line-height: 1.2;
}
.heading-lg\/extrabold__72ba7.fontScaling__72ba7 {
  font-size: 1.25rem;
}
.heading-xl\/normal__72ba7 {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 400;
  line-height: 1.25;
}
.heading-xl\/normal__72ba7.fontScaling__72ba7 {
  font-size: 1.5rem;
}
.heading-xl\/medium__72ba7 {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.25;
}
.heading-xl\/medium__72ba7.fontScaling__72ba7 {
  font-size: 1.5rem;
}
.heading-xl\/semibold__72ba7 {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
}
.heading-xl\/semibold__72ba7.fontScaling__72ba7 {
  font-size: 1.5rem;
}
.heading-xl\/bold__72ba7 {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
}
.heading-xl\/bold__72ba7.fontScaling__72ba7 {
  font-size: 1.5rem;
}
.heading-xl\/extrabold__72ba7 {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 800;
  line-height: 1.25;
}
.heading-xl\/extrabold__72ba7.fontScaling__72ba7 {
  font-size: 1.5rem;
}
.heading-xxl\/normal__72ba7 {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 400;
  line-height: 1.25;
}
.heading-xxl\/normal__72ba7.fontScaling__72ba7 {
  font-size: 2rem;
}
.heading-xxl\/medium__72ba7 {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 500;
  line-height: 1.25;
}
.heading-xxl\/medium__72ba7.fontScaling__72ba7 {
  font-size: 2rem;
}
.heading-xxl\/semibold__72ba7 {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
}
.heading-xxl\/semibold__72ba7.fontScaling__72ba7 {
  font-size: 2rem;
}
.heading-xxl\/bold__72ba7 {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 700;
  line-height: 1.25;
}
.heading-xxl\/bold__72ba7.fontScaling__72ba7 {
  font-size: 2rem;
}
.heading-xxl\/extrabold__72ba7 {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 800;
  line-height: 1.25;
}
.heading-xxl\/extrabold__72ba7.fontScaling__72ba7 {
  font-size: 2rem;
}
.experimental\/heading-xs\/medium__72ba7 {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2857142857142858;
}
.experimental\/heading-xs\/medium__72ba7.fontScaling__72ba7 {
  font-size: 0.875rem;
}
.experimental\/heading-xs\/semibold__72ba7 {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
.experimental\/heading-xs\/semibold__72ba7.fontScaling__72ba7 {
  font-size: 0.875rem;
}
.experimental\/heading-sm\/medium__72ba7 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}
.experimental\/heading-sm\/medium__72ba7.fontScaling__72ba7 {
  font-size: 1rem;
}
.experimental\/heading-sm\/semibold__72ba7 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
.experimental\/heading-sm\/semibold__72ba7.fontScaling__72ba7 {
  font-size: 1rem;
}
.experimental\/heading-md\/medium__72ba7 {
  font-family: var(--font-display);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2222222222222223;
}
.experimental\/heading-md\/medium__72ba7.fontScaling__72ba7 {
  font-size: 1.125rem;
}
.experimental\/heading-md\/semibold__72ba7 {
  font-family: var(--font-display);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2222222222222223;
}
.experimental\/heading-md\/semibold__72ba7.fontScaling__72ba7 {
  font-size: 1.125rem;
}
.experimental\/heading-lg\/medium__72ba7 {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
.experimental\/heading-lg\/medium__72ba7.fontScaling__72ba7 {
  font-size: 1.25rem;
}
.experimental\/heading-lg\/semibold__72ba7 {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}
.experimental\/heading-lg\/semibold__72ba7.fontScaling__72ba7 {
  font-size: 1.25rem;
}
.experimental\/heading-xl\/medium__72ba7 {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
.experimental\/heading-xl\/medium__72ba7.fontScaling__72ba7 {
  font-size: 1.5rem;
}
.experimental\/heading-xl\/semibold__72ba7 {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
.experimental\/heading-xl\/semibold__72ba7.fontScaling__72ba7 {
  font-size: 1.5rem;
}
.experimental\/heading-xxl\/medium__72ba7 {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 500;
  line-height: 1.25;
}
.experimental\/heading-xxl\/medium__72ba7.fontScaling__72ba7 {
  font-size: 2rem;
}
.experimental\/heading-xxl\/semibold__72ba7 {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
}
.experimental\/heading-xxl\/semibold__72ba7.fontScaling__72ba7 {
  font-size: 2rem;
}
.eyebrow__72ba7 {
  font-family: var(--font-display);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.3333333333333333;
  text-transform: uppercase;
}
.eyebrow__72ba7.fontScaling__72ba7 {
  font-size: 0.75rem;
}
.heading-deprecated-12\/normal__72ba7 {
  font-family: var(--font-display);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
.heading-deprecated-12\/normal__72ba7.fontScaling__72ba7 {
  font-size: 0.75rem;
}
.heading-deprecated-12\/medium__72ba7 {
  font-family: var(--font-display);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
.heading-deprecated-12\/medium__72ba7.fontScaling__72ba7 {
  font-size: 0.75rem;
}
.heading-deprecated-12\/semibold__72ba7 {
  font-family: var(--font-display);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
.heading-deprecated-12\/semibold__72ba7.fontScaling__72ba7 {
  font-size: 0.75rem;
}
.heading-deprecated-12\/bold__72ba7 {
  font-family: var(--font-display);
  font-size: 12px;
  font-weight: 700;
  line-height: 1.3333333333333333;
}
.heading-deprecated-12\/bold__72ba7.fontScaling__72ba7 {
  font-size: 0.75rem;
}
.heading-deprecated-12\/extrabold__72ba7 {
  font-family: var(--font-display);
  font-size: 12px;
  font-weight: 800;
  line-height: 1.3333333333333333;
}
.heading-deprecated-12\/extrabold__72ba7.fontScaling__72ba7 {
  font-size: 0.75rem;
}
.redesign\/heading-18\/medium__72ba7 {
  font-family: var(--font-display);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
.redesign\/heading-18\/medium__72ba7.fontScaling__72ba7 {
  font-size: 1.125rem;
}
.redesign\/heading-18\/semibold__72ba7 {
  font-family: var(--font-display);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
.redesign\/heading-18\/semibold__72ba7.fontScaling__72ba7 {
  font-size: 1.125rem;
}
.redesign\/heading-18\/bold__72ba7 {
  font-family: var(--font-display);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3333333333333333;
}
.redesign\/heading-18\/bold__72ba7.fontScaling__72ba7 {
  font-size: 1.125rem;
}
.text-xxs\/normal__72ba7 {
  font-family: var(--font-primary);
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
}
.text-xxs\/normal__72ba7.fontScaling__72ba7 {
  font-size: 0.625rem;
}
.text-xxs\/medium__72ba7 {
  font-family: var(--font-primary);
  font-size: 10px;
  font-weight: 500;
  line-height: 1.2;
}
.text-xxs\/medium__72ba7.fontScaling__72ba7 {
  font-size: 0.625rem;
}
.text-xxs\/semibold__72ba7 {
  font-family: var(--font-primary);
  font-size: 10px;
  font-weight: 600;
  line-height: 1.2;
}
.text-xxs\/semibold__72ba7.fontScaling__72ba7 {
  font-size: 0.625rem;
}
.text-xxs\/bold__72ba7 {
  font-family: var(--font-primary);
  font-size: 10px;
  font-weight: 700;
  line-height: 1.2;
}
.text-xxs\/bold__72ba7.fontScaling__72ba7 {
  font-size: 0.625rem;
}
.text-xs\/normal__72ba7 {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
.text-xs\/normal__72ba7.fontScaling__72ba7 {
  font-size: 0.75rem;
}
.text-xs\/medium__72ba7 {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
.text-xs\/medium__72ba7.fontScaling__72ba7 {
  font-size: 0.75rem;
}
.text-xs\/semibold__72ba7 {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
.text-xs\/semibold__72ba7.fontScaling__72ba7 {
  font-size: 0.75rem;
}
.text-xs\/bold__72ba7 {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 700;
  line-height: 1.3333333333333333;
}
.text-xs\/bold__72ba7.fontScaling__72ba7 {
  font-size: 0.75rem;
}
.text-sm\/normal__72ba7 {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2857142857142858;
}
.text-sm\/normal__72ba7.fontScaling__72ba7 {
  font-size: 0.875rem;
}
.text-sm\/medium__72ba7 {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2857142857142858;
}
.text-sm\/medium__72ba7.fontScaling__72ba7 {
  font-size: 0.875rem;
}
.text-sm\/semibold__72ba7 {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
.text-sm\/semibold__72ba7.fontScaling__72ba7 {
  font-size: 0.875rem;
}
.text-sm\/bold__72ba7 {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2857142857142858;
}
.text-sm\/bold__72ba7.fontScaling__72ba7 {
  font-size: 0.875rem;
}
.text-md\/normal__72ba7 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}
.text-md\/normal__72ba7.fontScaling__72ba7 {
  font-size: 1rem;
}
.text-md\/medium__72ba7 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}
.text-md\/medium__72ba7.fontScaling__72ba7 {
  font-size: 1rem;
}
.text-md\/semibold__72ba7 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
.text-md\/semibold__72ba7.fontScaling__72ba7 {
  font-size: 1rem;
}
.text-md\/bold__72ba7 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
}
.text-md\/bold__72ba7.fontScaling__72ba7 {
  font-size: 1rem;
}
.text-lg\/normal__72ba7 {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}
.text-lg\/normal__72ba7.fontScaling__72ba7 {
  font-size: 1.25rem;
}
.text-lg\/medium__72ba7 {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
.text-lg\/medium__72ba7.fontScaling__72ba7 {
  font-size: 1.25rem;
}
.text-lg\/semibold__72ba7 {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}
.text-lg\/semibold__72ba7.fontScaling__72ba7 {
  font-size: 1.25rem;
}
.text-lg\/bold__72ba7 {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}
.text-lg\/bold__72ba7.fontScaling__72ba7 {
  font-size: 1.25rem;
}
.redesign\/message-preview\/normal__72ba7 {
  font-family: var(--font-primary);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
.redesign\/message-preview\/normal__72ba7.fontScaling__72ba7 {
  font-size: 0.9375rem;
}
.redesign\/message-preview\/medium__72ba7 {
  font-family: var(--font-primary);
  font-size: 15px;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
.redesign\/message-preview\/medium__72ba7.fontScaling__72ba7 {
  font-size: 0.9375rem;
}
.redesign\/message-preview\/semibold__72ba7 {
  font-family: var(--font-primary);
  font-size: 15px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
.redesign\/message-preview\/semibold__72ba7.fontScaling__72ba7 {
  font-size: 0.9375rem;
}
.redesign\/message-preview\/bold__72ba7 {
  font-family: var(--font-primary);
  font-size: 15px;
  font-weight: 700;
  line-height: 1.3333333333333333;
}
.redesign\/message-preview\/bold__72ba7.fontScaling__72ba7 {
  font-size: 0.9375rem;
}
.redesign\/channel-title\/normal__72ba7 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375;
}
.redesign\/channel-title\/normal__72ba7.fontScaling__72ba7 {
  font-size: 1rem;
}
.redesign\/channel-title\/medium__72ba7 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.375;
}
.redesign\/channel-title\/medium__72ba7.fontScaling__72ba7 {
  font-size: 1rem;
}
.redesign\/channel-title\/semibold__72ba7 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.375;
}
.redesign\/channel-title\/semibold__72ba7.fontScaling__72ba7 {
  font-size: 1rem;
}
.redesign\/channel-title\/bold__72ba7 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.375;
}
.redesign\/channel-title\/bold__72ba7.fontScaling__72ba7 {
  font-size: 1rem;
}
.experimental\/body-xs\/normal__72ba7 {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
.experimental\/body-xs\/normal__72ba7.fontScaling__72ba7 {
  font-size: 0.75rem;
}
.experimental\/body-xs\/medium__72ba7 {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
.experimental\/body-xs\/medium__72ba7.fontScaling__72ba7 {
  font-size: 0.75rem;
}
.experimental\/body-xs\/semibold__72ba7 {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
.experimental\/body-xs\/semibold__72ba7.fontScaling__72ba7 {
  font-size: 0.75rem;
}
.experimental\/body-sm\/normal__72ba7 {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2857142857142858;
}
.experimental\/body-sm\/normal__72ba7.fontScaling__72ba7 {
  font-size: 0.875rem;
}
.experimental\/body-sm\/medium__72ba7 {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2857142857142858;
}
.experimental\/body-sm\/medium__72ba7.fontScaling__72ba7 {
  font-size: 0.875rem;
}
.experimental\/body-sm\/semibold__72ba7 {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
.experimental\/body-sm\/semibold__72ba7.fontScaling__72ba7 {
  font-size: 0.875rem;
}
.experimental\/body-md\/normal__72ba7 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}
.experimental\/body-md\/normal__72ba7.fontScaling__72ba7 {
  font-size: 1rem;
}
.experimental\/body-md\/medium__72ba7 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}
.experimental\/body-md\/medium__72ba7.fontScaling__72ba7 {
  font-size: 1rem;
}
.experimental\/body-md\/semibold__72ba7 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
.experimental\/body-md\/semibold__72ba7.fontScaling__72ba7 {
  font-size: 1rem;
}
.experimental\/body-lg\/normal__72ba7 {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}
.experimental\/body-lg\/normal__72ba7.fontScaling__72ba7 {
  font-size: 1.25rem;
}
.experimental\/body-lg\/medium__72ba7 {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
.experimental\/body-lg\/medium__72ba7.fontScaling__72ba7 {
  font-size: 1.25rem;
}
.experimental\/body-lg\/semibold__72ba7 {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}
.experimental\/body-lg\/semibold__72ba7.fontScaling__72ba7 {
  font-size: 1.25rem;
}
.experimental\/footnote\/normal__72ba7 {
  font-family: var(--font-primary);
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
}
.experimental\/footnote\/normal__72ba7.fontScaling__72ba7 {
  font-size: 0.625rem;
}
.experimental\/footnote\/medium__72ba7 {
  font-family: var(--font-primary);
  font-size: 10px;
  font-weight: 500;
  line-height: 1.2;
}
.experimental\/footnote\/medium__72ba7.fontScaling__72ba7 {
  font-size: 0.625rem;
}
.experimental\/footnote\/semibold__72ba7 {
  font-family: var(--font-primary);
  font-size: 10px;
  font-weight: 600;
  line-height: 1.2;
}
.experimental\/footnote\/semibold__72ba7.fontScaling__72ba7 {
  font-size: 0.625rem;
}
.display-sm__72ba7 {
  font-family: var(--font-headline);
  font-size: 20px;
  font-weight: 800;
  line-height: 1;
}
.display-sm__72ba7.fontScaling__72ba7 {
  font-size: 1.25rem;
}
.display-md__72ba7 {
  font-family: var(--font-headline);
  font-size: 34px;
  font-weight: 800;
  line-height: 1.0588235294117647;
}
.display-md__72ba7.fontScaling__72ba7 {
  font-size: 2.125rem;
}
.display-lg__72ba7 {
  font-family: var(--font-headline);
  font-size: 44px;
  font-weight: 800;
  line-height: 0.9545454545454546;
}
.display-lg__72ba7.fontScaling__72ba7 {
  font-size: 2.75rem;
}
.experimental\/display-xs__72ba7 {
  font-family: var(--font-headline);
  font-size: 16px;
  font-weight: 800;
  line-height: 1.125;
}
.experimental\/display-xs__72ba7.fontScaling__72ba7 {
  font-size: 1rem;
}
.experimental\/display-sm__72ba7 {
  font-family: var(--font-headline);
  font-size: 24px;
  font-weight: 800;
  line-height: 1.0833333333333333;
}
.experimental\/display-sm__72ba7.fontScaling__72ba7 {
  font-size: 1.5rem;
}
.experimental\/display-md__72ba7 {
  font-family: var(--font-headline);
  font-size: 32px;
  font-weight: 800;
  line-height: 1.0625;
}
.experimental\/display-md__72ba7.fontScaling__72ba7 {
  font-size: 2rem;
}
.experimental\/display-lg__72ba7 {
  font-family: var(--font-headline);
  font-size: 44px;
  font-weight: 800;
  line-height: 1;
}
.experimental\/display-lg__72ba7.fontScaling__72ba7 {
  font-size: 2.75rem;
}
.code__72ba7 {
  font-family: var(--font-code);
  font-size: 12px;
  font-weight: 700;
  line-height: 1.3333333333333333;
}
.code__72ba7.fontScaling__72ba7 {
  font-size: 0.75rem;
}
.experimental\/mono-md\/normal__72ba7 {
  font-family: var(--font-code);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
.experimental\/mono-md\/normal__72ba7.fontScaling__72ba7 {
  font-size: 0.75rem;
}
.experimental\/mono-md\/bold__72ba7 {
  font-family: var(--font-code);
  font-size: 12px;
  font-weight: 700;
  line-height: 1.3333333333333333;
}
.experimental\/mono-md\/bold__72ba7.fontScaling__72ba7 {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .heading-sm\/normal__72ba7 {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2857142857142858;
}
:where(.mana-type-consolidation) .heading-sm\/normal__72ba7.fontScaling__72ba7 {
  font-size: 0.875rem;
}
:where(.mana-type-consolidation) .heading-sm\/medium__72ba7 {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2857142857142858;
}
:where(.mana-type-consolidation) .heading-sm\/medium__72ba7.fontScaling__72ba7 {
  font-size: 0.875rem;
}
:where(.mana-type-consolidation) .heading-sm\/semibold__72ba7 {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
:where(.mana-type-consolidation)
  .heading-sm\/semibold__72ba7.fontScaling__72ba7 {
  font-size: 0.875rem;
}
:where(.mana-type-consolidation) .heading-sm\/bold__72ba7 {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
:where(.mana-type-consolidation) .heading-sm\/bold__72ba7.fontScaling__72ba7 {
  font-size: 0.875rem;
}
:where(.mana-type-consolidation) .heading-sm\/extrabold__72ba7 {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
:where(.mana-type-consolidation)
  .heading-sm\/extrabold__72ba7.fontScaling__72ba7 {
  font-size: 0.875rem;
}
:where(.mana-type-consolidation) .heading-md\/normal__72ba7 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}
:where(.mana-type-consolidation) .heading-md\/normal__72ba7.fontScaling__72ba7 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .heading-md\/medium__72ba7 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}
:where(.mana-type-consolidation) .heading-md\/medium__72ba7.fontScaling__72ba7 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .heading-md\/semibold__72ba7 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .heading-md\/semibold__72ba7.fontScaling__72ba7 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .heading-md\/bold__72ba7 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation) .heading-md\/bold__72ba7.fontScaling__72ba7 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .heading-md\/extrabold__72ba7 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .heading-md\/extrabold__72ba7.fontScaling__72ba7 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .heading-lg\/normal__72ba7 {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .heading-lg\/normal__72ba7.fontScaling__72ba7 {
  font-size: 1.25rem;
}
:where(.mana-type-consolidation) .heading-lg\/medium__72ba7 {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .heading-lg\/medium__72ba7.fontScaling__72ba7 {
  font-size: 1.25rem;
}
:where(.mana-type-consolidation) .heading-lg\/semibold__72ba7 {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}
:where(.mana-type-consolidation)
  .heading-lg\/semibold__72ba7.fontScaling__72ba7 {
  font-size: 1.25rem;
}
:where(.mana-type-consolidation) .heading-lg\/bold__72ba7 {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .heading-lg\/bold__72ba7.fontScaling__72ba7 {
  font-size: 1.25rem;
}
:where(.mana-type-consolidation) .heading-lg\/extrabold__72ba7 {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}
:where(.mana-type-consolidation)
  .heading-lg\/extrabold__72ba7.fontScaling__72ba7 {
  font-size: 1.25rem;
}
:where(.mana-type-consolidation) .heading-xl\/normal__72ba7 {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation) .heading-xl\/normal__72ba7.fontScaling__72ba7 {
  font-size: 1.5rem;
}
:where(.mana-type-consolidation) .heading-xl\/medium__72ba7 {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation) .heading-xl\/medium__72ba7.fontScaling__72ba7 {
  font-size: 1.5rem;
}
:where(.mana-type-consolidation) .heading-xl\/semibold__72ba7 {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation)
  .heading-xl\/semibold__72ba7.fontScaling__72ba7 {
  font-size: 1.5rem;
}
:where(.mana-type-consolidation) .heading-xl\/bold__72ba7 {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation) .heading-xl\/bold__72ba7.fontScaling__72ba7 {
  font-size: 1.5rem;
}
:where(.mana-type-consolidation) .heading-xl\/extrabold__72ba7 {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation)
  .heading-xl\/extrabold__72ba7.fontScaling__72ba7 {
  font-size: 1.5rem;
}
:where(.mana-type-consolidation) .heading-xxl\/normal__72ba7 {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 500;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .heading-xxl\/normal__72ba7.fontScaling__72ba7 {
  font-size: 2rem;
}
:where(.mana-type-consolidation) .heading-xxl\/medium__72ba7 {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 500;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .heading-xxl\/medium__72ba7.fontScaling__72ba7 {
  font-size: 2rem;
}
:where(.mana-type-consolidation) .heading-xxl\/semibold__72ba7 {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .heading-xxl\/semibold__72ba7.fontScaling__72ba7 {
  font-size: 2rem;
}
:where(.mana-type-consolidation) .heading-xxl\/bold__72ba7 {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation) .heading-xxl\/bold__72ba7.fontScaling__72ba7 {
  font-size: 2rem;
}
:where(.mana-type-consolidation) .heading-xxl\/extrabold__72ba7 {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .heading-xxl\/extrabold__72ba7.fontScaling__72ba7 {
  font-size: 2rem;
}
:where(.mana-type-consolidation) .eyebrow__72ba7 {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.3333333333333333;
  text-transform: none;
}
:where(.mana-type-consolidation) .eyebrow__72ba7.fontScaling__72ba7 {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .heading-deprecated-12\/normal__72ba7 {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation)
  .heading-deprecated-12\/normal__72ba7.fontScaling__72ba7 {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .heading-deprecated-12\/medium__72ba7 {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation)
  .heading-deprecated-12\/medium__72ba7.fontScaling__72ba7 {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .heading-deprecated-12\/semibold__72ba7 {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation)
  .heading-deprecated-12\/semibold__72ba7.fontScaling__72ba7 {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .heading-deprecated-12\/bold__72ba7 {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation)
  .heading-deprecated-12\/bold__72ba7.fontScaling__72ba7 {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .heading-deprecated-12\/extrabold__72ba7 {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation)
  .heading-deprecated-12\/extrabold__72ba7.fontScaling__72ba7 {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .redesign\/heading-18\/medium__72ba7 {
  font-family: var(--font-display);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2222222222222223;
}
:where(.mana-type-consolidation)
  .redesign\/heading-18\/medium__72ba7.fontScaling__72ba7 {
  font-size: 1.125rem;
}
:where(.mana-type-consolidation) .redesign\/heading-18\/semibold__72ba7 {
  font-family: var(--font-display);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2222222222222223;
}
:where(.mana-type-consolidation)
  .redesign\/heading-18\/semibold__72ba7.fontScaling__72ba7 {
  font-size: 1.125rem;
}
:where(.mana-type-consolidation) .redesign\/heading-18\/bold__72ba7 {
  font-family: var(--font-display);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2222222222222223;
}
:where(.mana-type-consolidation)
  .redesign\/heading-18\/bold__72ba7.fontScaling__72ba7 {
  font-size: 1.125rem;
}
:where(.mana-type-consolidation) .text-xxs\/normal__72ba7 {
  font-family: var(--font-primary);
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .text-xxs\/normal__72ba7.fontScaling__72ba7 {
  font-size: 0.625rem;
}
:where(.mana-type-consolidation) .text-xxs\/medium__72ba7 {
  font-family: var(--font-primary);
  font-size: 10px;
  font-weight: 500;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .text-xxs\/medium__72ba7.fontScaling__72ba7 {
  font-size: 0.625rem;
}
:where(.mana-type-consolidation) .text-xxs\/semibold__72ba7 {
  font-family: var(--font-primary);
  font-size: 10px;
  font-weight: 600;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .text-xxs\/semibold__72ba7.fontScaling__72ba7 {
  font-size: 0.625rem;
}
:where(.mana-type-consolidation) .text-xxs\/bold__72ba7 {
  font-family: var(--font-primary);
  font-size: 10px;
  font-weight: 600;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .text-xxs\/bold__72ba7.fontScaling__72ba7 {
  font-size: 0.625rem;
}
:where(.mana-type-consolidation) .text-xs\/normal__72ba7 {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation) .text-xs\/normal__72ba7.fontScaling__72ba7 {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .text-xs\/medium__72ba7 {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation) .text-xs\/medium__72ba7.fontScaling__72ba7 {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .text-xs\/semibold__72ba7 {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation) .text-xs\/semibold__72ba7.fontScaling__72ba7 {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .text-xs\/bold__72ba7 {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation) .text-xs\/bold__72ba7.fontScaling__72ba7 {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .text-sm\/normal__72ba7 {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2857142857142858;
}
:where(.mana-type-consolidation) .text-sm\/normal__72ba7.fontScaling__72ba7 {
  font-size: 0.875rem;
}
:where(.mana-type-consolidation) .text-sm\/medium__72ba7 {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2857142857142858;
}
:where(.mana-type-consolidation) .text-sm\/medium__72ba7.fontScaling__72ba7 {
  font-size: 0.875rem;
}
:where(.mana-type-consolidation) .text-sm\/semibold__72ba7 {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
:where(.mana-type-consolidation) .text-sm\/semibold__72ba7.fontScaling__72ba7 {
  font-size: 0.875rem;
}
:where(.mana-type-consolidation) .text-sm\/bold__72ba7 {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
:where(.mana-type-consolidation) .text-sm\/bold__72ba7.fontScaling__72ba7 {
  font-size: 0.875rem;
}
:where(.mana-type-consolidation) .text-md\/normal__72ba7 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}
:where(.mana-type-consolidation) .text-md\/normal__72ba7.fontScaling__72ba7 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .text-md\/medium__72ba7 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}
:where(.mana-type-consolidation) .text-md\/medium__72ba7.fontScaling__72ba7 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .text-md\/semibold__72ba7 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation) .text-md\/semibold__72ba7.fontScaling__72ba7 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .text-md\/bold__72ba7 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation) .text-md\/bold__72ba7.fontScaling__72ba7 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .text-lg\/normal__72ba7 {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .text-lg\/normal__72ba7.fontScaling__72ba7 {
  font-size: 1.25rem;
}
:where(.mana-type-consolidation) .text-lg\/medium__72ba7 {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .text-lg\/medium__72ba7.fontScaling__72ba7 {
  font-size: 1.25rem;
}
:where(.mana-type-consolidation) .text-lg\/semibold__72ba7 {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .text-lg\/semibold__72ba7.fontScaling__72ba7 {
  font-size: 1.25rem;
}
:where(.mana-type-consolidation) .text-lg\/bold__72ba7 {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .text-lg\/bold__72ba7.fontScaling__72ba7 {
  font-size: 1.25rem;
}
:where(.mana-type-consolidation) .redesign\/message-preview\/normal__72ba7 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .redesign\/message-preview\/normal__72ba7.fontScaling__72ba7 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .redesign\/message-preview\/medium__72ba7 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .redesign\/message-preview\/medium__72ba7.fontScaling__72ba7 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .redesign\/message-preview\/semibold__72ba7 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .redesign\/message-preview\/semibold__72ba7.fontScaling__72ba7 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .redesign\/message-preview\/bold__72ba7 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .redesign\/message-preview\/bold__72ba7.fontScaling__72ba7 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .redesign\/channel-title\/normal__72ba7 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .redesign\/channel-title\/normal__72ba7.fontScaling__72ba7 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .redesign\/channel-title\/medium__72ba7 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .redesign\/channel-title\/medium__72ba7.fontScaling__72ba7 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .redesign\/channel-title\/semibold__72ba7 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .redesign\/channel-title\/semibold__72ba7.fontScaling__72ba7 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .redesign\/channel-title\/bold__72ba7 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .redesign\/channel-title\/bold__72ba7.fontScaling__72ba7 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .display-sm__72ba7 {
  font-family: var(--font-headline);
  font-size: 24px;
  font-weight: 800;
  line-height: 1.0833333333333333;
}
:where(.mana-type-consolidation) .display-sm__72ba7.fontScaling__72ba7 {
  font-size: 1.5rem;
}
:where(.mana-type-consolidation) .display-md__72ba7 {
  font-family: var(--font-headline);
  font-size: 32px;
  font-weight: 800;
  line-height: 1.0625;
}
:where(.mana-type-consolidation) .display-md__72ba7.fontScaling__72ba7 {
  font-size: 2rem;
}
:where(.mana-type-consolidation) .display-lg__72ba7 {
  font-family: var(--font-headline);
  font-size: 44px;
  font-weight: 800;
  line-height: 1;
}
:where(.mana-type-consolidation) .display-lg__72ba7.fontScaling__72ba7 {
  font-size: 2.75rem;
}
:where(.mana-type-consolidation) .code__72ba7 {
  font-family: var(--font-code);
  font-size: 12px;
  font-weight: 700;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation) .code__72ba7.fontScaling__72ba7 {
  font-size: 0.75rem;
}
.addFriendInputWrapper__72ba7 {
  background-color: var(--input-background-default);
  border: 1px solid var(--input-border-default);
  border-radius: 16px;
  margin-top: 16px;
  padding: 0 12px;
  position: relative;
}
.addFriendInputWrapper__72ba7:focus-within {
  border-color: var(--text-link);
}
.addFriendInputWrapper__72ba7.error__72ba7 {
  border-color: var(--border-feedback-critical);
}
.addFriendInputWrapper__72ba7.success__72ba7 {
  border-color: var(--green-360);
}
.addFriendInputWrapper__72ba7.errorWithBg__72ba7 {
  background-color: var(--input-background-error-default);
  border-color: var(--input-border-error-default);
}
.addFriendUsernameRow__72ba7 {
  align-items: center;
  display: flex;
  padding: 2px 0;
  position: relative;
}
.addFriendWumpusWrapper__72ba7 {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  padding-inline-end: var(--space-128);
  position: relative;
}
.addFriendWumpusWrapper__72ba7 img {
  bottom: calc(var(--space-16) * -1);
  inset-inline-end: var(--space-16);
  position: absolute;
}
.inputText__72ba7 {
  letter-spacing: 0.04em;
  white-space: pre;
}
.addFriendInput__72ba7 {
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  color: var(--text-default);
  flex: 1 1 auto;
  margin-inline-end: 16px;
  padding: 4px 0;
  z-index: 1;
}
.addFriendInput__72ba7::-moz-placeholder {
  color: var(--text-muted);
  -moz-user-select: none;
  user-select: none;
}
.addFriendInput__72ba7::placeholder {
  color: var(--text-muted);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.input__72ba7 {
  background-color: unset;
  border: none;
  padding: 0;
}
.input__72ba7:focus,
.input__72ba7:focus-within,
.input__72ba7:hover {
  border: none;
}
.addFriendHint__72ba7 {
  box-sizing: border-box;
  color: var(--text-muted);
  cursor: text;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.addFriendHintPrefix__72ba7 {
  visibility: hidden;
}
.ring__72ba7 {
  border-radius: 8px;
}
.enable-forced-colors .addFriendInputWrapper__72ba7 {
  border-color: ButtonText;
}
.enable-forced-colors .addFriendInputWrapper__72ba7:focus-within {
  border-color: Highlight;
}
.friendNoteTextContainer__72ba7 {
  border-top: 1px solid var(--border-subtle);
  padding: var(--space-12) 0;
}
.friendNoteTextArea__72ba7 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  color: var(--text-subtle);
  padding: 0;
  resize: none;
  white-space: normal;
  width: 100%;
}
.friendNoteTextArea__72ba7::-moz-placeholder {
  color: var(--input-placeholder-text-default);
}
.friendNoteTextArea__72ba7::placeholder {
  color: var(--input-placeholder-text-default);
}
.characterCount__72ba7 {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  padding-top: var(--space-4);
  width: 100%;
}
.header_a14595 {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: var(--space-8);
  padding: 20px 30px;
}
.title_a14595 {
  margin: 0;
  margin-bottom: var(--space-8);
}
.grid_a14595 {
  -moz-column-gap: 32px;
  column-gap: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 20px;
  place-items: center;
  row-gap: 20px;
}
.container_a14595 {
  align-items: center;
  background-color: var(--background-base-lower);
  border: 1px solid var(--border-subtle);
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  width: 100%;
}
.container_a14595:hover {
  background-color: var(--interactive-background-hover);
}
.container_a14595:hover .arrow_a14595 {
  color: var(--interactive-text-hover);
}
.keyboard-mode .container_a14595:focus {
  background-color: var(--interactive-background-selected);
}
.container_a14595:active {
  background-color: var(--interactive-background-active);
}
.icon_a14595 {
  align-items: center;
  background-color: var(--green-360);
  border-radius: 8px;
  display: flex;
  filter: saturate(var(--saturation-factor, 1));
  flex-shrink: 0;
  height: 36px;
  justify-content: center;
  margin: 8px;
  width: 36px;
}
.text_a14595 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.arrow_a14595 {
  color: var(--interactive-text-default);
  margin-inline: auto 16px;
}
.header__94b08 {
  border-bottom: 1px solid var(--border-subtle);
  flex-shrink: 0;
  padding: 20px 30px;
}
.title__94b08 {
  margin-bottom: var(--space-8);
}
.emptyState__94b08 {
  flex: 1 1 auto;
  position: relative;
}

/*# sourceMappingURL=544998.ab55d54ba64b86db.css.map*/
