.panel__6131a {
  margin-block: var(--space-64) var(--space-64);
  margin-inline: auto;
  max-width: 696px;
  min-width: 300px;
  padding: 0 var(--space-16);
  position: relative;
}
@media (max-width: 1080px) {
  .panel__6131a {
    margin-block: var(--space-80) var(--space-80);
    margin-inline: auto;
  }
}
.panel__6131a * {
  box-sizing: border-box;
}
.scroller__6131a {
  height: 100%;
  overflow-x: visible;
  scroll-padding-top: 24px;
  scrollbar-gutter: stable both-edges;
}
.bottomMarker__6131a {
  height: 1px;
  translate: 0 -100%;
}
.tabBar__6131a {
  margin-bottom: var(--space-24);
}
.notice__6131a {
  bottom: 0;
  inset-inline: 0;
  margin: 0 auto;
  max-width: 696px;
  min-width: 300px;
  padding: var(--space-16);
  position: absolute;
  z-index: 2;
}
.decorationWrapper__6131a {
  z-index: 1;
}
.decorationWrapper__6131a.sticky__6131a {
  margin-bottom: var(--space-48);
  position: sticky;
  top: var(--space-64);
}
.decorationWrapper__6131a.sticky__6131a:before {
  background: var(--background-base-low);
  content: "";
  inset: calc(var(--space-64) * -1) 0;
  -webkit-mask-image: linear-gradient(
    to bottom,
    #000 0,
    #000 calc(100% - var(--space-64)),
    transparent calc(100% - var(--space-12))
  );
  mask-image: linear-gradient(
    to bottom,
    #000 0,
    #000 calc(100% - var(--space-64)),
    transparent calc(100% - var(--space-12))
  );
  pointer-events: none;
  position: absolute;
}
.categories__6131a {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.divider__6131a {
  margin: calc(var(--space-xxl) + var(--space-xs)) 0;
}
.title__28f6b {
  margin-bottom: var(--space-4);
}
.split__678d3 {
  align-items: start;
  display: grid;
  gap: var(--space-16);
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
@media (max-width: 800px) {
  .split__678d3 {
    grid-template-columns: 1fr;
  }
}
.tryItOutButtons__965a6 {
  display: flex;
  gap: 12px;
}
.previewThemeButton__965a6 {
  margin-bottom: 26px;
  margin-top: 16px;
}
.premiumTier2Divider__965a6 {
  background-image: linear-gradient(
    90deg,
    var(--premium-tier-2-pink-for-gradients) 0,
    var(--premium-tier-2-purple-for-gradients) 50%,
    var(--premium-tier-2-pink-for-gradients) 100%
  );
  height: 2px;
  margin-inline: -24px;
}
.displayClientThemesTitle__965a6 {
  color: var(--text-default);
}
.displayClientThemesHeading__965a6 {
  gap: 0;
}
.displayPremiumIcon__965a6 {
  color: var(--text-default);
}
.colorThemesBackground__965a6 {
  background: var(--background-base-lower);
  border: 1px solid var(--border-normal);
  border-radius: var(--radius-md);
  padding: 24px;
}
.container_a1d343 {
  align-items: center;
  background-color: var(--background-base-lowest);
  border-radius: var(--radius-sm);
  display: flex;
  gap: 16px;
  margin-bottom: 34px;
  margin-top: 44px;
  padding: 16px 25px;
}
.displayContainer_a1d343 {
  margin: 0;
}
.iconContainer_a1d343 {
  flex-shrink: 0;
}
.bannerImage_a1d343 {
  height: 69px;
  width: 117px;
}
.textContent_a1d343 {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 4px;
}
.buttonContainer_a1d343 {
  flex-shrink: 0;
}
.interactive_bf202d {
  border-radius: inherit;
  color: var(--interactive-text-default);
  cursor: pointer;
}
.interactive_bf202d:focus-within,
.interactive_bf202d:hover {
  background: var(--interactive-background-hover);
  color: var(--interactive-text-hover);
}
.interactive_bf202d:active {
  background: var(--interactive-background-active);
  color: var(--interactive-text-active);
}
.muted_bf202d {
  color: var(--text-muted);
}
@media (min-width: 486px) {
  .selected_bf202d {
    background: var(--interactive-background-selected);
    color: var(--interactive-text-active);
  }
}
.enable-forced-colors .interactive_bf202d {
  background-color: ButtonFace;
  border: 1px solid ButtonFace;
  color: ButtonText;
  forced-color-adjust: none;
}
.enable-forced-colors .interactive_bf202d:focus-within,
.enable-forced-colors .interactive_bf202d:hover {
  background-color: ButtonFace;
  border-color: ButtonText;
  color: ButtonText;
}
.enable-forced-colors .interactive_bf202d.selected_bf202d,
.enable-forced-colors .interactive_bf202d.selected_bf202d:focus-within,
.enable-forced-colors .interactive_bf202d.selected_bf202d:hover {
  background-color: Highlight;
  border-color: HighlightText;
  color: HighlightText;
}
.container_d79086 {
  box-sizing: border-box;
  contain: paint;
  cursor: revert;
  display: inline-block;
  position: relative;
  text-align: start;
  vertical-align: top;
  width: 100%;
}
.animatedText_d79086 {
  display: block;
  overflow: hidden;
  pointer-events: none;
  text-overflow: ellipsis;
  transform-style: preserve-3d;
  white-space: nowrap;
  width: 100%;
}
.hoverRoll__0263c {
  box-sizing: border-box;
  contain: paint;
  cursor: revert;
  display: inline-block;
  position: relative;
  text-align: start;
  vertical-align: top;
  width: 100%;
}
.hoverRoll__0263c.forceHover__0263c:not(.disabled__0263c) .default__0263c,
.hoverRoll__0263c:hover:not(.disabled__0263c) .default__0263c {
  opacity: 0;
  transform: translate3d(0, -107%, 0);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.hoverRoll__0263c.forceHover__0263c:not(.disabled__0263c) .hovered__0263c,
.hoverRoll__0263c:hover:not(.disabled__0263c) .hovered__0263c {
  opacity: 1;
  transform: translateZ(0);
}
.default__0263c,
.hovered__0263c {
  display: block;
  overflow: hidden;
  pointer-events: none;
  text-overflow: ellipsis;
  transform-style: preserve-3d;
  white-space: nowrap;
  width: 100%;
}
.full-motion .default__0263c,
.full-motion .hovered__0263c {
  transition: all 0.22s ease;
}
.hovered__0263c {
  inset: 0;
  opacity: 0;
  position: absolute;
  transform: translate3d(0, 107%, 0);
}
.emoji_ce5b39 {
  flex-shrink: 0;
}
.background_df5e2e {
  background-repeat: repeat;
  bottom: -100vh;
  position: absolute;
  top: -100vh;
  inset-inline: -100vw;
  pointer-events: none;
}
.wrapper_a230e0 {
  bottom: 120px;
  box-shadow:
    var(--elevation-high),
    0 0 7px 2px var(--opacity-white-80) inset;
  display: flex;
  flex-direction: column;
  inset-inline-end: 40px;
  max-width: 376px;
  pointer-events: all;
  z-index: 1000;
}
.backgroundWrapper_a230e0,
.wrapper_a230e0 {
  border-radius: var(--radius-sm);
  position: absolute;
}
.backgroundWrapper_a230e0 {
  top: 0;
  inset-inline: 0;
  bottom: 0;
  overflow: hidden;
}
.backgroundImage_a230e0 {
  background-image: url(https://cdn.discordapp.com/assets/content/03fd0662b5ff101e4fc8c43309a51174a8d6de4275ebc364897623093487fa45.png);
  background-size: 1120px 630px;
}
.backgroundOverlay_a230e0 {
  background: linear-gradient(
    to bottom,
    hsl(var(--black-hsl) / 80%),
    hsl(var(--black-hsl) / 40%)
  );
  position: absolute;
  top: 0;
  inset-inline: 0;
  bottom: 0;
}
.heroImage_a230e0 {
  background-image: url(https://cdn.discordapp.com/assets/content/df9ae78646e66db6aa0c2286477f8e97de435683b446dc437c2276e461568783.png);
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0;
  height: 104px;
  inset-inline-start: -16px;
  min-width: 94px;
  position: absolute;
}
.content_a230e0 {
  display: flex;
  padding: 12px;
  padding-inline-start: 80px;
  position: relative;
}
.link_a230e0 {
  cursor: pointer;
  font-weight: 600;
  text-decoration: underline;
}
.closeClickable_a230e0 {
  color: var(--white);
  cursor: pointer;
  inset-inline-end: 8px;
  opacity: 0.8;
  position: absolute;
  top: 8px;
  transition: opacity 0.2s ease;
}
.closeClickable_a230e0:hover {
  opacity: 1;
}
.picker_df23be {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.themes_df23be {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.inputs_f37d97 {
  background: var(--background-base-lowest);
  border-radius: 4px;
  border-style: none;
  color: var(--text-default);
  width: 100px;
}
.hexInput_f37d97 {
  align-items: center;
  display: flex;
  gap: 8px;
}
.previewsContainer_f37d97 {
  flex: 0 0 auto;
  padding-bottom: var(--space-16);
}
.preview_f37d97 {
  background: var(--background-base-lowest);
  padding: 8px;
}
.preview_f37d97,
.simArea_f37d97 {
  border-radius: 8px;
  width: 100%;
}
.simArea_f37d97 {
  background: var(--background-base-lower);
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 10px;
  padding-inline-end: 8px;
  padding-top: 10px;
  position: relative;
}
.themePicker_f37d97 {
  margin-top: 8px;
}
.controls_f37d97 {
  flex-direction: column;
  margin-bottom: 32px;
  margin-top: 8px;
}
.controls_f37d97,
.toggles_f37d97 {
  display: flex;
  gap: 8px;
}
.dmlist_f37d97 {
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.dark_f37d97 {
  background: #2b2d31;
}
.light_f37d97 {
  background: #f2f3f5;
}
.overflowTooltip_f37d97 {
  margin-inline-start: 8px;
  max-width: 224px;
  position: relative;
}
.overflowTooltip_f37d97.fullWidth_f37d97 {
  max-width: 100%;
}
.clanTag_f37d97 {
  margin-inline-start: 4px;
}
.main_f37d97 {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-16);
}
.flex_f37d97 {
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}
.buttons_f37d97,
.flex_f37d97 {
  display: flex;
  gap: 8px;
}
.buttons_f37d97 {
  flex: 0 0 250px;
  flex-direction: column;
}
.uploaded_f37d97 {
  align-items: center;
  background: var(--background-base-lowest);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: -moz-fit-content;
  height: fit-content;
  padding: 8px;
  position: relative;
  width: 250px;
}
.uploadedImg_f37d97 {
  max-height: 50px;
  max-width: 80%;
}
.uploadedArea_f37d97 {
  background: var(--background-base-lower);
  border-radius: 8px;
  flex-direction: column;
  height: auto;
  width: -moz-fit-content;
  width: fit-content;
}
.uploadedArea_f37d97,
.uploadedControls_f37d97 {
  display: flex;
  gap: 8px;
}
.xicon_f37d97 {
  cursor: pointer;
  inset-inline-end: 8px;
  position: absolute;
  top: 8px;
}
.previews_f37d97 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 432px;
  min-width: 264px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  resize: none;
}
.label_f37d97 {
  margin-inline-start: 8px;
}
.rtcSim_f37d97 {
  border-radius: 8px;
}
.rtcSim_f37d97 > div > div {
  padding-inline: 10px !important;
}
.theme-dark .rtcSim_f37d97 {
  background: var(--background-gradient-lowest, var(--background-mod-normal));
}
.theme-light .rtcSim_f37d97 {
  background: var(--background-gradient-low, var(--background-mod-normal));
}
.resizeHandle_f37d97 {
  align-items: center;
  background: var(--background-base-lowest);
  border-radius: 4px;
  bottom: 0;
  cursor: ew-resize;
  display: flex;
  inset-inline-end: -2px;
  justify-content: center;
  position: absolute;
  top: 0;
  transition: background-color 0.2s ease;
  width: 8px;
  z-index: 10;
}
.resizeHandle_f37d97:hover {
  background: var(--background-base-lower);
}
.resizeHandle_f37d97:before {
  background: var(--text-muted);
  border-radius: 1px;
  content: "";
  height: 20px;
  width: 2px;
}
.resizeHandle_f37d97:after {
  background: var(--text-muted);
  border-radius: 1px;
  content: "";
  height: 20px;
  inset-inline-start: 50%;
  margin-inline-start: 2px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
}
.avatar_d28e10 {
  align-items: center;
  display: flex;
  inset-inline-start: 16px;
  justify-content: center;
  position: absolute;
  top: 61px;
  z-index: 1;
}
.overlay_d28e10:after {
  background-color: var(--opacity-black-40);
  border-radius: var(--radius-round);
  content: "";
  height: 100%;
  inset-inline-end: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.2s ease;
  width: 100%;
  z-index: 0;
}
.overlayIcon_d28e10 {
  opacity: 0;
  position: absolute;
  transition: opacity 0.2s ease;
}
.clickable_d28e10.avatar_d28e10 {
  cursor: pointer;
}
.clickable_d28e10:focus-within .overlay_d28e10:after,
.clickable_d28e10:focus-within .overlayIcon_d28e10,
.clickable_d28e10:hover .overlay_d28e10:after,
.clickable_d28e10:hover .overlayIcon_d28e10 {
  opacity: 1;
}
.menu_d28e10 {
  margin-top: 30px;
}
.notDetected_b53c4e,
.nowPlaying_b53c4e {
  animation: none;
  border-radius: 3px;
  margin-top: 0;
  padding: 16px;
  width: 100%;
}
.notDetected_b53c4e .overlayStatusText_b53c4e,
.notDetected_b53c4e .overlayWarningIcon_b53c4e,
.nowPlaying_b53c4e .overlayStatusText_b53c4e,
.nowPlaying_b53c4e .overlayWarningIcon_b53c4e {
  opacity: 1;
}
.game_b53c4e {
  background-color: var(--background-mod-normal);
  border-radius: 12px;
  margin-bottom: 12px;
  padding: 16px;
  position: relative;
}
.game_b53c4e .removeGame_b53c4e {
  cursor: pointer;
  inset-inline-end: -15px;
  opacity: 0;
  position: absolute;
  top: -12px;
}
.game_b53c4e:focus-within .overlayStatusText_b53c4e,
.game_b53c4e:focus-within .overlayWarningIcon_b53c4e,
.game_b53c4e:focus-within .removeGame_b53c4e,
.game_b53c4e:hover .overlayStatusText_b53c4e,
.game_b53c4e:hover .overlayWarningIcon_b53c4e,
.game_b53c4e:hover .removeGame_b53c4e {
  opacity: 1;
}
.toggleContainer_b53c4e {
  margin-inline-start: 12px;
}
.activeGame_b53c4e {
  border-radius: 12px;
  position: relative;
}
.activeGame_b53c4e .removeGame_b53c4e {
  inset-inline-end: -12px;
  opacity: 0;
  position: absolute;
  top: -12px;
}
.activeGame_b53c4e:focus-within .removeGame_b53c4e,
.activeGame_b53c4e:hover .removeGame_b53c4e {
  opacity: 1;
}
.gameName_b53c4e,
.gameNameInput_b53c4e,
.gameVerifiedIcon_b53c4e,
.lastPlayed_b53c4e,
.overlayStatusText_b53c4e,
.toggleIcon_b53c4e {
  z-index: 1;
}
.gameNameLastPlayed_b53c4e {
  flex: 1;
}
.gameVerifiedIcon_b53c4e {
  margin-inline-start: 8px;
}
.gameName_b53c4e {
  color: var(--text-strong);
  font-size: 16px;
  font-weight: var(--font-weight-semibold);
  line-height: 22px;
}
.gameNameInput_b53c4e {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 3px;
  margin-inline-start: -5px;
  padding: 0 4px;
  width: 240px;
}
.gameNameInput_b53c4e:focus,
.gameNameInput_b53c4e:hover {
  background-color: var(--background-mod-normal);
  border-color: hsl(var(--primary-500-hsl) / 0.3);
}
.lastPlayed_b53c4e {
  color: var(--primary-400);
  font-size: 14px;
}
.overlayStatusText_b53c4e {
  color: var(--text-muted);
  font-size: 14px;
  margin-inline-end: 4px;
  opacity: 0;
  text-transform: uppercase;
  width: 100px;
}
.toggleIcon_b53c4e {
  cursor: pointer;
}
.toggleIconOff_b53c4e .fill_b53c4e {
  fill: var(--icon-feedback-critical);
}
.toggleIconInactive_b53c4e {
  cursor: not-allowed;
}
.toggleIconInactive_b53c4e .fill_b53c4e {
  fill: var(--icon-feedback-critical);
  opacity: 0.5;
}
.overlayWarningIcon_b53c4e {
  background: url(/assets/07e52d3b4c358536.svg) no-repeat;
  height: 16px;
  margin-inline-end: 20px;
  opacity: 0;
  width: 16px;
}
.subgame_b53c4e {
  align-items: center;
  background-color: var(--background-surface-high);
  border-radius: 0;
  display: flex;
  margin-bottom: 0;
  width: 100%;
}
.subgame_b53c4e:last-child {
  border-radius: 0 0 12px 12px;
}
.border_b53c4e {
  border-bottom: 1px solid var(--border-subtle);
  margin: 0 16px;
}
.detectedApplication_b53c4e {
  align-items: center;
  display: flex;
}
.nowPlaying_b53c4e {
  background-color: var(--status-positive-background);
}
.nowPlaying_b53c4e .gameName_b53c4e {
  color: var(--white);
}
.nowPlaying_b53c4e .gameNameInput_b53c4e:focus,
.nowPlaying_b53c4e .gameNameInput_b53c4e:hover {
  background-color: hsl(var(--green-560-hsl) / 0.3);
  border-color: var(--green-560);
}
.nowPlaying_b53c4e .lastPlayed_b53c4e,
.nowPlaying_b53c4e .overlayStatusText_b53c4e {
  color: var(--white);
}
.nowPlaying_b53c4e .toggleIconInactive_b53c4e .fill_b53c4e,
.nowPlaying_b53c4e .toggleIconOff_b53c4e .fill_b53c4e,
.nowPlaying_b53c4e .toggleIconOn_b53c4e .fill_b53c4e {
  fill: var(--white);
}
.notDetected_b53c4e {
  background-color: var(--background-base-lower);
}
.notDetected_b53c4e .gameName_b53c4e {
  color: var(--interactive-text-active);
}
.notDetected_b53c4e .lastPlayed_b53c4e {
  color: var(--text-muted);
}
.toggleIconOn_b53c4e .fill_b53c4e {
  fill: var(--interactive-text-default);
}
.game_b53c4e.gameHasSubgame_b53c4e {
  border-end-end-radius: 0;
  border-end-start-radius: 0;
  margin-bottom: 0;
}
.subgameContainer_b53c4e {
  background-color: var(--background-surface-high);
  border-radius: 0 0 12px 12px;
  margin-bottom: 20px;
}
.detectionToggleModal_b53c4e {
  width: var(--modal-width-small);
}
.addGamePopout__254c2 {
  background-color: var(--background-surface-higher);
  border: 1px solid var(--border-subtle);
  border-radius: 3px;
  padding: 10px;
  width: 300px;
}
.addGamePopout__254c2 .actions__254c2 {
  align-items: center;
  gap: var(--space-16);
  justify-content: flex-end;
}
.nowPlayingAdd__1f52c {
  align-items: center;
  align-self: flex-start;
  color: var(--text-muted);
  display: flex;
  font-size: 14px;
  gap: 4px;
  margin-inline-start: 0;
}
.previewTitle__6b741 {
  margin-bottom: var(--space-8);
  position: relative;
}
.preview__6b741 {
  background: var(--background-base-low);
  border: 1px solid var(--border-normal);
  border-radius: var(--radius-sm);
  display: grid;
  gap: var(--space-8);
  grid-auto-flow: column;
  grid-template-columns: 1fr min-content;
  max-height: 25vh;
  padding: var(--space-24);
  position: relative;
  --message-background-hover: transparent;
}
.messages__6b741 {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  translate: calc(var(--custom-message-margin-horizontal) * -1) 0;
}
.avatars__6b741 {
  gap: var(--space-6);
  justify-content: space-between;
}
.avatars__6b741,
.previewRight__6b741 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.previewRight__6b741 {
  gap: var(--space-20);
}
.root_aea291 {
  align-items: center;
  border-radius: var(--radius-xs);
  display: flex;
  padding: 8px;
}
.icon_aea291 {
  flex-shrink: 0;
  height: 24px;
  margin-inline-end: 10px;
  width: 24px;
}
.text_aea291 {
  flex: 1;
  text-align: start;
}
.info_aea291 {
  background-color: var(--background-feedback-info);
  border: 1px solid var(--icon-feedback-info);
}
.info_aea291 .icon_aea291 {
  color: var(--icon-feedback-info);
}
.warning_aea291 {
  background-color: var(--background-feedback-warning);
  border: 1px solid var(--icon-feedback-warning);
}
.warning_aea291 .icon_aea291 {
  box-sizing: border-box;
  color: var(--icon-feedback-warning);
  height: 20px;
  width: 20px;
}

/*# sourceMappingURL=59611.0884e7bf5d41b523.css.map*/
