.container_dea1f0 {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.container_dea1f0,
.content_dea1f0 {
  display: flex;
  flex-direction: column;
  min-height: 0;
  width: 100%;
}
.content_dea1f0 {
  filter: blur(60px);
  flex: 1 1 auto;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.closeButton_dea1f0 {
  inset-inline-end: 16px;
  top: 16px;
}
.closeButton_dea1f0,
.warning_dea1f0 {
  position: absolute;
  z-index: 2;
}
.warning_dea1f0 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
  inset-inline-start: 50%;
  padding: 8px 12px;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.imageWrapper_af017a {
  display: block;
  overflow: hidden;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
}
:where(.imageWrapper_af017a) {
  border-radius: 3px;
  position: relative;
}
.clickableWrapper_af017a,
.loadingOverlay_af017a {
  height: 100%;
  width: 100%;
}
.imageWrapperBackground_af017a {
  background: var(--opacity-black-4);
}
.imagePlaceholder_af017a {
  background: var(--background-gradient-chat, var(--background-base-low));
  display: block;
  position: absolute;
  top: 0;
  transition: none;
}
.full-motion .imagePlaceholder_af017a {
  transition: opacity 0.2s ease;
}
.imageErrorWrapper_af017a {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
  justify-content: center;
  overflow: hidden;
  padding: var(--space-8) 0;
}
.imageErrorIllustration_af017a {
  min-height: 0;
}
.imageErrorIllustration_af017a > img {
  display: block;
  height: 100%;
  max-height: 100%;
  max-width: 160px;
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
}
.imageErrorText_af017a {
  flex-shrink: 0;
}
.full-motion .imagePlaceholderFastFade_af017a {
  transition: opacity 50ms ease;
}
.imagePlaceholderVisible_af017a {
  opacity: 1;
}
.imageLoadingOverlay_af017a,
.imagePlaceholderHidden_af017a {
  opacity: 0;
  pointer-events: none;
}
.imageLoadingOverlay_af017a {
  background-color: var(--opacity-black-48);
  border-radius: 100%;
  box-sizing: border-box;
  display: flex;
  height: 24px;
  inset-inline-end: 0;
  margin: 4px;
  overflow: hidden;
  padding: 3px;
  position: absolute;
  top: 0;
  transition: none;
  width: 24px;
}
.full-motion .imageLoadingOverlay_af017a {
  transition: opacity 0.2s ease;
}
.imageLoadingOverlayVisible_af017a {
  opacity: 1;
  pointer-events: auto;
}
.full-motion .imageLoadingOverlayVisible_af017a {
  transition: opacity 0.8s ease;
}
.cornerLoadingSpinner_af017a {
  height: 100%;
  opacity: 0.75;
  width: 100%;
}
.theme-dark .cornerLoadingSpinner_af017a circle,
.theme-light .cornerLoadingSpinner_af017a circle {
  stroke: var(--white);
}
.imageAccessory_af017a {
  inset-inline-start: 6px;
  position: absolute;
  top: 6px;
  z-index: 3;
}
.imageZoom_af017a {
  cursor: nesw-resize;
  cursor: zoom-in;
}
.clickable_af017a {
  cursor: pointer;
}
.originalLink_af017a {
  inset: 0;
  position: absolute;
  z-index: 1;
}
.imageClickable_af017a {
  border-radius: inherit;
}
.background-opacity-low .imageWrapper_af017a,
.background-opacity-medium .imageWrapper_af017a {
  opacity: 0.6;
}
.overlay-unlocked .imageWrapper_af017a {
  opacity: 1;
}
.enable-forced-colors .originalLink_af017a {
  border: 2px solid ButtonText;
}

/*# sourceMappingURL=61558.9ccb30637b2c5b7a.css.map*/
