.buttons_bc38cd {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.buttons_bc38cd:empty {
  display: none;
}
.themeContainer__5be3e {
  --custom-profile-frame-layer-scale: calc(
    300 / var(--custom-profile-frame-container-width)
  );
  --custom-profile-frame-scaled-overflow-horizontal: calc(
    var(--custom-profile-frame-overflow-horizontal) *
      var(--custom-profile-frame-layer-scale)
  );
  --custom-profile-frame-scaled-overflow-top: calc(
    var(--custom-profile-frame-overflow-top) *
      var(--custom-profile-frame-layer-scale)
  );
  --custom-profile-frame-scaled-overflow-bottom: calc(
    var(--custom-profile-frame-overflow-bottom) *
      var(--custom-profile-frame-layer-scale)
  );
}
.themeContainer__5be3e.custom-user-profile-theme {
  --custom-profile-frame-layer-scale: calc(
    308 / var(--custom-profile-frame-container-width)
  );
}
@media (min-height: 481px) {
  .themeContainer__5be3e.custom-profile-frame {
    max-height: calc(
      100vh - 20px - var(--custom-profile-frame-scaled-overflow-top) * 1px
    );
  }
  .themeContainer__5be3e.custom-profile-frame-bottom {
    margin-block-end: calc(
      var(--custom-profile-frame-scaled-overflow-bottom) * 1px
    );
    max-height: calc(
      100vh - 20px - var(--custom-profile-frame-scaled-overflow-top) * 1px -
        var(--custom-profile-frame-scaled-overflow-bottom) * 1px
    );
  }
}
.header__5be3e {
  flex-shrink: 0;
  min-height: calc(var(--custom-user-profile-banner-height) + 35px);
  position: relative;
}
.custom-user-profile-theme .header__5be3e {
  min-height: calc(var(--custom-user-profile-banner-height) + 31px);
}
.headerTag__5be3e {
  border-radius: var(--radius-xs);
  bottom: 8px;
  inset-inline-end: 16px;
  position: absolute;
}
.body__5be3e {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 4px 16px 8px;
}
.card__5be3e {
  padding: 12px;
}
.footer__5be3e {
  display: flex;
  flex-direction: column;
  padding: 0 16px 12px;
}
.footer__5be3e:empty {
  padding: 0;
  visibility: hidden;
}
.backdrop__5be3e {
  background: var(--background-scrim);
  position: absolute;
  top: 0;
  inset-inline: 0;
  bottom: 0;
  z-index: var(--custom-user-profile-hoist-z-index);
}
.toast__5be3e {
  top: calc((var(--custom-user-profile-banner-height) - 56px) / 2);
  z-index: var(--custom-user-profile-toast-z-index);
}
.friendRequestToastContainer__5be3e {
  position: absolute;
  top: -8px;
  width: 100%;
}
.friendRequestToast__5be3e {
  background-color: var(--background-surface-highest);
  border: 1px solid var(--border-normal);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-medium);
  flex-direction: row;
  gap: 8px;
  padding: 12px;
}
.friendRequestToast__5be3e,
.xIcon__5be3e {
  align-items: center;
  display: flex;
  justify-content: center;
}
.xIcon__5be3e {
  background-color: var(--background-code-deletion);
  border-radius: 8px;
  flex-shrink: 0;
  height: 36px;
  width: 36px;
}
.subtext__339d0 {
  color: var(--text-subtle);
  line-height: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.title_b6c092 {
  color: var(--text-strong);
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.custom-user-profile-theme .container_a99829 {
  border: none;
}
.theme-light.custom-user-profile-theme .container_a99829 {
  background: var(--opacity-black-8);
}
.theme-dark.custom-user-profile-theme .container_a99829 {
  background: var(--opacity-white-12);
}
.editor_a99829.editor_a99829 {
  --channel-text-area-placeholder: var(--text-muted);
  font-size: 14px;
}
.ctaRow_a99829 {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.menuItemLabel_a99829 {
  display: flex;
  gap: 6px;
}
.container_a99829 {
  border-radius: var(--radius-sm);
}
.upsell_a99829 {
  border-radius: 0 0 var(--radius-sm) var(--radius-sm);
}
.buttons_a99829 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  padding-block-start: var(--space-6);
}
.previewContainer__5a2c6 {
  position: relative;
  z-index: 0;
}
.container__5a2c6 {
  box-sizing: content-box;
  position: relative;
  --custom-profile-frame-layer-scale: calc(
    300 / var(--custom-profile-frame-container-width)
  );
  --custom-profile-frame-scaled-overflow-horizontal: calc(
    var(--custom-profile-frame-overflow-horizontal) *
      var(--custom-profile-frame-layer-scale)
  );
  --custom-profile-frame-scaled-overflow-top: calc(
    var(--custom-profile-frame-overflow-top) *
      var(--custom-profile-frame-layer-scale)
  );
  --custom-profile-frame-scaled-overflow-bottom: calc(
    var(--custom-profile-frame-overflow-bottom) *
      var(--custom-profile-frame-layer-scale)
  );
}
.container__5a2c6.custom-user-profile-theme {
  --custom-profile-frame-layer-scale: calc(
    308 / var(--custom-profile-frame-container-width)
  );
}
.container__5a2c6.custom-profile-frame {
  margin-block-start: calc(
    var(--custom-profile-frame-scaled-overflow-top) * 1px
  );
  margin-inline: calc(
    var(--custom-profile-frame-scaled-overflow-horizontal) * 1px
  );
}
.container__5a2c6.custom-profile-frame-bottom {
  margin-block-end: calc(
    var(--custom-profile-frame-scaled-overflow-bottom) * 1px
  );
}
.header__5a2c6 {
  min-height: calc(var(--custom-user-profile-banner-height) + 45px);
  z-index: 2;
}
.custom-user-profile-theme .header__5a2c6 {
  min-height: calc(var(--custom-user-profile-banner-height) + 35px);
}
.profileFrame__5a2c6 {
  --custom-profile-frame-drop-shadow-opacity: 0;
}
.slowModeIcon_b21699 {
  display: block;
  margin-inline-start: 4px;
}
.cooldownWrapper_b21699 {
  gap: 4px;
  margin-inline-start: auto;
  overflow: hidden;
  padding: 3px 8px;
  padding-inline-end: 16px;
  white-space: nowrap;
}
.cooldownText_b21699,
.cooldownWrapper_b21699 {
  align-items: center;
  display: flex;
}
.cooldownText_b21699 {
  border-start-end-radius: 8px;
  border-start-start-radius: 8px;
  gap: var(--space-4);
  transition: color 0.2s ease;
}
.base_b88801 {
  align-items: center;
  bottom: 1px;
  color: var(--text-subtle);
  display: flex;
  font-size: 12px;
  font-weight: 500;
  height: 24px;
  inset-inline: var(--space-16) 16px;
  line-height: 16px;
  overflow-y: hidden;
  position: absolute;
  resize: none;
}
.base_b88801 strong {
  font-weight: var(--font-weight-bold);
}
.base_b88801 .text_b88801 {
  display: block;
  margin-inline-start: 4px;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.base_b88801 .ellipsis_b88801 {
  display: block;
  flex: 0 0 auto;
  margin-inline-start: 0;
}
.base_b88801 .typingDots_b88801 {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
}
.inTextChannel_b88801.base_b88801 {
  bottom: unset;
  top: -24px;
  inset-inline: 0;
  padding-inline-start: var(--space-md);
  pointer-events: all;
}
.inTextChannel_b88801 .typingDots_b88801 {
  margin-inline-start: 8px;
}
.inTextChannel_b88801 .text_b88801 {
  margin-inline-start: calc(var(--space-md) + var(--space-8));
  z-index: 1;
}
.inTextChannel_b88801 .text_b88801 > strong {
  color: var(--text-default);
  font-weight: var(--font-weight-semibold);
}
.typing_b88801 {
  overflow: visible;
}
.announcer_b88801 {
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  clip: rect(0, 0, 0, 0);
  border: 0;
  pointer-events: none;
  white-space: nowrap;
}
.activityInviteEducation_b88801 {
  bottom: unset;
  margin-inline-start: -8px;
  opacity: 0;
  top: -24px;
  inset-inline: 0;
  padding-inline-start: var(--space-md);
  pointer-events: all;
  z-index: 1;
}
.activityInviteEducationFadeIn_b88801 {
  opacity: 1;
}
.activityInviteEducationArrow_b88801 {
  background-repeat: no-repeat;
  background-size: 12px 10px;
  display: inline-block;
  height: 15px;
  margin-block: 0;
  margin-inline: 24px 2px;
  transform: scaleY(-1);
  width: 15px;
}
.images-light .activityInviteEducationArrow_b88801 {
  background-image: url(/assets/3b11031474fb64a0.svg);
}
.images-dark .activityInviteEducationArrow_b88801 {
  background-image: url(/assets/6ad5446be34bb27a.svg);
}
.inner__36c1b {
  padding: 0 16px;
}
.body__36c1b,
.inner__36c1b {
  display: flex;
  flex-direction: column;
}
.body__36c1b {
  flex-grow: 1;
}
.headerInput__36c1b {
  align-items: center;
  gap: 16px;
  overflow: hidden;
}
.inputWrapper__36c1b {
  flex: 1 1 auto;
  padding-inline-end: 8px;
}
.titleInput__36c1b {
  background-color: transparent;
  border: none !important;
  color: var(--text-strong);
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 700;
  height: 26px;
  line-height: 24px;
  margin-top: 16px;
  padding-bottom: 0;
  padding-inline-start: 0;
  width: 100%;
}
.titleInput__36c1b::-moz-placeholder {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.titleInput__36c1b::placeholder {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.attachmentsContainer__36c1b {
  margin-inline-start: -16px;
}
.divider__36c1b {
  background-color: var(--border-subtle);
  height: 1px;
}
.footer__36c1b {
  justify-content: space-between;
  padding: 0 16px;
}
.footer__36c1b,
.footerPart__36c1b {
  align-items: center;
  display: flex;
}
.footerPart__36c1b {
  gap: 8px;
  margin-inline-start: -8px;
}
.threadToggle__36c1b {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 6px;
}
.heroImageWrapper__36c1b {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.heroImage__36c1b,
.heroImageWrapper__36c1b {
  border-radius: var(--radius-sm);
  height: var(--custom-channel-attachment-upload-mini-attachment-size);
  width: var(--custom-channel-attachment-upload-mini-attachment-size);
}
.heroImage__36c1b {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.heroOverlay__36c1b {
  cursor: pointer;
  inset-inline-end: 8px;
  position: absolute;
  top: 8px;
}
.attachButton__36c1b {
  border: none;
  border-radius: 8px;
  color: var(--interactive-text-default);
  line-height: 0;
  padding: 6px;
  position: relative;
  transition: background-color 0.2s;
}
.attachButton__36c1b:hover {
  background-color: var(--interactive-background-selected);
  color: var(--interactive-text-active);
}
.editModeButton__36c1b {
  color: var(--interactive-text-default);
  cursor: pointer;
}
.editModeButton__36c1b:hover {
  color: var(--interactive-text-active);
}
.heroImageButton__36c1b {
  align-items: center;
  background-color: var(--background-mod-normal);
  border-radius: var(--radius-sm);
  cursor: pointer;
  display: flex;
  height: var(--custom-channel-attachment-upload-mini-attachment-size);
  justify-content: center;
  position: relative;
  width: var(--custom-channel-attachment-upload-mini-attachment-size);
}
.sendButtonContainer__36c1b:hover .subIcon__36c1b {
  background-color: var(--control-primary-background-hover);
}
.sendButton__36c1b {
  padding: 0 8px;
}
.sendButton__36c1b,
.sendButtonContents__36c1b {
  align-items: center;
  display: flex;
  gap: 4px;
}
.sendButtonContents__36c1b {
  padding: 4px;
}
.sendButtonDivider__36c1b {
  background: var(--border-subtle);
  height: 24px;
  width: 1px;
}
.sendButtonIcons__36c1b {
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: visible;
  position: relative;
}
.subIcon__36c1b {
  background-color: var(--control-primary-background-default);
  border-radius: 8px;
  bottom: -4px;
  height: 10px;
  inset-inline-end: -4px;
  padding: 1px;
  position: absolute;
  transition: background-color var(--custom-button-transition-duration) ease;
  width: 10px;
}
.wrapper__4d3a9 {
  align-self: stretch;
  flex: 0 0 auto;
}
.icon__4d3a9,
.wrapper__4d3a9 {
  position: sticky;
}
.icon__4d3a9 {
  padding-block: 15px;
  padding-inline: 16px 12px;
  top: 0;
}
.applicationIcon__2c2b3 {
  height: 1.33em;
  margin-inline: 2px 4px;
  vertical-align: text-bottom;
  width: auto;
}
.applicationNameWrapper__2c2b3 {
  display: inline-block;
}
.container_db811b {
  align-self: flex-start;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  margin-inline-end: 16px;
}
.mask_db811b {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
.image_db811b {
  height: 100%;
  width: 100%;
}
.imageContainer_db811b {
  height: 100%;
  width: 100%;
}
.imageContainer_db811b,
.maskBackground_db811b {
  align-items: center;
  display: flex;
  justify-content: center;
}
.maskBackground_db811b {
  border-radius: 50%;
  grid-column: 2/2;
  grid-row: 2/2;
  height: 20px;
  width: 20px;
}
.maskIcon_db811b {
  height: 12px;
  width: 12px;
}
.row__6fddf {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: var(--space-xs) var(--space-sm);
  position: relative;
}
.row__6fddf:hover {
  background-color: var(--background-mod-subtle);
}
.rowContent__6fddf {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}
.body__6fddf {
  flex: 1;
  margin-top: 2px;
}
.messagePreviewContainer__6fddf {
  background-color: var(--background-base-low);
  border-radius: 8px;
  display: flex;
  margin-bottom: 2px;
  margin-top: 4px;
  padding: 8px;
  pointer-events: none;
}
.messagePreviewText__6fddf {
  flex: 1;
  margin: auto;
  padding-inline-start: 8px;
  width: 0;
}
.calloutContainer__6fddf {
  background-color: var(--background-base-low);
  border-radius: 8px;
  margin-bottom: 2px;
  margin-top: 4px;
  padding: 8px 16px;
}
.unread__6fddf {
  background-color: var(--interactive-text-active);
  border-radius: 50%;
  height: 8px;
  inset-inline-start: -4px;
  position: absolute;
  top: 28px;
  width: 8px;
}
.friendRequestContainer__6fddf {
  display: flex;
  margin-top: 4px;
}
.button__6fddf {
  cursor: pointer;
  padding: 7px 16px;
}
.acceptButton__6fddf,
.ignoreButton__6fddf {
}
.acceptButton__6fddf {
  margin-inline-end: 12px;
}
.lifecycleContainer__6fddf {
  align-items: center;
  display: flex;
  margin-bottom: 1px;
}
.lifecycleText__6fddf {
  padding-inline-start: 4px;
}
.checkbox__6fddf {
  height: 16px;
  width: 16px;
}
.emoji__6fddf {
  margin-inline-start: 4px;
}
.container__0f711 {
  background-color: var(--background-surface-high);
}
.spinner__0f711 {
  margin-bottom: 32px;
  margin-top: 32px;
}
.loadingPlaceholder__0f711 {
  margin-top: 100px;
}
.channelHeader__9f71b {
  background-color: var(--background-mod-muted);
  border-radius: var(--radius-md);
  gap: var(--space-12);
  margin-top: 12px;
  padding: 12px 16px;
}
.header__9f71b {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.profile__9f71b {
  gap: var(--space-8);
  padding: 12px;
}
.icon__9f71b {
  color: var(--text-default);
  flex-shrink: 0;
}
.container__10737 {
  background-color: var(--background-mod-normal);
  border-start-end-radius: var(--radius-sm);
  border-start-start-radius: var(--radius-sm);
  box-shadow: var(--shadow-low);
  display: flex;
  flex-direction: column;
  height: 60px;
  justify-content: center;
  overflow: hidden;
  padding-block-end: 6px;
  padding-block-start: 6px;
  padding-inline-end: 0;
  padding-inline-start: 16px;
  position: relative;
  width: 252px;
}
.container__10737:before {
  background: #c6cdf4;
  content: "";
  filter: blur(40px);
  height: 170px;
  inset-block-start: -190px;
  inset-inline-start: 50%;
  opacity: 0.5;
  pointer-events: none;
  position: absolute;
  transform: translateX(-50%);
  width: 221px;
}
.closeButton__10737 {
  inset-inline-end: 6px;
  position: absolute;
  top: 6px;
}
.subtitleContainer__10737 {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding-top: 4px;
}
.currentUserAvatar__10737 {
  border: 2px solid var(--background-mod-normal);
  margin-inline: -4px;
  margin-inline-end: 4px;
}
.channelHeader__35a7e {
  align-items: center;
  background-color: var(--background-surface-high);
  box-sizing: border-box;
  display: flex;
  height: 64px;
  padding-bottom: 12px;
  padding-top: 12px;
  position: sticky;
  top: 0;
  z-index: 10;
}
.collapseButton__35a7e {
  color: var(--interactive-text-default);
  cursor: pointer;
  height: 16px;
  padding: 4px;
  width: 16px;
}
.collapseButton__35a7e.collapsed__35a7e {
  transform: rotate(-90deg);
}
.dmIcon__35a7e {
  border-radius: 12px;
  height: 40px;
  width: 40px;
}
.dmIcon__35a7e,
.guildIcon__35a7e {
  cursor: pointer;
  flex-shrink: 0;
  margin-inline-end: 16px;
}
.guildIcon__35a7e {
  background-color: var(--background-mod-normal);
}
.channelNameSection__35a7e {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-inline-end: 16px;
  overflow: hidden;
}
.badge__35a7e {
  margin-inline-start: 8px;
}
.channelName__35a7e,
.subtext__35a7e {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}
.channelName__35a7e,
.guildName__35a7e {
  cursor: pointer;
  display: inline-block;
  min-width: 0;
  width: 100%;
}
.channelName__35a7e:hover .channelNameSpan__35a7e,
.guildName__35a7e:hover .channelNameSpan__35a7e {
  text-decoration: underline;
}
.channelName__35a7e {
  align-items: center;
  display: flex;
}
.forumIcon__35a7e {
  margin-inline-end: 4px;
}
.channelNameHeader__35a7e {
  height: 20px;
}
.subtext__35a7e,
.subtextContainer__35a7e {
  max-height: 16px;
  min-width: 0;
  width: 100%;
}
.container_d404a3 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  min-height: 400px;
  padding: 0 16px;
  text-align: center;
}
.iconContainer_d404a3 {
  margin-bottom: 16px;
  position: relative;
}
.icon_d404a3 {
  background-color: var(--background-base-low);
  border-radius: 80px;
  color: var(--text-muted);
  padding: 22px;
}
.stars_d404a3 {
  inset-inline-start: -10px;
  position: absolute;
}
.header_d404a3 {
  margin-bottom: 8px;
}
.protip_d404a3 {
  text-transform: uppercase;
}
.friendRequestsButton__523aa {
  align-items: center;
  background-color: var(--control-secondary-background-default);
  border: 1px solid var(--control-secondary-border-default);
  border-radius: 8px;
  color: var(--control-secondary-text-default);
  cursor: pointer;
  display: flex;
  gap: 8px;
  height: 32px;
  padding: 0 8px;
}
.friendRequestsButton__523aa:hover {
  background-color: var(--control-secondary-background-hover);
  color: var(--interactive-text-active);
}

/*# sourceMappingURL=64171.9d5a50c991ee25f2.css.map*/
