.churnDiscountBadge_b65b20 {
  align-items: center;
  border-radius: 12px;
  display: flex;
  margin-inline-start: auto;
  padding: 0 6px;
  pointer-events: all;
  text-transform: uppercase;
}
.churnDiscountAcknowledgedBadge_b65b20 {
  background-color: var(--background-mod-strong);
}
.churnDiscountBadgeIcon_b65b20 {
  color: var(--icon-subtle);
  height: 14px;
  margin-inline-end: 4px;
  width: 14px;
}
.asset__8741a {
  border-radius: var(--radius-sm);
}
.imageWrapper_f357e4 {
  margin-top: var(--space-16);
  padding: 0 var(--space-16);
}
.image_f357e4 {
  border-radius: 16px;
  display: block;
  width: 100%;
}
.container_ad8aad {
  gap: 8px;
  width: 100%;
}
.container_ad8aad,
.orbContainer_ad8aad {
  align-items: center;
  display: flex;
  justify-content: center;
}
.orbContainer_ad8aad {
  flex-shrink: 0;
}
.value_ad8aad {
  font-style: italic;
  text-align: center;
}
.graphicSection_a2cab2 {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: var(--space-16) auto var(--space-20);
  max-width: 232px;
  width: 100%;
}
.headerCentered_a2cab2 {
  text-align: center;
}
.badgeContainer__98c7b {
  display: flex;
  flex-direction: row;
  position: relative;
}
.newBadge__98c7b {
  align-items: center;
  background-image: linear-gradient(
    to right,
    var(--premium-tier-2-purple-for-gradients),
    var(--premium-tier-2-pink-for-gradients)
  );
  border-radius: 19px;
  display: flex;
  justify-content: center;
  margin-inline-start: auto;
  padding: 0 6px;
  pointer-events: all;
  text-transform: uppercase;
}
.newBadge__98c7b,
.star__98c7b {
  color: var(--white);
}
.star__98c7b {
  position: relative;
}
.starLeft__98c7b {
  bottom: -6px;
  inset-inline-start: -6px;
}
.starRight__98c7b {
  bottom: 0;
  inset-inline-start: -4px;
}
.theme-light .starLeft__98c7b {
  color: var(--premium-tier-2-purple-for-gradients);
}
.theme-light .starRight__98c7b {
  color: var(--premium-tier-2-pink-for-gradients);
}
.wrapper__553bf {
  isolation: isolate;
  position: relative;
}
.withGradient__553bf {
  overflow: hidden;
  position: relative;
}
.withGradient__553bf.withQuestHomeHeroContent__553bf:focus-within a,
.withGradient__553bf.withQuestHomeHeroContent__553bf:hover a,
.withOnboardingContent__553bf a {
  color: var(--text-strong) !important;
}
.withGradient__553bf.withQuestHomeHeroContent__553bf:focus-within svg,
.withGradient__553bf.withQuestHomeHeroContent__553bf:hover svg,
.withOnboardingContent__553bf svg {
  color: var(--icon-strong) !important;
}
.withGradient__553bf.withQuestHomeHeroContent__553bf:before,
.withGradient__553bf:after {
  border-radius: inherit;
  bottom: 1px;
  content: "";
  inset-inline: 0;
  position: absolute;
  top: 1px;
  transition: opacity 0.125s;
  z-index: 0;
}
.questHomeHeroBackgroundImage__553bf,
.withGradient__553bf.withQuestHomeHeroContent__553bf:after,
.withGradient__553bf.withQuestHomeHeroContent__553bf:before {
  opacity: 0;
}
.withGradient__553bf.withQuestHomeHeroContent__553bf:before {
  background-image: linear-gradient(
    90deg,
    var(--custom-quest-home-hero-linear-gradient-start),
    var(--custom-quest-home-hero-linear-gradient-end)
  );
}
.withGradient__553bf.withQuestHomeHeroContent__553bf:after {
  background-image: radial-gradient(
    100% 80px at center 230%,
    var(--custom-quest-home-hero-radial-gradient-start),
    var(--custom-quest-home-hero-radial-gradient-end)
  );
}
.withGradient__553bf.withQuestHomeHeroContent__553bf:focus-within:before,
.withGradient__553bf.withQuestHomeHeroContent__553bf:hover:before {
  opacity: 0.4;
}
.withGradient__553bf.withQuestHomeHeroContent__553bf:focus-within:after,
.withGradient__553bf.withQuestHomeHeroContent__553bf:hover:after,
.withQuestHomeHeroContent__553bf:focus-within
  .questHomeHeroBackgroundImage__553bf,
.withQuestHomeHeroContent__553bf:hover .questHomeHeroBackgroundImage__553bf {
  opacity: 1;
}
.withOnboardingContent__553bf:after {
  background-image: linear-gradient(90deg, #394aff, #e901d9);
  opacity: 0.16;
}
.withOnboardingContent__553bf:focus-within:after,
.withOnboardingContent__553bf:hover:after {
  opacity: 0.2;
}
.badge__553bf {
  position: relative;
  z-index: 2;
}
.shine__553bf {
  background-image: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0) 25%,
    hsla(0, 0%, 100%, 0.7) 50%,
    hsla(0, 0%, 100%, 0) 75%
  );
  height: var(--custom-shine-dimensions);
  inset-inline-end: calc(100% + var(--custom-shine-rotated-dimensions-delta));
  transform-origin: 50%;
  width: var(--custom-shine-dimensions);
  z-index: 3;
}
.glow__553bf,
.shine__553bf {
  pointer-events: none;
  position: absolute;
  top: 50%;
}
.glow__553bf {
  background-image: radial-gradient(
    rgba(221, 0, 241, 0.5) 0,
    rgba(221, 0, 241, 0) 60%
  );
  height: 150px;
  inset-inline-end: 32px;
  transform: translate(50%, -50%);
  width: 150px;
  z-index: 1;
}
.glow__553bf:after {
  background-image: radial-gradient(
    rgba(241, 0, 4, 0.2) 0,
    rgba(241, 0, 4, 0) 60%
  );
  content: "";
  display: block;
  height: 100%;
  width: 100%;
}
.questHomeHeroBackgroundImage__553bf {
  bottom: 0;
  height: 100%;
  inset-inline-end: 0;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: right;
  object-position: right;
  position: absolute;
  top: 0;
  transition: 0.125s;
  width: auto;
}
.questHomeHeroTooltipImage__553bf {
  height: 48px;
  width: 48px;
}
.devBanner__56d75 {
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 12px;
  font-weight: var(--font-weight-medium);
  line-height: 24px;
  padding: 0 4px;
  position: relative;
  text-align: center;
  white-space: no-wrap;
}
.devBanner__56d75 strong {
  font-weight: var(--font-weight-semibold);
}
.local__56d75 {
  background-color: var(--background-feedback-warning);
}
.local__56d75,
.staging__56d75 {
  color: var(--text-default);
}
.staging__56d75 {
  background-color: var(--background-feedback-critical);
}
.buildOverride__56d75 {
  background-color: var(--status-positive-background);
  color: var(--white);
}
.icon__56d75 {
  display: inline-block;
  height: auto;
  margin-inline-end: 4px;
  vertical-align: middle;
  width: 12px;
}
.closeButton__56d75 {
  background-position: 50% 55%;
  background-size: 10px 10px;
  cursor: pointer;
  height: 24px;
  inset-inline-end: 0;
  opacity: 0.5;
  position: absolute;
  top: 3px;
  transition: opacity 0.2s;
  width: 24px;
  -webkit-app-region: no-drag;
}
.closeButton__56d75:hover {
  opacity: 1;
}
.closeIcon__56d75 {
  height: 14px;
  width: 14px;
}

/*# sourceMappingURL=65462.63f1bae8277c492e.css.map*/
