.container__1ff2f {
  align-items: center;
  background-color: var(--interactive-background-hover);
  border-radius: 8px;
  display: inline-flex;
  padding: 10px;
}
.dot__1ff2f {
  background-color: var(--background-mod-muted);
  border-radius: 50%;
  height: 4px;
  width: 4px;
}
.fileIcon__1ff2f {
  color: var(--icon-muted);
}
.fileName__1ff2f {
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.benefitLabel_f0fc41 {
  text-transform: uppercase;
}
.containerTop__45edc {
  top: calc(var(--custom-app-top-bar-height) + var(--space-8));
}
.containerBottom__45edc,
.containerTop__45edc {
  display: flex;
  flex-direction: column;
  inset-inline-start: 50%;
  position: fixed;
  transform: translateX(-50%);
  z-index: 4999;
}
.containerBottom__45edc {
  bottom: 140px;
}
.section_b30db3 {
  background: var(--background-base-lowest);
  border: 1px solid var(--color-border-normal, hsla(240, 4%, 61%, 0.2));
  border-radius: 24px;
  padding: 24px;
}
.blurb_b30db3 {
  margin-top: 12px;
}
.body_b30db3 {
  margin-top: 8px;
}
.action__19ea7 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.options__19ea7,
.previewAndJoin__19ea7 {
  display: flex;
  gap: 40px;
}
.previewAndJoin__19ea7 {
  align-items: center;
  align-self: flex-end;
}
.voicePreview__19ea7 {
  display: flex;
  gap: 4px;
}
.joinButton__19ea7 {
  align-self: flex-start;
}
.action__2f109 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.action__2f109 input {
  font-size: 60px;
  font-weight: 800;
  letter-spacing: 8px;
}
.button__2f109 {
  align-self: flex-end;
}
.events_fc210a {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.event_fc210a {
  align-items: center;
  background: var(--background-base-lowest);
  border: 1px solid var(--border-normal);
  border-radius: 0;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  overflow: hidden;
  padding: 24px;
  position: relative;
}
.event_fc210a:first-child {
  border-start-end-radius: 24px;
  border-start-start-radius: 24px;
}
.event_fc210a:last-child {
  border-end-end-radius: 24px;
  border-end-start-radius: 24px;
}
.eventActiveBackground_fc210a {
  background-color: var(--background-brand);
  filter: blur(170px);
  height: 100%;
  inset-inline-start: -100%;
  position: absolute;
  top: -200%;
  width: 100%;
}
.eventInfo_fc210a {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.eventTimePeriod_fc210a {
  background: var(--background-base-lower);
  border-radius: 8px;
  display: flex;
  padding: 8px 20px;
}
.container_cda68a {
  background-color: var(--background-base-lower);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
.background_cda68a {
  background-color: var(--background-brand);
  filter: blur(170px);
  height: 100%;
  inset-inline-start: -100vw;
  position: absolute;
  top: -100vh;
  width: 100%;
}
.header_cda68a {
  align-items: center;
  border-bottom: 1px solid var(--border-subtle);
  display: flex;
  padding: calc(20px / (var(--custom-zoom) / 100))
    calc(40px / (var(--custom-zoom) / 100));
}
.logo_cda68a {
  height: 54px;
  margin-inline-end: 16px;
  width: 56px;
}
.heading_cda68a {
  border-inline-end: 1px solid var(--border-subtle);
  margin-inline-end: 32px;
  padding-inline-end: 32px;
}
.avatar_cda68a {
  margin-inline-end: 16px;
}
.content_cda68a {
  box-sizing: border-box;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  padding: calc(60px / (var(--custom-zoom) / 100));
}
.manualOptions_cda68a {
  display: flex;
  flex-direction: column;
  gap: 24px;
  grid-column: span 3 / span 3;
  grid-row: span 5 / span 5;
}
.upcomingEvents_cda68a {
  grid-column: span 2 / span 2;
  grid-row: span 5 / span 5;
}
.joinSection_cda68a {
  background: var(--background-base-lowest);
  border: 1px solid var(--color-border-normal, hsla(240, 4%, 61%, 0.2));
  border-radius: 24px;
  padding: 24px;
}
.viewContents__6eb1d {
  align-items: center;
  background-color: var(--interactive-background-selected);
  border-radius: 24px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 6px 16px;
  width: -moz-fit-content;
  width: fit-content;
}
.caretIcon__6eb1d {
  color: var(--interactive-text-default);
}
.contentsContainer__6eb1d {
  background-color: var(--background-base-lower);
  display: flex;
  flex-direction: column;
  padding: 16px;
}
.separator__6eb1d {
  border: 1px solid var(--interactive-background-hover);
  margin-bottom: 16px;
  margin-top: 16px;
}
.attachmentGrid__6eb1d {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.roleTag__9cd44,
.roleTagContainer__9cd44 {
  display: flex;
}
.roleTag__9cd44 {
  align-items: center;
  background: var(--interactive-background-hover);
  border-radius: 4px;
  padding: 8px;
}
.roleColor__9cd44 {
  border-radius: 6px;
  flex: none;
  height: 12px;
  width: 12px;
}
.descriptionWrapper__43963 {
  margin-inline-start: 14px;
}
.subText__43963 {
  margin-top: 4px;
}
.indicator__43963 {
  align-items: center;
  border-radius: 3px;
  display: flex;
  font-size: 11px;
  font-weight: var(--font-weight-bold);
  height: 14px;
  letter-spacing: 0.4px;
  margin-inline-start: 8px;
  padding: 0 4px;
  text-align: center;
  text-transform: uppercase;
}
.defaultIndicator__43963 {
  background-color: var(--primary-500);
}
.defaultIndicator__43963,
.premiumIndicator__43963 {
  color: var(--white);
}
.premiumIndicator__43963 {
  background-color: var(--brand-500);
}
.invalidIndicator__43963 {
  background-color: var(--red-400);
  color: var(--white);
}
.giftCardIcon__43963 {
  align-items: center;
  background-color: var(--brand-500);
  border-radius: 2px;
  color: var(--white);
  display: flex;
  height: 22px;
  justify-content: center;
  width: 32px;
}
.countryOption_b9da6a:has(.header_b9da6a) {
  background-color: var(--background-base-lowest);
  cursor: default;
}
.countryContainer_b9da6a {
  align-items: center;
  display: flex;
}
.countryFlagEmoji_b9da6a {
  height: 25px;
  margin-inline-end: 5px;
}
.paymentPane__01014 {
  background-color: var(--background-surface-high);
  border: 1px solid var(--border-subtle);
  border-radius: var(--radius-sm);
  color: var(--text-strong);
  overflow: hidden;
}
.paymentRow__01014 {
  cursor: default;
}
.paymentRowHeader__01014 {
  font-size: 12px;
  font-weight: var(--font-weight-semibold);
  margin-inline-end: 44px;
  padding: 20px;
}
.paymentRowHeaderDescription__01014 {
  display: flex;
  flex: 1 1 50%;
  margin-inline-start: 8px;
}
.tab__01014 {
  font-size: 14px;
  font-weight: var(--font-weight-semibold);
  margin-inline-start: 12px;
  padding-bottom: 12px;
}
.tab__01014:first-child {
  margin-inline-start: 0;
}
.externalRow__01014 {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 20px;
}
.externalRowHeader__01014 {
  color: var(--text-default);
  font-size: 16px;
}
.externalRowBody__01014 {
  color: var(--text-muted);
  font-size: 14px;
  line-height: 18px;
  margin-top: 8px;
}
.bottomDivider__01014 {
  border-bottom: 1px solid var(--border-subtle);
}
.bottomDivider__01014:last-child {
  border-bottom: none;
}
.verticalFit__01014 {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  overflow: hidden;
}
.card__92e92 {
  background: var(--primary-600);
  border-color: var(--primary-600);
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
}
.title__92e92 {
  display: none;
}
@media (min-width: 486px) {
  .card__92e92 {
    height: auto;
    margin: 16px;
    max-width: 720px;
    padding: 20px;
  }
  .title__92e92 {
    display: block;
    margin: 20px 0 16px;
  }
}
.attachmentRow__1e7f0 {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 18px 0;
}
.attachmentRow__1e7f0:not(:first-child) {
  border-top: 1px solid var(--interactive-background-hover);
}
.attachmentRow__1e7f0:first-child {
  padding: 0 0 18px;
}
.attachmentRow__1e7f0:last-child {
  padding: 18px 0 0;
}
.attachmentDownloadButton__1e7f0 {
  min-width: 0;
}
.modal__6fa2e {
  border-radius: 12px;
}
.body__6fa2e {
  padding-bottom: 40px;
  padding-top: 16px;
}
.seperator__6fa2e {
  border-top: 1px solid var(--interactive-background-selected);
  width: 100%;
}
.description__6fa2e {
  white-space: pre-wrap;
}
.footer__6fa2e {
  align-items: center;
  border-radius: 0 0 12px 12px;
  justify-content: space-between;
}
.headerImage__6fa2e {
  height: 267px;
  width: 100%;
}
.closeButton__6fa2e {
  inset-inline-end: 32px;
  opacity: 0.8;
  position: absolute;
  top: 32px;
}
.closeButton__6fa2e:hover {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.purchaseSummaryContainer_fe72c8 {
  background-color: var(--background-base-lower);
  border-radius: 8px;
  display: flex;
  gap: 12px;
  padding: 12px;
}
.purchaseSummarInfo_fe72c8 {
  flex: 1;
}
.purchaseSummaryImage_fe72c8 {
  background-color: var(--background-base-low);
  border-radius: 4px;
  height: 56px;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100px;
}
.purchaseSummaryPrice_fe72c8 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.divider_fe72c8 {
  border-top: 1px solid var(--interactive-background-hover);
  width: 100%;
}
.benefitsContainer_fe72c8 {
  background-color: var(--background-base-lower);
  border-radius: 8px;
  padding: 16px;
}
.benefitsContainer_fe72c8 li:not(:last-child) {
  border-bottom: 1px solid var(--interactive-background-hover);
  margin-bottom: 16px;
  padding-bottom: 16px;
}
.attachmentsContainer_fe72c8 {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}
.attachmentsContainerMultiple_fe72c8 {
  flex-direction: column;
}
.attachmentGrid_fe72c8 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.loading__9ed46 {
  margin-top: 48px;
}
.maybeLaterButton__9ed46 {
  color: var(--text-strong);
  margin-inline-end: 8px;
}
.maybeLaterButton__9ed46:hover {
  text-decoration: underline;
}
.bodyText__9ed46 {
  display: flex;
  justify-content: center;
}
.formDivider__9ed46 {
  margin: 16px 0;
}
.formSection__9ed46 {
  margin-bottom: 16px;
}
.confirmationText__9ed46 {
  margin-top: 8px;
}
.headerContainer__9ed46 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: calc(
      var(--custom-outbound-promotion-redemption-modal-art-height) / -1
    )
    auto auto;
  padding: 0;
  width: 90%;
}
.art__9ed46 {
  background-image: url(/assets/1ab7d1a0b0204a75.svg);
  height: var(--custom-outbound-promotion-redemption-modal-art-height);
  margin-bottom: 16px;
  width: 240px;
}
.errorBody__9ed46,
.errorHeader__9ed46 {
  display: flex;
  flex-direction: column;
}
.errorBody__9ed46 {
  align-items: center;
  gap: 8px;
  margin: 0 auto;
  max-width: 90%;
}
.errorArt__9ed46 {
  background-image: url(/assets/26eafe176b5b3454.svg);
  height: 99px;
  margin: 0 auto 32px;
  width: 141px;
}
.card_fedacc {
  border-radius: 5px;
  box-sizing: border-box;
  color: var(--text-strong);
  cursor: default;
  overflow: hidden;
  transform: translateZ(0);
}
.header_fedacc {
  padding: 20px;
  position: relative;
}
.headerButtonColor_fedacc {
  background: var(--primary-500);
  color: var(--white);
}
.coverArtPosition_fedacc {
  background-position-x: 50%;
  background-position-y: 40%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  bottom: 0;
  inset-inline-start: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translateZ(0);
}
.splashArt_fedacc {
  filter: grayscale(100%);
  -webkit-mask: radial-gradient(
    100% 100% at top left,
    hsla(0, 0%, 100%, 0.6) 0,
    hsla(0, 0%, 100%, 0) 100%
  );
  mask: radial-gradient(
    100% 100% at top left,
    hsla(0, 0%, 100%, 0.6) 0,
    hsla(0, 0%, 100%, 0) 100%
  );
  opacity: 0.3;
  width: 300px;
}
.body_fedacc {
  background-color: var(--background-mod-normal);
}
.header_fedacc {
  background-color: var(--background-base-lowest);
  color: var(--text-strong);
}
.header_fedacc:hover {
  background-color: var(--interactive-background-hover);
}
.card_a6af18 {
  cursor: pointer;
}
.subText_a6af18 {
  font-size: 12px;
  line-height: 16px;
}
.subTextRow_a6af18 {
  color: var(--primary-300);
}
.subtitleHeader_a6af18 {
  align-items: center;
  color: var(--text-muted);
  display: flex;
  flex-direction: row;
  font-weight: var(--font-weight-semibold);
  gap: 4px;
}
.applicationSubtitleHeader_a6af18 {
  margin-top: 2px;
}
.applicationSubtitleIcon_a6af18 {
  border-radius: 6px;
  height: 20px;
  width: 20px;
}
.codeText_a6af18 {
  margin-bottom: 8px;
}
.headerText_a6af18 {
  margin-inline-start: 20px;
}
.cardHeader_a6af18 {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
}
.giftCodeRow_a6af18 {
  border-bottom: 1px solid transparent;
  margin: 0 20px;
  padding: 20px 0 19px;
}
.giftCodeRow_a6af18:last-child {
  border-bottom: none;
}
.generateCodeRow_a6af18 {
  padding: 22px 0;
}
.gameName_a6af18 {
  line-height: 19px;
}
.expandIcon_a6af18 {
  cursor: pointer;
  margin-inline-start: 8px;
}
.spinner_a6af18 {
  padding: 20px;
}
.theme-dark .giftCodeRow_a6af18 {
  border-color: hsl(var(--primary-500-hsl) / 0.6);
}
.theme-dark .bodyButtonColor_a6af18 {
  color: var(--white);
}
.theme-dark .bodyButtonColor_a6af18:hover {
  background: var(--primary-500);
}
.theme-dark .bodyButtonColor_a6af18:active {
  background: var(--primary-400);
}
.theme-light .bodyButtonColor_a6af18:hover {
  background: var(--primary-200);
}
.theme-light .bodyButtonColor_a6af18:active {
  background: var(--primary-300);
}
.giftIcon_a6af18 {
  height: 40px;
  width: 40px;
}
.bodyButtonColor_a6af18 {
  background: var(--background-base-lower);
}
.headerContainer_f5f9ed {
  margin-top: 20px;
}
.promotions_f5f9ed {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}
.gradientContainer_f5f9ed {
  border: 1px solid transparent;
}
.promoHeaderContainer_f5f9ed {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.promoDescription_f5f9ed {
  margin-top: var(--space-4);
}
.promoNitroButton_f5f9ed {
  margin-inline-start: auto;
}
.emptyState_f5f9ed {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.emptyStateHeader_f5f9ed {
  color: var(--text-default);
  font-size: 24px;
  line-height: 1.17;
  margin-top: 20px;
}
.emptyStateSubtext_f5f9ed {
  color: var(--text-muted);
  line-height: 1.25;
  margin-top: 8px;
}
.emptyStateImage_f5f9ed {
  aspect-ratio: 2/1;
  background-size: contain;
  margin-top: 48px;
  width: 360px;
}
.loading_f5f9ed {
  margin-top: 40px;
}
.promotionCardDescriptionWithCode_f5f9ed {
  cursor: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
}
.dropsHeaderContainer_f5f9ed {
  align-items: center;
  display: flex;
}
.betaTagIcon_f5f9ed {
  margin-inline-start: 8px;
}
.divider_f5f9ed {
  margin: 8px 0 24px;
}
.promotionCard_f5f9ed {
  align-items: flex-start;
  background-color: var(--background-base-lowest);
  border-radius: var(--radius-xs);
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.mainPromotionCardContainer_f5f9ed {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.promotionCardLeftContainer_f5f9ed {
  display: flex;
}
.redeemTooltipContent_f5f9ed {
  text-align: center;
}
.promotionIcon_f5f9ed {
  align-items: center;
  align-self: flex-start;
  background-color: var(--background-mod-subtle);
  border-radius: var(--radius-xs);
  display: flex;
  flex-shrink: 0;
  height: 40px;
  justify-content: center;
  margin-inline-end: 10px;
  width: 40px;
}
.promotionIconImage_f5f9ed {
  max-height: 36px;
  max-width: 36px;
}
.dropRewardImage_f5f9ed {
  border-radius: var(--radius-xs);
  width: 100%;
}
.dropCriteriaText_f5f9ed {
  margin: 16px 0;
}
.dropCriteriaText_f5f9ed > p {
  margin-bottom: 2px;
  margin-top: 2px;
}
.dropLearnMore_f5f9ed {
  margin-bottom: 16px;
}
.promotionLegalese_f5f9ed {
  border-top: 1px solid var(--border-subtle);
  font-size: 12px;
  line-height: 16px;
  margin-top: 8px;
  margin-inline-start: 52px;
  margin-bottom: 0;
  padding-top: 8px;
}
.promotionLegalese_f5f9ed em {
  font-style: italic;
}
.dropContainer_f5f9ed {
  border-radius: var(--radius-xs);
  margin-bottom: 20px;
  overflow: hidden;
}
.availableUntil_f5f9ed {
  padding-top: 4px;
}
.dropCard_f5f9ed {
  align-items: flex-start;
  background-color: var(--background-base-lowest);
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.dropCriteria_f5f9ed {
  align-items: center;
  background-color: var(--background-mod-normal);
  padding: 16px 16px 8px;
}
.feedback_f5f9ed {
  background: var(--background-base-lowest);
  padding: 8px;
}
.dropsHelpText_f5f9ed,
.feedback_f5f9ed {
  border-radius: var(--radius-xs);
  color: var(--interactive-text-active);
  font-size: 14px;
  font-weight: var(--font-weight-medium);
  margin-bottom: 20px;
  margin-top: -12px;
}
.dropsHelpText_f5f9ed {
  background: var(--background-base-lower);
  line-height: 18px;
  padding: 3px;
  padding-inline: 18px;
}
.theme-dark .emptyStateImage_f5f9ed {
  background-image: url(/assets/b584f76d3ff86700.svg);
}
.theme-light .emptyStateImage_f5f9ed {
  background-image: url(/assets/28fe27f3657e23ee.svg);
}
.premiumIcon_f5f9ed {
  height: 24px;
  margin-inline-end: 6px;
  position: relative;
  top: 2px;
  width: 24px;
}
.tier2Gradient_f5f9ed {
  color: var(--premium-tier-2-pink);
}
.tile__90dc5 {
  background-color: var(--primary-700);
  border-radius: var(--custom-base-tile-border-radius);
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
.tile__90dc5.noBorder__90dc5 {
  border-radius: 0;
}
.fillParent__078ba {
  display: block;
  height: 100%;
  overflow: clip;
  width: 100%;
}
.hiddenIframeContainer__078ba {
  opacity: 0;
}
.iframePlaceholder__078ba {
  background-color: #000;
}
.popoutWrapper_d6b206 {
  display: flex;
  margin-bottom: 10px;
  max-height: 40vh;
  position: relative;
  width: 200px;
}
.scroller_d6b206 {
  background-color: var(--background-surface-high);
  border-radius: 4px;
  padding: 8px 16px;
}
.viewers_d6b206 {
  align-items: center;
  display: flex;
  flex-grow: 0;
  position: relative;
}
.viewers_d6b206:hover .popoutWrapper_d6b206 {
  opacity: 1;
  transform: translateX(0);
  visibility: visible;
}
.viewer_d6b206 {
  margin-inline-start: -2px;
  -webkit-mask: url(/assets/eae6388e2d5a721a.svg);
  mask: url(/assets/eae6388e2d5a721a.svg);
  -webkit-mask-size: 100%;
  mask-size: 100%;
  mask-type: luminance;
}
.viewer_d6b206:last-child {
  -webkit-mask: none;
  mask: none;
}
.overflow_d6b206 {
  align-items: center;
  background-color: var(--primary-600);
  border-radius: 15px;
  box-shadow: -1px 0 0 1px var(--black);
  color: var(--primary-300);
  display: flex;
  font-size: 12px;
  font-weight: var(--font-weight-bold);
  height: 25px;
  justify-content: center;
  letter-spacing: 0.5px;
  margin-inline-start: -4px;
  width: 25px;
  z-index: 2;
}
.memberListHeader_d6b206 {
  font-weight: var(--font-weight-semibold);
  margin-bottom: 12px;
  margin-top: 8px;
  text-transform: uppercase;
}
.memberListHeader_d6b206,
.memberListItemText_d6b206 {
  color: var(--text-default);
}
.viewersIcon_d6b206 {
  color: var(--primary-300);
  display: flex;
  height: 24px;
  margin-inline-end: 4px;
  width: 24px;
}
.viewersIcon_d6b206:hover {
  color: var(--white);
}
.viewersIcon_d6b206.activeButton_d6b206 {
  color: var(--white);
}
.viewersTooltipItem_d6b206 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.memberListItem_d6b206:not(.popoutDisabled_d6b206):hover {
  background-color: var(--background-base-lowest);
}
.videoHeight__94748 {
  flex: 0 0 auto;
  position: relative;
}
.videoHeight__94748.animated__94748 {
  transition: height 0.35s ease;
}
.videoHeight__94748.normal__94748 {
  height: 50vh;
}
.videoHeight__94748.minimum__94748 {
  height: 275px;
}
.videoHeight__94748.haven__94748,
.videoHeight__94748.noChat__94748 {
  height: 100vh;
}
.videoHeight__94748.fullScreen__94748 {
  height: 100vh;
  position: fixed;
  top: 0;
  inset-inline: 0;
  bottom: 0;
  transition: none;
  z-index: 100;
}
.platform-win .videoHeight__94748.normal__94748 {
  height: calc(50vh - 22px);
}
.platform-win .videoHeight__94748.noChat__94748 {
  height: calc(100vh - 22px);
}
.video__94748 {
  background-color: var(--primary-800);
  background-position: 50%;
  background-size: 100%;
  cursor: default;
  height: 100%;
  min-height: 275px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.video__94748.idle__94748 {
  cursor: none;
}
.video__94748.fullScreen__94748 .videoCenter__94748,
.video__94748.noChat__94748 .videoCenter__94748,
.video__94748.normal__94748 .videoCenter__94748 {
  align-self: flex-end;
}
.video__94748.fullScreen__94748 .videoBottom__94748,
.video__94748.noChat__94748 .videoBottom__94748,
.video__94748.normal__94748 .videoBottom__94748 {
  opacity: 0;
  transform: translate3d(0, 8px, 0);
}
.full-motion .video__94748.fullScreen__94748 .videoBottom__94748,
.full-motion .video__94748.noChat__94748 .videoBottom__94748,
.full-motion .video__94748.normal__94748 .videoBottom__94748 {
  transition:
    transform 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
}
.video__94748.fullScreen__94748:not(.idle__94748)
  .videoWrapper__94748.focused__94748
  .videoBottom__94748,
.video__94748.fullScreen__94748:not(.idle__94748)
  .videoWrapper__94748:hover
  .videoBottom__94748,
.video__94748.noChat__94748:not(.idle__94748)
  .videoWrapper__94748.focused__94748
  .videoBottom__94748,
.video__94748.noChat__94748:not(.idle__94748)
  .videoWrapper__94748:hover
  .videoBottom__94748,
.video__94748.normal__94748:not(.idle__94748)
  .videoWrapper__94748.focused__94748
  .videoBottom__94748,
.video__94748.normal__94748:not(.idle__94748)
  .videoWrapper__94748:hover
  .videoBottom__94748 {
  opacity: 1;
  transform: translateZ(0);
}
.video__94748 .videoBackgroundTransition__94748 {
  box-shadow: var(--legacy-elevation-high);
}
.videoWrapper__94748 {
  border-radius: 3px;
  position: relative;
}
.videoInner__94748 {
  position: absolute;
  top: 0;
  inset-inline: 0;
  bottom: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 1;
}
.videoBottom__94748,
.videoCenter__94748,
.videoTop__94748 {
  pointer-events: all;
}
.videoBackground__94748,
.videoBackgroundTransition__94748 {
  position: absolute;
  top: 0;
  inset-inline: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
.videoBackgroundTransition__94748 {
  align-items: center;
  display: flex;
  overflow: hidden;
}
.theme-light .video__94748.minimum__94748 {
  background-color: var(--white);
  box-shadow: inset 0 -1px 0 var(--primary-230);
}
.images-light .video__94748.noChat__94748 .videoTop__94748,
.images-light .video__94748.normal__94748 .videoTop__94748 {
  background-image: linear-gradient(
    0deg,
    hsl(var(--black-hsl) / 0) 0,
    var(--opacity-black-88) 100%
  );
}
.images-dark .video__94748.noChat__94748 .videoTop__94748,
.images-dark .video__94748.normal__94748 .videoTop__94748 {
  background-image: linear-gradient(
    0deg,
    hsl(var(--black-hsl) / 0) 0,
    var(--opacity-black-88) 100%
  );
}
.pictureInPictureVideo_e4cb9a {
  aspect-ratio: 16/9;
  background: var(--primary-800);
  border-radius: 8px;
  overflow: hidden;
  transform: translateZ(0);
}
.videoControls_e4cb9a {
  background: linear-gradient(
    var(--black) 0,
    transparent 30%,
    transparent 60%,
    var(--black) 100%
  );
  position: absolute;
  top: 0;
  inset-inline: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
}
.videoControlsTextActivity_e4cb9a {
  pointer-events: all;
  z-index: 2;
}
.topControls_e4cb9a {
  flex: 0 1 auto;
  pointer-events: all;
  transform: translateZ(0);
  width: 100%;
}
.full-motion .topControls_e4cb9a {
  transition: transform 0.2s ease-in-out;
}
.topControlsTextActivity_e4cb9a {
  align-items: flex-start;
  flex-direction: row;
  height: 100%;
}
.bottomControls_e4cb9a,
.topControlsTextActivity_e4cb9a {
  display: flex;
  justify-content: space-between;
}
.bottomControls_e4cb9a {
  align-items: center;
  color: var(--white);
  flex: 0 1 auto;
  pointer-events: all;
  transform: translateZ(0);
  width: 100%;
}
.full-motion .bottomControls_e4cb9a {
  transition: transform 0.2s ease-in-out;
}
.bottomLeftControls_e4cb9a {
  min-width: 0;
}
.idle_e4cb9a .videoControls_e4cb9a {
  opacity: 0;
}
.idle_e4cb9a .topControls_e4cb9a {
  transform: translate3d(0, -8px, 0);
}
.idle_e4cb9a .bottomControls_e4cb9a {
  transform: translate3d(0, 8px, 0);
}
.backButton_e4cb9a {
  color: var(--primary-300);
  flex-shrink: 0;
  margin-inline-end: 2px;
}
.headerBar_e4cb9a {
  height: auto;
  padding: 4px 0 0;
}
.topControls_e4cb9a .headerBar_e4cb9a {
  -webkit-app-region: no-drag;
}
.headerIdleContainer_e4cb9a {
  justify-content: space-between;
}
.headerIdleContainer_e4cb9a,
.headerTitle_e4cb9a {
  display: flex;
  flex-shrink: 1;
  overflow: hidden;
}
.headerTitle_e4cb9a {
  align-items: center;
  border-bottom: 1px solid transparent;
  color: var(--white);
  justify-content: flex-start;
  line-height: 20px;
  margin: 0;
  width: -moz-min-content;
  width: min-content;
}
.headerTitle_e4cb9a:hover {
  border-bottom: 1px solid var(--white);
  cursor: pointer;
}
.headerTitle_e4cb9a:hover .backButton_e4cb9a {
  color: var(--white);
}
.headerText_e4cb9a {
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menuIcon_e4cb9a {
  cursor: pointer;
}
.keyboard-mode .videoControls_e4cb9a {
  opacity: 1;
}
.art_c6e099 {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 16px;
  width: 100%;
}
.art_c6e099.small_c6e099 {
  display: none;
}
.art_c6e099.medium_c6e099 {
  height: 88px;
}
.art_c6e099.large_c6e099 {
  height: 134px;
}
.header_c6e099 {
  color: var(--white);
  margin-bottom: 4px;
  text-align: center;
}
.errorCodeMessage_c6e099 {
  position: relative;
  z-index: 1;
}
.description_c6e099 {
  color: var(--primary-200);
  text-align: center;
}
.description_c6e099 a {
  position: relative;
  z-index: 1;
}
.description_c6e099 p {
  margin: 0;
}
.outerButton_c6e099 {
  margin-top: 16px;
  z-index: 1;
}
.root_e605a1 {
  background-color: var(--opacity-black-60);
  bottom: 0;
  position: absolute;
  top: 0;
  inset-inline: 0;
  pointer-events: none;
}

/*# sourceMappingURL=68826.7d56bd4f7cef7c80.css.map*/
