@value smallMobileBreakpoint: 640px;
.splashBackground__742a4 {
  --background-mobile-primary: var(--primary-700) center / cover no-repeat
    url(/assets/4d81e06416805e7d.png);
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
.splashBackground__742a4 .inviteRegisterAuthBox__742a4 {
  border-radius: 5px;
  overflow: unset;
  padding: 0;
  position: relative;
}
.splashBackground__742a4 .inviteRegisterAuthBox__742a4:before {
  background: none;
  content: "";
}
@media (min-width: 486px) {
  .splashBackground__742a4 {
    min-height: 100vh;
    width: 100vw;
  }
}
.downloadAppTitle__742a4 {
  margin-bottom: 8px;
}
.downloadAppImage__742a4 {
  margin: 24px 0;
}
.centerFlex__742a4 {
  align-items: center;
  display: flex;
  justify-content: center;
}
.is-mobile .splashBackground__742a4 .centerAuthBoxContent__742a4 {
  min-height: unset;
  position: unset;
}
.centerAuthBoxContent__742a4 {
  flex-direction: column;
}
.inviteCard__742a4 {
  background: var(--background-base-low);
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  margin: 8px;
  max-width: 480px;
  padding: 20px;
  width: calc(100vw - 72px);
}
@media (max-height: 640px) {
  .inviteCard__742a4 {
    margin: 0;
    padding: 16px;
    width: calc(100vw - 64px);
  }
}
.inviteCardProfileOuter__742a4 {
  background: transparent;
  border-radius: var(--radius-md);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  margin: 8px;
  max-width: 480px;
  overflow: hidden;
  padding: 0;
  text-align: start;
  width: calc(100vw - 32px);
}
@media (max-height: 640px) {
  .inviteCardProfileOuter__742a4 {
    margin: 0;
    width: calc(100vw - 64px);
  }
}
.inviteCardProfile__742a4 {
  display: flex;
  flex-direction: column;
  min-height: 0;
  --custom-invite-banner-overlap: 32px;
}
.inviteCardProfileModal__742a4 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.bannerFrosted__742a4 {
  background-position: 50%;
  background-size: cover;
  border-radius: var(--custom-border-radius, var(--radius-md))
    var(--custom-border-radius, var(--radius-md)) 0 0;
  height: 80px;
  overflow: hidden;
  position: relative;
}
.bannerFrostedGlass__742a4 {
  -webkit-backdrop-filter: blur(48px);
  backdrop-filter: blur(48px);
  background: color-mix(in oklab, var(--modal-background) 50%, transparent);
  inset: 0;
  position: absolute;
}
.inviteCardProfileContentWrapper__742a4 {
  background: linear-gradient(
    to bottom,
    transparent 0,
    transparent calc(var(--custom-invite-banner-overlap) - 1px),
    var(--modal-background) calc(var(--custom-invite-banner-overlap) - 1px),
    var(--modal-background) 100%
  );
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  margin-top: calc(var(--custom-invite-banner-overlap) * -1);
  min-height: 0;
  padding: 0 24px;
  position: relative;
}
.inviteCardProfileFooterWrapper__742a4 {
  background: var(--modal-background);
  margin-top: -1px;
  padding: 24px;
}
.inviteChildContainer__742a4 {
  overflow: hidden;
}
.inviteCardInner__742a4 {
  min-height: 100px;
}
.guildInfoInner__742a4,
.inviteCardInner__742a4 {
  box-sizing: border-box;
  flex-direction: column;
}
.guildInfoInner__742a4 {
  overflow: hidden;
}
.inviteCardInnerError__742a4 {
  align-items: center;
  box-sizing: content-box;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  margin: 0 -4px;
  min-height: 200px;
  padding-bottom: 0;
  padding-top: 24px;
}
@media (max-height: 640px) {
  .inviteCardInnerError__742a4 {
    margin: 0 -12px;
    padding: 0;
  }
}
.inviteCardInnerLoading__742a4 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  min-height: 200px;
}
.expirationNotice__742a4 {
  margin-top: 32px;
}
.page__12efe {
  align-items: center;
  background: linear-gradient(180deg, #080613 0, #140e4b);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  min-height: 90vh;
  overflow: hidden;
  padding: 40px 20px;
  text-align: center;
  width: 100vw;
}
.logoContainer__12efe {
  inset-inline-start: 50%;
  position: absolute;
  top: 60px;
  transform: translateX(-50%);
}
.content__12efe {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 400px;
  width: calc(100% - 40px);
}
.headingText__12efe {
  margin-bottom: 8px;
  margin-top: 16px;
}
.bodyText__12efe {
  color: var(--text-muted);
  line-height: 1.4;
  margin-bottom: 32px;
}
.container__704da {
  border-radius: var(--radius-sm);
  flex-direction: column;
  justify-content: stretch;
  padding: 0 var(--space-16);
}
.container__704da,
.reportButton__704da {
  align-items: center;
  background-color: var(--background-base-lower);
  display: flex;
}
.reportButton__704da {
  border-bottom: 1px solid var(--border-subtle);
  cursor: pointer;
  justify-content: space-between;
  margin: 0 var(--space-16);
  padding: var(--space-16) 0;
  width: 100%;
}
.reportButton__704da:last-child {
  border-bottom: none;
}
.footerButtons__704da {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.container__4fe86 {
  border-radius: 8px;
  flex-direction: column;
  justify-content: stretch;
  margin-block: var(--space-16) 0;
  margin-inline: 0;
  padding: 0 var(--space-16);
}
.container__4fe86,
.reportButton__4fe86 {
  align-items: center;
  background-color: var(--background-base-lower);
  display: flex;
}
.reportButton__4fe86 {
  border-bottom: 1px solid var(--border-subtle);
  cursor: pointer;
  justify-content: space-between;
  margin: 0 var(--space-16);
  padding: var(--space-16) 0;
  width: 100%;
}
.reportButton__4fe86:last-child {
  border-bottom: none;
}
.tidaBulletList__9a831 {
  color: var(--text-subtle);
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  list-style: disc;
  margin: 0;
  padding-inline-start: var(--space-24);
}
.hideActionBar_b7f6c8 footer {
  display: none;
}
.hideNextButton_b7f6c8 footer > div:last-child {
  display: none;
}
.wrapper_b97385 {
  height: 100%;
  width: 100%;
}
@media (min-width: 486px) and (min-height: 0) {
  .wrapper_b97385 {
    align-items: center;
    display: flex;
    inset-inline-start: 0;
    justify-content: center;
    position: absolute;
    top: 0;
  }
}
@media (min-width: 486px) and (min-height: 580px) {
  .wrapper_b97385 {
    align-items: center;
    display: flex;
    inset-inline-start: 0;
    justify-content: center;
    min-height: 580px;
    position: absolute;
    top: 0;
  }
}
@media screen and (max-width: 485px) {
  .animatedDiv_b97385 {
    max-height: 100%;
    overflow-y: auto;
    width: 100%;
  }
}
@media screen and (max-height: 550px) {
  .animatedDiv_b97385 {
    max-height: 100%;
    overflow-y: auto;
  }
}
.logo__11f7b {
  background: url(/assets/bbbc3d376d38e7bc.svg) no-repeat;
  flex: 0 0 auto;
  height: 36px;
  width: 130px;
}
.image__5901e {
  inset-inline-start: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.2s linear 0.2s;
}
.image__5901e.loaded__5901e {
  opacity: 1;
}
.background__7778d {
  bottom: 0;
  inset-inline-end: 0;
  opacity: 1;
  pointer-events: none;
  position: fixed;
  transition: opacity 0.4s ease;
  width: auto;
}
.content__7778d {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  width: 100vw;
}
.marginReset_fd297e {
  margin-bottom: 0;
  margin-top: 0;
}
.marginTop4_fd297e {
  margin-top: var(--custom-margin-margin-x-small);
}
.marginBottom4_fd297e {
  margin-bottom: var(--custom-margin-margin-x-small);
}
.marginTop8_fd297e {
  margin-top: var(--custom-margin-margin-small);
}
.marginBottom8_fd297e {
  margin-bottom: var(--custom-margin-margin-small);
}
.marginTop20_fd297e {
  margin-top: var(--custom-margin-margin-medium);
}
.marginBottom20_fd297e {
  margin-bottom: var(--custom-margin-margin-medium);
}
.marginBottom24_fd297e {
  margin-bottom: var(--space-24);
}
.marginTop40_fd297e {
  margin-top: var(--custom-margin-margin-large);
}
.marginBottom40_fd297e {
  margin-bottom: var(--custom-margin-margin-large);
}
.marginTop60_fd297e {
  margin-top: var(--custom-margin-margin-x-large);
}
.marginBottom60_fd297e {
  margin-bottom: var(--custom-margin-margin-x-large);
}
.marginCenterHorz_fd297e {
  margin-inline: auto;
}
.marginLeft8_fd297e {
  margin-inline-start: var(--custom-margin-margin-small);
}
.container__251d4 {
  position: absolute;
}
@keyframes fadeOut__251d4 {
  0% {
    opacity: 1;
    visibility: visible;
  }
  99% {
    opacity: 0.01;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.upsell__251d4 {
  opacity: 1;
  position: absolute;
  z-index: 1000;
}
.upsell__251d4.hidden__251d4 {
  animation: fadeOut__251d4 0.3s forwards;
}
.clickable__81391 {
  align-items: center;
  border-radius: var(--custom-app-top-bar-item-radius);
  color: var(--icon-muted);
  cursor: pointer;
  display: flex;
  height: var(--space-24);
  justify-content: center;
  position: relative;
  width: var(--space-24);
}
.clickable__81391:hover:not(.disabled__81391) {
  background-color: var(--background-mod-normal);
  color: var(--interactive-icon-hover);
}
.clickable__81391.selected__81391:not(.disabled__81391),
.clickable__81391:active:not(.disabled__81391),
.clickable__81391[aria-expanded="true"]:not(.disabled__81391) {
  color: var(--interactive-icon-active);
}
.clickable__81391.disabled__81391 {
  cursor: default;
  opacity: 0.5;
}
.badgeContainer__81391 {
  display: flex;
  justify-content: center;
  position: relative;
}
.badge__81391 {
  --custom-badge-size: 6px;
  --custom-icon-offset: calc(25% - var(--custom-badge-size) / 2);
  background-color: var(--background-feedback-notification);
  border-radius: 100%;
  bottom: var(--custom-icon-offset);
  height: var(--custom-badge-size);
  inset-inline-end: var(--custom-icon-offset);
  position: absolute;
  width: var(--custom-badge-size);
}
.enable-forced-colors .clickable__81391 {
  background-color: ButtonFace;
  color: ButtonText;
}
.enable-forced-colors .clickable__81391:hover {
  background-color: ButtonFace;
  color: ButtonText;
}
.enable-forced-colors .clickable__81391.selected__81391,
.enable-forced-colors .clickable__81391:active,
.enable-forced-colors .clickable__81391[aria-expanded="true"] {
  color: ButtonText;
}
.enable-forced-colors .badge__81391 {
  background-color: Highlight;
}
.backForwardButtons__63abb {
  --custom-bf-button-radius: var(--custom-app-top-bar-item-radius);
  --custom-bf-outer-padding: var(--space-6);
  --custom-bf-inner-padding: 2px;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 2px;
  justify-content: center;
  min-width: var(--custom-guild-list-width);
}
.platform-osx .backForwardButtons__63abb {
  margin-inline-start: calc(var(--custom-bf-outer-padding) * -1);
  min-width: unset;
}
.platform-win.density-compact .backForwardButtons__63abb {
  --custom-bf-button-radius: 5px;
}
.backForwardButtons__63abb .button__63abb {
  align-items: center;
  color: var(--interactive-text-default);
  display: flex;
  height: var(--space-24);
  justify-content: center;
}
.backForwardButtons__63abb .button__63abb.back__63abb {
  border-end-start-radius: var(--custom-bf-button-radius);
  border-start-start-radius: var(--custom-bf-button-radius);
  padding-inline: var(--custom-bf-outer-padding) var(--custom-bf-inner-padding);
}
.backForwardButtons__63abb .button__63abb.forward__63abb {
  border-end-end-radius: var(--custom-bf-button-radius);
  border-start-end-radius: var(--custom-bf-button-radius);
  padding-inline: var(--custom-bf-inner-padding) var(--custom-bf-outer-padding);
}
.backForwardButtons__63abb .button__63abb:not(.disabled__63abb):hover {
  background-color: var(--background-mod-normal);
  color: var(--interactive-text-hover);
  cursor: pointer;
}
.backForwardButtons__63abb .button__63abb:active {
  opacity: 0.7;
}
.backForwardButtons__63abb .button__63abb.disabled__63abb {
  opacity: 0.3;
}
.navigationTooltip__63abb {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  text-align: center;
}
.container__4a98c {
  gap: var(--space-32);
}
.container__4a98c,
.contentWrapper__4a98c {
  display: flex;
  flex-direction: column;
}
.contentWrapper__4a98c {
  flex-grow: 1;
  justify-content: space-between;
}
.header__4a98c {
  margin-bottom: var(--space-16);
}
.platformsWrap__4a98c {
  display: flex;
  flex-direction: column;
}
.platforms__4a98c {
  align-items: start;
  display: grid;
  flex-wrap: wrap;
  gap: var(--space-12);
  justify-content: center;
}
.platformsDesktop__4a98c {
  grid-template-columns: 1fr 1fr 1fr;
}
.platformsDesktop__4a98c:has(li:nth-child(4)) {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.platformsMobile__4a98c {
  grid-template-columns: 1fr 1fr;
}
.platform__4a98c {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid var(--border-normal);
  border-radius: var(--radius-md);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: auto;
  min-width: 0;
  padding: var(--space-12);
  position: relative;
  width: auto;
}
.full-motion .platform__4a98c {
  transition: all 0.3s ease-in-out;
}
.platform__4a98c.active__4a98c {
  background-color: var(--opacity-blurple-12);
  border-color: var(--text-brand);
  transform: none;
}
.platform__4a98c.active__4a98c .icon__4a98c {
  opacity: 0;
}
.platform__4a98c.active__4a98c .icon__4a98c.active__4a98c {
  opacity: 1;
}
.platformName__4a98c {
  text-align: center;
}
.iconWrap__4a98c {
  height: 100px;
  position: relative;
  width: 100px;
}
.icon__4a98c,
.iconWrap__4a98c {
  align-self: center;
}
.icon__4a98c {
  background-color: var(--icon-subtle);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  position: absolute;
  top: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
.icon__4a98c,
.icon__4a98c.active__4a98c {
  background-image: none;
}
.icon__4a98c.active__4a98c {
  background-color: var(--text-brand);
  opacity: 0;
}
.icon__4a98c.apple__4a98c {
  -webkit-mask-image: url(/assets/3bacc5415aa9a561.svg);
  mask-image: url(/assets/3bacc5415aa9a561.svg);
  -webkit-mask-position: center;
  mask-position: center;
}
.icon__4a98c.android__4a98c {
  -webkit-mask-image: url(/assets/8d4fb350d405ae2d.svg);
  mask-image: url(/assets/8d4fb350d405ae2d.svg);
  -webkit-mask-position: bottom;
  mask-position: bottom;
}
.icon__4a98c.windows__4a98c {
  -webkit-mask-image: url(/assets/f80d470870ccfd01.svg);
  mask-image: url(/assets/f80d470870ccfd01.svg);
}
.icon__4a98c.linux__4a98c {
  -webkit-mask-image: url(/assets/64dcefc70846922d.svg);
  mask-image: url(/assets/64dcefc70846922d.svg);
}
.icon__4a98c.ios__4a98c {
  -webkit-mask-image: url(/assets/81672d3df281d7de.svg);
  mask-image: url(/assets/81672d3df281d7de.svg);
}
.icon__4a98c.metaQuest__4a98c {
  -webkit-mask-image: url(/assets/c5024c0765e0f1e9.svg);
  mask-image: url(/assets/c5024c0765e0f1e9.svg);
  mask-mode: alpha;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}
.downloadButton__4a98c {
  padding-top: var(--space-4);
}
@media (max-width: 486px) {
  .platformsDesktop__4a98c,
  .platformsMobile__4a98c {
    grid-template-columns: 1fr;
  }
}
.gradientBackground__11664 {
  background-color: var(--bg-animated-gradient-background-not-black);
  contain: layout style size;
  filter: blur(100px);
  height: 100%;
  inset-inline-start: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.sphere__11664 {
  inset-inline-start: 50%;
  position: absolute;
  transform: translate3d(-50%, 0, 0);
}
.backgroundDark__11664 {
  background: var(--bg-animated-gradient-background-indigo-1);
  border-radius: 50%;
  bottom: -920px;
  filter: blur(200px);
  height: 1570px;
  opacity: 0.75;
  width: 1260px;
}
.backgroundLight__11664 {
  background: var(--bg-animated-gradient-background-pink-1);
  border-radius: 50%;
  bottom: -600px;
  height: 1050px;
  opacity: 0.66;
  transform: translate3d(-50%, 0, 0) scaleX(0.5) scaleY(0.65);
  width: 1120px;
}
.foregroundRing__11664 {
  border: 15px solid var(--blurple-49);
  border-radius: 50%;
  bottom: -675px;
  height: 1333px;
  opacity: 0.75;
  transform: translate3d(-50%, 0, 0) scale(1);
  width: 1333px;
}
.foregroundBase__11664 {
  background: var(--blurple-49);
  border-radius: 50%;
  bottom: -637.5px;
  height: 1125px;
  opacity: 0.75;
  transform: translate3d(-50%, 0, 0) scaleX(0.64) scaleY(0.56);
  width: 1125px;
}
.full-motion .backgroundDark__11664 {
  animation: pulseBackgroundDark__11664 6s ease-in-out infinite;
  animation-play-state: paused;
}
.full-motion .backgroundLight__11664 {
  animation: pulseBackgroundLight__11664 6s ease-in-out infinite;
  animation-play-state: paused;
}
.full-motion .foregroundRing__11664 {
  animation: pulseForegroundRing__11664 4s ease-in-out infinite;
  animation-play-state: paused;
}
.full-motion .foregroundBase__11664 {
  animation: pulseForeground__11664 4s ease-in-out infinite;
  animation-play-state: paused;
}
.full-motion.app-focused:not(.hardware-acceleration-disabled)
  .backgroundDark__11664 {
  animation-play-state: running;
}
.full-motion.app-focused:not(.hardware-acceleration-disabled)
  .backgroundLight__11664 {
  animation-play-state: running;
}
.full-motion.app-focused:not(.hardware-acceleration-disabled)
  .foregroundRing__11664 {
  animation-play-state: running;
}
.full-motion.app-focused:not(.hardware-acceleration-disabled)
  .foregroundBase__11664 {
  animation-play-state: running;
}
@keyframes pulseBackgroundDark__11664 {
  0%,
  to {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
}
@keyframes pulseBackgroundLight__11664 {
  0%,
  to {
    transform: translate3d(-50%, 0, 0) scaleX(0.65) scaleY(0.75);
  }
  50% {
    transform: translate3d(-50%, 0, 0) scaleX(0.5) scaleY(0.65);
  }
}
@keyframes pulseForegroundRing__11664 {
  0%,
  to {
    border-width: 15px;
    transform: translate3d(-50%, 0, 0) scale(1);
  }
  50% {
    border-width: 25px;
    transform: translate3d(-50%, 0, 0) scale(0.834);
  }
}
@keyframes pulseForeground__11664 {
  0%,
  to {
    transform: translate3d(-50%, 0, 0) scaleX(0.64) scaleY(0.56);
  }
  50% {
    transform: translate3d(-50%, 0, 0) scaleX(0.81) scaleY(0.81);
  }
}
.pulseGradient__11664 {
  height: 100%;
  inset-inline-start: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.platform-win .splashBackground_eb4069:before {
  background: var(--opacity-black-28);
  border-end-start-radius: 3px;
  content: "";
  height: 22px;
  inset-inline-end: 0;
  position: fixed;
  top: 0;
  transition: background 0.4s ease 0.4s;
  width: 84px;
  z-index: 1;
}
.platform-win .theme-dark .splashBackground_eb4069.loggingIn_eb4069:before,
.platform-win .theme-light .splashBackground_eb4069.loggingIn_eb4069:before {
  background: transparent;
}
.characterBackground_eb4069 {
  min-height: 100vh;
  overflow: auto;
  position: relative;
  width: 100vw;
}
.characterBackground_eb4069 .artwork_eb4069 {
  height: 100%;
  inset-inline-start: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
.characterBackground_eb4069 .logoWithText_eb4069 {
  inset-inline-start: 48px;
  position: relative;
  top: 48px;
}
.characterBackground_eb4069 .logo_eb4069 {
  display: block;
}
.characterBackground_eb4069 .logo_eb4069,
.splashBackground_eb4069 .logo_eb4069 {
  inset-inline-start: 50%;
  margin-inline-start: -65px;
  margin-top: 0;
  position: fixed;
  top: 24px;
}
@media (min-width: 830px) {
  .characterBackground_eb4069 .logo_eb4069 {
    inset-inline-start: 48px;
    margin: 0;
    top: 53px;
  }
  .splashBackground_eb4069 .logo_eb4069 {
    inset-inline-start: 24px;
    margin: 0;
    position: fixed;
    top: 24px;
  }
  .platform-osx .splashBackground_eb4069 .logo_eb4069 {
    top: 40px;
  }
}
.applicationIcon_c4891f {
  margin-inline-end: 8px;
}
.seasonalIcon_c4891f {
  height: 120px;
}
.header__1d5fc {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.horizontalAuthBox__1d5fc {
  width: 960px;
}
.needAccount__1d5fc {
  font-size: 14px;
  line-height: 16px;
}
.smallRegisterLink__1d5fc {
  display: inline-block;
  margin-inline-start: 4px;
  margin-bottom: 0;
  padding: 0;
  vertical-align: bottom;
}
.mainLoginContainer__1d5fc {
  align-items: start;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.mobile__1d5fc {
  width: 100%;
}
.goBackButton__1d5fc {
  margin-bottom: 16px;
  padding-inline-start: 0;
}
.goBackButton__1d5fc .content__1d5fc {
  align-items: center;
  display: flex;
}
.goBackButton__1d5fc .caret__1d5fc {
  margin-block: 0 1px;
  margin-inline: 0 4px;
}
.authBoxWithMobileWebHandoff__1d5fc {
  height: calc(
    100% - var(--custom-mobile-web-handoff-link-mobile-web-handoff-height)
  ) !important;
  top: var(
    --custom-mobile-web-handoff-link-mobile-web-handoff-height
  ) !important;
}
.card_e60808 {
  background-color: var(--background-surface-highest);
  border: 1px solid var(--border-subtle);
  border-radius: var(--radius-md);
  justify-content: space-between;
  padding: var(--space-16);
}
.card_e60808,
.leftContent_e60808 {
  align-items: center;
  display: flex;
}
.leftContent_e60808 {
  flex: 1;
  gap: var(--space-12);
  min-width: 0;
}
.icon_e60808 {
  align-items: center;
  border-radius: var(--radius-sm);
  flex-shrink: 0;
  height: 40px;
  overflow: hidden;
  width: 40px;
}
.icon_e60808,
.textContent_e60808 {
  display: flex;
  justify-content: center;
}
.textContent_e60808 {
  flex: 1;
  flex-direction: column;
  gap: var(--space-4);
  min-width: 0;
}
.name_e60808 {
  align-items: center;
  display: flex;
  gap: var(--space-8);
}
.requiredBadge_e60808 {
  background: var(--brand-500-alpha-10);
  border-radius: var(--radius-xs);
  font-size: 12px;
  line-height: 16px;
  padding: 1px 6px;
}
.connectedStatus_e60808 {
  align-items: center;
  display: flex;
  gap: var(--space-8);
}
@keyframes arrowBounce__1aa44 {
  0% {
    transform: translate3d(0, -2px, 0);
  }
  50% {
    transform: translateZ(0);
  }
  to {
    transform: translate3d(0, -2px, 0);
  }
}
.bounce__1aa44 {
  animation: arrowBounce__1aa44 2s ease-in-out infinite;
}
.title_edbb22 {
  display: inline-flex;
  gap: var(--space-8);
  max-width: 50vw;
}
.navigationTooltip_edbb22,
.title_edbb22 {
  align-items: center;
  justify-content: center;
}
.navigationTooltip_edbb22 {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  text-align: center;
}
.icon_edbb22 {
  height: 16px;
  width: 16px;
}
.appIcon_edbb22 {
  border-radius: 6px;
  height: 20px;
  width: 20px;
}
.guildIcon_edbb22 {
  border-radius: var(--radius-xs);
}
.container__5aa3a {
  border-radius: 0;
  flex-direction: column;
  height: 100%;
  margin: 0;
  overflow: hidden;
  width: 100%;
}
.container__5aa3a,
.tiles__5aa3a {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}
.tiles__5aa3a {
  flex-wrap: wrap;
  margin-bottom: 20px;
  z-index: 1;
}
.tile__5aa3a {
  height: 90px;
  margin: 4px;
  width: 160px;
}
.participantsRow__5aa3a {
  align-items: center;
  display: flex;
  flex-direction: row;
  position: relative;
}
.channelName__5aa3a {
  margin: 8px 0;
  max-width: 75%;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.joinButton__5aa3a {
  margin-top: 24px;
}
.buttonContainer__5aa3a {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  gap: var(--space-8);
  z-index: 1;
}
.content__5aa3a {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--space-24);
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
}
.header__5aa3a,
.subtext__5aa3a {
  text-align: center;
}
.root__6dcca {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100% - 112px);
  justify-content: center;
  text-align: center;
  width: 100%;
}
.art__6dcca {
  height: 50%;
  margin-bottom: 8px;
  max-height: 222px;
  max-width: 362px;
  width: 50%;
}
.hidden__6dcca {
  display: none;
}
.header__6dcca {
  margin-bottom: 8px;
}
.row_d6271c {
  justify-content: center;
}
.row_d6271c,
.tile_d6271c {
  display: flex;
}
.tile_d6271c {
  align-items: center;
  margin-inline-end: 8px;
  margin-bottom: 8px;
}
.tile_d6271c.noVerticalMargin_d6271c {
  margin-bottom: 0;
}
.tile_d6271c.noHorizontalMargin_d6271c {
  margin-inline-end: 0;
}
.tile_d6271c.padColumn_d6271c {
  padding: 0 2px;
}
.tileSizer_d6271c {
  aspect-ratio: 16/9;
  width: 100%;
}
.root__4ad81 {
  align-items: center;
  background-color: var(--background-base-lower);
  color: var(--white);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 16px;
}
.art__4ad81 {
  flex: 1;
  margin-bottom: var(--space-24);
  max-height: 210px;
  min-height: 0;
}
.heading__4ad81 {
  flex: none;
  margin-top: 16px;
  padding: 0 16px;
  text-align: center;
  white-space: pre-line;
}
.checkboxContainer__4ad81 {
  display: grid;
  flex: none;
  grid-template-columns: auto auto;
  grid-gap: 8px;
  align-items: center;
  cursor: pointer;
  margin-top: 16px;
}
.closeButton__4ad81 {
  color: var(--interactive-text-default);
}
.closeButtonContainer__4ad81 {
  cursor: pointer;
  inset-inline-end: 8px;
  position: absolute;
  top: 8px;
}
.closeButtonContainer__4ad81 :focus > .closeButton__4ad81,
.closeButtonContainer__4ad81 :hover {
  color: var(--interactive-text-hover);
}
.activitiesContainer__4ad81 {
  display: grid;
  flex: none;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 16px;
  grid-gap: 16px;
}
.activitiesContainerSmol__4ad81 {
  grid-gap: 8px;
}
.activitySuggestion__4ad81 {
  max-width: 250px;
}
.clickableTile__4ad81 {
  cursor: pointer;
  display: flex;
  flex: 1;
}
.iconContainer__4ad81 {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}
.iconPlusSign__4ad81 {
  bottom: 4px;
}
.iconPlusSign__4ad81,
.shelfButtonCloseButton__4ad81 {
  inset-inline-end: 4px;
  position: absolute;
}
.shelfButtonCloseButton__4ad81 {
  cursor: pointer;
  top: 4px;
}
.button__4ad81 {
  border-radius: 100px;
}
.closeButtonIcon__4ad81 {
  color: var(--background-base-lower);
}
.closeButtonIcon__4ad81:hover {
  color: var(--icon-muted);
}
.singleUserRoot__4ad81 {
  align-items: center;
  background: radial-gradient(
      110.79% 100% at 50% 100%,
      var(--background-base-lower) 60%,
      var(--transparent) 100%
    ),
    linear-gradient(
      270deg,
      var(--background-tile-gradient-pink-end) 0,
      var(--background-tile-gradient-pink-start) 80%
    ),
    linear-gradient(
      0deg,
      var(--background-base-lower),
      var(--background-base-lower)
    ),
    var(--opacity-black-20);
  display: flex;
  gap: 16px;
  justify-content: center;
}
.tile_eaee1d {
  height: 100%;
}
.container__2aff1 {
  position: absolute;
  top: 0;
  inset-inline: 0;
  bottom: 0;
  pointer-events: none;
}
.tileContainer__2aff1 {
  display: flex;
}
.tile__2aff1 {
  aspect-ratio: 16/9;
  border-radius: 8px;
  margin-inline-end: 8px;
  width: 100%;
}
.tile__2aff1:last-child {
  margin-inline-end: 0;
}
.tile_ba65b0 {
  height: 100%;
  width: 100%;
}
.tileSizer_ba65b0 {
  height: 112px;
  width: 195px;
}
.tileSizer_ba65b0:not(:first-child) {
  margin-inline-start: 8px;
}
.root_ba65b0 {
  box-sizing: border-box;
  display: flex;
  height: 112px;
  justify-content: center;
  width: 100%;
}
.voiceCallWrapper_a21736 {
  padding-bottom: 24px;
}
.videoGridWrapper_a21736 {
  align-self: stretch;
}
.root_a21736 {
  height: 100%;
  position: relative;
  width: 100%;
}
.flexCenter_a21736 {
  align-items: center;
  display: flex;
  justify-content: center;
}
.videoFrame_a21736 {
  flex: 1;
  position: relative;
}
.videoWrapper_a21736 {
  flex: 1 1 100%;
  margin: 0 auto;
  position: relative;
}
.videoWrapperAnimated_a21736 {
  position: absolute;
  top: 0;
  inset-inline: 0;
  bottom: 0;
}
.videoGrid_a21736 {
  height: 100%;
  min-width: 100px;
}
.hiddenParticipants_a21736 p {
  margin: 0;
}
.videoSizer_a21736 {
  position: relative;
  width: 100%;
}
.focusedVideo_a21736 {
  height: 100%;
}
.participantsButton_a21736 {
  inset-inline-end: 8px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.2s ease-in-out;
  z-index: 1;
}
.participantsButton_a21736.idle_a21736 {
  opacity: 0;
}
.root__6981d {
  height: 100%;
}
.root__6981d,
.tileWrapper__6981d {
  position: relative;
  width: 100%;
}
.videoFrame__6981d {
  display: flex;
  flex: 1;
  justify-content: center;
  position: relative;
}
.videoWrapper__6981d {
  z-index: 1;
}
.actionRow__6981d {
  bottom: -8px;
  display: flex;
  inset-inline-start: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(100%);
  transition: opacity 0.2s ease-in-out;
  z-index: 10;
}
.actionRow__6981d.idle__6981d {
  opacity: 0;
}
.viewAllButton__6981d {
  background: var(--primary-630);
  border-radius: 48px;
  box-shadow: var(--shadow-border), var(--shadow-high);
  margin-inline-start: 8px;
  padding: 4px 8px;
}
.viewAllButton__6981d:hover {
  background: var(--primary-700);
}
.viewAllButtonInner__6981d {
  align-items: center;
  display: flex;
  white-space: nowrap;
}
.buttonIcon__6981d {
  color: var(--white);
  margin-inline-end: 4px;
}
.participantsWrapperAnimated__6981d {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  inset-inline: 8px;
  bottom: 0;
  overflow: hidden;
  position: absolute;
}
.gradientBackground__41626 {
  background-color: var(--bg-animated-gradient-background-not-black);
  filter: blur(200px);
  height: 100%;
  inset-inline-start: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.gradientBackground__41626 > div {
  border-radius: 50%;
  position: absolute;
  transform-origin: center center;
}
.leftDarkEllipse__41626 {
  background: var(--bg-animated-gradient-background-indigo-2);
  height: 88.5%;
  inset-inline-start: -49.5%;
  opacity: 1;
  top: -44.2%;
  transform: scaleX(1) scaleY(1.25);
  width: 99%;
}
@keyframes leftDarkEllipse__41626 {
  0%,
  to {
    opacity: 1;
    transform: scaleX(1) scaleY(1.25);
  }
  55% {
    opacity: 0.75;
    transform: scale(0.82);
  }
}
.leftLightEllipse__41626 {
  background: var(--blurple-49);
  height: 23.5%;
  inset-inline-start: -22.5%;
  opacity: 1;
  top: -11.8%;
  transform: scaleX(1) scaleY(1.25);
  width: 45%;
}
@keyframes leftLightEllipse__41626 {
  0%,
  to {
    opacity: 0.6;
    transform: scaleX(1) scaleY(1.25);
  }
  55% {
    opacity: 0.45;
    transform: scale(0.82);
  }
}
.rightDarkEllipse__41626 {
  background: var(--bg-animated-gradient-background-indigo-2);
  height: 88.5%;
  inset-inline-end: -50%;
  opacity: 0.75;
  top: -44.2%;
  transform: scale(0.82);
  width: 99%;
}
@keyframes rightDarkEllipse__41626 {
  0%,
  to {
    opacity: 0.75;
    transform: scale(0.82);
  }
  55% {
    opacity: 0.7;
    transform: scaleX(1) scaleY(1.25);
  }
}
.rightLightEllipse__41626 {
  background: var(--blurple-49);
  height: 23.5%;
  inset-inline-end: -22.5%;
  opacity: 0.45;
  top: -11.7%;
  transform: scale(0.82);
  width: 45%;
}
@keyframes rightLightEllipse__41626 {
  0%,
  to {
    opacity: 0.45;
    transform: scale(0.82);
  }
  55% {
    opacity: 0.7;
    transform: scaleX(1) scaleY(1.25);
  }
}
.centerEllipse__41626 {
  background: var(--blurple-49);
  height: 100%;
  opacity: 0.45;
  top: -50%;
  transform: translate(50%) scale(0.36);
  width: 100%;
}
@keyframes centerEllipse__41626 {
  0%,
  to {
    opacity: 0.45;
    transform: scale(0.36);
  }
  55% {
    opacity: 0.6;
    transform: scaleX(0.7) scaleY(0.3);
  }
}
.full-motion .leftDarkEllipse__41626 {
  animation: leftDarkEllipse__41626 4.5s ease-in-out infinite;
}
.full-motion .leftLightEllipse__41626 {
  animation: leftLightEllipse__41626 4.5s ease-in-out infinite;
}
.full-motion .rightDarkEllipse__41626 {
  animation: rightDarkEllipse__41626 4.5s ease-in-out infinite;
}
.full-motion .rightLightEllipse__41626 {
  animation: rightLightEllipse__41626 4.5s ease-in-out infinite;
}
.full-motion .centerEllipse__41626 {
  animation: centerEllipse__41626 4.5s ease-in-out infinite;
}
.clipsEnabledIndicator__8c88a {
  display: flex;
  margin: 0 8px;
}
.clipBadgeText__8c88a {
}
.clipBadgeIcon__8c88a {
  padding-inline-start: 4px;
  width: var(--custom-clips-enabled-indicator-badge-icon-dimension-override);
}
@media (max-width: 920px) {
  .clipBadgeText__8c88a {
    display: none;
  }
  .clipBadgeIcon__8c88a {
    border-radius: var(--radius-sm);
    height: var(--custom-clips-enabled-indicator-badge-icon-dimension-override);
    padding: 2px;
  }
}
.videoList__95c18 {
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 8px;
  height: 100%;
  justify-content: center;
  width: 100%;
}
.videoList__95c18.vertical__95c18 {
  flex-direction: column;
}
.tile__95c18 {
  border-radius: var(--custom-base-tile-border-radius);
  overflow: hidden;
}
.hidden__95c18 {
  display: none;
}
.unreadCount__23463 {
  background: var(--interactive-text-default);
  border-radius: 999px;
  box-sizing: border-box;
  color: var(--black);
  flex-shrink: 0;
  font-weight: var(--font-weight-semibold);
  height: 16px;
  margin-inline-start: -12px;
  min-width: 16px;
  padding: 0 4px;
  text-align: center;
  width: auto;
}
.mention__23463 {
  background: var(--background-feedback-notification);
  color: var(--white);
}
.circularButton__92e4b {
  background: var(--background-gradient-lowest, var(--background-mod-normal));
  border-radius: 20px;
  height: 40px;
  width: 40px;
}
.wrapper__92e4b {
  display: flex;
  min-width: 32px;
  position: relative;
  width: auto;
}
.wrapper__92e4b svg {
  flex-shrink: 0;
}
.badge__92e4b {
  flex-grow: 0;
  flex-shrink: 1;
  inset-inline-end: -4px;
  position: absolute;
  top: -4px;
}
.iframe__49094 {
  height: 100%;
  width: 100%;
}
.wrapper__49094 {
  background-color: #000;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  z-index: 2;
}
.wrapper__49094.resizable__49094 {
  height: 65%;
}
.wrapper__49094.noChat__49094 {
  height: 100%;
  max-height: 100%;
}
.activityPanelContainer__49094 {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.header__49094 {
  padding: 14px 8px;
}
.footer__49094,
.header__49094 {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.footer__49094 {
  justify-content: space-between;
  padding: 12px 24px;
}
.minimizeContainer__49094 {
  flex: 0;
}
.circularButton__49094 {
  background: var(--background-mod-normal);
  border-radius: 20px;
  height: 40px;
  width: 40px;
}
.minimizeIcon__49094 {
  height: 20px;
  width: 20px;
}
.headerTitle__49094 {
  flex: 1;
  text-align: center;
}
.leaveButtonContainer__49094 {
  margin: 0 16px;
}
.activityContainer__49094 {
  align-items: center;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  margin: 24px;
}
.activityContainerNoMargin__49094 {
  margin: 0;
}
.leaveActivityIcon__49094 {
  height: 20px;
  width: 20px;
}
.leaveActivityButton__49094 {
  height: 40px;
  width: 40px;
}
.footerButtons__49094 {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
}
.flex__49094 {
  flex: 1;
}
.avatar__49094 {
  border-radius: 50%;
  height: 32px;
  width: 32px;
}
.buttonSection__49094 {
  align-items: center;
  background: var(--plum-23);
  border: 1px solid hsl(var(--plum-11-hsl) / 0.06);
  border-radius: 12px;
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 4px;
}
.contextlessHeader__49094 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: var(--space-12) var(--space-16);
}
.contextlessHeaderLeft__49094 {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--space-8);
}
.contextlessInviteButtonIcon__49094 {
  height: 16px;
  width: 16px;
}
.contextlessLeaveActivityButton__49094 {
  border-radius: 8px;
  padding: var(--space-4);
}
.contextlessLeaveActivityButtonIcon__49094 {
  padding: var(--space-4) var(--space-8);
}
.fortniteUpsellModalButton__49094 {
  background: var(--plum-23);
  border: 1px solid hsl(var(--plum-11-hsl) / 0.06);
  border-radius: 12px;
  margin-inline-end: var(--space-24);
  padding: 4px;
}

/*# sourceMappingURL=7363.a1031c866775feec.css.map*/
