.gameName__8c6c2 {
  color: var(--text-default);
  line-height: 16px;
}
.clickableGameName__8c6c2:hover .gameName__8c6c2 {
  color: var(--interactive-text-active);
  cursor: pointer;
  text-decoration: underline;
}
.gameWrapper__8c6c2 {
  align-items: center;
  display: flex;
  min-width: 0;
}
.gameWrapper__8c6c2 .liveIndicator__8c6c2 {
  padding: 0 4px;
}
.gameIconWrapper__8c6c2 {
  height: 32px;
  position: relative;
}
.gameIcon__8c6c2 {
  border-radius: var(--radius-sm);
  height: 32px;
  width: 32px;
}
.info__8c6c2 {
  display: flex;
  flex-direction: column;
  margin-inline-start: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.liveBadge__8c6c2 {
  background-color: var(--background-mod-normal);
  border-radius: 50%;
  bottom: -4px;
  color: var(--text-strong);
  height: 14px;
  inset-inline-end: -4px;
  padding: 2px;
  position: absolute;
  width: 14px;
}
.panel__5dec7 {
  background-color: var(--background-surface-high);
  border-bottom: 1px solid var(--border-muted);
  border-start-end-radius: var(--radius-sm);
  border-start-start-radius: var(--radius-sm);
  flex: 0 0 auto;
  padding: var(--space-12);
}
.custom-theme-background .panel__5dec7 {
  background: unset;
}
.body__5dec7 {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.dropsBadgeWrapper__5dec7 {
  display: inline-block;
  padding-top: 4px;
}
.dropsBadge__5dec7 {
  font-size: 10px;
  font-weight: var(--font-weight-semibold);
  line-height: 12px;
  overflow: hidden;
  padding-top: 2px;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: none;
  white-space: nowrap;
}
.gameWrapper__5dec7 {
  align-items: center;
  display: flex;
  min-width: 0;
}
.gameWrapper__5dec7 .liveIndicator__5dec7 {
  padding: 0 4px;
}
.clickableGameWrapper__5dec7 {
  cursor: pointer;
  flex-grow: 1;
  padding: var(--space-4);
}
.clickableGameWrapper__5dec7:hover {
  background-color: var(--control-secondary-background-hover);
  border-radius: var(--space-8);
}
.gameIcon__5dec7 {
  height: 32px;
  width: 32px;
}
.info__5dec7 {
  display: flex;
  flex-direction: column;
  margin-inline-start: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sparkleContainer__5dec7 {
  position: relative;
}
.sparkles__5dec7 {
  height: 26px;
  inset-inline-start: 5px;
  position: absolute;
  top: -12px;
  width: 26px;
}
.infoWithDrops__5dec7 {
  display: block;
}
.underlineOnHover__5dec7:hover {
  text-decoration: underline;
}
.channel__5dec7:hover {
  text-decoration: underline;
}
.perksDemoContainer__5dec7 {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: 1px;
}
.perksDemoText__5dec7 {
  margin-inline-start: 2px;
}
.frameApplicationNameTitleClickable__5dec7 {
  cursor: pointer;
}
.listeningAlong_e0cf27 {
  align-items: center;
  background: var(--background-gradient-lowest, var(--background-base-low));
  border-radius: 4px 4px 0 0;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  padding: 8px;
  width: 100%;
}
.party_e0cf27 {
  margin-inline-start: 8px;
}
.overflow_e0cf27 {
  cursor: pointer;
}
.icons_e0cf27 {
  display: flex;
  margin-inline-start: 4px;
}
.avatar_e0cf27 {
  cursor: pointer;
  height: 20px !important;
  width: 20px !important;
}
.userList__24091 {
  border: 1px solid;
  border-radius: 3px;
  min-width: 250px;
  position: relative;
}
.userList__24091:before {
  border: 1px solid;
  box-shadow: 2px 2px 4px var(--opacity-black-20);
  content: "";
  height: 8px;
  inset-inline-start: 50%;
  margin-inline-start: -8px;
  position: absolute;
  top: 100%;
  transform: translate3d(4px, -4px, 0) rotate(45deg);
  width: 8px;
}
.header__24091 {
  background-color: var(--background-base-lower);
  color: var(--text-default);
  font-size: 14px;
  font-weight: var(--font-weight-semibold);
  padding: 12px;
  text-align: center;
  text-transform: uppercase;
}
.content__24091 {
  background-color: var(--background-base-lowest);
  max-height: 260px;
}
.user__24091 {
  font-size: 14px;
  padding: 10px;
}
.discriminator__24091 {
  color: var(--text-muted);
  font-size: 14px;
}
.tag__24091 {
  margin-inline-start: 8px;
}
.avatar__24091 {
  height: 20px !important;
  width: 20px !important;
}
.theme-dark .userList__24091 {
  border-color: var(--primary-700);
}
.theme-dark .userList__24091:before {
  border-bottom-color: var(--primary-700);
  border-inline-end-color: var(--primary-700);
}
.theme-light .userList__24091 {
  border-color: var(--primary-100);
}
.theme-light .userList__24091:before {
  border-bottom-color: var(--primary-100);
  border-inline-end-color: var(--primary-100);
}
.userList__24091:before {
  background-color: var(--background-base-lowest);
  border-color: transparent;
}
.username__24091 {
  color: var(--text-default);
}
.root_e373d2 {
  border-start-end-radius: 8px;
  border-start-start-radius: 8px;
  box-sizing: border-box;
  display: flex;
  height: 32px;
  justify-content: center;
  padding: 8px;
}
.root_e373d2.connected_e373d2 {
  background-color: var(--status-positive-background);
}
.root_e373d2.connected_e373d2 .icon_e373d2 {
  color: var(--white);
}
.root_e373d2.connecting_e373d2 {
  background-color: var(--background-mod-normal);
  border-bottom: 1px solid var(--border-subtle);
}
.icon_e373d2 {
  color: var(--interactive-text-active);
  height: 16px;
  margin-inline-end: 8px;
  width: 16px;
}

/*# sourceMappingURL=76247.b127400c9f5ac1ae.css.map*/
