.alignCenter__31873 {
  margin: 0 auto;
}
.alignLeft__31873 {
  margin: 0;
}
.horizontalPaginationItemContainer__31873 {
  align-items: center;
  display: flex;
  flex: initial;
  overflow-x: auto;
  overflow-y: hidden;
}
.verticalPaginationItemContainer__31873 {
  overflow-y: hidden;
}
.arrow__31873 {
  height: 26px;
  width: 26px;
}
.arrow__31873,
.arrowContainer__31873 {
  box-sizing: border-box;
  pointer-events: all;
}
.arrowContainer__31873 {
  color: var(--white);
  cursor: pointer;
  font-size: 0;
  height: 50px;
  line-height: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
}
.prevButtonContainer__31873 {
  inset-inline-start: 4px;
}
.nextButtonContainer__31873 {
  inset-inline-end: 4px;
}
@media (max-width: 600px) {
  .prevButtonContainer__31873 {
    inset-inline-start: 5%;
  }
  .nextButtonContainer__31873 {
    inset-inline-end: 5%;
  }
}
.item_cf6769 {
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 3em;
  height: 100%;
  overflow: hidden;
  transform: translateZ(0);
  transition: filter 0.2s ease;
  width: 100%;
}
.currentItem_cf6769 {
  cursor: default;
}
.itemImage_cf6769 {
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
}
.currentImage_cf6769 {
  cursor: zoom-in;
}
.itemImageWrapper_cf6769 {
  height: 100%;
  width: 100%;
}
.itemVideo_cf6769 {
  cursor: pointer;
}
.paginationItem_cf6769 {
  height: 73px;
  margin-inline-end: 20px;
  opacity: 0.6;
  position: relative;
  touch-action: manipulation;
  width: 130px;
}
.paginationItem_cf6769:last-child {
  margin-inline-end: 0;
}
.storePaginationImg_cf6769 {
  border-radius: 3px;
  height: 73px;
  -o-object-fit: cover;
  object-fit: cover;
  width: 130px;
}
.selectedStorePaginationItem_cf6769 {
  opacity: 1;
}
.unselectedStorePaginationItem_cf6769:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}
.overlappingBorder_cf6769 {
  border: 3px solid var(--brand-500);
  border-radius: 3px;
  inset: 0;
  position: absolute;
}
.paginationVideoOverlay_cf6769 {
  align-items: center;
  display: flex;
  inset: 0;
  justify-content: center;
  position: absolute;
}
.paginationVideoPlayPill_cf6769 {
  border-radius: 50%;
  height: 40px;
  padding: 8px;
}
.pagination_cf6769 {
  box-sizing: border-box;
  margin: 20px auto;
  max-width: 920px;
  padding: 0 20px;
}
.carouselButtonsContainer_cf6769 {
  color: var(--primary-100);
  position: relative;
}
.arrow_cf6769 {
  background-color: var(--primary-800);
  border-radius: 50%;
  opacity: 0.4;
  padding: 12px;
  transition: opacity 0.2s ease-in-out;
}
.arrow_cf6769:hover,
.arrowHovered_cf6769 {
  opacity: 0.6;
}
.scroller_cf6769 {
  padding-bottom: 24px;
}
.video_cf6769 {
  background: var(--black);
}
.mediaPlayer_cf6769,
.video_cf6769,
.videoWrapper_cf6769 {
  height: 100% !important;
  width: 100% !important;
}
.item_cf6769 {
  background-color: var(--black);
}
.smallCarousel_cbfa93,
.smallCarouselItem_cbfa93 {
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}
.smallCarousel_cbfa93 {
  background-color: var(--black);
}
.smallCarouselItem_cbfa93 {
  height: 100%;
}
.smallCarouselImage_cbfa93 {
  cursor: zoom-in;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
}
.embedContainer_cbfa93 {
  background-color: var(--primary-800);
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
.hidden_cbfa93 {
  display: none;
}
.spinner_cbfa93 {
  align-self: center;
  margin-top: 64px;
}
.errorContainer_cbfa93 {
  align-items: center;
  background-color: var(--background-base-lower);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.sizedToParent_cbfa93 {
  border-radius: 0;
  height: 100% !important;
  width: 100% !important;
}
.sizedToParent_cbfa93 > video {
  border-radius: 0;
}
.errorImage_d389c2 {
  width: 33%;
}
.carousel_d389c2 {
  background: transparent;
}
.sectionContainer_c6b177 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.contentContainer_c6b177 {
  background-color: var(--background-base-lower);
  border: 1px solid var(--border-subtle);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}
.commandContainer_c6b177 {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.commandName_c6b177 {
  background-color: var(--background-base-lowest);
  border: 1px solid var(--border-subtle);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  padding: 2px 4px;
}
.sectionContainer__8f46b {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.contentContainer__8f46b {
  background-color: var(--background-base-lower);
  border: 1px solid var(--border-subtle);
  border-radius: 8px;
  padding: 16px;
}
.privacyPolicy__8f46b {
  margin-top: 8px;
}
.intentsList__8f46b {
  border-bottom: 1px solid var(--border-subtle);
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
  padding-bottom: 16px;
}
.intentContainer__8f46b {
  color: var(--text-default);
  display: flex;
  gap: 16px;
}
.intentTextContainer__8f46b {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.wrapper_bb856d {
  align-items: flex-start;
}
.icons_bb856d,
.wrapper_bb856d {
  display: flex;
  flex-direction: row;
}
.icons_bb856d {
  align-items: center;
  margin-inline-end: 4px;
}
.iconMask_bb856d {
  margin-inline-end: -4px;
}
.icon_bb856d {
  border-radius: 50%;
}
.iconSmall_bb856d {
  height: var(--custom-guild-count-small-icon-size);
  width: var(--custom-guild-count-small-icon-size);
}
.iconLarge_bb856d {
  height: var(--custom-guild-count-large-icon-size);
  width: var(--custom-guild-count-large-icon-size);
}
.moreGuilds_bb856d {
  background-color: var(--background-base-lowest);
  box-sizing: border-box;
  color: var(--text-default);
  font-weight: var(--font-weight-medium);
  padding: 0 4px;
  text-align: center;
}
.moreGuildsSmall_bb856d {
  border-radius: var(--custom-guild-count-small-icon-size);
  font-size: 10px;
  height: var(--custom-guild-count-small-icon-size);
  line-height: var(--custom-guild-count-small-icon-size);
  min-width: var(--custom-guild-count-small-icon-size);
}
.moreGuildsLarge_bb856d {
  border-radius: var(--custom-guild-count-large-icon-size);
  font-size: 12px;
  height: var(--custom-guild-count-large-icon-size);
  line-height: var(--custom-guild-count-large-icon-size);
  min-width: var(--custom-guild-count-large-icon-size);
}
.defaultIcon_bb856d {
  color: var(--interactive-text-default);
}
.categories_ed45d7 {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.category_ed45d7 {
  align-items: center;
  border: 1px solid var(--border-strong);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  padding: 6px 12px;
}
.category_ed45d7:hover {
  background-color: var(--interactive-background-hover);
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.container__8a003,
.list__8a003 {
  display: flex;
  gap: 12px;
}
.list__8a003 {
  flex-direction: column;
}
.listItem__8a003 {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.listItem__8a003.linkItem__8a003:hover {
  cursor: pointer;
}
.listItem__8a003.linkItem__8a003:hover .listIcon__8a003,
.listItem__8a003.linkItem__8a003:hover .listText__8a003 {
  color: var(--interactive-text-active);
}
.listText__8a003 {
  flex: 1;
}
.listIcon__8a003 {
  color: var(--interactive-text-default);
}
.listIcon__8a003,
.listImage__8a003 {
  margin-inline-end: 8px;
}
.listImage__8a003 {
  height: 20px;
  width: 20px;
}
@use postcss-pxtorem;
.card_c59071 {
  background-color: var(--background-mod-normal);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  min-height: 248px;
}
.card_c59071:hover {
  cursor: pointer;
}
.cardHeader_c59071 {
  display: block;
  height: 108px;
  margin-bottom: 33px;
  overflow: visible;
  position: relative;
}
.splashImage_c59071 {
  border-start-end-radius: 8px;
  border-start-start-radius: 8px;
  height: 100%;
  inset-inline-start: 0;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}
.guildIcon_c59071 {
  bottom: -32px;
  inset-inline-start: 12px;
  position: absolute;
}
.iconMask_c59071 {
  background-color: var(--background-mod-normal);
  padding: 4px;
}
.cardDetails_c59071 {
  align-content: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  padding: 0 16px 16px;
}
.guildNameWrapper_c59071 {
  align-items: center;
  display: flex;
  font-weight: var(--font-weight-semibold);
  margin-bottom: 4px;
}
.guildBadge_c59071 {
  flex: 0 0 16px;
  height: 16px;
  margin-inline: -2px 4px;
  width: 16px;
}
.guildName_c59071 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.guildDescription_c59071 {
  flex: 1 1 auto;
  margin-bottom: 16px;
}
.memberInfo_c59071 {
  align-items: center;
  display: flex;
  flex: 0;
}
.memberCountWrapper_c59071 {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.memberCountIcon_c59071 {
  color: var(--text-default);
  margin-inline-end: 4px;
}
.outerContainer__5a77b {
  clip-path: inset(0 0 0 16px);
  line-height: 16px;
  margin-inline-start: -16px;
  row-gap: 4px;
}
.innerContainer__5a77b,
.outerContainer__5a77b {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.languageItem__5a77b {
  padding-inline-start: 4px;
}
.languageItem__5a77b:before {
  color: var(--text-muted);
  content: "•";
  display: inline-block;
  margin-inline-end: 4px;
  text-align: center;
  width: 1ch;
}
.sideContainer_de3a16 {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.gridContainer_de3a16 {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}
.guildCountContainer_de3a16 {
  display: flex;
  gap: 4px;
}
.guildsIconContainer_de3a16 {
  height: 18px;
  justify-self: center;
}
.sectionContainer_de3a16 {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.sectionContainer_de3a16.reducedGap_de3a16 {
  gap: 24px;
}
.infoSection_de3a16 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.infoSection_de3a16:empty {
  display: none;
}
.linkGrid_de3a16 {
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 1fr;
}
.title_feb59c {
  margin-bottom: 8px;
}
h1.title_feb59c {
  font-size: 20px;
  font-weight: var(--font-weight-medium);
  line-height: 1.2;
}
h2.title_feb59c {
  font-size: 16px;
  font-weight: var(--font-weight-semibold);
  line-height: 1.25;
}
h3.title_feb59c {
  font-size: 14px;
  line-height: 1.14;
}
h3.title_feb59c,
h4.title_feb59c,
h5.title_feb59c,
h6.title_feb59c {
  font-weight: var(--font-weight-semibold);
  text-transform: uppercase;
}
h4.title_feb59c,
h5.title_feb59c,
h6.title_feb59c {
  font-size: 12px;
  line-height: 1.33;
}
.theme-dark h3.title_feb59c {
  color: var(--primary-200);
}
.theme-dark h4.title_feb59c,
.theme-dark h5.title_feb59c,
.theme-dark h6.title_feb59c {
  color: var(--primary-300);
}
.theme-light h3.title_feb59c,
.theme-light h4.title_feb59c,
.theme-light h5.title_feb59c,
.theme-light h6.title_feb59c {
  color: var(--primary-400);
}
h1.title_feb59c,
h2.title_feb59c {
  color: var(--text-default);
}
.svgContentRight__7b484 {
  fill: var(--background-base-low);
}
.svgContentLeft__7b484 {
  fill: var(--background-base-lowest);
}
.svgContentLines__7b484,
.svgDots__7b484 {
  fill: var(--background-mod-strong);
}
.svgTag__7b484 {
  fill: var(--text-subtle);
}
.wrapper__124c8 {
  background-color: var(--background-surface-high);
  border: 1px solid var(--border-subtle);
  border-radius: var(--radius-sm);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 432px;
  min-width: 160px;
  padding: 16px;
  text-indent: 0;
}
.titleRegion__124c8 {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  text-transform: uppercase;
}
.infoIcon__124c8,
.title__124c8 {
  display: block;
  flex: 0 0 auto;
}
.infoIcon__124c8 {
  height: 16px;
  margin-inline-start: 4px;
  width: 16px;
}
.copyLink__124c8 {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-weight: var(--font-weight-semibold);
  justify-content: flex-start;
  margin-inline-start: 16px;
  padding-inline-end: 8px;
  position: relative;
}
.copyLink__124c8:before {
  content: "";
  display: block;
  height: 12px;
  inset-inline-start: -8px;
  margin-inline-end: 8px;
  pointer-events: none;
  position: absolute;
  top: 2px;
  width: 1px;
}
.copyLink__124c8.copied__124c8 {
  cursor: default;
}
.copyLinkIcon__124c8 {
  display: block;
  height: 16px;
  margin-inline-end: 4px;
  width: 16px;
}
.content__124c8 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-flow: row wrap;
  gap: 16px;
}
.infoLink__124c8.infoLink__124c8 {
  color: var(--text-default);
  cursor: pointer;
}
.buildInfo__124c8 {
  flex: 1000 0 auto;
  height: 40px;
  overflow: hidden;
}
.button__124c8 {
  flex: 1 0 auto;
}
.buttonSize__124c8 {
  height: 40px;
  width: 80px;
}
.subHead__124c8 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.icon__124c8 {
  display: block;
  flex: 0 0 auto;
}
.buildDetails__124c8 {
  font-size: 16px;
  font-weight: var(--font-weight-medium);
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.barLoader__124c8 {
  border-radius: 8px;
  flex: 0 0 auto;
  height: 16px;
  width: 84%;
}
.barTitle__124c8 {
  margin-bottom: 4px;
  margin-top: 2px;
  width: 45%;
}
.buttonLoader__124c8 {
  border-radius: 4px;
  height: 40px;
  width: 80px;
}
.theme-light .disabledButtonOverride__124c8 {
  background-color: var(--primary-300) !important;
}
.copyLink__124c8:before {
  background-color: var(--background-base-low);
}
.buildDetails__124c8,
.copyLink__124c8:hover,
.infoLink__124c8:hover {
  color: var(--text-strong);
}
.copyLink__124c8.copied__124c8,
.copyLink__124c8.copied__124c8:hover {
  color: var(--text-feedback-positive);
}
.barLoader__124c8,
.buttonLoader__124c8 {
  background-color: var(--background-base-low);
}
.root__5c1cf {
  background-color: var(--background-surface-high);
  border: 1px solid var(--border-subtle);
  border-radius: var(--radius-sm);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
  margin-top: var(--space-8);
  max-width: 360px;
  min-width: 160px;
  padding: var(--space-12);
  width: auto;
}
.root__5c1cf div[role="button"] {
  margin-inline-start: 0;
}
.header__5c1cf {
  align-items: center;
  display: grid;
}
.experimentOverride__5c1cf {
  flex: 1;
}
.copyLinkButton__5c1cf {
  color: var(--icon-subtle);
  cursor: pointer;
}
.copyLinkButton__5c1cf:hover {
  color: var(--icon-strong);
}
.icon__1bb46 {
}
.iconWrapper__1bb46 {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.name__1bb46 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.hljs {
  border-radius: 4px;
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  background: var(--background-base-lower);
  color: var(--text-code);
}
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-variable.language_ {
  color: var(--text-code-keyword);
}
.hljs-type {
  color: var(--text-code-type);
}
.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  color: var(--text-code-title);
}
.hljs-literal,
.hljs-params,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-variable {
  color: var(--text-code-variable);
}
.hljs-attr,
.hljs-attribute {
  color: var(--text-code-attribute);
}
.hljs-meta {
  color: var(--text-code-decorator);
}
.hljs-property {
  color: var(--text-code-property);
}
.hljs-number {
  color: var(--text-code-number);
}
.hljs-operator {
  color: var(--text-code-operator);
}
.hljs-meta .hljs-string,
.hljs-string {
  color: var(--text-code-string);
}
.hljs-regexp {
  color: var(--text-code-regexp);
}
.hljs-built_in {
  color: var(--text-code-type);
}
.hljs-symbol {
  color: var(--text-code-builtin);
}
.hljs-code,
.hljs-comment,
.hljs-formula {
  color: var(--text-code-comment);
}
.hljs-name,
.hljs-quote,
.hljs-selector-pseudo,
.hljs-selector-tag {
  color: var(--text-code-tag);
}
.hljs-subst {
  color: var(--text-code);
}
.hljs-section {
  color: var(--text-code-section);
  font-weight: 700;
}
.hljs-bullet {
  color: var(--text-code-bullet);
}
.hljs-emphasis {
  color: var(--text-code);
  font-style: italic;
}
.hljs-strong {
  color: var(--text-code);
  font-weight: 700;
}
.hljs-link {
  color: var(--text-code-link);
  text-decoration: underline;
}
.hljs-addition {
  background-color: var(--background-code-addition);
  color: var(--text-code-addition);
}
.hljs-deletion {
  background-color: var(--background-code-deletion);
  color: var(--text-code-deletion);
}
.markdown_d285a6 {
  font-size: 16px;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
}
.markdown_d285a6 h1,
.markdown_d285a6 h2,
.markdown_d285a6 h3,
.markdown_d285a6 h4,
.markdown_d285a6 h5,
.markdown_d285a6 h6,
.markdown_d285a6 hr {
  margin: 20px 0 8px;
}
.markdown_d285a6 .blockquote_d285a6,
.markdown_d285a6 ol,
.markdown_d285a6 p,
.markdown_d285a6 pre,
.markdown_d285a6 table,
.markdown_d285a6 ul {
  margin-top: 8px;
}
.markdown_d285a6 :first-child {
  margin-top: 0;
}
.markdown_d285a6 hr,
.markdown_d285a6 p {
  margin-bottom: 0;
}
.markdown_d285a6 strong {
  font-weight: var(--font-weight-semibold);
}
.markdown_d285a6 em {
  font-style: italic;
}
.markdown_d285a6 ol li {
  list-style-type: decimal;
  margin-inline-start: 20px;
}
.markdown_d285a6 ul {
  margin: 0 0 12px;
}
.markdown_d285a6 ul li {
  list-style-type: disc;
  margin-block: 8px 0;
  margin-inline: 20px 0;
}
.markdown_d285a6 ul li:first-child {
  margin-top: 0;
}
.markdown_d285a6 table {
  border-collapse: collapse;
}
.markdown_d285a6 th {
  font-weight: var(--font-weight-semibold);
}
.markdown_d285a6 td,
.markdown_d285a6 th {
  border-inline-end: 1px solid transparent;
  border-inline-start: 1px solid transparent;
  padding: 8px;
  text-align: start;
}
.markdown_d285a6 tr {
  border: 1px solid transparent;
}
.markdown_d285a6 img {
  border-radius: 3px;
}
.markdown_d285a6 .blockquote_d285a6 {
  border-inline-start: 4px solid transparent;
  display: block;
  padding-inline-start: 8px;
}
.markdown_d285a6 .blockquote_d285a6 p {
  margin: 0;
}
.markdown_d285a6 .codeInline_d285a6 {
  padding: 0.2em;
}
.markdown_d285a6 .paragraph_d285a6 {
  margin-bottom: 8px;
}
.theme-dark .markdown_d285a6 {
  color: var(--primary-300);
}
.theme-dark .markdown_d285a6 th {
  background-color: var(--primary-700);
  border-color: var(--primary-500);
  color: var(--white);
}
.theme-dark .markdown_d285a6 td {
  border-color: var(--primary-500);
}
.theme-dark .markdown_d285a6 tr {
  border-color: var(--primary-500);
  color: var(--primary-300);
}
.theme-dark .markdown_d285a6 tr:nth-child(2n) {
  background-color: var(--primary-630);
}
.theme-dark .markdown_d285a6 .blockquote_d285a6 {
  border-inline-start-color: var(--primary-500);
}
.theme-dark .markdown_d285a6 code {
  background-color: var(--primary-630);
}
.theme-dark .markdown_d285a6 .codeInline_d285a6 {
  color: var(--primary-200);
}
.overviewContainer_c4b47c {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.descriptionClamp_c4b47c {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 12;
  overflow: hidden;
}
.descriptionClampSafari_c4b47c {
  max-height: 300px;
}
.detailedDescription_c4b47c {
  color: var(--text-default) !important;
  font-size: 16px;
  line-height: 20px !important;
}
.detailedDescription_c4b47c > div {
  margin-bottom: 24px;
}
.detailedDescription_c4b47c blockquote,
.detailedDescription_c4b47c pre,
.detailedDescription_c4b47c table {
  margin: 24px 0 !important;
}
.detailedDescription_c4b47c blockquote,
.detailedDescription_c4b47c ol,
.detailedDescription_c4b47c ul {
  margin-inline-start: 24px !important;
}
.detailedDescription_c4b47c img {
  max-width: 100%;
}
.showMoreButton_c4b47c {
  cursor: pointer;
  gap: 16px;
  margin: 8px 0;
}
.showMoreButton_c4b47c,
.showMoreContent_c4b47c {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.showMoreContent_c4b47c {
  gap: 8px;
}
.showMoreButtonInner_c4b47c {
  align-items: center;
  display: flex;
  justify-content: center;
}
.showMoreButtonIcon_c4b47c {
  color: var(--text-default);
  height: 18px;
  width: 18px;
}
.divider_c4b47c {
  background: var(--border-strong, hsla(229, 7%, 45%, 0.22));
  flex: 1;
  height: 1px;
}
.container_a51e6d {
  background: var(--background-base-low);
  border-top: 1px solid var(--background-base-lowest);
  color: var(--text-default);
  position: relative;
}
.resizeHandle_a51e6d {
  cursor: ns-resize;
  height: 8px;
  inset-inline-start: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.subPanelContent_a51e6d {
  height: 100%;
  min-height: 0;
  overflow: hidden;
}
[data-accessibility-violation] {
  filter: url(#violation-overlay);
}
.panel__583eb {
  display: flex;
  flex-direction: column;
}
.tableContainer__583eb {
  flex: 1;
  min-height: 0;
}
.subPanel__583eb {
  display: flex;
  flex-direction: column;
}
.subPanelHeaderBar__583eb {
  flex: 0 0 auto;
}
.inspectorContainer__583eb {
  background: var(--background-base-lower);
  flex: 1;
  padding: 8px;
}
.traceContainer__583eb {
  flex: 1;
  padding: 8px;
}
.traceItem__583eb {
  cursor: pointer;
  display: block;
  padding: 4px;
  -webkit-font-smoothing: antialiased;
}
.traceItem__583eb:hover {
  background: var(--interactive-background-hover);
}
.accessibilityOverlays__583eb,
.violationList__583eb {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.accessibilityOverlays__583eb {
  padding: 8px;
}
.list__83c7c {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.container__83c7c {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}
.permission__83c7c {
  display: flex;
}
.check__83c7c {
  color: var(--status-positive);
}
.check__83c7c,
.cross__83c7c {
  flex-shrink: 0;
  margin-inline-end: 8px;
}
.cross__83c7c {
  color: var(--icon-feedback-critical);
}
.sectionContainer_f8758b {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.contentContainer_f8758b {
  background-color: var(--background-base-lower);
  border: 1px solid var(--border-subtle);
  border-radius: 8px;
  padding: 16px;
}
.aboutContainer__17a6d {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.divider__17a6d {
  border-top: 1px solid var(--border-strong);
  margin: 16px 0;
}
.informationContainer__17a6d {
  display: none;
}
@container apps-root-container (max-width: 700px) {
  .informationContainer__17a6d {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
.actionContainer_adfd31 {
  flex-direction: row;
  gap: 8px;
  height: -moz-fit-content;
  height: fit-content;
}
.iconButton_adfd31 {
  box-sizing: border-box;
  height: 38px;
  width: 38px;
}
.iconButton_adfd31.small_adfd31 {
  height: 32px;
  width: 32px;
}
.actionContainer_adfd31.wide_adfd31,
.innerIconButton_adfd31 {
  display: flex;
}
.actionContainer_adfd31.small_adfd31,
.actionContainer_adfd31.tiny_adfd31 {
  display: none;
}
@container apps-root-container (max-width: 700px) {
  .actionContainer_adfd31.wide_adfd31 {
    display: none;
  }
  .actionContainer_adfd31.small_adfd31 {
    display: flex;
  }
  .actionContainer_adfd31.tiny_adfd31 {
    display: none;
  }
}
@container apps-root-container (max-width: 455px) {
  .actionContainer_adfd31.small_adfd31,
  .actionContainer_adfd31.wide_adfd31 {
    display: none;
  }
  .actionContainer_adfd31.tiny_adfd31 {
    display: flex;
  }
}
.avatarContainer_efaad4 {
  position: relative;
}
.avatar_efaad4 {
  -webkit-user-drag: none;
  background: var(--background-gradient-chat, var(--background-base-low));
  border: solid;
  border-color: var(--background-gradient-chat, var(--background-base-low));
  border-radius: var(--radius-xl);
  transform: translateY(-50%);
}
.infoContainer_efaad4 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: space-between;
  padding: 20px 32px 16px;
}
.metadataContainer_efaad4 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-width: 0;
}
.disclosuresContainer_efaad4 {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.disclosuresText_efaad4 {
  white-space: pre;
}
.sectionContainer__5a4b6 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.divider__5a4b6 {
  border-top: 1px solid var(--border-strong);
  margin: 16px 0;
}
.sectionHeader__5a4b6 {
  text-transform: capitalize;
}
.contentContainer__5a4b6 {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}
.appContainer__5a4b6 {
  background-color: var(--background-base-lower);
  border: 1px solid var(--border-subtle);
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
  min-width: 0;
  padding: 16px;
}
.full-motion .appContainer__5a4b6 {
  transition:
    box-shadow 0.2s ease-out,
    transform 0.2s ease-out,
    background 0.2s ease-out;
}
.appContainer__5a4b6:focus,
.appContainer__5a4b6:hover {
  background-color: var(--background-base-lowest);
}
.full-motion .appContainer__5a4b6:focus,
.full-motion .appContainer__5a4b6:hover {
  box-shadow: var(--shadow-border), var(--shadow-high);
  transform: translateY(-1px);
}
.appHeader__5a4b6 {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.avatar__5a4b6 {
  -webkit-user-drag: none;
  border-radius: var(--radius-md);
}
.titleContainer__5a4b6 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-width: 0;
}
.appName__5a4b6 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.appCategory__5a4b6 {
  white-space: pre;
}
.appDescription__5a4b6 {
  min-height: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wrapper_a4e118 {
  align-items: center;
  background-color: var(--background-base-lowest);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: var(--radius-sm);
  box-sizing: border-box;
  display: flex;
  gap: 24px;
  height: 200px;
  overflow: hidden;
  padding: 16px 24px;
  position: relative;
  width: 100%;
}
.wrapper_a4e118:hover .image_a4e118 {
  background-image: var(
    --custom-background-animated,
    var(--custom-background-static)
  );
}
.content_a4e118 {
  align-items: center;
  display: flex;
  gap: 16px;
  max-width: 304px;
  min-width: 260px;
  z-index: 1;
}
@value iconSize: 64px;
.icon_a4e118 {
  border-radius: var(--radius-md);
  flex-shrink: 0;
  overflow: hidden;
}
.icon_a4e118,
.icon_a4e118 img {
  height: 64px;
  width: 64px;
}
.image_a4e118 {
  background-image: var(--custom-background-static);
  border-radius: var(--radius-sm);
  flex: 1;
  height: 100%;
  transition: background-image 0.2s ease;
  z-index: 1;
}
.background_a4e118,
.image_a4e118 {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.background_a4e118 {
  --custom-overlay-color: hsl(var(--primary-730-hsl) / 0.8);
  background-image: linear-gradient(
      var(--custom-overlay-color),
      var(--custom-overlay-color)
    ),
    var(--custom-background-url);
  filter: blur(4px);
  height: 120%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 120%;
}
.theme-light .background_a4e118 {
  --custom-overlay-color: hsl(var(--white-500-hsl) / 0.3);
}
.wrapper__5c108 {
  background-color: var(--card-background-default);
  border: 1px solid var(--border-subtle);
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
}
.cardHeaderImg__5c108 {
  align-items: center;
  background-color: var(--brand-400);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 187px;
  justify-content: center;
  width: 100%;
}
.cardHeaderImg__5c108 img {
  border-radius: 100%;
  box-shadow: 0 0 4px 0 var(--brand-500);
  overflow: hidden;
}
.details__5c108 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px;
}
.description__5c108 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  height: 36px;
  overflow: hidden;
  width: 100%;
}
.cardPrice__5c108 {
  box-sizing: border-box;
}
.cardPrice__5c108,
.footer__5c108 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
.footer__5c108 {
  align-self: stretch;
  border-top: 1px solid var(--border-subtle);
}
.buttonGroup__5c108 {
  align-items: center;
  display: flex;
  gap: 8px;
}
.hoverCard_fdda30 {
  cursor: pointer;
  transition:
    box-shadow,
    transform 0.2s ease;
}
.hoverCard_fdda30:focus-within,
.hoverCard_fdda30:hover {
  box-shadow: var(--shadow-high);
  transform: translateY(-4px);
}
.heading__66230 {
  align-items: center;
  display: flex;
  gap: 10px;
}
.wrapper__29f4e {
  padding: 16px 0;
}
.productsContainer__29f4e,
.wrapper__29f4e {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@value gridSize: 287px;
.productSection__29f4e {
  display: grid;
  gap: 16px;
  grid-template-columns: 287px;
  justify-items: center;
  padding-top: 16px;
}
@media (min-width: 760px) {
  .productSection__29f4e {
    grid-template-columns: 287px 287px;
  }
}
@media (min-width: 1220px) {
  .productSection__29f4e {
    grid-template-columns: 287px 287px 287px;
  }
}
@media (min-width: 1600px) {
  .productSection__29f4e {
    grid-template-columns: 287px 287px 287px 287px;
  }
}
.subscriptionCardSubtext__29f4e {
  align-items: center;
  display: flex;
  gap: 5px;
}
.icon__49777 {
  margin-top: var(--custom-modal-padding-md);
  margin-inline-start: var(--space-8);
}
.storeContainer_c79ea3 {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.header_c79ea3 {
  color: var(--text-strong);
}
.productSection_c79ea3 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.products_c79ea3 {
  display: grid;
  gap: 16px 24px;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
}
.legalContainer_c79ea3 {
  display: flex;
  justify-content: center;
  width: 100%;
}
.detailContainer__871ff {
  min-width: 320px;
  width: 100%;
}
.contentContainer__871ff {
  display: flex;
  flex-direction: row;
  gap: 48px;
  padding: 0 32px;
}
.contentTabsContainer__871ff {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
  min-width: 0;
  padding: 0 0 32px;
}
.contentTabs__871ff {
  flex-direction: row;
  justify-content: space-between;
}
.centerContainer__871ff,
.contentTabs__871ff {
  align-items: center;
  display: flex;
}
.centerContainer__871ff {
  height: 100%;
  justify-content: center;
  min-height: 0;
  width: 100%;
}
.error__871ff {
  padding: 16px 32px;
}
.sidebar__871ff {
  padding-bottom: 32px;
  width: 240px;
}
@container apps-root-container (max-width: 700px) {
  .sidebar__871ff {
    display: none;
  }
}
.content__57f77 {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  min-width: 32px;
}
.loading__57f77 {
  inset-inline: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.textEmoji__57f77 {
  flex-shrink: 0;
  margin-inline-end: 4px;
}
.premium__57f77 {
  transition: width 0.3s;
}
.shopIcon__57f77 {
  align-items: center;
  display: flex;
  margin-inline-end: 4px;
}
.launchIcon__57f77 {
  flex-shrink: 0;
  margin-inline-start: 8px;
}
.hidden__57f77 {
  visibility: hidden;
}
.label__57f77 {
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__83361 {
  border-color: var(--border-subtle);
  margin-bottom: 16px;
  padding: 20px 16px;
}
.iconWrapper__83361 {
  background-color: var(--background-surface-high);
  border-radius: 50%;
  height: 32px;
  margin-inline-end: 8px;
  width: 32px;
}
.tag__83361 {
  margin-inline-start: 4px;
}
.divider__83361 {
  margin: 16px 0;
}
.permissionHeader__83361 {
  margin-bottom: 0;
  margin-top: 24px;
}
.theme-light .rolePills__83361 {
  color: hsl(var(--primary-500-hsl) / 0.8);
}
.theme-dark .rolePills__83361 {
  color: var(--opacity-white-80);
}
.card_ebafdd {
  margin-bottom: 16px;
  padding: 0;
}
.header_ebafdd {
  cursor: pointer;
  padding: 20px 16px;
}
.body_ebafdd {
  padding: 0 16px 24px;
}
.formField_ebafdd {
  flex: 1;
  min-width: 0;
}
.avatarWrapper_ebafdd {
  padding-inline-end: 12px;
}
.avatarUploaderInner_ebafdd {
  height: 100px;
  width: 100px;
}
.topDivider_ebafdd {
  margin-bottom: 24px;
}
.bottomDivider_ebafdd {
  margin: 0;
}
.copyButton_ebafdd {
  margin-inline-end: 16px;
}
.expandIcon_ebafdd {
  color: var(--interactive-text-default);
}
.source_ebafdd {
  align-items: center;
  display: inline-flex;
  margin-bottom: 24px;
  padding-inline-start: -8px;
}
.sourceName_ebafdd {
  color: var(--text-default);
  margin-block: 0;
  margin-inline: 4px 8px;
}
.sourceIcon_ebafdd {
  color: var(--interactive-text-default);
}
.sourceGuildIcon_ebafdd {
  border-radius: 50%;
  height: 24px;
  width: 24px;
}
.guildSource_ebafdd {
  align-items: center;
  color: var(--text-muted);
  display: inline-flex;
  margin: 0 8px;
}
.theme-light .card_ebafdd {
  border-color: var(--background-base-lowest);
}
.theme-dark .card_ebafdd {
  border-color: var(--border-subtle);
}
.card_eafb9c {
  margin-bottom: 16px;
  padding: 0;
}
.pulse_eafb9c {
  animation: pulseBorder_eafb9c 0.8s alternate;
  border-color: transparent;
  border-width: 1px;
}
@keyframes pulseBorder_eafb9c {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: var(--brand-500);
  }
  to {
    border-color: transparent;
  }
}
.header_eafb9c {
  cursor: pointer;
  padding: 20px 16px;
}
.body_eafb9c {
  padding: 0 16px 24px;
}
.avatarWrapper_eafb9c {
  padding-inline-end: 12px;
}
.avatarUploaderInner_eafb9c {
  height: 100px;
  width: 100px;
}
.topDivider_eafb9c {
  margin-bottom: 24px;
}
.bottomDivider_eafb9c {
  margin: 24px 0;
}
.copyButton_eafb9c {
  margin-inline-end: 16px;
}
.expandIcon_eafb9c {
  color: var(--interactive-text-default);
}
.theme-light .card_eafb9c {
  border-color: var(--background-base-lowest);
}
.theme-dark .card_eafb9c {
  border-color: var(--border-subtle);
}
.groupHeader__5df34 {
  margin-bottom: 16px;
  margin-top: 24px;
}
.channelName__5df34 {
  color: var(--text-strong);
}
.header__7fc1d {
  margin-top: 20px;
}
.headerDivider__7fc1d {
  margin: 32px 0;
}
.headerDescription__7fc1d {
  font-size: 14px;
  margin-top: 16px;
}
.section__7fc1d {
  margin-bottom: 32px;
}
.emptyCard__7fc1d {
  border-width: 0;
  padding: 36px 16px;
  text-align: center;
}
.card__24585 {
  margin-bottom: 16px;
  padding: 0;
}
.header__24585 {
  padding: 20px 16px;
}
.expandableHeader__24585 {
  cursor: pointer;
}
.body__24585 {
  padding: 0 16px 16px;
}
.topDivider__24585 {
  margin-bottom: 24px;
}
.midDivider__24585 {
  margin: 24px 0;
}
.bottomDivider__24585 {
  margin: 24px 0 16px;
}
.description__24585 > a {
  color: var(--text-default);
}
.syncedRole__24585 > a {
  color: var(--text-strong);
}
.emoji__24585 {
  color: var(--text-muted);
  margin-block: 8px 0 !important;
  margin-inline: 0 8px !important;
  max-height: 28px !important;
  max-width: 28px !important;
  min-height: 0 !important;
}
.switch__24585 {
  align-self: center;
}
.expandIcon__24585 {
  color: var(--interactive-text-default);
}
.enabledBadge__24585 {
  background-color: var(--green-360);
}
.disableButton__24585 {
  padding-inline: 0;
}
.kickPermissionWarning__24585 {
  margin-top: var(--space-4);
}
.theme-light .card__24585 {
  border-color: var(--background-base-lowest);
}
.theme-dark .card__24585 {
  border-color: var(--border-subtle);
}
.header__9e732 {
  margin-top: 20px;
}
.headerDivider__9e732 {
  margin: 32px 0;
}
.platformIcon__9e732 {
  height: 28px;
  width: 28px;
}
.iconWrapper__9e732 {
  background-color: var(--background-surface-high);
  border-radius: 50%;
  height: 48px;
  width: 48px;
}
.helpText__9e732 {
  margin-top: 16px;
}
.errorText__9e732 {
  margin-bottom: 16px;
}
.headerDivider__59048 {
  margin: 32px 0;
}
.emptyStateImage__59048 {
  height: 145px;
  margin-bottom: 24px;
  margin-top: 32px;
  width: 272px;
}
.emptyStateButton__59048 {
  margin-top: 12px;
}
.sectionHeader__59048 {
  color: var(--text-muted);
  font-weight: var(--font-weight-medium);
  margin-bottom: 16px;
  margin-top: 32px;
}
.channelName__59048 {
  color: var(--text-strong);
}
.card_dc2e44 {
  background-color: var(--card-background-default);
  border-color: var(--border-subtle);
  border-radius: var(--radius-sm);
  margin-bottom: 16px;
  padding: 20px 16px;
}
.caret_dc2e44 {
  color: var(--interactive-text-default);
  margin-inline-start: 8px;
}
.feature_dc2e44 {
  margin-inline-end: 16px;
}
.clickable_dc2e44 {
  cursor: pointer;
}
.headerDivider__774bc {
  margin: 32px 0;
}
.header__774bc {
  align-items: center;
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}
.applicationGroup__774bc {
  display: flex;
  flex-direction: column;
}
.iconwrapper__774bc {
  background-color: unset;
}
.divider__98b95 {
  margin: 32px 0;
}
.sectionHeader__98b95 {
  align-items: center;
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}
.emptyStateWrapper__98b95 {
  align-content: center;
}
.emptyStateImage__98b95 {
  height: 140px;
  margin-bottom: 16px;
}
.emptyStateText__98b95 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}
.emptyStateCard__98b95 {
  padding-bottom: 32px;
  padding-top: 32px;
}
.emptyStateCard__98b95,
.emptyStateSearchCard__98b95 {
  align-items: center;
  border-width: 0;
  display: flex;
  justify-content: center;
  min-height: 128px;
  width: 100%;
}
.emptyStateSearchCard__98b95 {
  padding-top: 24px;
  z-index: 1;
}
.emptyStateSearchImage__98b95 {
  filter: saturate(var(--saturation-factor, 1));
  height: 72px;
  margin-bottom: -24px;
  width: 256px;
  z-index: 100;
}
.footerPlaceholder__98b95 {
  padding-bottom: 228px;
}
.footerImage__98b95 {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 660px 188px;
  bottom: 0;
  height: 188px;
  inset-inline: 0;
  position: absolute;
}
.linkedLobbyIcon__98b95 {
  background-color: unset;
  border-radius: 4px;
}
.platformIcon__98b95 {
  height: 28px;
  width: 28px;
}
.searchContainer__98b95 {
  margin-bottom: 16px;
}
.infoIcon__98b95 {
  color: var(--text-link);
  margin: 10px;
}
.images-light .footerImage__98b95 {
  background-image: url(/assets/9d2bd46b521600c7.svg);
}
.images-dark .footerImage__98b95 {
  background-image: url(/assets/35c8990288849b40.svg);
}
.headerDivider__97dd8 {
  margin: 32px 0;
}
.createButton__97dd8,
.emptyStateImage__97dd8 {
  margin-bottom: 24px;
}
.emptyStateImage__97dd8 {
  height: 145px;
  width: 272px;
}
.emptyStateButton__97dd8 {
  margin-top: 12px;
}
.spinner_befe67 {
  margin-top: 40px;
}
.backButton_befe67 {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 28px;
  margin-block: -4px;
  margin-inline: 0 8px;
}
.backArrow_befe67 {
  color: var(--text-muted);
}
.breadcrumbs_befe67 {
  margin-bottom: 20px;
}
.breadcrumbActive_befe67 {
  color: var(--text-strong);
}
.breadcrumbInactive_befe67 {
  color: var(--text-default);
  cursor: pointer;
}
.breadcrumbInactive_befe67:hover {
  color: var(--text-strong);
}

/*# sourceMappingURL=78432.46bfd4bb2c749e18.css.map*/
