.container_cfc01a {
  flex: 1;
  min-width: 0;
  padding-block: var(--space-4);
}
.selectButton_cfc01a {
  align-items: center;
  border-radius: var(--radius-sm);
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  gap: var(--space-4);
  max-width: 100%;
  min-width: 80px;
  padding-block-end: var(--space-4);
  padding-block-start: var(--space-8);
  padding-inline-end: var(--space-4);
  padding-inline-start: var(--space-8);
  transition: background-color 50ms ease-in;
}
.selectButton_cfc01a:hover {
  background-color: var(--background-mod-subtle);
  transition: background-color 0.15s ease-out;
}
.disabled_cfc01a {
  cursor: not-allowed;
}
.disabled_cfc01a:hover {
  background-color: transparent;
}
.guildIcon_cfc01a {
  border-radius: var(--radius-xs);
  flex-shrink: 0;
}
.selectButtonLabel_cfc01a {
  flex: 1;
  min-width: 0;
}
.selectButtonChevron_cfc01a {
  flex-shrink: 0;
}
.selectButton_cfc01a[aria-expanded="true"] .selectButtonChevron_cfc01a {
  transform: rotate(180deg);
}
.listbox_cfc01a {
  width: 264px;
}
.guildOptionRow_cfc01a {
  color: var(--text-strong);
  flex-grow: 1;
  justify-content: flex-start;
  min-height: var(--select-option-height);
  padding: var(--space-4);
  padding-inline-start: var(--space-8);
}
.guildOptionLeading_cfc01a,
.guildOptionRow_cfc01a {
  align-items: center;
  box-sizing: border-box;
  display: flex;
}
.guildOptionLeading_cfc01a {
  flex-shrink: 0;
  height: 32px;
  justify-content: center;
  margin-inline-start: calc(var(--space-8) * -1);
  padding: var(--space-4);
  width: 32px;
}
.guildOptionText_cfc01a {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 0;
}
.tabButton_b08638 {
  align-items: center;
  background: var(--profile-gradient-modal-background-color);
  border: 1px solid var(--border-normal);
  border-inline-end: none;
  border-radius: var(--radius-md) 0 0 var(--radius-md);
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  height: 36px;
  justify-content: center;
  padding: var(--space-4);
  padding-inline-start: 2px;
  position: relative;
  width: 32px;
}
.tabButton_b08638:before {
  content: "";
  inset: calc(var(--space-16) * -1);
  position: absolute;
}
.panel_b08638 {
  background: var(--modal-background);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.panel_b08638.withGradient_b08638 {
  background-image: radial-gradient(
      100% 100% at 50% 100%,
      var(--modal-background) 80%,
      transparent 100%
    ),
    linear-gradient(
      90deg,
      var(
          --color-scoped-expressive-background-nitro-1-start,
          rgba(179, 38, 156, 0.4)
        )
        0,
      var(
          --color-scoped-expressive-background-nitro-1-end,
          rgba(20, 20, 203, 0.4)
        )
        100%
    );
  background-position: 20% -1px;
  background-repeat: no-repeat;
  background-size: 250% 100%;
}
.panelInner_b08638 {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
.header_b08638 {
  border-bottom: 1px solid var(--border-subtle);
  flex-direction: row-reverse;
  padding-block: var(--space-4);
  padding-inline-end: var(--space-4);
  padding-inline-start: var(--space-8);
}
.collapseButton_b08638,
.header_b08638 {
  align-items: center;
  display: flex;
}
.collapseButton_b08638 {
  color: var(--icon-muted);
  cursor: pointer;
  flex-shrink: 0;
  height: 40px;
  justify-content: center;
  transition: color 50ms ease-in;
  width: 40px;
}
.collapseButton_b08638:focus-visible,
.collapseButton_b08638:hover {
  color: var(--icon-strong);
  transition: color 0.15s ease-out;
}
.guildProfileUpsell_b08638 {
  display: flex;
  flex-direction: column;
  gap: var(--space-12);
}
.guildProfileUpsellContent_b08638 {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}
.lockDivider_b08638 {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-block-end: calc(var(--space-12) * -1);
  margin-block-start: var(--space-12);
  margin-inline: calc(var(--space-16) * -1);
  position: relative;
}
.lockDivider_b08638:before {
  background: var(--border-normal);
  content: "";
  height: 1px;
  inset-block-start: 50%;
  inset-inline: 0;
  position: absolute;
}
.lockDividerCircle_b08638 {
  align-items: center;
  background: var(--background-surface-highest);
  border: 1px solid var(--border-normal);
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  height: 28px;
  justify-content: center;
  position: relative;
  width: 28px;
  z-index: 1;
}
.scroller_b08638 {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--space-24);
  padding: var(--space-16);
  z-index: 0;
}
.scroller_b08638.withUpsellSafePadding_b08638 {
  padding-block-end: calc(86px + var(--space-16) + var(--space-8));
}
.group_b08638 {
  display: grid;
  gap: var(--space-8);
  grid-template-columns: 1fr 1fr;
}
.groupLabel_b08638 {
  grid-column: 1/-1;
}
.groupLabelHeading_b08638 {
  display: inline;
}
.groupLabelIcon_b08638 {
  display: inline-flex;
  margin-inline-start: var(--space-4);
  vertical-align: middle;
}
.perServerNotice_b08638 {
  background: var(--background-feedback-info);
  border: 1px solid var(--icon-feedback-info);
  border-radius: var(--radius-sm);
  display: flex;
  padding: var(--space-8);
}
.perServerNoticeDismissButton_b08638 {
  align-items: center;
  align-self: flex-start;
  color: var(--icon-subtle);
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  height: 24px;
  justify-content: center;
  margin-block-start: -2px;
  margin-inline-end: -2px;
  margin-inline-start: auto;
  transition: color 50ms ease-in;
  width: 24px;
}
.perServerNoticeDismissButton_b08638:hover {
  color: var(--icon-strong);
  transition: color 0.15s ease-out;
}
.keyboardModeNotice_b08638 {
  display: none;
}
.keyboard-mode .keyboardModeNotice_b08638 {
  display: block;
}
.keyboardModeNoticeIcon_b08638 {
  display: inline-flex;
  margin-inline: 2px;
  vertical-align: middle;
}
.floatingUpsellContainer_b08638 {
  bottom: 0;
  inset-inline: 0;
  padding: var(--space-8);
  padding-block-start: var(--space-16);
  position: absolute;
  z-index: 0;
}
.floatingUpsellContainer_b08638:before {
  background: linear-gradient(
    to bottom,
    transparent,
    var(--modal-background) 80%
  );
  content: "";
  inset: 0;
  position: absolute;
  z-index: -1;
}
.theme-dark .floatingUpsellContainer_b08638:after {
  background: linear-gradient(
    to bottom,
    transparent,
    var(--background-base-lowest)
  );
  content: "";
  inset: 0;
  position: absolute;
  z-index: -1;
}
.positioner_a516b9 {
  bottom: 0;
  inset-inline: 0;
  position: fixed;
  text-align: center;
  z-index: 1000;
}
.container_a516b9 {
  align-items: center;
  background-color: var(--background-surface-high);
  border-radius: 8px;
  box-shadow: var(--shadow-border), var(--shadow-high);
  display: inline-flex;
  justify-content: center;
  margin: auto auto 16px;
  max-width: 90vw;
  padding: 16px;
}
.bindName_a516b9 {
  flex: 0 0 auto;
  margin-inline-end: 8px;
}
.shortcut_a516b9 {
  flex: 0 0 auto;
  margin: 0 2px;
}
.separator_a516b9 {
  color: var(--text-default);
  flex: 0 0 auto;
  font-weight: var(--font-weight-semibold);
  margin: 0 12px;
}
.separator_a516b9:after {
  content: "•";
}
.content__43fa9 {
  align-items: center;
  background-color: var(--background-surface-highest);
  border: 1px solid var(--border-subtle);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-high);
  box-sizing: border-box;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  max-width: 100%;
  overflow: hidden;
  padding: 12px 16px;
  position: relative;
  transition-duration: 0.2s;
  transition-property: color, border-color;
  transition-timing-function: ease;
  width: 500px;
}
.content__43fa9:before {
  background-color: transparent;
  content: "";
  inset: 0;
  position: absolute;
  transition: background-color 0.2s ease;
}
.content__43fa9.emphasized__43fa9 {
  border-color: var(--border-feedback-critical);
  color: var(--text-feedback-critical);
}
.content__43fa9.emphasized__43fa9:before {
  background-color: var(--background-feedback-critical);
}
.message__43fa9 {
  flex: 1;
  overflow: hidden;
}
.actions__43fa9 {
  display: flex;
  flex-shrink: 0;
  gap: 8px;
}
.container__9fc7d {
  display: flex;
}
.dndKeyboardHelpBar__9fc7d {
  inset: auto !important;
  position: static !important;
}
.dndKeyboardHelpBar__9fc7d > div {
  margin-bottom: 0;
}

/*# sourceMappingURL=81699.b24d8742f50c2e8a.css.map*/
