.full-motion .transition__5fbe9 {
  transition: transform 0.2s ease;
}
.directionDown__5fbe9 {
  transform: rotate3d(0, 0, -1, 0deg);
}
.directionRight__5fbe9 {
  transform: rotate3d(0, 0, -1, 90deg);
}
.directionLeft__5fbe9 {
  transform: rotate3d(0, 0, -1, -90deg);
}
.directionUp__5fbe9 {
  transform: rotate3d(0, 0, -1, 180deg);
}
.controlIcon_f1ceac {
  color: var(--interactive-text-default);
  display: flex;
  height: 24px;
  width: 24px;
}
.controlIcon_f1ceac.active_f1ceac,
.controlIcon_f1ceac:hover {
  color: var(--interactive-text-active);
}
.controlIcon_f1ceac.themeable_f1ceac {
  color: var(--interactive-text-default);
}
.controlIcon_f1ceac.themeable_f1ceac.active_f1ceac,
.controlIcon_f1ceac.themeable_f1ceac:hover {
  color: var(--interactive-text-active);
}
.centerIcon_f1ceac {
  color: var(--interactive-text-default);
  display: flex;
  height: 20px;
  width: 20px;
}
.centerIcon_f1ceac.active_f1ceac,
.centerIcon_f1ceac:hover {
  color: var(--interactive-text-active);
}
.centerIcon_f1ceac.themeable_f1ceac {
  color: var(--interactive-text-default);
}
.centerIcon_f1ceac.themeable_f1ceac.active_f1ceac,
.centerIcon_f1ceac.themeable_f1ceac:hover {
  color: var(--interactive-text-active);
}
.colorable_f1ceac {
  transition:
    background-color 50ms ease-in,
    color 50ms ease-in,
    border-color 50ms ease-in,
    opacity 50ms ease-in;
}
.colorable_f1ceac:hover {
  transition:
    background-color 0.15s ease-out,
    color 0.15s ease-out,
    border-color 0.15s ease-out,
    opacity 0.15s ease-out;
}
.colorable_f1ceac.red_f1ceac,
.colorable_f1ceac.red_f1ceac .centerIcon_f1ceac {
  color: var(--red-400);
}
.colorable_f1ceac.red_f1ceac.active_f1ceac,
.colorable_f1ceac.red_f1ceac:hover {
  background: hsla(0, 0%, 100%, 0.1);
}
.colorable_f1ceac.disconnect_f1ceac {
  background: var(--control-critical-primary-background-default);
  transition: background 0.15s ease-in-out;
}
.colorable_f1ceac.disconnect_f1ceac,
.colorable_f1ceac.disconnect_f1ceac .centerIcon_f1ceac {
  color: var(--control-critical-primary-text-default);
}
.colorable_f1ceac.disconnect_f1ceac:hover {
  background: var(--control-critical-primary-background-hover);
}
.colorable_f1ceac.disconnect_f1ceac:active {
  background: var(--control-critical-primary-background-active);
}
.colorable_f1ceac.redGlow_f1ceac {
  background: var(--opacity-red-12);
}
.colorable_f1ceac.redGlow_f1ceac,
.colorable_f1ceac.redGlow_f1ceac .centerIcon_f1ceac {
  color: var(--red-400);
}
.colorable_f1ceac.redGlow_f1ceac:active {
  background: var(--opacity-red-24);
}
.colorable_f1ceac.redGlow_f1ceac.popoutOpen_f1ceac,
.colorable_f1ceac.redGlow_f1ceac:hover {
  background: var(--opacity-red-16);
}
.colorable_f1ceac.primaryLight_f1ceac {
  background: var(--primary-130);
}
.colorable_f1ceac.primaryLight_f1ceac,
.colorable_f1ceac.primaryLight_f1ceac .centerIcon_f1ceac {
  color: var(--primary-860);
}
.colorable_f1ceac.primaryLight_f1ceac.active_f1ceac,
.colorable_f1ceac.primaryLight_f1ceac:hover {
  background: var(--primary-230);
}
.colorable_f1ceac.white_f1ceac {
  background: var(--white);
}
.colorable_f1ceac.white_f1ceac,
.colorable_f1ceac.white_f1ceac .centerIcon_f1ceac {
  color: var(--primary-860);
}
.colorable_f1ceac.white_f1ceac.active_f1ceac,
.colorable_f1ceac.white_f1ceac:hover {
  background: var(--primary-130);
}
.colorable_f1ceac.green_f1ceac {
  background: var(--green-360);
}
.colorable_f1ceac.green_f1ceac,
.colorable_f1ceac.green_f1ceac .centerIcon_f1ceac {
  color: var(--white);
}
.colorable_f1ceac.green_f1ceac.active_f1ceac,
.colorable_f1ceac.green_f1ceac:hover,
.colorable_f1ceac.join_f1ceac {
  background: var(--green-360);
}
.colorable_f1ceac.join_f1ceac,
.colorable_f1ceac.join_f1ceac .centerIcon_f1ceac {
  color: var(--white);
}
.colorable_f1ceac.join_f1ceac.active_f1ceac,
.colorable_f1ceac.join_f1ceac:hover {
  background: var(--green-360);
}
.colorable_f1ceac.greenGlow_f1ceac {
  background: var(--opacity-green-12);
}
.colorable_f1ceac.greenGlow_f1ceac,
.colorable_f1ceac.greenGlow_f1ceac .centerIcon_f1ceac {
  color: var(--green-300);
}
.colorable_f1ceac.greenGlow_f1ceac:active {
  background: var(--opacity-green-36);
}
.colorable_f1ceac.greenGlow_f1ceac.popoutOpen_f1ceac,
.colorable_f1ceac.greenGlow_f1ceac:hover {
  background: var(--opacity-green-24);
}
.colorable_f1ceac.premiumGradient_f1ceac {
  background: linear-gradient(
    to right,
    var(--premium-tier-2-purple-for-gradients),
    var(--premium-tier-2-purple-for-gradients-2),
    var(--premium-tier-2-pink-for-gradients)
  );
}
.colorable_f1ceac.premiumGradient_f1ceac,
.colorable_f1ceac.premiumGradient_f1ceac .centerIcon_f1ceac {
  color: var(--white);
}
.colorable_f1ceac.yellow_f1ceac {
  background: var(--yellow-400);
}
.colorable_f1ceac.yellow_f1ceac,
.colorable_f1ceac.yellow_f1ceac .centerIcon_f1ceac {
  color: var(--white);
}
.colorable_f1ceac.yellow_f1ceac.active_f1ceac,
.colorable_f1ceac.yellow_f1ceac:hover {
  background: var(--yellow-530);
}
.colorable_f1ceac.primaryDark_f1ceac,
.colorable_f1ceac.primaryDark_f1ceac .centerIcon_f1ceac {
  color: var(--white);
}
.colorable_f1ceac.primaryDark_f1ceac.active_f1ceac:not(.disabled_f1ceac),
.colorable_f1ceac.primaryDark_f1ceac:hover:not(.disabled_f1ceac) {
  background: hsla(0, 0%, 100%, 0.1);
}
.colorable_f1ceac.activeLight_f1ceac {
  background: var(--white);
}
.colorable_f1ceac.activeLight_f1ceac,
.colorable_f1ceac.activeLight_f1ceac .centerIcon_f1ceac {
  color: var(--primary-860);
}
.colorable_f1ceac.activeLight_f1ceac.active_f1ceac:not(.disabled_f1ceac),
.colorable_f1ceac.activeLight_f1ceac:hover:not(.disabled_f1ceac) {
  background: var(--primary-230);
}
.buttonInnerWithText_f1ceac {
  align-items: center;
  display: flex;
  gap: 4px;
}
.centerButton_f1ceac {
  border-radius: 8px;
  padding: 10px;
  position: static;
  transition:
    background 0.15s ease-in-out,
    color 0.15s ease-in-out;
}
.centerButton_f1ceac .centerIcon_f1ceac {
  transition: color 0.15s ease-in-out;
}
.attachedButton_f1ceac {
  border-radius: 8px 0 0 8px;
}
.fullRegionButton_f1ceac,
.fullRegionDropdownButton_f1ceac {
  border: 1px solid var(--border-muted);
  border-radius: 12px;
}
.fullRegionDropdownButton_f1ceac {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 4px;
}
.fullRegionDropdownButton_f1ceac.green_f1ceac,
.fullRegionDropdownButton_f1ceac.join_f1ceac {
  background-color: var(--green-360);
}
.fullRegionDropdownButton_f1ceac.disconnect_f1ceac {
  background-color: var(--control-critical-primary-background-default);
}
.fullRegionIcon_f1ceac {
  padding: 4px 12px;
}
.buttonPremiumGlow_f1ceac {
  filter: drop-shadow(0 0 12px #a944b0) drop-shadow(0 0 12px #a944b0);
}
@media (max-width: 456px) {
  .centerButton_f1ceac {
    padding: 8px;
  }
  .contextMenuContainer_f1ceac {
    display: none;
  }
}
@media (min-width: 457px) {
  .unmasked_f1ceac {
    display: none;
  }
}
.lineHeightReset_f1ceac {
  line-height: 0;
}
.contextMenuContainer_f1ceac {
  position: relative;
}
.attachedCaretButtonContainer_f1ceac {
  align-items: center;
  direction: row;
  display: flex;
}
.attachedCaretButtonContainer_f1ceac.popoutOpen_f1ceac .primaryDark_f1ceac,
.attachedCaretButtonContainer_f1ceac:hover .primaryDark_f1ceac {
  background-color: var(--background-mod-muted);
}
.attachedCaretButtonContainer_f1ceac.disabled_f1ceac {
  background-color: transparent !important;
  color: var(--text-muted) !important;
  cursor: not-allowed !important;
  pointer-events: none;
}
.attachedCaretButtonContainer_f1ceac.disabled_f1ceac:hover {
  background-color: transparent !important;
}
.contextMenuNub_f1ceac {
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  height: 20px;
  justify-content: center;
  padding: 10px 2px;
  transition:
    background 0.15s ease-in-out,
    color 0.15s ease-in-out;
  width: 20px;
}
.contextMenuNub_f1ceac.disabled_f1ceac {
  cursor: not-allowed;
}
.contextMenuNub_f1ceac.attachedCaret_f1ceac {
  border-radius: 0 8px 8px 0;
  margin-inline-start: 1px;
  padding: 10px 0;
}
.contextMenuCaret_f1ceac {
  cursor: pointer;
  height: 16px;
  transition: none;
  width: 16px;
}
.contextMenuCaret_f1ceac.disabled_f1ceac {
  color: var(--interactive-text-default) !important;
  cursor: not-allowed;
}
.contextMenuCaret_f1ceac.open_f1ceac {
  transform: rotateX(180deg);
}
.enable-forced-colors .contextMenuNub_f1ceac,
.enable-forced-colors .contextMenuNub_f1ceac:hover {
  background-color: ButtonFace;
  border: 1px solid Canvas;
  color: ButtonText;
}
.enable-forced-colors .contextMenuNub_f1ceac.active_f1ceac {
  background-color: HighlightText;
  border-color: Highlight;
  color: Highlight;
}
.buttonMask_f1ceac {
  height: inherit;
  width: inherit;
}
.glow_f1ceac {
  height: 190%;
  inset-inline-start: 50%;
  opacity: 1;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 190%;
}
.glow_f1ceac,
.glowVideo_f1ceac {
  pointer-events: none;
}
.glowVideo_f1ceac {
  height: 100%;
  -o-object-fit: fill;
  object-fit: fill;
  width: 100%;
}

/*# sourceMappingURL=82489.c52a75e20c78f4e3.css.map*/
