.container_e0cd4a {
  background-color: var(--card-background-default);
  border: 1px solid var(--border-muted);
  border-radius: var(--radius-lg);
  box-sizing: border-box;
  display: flex;
  filter: saturate(var(--saturation-factor, 1));
  justify-content: space-between;
  max-width: var(--custom-premium-home-max-width);
  overflow: hidden;
  padding: var(--space-12);
  position: relative;
  width: 100%;
}
.bannerImage_e0cd4a {
  height: 300px;
  padding: var(--space-64);
  z-index: -1;
}
.textContainer_e0cd4a {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--space-24);
}
.heading_e0cd4a {
  margin-bottom: var(--space-12);
}
.giftButtonContainer_e0cd4a {
  margin-top: var(--space-24);
}
.gradientBackground_e0cd4a:before {
  opacity: 0.3;
}
@container premium-marketing-page-container (max-width: 960px) {
  .container_e0cd4a {
    align-items: center;
    flex-direction: column;
  }
  .textContainer_e0cd4a {
    align-items: center;
    text-align: center;
  }
  .bannerImage_e0cd4a {
    max-height: 200px;
    max-width: 80%;
    -o-object-fit: contain;
    object-fit: contain;
    order: -1;
    padding: var(--space-8);
  }
}
.wrapper__99304 {
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  background: linear-gradient(
    90deg,
    rgba(155, 29, 165, 0.34),
    rgba(30, 35, 83, 0.34) 120%
  );
  border: 1px solid var(--border-normal);
  border-radius: var(--radius-xl);
  padding: var(--space-8) var(--space-12);
  text-transform: capitalize;
  width: -moz-max-content;
  width: max-content;
}
.container__7137c {
  background: var(--background-surface-high);
  border: 1px solid var(--border-muted);
  border-radius: 20px;
  flex-direction: row;
  gap: 24px;
  margin-top: 40px;
  max-width: 700px;
  padding: 16px 24px;
}
.asset__7137c,
.container__7137c {
  align-items: center;
  display: flex;
}
.asset__7137c {
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
}
.assetImage__7137c {
  border-radius: var(--radius-sm);
  height: 96px;
  width: 96px;
}
.bannerContent__7137c {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2px;
  justify-content: flex;
  min-height: 62px;
}
.bannerDescription__7137c {
  align-items: flex-start;
  text-align: start;
}
.buttonContainer__7137c {
  margin-inline-start: 32px;
}
@media (max-width: 900px) {
  .container__7137c {
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .asset__7137c {
    width: 100%;
  }
  .assetImage__7137c {
    height: auto;
    width: 100%;
  }
  .bannerContent__7137c {
    align-items: center;
    text-align: center;
  }
  .bannerDescription__7137c {
    justify-content: center;
    text-align: center;
  }
  .buttonContainer__7137c {
    margin-inline-start: 0;
  }
  .termsApplyAnchor__7137c {
    color: var(--text-link);
    margin-inline-start: 2px;
    text-decoration: underline;
    text-underline-offset: 2px;
  }
  .termsApplyAnchor__7137c:hover {
    text-decoration: none;
  }
}
.freeTrialText__1995d {
  text-transform: capitalize;
}
.applicationHomeBanner__62eb1 {
  flex-direction: row;
  height: 226px;
  margin: 24px 16px;
  max-width: 1052px;
  position: relative;
}
.applicationHomeBanner__62eb1,
.settingsBanner__62eb1 {
  border-radius: var(--radius-lg);
  display: flex;
}
.settingsBanner__62eb1 {
  background: var(--background-mod-normal);
  box-sizing: border-box;
  flex: 1;
  height: 171px;
  margin-bottom: 24px;
  max-width: 820px;
  overflow: hidden;
  width: 100%;
}
.settingsImageContainer__62eb1 {
  display: flex;
  height: auto;
  width: auto;
}
.settingsBannerLeftImageContainer__62eb1 {
  max-width: 130px;
}
.settingsBannerRightImageContainer__62eb1 {
  max-width: 81px;
}
.bannerBoxOutlinePosition__62eb1 {
  height: 226px;
  position: absolute;
  top: -2px;
  width: 100%;
}
.backgroundGradient__62eb1 {
  background: linear-gradient(90deg, #db00a4, #5968f0);
  border-radius: var(--radius-lg);
  height: 100%;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  padding: 2px;
  width: calc(100% - 2px);
}
.imageContainer__62eb1 {
  border-radius: 0 16px 16px 0;
  display: flex;
  flex: 518 1 0%;
  order: 0;
  position: relative;
}
.settingsImage__62eb1 {
  overflow: hidden;
  width: auto;
}
.applicationHomeImage__62eb1,
.settingsImage__62eb1 {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.applicationHomeImage__62eb1 {
  border-radius: 0 14px 14px 0;
  -o-object-position: left center;
  object-position: left center;
  width: 100%;
}
.bannerContent__62eb1 {
  flex: 436 1 0%;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 25px;
}
.bannerContent__62eb1,
.settingsBannerContent__62eb1 {
  display: flex;
  position: relative;
  width: 100%;
}
.settingsBannerContent__62eb1 {
  flex: 405 1 0%;
  flex-direction: column;
  gap: 8px;
  min-width: 300px;
  padding: 25px;
}
@container premium-marketing-page-container (max-width: 960px) {
  .bannerHeader__62eb1 {
    font-size: 32px;
    font-weight: 800;
  }
  .bannerHeader__62eb1,
  .bannerText__62eb1 {
    font-style: normal;
    line-height: 1.25;
  }
  .bannerText__62eb1 {
    font-size: 16px;
    font-weight: 500;
  }
}
@container premium-marketing-page-container (max-width: 960px) and (min-width: 720px) {
  .bannerHeader__62eb1 {
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px;
  }
  .bannerText__62eb1 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2857142857142858;
  }
}
@container premium-marketing-page-container (max-width: 720px) {
  .bannerHeader__62eb1 {
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px;
  }
  .bannerText__62eb1 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2857142857142858;
  }
  .bannerContent__62eb1 {
    padding: 16px;
  }
}
.subscribeButton__62eb1 {
  margin-top: 8px;
  min-width: 110px;
  width: -moz-fit-content;
  width: fit-content;
}
.subscribeButtonText__62eb1 {
  max-width: unset;
}
.premiumTrialBadge__62eb1 {
  align-items: center;
  border-radius: var(--radius-md);
  display: flex;
  inset-inline-start: 24px;
  margin-inline-start: auto;
  padding: 0 6px;
  pointer-events: all;
  position: absolute;
  text-transform: uppercase;
  top: -8px;
}
.badgeGradient__62eb1 {
  background: linear-gradient(90deg, #db00a4, #5968f0);
}
.buttonGradient__62eb1 {
  background: var(--custom-premium-colors-premium-gradient-tier-2-tri-color);
  color: var(--white) !important;
}
.subBanner__62eb1 {
  align-items: center;
  background: var(--background-surface-high);
  border-radius: var(--radius-lg);
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: center;
  margin: auto auto 40px;
  padding: 16px 24px;
  position: relative;
  width: 620px;
}
.subHomeBannerImageContainer__62eb1 {
  display: flex;
  height: auto;
  max-width: 96px;
  width: auto;
}
.subBannerContent__62eb1 {
  align-items: flex-start;
  display: flex;
  flex: 405 1 0%;
  flex-direction: column;
  gap: 8px;
  min-width: 300px;
  padding: 25px;
  position: relative;
  text-align: start;
  width: 100%;
}

/*# sourceMappingURL=82936.90fcb2942752904b.css.map*/
