.iframe__8c55d {
  height: 100%;
  min-height: 2px;
  min-width: 2px;
  width: 100%;
}
.hljs-ansi-control-sequence {
  display: none;
}
.hljs-ansi-style-bold {
  font-weight: var(--font-weight-bold);
}
.hljs-ansi-style-underline {
  text-decoration: underline;
}
.hljs-ansi-foreground-black {
  color: var(--ansi-black);
}
.hljs-ansi-foreground-red {
  color: var(--ansi-red);
}
.hljs-ansi-foreground-green {
  color: var(--ansi-green);
}
.hljs-ansi-foreground-yellow {
  color: var(--ansi-yellow);
}
.hljs-ansi-foreground-blue {
  color: var(--ansi-blue);
}
.hljs-ansi-foreground-magenta {
  color: var(--ansi-magenta);
}
.hljs-ansi-foreground-cyan {
  color: var(--ansi-cyan);
}
.hljs-ansi-foreground-white {
  color: var(--ansi-white);
}
.hljs-ansi-background-black {
  background-color: var(--ansi-black);
}
.hljs-ansi-background-red {
  background-color: var(--ansi-red);
}
.hljs-ansi-background-green {
  background-color: var(--ansi-green);
}
.hljs-ansi-background-yellow {
  background-color: var(--ansi-yellow);
}
.hljs-ansi-background-blue {
  background-color: var(--ansi-blue);
}
.hljs-ansi-background-magenta {
  background-color: var(--ansi-magenta);
}
.hljs-ansi-background-cyan {
  background-color: var(--ansi-cyan);
}
.hljs-ansi-background-white {
  background-color: var(--ansi-white);
}
@use postcss-pxtorem;
.markup__75297 {
  font-size: 1rem;
  line-height: var(--chat-markup-line-height);
  white-space: break-spaces;
  word-wrap: break-word;
  color: var(--text-default);
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
}
.markup__75297 a {
  color: var(--text-link);
  cursor: pointer;
  -webkit-text-decoration: var(--link-decoration);
  text-decoration: var(--link-decoration);
  word-break: break-word;
}
.markup__75297 a:hover {
  text-decoration: underline;
}
.markup__75297 strong {
  font-weight: var(--font-weight-bold);
}
.markup__75297 em {
  font-style: italic;
}
.markup__75297 pre {
  background-clip: border-box;
  border-radius: 4px;
  font-family: var(--font-code);
  font-size: 0.75rem;
  line-height: 1rem;
  margin-top: 6px;
  padding: 0;
  white-space: pre-wrap;
}
.markup__75297 blockquote,
.markup__75297 pre {
  box-sizing: border-box;
  max-width: 90%;
}
.markup__75297 blockquote {
  color: var(--text-subtle);
  text-indent: 0;
}
.markup__75297 blockquote pre {
  max-width: 100%;
}
.markup__75297 small:not(.inlineFormat__75297) {
  color: var(--text-subtle);
  display: block;
  font-size: 0.875rem;
  line-height: 1.20313rem;
}
.markup__75297 small.inlineFormat__75297:after {
  content: " ";
}
.markup__75297 code {
  background: var(--background-code);
  border: 1px solid var(--border-normal);
  font-size: 0.875rem;
  line-height: 1.125rem;
  text-indent: 0;
  white-space: pre-wrap;
}
.markup__75297 .no-webkit-scrollbar code {
  scrollbar-color: var(--background-base-lowest) var(--background-base-lower);
  scrollbar-width: thin;
}
.markup__75297 code.inline {
  border-radius: 4px;
  font-family: var(--font-code);
  font-size: 85%;
  height: auto;
  margin: -0.2em 0;
  padding: 0 0.2em;
  text-indent: 0;
  white-space: pre-wrap;
  width: auto;
}
.markup__75297 .codeContainer__75297 {
  max-width: 50vw;
  position: relative;
}
.markup__75297 .codeActions__75297 {
  display: none;
  inset-inline-end: 4px;
  position: absolute;
  top: 8px;
}
.markup__75297 .codeContainer__75297:hover .codeActions__75297 {
  display: block;
}
.markup__75297 .inlineFormat__75297 li,
.markup__75297.inlineFormat__75297 li {
  display: inline;
  margin: 0;
  padding-inline-end: 8px;
}
.markup__75297 .inlineFormat__75297 li:before,
.markup__75297.inlineFormat__75297 li:before {
  content: "•";
  padding-inline-end: 4px;
}
.markup__75297 .inlineFormat__75297 li li:before,
.markup__75297.inlineFormat__75297 li li:before {
  content: "○";
  font-size: 0.625rem;
  line-height: 1rem;
  padding: 0 4px 4px;
}
.markup__75297 ol.inlineFormat__75297 {
  counter-reset: inline-ol-counter;
}
.markup__75297 ol.inlineFormat__75297 > li {
  counter-increment: inline-ol-counter;
}
.markup__75297 ol.inlineFormat__75297 > li:before {
  content: counter(inline-ol-counter) ".";
}
.markup__75297 li {
  margin-bottom: 4px;
  white-space: break-spaces;
}
.markup__75297 ol,
.markup__75297 ul {
  list-style-position: outside;
  margin-block: 4px 0;
  margin-inline: 16px 0;
}
.markup__75297 ol.inlineFormat__75297,
.markup__75297 ul.inlineFormat__75297 {
  display: inline;
  margin: 0;
  padding-block: 0;
  padding-inline: 0 8px;
}
.markup__75297 ul {
  list-style-type: disc;
}
.markup__75297 ol {
  list-style-type: decimal;
  margin-inline-start: calc(0.4em + var(--totalCharacters) * 0.6em);
}
.markup__75297 ol ul,
.markup__75297 ul ul {
  list-style-type: circle;
  margin-bottom: 0;
}
.markup__75297 ol ol,
.markup__75297 ul ol {
  margin-bottom: 0;
}
.markup__75297 h1,
.markup__75297 h2,
.markup__75297 h3,
.markup__75297 h4,
.markup__75297 h5,
.markup__75297 h6 {
  color: var(--text-strong);
  font-family: var(--font-display);
  font-weight: var(--font-weight-bold);
  line-height: 1.375em;
  margin: 16px 0 4px;
}
.markup__75297 h1.inlineFormat__75297,
.markup__75297 h2.inlineFormat__75297,
.markup__75297 h3.inlineFormat__75297,
.markup__75297 h4.inlineFormat__75297,
.markup__75297 h5.inlineFormat__75297,
.markup__75297 h6.inlineFormat__75297 {
  color: inherit;
  display: inline;
  font-size: inherit;
  font-weight: var(--font-weight-semibold);
  line-height: 1.25em;
  margin: 0 !important;
  padding-inline-end: 16px;
  white-space: normal;
}
.markup__75297 h1 {
  font-size: 1.5rem;
  margin: 16px 0 8px;
}
.markup__75297 h2 {
  font-size: 1.25rem;
  margin: 16px 0 8px;
}
.markup__75297 h3 {
  font-size: 1rem;
  margin: 16px 0 8px;
}
.markup__75297 h1:first-child,
.markup__75297 h2:first-child {
  margin-top: 8px;
}
.markup__75297 h3:first-child,
.markup__75297 h4:first-child,
.markup__75297 h5:first-child,
.markup__75297 h6:first-child {
  margin-top: 4px;
}
.custom-theme-background .markup__75297 code {
  background: color-mix(in oklab, var(--background-code) 95%, var(--white));
}
@media (-webkit-max-device-pixel-ratio: 1) {
  .theme-light .markup__75297 {
    font-weight: var(--font-weight-medium);
  }
}
.blockquoteContainer__75297 {
  display: flex;
  margin-bottom: var(--space-4);
  margin-top: var(--space-4);
}
.blockquoteContainer__75297 .blockquoteDivider__75297 {
  border-radius: 4px;
  min-width: 4px;
  width: 4px;
}
.blockquoteContainer__75297 blockquote {
  box-sizing: border-box;
  padding-block: 0;
  padding-inline: 12px 8px;
  text-indent: 0;
}
.blockquoteDivider__75297 {
  background-color: var(--spine-default);
}
.slateBlockquoteContainer__75297 {
  margin-bottom: 0;
  margin-top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.slateBlockquoteContainer__75297 .blockquoteDivider__75297,
.slateBlockquoteContainer__75297 blockquote {
  border-radius: 0;
  margin: 0;
}
.slateBlockquoteContainer__75297 blockquote {
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
}
.background-opacity-low .markup__75297,
.background-opacity-medium .markup__75297 {
  font-weight: var(--font-weight-normal);
}
.background-opacity-low .markup__75297 {
  color: var(--white);
  text-shadow:
    0 0 1px var(--primary-700),
    1px 1px 0 var(--primary-700);
}
.background-opacity-low .markup__75297 a {
  color: var(--text-link);
  text-shadow:
    0 0 1px hsl(var(--primary-700-hsl) / 0.7),
    1px 1px 0 hsl(var(--primary-700-hsl) / 0.7);
}
.background-opacity-medium .markup__75297 {
  color: var(--primary-100);
  text-shadow:
    0 0 1px var(--primary-600),
    1px 1px 0 var(--primary-600);
}
.background-opacity-medium .markup__75297 a {
  color: var(--text-link);
  text-shadow:
    0 0 1px hsl(var(--primary-700-hsl) / 0.8),
    1px 1px 0 hsl(var(--primary-700-hsl) / 0.8);
}
.background-opacity-high .markup__75297 {
  color: var(--primary-100);
  text-shadow:
    0 0 1px var(--primary-600),
    1px 1px 0 var(--primary-600);
}
.background-opacity-low pre,
.background-opacity-medium pre {
  border-color: hsl(var(--primary-500-hsl) / 0.2);
}
.background-opacity-high pre,
.background-opacity-low pre,
.background-opacity-medium pre {
  background: hsl(var(--primary-630-hsl) / 0.3);
  border-color: hsl(var(--primary-700-hsl) / 0.1);
}
.background-opacity-high code,
.background-opacity-low code,
.background-opacity-medium code {
  background-color: transparent;
}
.background-opacity-high code.inline,
.background-opacity-low code.inline,
.background-opacity-medium code.inline {
  background-color: hsl(var(--primary-630-hsl) / 0.3);
}
.background-opacity-high .mention,
.background-opacity-low .mention,
.background-opacity-medium .mention {
  text-shadow:
    0 1px 1px var(--brand-600),
    0 1px 0 var(--brand-600);
}
.overlay-unlocked code,
.overlay-unlocked code.inline {
  background: var(--background-base-lower);
  border-color: var(--background-base-lowest);
}
.roleMention__75297 {
  filter: saturate(var(--saturation-factor, 1));
  font-weight: var(--font-weight-medium);
}
.rolePopout__75297 {
  background-color: var(--background-surface-higher);
  border: 1px solid var(--border-subtle);
  border-radius: 8px;
  box-shadow: var(--shadow-high);
  display: flex;
  max-height: calc(100vh - 20px);
  width: 240px;
}
.roleHeader__75297 {
  height: 40px;
  padding-block: 12px 0;
  padding-inline: 16px 8px;
}
.roleScroller__75297 {
  margin-bottom: 8px;
  margin-top: 4px;
}
.timestamp__75297 {
  background-color: var(--background-mod-normal);
  border-radius: 3px;
  padding: 0 2px;
}
.timestampTooltip__75297 {
  max-width: unset;
}
.enable-forced-colors .blockquoteDivider__75297 {
  background-color: CanvasText;
}
.enable-forced-colors code.inline {
  position: relative;
}
.enable-forced-colors code.inline:after,
.enable-forced-colors code.inline:before {
  border: 1px solid CanvasText;
  content: "";
  display: inline-block;
  height: 1em;
  margin-bottom: -3px;
  width: 2px;
}
.enable-forced-colors code.inline:before {
  border-right-width: 0;
}
.enable-forced-colors code.inline:after {
  border-left-width: 0;
}
.enable-forced-colors .roleMention__75297,
.enable-forced-colors .mention {
  background-color: ButtonFace;
  color: ButtonText;
  text-decoration: underline;
}
.wrapper__14245 {
  align-items: center;
  background-color: var(--background-surface-high);
  box-sizing: border-box;
  display: flex;
  height: var(
    --custom-expression-picker-constants-expression-picker-list-section-heading-height
  );
  padding-block: 0;
  padding-inline: 8px 4px;
  z-index: 1;
}
.wrapper__14245:after {
  background-color: inherit;
  content: "";
  height: 3px;
  inset-inline-start: 0;
  position: absolute;
  top: -2px;
  width: 100%;
}
.header__14245 {
  align-items: center;
  color: var(--text-default);
  display: flex;
  font-size: 14px;
  font-weight: var(--font-weight-semibold);
  justify-content: flex-start;
  min-width: 0;
  transition: color 0.125s;
}
.interactive__14245:hover {
  cursor: pointer;
}
.interactive__14245:hover:hover {
  color: var(--interactive-text-active);
}
.headerIcon__14245 {
  display: contents;
  height: 100%;
  margin-inline-end: 8px;
}
.headerLabel__14245 {
  margin-inline-end: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.headerIcon__14245 + .headerLabel__14245 {
  margin-inline-start: 4px;
}
.headerCollapseIcon__14245 {
  flex-shrink: 0;
}
.full-motion .headerCollapseIcon__14245 {
  transition: transform 0.1s;
}
.headerCollapseIconCollapsed__14245 {
  transform: rotate(-90deg);
}
.enable-forced-colors .wrapper__14245 {
  border-bottom: 1px solid CanvasText;
}
.enable-forced-colors .interactive__14245 {
  background-color: ButtonFace;
  color: ButtonText;
  forced-color-adjust: none;
}
.enable-forced-colors .interactive__14245:hover {
  color: ButtonText;
}
.icon_bd6d20 {
  border: 1px solid var(--border-subtle);
  border-radius: var(--radius-md);
  box-sizing: border-box;
  flex-shrink: 0;
}
.placeholder_bd6d20 {
  background-color: var(--background-mod-subtle);
}
.container_c8f358 {
  --custom-activity-popout-header-height: 48px;
  --custom-activity-popout-header-background-color: var(--black);
  background-color: var(--custom-activity-popout-header-background-color);
  justify-content: space-between;
  max-height: var(--custom-activity-popout-header-height);
  min-height: var(--custom-activity-popout-header-height);
  padding: 0 var(--space-32);
}
.container_c8f358,
.headerSection_c8f358 {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.headerSectionLeft_c8f358 {
  flex: 0 1 auto;
  min-width: 0;
  overflow: hidden;
}
.headerSectionRight_c8f358 {
  flex: 0;
  height: var(--custom-activity-popout-header-height);
  position: relative;
}
.appIcon_c8f358 {
  border-radius: var(--radius-sm);
  margin-inline-end: var(--space-8);
}
.appIcon_c8f358,
.avatar_c8f358 {
  height: 24px;
  width: 24px;
}
.avatar_c8f358 {
  border-radius: 50%;
}
.dotSpacer_c8f358 {
  padding: 0 var(--space-8) var(--space-8);
}
.iconButton_c8f358 {
  padding: 0 var(--space-8);
}
.actionButtonsContainer_c8f358 {
  display: flex;
  flex-direction: row;
  gap: var(--space-16);
  margin-inline-start: var(--space-16);
}
.applicationName_c8f358 {
  flex: 0 1 auto;
  min-width: 24px;
}
.fade_c8f358 {
  --custom-activity-popout-header-fade-width: var(--space-16);
  background: linear-gradient(
    to right,
    transparent,
    var(--custom-activity-popout-header-background-color)
  );
  height: var(--custom-activity-popout-header-height);
  inset-inline-start: calc(
    var(--custom-activity-popout-header-fade-width) * -1
  );
  pointer-events: none;
  position: absolute;
  width: var(--custom-activity-popout-header-fade-width);
}
.inviteButtonIcon_c8f358 {
  height: 16px;
  width: 16px;
}
.container__0b406 {
  background-color: var(--background-base-low);
  height: 100%;
  width: 100%;
}
.loadedContentContainer__0b406 {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
.iframeAndHeaderContainer__0b406 {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  width: 100%;
}
.headerContainer__0b406 {
  flex: 0;
  height: 64px;
}
.iframeContainer__0b406 {
  flex: 1;
}
.iframe__0b406 {
  height: 100%;
  min-height: 2px;
  min-width: 2px;
  width: 100%;
}
.header_b1c9f2 {
  align-items: center;
  gap: 16px;
  justify-content: center;
}
.container_b1c9f2,
.header_b1c9f2 {
  display: flex;
  flex-direction: column;
}
.container_b1c9f2 {
  gap: var(--space-24);
  max-width: 400px;
}
.rows_b1c9f2 {
  border: 1px solid var(--border-subtle);
  border-radius: var(--radius-sm);
  display: grid;
  grid-auto-rows: 1fr;
}
.appIcon_b1c9f2 {
  border-radius: var(--radius-xl);
  height: 80px;
  width: 80px;
}
.row_b1c9f2 {
  align-items: center;
  background: var(--background-base-lower);
  background-color: var(--background-surface-higher);
  cursor: pointer;
  display: flex;
  gap: 12px;
  padding-inline-start: 16px;
}
.row_b1c9f2:hover {
  background: var(--interactive-background-hover);
  background-color: var(--background-surface-high);
}
.row_b1c9f2:first-child {
  border-start-end-radius: 8px;
  border-start-start-radius: 8px;
}
.row_b1c9f2:last-child {
  border-end-end-radius: 8px;
  border-end-start-radius: 8px;
}
.row_b1c9f2:not(:last-child) .rowInner_b1c9f2 {
  border-bottom: 1px solid var(--interactive-background-hover);
  border-color: var(--border-subtle);
}
.rowInner_b1c9f2 {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 8px;
  padding-block: 8px;
  padding-inline: 0 16px;
}
.rowDetails_b1c9f2 {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2px;
}
.leftIcon_b1c9f2 {
  padding: 4px;
}
.leftIcon_b1c9f2,
.rightIcon_b1c9f2 {
  color: var(--interactive-text-default);
}
.learnMore_b1c9f2 {
  margin: 16px 0;
  text-align: center;
}
.detailsContainer_b1c9f2 {
  display: flex;
  flex-direction: column;
  gap: var(--custom-disclosure-spacing);
}
.overviewContainerNoVideo_b1c9f2 {
  background-color: unset;
  border-radius: var(--radius-sm);
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
  padding: var(--space-12);
}
.titleContainer_b1c9f2 {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--space-8);
}
.partnerLabelContainer_b1c9f2 {
  background-color: var(--interactive-background-active);
  border-radius: var(--radius-lg);
  justify-content: center;
  padding: 2px var(--space-8);
}
.descriptionContainer_b1c9f2 {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}
.expandableDescriptionClickable_b1c9f2 {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: var(--space-4);
}
.overflowHidden_b1c9f2 {
  overflow: hidden;
}
.wrapper__4e6ce {
  background-color: var(--background-base-lower);
  border-radius: 0 0 0 8px;
  display: grid;
  grid-template-rows: 1fr auto;
  inset-inline: 0;
  bottom: 0;
  overflow: hidden;
  position: absolute;
  width: 48px;
}
.high-contrast-mode .wrapper__4e6ce {
  border-inline-end: 1px solid var(--border-subtle);
  box-sizing: border-box;
}
.enable-forced-colors .wrapper__4e6ce {
  border-inline-end: 1px solid CanvasText;
}
.container__5f4c1 {
  background-color: var(--background-base-low);
  border-radius: var(--radius-sm);
  box-shadow: var(--elevation-medium);
  width: 180px;
}
.clearText__5f4c1 {
  color: var(--text-link);
}
.rowDivider_ccbbbb,
.rowIconPlaceholder_ccbbbb {
  --custom-row-icon-size: 40px;
}
.appDetailsRowContainer_ccbbbb,
.rowDivider_ccbbbb {
  --custom-row-padding: var(--space-12);
}
.loadingAnimation_ccbbbb {
  overflow: hidden;
  position: relative;
}
.loadingAnimation_ccbbbb:after {
  background: linear-gradient(-45deg, transparent, #fff, transparent);
  content: "";
  height: 100%;
  inset-inline-start: 0;
  opacity: 0.05;
  position: absolute;
  top: 0;
  transform: skewX(-20deg) translateX(-100%);
  width: 100%;
}
.full-motion .loadingAnimation_ccbbbb:after {
  animation: shimmer_ccbbbb 1s ease-in-out infinite;
}
.loadingAnimation_ccbbbb.noAnimation_ccbbbb:after {
  display: none;
}
.loadingAnimation_ccbbbb:nth-child(2):after {
  animation-delay: 50ms;
}
.loadingAnimation_ccbbbb:nth-child(3):after {
  animation-delay: 0.1s;
}
.loadingAnimation_ccbbbb:nth-child(4):after {
  animation-delay: 0.15s;
}
.loadingAnimation_ccbbbb:nth-child(5):after {
  animation-delay: 0.2s;
}
.loadingAnimation_ccbbbb:nth-child(6):after {
  animation-delay: 0.25s;
}
.loadingAnimation_ccbbbb:nth-child(7):after {
  animation-delay: 0.3s;
}
.loadingAnimation_ccbbbb:nth-child(8):after {
  animation-delay: 0.35s;
}
.container_ccbbbb {
  background-color: var(--background-surface-high);
}
.containerBorderRadius_ccbbbb {
  border-radius: var(--radius-md);
}
.rowContainer_ccbbbb:first-child {
  border-start-end-radius: var(--radius-md);
  border-start-start-radius: var(--radius-md);
}
.rowContainer_ccbbbb:last-child {
  border-end-end-radius: var(--radius-md);
  border-end-start-radius: var(--radius-md);
}
.rowContainer_ccbbbb:last-child .rowDivider_ccbbbb {
  display: none;
}
.rowDivider_ccbbbb {
  background-color: var(--background-mod-subtle);
  bottom: 0;
  height: 1px;
  inset-inline: calc(
      var(--custom-row-padding) + var(--custom-row-icon-size) + var(--space-12)
    )
    0;
  position: absolute;
}
.theme-light .loadingAnimation_ccbbbb:after {
  opacity: 0.5;
}
@keyframes shimmer_ccbbbb {
  to {
    transform: skewX(-20deg) translateX(100%);
  }
}
.bannerImage_ccbbbb {
  background-color: var(--background-mod-subtle);
  display: none;
  overflow: hidden;
  width: 100%;
}
.bannerImage_ccbbbb.mediumBanner_ccbbbb {
  aspect-ratio: 3/1;
  display: block;
}
.bannerImage_ccbbbb.largeBanner_ccbbbb {
  aspect-ratio: 2/1;
  display: block;
}
.iconPlaceholder_ccbbbb {
  --custom-app-icon-size: 38px;
  background-color: var(--background-mod-subtle);
  border-radius: 25%;
  height: var(--custom-app-icon-size);
  width: var(--custom-app-icon-size);
}
.rowIconPlaceholder_ccbbbb {
  height: var(--custom-row-icon-size);
  width: var(--custom-row-icon-size);
}
.appDetailsContainer_ccbbbb {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: var(--space-8);
}
.appDetailsRowContainer_ccbbbb {
  padding: var(--custom-row-padding);
}
.textContainer_ccbbbb {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-inline-start: var(--space-12);
}
.textPlaceholder_ccbbbb {
  align-self: flex-start;
  background-color: var(--background-mod-subtle);
  border-radius: var(--radius-round);
}
.textPlaceholder_ccbbbb:not(:last-child) {
  margin-bottom: 4px;
}
.hidden_ccbbbb {
  line-height: 1;
  opacity: 0;
  touch-action: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.contentContainer_c94584 {
  padding: 0 var(--space-16) var(--space-16);
}
.commandListHeader_c94584 {
  align-items: center;
  display: flex;
  height: 32px;
  justify-content: space-between;
  margin-bottom: var(--space-8);
  margin-top: var(--space-16);
}
.commandContainer_c94584 {
  background-color: var(--background-base-lower);
  border-radius: var(--radius-sm);
  display: flex;
  flex-direction: column;
}
.commandContainer_c94584 .command_c94584:first-child {
  border-start-end-radius: var(--radius-sm);
  border-start-start-radius: var(--radius-sm);
}
.commandContainer_c94584 .command_c94584:not(:last-child) {
  border-bottom: 1px solid var(--border-subtle);
}
.commandContainer_c94584 .command_c94584:last-child {
  border-end-end-radius: var(--radius-sm);
  border-end-start-radius: var(--radius-sm);
}
.commandFocusBlock_c94584 {
  width: 100%;
}
.command_c94584,
.commandFocusBlock_c94584 {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.command_c94584 {
  background-color: var(--background-base-low);
  padding: var(--space-8) var(--space-12);
}
.command_c94584:hover,
.keyboard-mode .command_c94584:focus {
  background-color: var(--interactive-background-hover);
  cursor: pointer;
}
.command_c94584:active {
  background-color: var(--interactive-background-active);
}
.commandTextContainer_c94584 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--space-4);
  margin-inline-end: var(--space-8);
  width: 1px;
}
.commandTextContainerPlaceholder_c94584 {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  padding: 2px 0;
  width: 350px;
}
.clickable__8c853 {
  border-radius: var(--radius-round);
  padding: var(--space-8);
}

/*# sourceMappingURL=83004.d9d133b46e0c1748.css.map*/
