.container__82fb2 {
  cursor: pointer;
}
.container__82fb2:hover {
  background: var(--user-profile-overlay-background-hover);
}
.applicationIcon__82fb2,
.applicationIconPlaceholder__82fb2 {
  border-radius: 2px;
}
.applicationIconPlaceholder__82fb2 {
  background-color: var(--background-mod-subtle);
  height: 16px;
  width: 16px;
}
.breadcrumb_c2a763 {
  cursor: pointer;
}
.breadcrumb_c2a763:hover .innerContainer_c2a763 {
  background: var(--user-profile-overlay-background-hover);
}
.innerContainer_c2a763 {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 24px;
  justify-content: space-between;
  padding: 8px;
}
.user-profile-sidebar:not(.user-profile-sidebar-redesign)
  .innerContainer_c2a763 {
  padding: var(--space-12);
}
.icons_c2a763 {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.icon_c2a763 {
  height: 24px;
  position: relative;
  width: 24px;
}
.icon_c2a763,
.icon_c2a763 img {
  border-radius: var(--radius-xs);
}
.icon_c2a763 img {
  display: block;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  width: auto;
}
.displayCount_c2a763 {
  opacity: 0.5;
}
.displayCountText_c2a763 {
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  border-radius: var(--radius-xs);
  display: flex;
  height: 24px;
  inset-inline-start: 50%;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
}
.displayCountTextColor_c2a763 {
  color: var(--neutral-9);
}
.heading-sm\/normal__26b1f {
  font-family: var(--font-display);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.2857142857142858;
}
.heading-sm\/normal__26b1f.fontScaling__26b1f {
  font-size: 0.875rem;
}
.heading-sm\/medium__26b1f {
  font-family: var(--font-display);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.2857142857142858;
}
.heading-sm\/medium__26b1f.fontScaling__26b1f {
  font-size: 0.875rem;
}
.heading-sm\/semibold__26b1f {
  font-family: var(--font-display);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
.heading-sm\/semibold__26b1f.fontScaling__26b1f {
  font-size: 0.875rem;
}
.heading-sm\/bold__26b1f {
  font-family: var(--font-display);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.2857142857142858;
}
.heading-sm\/bold__26b1f.fontScaling__26b1f {
  font-size: 0.875rem;
}
.heading-sm\/extrabold__26b1f {
  font-family: var(--font-display);
  font-size: 0.875rem;
  font-weight: 800;
  line-height: 1.2857142857142858;
}
.heading-sm\/extrabold__26b1f.fontScaling__26b1f {
  font-size: 0.875rem;
}
.heading-md\/normal__26b1f {
  font-family: var(--font-display);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
}
.heading-md\/normal__26b1f.fontScaling__26b1f {
  font-size: 1rem;
}
.heading-md\/medium__26b1f {
  font-family: var(--font-display);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
}
.heading-md\/medium__26b1f.fontScaling__26b1f {
  font-size: 1rem;
}
.heading-md\/semibold__26b1f {
  font-family: var(--font-display);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
}
.heading-md\/semibold__26b1f.fontScaling__26b1f {
  font-size: 1rem;
}
.heading-md\/bold__26b1f {
  font-family: var(--font-display);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25;
}
.heading-md\/bold__26b1f.fontScaling__26b1f {
  font-size: 1rem;
}
.heading-md\/extrabold__26b1f {
  font-family: var(--font-display);
  font-size: 1rem;
  font-weight: 800;
  line-height: 1.25;
}
.heading-md\/extrabold__26b1f.fontScaling__26b1f {
  font-size: 1rem;
}
.heading-lg\/normal__26b1f {
  font-family: var(--font-display);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.2;
}
.heading-lg\/normal__26b1f.fontScaling__26b1f {
  font-size: 1.25rem;
}
.heading-lg\/medium__26b1f {
  font-family: var(--font-display);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
}
.heading-lg\/medium__26b1f.fontScaling__26b1f {
  font-size: 1.25rem;
}
.heading-lg\/semibold__26b1f {
  font-family: var(--font-display);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
}
.heading-lg\/semibold__26b1f.fontScaling__26b1f {
  font-size: 1.25rem;
}
.heading-lg\/bold__26b1f {
  font-family: var(--font-display);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2;
}
.heading-lg\/bold__26b1f.fontScaling__26b1f {
  font-size: 1.25rem;
}
.heading-lg\/extrabold__26b1f {
  font-family: var(--font-display);
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 1.2;
}
.heading-lg\/extrabold__26b1f.fontScaling__26b1f {
  font-size: 1.25rem;
}
.heading-xl\/normal__26b1f {
  font-family: var(--font-display);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.25;
}
.heading-xl\/normal__26b1f.fontScaling__26b1f {
  font-size: 1.5rem;
}
.heading-xl\/medium__26b1f {
  font-family: var(--font-display);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.25;
}
.heading-xl\/medium__26b1f.fontScaling__26b1f {
  font-size: 1.5rem;
}
.heading-xl\/semibold__26b1f {
  font-family: var(--font-display);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.25;
}
.heading-xl\/semibold__26b1f.fontScaling__26b1f {
  font-size: 1.5rem;
}
.heading-xl\/bold__26b1f {
  font-family: var(--font-display);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.25;
}
.heading-xl\/bold__26b1f.fontScaling__26b1f {
  font-size: 1.5rem;
}
.heading-xl\/extrabold__26b1f {
  font-family: var(--font-display);
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.25;
}
.heading-xl\/extrabold__26b1f.fontScaling__26b1f {
  font-size: 1.5rem;
}
.heading-xxl\/normal__26b1f {
  font-family: var(--font-display);
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
}
.heading-xxl\/normal__26b1f.fontScaling__26b1f {
  font-size: 2rem;
}
.heading-xxl\/medium__26b1f {
  font-family: var(--font-display);
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.25;
}
.heading-xxl\/medium__26b1f.fontScaling__26b1f {
  font-size: 2rem;
}
.heading-xxl\/semibold__26b1f {
  font-family: var(--font-display);
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
}
.heading-xxl\/semibold__26b1f.fontScaling__26b1f {
  font-size: 2rem;
}
.heading-xxl\/bold__26b1f {
  font-family: var(--font-display);
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.25;
}
.heading-xxl\/bold__26b1f.fontScaling__26b1f {
  font-size: 2rem;
}
.heading-xxl\/extrabold__26b1f {
  font-family: var(--font-display);
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.25;
}
.heading-xxl\/extrabold__26b1f.fontScaling__26b1f {
  font-size: 2rem;
}
.experimental\/heading-xs\/semibold__26b1f {
  font-family: var(--font-display);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
.experimental\/heading-xs\/semibold__26b1f.fontScaling__26b1f {
  font-size: 0.875rem;
}
.experimental\/heading-xs\/bold__26b1f {
  font-family: var(--font-display);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.2857142857142858;
}
.experimental\/heading-xs\/bold__26b1f.fontScaling__26b1f {
  font-size: 0.875rem;
}
.experimental\/heading-sm\/semibold__26b1f {
  font-family: var(--font-display);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
}
.experimental\/heading-sm\/semibold__26b1f.fontScaling__26b1f {
  font-size: 1rem;
}
.experimental\/heading-sm\/bold__26b1f {
  font-family: var(--font-display);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25;
}
.experimental\/heading-sm\/bold__26b1f.fontScaling__26b1f {
  font-size: 1rem;
}
.experimental\/heading-md\/semibold__26b1f {
  font-family: var(--font-display);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.2222222222222223;
}
.experimental\/heading-md\/semibold__26b1f.fontScaling__26b1f {
  font-size: 1.125rem;
}
.experimental\/heading-md\/bold__26b1f {
  font-family: var(--font-display);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.2222222222222223;
}
.experimental\/heading-md\/bold__26b1f.fontScaling__26b1f {
  font-size: 1.125rem;
}
.experimental\/heading-lg\/semibold__26b1f {
  font-family: var(--font-display);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
}
.experimental\/heading-lg\/semibold__26b1f.fontScaling__26b1f {
  font-size: 1.25rem;
}
.experimental\/heading-lg\/bold__26b1f {
  font-family: var(--font-display);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2;
}
.experimental\/heading-lg\/bold__26b1f.fontScaling__26b1f {
  font-size: 1.25rem;
}
.experimental\/heading-xl\/semibold__26b1f {
  font-family: var(--font-display);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.25;
}
.experimental\/heading-xl\/semibold__26b1f.fontScaling__26b1f {
  font-size: 1.5rem;
}
.experimental\/heading-xl\/bold__26b1f {
  font-family: var(--font-display);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.25;
}
.experimental\/heading-xl\/bold__26b1f.fontScaling__26b1f {
  font-size: 1.5rem;
}
.experimental\/heading-xxl\/semibold__26b1f {
  font-family: var(--font-display);
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
}
.experimental\/heading-xxl\/semibold__26b1f.fontScaling__26b1f {
  font-size: 2rem;
}
.experimental\/heading-xxl\/bold__26b1f {
  font-family: var(--font-display);
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.25;
}
.experimental\/heading-xxl\/bold__26b1f.fontScaling__26b1f {
  font-size: 2rem;
}
.eyebrow__26b1f {
  font-family: var(--font-display);
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.3333333333333333;
  text-transform: uppercase;
}
.eyebrow__26b1f,
.eyebrow__26b1f.fontScaling__26b1f {
  font-size: 0.75rem;
}
.heading-deprecated-12\/normal__26b1f {
  font-family: var(--font-display);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
.heading-deprecated-12\/normal__26b1f.fontScaling__26b1f {
  font-size: 0.75rem;
}
.heading-deprecated-12\/medium__26b1f {
  font-family: var(--font-display);
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
.heading-deprecated-12\/medium__26b1f.fontScaling__26b1f {
  font-size: 0.75rem;
}
.heading-deprecated-12\/semibold__26b1f {
  font-family: var(--font-display);
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
.heading-deprecated-12\/semibold__26b1f.fontScaling__26b1f {
  font-size: 0.75rem;
}
.heading-deprecated-12\/bold__26b1f {
  font-family: var(--font-display);
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.3333333333333333;
}
.heading-deprecated-12\/bold__26b1f.fontScaling__26b1f {
  font-size: 0.75rem;
}
.heading-deprecated-12\/extrabold__26b1f {
  font-family: var(--font-display);
  font-size: 0.75rem;
  font-weight: 800;
  line-height: 1.3333333333333333;
}
.heading-deprecated-12\/extrabold__26b1f.fontScaling__26b1f {
  font-size: 0.75rem;
}
.redesign\/heading-18\/medium__26b1f {
  font-family: var(--font-display);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
.redesign\/heading-18\/medium__26b1f.fontScaling__26b1f {
  font-size: 1.125rem;
}
.redesign\/heading-18\/semibold__26b1f {
  font-family: var(--font-display);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
.redesign\/heading-18\/semibold__26b1f.fontScaling__26b1f {
  font-size: 1.125rem;
}
.redesign\/heading-18\/bold__26b1f {
  font-family: var(--font-display);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.3333333333333333;
}
.redesign\/heading-18\/bold__26b1f.fontScaling__26b1f {
  font-size: 1.125rem;
}
.text-xxs\/normal__26b1f {
  font-family: var(--font-primary);
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 1.2;
}
.text-xxs\/normal__26b1f.fontScaling__26b1f {
  font-size: 0.625rem;
}
.text-xxs\/medium__26b1f {
  font-family: var(--font-primary);
  font-size: 0.625rem;
  font-weight: 500;
  line-height: 1.2;
}
.text-xxs\/medium__26b1f.fontScaling__26b1f {
  font-size: 0.625rem;
}
.text-xxs\/semibold__26b1f {
  font-family: var(--font-primary);
  font-size: 0.625rem;
  font-weight: 600;
  line-height: 1.2;
}
.text-xxs\/bold__26b1f,
.text-xxs\/semibold__26b1f.fontScaling__26b1f {
  font-size: 0.625rem;
}
.text-xxs\/bold__26b1f {
  font-family: var(--font-primary);
  font-weight: 700;
  line-height: 1.2;
}
.text-xxs\/bold__26b1f.fontScaling__26b1f {
  font-size: 0.625rem;
}
.text-xs\/normal__26b1f {
  font-family: var(--font-primary);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
.text-xs\/normal__26b1f.fontScaling__26b1f {
  font-size: 0.75rem;
}
.text-xs\/medium__26b1f {
  font-family: var(--font-primary);
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
.text-xs\/medium__26b1f.fontScaling__26b1f {
  font-size: 0.75rem;
}
.text-xs\/semibold__26b1f {
  font-family: var(--font-primary);
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
.text-xs\/bold__26b1f,
.text-xs\/semibold__26b1f.fontScaling__26b1f {
  font-size: 0.75rem;
}
.text-xs\/bold__26b1f {
  font-family: var(--font-primary);
  font-weight: 700;
  line-height: 1.3333333333333333;
}
.text-xs\/bold__26b1f.fontScaling__26b1f {
  font-size: 0.75rem;
}
.text-sm\/normal__26b1f {
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 1.2857142857142858;
}
.text-sm\/medium__26b1f,
.text-sm\/normal__26b1f,
.text-sm\/normal__26b1f.fontScaling__26b1f {
  font-size: 0.875rem;
}
.text-sm\/medium__26b1f {
  font-family: var(--font-primary);
  font-weight: 500;
  line-height: 1.2857142857142858;
}
.text-sm\/medium__26b1f.fontScaling__26b1f {
  font-size: 0.875rem;
}
.text-sm\/semibold__26b1f {
  font-family: var(--font-primary);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
.text-sm\/bold__26b1f,
.text-sm\/semibold__26b1f.fontScaling__26b1f {
  font-size: 0.875rem;
}
.text-sm\/bold__26b1f {
  font-family: var(--font-primary);
  font-weight: 700;
  line-height: 1.2857142857142858;
}
.text-sm\/bold__26b1f.fontScaling__26b1f {
  font-size: 0.875rem;
}
.text-md\/normal__26b1f {
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
}
.text-md\/normal__26b1f.fontScaling__26b1f {
  font-size: 1rem;
}
.text-md\/medium__26b1f {
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
}
.text-md\/medium__26b1f.fontScaling__26b1f {
  font-size: 1rem;
}
.text-md\/semibold__26b1f {
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
}
.text-md\/semibold__26b1f.fontScaling__26b1f {
  font-size: 1rem;
}
.text-md\/bold__26b1f {
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25;
}
.text-md\/bold__26b1f.fontScaling__26b1f {
  font-size: 1rem;
}
.text-lg\/normal__26b1f {
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 1.2;
}
.text-lg\/medium__26b1f,
.text-lg\/normal__26b1f,
.text-lg\/normal__26b1f.fontScaling__26b1f {
  font-size: 1.25rem;
}
.text-lg\/medium__26b1f {
  font-family: var(--font-primary);
  font-weight: 500;
  line-height: 1.2;
}
.text-lg\/medium__26b1f.fontScaling__26b1f {
  font-size: 1.25rem;
}
.text-lg\/semibold__26b1f {
  font-family: var(--font-primary);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
}
.text-lg\/bold__26b1f,
.text-lg\/semibold__26b1f.fontScaling__26b1f {
  font-size: 1.25rem;
}
.text-lg\/bold__26b1f {
  font-family: var(--font-primary);
  font-weight: 700;
  line-height: 1.2;
}
.text-lg\/bold__26b1f.fontScaling__26b1f {
  font-size: 1.25rem;
}
.redesign\/message-preview\/normal__26b1f {
  font-family: var(--font-primary);
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
.redesign\/message-preview\/normal__26b1f.fontScaling__26b1f {
  font-size: 0.9375rem;
}
.redesign\/message-preview\/medium__26b1f {
  font-family: var(--font-primary);
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
.redesign\/message-preview\/medium__26b1f.fontScaling__26b1f {
  font-size: 0.9375rem;
}
.redesign\/message-preview\/semibold__26b1f {
  font-family: var(--font-primary);
  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
.redesign\/message-preview\/semibold__26b1f.fontScaling__26b1f {
  font-size: 0.9375rem;
}
.redesign\/message-preview\/bold__26b1f {
  font-family: var(--font-primary);
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 1.3333333333333333;
}
.redesign\/message-preview\/bold__26b1f.fontScaling__26b1f {
  font-size: 0.9375rem;
}
.redesign\/channel-title\/normal__26b1f {
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.375;
}
.redesign\/channel-title\/normal__26b1f.fontScaling__26b1f {
  font-size: 1rem;
}
.redesign\/channel-title\/medium__26b1f {
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.375;
}
.redesign\/channel-title\/medium__26b1f.fontScaling__26b1f {
  font-size: 1rem;
}
.redesign\/channel-title\/semibold__26b1f {
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.375;
}
.redesign\/channel-title\/semibold__26b1f.fontScaling__26b1f {
  font-size: 1rem;
}
.redesign\/channel-title\/bold__26b1f {
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.375;
}
.redesign\/channel-title\/bold__26b1f.fontScaling__26b1f {
  font-size: 1rem;
}
.experimental\/body-xs\/normal__26b1f {
  font-family: var(--font-primary);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
.experimental\/body-xs\/normal__26b1f.fontScaling__26b1f {
  font-size: 0.75rem;
}
.experimental\/body-xs\/medium__26b1f {
  font-family: var(--font-primary);
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
.experimental\/body-xs\/medium__26b1f.fontScaling__26b1f {
  font-size: 0.75rem;
}
.experimental\/body-sm\/normal__26b1f {
  font-family: var(--font-primary);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.2857142857142858;
}
.experimental\/body-sm\/normal__26b1f.fontScaling__26b1f {
  font-size: 0.875rem;
}
.experimental\/body-sm\/medium__26b1f {
  font-family: var(--font-primary);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.2857142857142858;
}
.experimental\/body-sm\/medium__26b1f.fontScaling__26b1f {
  font-size: 0.875rem;
}
.experimental\/body-md\/normal__26b1f {
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
}
.experimental\/body-md\/normal__26b1f.fontScaling__26b1f {
  font-size: 1rem;
}
.experimental\/body-md\/medium__26b1f {
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
}
.experimental\/body-md\/medium__26b1f.fontScaling__26b1f {
  font-size: 1rem;
}
.experimental\/body-lg\/normal__26b1f {
  font-family: var(--font-primary);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.2;
}
.experimental\/body-lg\/normal__26b1f.fontScaling__26b1f {
  font-size: 1.25rem;
}
.experimental\/body-lg\/medium__26b1f {
  font-family: var(--font-primary);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
}
.experimental\/body-lg\/medium__26b1f.fontScaling__26b1f {
  font-size: 1.25rem;
}
.experimental\/meta\/normal__26b1f {
  font-family: var(--font-primary);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
.experimental\/meta\/normal__26b1f.fontScaling__26b1f {
  font-size: 0.75rem;
}
.experimental\/meta\/medium__26b1f {
  font-family: var(--font-primary);
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
.experimental\/meta\/medium__26b1f.fontScaling__26b1f {
  font-size: 0.75rem;
}
.display-sm__26b1f {
  font-family: var(--font-headline);
  font-weight: 800;
  line-height: 1;
}
.display-sm__26b1f,
.display-sm__26b1f.fontScaling__26b1f {
  font-size: 1.25rem;
}
.display-md__26b1f {
  font-family: var(--font-headline);
  font-weight: 800;
  line-height: 1.0588235294117647;
}
.display-md__26b1f,
.display-md__26b1f.fontScaling__26b1f {
  font-size: 2.125rem;
}
.display-lg__26b1f {
  font-family: var(--font-headline);
  font-weight: 800;
  line-height: 0.9545454545454546;
}
.display-lg__26b1f,
.display-lg__26b1f.fontScaling__26b1f {
  font-size: 2.75rem;
}
.experimental\/display-xs__26b1f {
  font-family: var(--font-headline);
  font-size: 1rem;
  font-weight: 800;
  line-height: 1.125;
}
.experimental\/display-xs__26b1f.fontScaling__26b1f {
  font-size: 1rem;
}
.experimental\/display-sm__26b1f {
  font-family: var(--font-headline);
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.0833333333333333;
}
.experimental\/display-sm__26b1f.fontScaling__26b1f {
  font-size: 1.5rem;
}
.experimental\/display-md__26b1f {
  font-family: var(--font-headline);
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.0625;
}
.experimental\/display-md__26b1f.fontScaling__26b1f {
  font-size: 2rem;
}
.experimental\/display-lg__26b1f {
  font-family: var(--font-headline);
  font-size: 2.75rem;
  font-weight: 800;
  line-height: 1;
}
.experimental\/display-lg__26b1f.fontScaling__26b1f {
  font-size: 2.75rem;
}
.experimental\/label-xs\/medium__26b1f {
  font-family: var(--font-primary);
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.3333333333333333;
  text-transform: uppercase;
}
.experimental\/label-xs\/medium__26b1f.fontScaling__26b1f {
  font-size: 0.75rem;
}
.experimental\/label-xs\/semibold__26b1f {
  font-family: var(--font-primary);
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.3333333333333333;
  text-transform: uppercase;
}
.experimental\/label-xs\/semibold__26b1f.fontScaling__26b1f {
  font-size: 0.75rem;
}
.experimental\/label-sm\/medium__26b1f {
  font-family: var(--font-primary);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.2857142857142858;
}
.experimental\/label-sm\/medium__26b1f.fontScaling__26b1f {
  font-size: 0.875rem;
}
.experimental\/label-sm\/semibold__26b1f {
  font-family: var(--font-primary);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
.experimental\/label-sm\/semibold__26b1f.fontScaling__26b1f {
  font-size: 0.875rem;
}
.experimental\/label-md\/medium__26b1f {
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
}
.experimental\/label-md\/medium__26b1f.fontScaling__26b1f {
  font-size: 1rem;
}
.experimental\/label-md\/semibold__26b1f {
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
}
.experimental\/label-md\/semibold__26b1f.fontScaling__26b1f {
  font-size: 1rem;
}
.experimental\/label-lg\/medium__26b1f {
  font-family: var(--font-primary);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.2222222222222223;
}
.experimental\/label-lg\/medium__26b1f.fontScaling__26b1f {
  font-size: 1.125rem;
}
.experimental\/label-lg\/semibold__26b1f {
  font-family: var(--font-primary);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.2222222222222223;
}
.experimental\/label-lg\/semibold__26b1f.fontScaling__26b1f {
  font-size: 1.125rem;
}
.code__26b1f {
  font-family: var(--font-code);
  font-weight: 700;
  line-height: 1.3333333333333333;
}
.code__26b1f,
.code__26b1f.fontScaling__26b1f {
  font-size: 0.75rem;
}
.experimental\/mono-md\/normal__26b1f {
  font-family: var(--font-code);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
.experimental\/mono-md\/normal__26b1f.fontScaling__26b1f {
  font-size: 0.75rem;
}
.experimental\/mono-md\/bold__26b1f {
  font-family: var(--font-code);
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.3333333333333333;
}
.experimental\/mono-md\/bold__26b1f.fontScaling__26b1f {
  font-size: 0.75rem;
}
.experimental\/mono-sm\/normal__26b1f {
  font-family: var(--font-code);
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 1.2;
}
.experimental\/mono-sm\/normal__26b1f.fontScaling__26b1f {
  font-size: 0.625rem;
}
.experimental\/mono-sm\/bold__26b1f {
  font-family: var(--font-code);
  font-size: 0.625rem;
  font-weight: 700;
  line-height: 1.2;
}
.experimental\/mono-sm\/bold__26b1f.fontScaling__26b1f {
  font-size: 0.625rem;
}
:where(.mana-type-consolidation) .heading-sm\/normal__26b1f {
  font-family: var(--font-display);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
:where(.mana-type-consolidation) .heading-sm\/normal__26b1f.fontScaling__26b1f {
  font-size: 0.875rem;
}
:where(.mana-type-consolidation) .heading-sm\/medium__26b1f {
  font-family: var(--font-display);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
:where(.mana-type-consolidation) .heading-sm\/medium__26b1f.fontScaling__26b1f {
  font-size: 0.875rem;
}
:where(.mana-type-consolidation) .heading-sm\/semibold__26b1f {
  font-family: var(--font-display);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
:where(.mana-type-consolidation)
  .heading-sm\/semibold__26b1f.fontScaling__26b1f {
  font-size: 0.875rem;
}
:where(.mana-type-consolidation) .heading-sm\/bold__26b1f {
  font-family: var(--font-display);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.2857142857142858;
}
:where(.mana-type-consolidation) .heading-sm\/bold__26b1f.fontScaling__26b1f {
  font-size: 0.875rem;
}
:where(.mana-type-consolidation) .heading-sm\/extrabold__26b1f {
  font-family: var(--font-display);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.2857142857142858;
}
:where(.mana-type-consolidation)
  .heading-sm\/extrabold__26b1f.fontScaling__26b1f {
  font-size: 0.875rem;
}
:where(.mana-type-consolidation) .heading-md\/normal__26b1f {
  font-family: var(--font-display);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation) .heading-md\/normal__26b1f.fontScaling__26b1f {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .heading-md\/medium__26b1f {
  font-family: var(--font-display);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation) .heading-md\/medium__26b1f.fontScaling__26b1f {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .heading-md\/semibold__26b1f {
  font-family: var(--font-display);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .heading-md\/semibold__26b1f.fontScaling__26b1f {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .heading-md\/bold__26b1f {
  font-family: var(--font-display);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.2222222222222223;
}
:where(.mana-type-consolidation) .heading-md\/bold__26b1f.fontScaling__26b1f {
  font-size: 1.125rem;
}
:where(.mana-type-consolidation) .heading-md\/extrabold__26b1f {
  font-family: var(--font-display);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.2222222222222223;
}
:where(.mana-type-consolidation)
  .heading-md\/extrabold__26b1f.fontScaling__26b1f {
  font-size: 1.125rem;
}
:where(.mana-type-consolidation) .heading-lg\/normal__26b1f {
  font-family: var(--font-display);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .heading-lg\/normal__26b1f.fontScaling__26b1f {
  font-size: 1.25rem;
}
:where(.mana-type-consolidation) .heading-lg\/medium__26b1f {
  font-family: var(--font-display);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .heading-lg\/medium__26b1f.fontScaling__26b1f {
  font-size: 1.25rem;
}
:where(.mana-type-consolidation) .heading-lg\/semibold__26b1f {
  font-family: var(--font-display);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
}
:where(.mana-type-consolidation)
  .heading-lg\/semibold__26b1f.fontScaling__26b1f {
  font-size: 1.25rem;
}
:where(.mana-type-consolidation) .heading-lg\/bold__26b1f {
  font-family: var(--font-display);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .heading-lg\/bold__26b1f.fontScaling__26b1f {
  font-size: 1.25rem;
}
:where(.mana-type-consolidation) .heading-lg\/extrabold__26b1f {
  font-family: var(--font-display);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2;
}
:where(.mana-type-consolidation)
  .heading-lg\/extrabold__26b1f.fontScaling__26b1f {
  font-size: 1.25rem;
}
:where(.mana-type-consolidation) .heading-xl\/normal__26b1f {
  font-family: var(--font-display);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation) .heading-xl\/normal__26b1f.fontScaling__26b1f {
  font-size: 1.5rem;
}
:where(.mana-type-consolidation) .heading-xl\/medium__26b1f {
  font-family: var(--font-display);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation) .heading-xl\/medium__26b1f.fontScaling__26b1f {
  font-size: 1.5rem;
}
:where(.mana-type-consolidation) .heading-xl\/semibold__26b1f {
  font-family: var(--font-display);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .heading-xl\/semibold__26b1f.fontScaling__26b1f {
  font-size: 1.5rem;
}
:where(.mana-type-consolidation) .heading-xl\/bold__26b1f {
  font-family: var(--font-display);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.25;
}
:where(.mana-type-consolidation) .heading-xl\/bold__26b1f.fontScaling__26b1f {
  font-size: 1.5rem;
}
:where(.mana-type-consolidation) .heading-xl\/extrabold__26b1f {
  font-family: var(--font-display);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .heading-xl\/extrabold__26b1f.fontScaling__26b1f {
  font-size: 1.5rem;
}
:where(.mana-type-consolidation) .heading-xxl\/normal__26b1f {
  font-family: var(--font-display);
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .heading-xxl\/normal__26b1f.fontScaling__26b1f {
  font-size: 2rem;
}
:where(.mana-type-consolidation) .heading-xxl\/medium__26b1f {
  font-family: var(--font-display);
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .heading-xxl\/medium__26b1f.fontScaling__26b1f {
  font-size: 2rem;
}
:where(.mana-type-consolidation) .heading-xxl\/semibold__26b1f {
  font-family: var(--font-display);
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .heading-xxl\/semibold__26b1f.fontScaling__26b1f {
  font-size: 2rem;
}
:where(.mana-type-consolidation) .heading-xxl\/bold__26b1f {
  font-family: var(--font-display);
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.25;
}
:where(.mana-type-consolidation) .heading-xxl\/bold__26b1f.fontScaling__26b1f {
  font-size: 2rem;
}
:where(.mana-type-consolidation) .heading-xxl\/extrabold__26b1f {
  font-family: var(--font-display);
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .heading-xxl\/extrabold__26b1f.fontScaling__26b1f {
  font-size: 2rem;
}
:where(.mana-type-consolidation) .eyebrow__26b1f {
  font-family: var(--font-primary);
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.3333333333333333;
  text-transform: uppercase;
}
:where(.mana-type-consolidation) .eyebrow__26b1f.fontScaling__26b1f {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .heading-deprecated-12\/normal__26b1f {
  font-family: var(--font-primary);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation)
  .heading-deprecated-12\/normal__26b1f.fontScaling__26b1f {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .heading-deprecated-12\/medium__26b1f {
  font-family: var(--font-primary);
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation)
  .heading-deprecated-12\/medium__26b1f.fontScaling__26b1f {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .heading-deprecated-12\/semibold__26b1f {
  font-family: var(--font-primary);
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.3333333333333333;
  text-transform: uppercase;
}
:where(.mana-type-consolidation)
  .heading-deprecated-12\/semibold__26b1f.fontScaling__26b1f {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .heading-deprecated-12\/bold__26b1f {
  font-family: var(--font-primary);
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.3333333333333333;
  text-transform: uppercase;
}
:where(.mana-type-consolidation)
  .heading-deprecated-12\/bold__26b1f.fontScaling__26b1f {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .heading-deprecated-12\/extrabold__26b1f {
  font-family: var(--font-primary);
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.3333333333333333;
  text-transform: uppercase;
}
:where(.mana-type-consolidation)
  .heading-deprecated-12\/extrabold__26b1f.fontScaling__26b1f {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .redesign\/heading-18\/medium__26b1f {
  font-family: var(--font-display);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.2222222222222223;
}
:where(.mana-type-consolidation)
  .redesign\/heading-18\/medium__26b1f.fontScaling__26b1f {
  font-size: 1.125rem;
}
:where(.mana-type-consolidation) .redesign\/heading-18\/semibold__26b1f {
  font-family: var(--font-display);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.2222222222222223;
}
:where(.mana-type-consolidation)
  .redesign\/heading-18\/semibold__26b1f.fontScaling__26b1f {
  font-size: 1.125rem;
}
:where(.mana-type-consolidation) .redesign\/heading-18\/bold__26b1f {
  font-family: var(--font-display);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.2222222222222223;
}
:where(.mana-type-consolidation)
  .redesign\/heading-18\/bold__26b1f.fontScaling__26b1f {
  font-size: 1.125rem;
}
:where(.mana-type-consolidation) .text-xxs\/normal__26b1f {
  font-family: var(--font-primary);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation) .text-xxs\/normal__26b1f.fontScaling__26b1f {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .text-xxs\/medium__26b1f {
  font-family: var(--font-primary);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation) .text-xxs\/medium__26b1f.fontScaling__26b1f {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .text-xxs\/semibold__26b1f {
  font-family: var(--font-primary);
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation) .text-xxs\/semibold__26b1f.fontScaling__26b1f {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .text-xxs\/bold__26b1f {
  font-family: var(--font-primary);
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation) .text-xxs\/bold__26b1f.fontScaling__26b1f {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .text-xs\/normal__26b1f {
  font-family: var(--font-primary);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation) .text-xs\/normal__26b1f.fontScaling__26b1f {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .text-xs\/medium__26b1f {
  font-family: var(--font-primary);
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation) .text-xs\/medium__26b1f.fontScaling__26b1f {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .text-xs\/semibold__26b1f {
  font-family: var(--font-primary);
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.3333333333333333;
  text-transform: uppercase;
}
:where(.mana-type-consolidation) .text-xs\/semibold__26b1f.fontScaling__26b1f {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .text-xs\/bold__26b1f {
  font-family: var(--font-primary);
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.3333333333333333;
  text-transform: uppercase;
}
:where(.mana-type-consolidation) .text-xs\/bold__26b1f.fontScaling__26b1f {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .text-sm\/normal__26b1f {
  font-family: var(--font-primary);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.2857142857142858;
}
:where(.mana-type-consolidation) .text-sm\/normal__26b1f.fontScaling__26b1f {
  font-size: 0.875rem;
}
:where(.mana-type-consolidation) .text-sm\/medium__26b1f {
  font-family: var(--font-primary);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.2857142857142858;
}
:where(.mana-type-consolidation) .text-sm\/medium__26b1f.fontScaling__26b1f {
  font-size: 0.875rem;
}
:where(.mana-type-consolidation) .text-sm\/semibold__26b1f {
  font-family: var(--font-primary);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
:where(.mana-type-consolidation) .text-sm\/semibold__26b1f.fontScaling__26b1f {
  font-size: 0.875rem;
}
:where(.mana-type-consolidation) .text-sm\/bold__26b1f {
  font-family: var(--font-primary);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
:where(.mana-type-consolidation) .text-sm\/bold__26b1f.fontScaling__26b1f {
  font-size: 0.875rem;
}
:where(.mana-type-consolidation) .text-md\/normal__26b1f {
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
}
:where(.mana-type-consolidation) .text-md\/normal__26b1f.fontScaling__26b1f {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .text-md\/medium__26b1f {
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
}
:where(.mana-type-consolidation) .text-md\/medium__26b1f.fontScaling__26b1f {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .text-md\/semibold__26b1f {
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation) .text-md\/semibold__26b1f.fontScaling__26b1f {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .text-md\/bold__26b1f {
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation) .text-md\/bold__26b1f.fontScaling__26b1f {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .text-lg\/normal__26b1f {
  font-family: var(--font-primary);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .text-lg\/normal__26b1f.fontScaling__26b1f {
  font-size: 1.25rem;
}
:where(.mana-type-consolidation) .text-lg\/medium__26b1f {
  font-family: var(--font-primary);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .text-lg\/medium__26b1f.fontScaling__26b1f {
  font-size: 1.25rem;
}
:where(.mana-type-consolidation) .text-lg\/semibold__26b1f {
  font-family: var(--font-display);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .text-lg\/semibold__26b1f.fontScaling__26b1f {
  font-size: 1.25rem;
}
:where(.mana-type-consolidation) .text-lg\/bold__26b1f {
  font-family: var(--font-display);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .text-lg\/bold__26b1f.fontScaling__26b1f {
  font-size: 1.25rem;
}
:where(.mana-type-consolidation) .redesign\/message-preview\/normal__26b1f {
  font-family: var(--font-display);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .redesign\/message-preview\/normal__26b1f.fontScaling__26b1f {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .redesign\/message-preview\/medium__26b1f {
  font-family: var(--font-display);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .redesign\/message-preview\/medium__26b1f.fontScaling__26b1f {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .redesign\/message-preview\/semibold__26b1f {
  font-family: var(--font-display);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .redesign\/message-preview\/semibold__26b1f.fontScaling__26b1f {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .redesign\/message-preview\/bold__26b1f {
  font-family: var(--font-display);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .redesign\/message-preview\/bold__26b1f.fontScaling__26b1f {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .redesign\/channel-title\/normal__26b1f {
  font-family: var(--font-display);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .redesign\/channel-title\/normal__26b1f.fontScaling__26b1f {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .redesign\/channel-title\/medium__26b1f {
  font-family: var(--font-display);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .redesign\/channel-title\/medium__26b1f.fontScaling__26b1f {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .redesign\/channel-title\/semibold__26b1f {
  font-family: var(--font-display);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .redesign\/channel-title\/semibold__26b1f.fontScaling__26b1f {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .redesign\/channel-title\/bold__26b1f {
  font-family: var(--font-display);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .redesign\/channel-title\/bold__26b1f.fontScaling__26b1f {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .display-sm__26b1f {
  font-family: var(--font-headline);
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.0833333333333333;
}
:where(.mana-type-consolidation) .display-sm__26b1f.fontScaling__26b1f {
  font-size: 1.5rem;
}
:where(.mana-type-consolidation) .display-md__26b1f {
  font-family: var(--font-headline);
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.0625;
}
:where(.mana-type-consolidation) .display-md__26b1f.fontScaling__26b1f {
  font-size: 2rem;
}
:where(.mana-type-consolidation) .display-lg__26b1f {
  font-family: var(--font-headline);
  font-size: 2.75rem;
  font-weight: 800;
  line-height: 1;
}
:where(.mana-type-consolidation) .display-lg__26b1f.fontScaling__26b1f {
  font-size: 2.75rem;
}
:where(.mana-type-consolidation) .code__26b1f {
  font-family: var(--font-code);
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation) .code__26b1f.fontScaling__26b1f {
  font-size: 0.75rem;
}
.displayNameRow__26b1f {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 8px;
  line-height: 1.5rem;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
}
.displayNameRow__26b1f.lg__26b1f {
  line-height: 1.875rem;
}
.displayNameRow__26b1f .botTag__26b1f {
  vertical-align: baseline;
}
.displayNameTrailing__26b1f {
  align-items: center;
  align-self: flex-start;
  display: flex;
  height: 1lh;
}
.clickable__26b1f {
  cursor: pointer;
}
.displayName__26b1f {
  max-height: 3lh;
  word-break: break-word;
}
.displayName__26b1f.noStyles__26b1f {
  overflow: hidden;
}
.clickable__26b1f:focus-visible .displayName__26b1f.noStyles__26b1f,
.clickable__26b1f:hover .displayName__26b1f.noStyles__26b1f {
  text-decoration: underline;
}
.usernameAndPronounsRow__26b1f {
  align-items: center;
  -moz-column-gap: 9.33px;
  column-gap: 9.33px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
}
.user-profile-popout .usernameAndPronounsRow__26b1f,
.user-profile-sidebar .usernameAndPronounsRow__26b1f {
  row-gap: 2px;
}
.user-profile-modal-v2 .usernameAndPronounsRow__26b1f {
  row-gap: 4px;
}
.user-profile-modal .usernameAndPronounsRow__26b1f {
  row-gap: 8px;
}
.usernameAndPronounsRow__26b1f.hasPronouns__26b1f,
.usernameAndPronounsRow__26b1f.isBot__26b1f {
  -moz-column-gap: 6px;
  column-gap: 6px;
}
.usernameAndPronounsRow__26b1f.isBot__26b1f {
  margin-block-start: 8px;
}
.userTag__26b1f {
}
.pronounsTooltip__26b1f {
  min-width: 0;
}
.pronouns__26b1f {
  margin-inline-end: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.userTagUsername__26b1f {
  color: var(--text-strong);
  display: inline;
  text-overflow: unset;
  vertical-align: top;
  white-space: normal;
  word-break: break-all;
}
.clickable__26b1f:focus-visible .userTagUsername__26b1f,
.clickable__26b1f:hover .userTagUsername__26b1f {
  text-decoration: underline;
}
.userTagDiscriminator__26b1f {
  color: var(--text-strong);
  vertical-align: top;
}
.dotSpacer__26b1f {
  background-color: var(--text-default);
  border-radius: var(--radius-round);
  height: 4px;
  margin-inline: 1px;
  width: 4px;
}
.guildTagContainer__26b1f {
  border: 1px solid var(--user-profile-border);
  border-radius: var(--radius-sm);
  box-sizing: border-box;
  height: 20px;
}
.guildTagContainer__26b1f:hover {
  background-color: var(--user-profile-background-hover);
}
.guildTag__26b1f {
  background: unset;
  margin: 0 auto;
}

/*# sourceMappingURL=83656.5bf1abe513fba182.css.map*/
