.placeholder__84ae7 {
  align-items: center;
  background-color: var(--background-mod-subtle);
  border: 1px dashed var(--border-subtle);
  border-radius: var(--radius-md);
  display: flex;
  justify-content: center;
  padding: var(--space-8) var(--space-12);
}
.divider__1de9c {
  border-top: thin solid var(--border-subtle);
  height: 1px;
  width: 100%;
}
.selectableItem_eb626b {
  border-radius: 3px;
  box-sizing: border-box;
  color: var(--text-strong);
  cursor: pointer;
  height: 34px;
  margin: 2px 0;
  margin-inline-end: 4px;
  padding: 8px 10px;
}
.selectableItem_eb626b.selected_eb626b {
  cursor: default;
}
.selectableItemLabel_eb626b {
  font-size: 16px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  top: 1px;
  white-space: nowrap;
}
.theme-light .selectableItem_eb626b:focus,
.theme-light .selectableItem_eb626b:hover {
  background-color: var(--primary-200);
}
.theme-dark .selectableItem_eb626b:focus,
.theme-dark .selectableItem_eb626b:hover {
  background-color: hsl(var(--primary-700-hsl) / 0.6);
}
.enable-forced-colors .selectableItem_eb626b:focus,
.enable-forced-colors .selectableItem_eb626b:hover {
  outline: 1px solid Highlight;
  outline-offset: -1px;
}
.popoutList__92efc {
  background: var(--background-mod-normal);
  border-radius: 5px;
  padding: 10px 10px 0;
}
.popoutListEmpty__92efc {
  box-sizing: border-box;
  color: var(--text-strong);
  cursor: default;
  margin-block: 2px;
  margin-inline: 0 4px;
  padding: 8px 10px 0;
}
.divider__92efc {
  margin: 8px 0;
}
.enable-forced-colors .popoutList__92efc {
  border: 2px solid CanvasText;
}
.phoneFieldPopout__61a01 {
  height: 240px;
  inset-inline-start: 0;
  position: absolute;
  top: 40px;
  width: 220px;
}
.phoneFieldPopout__61a01 .phoneFieldScroller__61a01 {
  height: 196px;
  padding-bottom: 10px;
}
.phoneFieldPopout__61a01 .countryItem__61a01 {
  width: 100%;
}
.phoneFieldPopout__61a01 .countryName__61a01 {
  color: var(--text-muted);
  font-size: 13px;
  line-height: 18px;
  margin-inline-end: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.phoneFieldPopout__61a01 .countryCode__61a01 {
  color: var(--text-strong);
  font-size: 13px;
  font-weight: var(--font-weight-semibold);
  text-align: end;
}
.upsell_ac65bb {
  align-items: center;
  background-color: var(--background-base-lowest);
  border-radius: 4px;
  display: flex;
  padding-block: 8px;
  padding-inline: 8px 12px;
}
.icon_ac65bb {
  color: var(--interactive-text-default);
  margin-inline-end: 8px;
  width: 24px;
}
.body_ac65bb {
  flex: 1;
}
.iconWrapper_d13236 {
  align-items: center;
  background-image: linear-gradient(
    90deg,
    var(--guild-boosting-blue),
    var(--guild-boosting-purple)
  );
  border-radius: 24px;
  color: var(--white);
  display: flex;
  height: 24px;
  justify-content: center;
  width: 24px;
}
.icon_d13236 {
  height: 12px;
  width: 12px;
}
.unownedStickerLockContainer_ced283 {
  align-items: center;
  background-color: var(--background-mod-muted);
  border: 1px solid var(--border-subtle);
  border-radius: 100%;
  bottom: 0;
  display: flex;
  inset-inline-end: 0;
  justify-content: center;
  position: absolute;
}
.unownedStickerLockIcon_ced283 {
  color: var(--interactive-text-default);
}
@keyframes ripple_c6367b {
  0% {
    opacity: 1;
    transform: scale(0.8);
  }
  to {
    opacity: 0;
    transform: scale(1.6);
  }
}
.row_c6367b {
  display: grid;
  margin-bottom: var(--custom-stickers-constants-sticker-picker-preview-margin);
  overflow: hidden;
}
.row_c6367b,
.sticker_c6367b {
  position: relative;
}
.sticker_c6367b {
  border-radius: var(
    --custom-stickers-constants-sticker-picker-preview-border-radius
  );
}
.sticker_c6367b:after {
  border: 3px solid var(--yellow-300);
  border-radius: 100%;
  box-sizing: border-box;
  content: "";
  height: 100%;
  inset-inline-start: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform-origin: center;
  width: 100%;
  z-index: 5;
}
.full-motion .sticker_c6367b:after {
  transition: all 0.15s ease-in-out;
}
.sticker_c6367b.showPulse_c6367b:after {
  animation: ripple_c6367b 0.25s ease-out 1;
}
.createSticker_c6367b {
  align-items: center;
  background-color: var(--background-base-low);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  font-weight: var(--font-weight-medium);
  justify-content: space-evenly;
  position: relative;
}
.createInspected_c6367b {
  background-color: var(--background-mod-normal);
}
.uploadCard_c6367b {
  cursor: pointer;
}
.iconWrapper_c6367b {
  align-items: center;
  background-image: linear-gradient(
    90deg,
    var(--guild-boosting-blue),
    var(--guild-boosting-purple)
  );
  border-radius: 36px;
  color: var(--white);
  display: flex;
  height: 36px;
  justify-content: center;
  width: 36px;
}
.icon_c6367b {
  height: 18px;
  width: 18px;
}
.inspectedIndicator_c6367b {
  height: 100%;
  inset-inline-start: 0;
  -webkit-mask: url(/assets/34378a8df8efb149.svg) 0 0/100% 100%;
  mask: url(/assets/34378a8df8efb149.svg) 0 0/100% 100%;
  position: absolute;
  top: 0;
  transition:
    background-color 0.08s ease-out,
    color 0.08s ease-out;
  width: 100%;
  z-index: -1;
}
.stickerInspected_c6367b .inspectedIndicator_c6367b {
  background-color: var(--interactive-background-selected);
}
.stickerPlaceholder_c6367b {
  cursor: default;
}
.viewAll_c6367b {
  inset-inline-end: 0;
  position: absolute;
  top: 0;
}
.viewAll_c6367b:hover .viewAllButton_c6367b,
.viewAllInspected_c6367b .viewAllButton_c6367b {
  background-color: var(--background-base-lowest);
  color: var(--interactive-text-hover);
}
.viewAllButton_c6367b {
  align-items: center;
  background-color: var(--background-mod-normal);
  box-sizing: border-box;
  color: var(--interactive-text-default);
  display: grid;
  font-size: 16px;
  font-weight: var(--font-weight-semibold);
  height: 100%;
  line-height: 20px;
  text-align: center;
  white-space: pre-line;
  width: 100%;
}
.stickerNode_c6367b {
  transition: opacity 0.25s;
}
.stickerNodeDimmed_c6367b {
  opacity: 0.3;
}
.stickerNodeHidden_c6367b {
  visibility: hidden;
}
.stickerUnsendable_c6367b {
  filter: grayscale(100%);
}
.keyboard-mode .stickerInspected_c6367b {
  position: relative;
}
.keyboard-mode .stickerInspected_c6367b:before {
  border-radius: 12px;
  bottom: 0;
  content: "";
  display: block;
  inset-inline: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  --__adaptive-focus-color: var(--interactive-text-hover);
  border: 2px solid var(--__adaptive-focus-color);
  z-index: 1;
}
.enable-forced-colors .stickerInspected_c6367b {
  background-color: HighlightText;
  outline: 1px solid Highlight;
  outline-offset: -1px;
}
.enable-forced-colors .stickerInspected_c6367b:before {
  border-color: Highlight;
}
.wrapper_e94b8c {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
  position: absolute;
  top: 0;
  inset-inline: 0;
  bottom: 0;
}
.footerActions_e94b8c {
  margin-bottom: var(--custom-stickers-constants-sticker-picker-preview-margin);
}
.packHeader_e94b8c {
  padding-inline-start: 0;
  position: sticky;
  top: 0;
}
.packHeaderShopWrapper_e94b8c {
  -moz-column-gap: 12px;
  column-gap: 12px;
  display: flex;
}
.packHeaderShop_e94b8c {
  flex: 1 1 auto;
  overflow: hidden;
}
.packHeaderShopActions_e94b8c {
  flex: 0 0 auto;
}
.sticker_e94b8c {
  cursor: pointer;
}
.divider_e94b8c {
  align-items: center;
  display: flex;
  height: var(--custom-stickers-constants-stickers-list-divider-height);
}
.shopDivider_e94b8c {
  border-top-width: var(
    --custom-stickers-constants-stickers-shop-divider-border-top-width
  );
  height: var(--custom-stickers-constants-stickers-shop-divider-height);
}
.tipWithSearch_e94b8c {
  margin-top: var(
    --custom-stickers-constants-sticker-picker-tip-margin-search-results
  );
}
.searchSuggestions_e94b8c {
  max-width: 250px;
  padding-top: 16px;
}
.searchSuggestion_e94b8c {
  background: var(--background-surface-high);
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  font-weight: var(--font-weight-normal);
  margin: 0 4px 8px;
  padding: 4px 8px;
}
.emptyGuildUpsell_e94b8c {
  box-sizing: border-box;
  height: var(
    --custom-stickers-constants-stickers-list-empty-guild-upsell-height
  );
  margin-inline: 4px;
  overflow: hidden;
}
.wrapper_cdf8a9 {
  flex: 1;
}
.upsellWrapper__8fe94 {
  align-items: center;
  background: var(--background-base-lower);
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  top: 0;
  inset-inline: 0;
  justify-content: center;
  opacity: 0.98;
  padding: 0 20px;
  text-align: center;
  z-index: 2;
}
.upsellWrapper__8fe94.unifyTrialUpsell__8fe94 {
  justify-content: flex-end;
  opacity: 1;
  padding: 0;
}
.upsellImage__8fe94 {
  height: 80px;
  margin-bottom: 16px;
  width: -moz-fit-content;
  width: fit-content;
}
.upsellTitle__8fe94 {
  margin-bottom: 8px;
}
.upsellDescription__8fe94 {
  margin-bottom: 44px;
  max-width: 400px;
}
.upsellClose__8fe94 {
  color: var(--interactive-text-default);
  cursor: pointer;
  inset-inline-end: 20px;
  position: absolute;
  top: 20px;
}
.wrapper__8ef02 {
  display: grid;
  grid-template-columns: 48px auto;
  grid-template-rows: auto 1fr auto;
  position: relative;
}
.header__8ef02 {
  align-items: center;
  background-color: var(--background-surface-high);
  border-bottom: 1px solid var(--border-subtle);
  box-shadow: none;
  display: flex;
  grid-column: 1/3;
  grid-row: 1/2;
  min-height: 1px;
  padding: var(--custom-gif-picker-gutter-size);
  z-index: 1;
}
.loadingIndicator__8ef02 {
  grid-column: 1/-1;
  grid-row: 1/-1;
}
.listWrapper__8ef02 {
  grid-column: 2/2;
}
.emptyState__8ef02,
.listWrapper__8ef02 {
  grid-row: 2/2;
  overflow: hidden;
  position: relative;
}
.emptyState__8ef02 {
  grid-column: 1/3;
  margin: 0 20px;
}
.enable-forced-colors .header__8ef02 {
  border-bottom: 1px solid CanvasText;
}
.layout__81b99 {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
.header__81b99 {
  align-items: center;
  background-color: var(--background-surface-high);
  border-bottom: 1px solid var(--border-subtle);
  display: flex;
  flex-shrink: 0;
  padding: var(--custom-gif-picker-gutter-size);
}
.kaomojiContainer__81b99 {
  border-end-end-radius: 8px;
  border-end-start-radius: 8px;
  flex: 1;
  min-height: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 16px;
  position: relative;
}
.kaomojiList__81b99 {
  gap: 16px;
}
.kaomojiCategory__81b99,
.kaomojiList__81b99 {
  display: flex;
  flex-direction: column;
}
.kaomojiCategory__81b99 {
  gap: 8px;
}
.categoryLabel__81b99 {
  margin: 0;
}
.kaomojiGrid__81b99 {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(4, 1fr);
  overflow: hidden;
}
.kaomojiGridItem__81b99 {
  border-radius: var(--radius-sm);
  min-width: 0;
}
.emptyState__81b99 {
  margin: 0;
}
.wrapper__81b99 {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
.positionLayer__08434 {
  pointer-events: none;
  z-index: 0;
}
.positionLayerDefaultAlignLeft__08434 {
  inset-inline-end: var(--space-16);
}
.positionLayerDefaultAlignRight__08434 {
  inset-inline-start: var(--space-16);
}
.positionContainer__08434 {
  height: 486px;
  pointer-events: none;
  width: 100%;
}
.positionContainerOnlyEmoji__08434 {
  height: 396px;
}
.drawerSizingWrapper__08434 {
  height: 100%;
  inset-inline-end: var(--space-24) !important;
  max-width: 100%;
  pointer-events: all;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.contentWrapper__08434 {
  box-sizing: border-box;
  display: grid;
  flex: 1 1 auto;
  grid-template-rows: 30px auto;
  grid-row-gap: 12px;
  background-color: var(--background-surface-high);
  border: 1px solid var(--border-subtle);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-high);
  height: 100%;
  padding-top: 16px;
  position: relative;
  z-index: 1;
}
.positionContainerOnlyEmoji__08434 .contentWrapper__08434 {
  grid-template-rows: auto;
}
.nav__08434 {
  padding: 0 16px;
}
.navList__08434 {
  display: flex;
}
.navItem__08434 {
  flex: 0 0 auto;
}
.navItem__08434 + .navItem__08434 {
  margin-inline-start: 8px;
}
.navButton__08434 {
  border-radius: var(--radius-sm);
  color: var(--text-default);
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  padding: 8px 12px;
  transition:
    background-color 0.1s ease-in-out,
    color 0.1s ease-in-out;
}
.high-contrast-mode .navButton__08434 {
  border: 1px solid var(--border-subtle);
  box-sizing: border-box;
}
.navButton__08434:hover {
  background-color: var(--control-secondary-background-hover);
  color: var(--interactive-text-hover);
}
.navButton__08434:active {
  background-color: var(--control-secondary-background-active);
  color: var(--interactive-text-active);
}
.navButtonActive__08434 {
  background-color: var(--background-mod-normal);
  color: var(--text-strong);
}
.navButtonActive__08434:active,
.navButtonActive__08434:hover {
  background-color: var(--background-mod-strong);
  color: var(--interactive-text-active);
}
.high-contrast-mode .navButtonActive__08434 {
  border: 1px solid var(--border-normal);
  box-sizing: border-box;
}
.resizeHandle__08434 {
  cursor: ew-resize;
  height: 100%;
  position: absolute;
  top: 0;
  width: 4px;
  z-index: 2;
}
.introductionWrapper__08434 {
  text-align: center;
}
.introductionHeader__08434 {
  font-weight: var(--font-weight-semibold);
  margin-bottom: 4px;
}
.introductionSubheader__08434 {
  margin-bottom: 16px;
}
.introductionAction__08434 {
  color: var(--brand-500);
  font-weight: var(--font-weight-semibold);
}
.introductionTooltip__08434 {
  max-width: none;
  width: 280px;
}
.introductionTooltipContent__08434 {
  padding: 16px;
}
.stickersNavItem__08434 {
  align-items: center;
  display: flex;
}
.stickersUnseenBadge__08434 {
  align-items: center;
  border-radius: 8px;
  box-shadow: none;
  display: inline-flex;
  height: 16px;
  justify-content: center;
  margin-inline-start: 4px;
  min-width: 16px;
  padding: 0;
  text-shadow: none;
}
.soundboardContainer__08434 {
  position: relative;
}
.soundboardHeader__08434 {
  align-items: center;
  background-color: var(--background-surface-high);
  border-bottom: 1px solid var(--border-subtle);
  box-shadow: none;
  display: flex;
  padding: var(--custom-gif-picker-gutter-size);
}
.enable-forced-colors .resizeHandle__08434 {
  background-color: ButtonText;
}
.enable-forced-colors .contentWrapper__08434 {
  border: 3px solid CanvasText;
}
.enable-forced-colors .navButton__08434 {
  border: 1px solid ButtonFace;
}
.enable-forced-colors .navButton__08434:hover {
  border-color: ButtonText;
}
.enable-forced-colors .navButtonActive__08434 {
  border-color: Highlight;
}
.soundmojiLabelContainer__08434 {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--space-4);
}
.userTooltip__6b453 {
  align-items: center;
  display: flex;
  font-size: 16px;
}
.avatar__6b453 {
  margin-inline-end: 8px;
}
.discriminator__6b453 {
  opacity: 0.5;
}
.icon__6b453 {
  height: 1em;
  margin-bottom: 0.2rem;
  margin-inline-end: 3px;
  vertical-align: middle;
  width: 1em;
}
.tabular__6b453 {
  font-variant-numeric: tabular-nums;
}
.syntaxAfter_ada32f,
.syntaxBefore_ada32f {
  font-weight: var(--font-weight-semibold);
}
.codeBlockSyntax_ada32f,
.syntaxAfter_ada32f,
.syntaxBefore_ada32f {
  color: var(--textbox-markdown-syntax);
}
.codeBlockLang_ada32f {
  color: var(--text-feedback-positive);
}
.after_s_ada32f,
.after_spoiler_ada32f,
.after_u_ada32f,
.before_s_ada32f,
.before_spoiler_ada32f,
.before_u_ada32f,
.syntaxOverride_ada32f {
  font-weight: var(--font-weight-normal);
}
.before_em_ada32f {
  margin-inline-end: -1px;
}
.after_em_ada32f {
  margin-inline-start: 1px;
}
.before_s_ada32f,
.before_u_ada32f {
  margin-inline-end: 1px;
}
.after_s_ada32f,
.after_u_ada32f {
  margin-inline-start: 1px;
}
.after_u_ada32f,
.before_u_ada32f {
  text-decoration: underline;
}
.before_inlineCode_ada32f {
  border-inline-end: none;
  border-radius: 3px 0 0 3px;
  border-end-start-radius: var(--radius-xs);
  border-start-start-radius: var(--radius-xs);
}
.after_inlineCode_ada32f {
  border-inline-start: none;
  border-radius: 0 3px 3px 0;
  border-end-end-radius: var(--radius-xs);
  border-start-end-radius: var(--radius-xs);
}
.bold_ada32f {
  font-weight: var(--font-weight-bold);
}
.italics_ada32f {
  font-style: italic;
}
.underline_ada32f {
  text-decoration: underline;
}
.strikethrough_ada32f {
  text-decoration: line-through;
}
.fakeLink_ada32f {
  color: var(--text-link);
  -webkit-text-decoration: var(--link-decoration);
  text-decoration: var(--link-decoration);
}
.after_inlineCode_ada32f,
.before_inlineCode_ada32f,
.inlineCode_ada32f {
  background: var(--background-code);
  border: 1px solid var(--border-muted);
  box-sizing: border-box;
  font-family: var(--font-code);
  font-size: 85%;
  height: auto;
  line-height: 18px;
  margin: 0;
  padding: 0;
  text-indent: 0;
  white-space: pre-wrap;
  width: auto;
}
.inlineCode_ada32f {
  border-inline-end: none;
  border-inline-start: none;
}
.spoiler_ada32f {
  padding: 0 0.2em;
}
.codeBlockText_ada32f,
.codeLine_ada32f {
  color: var(--text-default);
  font-family: var(--font-code);
  font-size: 85%;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
.codeLine_ada32f .hljs-comment,
.codeLine_ada32f .hljs-quote {
  color: var(--text-muted);
}
.codeLine_ada32f .hljs-ansi-control-sequence {
  background-color: inherit;
  color: var(--textbox-markdown-syntax);
  display: inherit;
  font-size: 70%;
  font-style: inherit;
  font-weight: inherit;
  padding-inline-end: 0.1em;
  text-decoration: none;
  vertical-align: middle;
}
.before_subtext_ada32f {
  font-weight: 700;
}
.before_subtext_ada32f,
.subtext_ada32f {
  color: var(--text-muted);
  font-size: 13px;
  line-height: 17.875px;
}
.inlineElement__1464f {
  display: inline-block;
}
.inlineVoid__1464f {
  cursor: default;
}
.inlineVoid__1464f .mention {
  padding-bottom: 1px;
}
.applicationCommand__1464f {
  display: flex;
  flex-wrap: wrap;
  margin-inline-start: -4px;
  margin-bottom: -4px;
  margin-top: -8px;
}
.applicationCommand__1464f > [data-slate-node="text"] > * {
  display: inline-block;
  padding-top: 8px;
}
.applicationCommand__1464f
  > [data-slate-node="text"]:not(:first-child)
  > :first-child {
  margin-inline-start: 4px;
}
.applicationCommand__1464f
  > [data-slate-node="text"]:not(:first-child)
  > :first-child.emptyText__1464f {
  margin-inline-start: 2px;
}
.applicationCommand__1464f
  > [data-slate-node="text"]:not(:last-child)
  > :last-child {
  margin-inline-end: 4px;
}
.applicationCommand__1464f
  > [data-slate-node="text"]:not(:last-child)
  > :last-child.emptyText__1464f {
  margin-inline-end: 2px;
}
.applicationCommand__1464f:after {
  color: var(--text-muted);
  content: attr(data-trailing-placeholder);
  flex: 1;
  padding-inline-start: 4px;
  padding-top: 8px;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  white-space: nowrap;
}
.applicationCommand__1464f > [data-slate-node="text"] > *,
.optionPillValue__1464f > [data-slate-node="text"] > * {
  min-width: 4px;
}
.commandName__1464f {
  font-weight: var(--font-weight-semibold);
  margin-inline-start: 4px;
}
.optionPill__1464f {
  align-self: flex-start;
  border: 1px solid transparent;
  border-radius: 4px;
  display: flex;
  justify-content: flex-start;
  margin-top: 6px;
  max-width: calc(100% - 30px);
  vertical-align: top;
}
.optionPill__1464f .optionPill__1464f {
  margin-block: 0;
  max-width: none;
}
.optionPillKey__1464f {
  border-end-start-radius: 4px;
  border-start-start-radius: 4px;
  display: inline-block;
  flex-shrink: 0;
  padding: 1px 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.optionPillValue__1464f {
  display: block;
  flex: 1;
  padding: 1px 8px;
  vertical-align: top;
  white-space: pre-wrap;
}
.readonlyPillValue__1464f {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.readonlyPillValue__1464f ::-moz-selection {
  background: transparent;
}
.readonlyPillValue__1464f ::selection {
  background: transparent;
}
.attachmentFilename__1464f {
  color: var(--brand-500);
}
.theme-dark .optionPill__1464f {
  background-color: var(--background-mod-normal);
  border-color: var(--background-base-lowest);
}
.theme-dark .optionPillKey__1464f {
  background-color: var(--background-surface-high);
}
.theme-light .optionPill__1464f {
  background-color: var(--background-base-lower);
  border-color: var(--interactive-background-selected);
}
.theme-light .optionPillKey__1464f {
  background-color: var(--background-base-lowest);
}
.selectedPill__1464f {
  border-color: Highlight !important;
}
.erroredPill__1464f {
  border-color: var(--red-400) !important;
}
.newLine__1464f {
  display: inline-block;
}
.inlineFlex__1464f {
  display: inline-flex;
  margin: 0;
}
.editor__1b31f {
  caret-color: var(--text-default);
  text-align: start;
  white-space: break-spaces !important;
  word-break: break-word;
}
.editor__1b31f pre {
  max-width: none;
}
.placeholder__1b31f {
  color: var(--channel-text-area-placeholder);
  inset-inline: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  white-space: nowrap;
}
.enable-forced-colors .placeholder__1b31f {
  color: GrayText;
}
.theme-dark.custom-theme-background.custom-client-theme .placeholder__1b31f {
  color: color-mix(in oklab, var(--text-default) 40%, transparent);
}
.a-k__65132,
.a-kd__65132,
.a-ke__65132,
.a-kf__65132,
.a-ki__65132,
.a-km__65132,
.a-kp__65132,
.a-kr__65132,
.a-ky__65132,
a-k,
a-kd,
a-ke,
a-kf,
a-ki,
a-km,
a-kp,
a-kr,
a-ky {
  color: var(--text-code-keyword);
}
.a-cn__65132,
.a-kc__65132,
.a-l__65132,
.a-n__65132,
a-cn,
a-kc,
a-l,
a-n {
  color: var(--text-code-number);
}
.a-co__65132,
a-co {
  color: var(--text-code-variable);
}
.a-ko__65132,
.a-o__65132,
a-ko,
a-o {
  color: var(--text-code-operator);
}
.a-cr__65132,
.a-cs__65132,
.a-dd__65132,
.a-f__65132,
.a-fc__65132,
.a-fd__65132,
.a-fm__65132,
.a-kt__65132,
.a-t__65132,
.a-tb__65132,
.a-te__65132,
.a-tf__65132,
.a-tg__65132,
.a-tl__65132,
.a-tq__65132,
.a-tr__65132,
.a-tt__65132,
a-cr,
a-cs,
a-dd,
a-f,
a-fc,
a-fd,
a-fm,
a-kt,
a-t,
a-tb,
a-te,
a-tf,
a-tg,
a-tl,
a-tq,
a-tr,
a-tt {
  color: var(--text-code-title);
}
.a-tt__65132,
a-tt {
  font-weight: 700;
}
.a-tu__65132,
.a-tx__65132,
a-tu,
a-tx {
  color: var(--text-code-title);
  text-decoration: underline;
}
.a-fb__65132,
.a-vb__65132,
a-fb,
a-vb {
  color: var(--text-code-builtin);
}
.a-v__65132,
a-v {
  color: var(--text-code-variable);
}
.a-pr__65132,
.a-vm__65132,
.a-vp__65132,
a-pr,
a-vm,
a-vp {
  color: var(--text-code-title);
}
.a-m__65132,
.a-ns__65132,
a-m,
a-ns {
  color: var(--text-code-namespace);
}
.a-cd__65132,
.a-ch__65132,
.a-s__65132,
.a-sc__65132,
.a-sp__65132,
.a-ss__65132,
.a-st__65132,
a-cd,
a-ch,
a-s,
a-sc,
a-sp,
a-ss,
a-st {
  color: var(--text-code-string);
}
.a-st__65132,
a-st {
  font-weight: 700;
}
.a-rx__65132,
a-rx {
  color: var(--text-code-regexp);
}
.a-se__65132,
a-se {
  color: var(--text-code-escape);
}
.a-c__65132,
.a-dr__65132,
a-c,
a-dr {
  color: var(--text-code-comment);
}
.a-em__65132,
a-em {
  color: var(--text-code);
  font-style: italic;
}
.a-at__65132,
.a-da__65132,
.a-td__65132,
a-at,
a-da,
a-td {
  color: var(--text-code-decorator);
}
.a-eb__65132,
.a-er__65132,
.a-in__65132,
a-eb,
a-er,
a-in {
  color: var(--text-code-error);
}
.a-cb__65132,
.a-ex__65132,
.a-p__65132,
.a-pb__65132,
.a-pd__65132,
.a-pp__65132,
.a-ps__65132,
.a-rp__65132,
a-cb,
a-ex,
a-p,
a-pb,
a-pd,
a-pp,
a-ps,
a-rp {
  color: var(--text-code);
}
.language-diff a-s {
  background-color: var(--background-code-addition);
  color: var(--text-code-addition);
}
.language-diff a-k {
  background-color: var(--background-code-deletion);
  color: var(--text-code-deletion);
}
.ansi__65132 {
  --custom-ansi-color-0: var(--ansi-black);
  --custom-ansi-color-1: var(--ansi-red);
  --custom-ansi-color-2: var(--ansi-green);
  --custom-ansi-color-3: var(--ansi-yellow);
  --custom-ansi-color-4: var(--ansi-blue);
  --custom-ansi-color-5: var(--ansi-magenta);
  --custom-ansi-color-6: var(--ansi-cyan);
  --custom-ansi-color-7: var(--ansi-white);
  --custom-ansi-color-8: var(--ansi-bright-black);
  --custom-ansi-color-9: var(--ansi-bright-red);
  --custom-ansi-color-10: var(--ansi-bright-green);
  --custom-ansi-color-11: var(--ansi-bright-yellow);
  --custom-ansi-color-12: var(--ansi-bright-blue);
  --custom-ansi-color-13: var(--ansi-bright-magenta);
  --custom-ansi-color-14: var(--ansi-bright-cyan);
  --custom-ansi-color-15: var(--ansi-bright-white);
}
.slateContainer_ec4baf {
  position: relative;
}
.slateTextArea_ec4baf {
  box-sizing: border-box;
  inset-inline: 0 10px;
  min-height: var(--custom-channel-textarea-text-area-height);
  padding: calc(
      (
          var(--custom-channel-textarea-text-area-height) -
            var(--chat-markup-line-height)
        ) / 2
    )
    0;
  position: absolute;
}
.enable-forced-colors .placeholder_ec4baf {
  color: GrayText;
}
@use postcss-pxtorem;
.channelTextArea__74017 {
  border: 1px solid var(--border-muted);
  border-radius: var(--radius-sm);
  position: relative;
  text-indent: 0;
  transition: border-color 0.2s ease;
  width: 100%;
}
.channelTextArea__74017:not(.highlighted__74017) {
  transition: box-shadow 0.2s ease;
}
.channelTextArea__74017.error__74017:not(:hover):not(:focus-within) {
  box-shadow: 0 0 0 2px var(--text-feedback-critical);
}
.channelTextArea__74017.highlighted__74017 {
  border: 1px solid var(--border-muted);
  box-shadow: 0 0 0 4px var(--blue-345);
}
.channelTextArea__74017:focus-within {
  border-color: var(--border-subtle);
  box-shadow: none;
}
.focusRing__74017 {
  border-radius: 8px;
}
.scrollableContainer__74017 {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 8px;
  max-height: var(--custom-channel-textarea-text-area-max-height);
  overflow-x: hidden;
  overflow-y: scroll;
}
.themedBackground__74017 {
  background: var(
    --background-gradient-highest,
    var(--chat-background-default)
  );
}
.no-webkit-scrollbar .scrollableContainer__74017 {
  scrollbar-width: none;
}
:where(.custom-theme-background) .channelTextArea__74017 {
  background: var(
    --background-gradient-highest,
    var(--input-background-default)
  );
  border-color: var(--app-frame-border);
}
.refresh-fast-follow-distinct-borders .channelTextArea__74017 {
  border: 1px solid var(--border-subtle);
}
.refresh-fast-follow-distinct-borders .channelTextArea__74017:focus-within {
  border-color: var(--app-frame-border);
}
.sticker__74017 {
  display: block;
}
.disabledButtonWrapper__74017 {
  display: inline-flex;
}
.background-opacity-low .scrollableContainer__74017 {
  background-color: hsl(var(--primary-500-hsl) / 0.5);
}
.background-opacity-low .scrollableContainer__74017 .textArea__74017 {
  color: var(--white);
}
.background-opacity-medium .scrollableContainer__74017 {
  background-color: hsl(var(--primary-500-hsl) / 0.7);
}
.background-opacity-medium .scrollableContainer__74017 .textArea__74017 {
  color: var(--white);
}
.background-opacity-high .scrollableContainer__74017 {
  background-color: hsl(var(--primary-500-hsl) / 0.9);
}
.scrollableContainer__74017::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}
.scrollableContainer__74017::-webkit-scrollbar-thumb,
.scrollableContainer__74017::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: 4px solid transparent;
}
.scrollableContainer__74017::-webkit-scrollbar-track {
  border-width: initial;
}
.scrollableContainer__74017::-webkit-scrollbar-thumb {
  background-color: hsl(var(--primary-800-hsl) / 0.6);
  border-radius: 8px;
}
.channelTextAreaDisabled__74017 .scrollableContainer__74017 {
  opacity: 1;
}
.hasStackedBar__74017 {
  border-start-end-radius: 0;
  border-start-start-radius: 0;
}
.inlineContainer__74017 {
  box-shadow: none;
  --custom-channel-textarea-text-area-height: var(--form-input-height);
  background: var(--input-background-default);
  border-color: var(--input-border-default);
  box-sizing: border-box;
}
.inlineContainer__74017 .themedBackground__74017 {
  background: none;
  border: none;
  height: auto;
}
.inlineContainer__74017 .accessoryBar__74017 {
  align-items: center;
  border-top: none;
  box-sizing: border-box;
  height: var(--custom-channel-textarea-text-area-height);
}
.flushContainer__74017 {
  background: unset;
  border: none;
}
.flushContainer__74017 .inner__74017 {
  padding-inline-start: 0;
}
.flushContainer__74017 .accessoryBar__74017 {
  align-items: flex-start;
  border-top: none;
}
.inner__74017 {
  display: flex;
  padding-inline-start: calc(var(--space-16) - 1px);
  position: relative;
}
.innerDisabled__74017 {
  cursor: not-allowed;
}
.sansAttachButton__74017 {
  padding-inline-start: calc(var(--space-16) - 1px);
}
.sansAttachButtonCreateThread__74017 {
  padding-inline-start: 10px;
}
.sansAttachButtonCreatePost__74017,
.sansAttachButtonUserProfileReply__74017 {
  padding-inline-start: 0;
}
.attachButton__74017 {
  margin-inline: calc((var(--space-xs) + var(--space-6)) * -1) 10px;
}
.textArea__74017 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  color: var(--text-default);
  font-size: 1rem;
  font-weight: var(--font-weight-normal);
  height: var(--custom-channel-textarea-text-area-height);
  line-height: 1.375rem;
  min-height: var(--custom-channel-textarea-text-area-height);
  padding-inline: 0 10px;
  resize: none;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  width: 100%;
}
.textArea__74017::-moz-placeholder {
  color: var(--text-muted);
  overflow: hidden;
  text-overflow: ellipsis;
  -moz-user-select: none;
  user-select: none;
  white-space: nowrap;
}
.textArea__74017::placeholder {
  color: var(--text-muted);
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  white-space: nowrap;
}
.textAreaSlate__74017 {
  box-sizing: border-box;
  padding: 0;
}
.textAreaThreadCreation__74017 {
  min-height: 66px;
}
.profileBioInput__74017 {
  min-height: 100%;
}
.profileBioInput__74017 > div {
  height: 100%;
}
.hiddenAppLauncherAnchor__74017 {
  align-self: center;
  height: 0;
  visibility: hidden;
  width: 0;
}
.overlayInlineReply__74017 {
  height: 100%;
  min-height: 100%;
  padding-inline-end: 0 !important;
}
.textAreaForPostCreation__74017 {
  margin-inline-start: 0 !important;
  padding: 0 !important;
}
.textAreaForOverlayInlineReply__74017,
.textAreaForUserProfile__74017 {
  font-size: 0.875rem;
}
.textAreaCustomGift__74017[role="textbox"] {
  box-sizing: border-box;
  height: 100%;
  position: absolute !important;
}
@media (-webkit-max-device-pixel-ratio: 1) {
  .theme-light .textArea__74017 {
    font-weight: var(--font-weight-medium);
  }
}
.textAreaDisabled__74017 {
  pointer-events: none;
}
.buttons__74017 {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--space-8);
  height: var(--custom-channel-textarea-text-area-height);
  margin-inline-end: 6px;
  position: sticky;
  top: 0;
}
.has-webkit-scrollbar .buttons__74017 {
  margin-inline-end: 0;
}
.buttonContainer__74017 {
  align-items: center;
  display: flex;
}
.button__74017 {
  box-sizing: border-box;
  margin-inline: 0;
  min-height: var(--space-32);
  min-width: var(--space-32);
  padding: 0;
}
.emojiButton__74017 {
  border-radius: 8px;
  transition-duration: 0.2s;
}
.emojiButton__74017:hover {
  background-color: var(--interactive-background-selected);
}
.stickerIcon__74017 {
  height: 20px !important;
  width: 20px !important;
}
.stickerButton__74017 {
  transition:
    background-color 0.2s,
    transform 0.2s;
}
.stickerButtonWithNotification__74017 {
  margin-top: 1px;
  padding-inline: 2px;
}
@keyframes wiggle__74017 {
  0% {
    transform: rotate(0);
  }
  30% {
    transform: rotate(8deg);
  }
  40% {
    transform: rotate(8deg);
  }
  80% {
    transform: rotate(-6deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.floatingBars__74017 {
  margin-bottom: 0;
  min-height: 0;
}
.floatingBars__74017 .newMemberActionBar__74017 {
  margin-inline: 0;
}
.stackedBars__74017 {
  background: var(--background-surface-higher);
}
.stackedBars__74017 > :not(:last-child) {
  border-bottom: 1px solid var(--border-subtle);
}
.stackedBars__74017:first-child {
  border-start-end-radius: var(--radius-sm);
  border-start-start-radius: var(--radius-sm);
}
.floatingBars__74017:empty + .stackedBars__74017:nth-child(2) {
  border-start-end-radius: var(--radius-sm);
  border-start-start-radius: var(--radius-sm);
}
.stackedBars__74017:not(:last-child) {
  border-bottom: 1px solid var(--border-subtle);
}
.sparkles__74017 {
  height: 150%;
  inset-inline-start: -10px;
  position: absolute;
  top: -10px;
  width: 150%;
}
.expressionPickerPositionLayer__74017 {
  inset-inline-start: 86px;
}
.theme-dark.custom-theme-background .stackedBars__74017 {
  background: var(--background-gradient-lowest, var(--background-base-lower));
}
.theme-dark.custom-theme-background .textAreaMobileThemed__74017 {
  margin-top: 16px;
}
.theme-light.custom-theme-background .stackedBars__74017 {
  background: var(--background-gradient-lower, var(--background-base-lower));
}
.theme-light.custom-theme-background .textAreaMobileThemed__74017 {
  margin-top: 16px;
}
.theme-brand .inner__74017 {
  background-color: var(--brand-400);
}
.theme-brand .textArea__74017 {
  color: var(--opacity-white-68);
}
.theme-brand .textArea__74017::-moz-placeholder {
  color: var(--opacity-white-28);
}
.theme-brand .textArea__74017::placeholder {
  color: var(--opacity-white-28);
}
.textArea__74017:not(.textAreaSlate__74017) {
  box-sizing: border-box;
  min-height: var(--custom-channel-textarea-text-area-height);
  padding: calc(
      (
          var(--custom-channel-textarea-text-area-height) -
            var(--chat-markup-line-height)
        ) / 2
    )
    0;
}
.enable-forced-colors .scrollableContainer__74017 {
  overflow-y: auto;
  padding-inline-end: 12px;
}
.enable-forced-colors .scrollableContainer__74017::-webkit-scrollbar {
  width: 8px;
}
.enable-forced-colors .scrollableContainer__74017::-webkit-scrollbar-track {
  border-radius: 0 8px 8px 0;
}
.enable-forced-colors .scrollableContainer__74017::-webkit-scrollbar-thumb,
.enable-forced-colors .scrollableContainer__74017::-webkit-scrollbar-track {
  border-width: 1px;
}
.enable-forced-colors .scrollableContainer__74017::-webkit-scrollbar-thumb {
  background-color: CanvasText;
}
.announcementScrollableContainer__74017 {
  max-height: calc(var(--custom-channel-textarea-text-area-max-height) + 80px);
}
.closeButton_e876a8 {
  color: var(--interactive-text-default);
  cursor: pointer;
  flex: 0 0 auto;
  line-height: 0;
  padding-block: 8px;
  padding-inline: var(--space-12);
}
.closeButton_e876a8:hover {
  color: var(--interactive-text-hover);
}
.closeIcon_e876a8 {
  height: 16px;
  width: 16px;
}
.clipContainer__841c8 {
  margin-top: 0;
  overflow: hidden;
  padding-top: 3px;
}
.container__841c8 {
  display: flex;
  flex-direction: column;
}
.replyBar__841c8,
.threadSuggestionBar__841c8 {
  background: var(--background-base-lower);
  background-color: unset;
  border-bottom: none;
  cursor: pointer;
}
.theme-dark.custom-theme-background .replyBar__841c8,
.theme-dark.custom-theme-background .threadSuggestionBar__841c8 {
  background: var(--background-gradient-lowest, var(--background-base-lower));
}
.theme-light.custom-theme-background .replyBar__841c8,
.theme-light.custom-theme-background .threadSuggestionBar__841c8 {
  background: var(--background-gradient-lower, var(--background-base-lower));
}
.replyBar__841c8 {
  align-items: center;
  border-start-end-radius: 8px;
  border-start-start-radius: 8px;
  display: grid;
  grid-template-columns: 1fr auto;
}
.threadSuggestionBar__841c8 {
  border-top: 1px solid var(--border-subtle);
  box-shadow: 0 3px 0 var(--background-base-lower);
  display: flex;
  flex-direction: row;
  padding-bottom: 7px;
  padding-top: 7px;
}
.text__841c8 {
  margin-inline-start: var(--space-16);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.replyLabel__841c8 {
  flex: 1 1 auto;
}
.name__841c8 {
  font-weight: var(--font-weight-semibold);
}
.actions__841c8 {
  flex: 0 0 auto;
  margin-inline-end: var(--space-4);
}
.actions__841c8,
.mentionButton__841c8 {
  align-items: center;
  display: flex;
}
.mentionButton__841c8 {
  cursor: pointer;
  padding: 8px 12px;
  text-transform: uppercase;
}
.mentionIcon__841c8 {
  height: 16px;
  margin-inline-end: 4px;
  width: 16px;
}
.separator__841c8 {
  background-color: var(--border-subtle);
  height: 20px;
  width: 1px;
}
.createThreadButton__841c8 {
  margin-inline: 8px;
  white-space: nowrap;
}

/*# sourceMappingURL=84550.71cc8ea1baad4670.css.map*/
