.container__2bb7a {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 600px;
  padding: 16px;
}
.controls__2bb7a {
  width: 100%;
}
.heading__2bb7a {
  margin-bottom: 16px;
}
.row__2bb7a {
  align-items: center;
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}
.divider__2bb7a {
  margin-bottom: 16px;
}
.label__2bb7a {
  margin-bottom: 4px;
}
.modeSelector__2bb7a,
.slider__2bb7a {
  margin-bottom: 16px;
}
.modeSelector__2bb7a {
  display: flex;
  gap: 4px;
}
.modeButton__2bb7a {
  background: var(--background-mod-subtle);
  border: none;
  border-radius: 4px;
  color: var(--text-default);
  cursor: pointer;
  flex: 1;
  font-size: 13px;
  font-weight: 500;
  padding: 6px 0;
  transition: background 0.1s;
}
.modeButton__2bb7a:hover {
  background: var(--interactive-background-hover);
}
.modeButtonActive__2bb7a {
  background: var(--brand-500);
  color: var(--white);
}
.modeButtonActive__2bb7a:hover {
  background: var(--brand-560);
}
.visualizer__2bb7a {
  aspect-ratio: 1/1;
  box-shadow: var(--shadow-border);
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
  touch-action: none;
}
.canvas__2bb7a,
.visualizer__2bb7a {
  border-radius: 4px;
  width: 100%;
}
.canvas__2bb7a {
  display: block;
  height: 100%;
}
.avatar__2bb7a {
  height: 24px;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 24px;
}
.menu_f727ab {
  width: 330px;
}
.active_f42222 {
  background-color: var(--control-secondary-background-hover);
}
.activeIcon_f42222 {
  color: var(--text-link);
}
.scroller__68617 {
  margin-inline: -3px -7px;
  max-height: 132px;
  min-height: 24px;
  padding-block: 4px;
  padding-inline: 4px 0;
  padding-bottom: 0;
  padding-top: 0;
}
.scroller__68617.expanded__68617 {
  margin-bottom: 4px;
}
.voiceUsers__68617 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  width: 100%;
}
.voiceUsers__68617.collapsed__68617 {
  flex-wrap: nowrap;
}
.avatarContainer__68617 {
  border-radius: 50%;
  flex-shrink: 0;
  overflow: hidden;
}
.avatar__68617 {
  background-size: 100%;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 24px;
  width: 24px;
}
.avatarIconOverlay__68617 {
  background-color: var(--opacity-black-28);
  color: var(--white);
  padding: 4px;
}
.avatarIconRed__68617 {
  color: var(--red-400);
}
.partnerBranding__83420 {
  align-items: center;
  display: flex;
  flex: 0 1 auto;
}
.partnerBrandingGameTile__83420 {
  display: block;
  flex: 0 0 auto;
  margin-inline-end: 8px;
}
.partnerBrandingLogotype__83420 {
  height: 24px;
  max-width: 92px;
  -o-object-fit: contain;
  object-fit: contain;
}
.partnerBrandingLogotypeWithCosponsor__83420 {
  flex: 0 0 auto;
  max-width: 44px;
}
.cosponsorBrandSeparatorWrapper__83420 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
}
.cosponsorBrandSeparator__83420 {
  height: 12px;
  width: 12px;
}
.container_b5b7aa {
  background-color: var(--background-surface-high);
  border-radius: 8px 8px 0 0;
  box-sizing: border-box;
  height: 150px;
  position: relative;
  width: 100%;
}
.positionContentOverBackground_b5b7aa {
  inset-inline-start: 0;
  position: absolute;
  top: 0;
  z-index: 2;
}
.contents_b5b7aa,
.positionContentOverBackground_b5b7aa {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.contents_b5b7aa {
  box-sizing: border-box;
  padding: 12px;
}
.heroAssetWrapper_b5b7aa {
  align-items: center;
  border-radius: 8px 8px 0 0;
  display: flex;
  height: 100%;
  inset-inline-start: 0;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.heroAssetCont_b5b7aa,
.overlay_b5b7aa {
  aspect-ratio: 1320/370;
}
.overlay_b5b7aa {
  background: linear-gradient(
    to top,
    var(--background-surface-high) 0,
    color-mix(in oklab, var(--background-surface-high) 95%, transparent) 20.31%,
    transparent 100%
  );
  border-radius: 8px 8px 0 0;
  inset-inline-start: 0;
  max-height: 150px;
  position: absolute;
  top: 0;
  z-index: 1;
}
.heroImage_b5b7aa,
.overlay_b5b7aa {
  width: 100%;
}
.topRow_b5b7aa {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: flex-end;
}
.pills_b5b7aa {
  margin-inline-end: auto;
}
.pills_b5b7aa,
.utilButtonWrapper_b5b7aa {
  align-items: center;
  display: flex;
}
.utilButtonWrapper_b5b7aa {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background-color: hsl(var(--primary-700-hsl) / 0.48);
  border-radius: 50%;
  box-shadow: var(--shadow-medium);
  cursor: pointer;
  height: 24px;
  justify-content: center;
  justify-self: flex-end;
  transition: background-color 0.15s ease-in-out;
  width: 24px;
}
.utilButtonWrapper_b5b7aa:active,
.utilButtonWrapper_b5b7aa:focus,
.utilButtonWrapper_b5b7aa:hover {
  background-color: hsl(var(--primary-700-hsl) / 0.7);
}
.theme-light .container_b5b7aa {
  background-color: var(--black);
}
.theme-light .overlay_b5b7aa {
  background: linear-gradient(
    to top,
    var(--black) 0,
    hsl(var(--black-hsl) / 0.5) 20.31%,
    hsl(var(--black-hsl) / 0) 100%
  );
}
.theme-light .utilButtonWrapper_b5b7aa {
  background-color: hsl(var(--primary-100-hsl) / 0.66);
}
.theme-light .utilButtonWrapper_b5b7aa:active,
.theme-light .utilButtonWrapper_b5b7aa:focus,
.theme-light .utilButtonWrapper_b5b7aa:hover {
  background-color: hsl(var(--primary-100-hsl) / 1);
}
.reduce-motion .utilButtonWrapper_b5b7aa {
  transition: none;
}
.utilButtonIcon_b5b7aa {
  color: var(--interactive-text-active);
  height: 16px;
  width: 16px;
}
.utilButtonIconInformation_b5b7aa {
  color: var(--interactive-text-active);
  height: 14px;
  width: 14px;
}
.partnerBranding_b5b7aa {
  justify-self: flex-end;
  margin-bottom: 4px;
  margin-top: auto;
}
.partnerLogotypes_b5b7aa.partnerLogotypes_b5b7aa {
  align-items: flex-end;
  display: flex;
  height: auto;
  justify-content: flex-start;
  max-height: 34px;
  max-width: 121px;
  width: -moz-min-content;
  width: min-content;
}
.bottomRow_b5b7aa,
.hints_b5b7aa {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.hints_b5b7aa {
  border-top: 1px solid var(--border-muted);
  padding: 12px;
}
.hintsContainer_b5b7aa {
  gap: 8px;
}
.hintsContainer_b5b7aa,
.promotedByRow_b5b7aa {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.verifiedIcon_b5b7aa {
  margin: 0 3px;
}
.container_cec934 {
  align-items: center;
  background-color: var(--background-surface-high);
  border: 1px solid var(--border-muted);
  border-radius: 10px;
  box-shadow: var(--shadow-low);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  max-height: 316px;
  min-width: 336px;
  overflow: hidden;
  width: 100%;
}
.questEmbedCard__4d6dc {
  isolation: isolate;
  max-width: 425px;
}
.spinner__255ba {
  margin-top: 40px;
}
.rewardTileContainer_d8917e {
  position: relative;
  transform-origin: left top;
}
.rewardTileSpacer_d8917e {
  width: 56px;
}
.rewardTile_d8917e {
  margin-inline-end: 12px;
}
.rewardHighlightLogoCTA_d8917e {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
}
.rewardHighlightLogoCTALabel_d8917e {
  align-items: center;
  flex: 1;
  flex-direction: row;
  gap: 8px;
  min-width: 0;
  width: 100%;
}
.partnerBranding_d8917e {
  margin-bottom: 4px;
}
.rewardHighlightCTA_d8917e {
  pointer-events: none;
}
.rewardHighlightCTALabel_d8917e {
  background-color: rgba(0, 0, 0, 0.329);
  border-radius: var(--radius-xl);
  max-width: 100%;
  min-width: 0;
  padding: 7px 12px;
  pointer-events: none;
}
.isExpanded_d8917e {
  flex-direction: row;
  height: 24px;
}
.wrapper__8c034 {
  align-items: center;
  border-radius: inherit;
  display: flex;
  position: absolute;
  top: 0;
  inset-inline: 0;
  justify-content: space-between;
  padding: 4px 8px;
  pointer-events: none;
  z-index: 4;
}
.opaqueExpandedBackground__8c034 {
  -webkit-backdrop-filter: blur(10px) brightness(0.75);
  backdrop-filter: blur(10px) brightness(0.75);
  border-radius: 8px;
  height: 32px;
  position: absolute;
  top: 8px;
  inset-inline: 8px;
}
.high-contrast-mode .opaqueExpandedBackground__8c034 {
  -webkit-backdrop-filter: blur(10px) brightness(0.25);
  backdrop-filter: blur(10px) brightness(0.25);
}
.rewardHighlightWrapper__8c034 {
  justify-content: flex-start;
}
.interactable__8c034 {
  pointer-events: all;
}
.wreathIcon__8c034 {
  height: 24px;
  margin-inline: -4px 4px;
  width: 24px;
}
.rightContent__8c034 {
  flex: 0 0 auto;
  height: 20px;
  margin-inline-start: 12px;
  position: relative;
  width: 20px;
}
.rightContent__8c034:before {
  background-color: var(--opacity-white-40);
  content: "";
  height: 12px;
  inset-inline-start: 0;
  position: absolute;
  top: 50%;
  transform: translate(-6px, -50%);
  width: 1px;
}
.submenuWrapper__8c034 {
  cursor: pointer;
  transition: opacity 0.125s;
}
.submenuWrapper__8c034:focus,
.submenuWrapper__8c034:hover {
  opacity: 0.8;
}
.submenuWrapper__8c034:active {
  opacity: 0.7;
}
.submenuIcon__8c034 {
  height: 16px;
  inset-inline-start: 2px;
  position: absolute;
  top: 2px;
  width: 16px;
}
.white__8c034 {
  color: var(--white);
}
.promotedBadgeWrapper__8c034 {
  display: flex;
  flex: 0 0 auto;
  inset-inline-end: 16px;
  position: absolute;
  top: 14px;
}
.logo__8c034 {
  transition: opacity 0.125s;
}
.logo__8c034.clickable__8c034 {
  cursor: pointer;
}
.logo__8c034.clickable__8c034:hover {
  opacity: 0.8;
}
.promotedBadge__8c034 {
  cursor: pointer;
  display: flex;
  flex: 1 0 auto;
  gap: 3px;
  place-items: center;
  transition: opacity 0.125s;
}
.promotedBadge__8c034:hover {
  opacity: 0.8;
}
.promotedBadgeIcon__8c034 {
  flex: 0 0 auto;
  height: 12px;
  width: 12px;
}
.background__8c034 {
  background-color: transparent;
}
.backgroundAnimation__8c034 {
  opacity: 0.5;
}
.backgroundWrapper__8c034 {
  pointer-events: none;
}
.rewardHighlightLogotypeHeightBoost__8c034 {
  height: 32px;
  max-width: 130px;
}
.rewardHighlightLogotype__8c034 {
  height: 24px;
}
.partnerBranding__8c034 {
  transform-origin: left;
}
.ctaButtons_cc03e1 {
  align-items: end;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.cta_cc03e1 {
  flex: 1;
  margin-top: 12px;
}
.copyIcon_cc03e1 {
  margin-inline-start: 8px;
}
.iconButtonLarge_cc03e1 {
  align-items: center;
  background-color: var(--interactive-background-hover);
  display: flex;
  flex: 1 0 0;
  height: 32px;
  justify-content: center;
  padding: 8px;
}
.iconButtonLarge_cc03e1:hover {
  background-color: var(--background-mod-subtle);
}
.iconButton_cc03e1 {
  background-color: var(--interactive-background-hover);
  padding: 8px;
}
.iconButton_cc03e1:hover {
  background-color: var(--background-mod-subtle);
}
.iconButtonInner_cc03e1 {
  align-items: center;
  color: var(--interactive-text-default);
  display: flex;
}
.wrapper_c4293b {
  overflow: hidden;
  pointer-events: none;
  z-index: 4;
}
.background_c4293b,
.wrapper_c4293b {
  border-radius: 8px 8px 0 0;
  height: 100%;
  inset-inline-start: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.background_c4293b {
  background-image: linear-gradient(
    180deg,
    rgba(45, 199, 113, 0.05),
    rgba(45, 199, 113, 0.1)
  );
}
.borders_c4293b {
  border: 0 solid var(--text-feedback-positive);
  border-radius: 8px 8px 0 0;
  box-sizing: border-box;
  content: "";
  height: 100%;
  inset-inline-start: 0;
  -webkit-mask-image: linear-gradient(
    115deg,
    rgba(0, 0, 0, 0.25),
    transparent 70%
  );
  mask-image: linear-gradient(115deg, rgba(0, 0, 0, 0.25), transparent 70%);
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.bordersTopLeft_c4293b {
  border-left-width: 2px;
  border-top-width: 2px;
}
.bordersBottom_c4293b {
  border-bottom-width: 2px;
  inset-inline-start: 2px;
}
.confetti_c4293b,
.confettiWrapper_c4293b {
  height: 100%;
  inset-inline-start: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.confetti_c4293b {
  border-radius: 8px 8px 0 0;
}
.questProgressWrapper_ae7810 {
  align-items: center;
  display: flex;
  gap: 8px;
}
.questProgressCopy_ae7810,
.questProgressHint_ae7810 {
  flex: 1 1 auto;
}
.questAcceptedHeader__1ba69 {
  display: flex;
  flex-direction: row;
}
.flex__1ba69 {
  flex: 1;
}
.headerText__1ba69 {
  opacity: 0.7;
}
.submenuWrapper__1ba69 {
  cursor: pointer;
  flex: 0 0 auto;
  height: 20px;
  opacity: 0.9;
  position: relative;
  transition: opacity 0.125s;
  width: 20px;
}
.submenuWrapper__1ba69:focus,
.submenuWrapper__1ba69:hover {
  opacity: 1;
}
.submenuWrapper__1ba69:active {
  opacity: 0.7;
}
.questAcceptedHeader__1ba69 .submenuWrapper__1ba69 {
  height: 24px;
  width: 24px;
}
.submenuIcon__1ba69 {
  height: 16px;
  inset-inline-start: 2px;
  position: absolute;
  top: 2px;
  width: 16px;
}
.questAcceptedHeader__1ba69 .submenuIcon__1ba69 {
  inset-inline-start: 0;
  top: 0;
}
.interactiveNormal__1ba69 {
  color: var(--interactive-text-default);
}
.divider__1ba69 {
  background-color: var(--interactive-background-hover);
  height: 1px;
  margin-bottom: 12px;
  width: 100%;
}
.contentCollapsed__7004f {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  padding: 0;
  width: 100%;
  z-index: 2;
}
.contentCollapsedWrapper__7004f {
  flex: 1 1 auto;
  position: relative;
  z-index: 2;
}
.contentCollapsedAccepted__7004f {
  padding: 14px 12px;
}
.contentCollapsedExpanded__7004f {
  pointer-events: none;
}
.divider__7004f {
  background-color: var(--interactive-background-hover);
  height: 1px;
  margin-bottom: 12px;
  width: 100%;
}

/*# sourceMappingURL=85791.fce5333c0f3f439e.css.map*/
