.card_c3d27e {
  align-items: center;
  background-color: var(--background-mod-subtle);
  border-radius: var(--radius-md);
  display: flex;
  gap: var(--space-12);
  padding: var(--space-16);
}
.cardInfo_c3d27e {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 0;
}
.statusRow_c3d27e {
  align-items: center;
  display: flex;
  gap: var(--space-4);
  overflow: hidden;
  white-space: nowrap;
}
.statusLabel_c3d27e {
  flex-shrink: 0;
}
.guildSummary_c3d27e {
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.clickable_c3d27e {
  cursor: pointer;
}
.trailingIcons_c3d27e {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  gap: var(--space-4);
}
.chevronButton__5ae61 {
  cursor: pointer;
  padding: 0;
  width: 100%;
}
.chevronButton__5ae61,
.chevronButtonContent__5ae61 {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.chevronButtonContent__5ae61 {
  flex: 1;
  height: 20px;
}
.customizeLink__5ae61 {
  cursor: pointer;
}
.wrapper_fa8995 {
  background-color: var(--modal-background);
  border-radius: 8px;
  box-shadow: var(--shadow-high);
  box-sizing: border-box;
  padding: 16px;
  position: relative;
  width: 240px;
}
.gradient_fa8995 {
  border-radius: 8px;
  height: 100%;
  inset-inline-start: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.theme-dark .gradient_fa8995 {
  background: radial-gradient(
      75% 75% at 0 0,
      rgba(62, 22, 137, 0.8) 0,
      transparent 100%
    ),
    radial-gradient(
      70% 50% at 100% 0,
      rgba(160, 86, 242, 0.4) 0,
      transparent 100%
    );
}
.theme-light .gradient_fa8995 {
  background: radial-gradient(
      75% 75% at 0 0,
      rgba(159, 86, 242, 0.4) 0,
      transparent 100%
    ),
    radial-gradient(
      70% 50% at 100% 0,
      rgba(222, 194, 252, 0.5) 0,
      transparent 100%
    );
}
.content_fa8995 {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}
.closeButton_fa8995 {
  inset-inline-end: 4px;
  position: absolute;
  top: 4px;
}
.controllerImage_fa8995 {
  height: 78px;
  margin-top: 8px;
  width: 140px;
}
.nuxTitle_fa8995 {
  margin-top: 12px;
  text-align: center;
  width: 180px;
}
.nuxContent_fa8995 {
  margin-top: 4px;
  text-align: center;
}
.controlTitle_fa8995 {
  align-self: flex-start;
}
.toggleContainerWrapper_fa8995 {
  background-color: var(--background-base-lower);
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 12px;
  padding: 12px;
  width: 100%;
}
.toggleContainer_fa8995 {
  align-items: center;
  box-sizing: border-box;
  color: var(--text-strong);
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  width: 100%;
}
.toggleContainerOnlineRow_fa8995 {
  align-items: center;
  display: flex;
  gap: 4px;
}
.toggleContainerText_fa8995 {
  display: flex;
  flex-direction: column;
}
.goOnlineButton_fa8995 {
  margin-top: 20px;
  width: 100%;
}
.divider_fa8995 {
  margin: 16px 0;
}
.wrapper_a629d4 {
  position: relative;
}
.icon_a629d4,
.wrapper_a629d4 {
  height: 32px;
  width: 32px;
}
.icon_a629d4 {
  border-radius: 4px;
  color: var(--white);
  display: block;
  flex-shrink: 0;
  font-weight: var(--font-weight-bold);
  line-height: 34px;
  text-align: center;
  text-transform: uppercase;
}
.badge_a629d4 {
  bottom: -2px;
  color: var(--text-strong);
  height: 14px;
  inset-inline-end: -1px;
  position: absolute;
  width: 14px;
}
.text__87e56 {
  color: var(--premium-nitro-pink-text);
}

/*# sourceMappingURL=881849.61a8d7814d0acc78.css.map*/
