.icon_a9c2d1 {
  margin-inline-end: 0.1rem;
}
.svgContentRight__7b484 {
  fill: var(--background-base-low);
}
.svgContentLeft__7b484 {
  fill: var(--background-base-lowest);
}
.svgContentLines__7b484,
.svgDots__7b484 {
  fill: var(--background-mod-strong);
}
.svgTag__7b484 {
  fill: var(--text-subtle);
}
.heading-sm\/normal__124c8 {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2857142857142858;
}
.heading-sm\/normal__124c8.fontScaling__124c8 {
  font-size: 0.875rem;
}
.heading-sm\/medium__124c8 {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2857142857142858;
}
.heading-sm\/medium__124c8.fontScaling__124c8 {
  font-size: 0.875rem;
}
.heading-sm\/semibold__124c8 {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
.heading-sm\/semibold__124c8.fontScaling__124c8 {
  font-size: 0.875rem;
}
.heading-sm\/bold__124c8 {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2857142857142858;
}
.heading-sm\/bold__124c8.fontScaling__124c8 {
  font-size: 0.875rem;
}
.heading-sm\/extrabold__124c8 {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 800;
  line-height: 1.2857142857142858;
}
.heading-sm\/extrabold__124c8.fontScaling__124c8 {
  font-size: 0.875rem;
}
.heading-md\/normal__124c8 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}
.heading-md\/normal__124c8.fontScaling__124c8 {
  font-size: 1rem;
}
.heading-md\/medium__124c8 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}
.heading-md\/medium__124c8.fontScaling__124c8 {
  font-size: 1rem;
}
.heading-md\/semibold__124c8 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
.heading-md\/semibold__124c8.fontScaling__124c8 {
  font-size: 1rem;
}
.heading-md\/bold__124c8 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
}
.heading-md\/bold__124c8.fontScaling__124c8 {
  font-size: 1rem;
}
.heading-md\/extrabold__124c8 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 800;
  line-height: 1.25;
}
.heading-md\/extrabold__124c8.fontScaling__124c8 {
  font-size: 1rem;
}
.heading-lg\/normal__124c8 {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}
.heading-lg\/normal__124c8.fontScaling__124c8 {
  font-size: 1.25rem;
}
.heading-lg\/medium__124c8 {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
.heading-lg\/medium__124c8.fontScaling__124c8 {
  font-size: 1.25rem;
}
.heading-lg\/semibold__124c8 {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}
.heading-lg\/semibold__124c8.fontScaling__124c8 {
  font-size: 1.25rem;
}
.heading-lg\/bold__124c8 {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}
.heading-lg\/bold__124c8.fontScaling__124c8 {
  font-size: 1.25rem;
}
.heading-lg\/extrabold__124c8 {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 800;
  line-height: 1.2;
}
.heading-lg\/extrabold__124c8.fontScaling__124c8 {
  font-size: 1.25rem;
}
.heading-xl\/normal__124c8 {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 400;
  line-height: 1.25;
}
.heading-xl\/normal__124c8.fontScaling__124c8 {
  font-size: 1.5rem;
}
.heading-xl\/medium__124c8 {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.25;
}
.heading-xl\/medium__124c8.fontScaling__124c8 {
  font-size: 1.5rem;
}
.heading-xl\/semibold__124c8 {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
}
.heading-xl\/semibold__124c8.fontScaling__124c8 {
  font-size: 1.5rem;
}
.heading-xl\/bold__124c8 {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
}
.heading-xl\/bold__124c8.fontScaling__124c8 {
  font-size: 1.5rem;
}
.heading-xl\/extrabold__124c8 {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 800;
  line-height: 1.25;
}
.heading-xl\/extrabold__124c8.fontScaling__124c8 {
  font-size: 1.5rem;
}
.heading-xxl\/normal__124c8 {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 400;
  line-height: 1.25;
}
.heading-xxl\/normal__124c8.fontScaling__124c8 {
  font-size: 2rem;
}
.heading-xxl\/medium__124c8 {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 500;
  line-height: 1.25;
}
.heading-xxl\/medium__124c8.fontScaling__124c8 {
  font-size: 2rem;
}
.heading-xxl\/semibold__124c8 {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
}
.heading-xxl\/semibold__124c8.fontScaling__124c8 {
  font-size: 2rem;
}
.heading-xxl\/bold__124c8 {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 700;
  line-height: 1.25;
}
.heading-xxl\/bold__124c8.fontScaling__124c8 {
  font-size: 2rem;
}
.heading-xxl\/extrabold__124c8 {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 800;
  line-height: 1.25;
}
.heading-xxl\/extrabold__124c8.fontScaling__124c8 {
  font-size: 2rem;
}
.experimental\/heading-xs\/medium__124c8 {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2857142857142858;
}
.experimental\/heading-xs\/medium__124c8.fontScaling__124c8 {
  font-size: 0.875rem;
}
.experimental\/heading-xs\/semibold__124c8 {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
.experimental\/heading-xs\/semibold__124c8.fontScaling__124c8 {
  font-size: 0.875rem;
}
.experimental\/heading-sm\/medium__124c8 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}
.experimental\/heading-sm\/medium__124c8.fontScaling__124c8 {
  font-size: 1rem;
}
.experimental\/heading-sm\/semibold__124c8 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
.experimental\/heading-sm\/semibold__124c8.fontScaling__124c8 {
  font-size: 1rem;
}
.experimental\/heading-md\/medium__124c8 {
  font-family: var(--font-display);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2222222222222223;
}
.experimental\/heading-md\/medium__124c8.fontScaling__124c8 {
  font-size: 1.125rem;
}
.experimental\/heading-md\/semibold__124c8 {
  font-family: var(--font-display);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2222222222222223;
}
.experimental\/heading-md\/semibold__124c8.fontScaling__124c8 {
  font-size: 1.125rem;
}
.experimental\/heading-lg\/medium__124c8 {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
.experimental\/heading-lg\/medium__124c8.fontScaling__124c8 {
  font-size: 1.25rem;
}
.experimental\/heading-lg\/semibold__124c8 {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}
.experimental\/heading-lg\/semibold__124c8.fontScaling__124c8 {
  font-size: 1.25rem;
}
.experimental\/heading-xl\/medium__124c8 {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
.experimental\/heading-xl\/medium__124c8.fontScaling__124c8 {
  font-size: 1.5rem;
}
.experimental\/heading-xl\/semibold__124c8 {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
.experimental\/heading-xl\/semibold__124c8.fontScaling__124c8 {
  font-size: 1.5rem;
}
.experimental\/heading-xxl\/medium__124c8 {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 500;
  line-height: 1.25;
}
.experimental\/heading-xxl\/medium__124c8.fontScaling__124c8 {
  font-size: 2rem;
}
.experimental\/heading-xxl\/semibold__124c8 {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
}
.experimental\/heading-xxl\/semibold__124c8.fontScaling__124c8 {
  font-size: 2rem;
}
.eyebrow__124c8 {
  font-family: var(--font-display);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.3333333333333333;
  text-transform: uppercase;
}
.eyebrow__124c8.fontScaling__124c8 {
  font-size: 0.75rem;
}
.heading-deprecated-12\/normal__124c8 {
  font-family: var(--font-display);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
.heading-deprecated-12\/normal__124c8.fontScaling__124c8 {
  font-size: 0.75rem;
}
.heading-deprecated-12\/medium__124c8 {
  font-family: var(--font-display);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
.heading-deprecated-12\/medium__124c8.fontScaling__124c8 {
  font-size: 0.75rem;
}
.heading-deprecated-12\/semibold__124c8 {
  font-family: var(--font-display);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
.heading-deprecated-12\/semibold__124c8.fontScaling__124c8 {
  font-size: 0.75rem;
}
.heading-deprecated-12\/bold__124c8 {
  font-family: var(--font-display);
  font-size: 12px;
  font-weight: 700;
  line-height: 1.3333333333333333;
}
.heading-deprecated-12\/bold__124c8.fontScaling__124c8 {
  font-size: 0.75rem;
}
.heading-deprecated-12\/extrabold__124c8 {
  font-family: var(--font-display);
  font-size: 12px;
  font-weight: 800;
  line-height: 1.3333333333333333;
}
.heading-deprecated-12\/extrabold__124c8.fontScaling__124c8 {
  font-size: 0.75rem;
}
.redesign\/heading-18\/medium__124c8 {
  font-family: var(--font-display);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
.redesign\/heading-18\/medium__124c8.fontScaling__124c8 {
  font-size: 1.125rem;
}
.redesign\/heading-18\/semibold__124c8 {
  font-family: var(--font-display);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
.redesign\/heading-18\/semibold__124c8.fontScaling__124c8 {
  font-size: 1.125rem;
}
.redesign\/heading-18\/bold__124c8 {
  font-family: var(--font-display);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3333333333333333;
}
.redesign\/heading-18\/bold__124c8.fontScaling__124c8 {
  font-size: 1.125rem;
}
.text-xxs\/normal__124c8 {
  font-family: var(--font-primary);
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
}
.text-xxs\/normal__124c8.fontScaling__124c8 {
  font-size: 0.625rem;
}
.text-xxs\/medium__124c8 {
  font-family: var(--font-primary);
  font-size: 10px;
  font-weight: 500;
  line-height: 1.2;
}
.text-xxs\/medium__124c8.fontScaling__124c8 {
  font-size: 0.625rem;
}
.text-xxs\/semibold__124c8 {
  font-family: var(--font-primary);
  font-size: 10px;
  font-weight: 600;
  line-height: 1.2;
}
.text-xxs\/semibold__124c8.fontScaling__124c8 {
  font-size: 0.625rem;
}
.text-xxs\/bold__124c8 {
  font-family: var(--font-primary);
  font-size: 10px;
  font-weight: 700;
  line-height: 1.2;
}
.text-xxs\/bold__124c8.fontScaling__124c8 {
  font-size: 0.625rem;
}
.text-xs\/normal__124c8 {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
.text-xs\/normal__124c8.fontScaling__124c8 {
  font-size: 0.75rem;
}
.text-xs\/medium__124c8 {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
.text-xs\/medium__124c8.fontScaling__124c8 {
  font-size: 0.75rem;
}
.text-xs\/semibold__124c8 {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
.text-xs\/semibold__124c8.fontScaling__124c8 {
  font-size: 0.75rem;
}
.text-xs\/bold__124c8 {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 700;
  line-height: 1.3333333333333333;
}
.text-xs\/bold__124c8.fontScaling__124c8 {
  font-size: 0.75rem;
}
.text-sm\/normal__124c8 {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2857142857142858;
}
.text-sm\/normal__124c8.fontScaling__124c8 {
  font-size: 0.875rem;
}
.text-sm\/medium__124c8 {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2857142857142858;
}
.text-sm\/medium__124c8.fontScaling__124c8 {
  font-size: 0.875rem;
}
.text-sm\/semibold__124c8 {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
.text-sm\/semibold__124c8.fontScaling__124c8 {
  font-size: 0.875rem;
}
.text-sm\/bold__124c8 {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2857142857142858;
}
.text-sm\/bold__124c8.fontScaling__124c8 {
  font-size: 0.875rem;
}
.text-md\/normal__124c8 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}
.text-md\/normal__124c8.fontScaling__124c8 {
  font-size: 1rem;
}
.text-md\/medium__124c8 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}
.text-md\/medium__124c8.fontScaling__124c8 {
  font-size: 1rem;
}
.text-md\/semibold__124c8 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
.text-md\/semibold__124c8.fontScaling__124c8 {
  font-size: 1rem;
}
.text-md\/bold__124c8 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
}
.text-md\/bold__124c8.fontScaling__124c8 {
  font-size: 1rem;
}
.text-lg\/normal__124c8 {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}
.text-lg\/normal__124c8.fontScaling__124c8 {
  font-size: 1.25rem;
}
.text-lg\/medium__124c8 {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
.text-lg\/medium__124c8.fontScaling__124c8 {
  font-size: 1.25rem;
}
.text-lg\/semibold__124c8 {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}
.text-lg\/semibold__124c8.fontScaling__124c8 {
  font-size: 1.25rem;
}
.text-lg\/bold__124c8 {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}
.text-lg\/bold__124c8.fontScaling__124c8 {
  font-size: 1.25rem;
}
.redesign\/message-preview\/normal__124c8 {
  font-family: var(--font-primary);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
.redesign\/message-preview\/normal__124c8.fontScaling__124c8 {
  font-size: 0.9375rem;
}
.redesign\/message-preview\/medium__124c8 {
  font-family: var(--font-primary);
  font-size: 15px;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
.redesign\/message-preview\/medium__124c8.fontScaling__124c8 {
  font-size: 0.9375rem;
}
.redesign\/message-preview\/semibold__124c8 {
  font-family: var(--font-primary);
  font-size: 15px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
.redesign\/message-preview\/semibold__124c8.fontScaling__124c8 {
  font-size: 0.9375rem;
}
.redesign\/message-preview\/bold__124c8 {
  font-family: var(--font-primary);
  font-size: 15px;
  font-weight: 700;
  line-height: 1.3333333333333333;
}
.redesign\/message-preview\/bold__124c8.fontScaling__124c8 {
  font-size: 0.9375rem;
}
.redesign\/channel-title\/normal__124c8 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375;
}
.redesign\/channel-title\/normal__124c8.fontScaling__124c8 {
  font-size: 1rem;
}
.redesign\/channel-title\/medium__124c8 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.375;
}
.redesign\/channel-title\/medium__124c8.fontScaling__124c8 {
  font-size: 1rem;
}
.redesign\/channel-title\/semibold__124c8 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.375;
}
.redesign\/channel-title\/semibold__124c8.fontScaling__124c8 {
  font-size: 1rem;
}
.redesign\/channel-title\/bold__124c8 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.375;
}
.redesign\/channel-title\/bold__124c8.fontScaling__124c8 {
  font-size: 1rem;
}
.experimental\/body-xs\/normal__124c8 {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
.experimental\/body-xs\/normal__124c8.fontScaling__124c8 {
  font-size: 0.75rem;
}
.experimental\/body-xs\/medium__124c8 {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
.experimental\/body-xs\/medium__124c8.fontScaling__124c8 {
  font-size: 0.75rem;
}
.experimental\/body-xs\/semibold__124c8 {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
.experimental\/body-xs\/semibold__124c8.fontScaling__124c8 {
  font-size: 0.75rem;
}
.experimental\/body-sm\/normal__124c8 {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2857142857142858;
}
.experimental\/body-sm\/normal__124c8.fontScaling__124c8 {
  font-size: 0.875rem;
}
.experimental\/body-sm\/medium__124c8 {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2857142857142858;
}
.experimental\/body-sm\/medium__124c8.fontScaling__124c8 {
  font-size: 0.875rem;
}
.experimental\/body-sm\/semibold__124c8 {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
.experimental\/body-sm\/semibold__124c8.fontScaling__124c8 {
  font-size: 0.875rem;
}
.experimental\/body-md\/normal__124c8 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}
.experimental\/body-md\/normal__124c8.fontScaling__124c8 {
  font-size: 1rem;
}
.experimental\/body-md\/medium__124c8 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}
.experimental\/body-md\/medium__124c8.fontScaling__124c8 {
  font-size: 1rem;
}
.experimental\/body-md\/semibold__124c8 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
.experimental\/body-md\/semibold__124c8.fontScaling__124c8 {
  font-size: 1rem;
}
.experimental\/body-lg\/normal__124c8 {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}
.experimental\/body-lg\/normal__124c8.fontScaling__124c8 {
  font-size: 1.25rem;
}
.experimental\/body-lg\/medium__124c8 {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
.experimental\/body-lg\/medium__124c8.fontScaling__124c8 {
  font-size: 1.25rem;
}
.experimental\/body-lg\/semibold__124c8 {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}
.experimental\/body-lg\/semibold__124c8.fontScaling__124c8 {
  font-size: 1.25rem;
}
.experimental\/footnote\/normal__124c8 {
  font-family: var(--font-primary);
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
}
.experimental\/footnote\/normal__124c8.fontScaling__124c8 {
  font-size: 0.625rem;
}
.experimental\/footnote\/medium__124c8 {
  font-family: var(--font-primary);
  font-size: 10px;
  font-weight: 500;
  line-height: 1.2;
}
.experimental\/footnote\/medium__124c8.fontScaling__124c8 {
  font-size: 0.625rem;
}
.experimental\/footnote\/semibold__124c8 {
  font-family: var(--font-primary);
  font-size: 10px;
  font-weight: 600;
  line-height: 1.2;
}
.experimental\/footnote\/semibold__124c8.fontScaling__124c8 {
  font-size: 0.625rem;
}
.display-sm__124c8 {
  font-family: var(--font-headline);
  font-size: 20px;
  font-weight: 800;
  line-height: 1;
}
.display-sm__124c8.fontScaling__124c8 {
  font-size: 1.25rem;
}
.display-md__124c8 {
  font-family: var(--font-headline);
  font-size: 34px;
  font-weight: 800;
  line-height: 1.0588235294117647;
}
.display-md__124c8.fontScaling__124c8 {
  font-size: 2.125rem;
}
.display-lg__124c8 {
  font-family: var(--font-headline);
  font-size: 44px;
  font-weight: 800;
  line-height: 0.9545454545454546;
}
.display-lg__124c8.fontScaling__124c8 {
  font-size: 2.75rem;
}
.experimental\/display-xs__124c8 {
  font-family: var(--font-headline);
  font-size: 16px;
  font-weight: 800;
  line-height: 1.125;
}
.experimental\/display-xs__124c8.fontScaling__124c8 {
  font-size: 1rem;
}
.experimental\/display-sm__124c8 {
  font-family: var(--font-headline);
  font-size: 24px;
  font-weight: 800;
  line-height: 1.0833333333333333;
}
.experimental\/display-sm__124c8.fontScaling__124c8 {
  font-size: 1.5rem;
}
.experimental\/display-md__124c8 {
  font-family: var(--font-headline);
  font-size: 32px;
  font-weight: 800;
  line-height: 1.0625;
}
.experimental\/display-md__124c8.fontScaling__124c8 {
  font-size: 2rem;
}
.experimental\/display-lg__124c8 {
  font-family: var(--font-headline);
  font-size: 44px;
  font-weight: 800;
  line-height: 1;
}
.experimental\/display-lg__124c8.fontScaling__124c8 {
  font-size: 2.75rem;
}
.code__124c8 {
  font-family: var(--font-code);
  font-size: 12px;
  font-weight: 700;
  line-height: 1.3333333333333333;
}
.code__124c8.fontScaling__124c8 {
  font-size: 0.75rem;
}
.experimental\/mono-md\/normal__124c8 {
  font-family: var(--font-code);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
.experimental\/mono-md\/normal__124c8.fontScaling__124c8 {
  font-size: 0.75rem;
}
.experimental\/mono-md\/bold__124c8 {
  font-family: var(--font-code);
  font-size: 12px;
  font-weight: 700;
  line-height: 1.3333333333333333;
}
.experimental\/mono-md\/bold__124c8.fontScaling__124c8 {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .heading-sm\/normal__124c8 {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2857142857142858;
}
:where(.mana-type-consolidation) .heading-sm\/normal__124c8.fontScaling__124c8 {
  font-size: 0.875rem;
}
:where(.mana-type-consolidation) .heading-sm\/medium__124c8 {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2857142857142858;
}
:where(.mana-type-consolidation) .heading-sm\/medium__124c8.fontScaling__124c8 {
  font-size: 0.875rem;
}
:where(.mana-type-consolidation) .heading-sm\/semibold__124c8 {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
:where(.mana-type-consolidation)
  .heading-sm\/semibold__124c8.fontScaling__124c8 {
  font-size: 0.875rem;
}
:where(.mana-type-consolidation) .heading-sm\/bold__124c8 {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
:where(.mana-type-consolidation) .heading-sm\/bold__124c8.fontScaling__124c8 {
  font-size: 0.875rem;
}
:where(.mana-type-consolidation) .heading-sm\/extrabold__124c8 {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
:where(.mana-type-consolidation)
  .heading-sm\/extrabold__124c8.fontScaling__124c8 {
  font-size: 0.875rem;
}
:where(.mana-type-consolidation) .heading-md\/normal__124c8 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}
:where(.mana-type-consolidation) .heading-md\/normal__124c8.fontScaling__124c8 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .heading-md\/medium__124c8 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}
:where(.mana-type-consolidation) .heading-md\/medium__124c8.fontScaling__124c8 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .heading-md\/semibold__124c8 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .heading-md\/semibold__124c8.fontScaling__124c8 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .heading-md\/bold__124c8 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation) .heading-md\/bold__124c8.fontScaling__124c8 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .heading-md\/extrabold__124c8 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .heading-md\/extrabold__124c8.fontScaling__124c8 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .heading-lg\/normal__124c8 {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .heading-lg\/normal__124c8.fontScaling__124c8 {
  font-size: 1.25rem;
}
:where(.mana-type-consolidation) .heading-lg\/medium__124c8 {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .heading-lg\/medium__124c8.fontScaling__124c8 {
  font-size: 1.25rem;
}
:where(.mana-type-consolidation) .heading-lg\/semibold__124c8 {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}
:where(.mana-type-consolidation)
  .heading-lg\/semibold__124c8.fontScaling__124c8 {
  font-size: 1.25rem;
}
:where(.mana-type-consolidation) .heading-lg\/bold__124c8 {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .heading-lg\/bold__124c8.fontScaling__124c8 {
  font-size: 1.25rem;
}
:where(.mana-type-consolidation) .heading-lg\/extrabold__124c8 {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}
:where(.mana-type-consolidation)
  .heading-lg\/extrabold__124c8.fontScaling__124c8 {
  font-size: 1.25rem;
}
:where(.mana-type-consolidation) .heading-xl\/normal__124c8 {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation) .heading-xl\/normal__124c8.fontScaling__124c8 {
  font-size: 1.5rem;
}
:where(.mana-type-consolidation) .heading-xl\/medium__124c8 {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation) .heading-xl\/medium__124c8.fontScaling__124c8 {
  font-size: 1.5rem;
}
:where(.mana-type-consolidation) .heading-xl\/semibold__124c8 {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation)
  .heading-xl\/semibold__124c8.fontScaling__124c8 {
  font-size: 1.5rem;
}
:where(.mana-type-consolidation) .heading-xl\/bold__124c8 {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation) .heading-xl\/bold__124c8.fontScaling__124c8 {
  font-size: 1.5rem;
}
:where(.mana-type-consolidation) .heading-xl\/extrabold__124c8 {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation)
  .heading-xl\/extrabold__124c8.fontScaling__124c8 {
  font-size: 1.5rem;
}
:where(.mana-type-consolidation) .heading-xxl\/normal__124c8 {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 500;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .heading-xxl\/normal__124c8.fontScaling__124c8 {
  font-size: 2rem;
}
:where(.mana-type-consolidation) .heading-xxl\/medium__124c8 {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 500;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .heading-xxl\/medium__124c8.fontScaling__124c8 {
  font-size: 2rem;
}
:where(.mana-type-consolidation) .heading-xxl\/semibold__124c8 {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .heading-xxl\/semibold__124c8.fontScaling__124c8 {
  font-size: 2rem;
}
:where(.mana-type-consolidation) .heading-xxl\/bold__124c8 {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation) .heading-xxl\/bold__124c8.fontScaling__124c8 {
  font-size: 2rem;
}
:where(.mana-type-consolidation) .heading-xxl\/extrabold__124c8 {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .heading-xxl\/extrabold__124c8.fontScaling__124c8 {
  font-size: 2rem;
}
:where(.mana-type-consolidation) .eyebrow__124c8 {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.3333333333333333;
  text-transform: none;
}
:where(.mana-type-consolidation) .eyebrow__124c8.fontScaling__124c8 {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .heading-deprecated-12\/normal__124c8 {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation)
  .heading-deprecated-12\/normal__124c8.fontScaling__124c8 {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .heading-deprecated-12\/medium__124c8 {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation)
  .heading-deprecated-12\/medium__124c8.fontScaling__124c8 {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .heading-deprecated-12\/semibold__124c8 {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation)
  .heading-deprecated-12\/semibold__124c8.fontScaling__124c8 {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .heading-deprecated-12\/bold__124c8 {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation)
  .heading-deprecated-12\/bold__124c8.fontScaling__124c8 {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .heading-deprecated-12\/extrabold__124c8 {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation)
  .heading-deprecated-12\/extrabold__124c8.fontScaling__124c8 {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .redesign\/heading-18\/medium__124c8 {
  font-family: var(--font-display);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2222222222222223;
}
:where(.mana-type-consolidation)
  .redesign\/heading-18\/medium__124c8.fontScaling__124c8 {
  font-size: 1.125rem;
}
:where(.mana-type-consolidation) .redesign\/heading-18\/semibold__124c8 {
  font-family: var(--font-display);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2222222222222223;
}
:where(.mana-type-consolidation)
  .redesign\/heading-18\/semibold__124c8.fontScaling__124c8 {
  font-size: 1.125rem;
}
:where(.mana-type-consolidation) .redesign\/heading-18\/bold__124c8 {
  font-family: var(--font-display);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2222222222222223;
}
:where(.mana-type-consolidation)
  .redesign\/heading-18\/bold__124c8.fontScaling__124c8 {
  font-size: 1.125rem;
}
:where(.mana-type-consolidation) .text-xxs\/normal__124c8 {
  font-family: var(--font-primary);
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .text-xxs\/normal__124c8.fontScaling__124c8 {
  font-size: 0.625rem;
}
:where(.mana-type-consolidation) .text-xxs\/medium__124c8 {
  font-family: var(--font-primary);
  font-size: 10px;
  font-weight: 500;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .text-xxs\/medium__124c8.fontScaling__124c8 {
  font-size: 0.625rem;
}
:where(.mana-type-consolidation) .text-xxs\/semibold__124c8 {
  font-family: var(--font-primary);
  font-size: 10px;
  font-weight: 600;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .text-xxs\/semibold__124c8.fontScaling__124c8 {
  font-size: 0.625rem;
}
:where(.mana-type-consolidation) .text-xxs\/bold__124c8 {
  font-family: var(--font-primary);
  font-size: 10px;
  font-weight: 600;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .text-xxs\/bold__124c8.fontScaling__124c8 {
  font-size: 0.625rem;
}
:where(.mana-type-consolidation) .text-xs\/normal__124c8 {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation) .text-xs\/normal__124c8.fontScaling__124c8 {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .text-xs\/medium__124c8 {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation) .text-xs\/medium__124c8.fontScaling__124c8 {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .text-xs\/semibold__124c8 {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation) .text-xs\/semibold__124c8.fontScaling__124c8 {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .text-xs\/bold__124c8 {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation) .text-xs\/bold__124c8.fontScaling__124c8 {
  font-size: 0.75rem;
}
:where(.mana-type-consolidation) .text-sm\/normal__124c8 {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2857142857142858;
}
:where(.mana-type-consolidation) .text-sm\/normal__124c8.fontScaling__124c8 {
  font-size: 0.875rem;
}
:where(.mana-type-consolidation) .text-sm\/medium__124c8 {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2857142857142858;
}
:where(.mana-type-consolidation) .text-sm\/medium__124c8.fontScaling__124c8 {
  font-size: 0.875rem;
}
:where(.mana-type-consolidation) .text-sm\/semibold__124c8 {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
:where(.mana-type-consolidation) .text-sm\/semibold__124c8.fontScaling__124c8 {
  font-size: 0.875rem;
}
:where(.mana-type-consolidation) .text-sm\/bold__124c8 {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
:where(.mana-type-consolidation) .text-sm\/bold__124c8.fontScaling__124c8 {
  font-size: 0.875rem;
}
:where(.mana-type-consolidation) .text-md\/normal__124c8 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}
:where(.mana-type-consolidation) .text-md\/normal__124c8.fontScaling__124c8 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .text-md\/medium__124c8 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}
:where(.mana-type-consolidation) .text-md\/medium__124c8.fontScaling__124c8 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .text-md\/semibold__124c8 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation) .text-md\/semibold__124c8.fontScaling__124c8 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .text-md\/bold__124c8 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation) .text-md\/bold__124c8.fontScaling__124c8 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .text-lg\/normal__124c8 {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .text-lg\/normal__124c8.fontScaling__124c8 {
  font-size: 1.25rem;
}
:where(.mana-type-consolidation) .text-lg\/medium__124c8 {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .text-lg\/medium__124c8.fontScaling__124c8 {
  font-size: 1.25rem;
}
:where(.mana-type-consolidation) .text-lg\/semibold__124c8 {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .text-lg\/semibold__124c8.fontScaling__124c8 {
  font-size: 1.25rem;
}
:where(.mana-type-consolidation) .text-lg\/bold__124c8 {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}
:where(.mana-type-consolidation) .text-lg\/bold__124c8.fontScaling__124c8 {
  font-size: 1.25rem;
}
:where(.mana-type-consolidation) .redesign\/message-preview\/normal__124c8 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .redesign\/message-preview\/normal__124c8.fontScaling__124c8 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .redesign\/message-preview\/medium__124c8 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .redesign\/message-preview\/medium__124c8.fontScaling__124c8 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .redesign\/message-preview\/semibold__124c8 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .redesign\/message-preview\/semibold__124c8.fontScaling__124c8 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .redesign\/message-preview\/bold__124c8 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .redesign\/message-preview\/bold__124c8.fontScaling__124c8 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .redesign\/channel-title\/normal__124c8 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .redesign\/channel-title\/normal__124c8.fontScaling__124c8 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .redesign\/channel-title\/medium__124c8 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .redesign\/channel-title\/medium__124c8.fontScaling__124c8 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .redesign\/channel-title\/semibold__124c8 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .redesign\/channel-title\/semibold__124c8.fontScaling__124c8 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .redesign\/channel-title\/bold__124c8 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
:where(.mana-type-consolidation)
  .redesign\/channel-title\/bold__124c8.fontScaling__124c8 {
  font-size: 1rem;
}
:where(.mana-type-consolidation) .display-sm__124c8 {
  font-family: var(--font-headline);
  font-size: 24px;
  font-weight: 800;
  line-height: 1.0833333333333333;
}
:where(.mana-type-consolidation) .display-sm__124c8.fontScaling__124c8 {
  font-size: 1.5rem;
}
:where(.mana-type-consolidation) .display-md__124c8 {
  font-family: var(--font-headline);
  font-size: 32px;
  font-weight: 800;
  line-height: 1.0625;
}
:where(.mana-type-consolidation) .display-md__124c8.fontScaling__124c8 {
  font-size: 2rem;
}
:where(.mana-type-consolidation) .display-lg__124c8 {
  font-family: var(--font-headline);
  font-size: 44px;
  font-weight: 800;
  line-height: 1;
}
:where(.mana-type-consolidation) .display-lg__124c8.fontScaling__124c8 {
  font-size: 2.75rem;
}
:where(.mana-type-consolidation) .code__124c8 {
  font-family: var(--font-code);
  font-size: 12px;
  font-weight: 700;
  line-height: 1.3333333333333333;
}
:where(.mana-type-consolidation) .code__124c8.fontScaling__124c8 {
  font-size: 0.75rem;
}
.wrapper__124c8 {
  background-color: var(--background-surface-high);
  border: 1px solid var(--border-subtle);
  border-radius: var(--radius-sm);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 432px;
  min-width: 160px;
  padding: 16px;
  text-indent: 0;
}
.titleRegion__124c8 {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  text-transform: uppercase;
}
.infoIcon__124c8,
.title__124c8 {
  display: block;
  flex: 0 0 auto;
}
.infoIcon__124c8 {
  height: 16px;
  margin-inline-start: 4px;
  width: 16px;
}
.copyLink__124c8 {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-weight: var(--font-weight-semibold);
  justify-content: flex-start;
  margin-inline-start: 16px;
  padding-inline-end: 8px;
  position: relative;
}
.copyLink__124c8:before {
  content: "";
  display: block;
  height: 12px;
  inset-inline-start: -8px;
  margin-inline-end: 8px;
  pointer-events: none;
  position: absolute;
  top: 2px;
  width: 1px;
}
.copyLink__124c8.copied__124c8 {
  cursor: default;
}
.copyLinkIcon__124c8 {
  display: block;
  height: 16px;
  margin-inline-end: 4px;
  width: 16px;
}
.content__124c8 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-flow: row wrap;
  gap: 16px;
}
.infoLink__124c8.infoLink__124c8 {
  color: var(--text-default);
  cursor: pointer;
}
.buildInfo__124c8 {
  flex: 1000 0 auto;
  height: 40px;
  overflow: hidden;
}
.button__124c8 {
  flex: 1 0 auto;
}
.buttonSize__124c8 {
  height: 40px;
  width: 80px;
}
.subHead__124c8 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.icon__124c8 {
  display: block;
  flex: 0 0 auto;
}
.buildDetails__124c8 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.barLoader__124c8 {
  border-radius: 8px;
  flex: 0 0 auto;
  height: 16px;
  width: 84%;
}
.barTitle__124c8 {
  margin-bottom: 4px;
  margin-top: 2px;
  width: 45%;
}
.buttonLoader__124c8 {
  border-radius: 4px;
  height: 40px;
  width: 80px;
}
.theme-light .disabledButtonOverride__124c8 {
  background-color: var(--primary-300) !important;
}
.copyLink__124c8:before {
  background-color: var(--background-base-low);
}
.buildDetails__124c8,
.copyLink__124c8:hover,
.infoLink__124c8:hover {
  color: var(--text-strong);
}
.copyLink__124c8.copied__124c8,
.copyLink__124c8.copied__124c8:hover {
  color: var(--text-feedback-positive);
}
.barLoader__124c8,
.buttonLoader__124c8 {
  background-color: var(--background-base-low);
}
.root__5c1cf {
  background-color: var(--background-surface-high);
  border: 1px solid var(--border-subtle);
  border-radius: var(--radius-sm);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
  margin-top: var(--space-8);
  max-width: 360px;
  min-width: 160px;
  padding: var(--space-12);
  width: auto;
}
.root__5c1cf div[role="button"] {
  margin-inline-start: 0;
}
.header__5c1cf {
  align-items: center;
  display: grid;
}
.experimentOverride__5c1cf {
  flex: 1;
}
.copyLinkButton__5c1cf {
  color: var(--icon-subtle);
  cursor: pointer;
}
.copyLinkButton__5c1cf:hover {
  color: var(--icon-strong);
}

/*# sourceMappingURL=886148.d4a17e58030af98e.css.map*/
