.heading-sm\/normal__13cf1 {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2857142857142858;
}
.heading-sm\/normal__13cf1.fontScaling__13cf1 {
  font-size: 0.875rem;
}
.heading-sm\/medium__13cf1 {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2857142857142858;
}
.heading-sm\/medium__13cf1.fontScaling__13cf1 {
  font-size: 0.875rem;
}
.heading-sm\/semibold__13cf1 {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
.heading-sm\/semibold__13cf1.fontScaling__13cf1 {
  font-size: 0.875rem;
}
.heading-sm\/bold__13cf1 {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2857142857142858;
}
.heading-sm\/bold__13cf1.fontScaling__13cf1 {
  font-size: 0.875rem;
}
.heading-sm\/extrabold__13cf1 {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 800;
  line-height: 1.2857142857142858;
}
.heading-sm\/extrabold__13cf1.fontScaling__13cf1 {
  font-size: 0.875rem;
}
.heading-md\/normal__13cf1 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}
.heading-md\/normal__13cf1.fontScaling__13cf1 {
  font-size: 1rem;
}
.heading-md\/medium__13cf1 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}
.heading-md\/medium__13cf1.fontScaling__13cf1 {
  font-size: 1rem;
}
.heading-md\/semibold__13cf1 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
.heading-md\/semibold__13cf1.fontScaling__13cf1 {
  font-size: 1rem;
}
.heading-md\/bold__13cf1 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
}
.heading-md\/bold__13cf1.fontScaling__13cf1 {
  font-size: 1rem;
}
.heading-md\/extrabold__13cf1 {
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: 800;
  line-height: 1.25;
}
.heading-md\/extrabold__13cf1.fontScaling__13cf1 {
  font-size: 1rem;
}
.heading-lg\/normal__13cf1 {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}
.heading-lg\/normal__13cf1.fontScaling__13cf1 {
  font-size: 1.25rem;
}
.heading-lg\/medium__13cf1 {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
.heading-lg\/medium__13cf1.fontScaling__13cf1 {
  font-size: 1.25rem;
}
.heading-lg\/semibold__13cf1 {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}
.heading-lg\/semibold__13cf1.fontScaling__13cf1 {
  font-size: 1.25rem;
}
.heading-lg\/bold__13cf1 {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}
.heading-lg\/bold__13cf1.fontScaling__13cf1 {
  font-size: 1.25rem;
}
.heading-lg\/extrabold__13cf1 {
  font-family: var(--font-display);
  font-size: 20px;
  font-weight: 800;
  line-height: 1.2;
}
.heading-lg\/extrabold__13cf1.fontScaling__13cf1 {
  font-size: 1.25rem;
}
.heading-xl\/normal__13cf1 {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 400;
  line-height: 1.25;
}
.heading-xl\/normal__13cf1.fontScaling__13cf1 {
  font-size: 1.5rem;
}
.heading-xl\/medium__13cf1 {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.25;
}
.heading-xl\/medium__13cf1.fontScaling__13cf1 {
  font-size: 1.5rem;
}
.heading-xl\/semibold__13cf1 {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
}
.heading-xl\/semibold__13cf1.fontScaling__13cf1 {
  font-size: 1.5rem;
}
.heading-xl\/bold__13cf1 {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
}
.heading-xl\/bold__13cf1.fontScaling__13cf1 {
  font-size: 1.5rem;
}
.heading-xl\/extrabold__13cf1 {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 800;
  line-height: 1.25;
}
.heading-xl\/extrabold__13cf1.fontScaling__13cf1 {
  font-size: 1.5rem;
}
.heading-xxl\/normal__13cf1 {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 400;
  line-height: 1.25;
}
.heading-xxl\/normal__13cf1.fontScaling__13cf1 {
  font-size: 2rem;
}
.heading-xxl\/medium__13cf1 {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 500;
  line-height: 1.25;
}
.heading-xxl\/medium__13cf1.fontScaling__13cf1 {
  font-size: 2rem;
}
.heading-xxl\/semibold__13cf1 {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
}
.heading-xxl\/semibold__13cf1.fontScaling__13cf1 {
  font-size: 2rem;
}
.heading-xxl\/bold__13cf1 {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 700;
  line-height: 1.25;
}
.heading-xxl\/bold__13cf1.fontScaling__13cf1 {
  font-size: 2rem;
}
.heading-xxl\/extrabold__13cf1 {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 800;
  line-height: 1.25;
}
.heading-xxl\/extrabold__13cf1.fontScaling__13cf1 {
  font-size: 2rem;
}
.eyebrow__13cf1 {
  font-family: var(--font-display);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.3333333333333333;
  text-transform: uppercase;
}
.eyebrow__13cf1.fontScaling__13cf1 {
  font-size: 0.75rem;
}
.heading-deprecated-12\/normal__13cf1 {
  font-family: var(--font-display);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
.heading-deprecated-12\/normal__13cf1.fontScaling__13cf1 {
  font-size: 0.75rem;
}
.heading-deprecated-12\/medium__13cf1 {
  font-family: var(--font-display);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
.heading-deprecated-12\/medium__13cf1.fontScaling__13cf1 {
  font-size: 0.75rem;
}
.heading-deprecated-12\/semibold__13cf1 {
  font-family: var(--font-display);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
.heading-deprecated-12\/semibold__13cf1.fontScaling__13cf1 {
  font-size: 0.75rem;
}
.heading-deprecated-12\/bold__13cf1 {
  font-family: var(--font-display);
  font-size: 12px;
  font-weight: 700;
  line-height: 1.3333333333333333;
}
.heading-deprecated-12\/bold__13cf1.fontScaling__13cf1 {
  font-size: 0.75rem;
}
.heading-deprecated-12\/extrabold__13cf1 {
  font-family: var(--font-display);
  font-size: 12px;
  font-weight: 800;
  line-height: 1.3333333333333333;
}
.heading-deprecated-12\/extrabold__13cf1.fontScaling__13cf1 {
  font-size: 0.75rem;
}
.redesign\/heading-18\/medium__13cf1 {
  font-family: var(--font-display);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
.redesign\/heading-18\/medium__13cf1.fontScaling__13cf1 {
  font-size: 1.125rem;
}
.redesign\/heading-18\/semibold__13cf1 {
  font-family: var(--font-display);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
.redesign\/heading-18\/semibold__13cf1.fontScaling__13cf1 {
  font-size: 1.125rem;
}
.redesign\/heading-18\/bold__13cf1 {
  font-family: var(--font-display);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3333333333333333;
}
.redesign\/heading-18\/bold__13cf1.fontScaling__13cf1 {
  font-size: 1.125rem;
}
.text-xxs\/normal__13cf1 {
  font-family: var(--font-primary);
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
}
.text-xxs\/normal__13cf1.fontScaling__13cf1 {
  font-size: 0.625rem;
}
.text-xxs\/medium__13cf1 {
  font-family: var(--font-primary);
  font-size: 10px;
  font-weight: 500;
  line-height: 1.2;
}
.text-xxs\/medium__13cf1.fontScaling__13cf1 {
  font-size: 0.625rem;
}
.text-xxs\/semibold__13cf1 {
  font-family: var(--font-primary);
  font-size: 10px;
  font-weight: 600;
  line-height: 1.2;
}
.text-xxs\/semibold__13cf1.fontScaling__13cf1 {
  font-size: 0.625rem;
}
.text-xxs\/bold__13cf1 {
  font-family: var(--font-primary);
  font-size: 10px;
  font-weight: 700;
  line-height: 1.2;
}
.text-xxs\/bold__13cf1.fontScaling__13cf1 {
  font-size: 0.625rem;
}
.text-xs\/normal__13cf1 {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
.text-xs\/normal__13cf1.fontScaling__13cf1 {
  font-size: 0.75rem;
}
.text-xs\/medium__13cf1 {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
.text-xs\/medium__13cf1.fontScaling__13cf1 {
  font-size: 0.75rem;
}
.text-xs\/semibold__13cf1 {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
.text-xs\/semibold__13cf1.fontScaling__13cf1 {
  font-size: 0.75rem;
}
.text-xs\/bold__13cf1 {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 700;
  line-height: 1.3333333333333333;
}
.text-xs\/bold__13cf1.fontScaling__13cf1 {
  font-size: 0.75rem;
}
.text-sm\/normal__13cf1 {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2857142857142858;
}
.text-sm\/normal__13cf1.fontScaling__13cf1 {
  font-size: 0.875rem;
}
.text-sm\/medium__13cf1 {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2857142857142858;
}
.text-sm\/medium__13cf1.fontScaling__13cf1 {
  font-size: 0.875rem;
}
.text-sm\/semibold__13cf1 {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2857142857142858;
}
.text-sm\/semibold__13cf1.fontScaling__13cf1 {
  font-size: 0.875rem;
}
.text-sm\/bold__13cf1 {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2857142857142858;
}
.text-sm\/bold__13cf1.fontScaling__13cf1 {
  font-size: 0.875rem;
}
.text-md\/normal__13cf1 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}
.text-md\/normal__13cf1.fontScaling__13cf1 {
  font-size: 1rem;
}
.text-md\/medium__13cf1 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}
.text-md\/medium__13cf1.fontScaling__13cf1 {
  font-size: 1rem;
}
.text-md\/semibold__13cf1 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
.text-md\/semibold__13cf1.fontScaling__13cf1 {
  font-size: 1rem;
}
.text-md\/bold__13cf1 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
}
.text-md\/bold__13cf1.fontScaling__13cf1 {
  font-size: 1rem;
}
.text-lg\/normal__13cf1 {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}
.text-lg\/normal__13cf1.fontScaling__13cf1 {
  font-size: 1.25rem;
}
.text-lg\/medium__13cf1 {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
.text-lg\/medium__13cf1.fontScaling__13cf1 {
  font-size: 1.25rem;
}
.text-lg\/semibold__13cf1 {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}
.text-lg\/semibold__13cf1.fontScaling__13cf1 {
  font-size: 1.25rem;
}
.text-lg\/bold__13cf1 {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}
.text-lg\/bold__13cf1.fontScaling__13cf1 {
  font-size: 1.25rem;
}
.redesign\/message-preview\/normal__13cf1 {
  font-family: var(--font-primary);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.3333333333333333;
}
.redesign\/message-preview\/normal__13cf1.fontScaling__13cf1 {
  font-size: 0.9375rem;
}
.redesign\/message-preview\/medium__13cf1 {
  font-family: var(--font-primary);
  font-size: 15px;
  font-weight: 500;
  line-height: 1.3333333333333333;
}
.redesign\/message-preview\/medium__13cf1.fontScaling__13cf1 {
  font-size: 0.9375rem;
}
.redesign\/message-preview\/semibold__13cf1 {
  font-family: var(--font-primary);
  font-size: 15px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}
.redesign\/message-preview\/semibold__13cf1.fontScaling__13cf1 {
  font-size: 0.9375rem;
}
.redesign\/message-preview\/bold__13cf1 {
  font-family: var(--font-primary);
  font-size: 15px;
  font-weight: 700;
  line-height: 1.3333333333333333;
}
.redesign\/message-preview\/bold__13cf1.fontScaling__13cf1 {
  font-size: 0.9375rem;
}
.redesign\/channel-title\/normal__13cf1 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375;
}
.redesign\/channel-title\/normal__13cf1.fontScaling__13cf1 {
  font-size: 1rem;
}
.redesign\/channel-title\/medium__13cf1 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.375;
}
.redesign\/channel-title\/medium__13cf1.fontScaling__13cf1 {
  font-size: 1rem;
}
.redesign\/channel-title\/semibold__13cf1 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.375;
}
.redesign\/channel-title\/semibold__13cf1.fontScaling__13cf1 {
  font-size: 1rem;
}
.redesign\/channel-title\/bold__13cf1 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.375;
}
.redesign\/channel-title\/bold__13cf1.fontScaling__13cf1 {
  font-size: 1rem;
}
.display-sm__13cf1 {
  font-family: var(--font-headline);
  font-size: 20px;
  font-weight: 800;
  line-height: 1;
}
.display-sm__13cf1.fontScaling__13cf1 {
  font-size: 1.25rem;
}
.display-md__13cf1 {
  font-family: var(--font-headline);
  font-size: 34px;
  font-weight: 800;
  line-height: 1.0588235294117647;
}
.display-md__13cf1.fontScaling__13cf1 {
  font-size: 2.125rem;
}
.display-lg__13cf1 {
  font-family: var(--font-headline);
  font-size: 44px;
  font-weight: 800;
  line-height: 0.9545454545454546;
}
.display-lg__13cf1.fontScaling__13cf1 {
  font-size: 2.75rem;
}
.code__13cf1 {
  font-family: var(--font-code);
  font-size: 12px;
  font-weight: 700;
  line-height: 1.3333333333333333;
}
.code__13cf1.fontScaling__13cf1 {
  font-size: 0.75rem;
}
.container__13cf1 {
  box-sizing: border-box;
  color: var(--channels-default);
  flex: 1 1 auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.header__13cf1 {
}
.text__13cf1 {
  font-family: var(--font-display);
  font-size: 12px;
  font-weight: var(--font-weight-semibold);
  letter-spacing: 0.02em;
  line-height: 16px;
  text-transform: uppercase;
}

/*# sourceMappingURL=90789.a39c1d34de6a6e3f.css.map*/
