.row__5adc3 {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.havenWrapper__5adc3 {
  background: #0c1f26;
  border-radius: 12px;
  height: calc(100vh - var(--custom-app-top-bar-height) - 128px);
  margin: 48px 48px 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  transform: scale(1);
  width: 100%;
  z-index: 0;
}
.haven__5adc3 {
  --custom-haven-seat-width: 120px;
  --custom-haven-seat-height: 40px;
  inset-inline-start: 0;
  position: absolute;
  top: 0;
}
.full-motion .haven__5adc3 {
  transition: transform 0.15s linear;
}
.haven__5adc3.noTransition__5adc3 {
  transition: none;
}
.overlay__5adc3 {
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  height: 100%;
  inset: 0;
  pointer-events: all;
  position: absolute;
  width: 100%;
}
.full-motion .overlay__5adc3 {
  transition: all 2s ease;
}
.overlay__5adc3.out__5adc3 {
  -webkit-backdrop-filter: blur(0);
  backdrop-filter: blur(0);
  pointer-events: none;
}
.overlay__5adc3.out__5adc3 .welcome__5adc3 {
  opacity: 0;
  transform: scale(0.33);
}
.environment__5adc3 {
  height: 1536px;
  position: absolute;
  top: 0;
  width: 2180px;
}
.background__5adc3 {
  bottom: 0;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
.background__5adc3,
.video__5adc3 {
  inset-inline-start: 0;
  position: absolute;
}
.video__5adc3 {
  top: 0;
}
.noInteract__5adc3 {
  pointer-events: none;
}
.bottomActions__5adc3 {
  align-items: flex-end;
  bottom: 20px;
  color: #fff;
  height: 20px;
  inset-inline: 0;
  justify-content: space-between;
  padding: 0 20px;
  position: absolute;
}
.welcome__5adc3 {
  height: 400px;
  inset: 0;
  margin: auto;
  max-width: 380px;
  opacity: 1;
  padding: 24px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  transform: scale(1);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 100%;
  -webkit-user-drag: none;
}
.full-motion .welcome__5adc3 {
  transition: all 2s ease;
}
.hidden__5adc3 {
  opacity: 0;
  pointer-events: none;
}
.interactionOverlay__5adc3 {
  inset: 0;
  pointer-events: all;
  position: absolute;
}
.havenPipWrapper__3bbd0 {
  background: var(--black);
  overflow: hidden;
  pointer-events: none;
  position: relative;
}
.havenContainer__3bbd0 {
  border-radius: 0;
  height: 100%;
  margin: 0;
  width: 100%;
}
.pictureInPicture__6341f {
  inset-inline-start: 0;
  position: absolute;
  top: 0;
}
.pictureInPicture__6341f.dragging__6341f {
  cursor: grabbing;
  height: 100%;
  pointer-events: auto;
  width: 100%;
}
.pictureInPictureWindow__6341f {
  position: absolute;
  z-index: 1000;
}
.borderRadius__6341f {
  border-radius: 8px;
}
.hidden__6341f {
  display: none;
}
.resizeHandle__6341f {
  height: 20px;
  position: absolute;
  width: 20px;
}
.resizeHandleTopRight__6341f {
  bottom: -7px;
  cursor: nesw-resize;
  inset-inline-start: -7px;
}
.resizeHandleTopLeft__6341f {
  bottom: -7px;
  cursor: nwse-resize;
  inset-inline-end: -7px;
}
.resizeHandleBottomRight__6341f {
  cursor: nwse-resize;
  inset-inline-start: -7px;
  top: -7px;
}
.resizeHandleBottomLeft__6341f {
  cursor: nesw-resize;
  inset-inline-end: -7px;
  top: -7px;
}
.belowSidebar__6341f {
  z-index: 90 !important;
}
.canvas_eb6eba {
  height: 100%;
  inset-inline-start: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10000;
}

/*# sourceMappingURL=92333.10e09ad7711cfadf.css.map*/
