.container__5301b {
  box-sizing: border-box;
  margin-bottom: 16px;
  max-width: 660px;
  min-width: 280px;
  width: 100%;
}
.wide__5301b.container__5301b {
  display: flex;
  flex-shrink: 0;
  height: 250px;
}
.tall__5301b.container__5301b {
  display: flex;
  flex-direction: column-reverse;
}
.contentContainer__5301b {
  background: var(--background-base-lowest);
  border-radius: 8px 0 0 8px;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 38px 16px 16px;
}
.tall__5301b .contentContainer__5301b {
  border-radius: 0 0 8px 8px;
  padding: 16px;
}
.buttonContainer__5301b {
  align-self: flex-start;
  margin-top: auto;
}
.tall__5301b .buttonContainer__5301b {
  margin-top: 50px;
  width: 100%;
}
.imgContainer__5301b {
  align-items: center;
  background: var(--background-base-lower);
  border-radius: 0 8px 8px 0;
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 16px;
}
.missingQuestImage__5301b {
  height: 180px;
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
}
.theme-light .contentContainer__5301b {
  background: var(--background-base-lower);
}
.theme-light .imgContainer__5301b {
  background: var(--background-mod-normal);
}
.theme-dark .contentContainer__5301b {
  background: var(--background-base-lowest);
}
.theme-dark .imgContainer__5301b {
  background: var(--background-base-lower);
}
.wrapper__19b5e {
  align-items: center;
  background-color: var(--background-base-lowest);
  border-radius: 8px;
  box-shadow: var(--shadow-border), var(--shadow-high);
  box-sizing: border-box;
  display: flex;
  gap: 8px;
  inset-inline-start: 0;
  margin-inline-start: 16px;
  padding: 8px;
  position: absolute;
  top: 100%;
  width: 385px;
}
.wrapperAccepted__19b5e {
  width: 305px;
}
.rewardTileWrapper__19b5e {
  flex: 0 0 auto;
  height: 76px;
  position: relative;
  width: 76px;
}
.rewardTile__19b5e {
  border-radius: 4px;
  display: block;
}
.rewardTile__19b5e.rewardTile__19b5e {
  height: 100%;
  width: 100%;
}
.heading__19b5e .rewardTile__19b5e {
  flex: 0 0 auto;
  height: 38px;
  width: 38px;
}
.promotedTag__19b5e {
  box-sizing: border-box;
  inset-inline-start: 4px;
  position: absolute;
  text-align: center;
  width: calc(100% - 8px);
  word-break: break-word;
  z-index: 1;
}
.content__19b5e {
  flex: 1 1 auto;
}
.heading__19b5e {
  align-items: center;
  display: flex;
  gap: 8px;
  margin-bottom: 6px;
}
.headingWithSubmenu__19b5e {
  display: flex;
  gap: 4px;
  margin-bottom: 2px;
}
.questTitle__19b5e {
  flex: 1 1 auto;
  margin-inline-end: 24px;
}
.gameTile__19b5e {
  border-radius: 4px;
  flex: 0 0 auto;
  height: 38px;
  width: 38px;
}
.ctas__19b5e {
  display: flex;
  gap: 8px;
}
.submenuWrapper__19b5e {
  cursor: pointer;
  inset-inline-end: 8px;
  position: absolute;
  top: 8px;
}
.submenuIcon__19b5e {
  color: var(--interactive-text-default);
  height: 24px;
  width: 24px;
}
.submenuIcon__19b5e:focus,
.submenuIcon__19b5e:hover {
  color: var(--interactive-text-hover);
}
.submenuIcon__19b5e:active {
  color: var(--interactive-text-active);
}
.orbIconSVG__85200 {
  height: 18px;
}
.full-motion .loading__85200 {
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: spin__85200;
  animation-timing-function: linear;
}
@keyframes spin__85200 {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
.orbIconAligned__18bf6 {
  margin-top: 1px;
  vertical-align: top;
}
.productVariantsContainer__2c397 {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.productVariantsContainer__2c397.wrap__2c397 {
  flex-wrap: wrap;
}
.full-motion .productVariantsContainer__2c397 {
  transition: gap 0.25s ease;
}
.productVariant__2c397 {
  align-items: center;
  border-radius: var(--radius-round);
  box-shadow:
    inset 0 0 0 0 transparent,
    0 0 0 1px var(--background-base-low),
    0 0 0 2px var(--background-base-low);
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.productVariant__2c397.productVariantOverflow__2c397 {
  background-color: var(--control-overlay-secondary-background-default);
  box-shadow:
    inset 0 0 0 0 transparent,
    0 0 0 1px var(--control-overlay-secondary-border-hover),
    0 0 0 2px var(--background-base-low);
}
.full-motion .productVariant__2c397 {
  transition:
    box-shadow 0.25s ease,
    height 0.25s ease,
    margin-inline-start 0.25s ease,
    width 0.25s ease;
}
.full-motion .productVariantCheckmark__2c397,
.full-motion .productVariantOverflowIcon__2c397 {
  transition:
    height 0.25s ease,
    width 0.25s ease;
}
.expanded__2c397.productVariantsContainer__2c397 {
  gap: var(--space-6);
  padding: 2px;
}
.expanded__2c397 .productVariant__2c397 {
  height: 20px;
  width: 20px;
}
.expanded__2c397 .productVariant__2c397.selected__2c397,
.expanded__2c397 .productVariant__2c397:focus-within,
.expanded__2c397 .productVariant__2c397:hover {
  box-shadow:
    inset 0 0 0 2px var(--background-base-low),
    0 0 0 1px var(--button-outline-primary-text),
    0 0 0 2px var(--background-base-low);
}
.expanded__2c397 .productVariantCheckmark__2c397 {
  height: 16px;
  width: 16px;
}
.expanded__2c397 .productVariantOverflowIcon__2c397 {
  height: 18px;
  width: 18px;
}
.collapsed__2c397.productVariantsContainer__2c397 {
  gap: 0;
}
.collapsed__2c397 .productVariant__2c397 {
  height: 16px;
  width: 16px;
}
.collapsed__2c397 .productVariant__2c397:not(:first-child) {
  margin-inline-start: -2px;
}
.collapsed__2c397 .productVariant__2c397.selected__2c397,
.collapsed__2c397 .productVariant__2c397:focus-within,
.collapsed__2c397 .productVariant__2c397:hover {
  box-shadow:
    inset 0 0 0 1px var(--button-outline-primary-text),
    inset 0 0 0 3px var(--background-base-low),
    0 0 0 2px var(--background-base-low);
  height: 20px;
  width: 20px;
}
.collapsed__2c397 .productVariantCheckmark__2c397 {
  height: 12px;
  width: 12px;
}
.collapsed__2c397 .productVariantOverflowIcon__2c397 {
  height: 14px;
  width: 14px;
}
.wishlistButton__7b466 {
  margin-inline-start: auto;
}
.productCardContainer_fcbddd {
  background: var(--background-base-low);
  border: 2px solid var(--border-muted);
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex: 1;
  height: 100%;
  margin: 0 auto;
  min-height: 246px;
  min-width: var(--custom-product-card-min-width, 246px);
  overflow: hidden;
  overflow-anchor: none;
  position: relative;
  width: 100%;
}
.full-motion .productCardContainer_fcbddd {
  transition: border-color 0.2s;
}
.productCardContainer_fcbddd > [role="button"]:first-child {
  height: 100%;
  inset: 0;
  position: absolute;
  width: 100%;
}
.productCardContentContainer_fcbddd {
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
  -o-object-fit: contain;
  object-fit: contain;
  position: relative;
  width: 100%;
}
.staticBundleBackgroundAsset_fcbddd {
  height: 100%;
  inset: 0;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
  position: absolute;
  width: 100%;
}
.productPreviewContainer_fcbddd {
  align-items: center;
  display: flex;
  inset: 0;
  justify-content: center;
  padding: 0 var(--space-8);
  position: absolute;
}
.productPreviewContainer_fcbddd.hasBottomContent_fcbddd {
  padding-bottom: 56px;
  transform: translateY(0);
}
.full-motion .productPreviewContainer_fcbddd.hasBottomContent_fcbddd {
  transition: transform 0.25s ease;
}
.headerContainer_fcbddd {
  display: flex;
  gap: var(--space-8);
  justify-content: space-between;
  padding: var(--space-12);
  z-index: 1;
}
.footerContainer_fcbddd {
  box-sizing: border-box;
  margin-top: auto;
  padding: var(--space-12);
  position: relative;
  width: 100%;
}
.footerInfoContainer_fcbddd {
  align-items: flex-end;
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: var(--space-12);
  justify-content: space-between;
}
.footerInfoLeft_fcbddd {
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.footerInfoShrinkOnHover_fcbddd {
  align-content: end;
  display: grid;
  grid-template-rows: 1fr;
  opacity: 1;
  padding-top: var(--space-4);
  width: 100%;
}
.full-motion .footerInfoShrinkOnHover_fcbddd {
  transition:
    grid-template-rows 0.25s ease,
    padding-top 0.25s ease,
    opacity 0.25s ease;
}
.footerInfoShrinkOnHover_fcbddd > * {
  min-height: 0;
}
.footerButtonContainer_fcbddd {
  align-content: end;
  display: grid;
  grid-template-rows: 0fr;
  opacity: 0;
  padding-top: 0;
  transform: translateY(20%);
  width: 100%;
}
.full-motion .footerButtonContainer_fcbddd {
  transition:
    grid-template-rows 0.25s ease,
    padding-top 0.25s ease,
    opacity 0.25s ease-out,
    transform 0.25s ease-out;
}
.footerButtonGroup_fcbddd {
  height: -moz-fit-content;
  height: fit-content;
  min-height: 0;
  min-width: 0;
}
.productCardContainer_fcbddd.hovered_fcbddd {
  border-color: var(--border-subtle);
}
.productCardContainer_fcbddd.hovered_fcbddd .footerInfoShrinkOnHover_fcbddd {
  grid-template-rows: 0fr;
  opacity: 0;
  padding-top: 0;
}
.productCardContainer_fcbddd.hovered_fcbddd .footerButtonContainer_fcbddd {
  grid-template-rows: 1fr;
  opacity: 1;
  padding-top: var(--space-6);
  transform: translateY(0);
}
.productCardContainer_fcbddd.hovered_fcbddd
  .productPreviewContainer_fcbddd:not(.noHoverLift_fcbddd) {
  transform: translateY(-6px);
}
.footerGradient_fcbddd {
  bottom: 0;
  height: 146px;
  inset-inline-end: 0;
  inset-inline-start: 0;
  position: absolute;
}
.staticBundleFooterGradient_fcbddd {
  height: 100px;
}
.staticBundleFooterGradient_fcbddd:after {
  bottom: 0;
  content: "";
  height: 100%;
  inset-inline-end: 0;
  inset-inline-start: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
.full-motion .staticBundleFooterGradient_fcbddd:after {
  transition: opacity 0.3s ease;
}
.productCardContainer_fcbddd.hovered_fcbddd
  .staticBundleFooterGradient_fcbddd:after {
  opacity: 1;
}
.theme-dark .footerGradient_fcbddd {
  background: linear-gradient(
    to top,
    var(--background-base-lowest),
    color-mix(in oklab, var(--background-base-lowest) 80%, transparent) 30%,
    color-mix(in oklab, var(--background-base-lowest) 0%, transparent) 100%
  );
}
.theme-dark .staticBundleFooterGradient_fcbddd {
  background: linear-gradient(
    to top,
    color-mix(in oklab, var(--background-base-lowest) 92%, transparent) 0,
    color-mix(in oklab, var(--background-base-lowest) 90%, transparent) 15%,
    color-mix(in oklab, var(--background-base-lowest) 85%, transparent) 30%,
    color-mix(in oklab, var(--background-base-lowest) 72%, transparent) 42%,
    color-mix(in oklab, var(--background-base-lowest) 58%, transparent) 50%,
    color-mix(in oklab, var(--background-base-lowest) 38%, transparent) 58%,
    color-mix(in oklab, var(--background-base-lowest) 15%, transparent) 66%,
    color-mix(in oklab, var(--background-base-lowest) 0%, transparent) 74%
  );
}
.theme-dark .staticBundleFooterGradient_fcbddd:after {
  background: linear-gradient(
    to top,
    var(--background-base-lowest) 0,
    var(--background-base-lowest) 52%,
    color-mix(in oklab, var(--background-base-lowest) 95%, transparent) 62%,
    color-mix(in oklab, var(--background-base-lowest) 78%, transparent) 72%,
    color-mix(in oklab, var(--background-base-lowest) 40%, transparent) 82%,
    color-mix(in oklab, var(--background-base-lowest) 12%, transparent) 91%,
    color-mix(in oklab, var(--background-base-lowest) 0%, transparent) 100%
  );
}
.theme-light .footerGradient_fcbddd {
  background: linear-gradient(
    to top,
    hsl(var(--white-hsl) / 1) 0,
    hsl(var(--white-hsl) / 0.84) 40%,
    hsl(var(--white-hsl) / 0) 100%
  );
}
.theme-light .staticBundleFooterGradient_fcbddd {
  background: linear-gradient(
    to top,
    hsl(var(--white-hsl) / 0.92) 0,
    hsl(var(--white-hsl) / 0.9) 15%,
    hsl(var(--white-hsl) / 0.85) 30%,
    hsl(var(--white-hsl) / 0.72) 42%,
    hsl(var(--white-hsl) / 0.58) 50%,
    hsl(var(--white-hsl) / 0.38) 58%,
    hsl(var(--white-hsl) / 0.15) 66%,
    hsl(var(--white-hsl) / 0) 74%
  );
}
.theme-light .staticBundleFooterGradient_fcbddd:after {
  background: linear-gradient(
    to top,
    hsl(var(--white-hsl) / 1) 0,
    hsl(var(--white-hsl) / 1) 52%,
    hsl(var(--white-hsl) / 0.95) 62%,
    hsl(var(--white-hsl) / 0.78) 72%,
    hsl(var(--white-hsl) / 0.4) 82%,
    hsl(var(--white-hsl) / 0.12) 91%,
    hsl(var(--white-hsl) / 0) 100%
  );
}
.theme-light .productName_fcbddd {
  text-shadow: 0 0 4px var(--background-base-low);
}
.pill_ebc727 {
  align-items: center;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  background: linear-gradient(
    90deg,
    var(--custom-pill-gradient-start) 0,
    var(--custom-pill-gradient-end) 120%
  );
  border-radius: var(--radius-round);
  cursor: pointer;
  display: inline-flex;
  gap: 4px;
  height: 19px;
  padding: 0 8px;
}
.theme-light .pill_ebc727 {
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
  background: linear-gradient(
      90deg,
      var(--custom-pill-gradient-start) 0,
      var(--custom-pill-gradient-end) 120%
    ),
    var(--custom-pill-base-color);
}
.wrapper_f7a803 {
  align-items: center;
  background-color: var(--background-base-lower);
  border-radius: 8px;
  color: var(--text-default);
  display: flex;
  gap: 8px;
  height: auto;
  margin-bottom: 8px;
  overflow: hidden;
  padding: 8px;
}
.copy_f7a803,
.wrapper_f7a803 {
  position: relative;
}
.copy_f7a803 {
  margin-bottom: 0;
}
.rewardTextRow_f7a803 {
  align-items: center;
  -moz-column-gap: 4px;
  column-gap: 4px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 4px;
}
.rewardTile_f7a803 {
  border-radius: 4px;
  flex: 0 0 auto;
  height: 58px;
  position: relative;
  width: 58px;
}

/*# sourceMappingURL=92940.a843f1a993de42d4.css.map*/
