.animationWrapper_e8d31f {
  background-color: #131318;
  border: 1px solid var(--border-subtle);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-border) var(--shadow-high);
  position: absolute;
  transform-origin: 50% 100%;
  width: 100%;
}
.animationWrapperStacked_e8d31f {
  min-width: unset !important;
  width: unset !important;
}
.clickZone_e8d31f {
  position: absolute;
  top: 0;
  inset-inline: 0;
  bottom: 0;
}
.animationWrapper_e8d31f.clickable_e8d31f:hover {
  background-color: rgba(28, 29, 35, 0.95);
}
.overflowWrapper_e8d31f {
  border-radius: var(--radius-sm);
  position: absolute;
  top: 0;
  inset-inline: 0;
  bottom: 0;
  overflow: hidden;
}
.container_e8d31f {
  box-sizing: border-box;
  padding: 8px;
  position: relative;
  width: var(--custom-notification-container-width);
  z-index: 1;
}
.container_e8d31f:after {
  bottom: -8px;
  content: "";
  display: block;
  height: 8px;
  inset-inline-start: 0;
  position: absolute;
  width: 100%;
}
.iconAndDetails_e8d31f {
  align-items: top;
  display: flex;
}
.details_e8d31f,
.footer_e8d31f {
  display: flex;
}
.details_e8d31f {
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
.hint_e8d31f {
  margin-top: var(--space-4);
}
.clickable_e8d31f {
  cursor: pointer;
}
.animationWrapper_e8d31f:hover .dismissButton_e8d31f,
.dismissButton_e8d31f:hover {
  visibility: visible;
}
.buttonContainer_e8d31f {
  display: flex;
  margin-top: var(--space-8);
}
.button_e8d31f {
  max-width: calc(50% - var(--space-4));
}
.button_e8d31f + .button_e8d31f {
  margin-inline-start: var(--space-8);
}
.avatar_e8d31f {
  align-items: center;
  border-radius: 2px;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  margin-inline-end: var(--space-12);
}
.avatar_e8d31f,
.icon_e8d31f {
  height: 40px;
  width: 40px;
}
.icon_e8d31f {
  border-radius: var(--radius-sm);
}
.unreadAccessoryContainer_e8d31f {
  align-items: center;
  bottom: 0;
  display: flex;
  inset-inline-start: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 8px;
  z-index: 9999;
}
.errorNotificationContainer_e13eda {
  background-color: rgba(19, 19, 24, 0.95);
  border: 1px solid var(--border-subtle);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-border) var(--shadow-high);
  position: relative !important;
}
.errorNotificationWrapper_e13eda {
  height: auto;
  position: relative;
  top: auto;
  inset-inline: auto;
  bottom: auto;
  display: block;
  margin-top: 24px;
  margin-inline-start: 24px;
  width: 300px;
}
.errorClickNotification_e13eda {
  width: 300px;
}
.stackTraceCode_e13eda {
  font-family: var(--font-code);
}
.code_e13eda {
  padding: 15px;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
}
.notificationIcon_e13eda {
  fill: var(--white);
}
.popout__0bd4a {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.content__0bd4a {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  min-height: 0;
  position: relative;
  --custom-chat-input-margin-bottom: var(--space-xs);
}
.titleBar__0bd4a {
  background: var(
    --background-gradient-app-frame,
    var(--background-base-lowest)
  );
}
.chatWheelMouseInput_adfa30 {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
.chatWheel_adfa30 {
  position: relative;
}
.chatWheelBackground_adfa30 {
  height: 100%;
  width: 100%;
}
.chatWheelDeadZone_adfa30 {
  fill: var(--background-surface-high);
  opacity: 0;
}
.chatWheelDeadZone_adfa30:hover {
  opacity: 0.3;
}
.chatWheelCenter_adfa30 {
  fill: var(--background-surface-high);
  opacity: 0.6;
}
.innerContent_adfa30 {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: calc(50% - 16px);
  inset-inline: 0;
  pointer-events: none;
}
.chatWheelDeadZoneIcon_adfa30 {
  color: var(--white);
  cursor: pointer;
  height: 48px;
  position: relative;
  width: 48px;
  z-index: 9999;
}
.paginationHint_adfa30 {
  background-color: var(--opacity-black-28);
  border-radius: var(--radius-sm);
  color: var(--white);
  font-size: 12px;
  line-height: 16px;
  margin-top: 8px;
  padding: 4px;
}
.chatWheelBackground_adfa30 {
  fill: none;
  stroke: var(--background-surface-high);
  opacity: 0.9;
}
.chatWheelItem_adfa30 {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
}
.soundButton_d9cf5f {
  box-shadow: var(--shadow-border), var(--shadow-high);
  height: 52px;
  width: 96px;
}

/*# sourceMappingURL=96631.6c288b3b6ebd24a3.css.map*/
