.button_a22cb0 {
  align-items: center;
  background: initial;
  border: 1px solid transparent;
  border-radius: var(--radius-sm);
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: medium;
  font-weight: 400;
  justify-content: center;
  margin: 0;
  max-height: -moz-min-content;
  max-height: min-content;
  max-width: 100%;
  padding: 0;
  position: relative;
  text-align: start;
  transition:
    background-color 50ms ease-in,
    color 50ms ease-in,
    border-color 50ms ease-in,
    opacity 50ms ease-in;
  width: -moz-min-content;
  width: min-content;
}
.button_a22cb0:hover {
  transition:
    background-color 0.15s ease-out,
    color 0.15s ease-out,
    border-color 0.15s ease-out,
    opacity 0.15s ease-out;
}
.button_a22cb0:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.highlight-mana-buttons .button_a22cb0 {
  box-shadow: 0 0 4px 4px var(--opacity-white-60);
}
.highlight-mana-buttons [data-button-hoisted-classname-wrapper] .button_a22cb0 {
  box-shadow: 0 0 4px 4px var(--opacity-green-60);
}
[data-button-hoisted-classname-wrapper] {
  display: flex;
  width: auto;
}
.buttonChildrenWrapper_a22cb0 {
  border-radius: var(--radius-sm);
  box-sizing: border-box;
  justify-content: center;
  position: relative;
  width: 100%;
}
.buttonChildren_a22cb0,
.buttonChildrenWrapper_a22cb0 {
  align-items: center;
  display: flex;
  overflow: hidden;
}
.buttonChildren_a22cb0 {
  gap: var(--space-4);
  text-overflow: ellipsis;
  transition:
    opacity 0.2s ease-out,
    transform 0.2s ease-out;
  white-space: nowrap;
}
.icon_a22cb0 {
  flex-shrink: 0;
}
.buttonChildren_a22cb0 {
  opacity: 1;
}
.buttonChildren_a22cb0.loading_a22cb0 {
  opacity: 0;
}
.spinnerWrapper_a22cb0 {
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
.spinnerWrapper_a22cb0.fadeIn_a22cb0 {
  animation-name: spinner-opacity-in_a22cb0;
}
.spinnerWrapper_a22cb0.fadeOut_a22cb0 {
  animation-name: spinner-opacity-out_a22cb0;
}
.full-motion .spinnerWrapper_a22cb0.fadeIn_a22cb0 {
  animation-name: spinner-transform-in_a22cb0, spinner-opacity-in_a22cb0;
}
.full-motion .spinnerWrapper_a22cb0.fadeOut_a22cb0 {
  animation-name: spinner-transform-out_a22cb0, spinner-opacity-out_a22cb0;
}
.full-motion .buttonChildren_a22cb0 {
  transform: translateY(0);
}
.full-motion .buttonChildren_a22cb0.loading_a22cb0 {
  transform: translateY(-100%);
}
@keyframes spinner-opacity-in_a22cb0 {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes spinner-opacity-out_a22cb0 {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes spinner-transform-in_a22cb0 {
  0% {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes spinner-transform-out_a22cb0 {
  0% {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}
.xs_a22cb0 {
  border-radius: var(--radius-xs);
}
.xs_a22cb0 .buttonChildrenWrapper_a22cb0 {
  min-height: 22px;
  min-width: 22px;
}
.xs_a22cb0.hasText_a22cb0 {
  min-width: var(--__button-min-width, 60px);
}
.xs_a22cb0.hasText_a22cb0 .buttonChildrenWrapper_a22cb0 {
  padding: calc(var(--space-4) - 1px) calc(var(--space-8) - 1px);
}
.sm_a22cb0 .buttonChildrenWrapper_a22cb0 {
  min-height: 30px;
  min-width: 30px;
}
.sm_a22cb0.hasText_a22cb0 {
  min-width: var(--__button-min-width, 60px);
}
.sm_a22cb0.hasText_a22cb0 .buttonChildrenWrapper_a22cb0 {
  padding: calc(var(--space-4) - 1px) calc(var(--space-12) - 1px);
}
.md_a22cb0 .buttonChildrenWrapper_a22cb0 {
  min-height: 38px;
  min-width: 38px;
}
.md_a22cb0.hasText_a22cb0 {
  min-width: var(--__button-min-width, 100px);
}
.md_a22cb0.hasText_a22cb0 .buttonChildrenWrapper_a22cb0 {
  padding: calc(var(--space-8) - 1px) calc(var(--space-16) - 1px);
}
.spinnerItem_a22cb0 {
  background-color: currentColor !important;
}
.spinner_a22cb0 {
  height: 100%;
}
.spinner-sm_a22cb0,
.spinner-xs_a22cb0 {
  min-height: 16px;
  min-width: 16px;
  transform: scale(0.75);
}
.spinner-md_a22cb0 {
  transform: scale(0.9);
}
.spinner-lg_a22cb0,
.spinner-md_a22cb0 {
  min-height: 20px;
  min-width: 20px;
}
.primary_a22cb0 {
  background-color: var(--control-primary-background-default);
  border-color: var(--control-primary-border-default);
  color: var(--control-primary-text-default);
}
.primary_a22cb0:hover {
  background-color: var(--control-primary-background-hover);
  border-color: var(--control-primary-border-hover);
  color: var(--control-primary-text-hover);
}
.primary_a22cb0:active {
  background-color: var(--control-primary-background-active);
  border-color: var(--control-primary-border-active);
  color: var(--control-primary-text-active);
}
.secondary_a22cb0 {
  background-color: var(--control-secondary-background-default);
  border-color: var(--control-secondary-border-default);
  color: var(--control-secondary-text-default);
}
.secondary_a22cb0:hover {
  background-color: var(--control-secondary-background-hover);
  border-color: var(--control-secondary-border-hover);
  color: var(--control-secondary-text-hover);
}
.secondary_a22cb0:active {
  background-color: var(--control-secondary-background-active);
  border-color: var(--control-secondary-border-active);
  color: var(--control-secondary-text-active);
}
.icon-only_a22cb0 {
  background-color: transparent;
  border-color: transparent;
  color: var(--control-icon-only-icon-default);
}
.icon-only_a22cb0:hover {
  background-color: var(--control-icon-only-background-hover);
  border-color: var(--control-icon-only-border-hover);
  color: var(--control-icon-only-icon-hover);
}
.icon-only_a22cb0:active {
  background-color: var(--control-icon-only-background-active);
  border-color: var(--control-icon-only-border-active);
  color: var(--control-icon-only-icon-active);
}
.color-mix_a22cb0 {
  background-color: transparent;
  border: transparent;
  color: var(--icon-strong);
}
.color-mix_a22cb0:hover {
  color: var(--control-icon-only-icon-hover);
}
.color-mix_a22cb0:active {
  color: var(--control-icon-only-icon-active);
}
.color-mix_a22cb0:before {
  border: 1px solid transparent;
  border-radius: var(--radius-sm);
  box-sizing: border-box;
  content: "";
  height: 100%;
  left: 0;
  mix-blend-mode: plus-lighter;
  position: absolute;
  top: 0;
  transition:
    background-color 50ms ease-in,
    border-color 50ms ease-in,
    opacity 50ms ease-in;
  width: 100%;
}
.color-mix_a22cb0:hover:before {
  background-color: var(--control-icon-only-background-hover);
  border-color: var(--border-subtle);
  transition:
    background-color 0.15s ease-out,
    border-color 0.15s ease-out,
    opacity 0.15s ease-out;
}
.color-mix_a22cb0:active:before {
  background-color: var(--control-icon-only-background-active);
  border-color: var(--border-subtle);
}
.input-accessory_a22cb0 {
  border-radius: var(--radius-xs);
  color: var(--icon-strong);
}
.theme-light .color-mix_a22cb0:before {
  mix-blend-mode: difference;
}
.critical-primary_a22cb0 {
  background-color: var(--control-critical-primary-background-default);
  border-color: var(--control-critical-primary-border-default);
  color: var(--control-critical-primary-text-default);
}
.critical-primary_a22cb0:hover {
  background-color: var(--control-critical-primary-background-hover);
  border-color: var(--control-critical-primary-border-hover);
  color: var(--control-critical-primary-text-hover);
}
.critical-primary_a22cb0:active {
  background-color: var(--control-critical-primary-background-active);
  border-color: var(--control-critical-primary-border-active);
  color: var(--control-critical-primary-text-active);
}
.critical-secondary_a22cb0 {
  background-color: var(--control-critical-secondary-background-default);
  border-color: var(--control-critical-secondary-border-default);
  color: var(--control-critical-secondary-text-default);
}
.critical-secondary_a22cb0:hover {
  background-color: var(--control-critical-secondary-background-hover);
  border-color: var(--control-critical-secondary-border-hover);
  color: var(--control-critical-secondary-text-hover);
}
.critical-secondary_a22cb0:active {
  background-color: var(--control-critical-secondary-background-active);
  border-color: var(--control-critical-secondary-border-active);
  color: var(--control-critical-secondary-text-active);
}
.active_a22cb0 {
  background-color: var(--control-connected-background-default);
  border-color: var(--control-connected-border-default);
  color: var(--control-connected-text-default);
}
.active_a22cb0:hover {
  background-color: var(--control-connected-background-hover);
  border-color: var(--control-connected-border-hover);
  color: var(--control-connected-text-hover);
}
.active_a22cb0:active {
  background-color: var(--control-connected-background-active);
  border-color: var(--control-connected-border-active);
  color: var(--control-connected-text-active);
}
.overlay-primary_a22cb0 {
  background-color: var(--control-overlay-primary-background-default);
  border-color: var(--control-overlay-primary-border-default);
  color: var(--control-overlay-primary-text-default);
}
.overlay-primary_a22cb0:hover {
  background-color: var(--control-overlay-primary-background-hover);
  border-color: var(--control-overlay-primary-border-hover);
  color: var(--control-overlay-primary-text-hover);
}
.overlay-primary_a22cb0:active {
  background-color: var(--control-overlay-primary-background-active);
  border-color: var(--control-overlay-primary-border-active);
  color: var(--control-overlay-primary-text-active);
}
.overlay-secondary_a22cb0 {
  background-color: var(--control-overlay-secondary-background-default);
  border-color: var(--control-overlay-secondary-border-default);
  color: var(--control-overlay-secondary-text-default);
}
.overlay-secondary_a22cb0:hover {
  background-color: var(--control-overlay-secondary-background-hover);
  border-color: var(--control-overlay-secondary-border-hover);
  color: var(--control-overlay-secondary-text-hover);
}
.overlay-secondary_a22cb0:active {
  background-color: var(--control-overlay-secondary-background-active);
  border-color: var(--control-overlay-secondary-border-active);
  color: var(--control-overlay-secondary-text-active);
}
.expressive_a22cb0 > * {
  pointer-events: none;
  z-index: 1;
}
.expressiveRive_a22cb0 {
  height: calc(100% + var(--__glow-amount) * 2 + 2px);
  left: calc(var(--__glow-amount) * -1 - 1px);
  position: absolute;
  top: calc(var(--__glow-amount) * -1 - 1px);
  width: calc(100% + var(--__glow-amount) * 2 + 2px);
}
.expressive_a22cb0 .expressiveBackground_a22cb0 {
  filter: blur(10px) saturate(var(--saturation-factor, 1));
}
.reduce-motion .expressive_a22cb0 .expressiveBackground_a22cb0 {
  filter: blur(7px) saturate(var(--saturation-factor, 1));
}
.expressive_a22cb0 {
  color: var(--control-expressive-text-default);
}
.expressive_a22cb0 .expressiveFill_a22cb0 {
  --__glow-amount: 0px;
  background-color: var(--control-expressive-background-default);
  border-radius: 8px;
  transition:
    background-color 0.15s ease,
    width 0.15s ease,
    height 0.15s ease,
    top 0.15s ease,
    left 0.15s ease;
}
.expressive_a22cb0:hover {
  color: var(--control-expressive-text-hover);
}
.expressive_a22cb0:hover .expressiveFill_a22cb0 {
  background-color: var(--control-expressive-background-hover);
}
.expressive_a22cb0:active {
  color: var(--control-expressive-text-active);
}
.expressive_a22cb0:active .expressiveFill_a22cb0 {
  --__glow-amount: -1px;
  background-color: var(--control-expressive-background-active);
}
.expressive_a22cb0 .expressiveHoverContainer_a22cb0 {
  filter: blur(8px);
  mix-blend-mode: plus-lighter;
  pointer-events: all;
}
.expressiveWrapper_a22cb0 {
  --__glow-amount: 8px;
  display: flex;
  max-width: 100%;
  position: relative;
  width: -moz-min-content;
  width: min-content;
}
.fullWidth_a22cb0.hasText_a22cb0 {
  flex: 1;
  width: 100%;
}
.rounded_a22cb0 {
  border-radius: var(--radius-round);
}
.enable-forced-colors .button_a22cb0 {
  background-color: ButtonFace;
  border-color: ButtonText;
  color: ButtonText;
  forced-color-adjust: none;
}
.enable-forced-colors .button_a22cb0:disabled {
  background-color: Canvas;
  border-color: GrayText;
  color: GrayText;
  opacity: 1;
}
.enable-forced-colors .button_a22cb0 .expressiveFill_a22cb0 {
  display: none;
}
.inputWrapper__0ed4f {
  display: flex;
  flex-direction: column;
}
.input__0ed4f {
  background-color: var(--input-background-default);
  border: 1px solid var(--input-border-default);
  border-radius: 8px;
  box-sizing: border-box;
  color: var(--text-default);
  font-size: 16px;
  height: 44px;
  padding: 12px 10px;
  transition: border-color 0.2s ease-in-out;
  width: 100%;
}
.input__0ed4f::-moz-placeholder {
  color: var(--input-placeholder-text-default);
  -moz-user-select: none;
  user-select: none;
}
.input__0ed4f::placeholder {
  color: var(--input-placeholder-text-default);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.input__0ed4f:hover {
  border-color: var(--input-border-hover);
}
.input__0ed4f.focused__0ed4f,
.input__0ed4f:focus {
  border-color: var(--text-link);
}
.input__0ed4f.error__0ed4f {
  border-color: var(--text-feedback-critical);
  border-width: 2px;
  color: var(--text-feedback-critical);
}
.input__0ed4f.success__0ed4f {
  border-color: var(--green-360);
}
.input__0ed4f.disabled__0ed4f {
  border-color: var(--input-border-default);
  cursor: not-allowed;
  opacity: 1;
}
.input__0ed4f.editable__0ed4f {
  background-color: transparent;
  border-color: transparent;
}
.input__0ed4f:hover,
.input__0ed4f[readonly] {
  border: 1px solid var(--input-border-default);
}
.input__0ed4f:not([readOnly]).focused__0ed4f,
.input__0ed4f:not([readOnly]).focused__0ed4f:hover,
.input__0ed4f:not([readOnly]):focus,
.input__0ed4f:not([readOnly]):focus:hover {
  border-color: var(--text-link);
}
.disabled__0ed4f {
  cursor: not-allowed;
  opacity: 0.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.focused__0ed4f {
  border-color: var(--brand-500);
  opacity: 1;
}
.inputPrefix__0ed4f {
  color: var(--text-muted);
  font-size: 16px;
  height: 40px;
  line-height: normal;
  padding-top: 10px;
  padding-inline-start: 20px;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.theme-dark .inputPrefix__0ed4f {
  opacity: 0.5;
}
.enable-forced-colors .input__0ed4f {
  border: 1px solid ButtonText;
}
.enable-forced-colors .input__0ed4f:focus {
  border-color: Highlight;
}
.enable-forced-colors .input__0ed4f.disabled__0ed4f {
  background-color: Canvas;
  border-color: GrayText;
  opacity: 1;
}
.inputError__0ed4f {
  align-items: center;
  display: flex;
  gap: 8px;
}
@keyframes dotIn__64e61 {
  0% {
    transform: scale(0);
  }
  40% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(1);
  }
  to {
    transform: scale(1);
  }
}
@keyframes fillIn__64e61 {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  1% {
    opacity: 1;
  }
  35% {
    transform: scale(0.33);
  }
  40% {
    transform: scale(1.15);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes dotOut__64e61 {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  40% {
    transform: scale(1);
  }
  99% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}
@keyframes fillOut__64e61 {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  99% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}
.radioIndicator__64e61 {
  display: "block";
  image-rendering: crisp-edges;
  overflow: "visible";
}
.innerDotRadio__64e61,
.outerRadioBase__64e61,
.outerRadioFill__64e61,
.radioIndicator__64e61 {
  transform-box: fill-box;
  transform-origin: center;
  will-change: transform, opacity;
  fill: none;
  overflow: visible;
}
.radioGroupOption__64e61 {
  align-items: top;
  border-radius: var(--radius-sm);
  box-sizing: border-box;
  display: flex;
  gap: var(--space-12);
}
.radioIndicator__64e61,
.standaloneRadioIndicator__64e61 {
  background: transparent;
  border-radius: var(--radius-lg);
  box-sizing: border-box;
  display: block;
}
.outerRadioBase__64e61 {
  fill: var(--radio-background-default);
  stroke: var(--radio-border-default);
  stroke-width: 2;
}
.outerRadioFill__64e61 {
  fill: none;
}
.radioGroupOption__64e61[data-selected] .outerRadioBase__64e61,
.standaloneRadioIndicator__64e61[data-selected="true"] .outerRadioBase__64e61 {
  fill: var(--radio-background-selected-default);
  stroke: var(--radio-border-selected-default);
}
.radioGroupOption__64e61[data-selected] .outerRadioFill__64e61,
.standaloneRadioIndicator__64e61[data-selected="true"] .outerRadioFill__64e61 {
  fill: var(--radio-background-selected-default);
  stroke: var(--radio-border-selected-default);
  stroke-width: 2;
}
.radioGroupOption__64e61[data-selected] .innerDotRadio__64e61,
.standaloneRadioIndicator__64e61[data-selected="true"] .innerDotRadio__64e61 {
  fill: var(--radio-thumb-background-active);
  opacity: 1;
}
.animateIn__64e61 .outerRadioFill__64e61 {
  animation: fillIn__64e61 225ms cubic-bezier(0.33, 0, 0.67, 1) forwards;
}
.animateIn__64e61 .innerDotRadio__64e61 {
  animation: dotIn__64e61 333ms cubic-bezier(0.26, 0.21, 0.67, 1) forwards;
}
.animateOut__64e61 .outerRadioFill__64e61 {
  animation: fillOut__64e61 0.16s cubic-bezier(0.33, 0, 0.67, 1) both;
}
.animateOut__64e61 .innerDotRadio__64e61 {
  fill: var(--radio-thumb-background-active);
  animation: dotOut__64e61 0.25s cubic-bezier(0.33, 0, 0.25, 1) both;
}
.radioGroupOption__64e61:not([data-selected]):not([data-disabled]):hover {
  cursor: pointer;
}
.radioGroupOption__64e61:not([data-selected]):not([data-disabled]):hover
  .outerRadioBase__64e61 {
  fill: var(--radio-background-hover);
  stroke: var(--radio-border-hover);
}
.radioGroupOption__64e61[data-selected]:not([data-disabled]):hover {
  cursor: pointer;
}
.radioGroupOption__64e61[data-selected]:not([data-disabled]):hover
  .outerRadioBase__64e61,
.radioGroupOption__64e61[data-selected]:not([data-disabled]):hover
  .outerRadioFill__64e61 {
  fill: var(--radio-background-selected-hover);
  stroke: var(--radio-border-selected-hover);
}
.radioGroupOption__64e61[data-disabled],
.standaloneRadioIndicator__64e61[data-disabled="true"] {
  cursor: not-allowed;
  opacity: 0.5;
}
.group__64e61 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
  padding: var(--space-8) 0 var(--space-4);
}
.radioItemIcon__64e61 {
  color: var(--icon-strong);
  flex-shrink: 0;
  height: 20px;
  width: 20px;
}
.label__64e61 {
  align-items: flex-start;
  display: flex;
  gap: var(--space-4);
  width: 100%;
}
.enable-forced-colors .outerRadioBorderStroke__64e61 {
  stroke: ButtonText;
  opacity: 1;
}
.enable-forced-colors .outerRadioBase__64e61 {
  fill: Canvas;
}
.enable-forced-colors .innerDotRadio__64e61 {
  fill: HighlightText;
}
.enable-forced-colors .radioGroupOption__64e61[data-disabled] {
  opacity: 1;
}
.enable-forced-colors .radioGroupOption__64e61[data-disabled],
.enable-forced-colors .radioGroupOption__64e61[data-disabled]:hover {
  color: GrayText;
}
.enable-forced-colors
  .radioGroupOption__64e61[data-selected]
  .outerRadioBase__64e61 {
  fill: Highlight;
}
.enable-forced-colors
  .radioGroupOption__64e61[data-selected]
  .outerRadioBorderStroke__64e61 {
  stroke: HighlightText;
  opacity: 1;
}
.enable-forced-colors
  .radioGroupOption__64e61[data-disabled]
  .outerRadioBase__64e61 {
  fill: Canvas;
}
.enable-forced-colors
  .radioGroupOption__64e61[data-disabled]
  .outerRadioBorderStroke__64e61 {
  stroke: GrayText;
  opacity: 1;
}
.enable-forced-colors
  .radioGroupOption__64e61[data-disabled]
  .innerDotRadio__64e61,
.enable-forced-colors
  .standaloneRadioIndicator__64e61[data-disabled="true"]
  .innerDotRadio__64e61 {
  fill: GrayText;
}
.enable-forced-colors .standaloneRadioIndicator__64e61[data-disabled="true"] {
  opacity: 1;
}
.enable-forced-colors
  .standaloneRadioIndicator__64e61[data-disabled="true"]
  .outerRadioBase__64e61 {
  fill: Canvas;
}
.enable-forced-colors
  .standaloneRadioIndicator__64e61[data-disabled="true"]
  .outerRadioBorderStroke__64e61 {
  stroke: GrayText;
  opacity: 1;
}
.popover_d6f39b {
  background: var(--background-surface-high);
  border-radius: var(--radius-md);
  box-shadow:
    inset 0 0 0 1px var(--border-subtle),
    var(--shadow-high);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
  padding: var(--space-16);
  position: relative;
  text-align: center;
  --custom-popover-caret-gradient-color-start: transparent;
  --custom-popover-caret-gradient-color-end: transparent;
}
:where(.popover_d6f39b) {
  max-width: var(--custom-popover-width);
  width: var(--custom-popover-width);
}
.popoverGradientWrapper_d6f39b {
  background: var(--background-surface-high);
  border-radius: var(--radius-md);
  box-shadow:
    inset 0 0 0 1px var(--border-subtle),
    var(--shadow-high);
  --custom-popover-caret-gradient-color-start: var(
    --custom-gradient-color-start
  );
  --custom-popover-caret-gradient-color-end: var(--custom-gradient-color-end);
}
.popoverContentWithGradient_d6f39b {
  background: transparent;
  border-radius: var(--radius-md);
  box-shadow: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
  max-width: var(--custom-popover-width);
  padding: var(--space-16);
  position: relative;
  text-align: center;
  width: var(--custom-popover-width);
}
.popover--video_d6f39b,
.popoverContentWithGradient_d6f39b.popover--video_d6f39b {
  padding: var(--space-4);
}
.popover--video_d6f39b .footer_d6f39b,
.popover--video_d6f39b .header_d6f39b {
  padding: 0 var(--space-16);
}
.popover--video_d6f39b .actionBar_d6f39b {
  padding: 0 var(--space-16) var(--space-16);
}
.closeButton_d6f39b {
  inset-inline-end: var(--space-4);
  position: absolute;
  top: var(--space-4);
  z-index: 2;
}
.header_d6f39b {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  margin: var(--space-20) 0;
  position: relative;
  z-index: 1;
}
.headerWithBadge_d6f39b {
}
.title_d6f39b {
  margin: 0;
  text-align: center;
}
.headerBody_d6f39b {
  color: var(--text-subtle);
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin: 0;
}
.badgeContainer_d6f39b {
  margin-bottom: var(--space-12);
}
.content_d6f39b {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
.graphic_d6f39b {
  margin: var(--space-16) auto var(--space-20);
  width: 100%;
}
.graphic--md_d6f39b,
.graphic--sm_d6f39b {
  max-width: 144px;
}
.graphic--lg_d6f39b {
  max-width: 160px;
}
.graphic--video_d6f39b {
  max-width: 232px;
}
.footer_d6f39b {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  text-align: center;
}
.footerText_d6f39b {
  color: var(--text-muted);
  margin: 0;
}
.footerLink_d6f39b {
  color: var(--text-link);
  margin: 0;
}
.actionBar_d6f39b {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
  justify-content: center;
}
.actionBar_d6f39b .actions_d6f39b {
  flex: 1;
  min-width: unset;
}
.actions_d6f39b {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
}
.multistepIndicator_d6f39b {
  color: var(--text-muted);
  margin-inline-start: var(--space-4);
  margin-top: var(--space-4);
  opacity: 0.7;
}
.multistepActionLayout_d6f39b {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.caretIcon_d6f39b .caretFill_d6f39b {
  fill: var(--background-surface-high);
}
.caretIcon_d6f39b .caretGradient_d6f39b {
  fill: var(--custom-popover-caret-gradient-color, transparent);
}
.caretIcon_d6f39b .caretStroke_d6f39b {
  stroke: var(--border-subtle);
  stroke-opacity: 1;
}
.row__5adc3 {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.havenWrapper__5adc3 {
  background: #0c1f26;
  border-radius: 12px;
  height: calc(100vh - var(--custom-app-top-bar-height) - 128px);
  margin: 48px 48px 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  transform: scale(1);
  width: 100%;
  z-index: 0;
}
.haven__5adc3 {
  --custom-haven-seat-width: 120px;
  --custom-haven-seat-height: 40px;
  inset-inline-start: 0;
  position: absolute;
  top: 0;
}
.full-motion .haven__5adc3 {
  transition: transform 0.15s linear;
}
.haven__5adc3.noTransition__5adc3 {
  transition: none;
}
.overlay__5adc3 {
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  height: 100%;
  inset: 0;
  pointer-events: all;
  position: absolute;
  width: 100%;
}
.full-motion .overlay__5adc3 {
  transition: all 2s ease;
}
.overlay__5adc3.out__5adc3 {
  -webkit-backdrop-filter: blur(0);
  backdrop-filter: blur(0);
  pointer-events: none;
}
.overlay__5adc3.out__5adc3 .welcome__5adc3 {
  opacity: 0;
  transform: scale(0.33);
}
.environment__5adc3 {
  height: 1536px;
  position: absolute;
  top: 0;
  width: 2180px;
}
.background__5adc3 {
  bottom: 0;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
.background__5adc3,
.video__5adc3 {
  inset-inline-start: 0;
  position: absolute;
}
.video__5adc3 {
  top: 0;
}
.noInteract__5adc3 {
  pointer-events: none;
}
.bottomActions__5adc3 {
  align-items: flex-end;
  bottom: 20px;
  color: #fff;
  height: 20px;
  inset-inline: 0;
  justify-content: space-between;
  padding: 0 20px;
  position: absolute;
}
.welcome__5adc3 {
  height: 400px;
  inset: 0;
  margin: auto;
  max-width: 380px;
  opacity: 1;
  padding: 24px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  transform: scale(1);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 100%;
  -webkit-user-drag: none;
}
.full-motion .welcome__5adc3 {
  transition: all 2s ease;
}
.hidden__5adc3 {
  opacity: 0;
  pointer-events: none;
}
.interactionOverlay__5adc3 {
  inset: 0;
  pointer-events: all;
  position: absolute;
}

/*# sourceMappingURL=96888.d904648f7187d935.css.map*/
